@using NMP.Commons.Resources;
@{
    ViewData["Title"] = Resource.lblAccessibilityStatementHeading;
}
@section BeforeContent {
    <govuk-back-link asp-action="Index" asp-controller="Home">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Resource.lblAccessibilityStatementHeading</h1>
        <p class="govuk-body">@Resource.lblAccessibilityStatementLine1</p>
        <p class="govuk-body">@Resource.lblAccessibilityStatementLine2</p>
        <p class="govuk-body">@Resource.lblAccessibilityStatementLine3</p>
        <p class="govuk-body">@Resource.lblAccessibilityStatementLine4</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@Resource.lblAccessibilityStatementLine4Bullet1</li>
            <li>@Resource.lblAccessibilityStatementLine4Bullet2</li>
            <li>@Resource.lblAccessibilityStatementLine4Bullet3</li>
            <li>@Resource.lblAccessibilityStatementLine4Bullet4</li>
            <li>@Resource.lblAccessibilityStatementLine4Bullet5</li>
        </ul>
        <p class="govuk-body">@Resource.lblAccessibilityStatementLine5</p>
        <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" target="_blank">@Resource.lblAbilityNet</a>&nbsp;@Resource.lblAccessibilityStatementLine6</p>
        
        <h2 class="govuk-heading-m">@Resource.lblHowAccessibleThisWebsiteIs</h2>
        <p class="govuk-body">@Resource.lblAccessibilityStatementLine8</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@Resource.lblAccessibilityStatementLine8Bullet1</li>
            <li>@Resource.lblAccessibilityStatementLine8Bullet2</li>
            <li>@Resource.lblAccessibilityStatementLine8Bullet3</li>            
        </ul>
        <h2 class="govuk-heading-m">@Resource.lblFeedbackAndReportingAccessibilitySubheading</h2>
        <p class="govuk-body">@Resource.lblAccessibilityStatementLine9</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@Resource.lblemail <a href="mailto:@Resource.lblhelpdesk">@Resource.lblhelpdesk</a></li>
        </ul>
        <h2 class="govuk-heading-m">@Resource.lblEnforcementProcedure</h2>
        <p class="govuk-body">@Resource.lblAccessibilityStatementLine10</p>
        <p class="govuk-body">@Resource.lblAccessibilityStatementLine11 &nbsp;<a href="https://www.equalityadvisoryservice.com/" target="_blank">@Resource.lblAccessibilityStatementLine11LinkText</a>.</p>
        <h2 class="govuk-heading-m">@Resource.lblTechnicalInformationAboutThisWebsiteAccessibility</h2>
        <p class="govuk-body">@Resource.lblAccessibilityStatementLine12</p>        
        <h2 class="govuk-heading-m">@Resource.lblComplianceStatus</h2>
        <p class="govuk-body">@Html.Raw(Resource.lblAccessibilityStatementLine13)</p>      
        <h2 class="govuk-heading-m">@Resource.lblNonAccessibleContent</h2>
        <p class="govuk-body">@Html.Raw(Resource.lblAccessibilityStatementLine14)</p>        
        <h3 class="govuk-heading-s">@Resource.lblContentThatsNotWithinTheScopeOfTheAccessibilityRegulations</h3>
        <p class="govuk-body">@Resource.lblAccessibilityStatementLine15</p>
        <p class="govuk-body">@Resource.lblAccessibilityStatementLine16</p>        
        <h2 class="govuk-heading-m">@Resource.lblWhatWeAreDoingTtoImproveAccessibility</h2>
        <p class="govuk-body">@Resource.lblAccessibilityStatementLine17</p>
        <p class="govuk-body">@Resource.lblAccessibilityStatementLine18</p>
        <p class="govuk-body">@Resource.lblAccessibilityStatementLine19</p>
        <h2 class="govuk-heading-m">@Resource.lblPreparationOfThisAccessibilityStatement</h2>
        <p class="govuk-body">@Html.Raw(Resource.lblAccessibilityStatementLine20)</p>
        <p class="govuk-body">@Html.Raw(Resource.lblAccessibilityStatementLine21)</p>
        <p class="govuk-body">@Html.Raw(Resource.lblAccessibilityStatementLine22)</p>
        <p class="govuk-body">@Html.Raw(Resource.lblAccessibilityStatementLine23)</p>
    </div>
</div>
