@using NMP.Commons.Enums
@using NMP.Commons.ViewModels;
@using NMP.Commons.Resources;
@model NMP.Commons.ViewModels.StorageCapacityViewModel
@{
    var currentStep = ViewBag.CurrentStep as int?;
}
<div hidden="hidden">
    @if (currentStep != (int)StorageCapacityWizardStep.MaterialStates)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MaterialStateID" />
    }
    @if (currentStep != (int)StorageCapacityWizardStep.StoreName)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.StoreName" />
    }
    @if (currentStep != (int)StorageCapacityWizardStep.StorageTypes)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.StorageTypeID" />
    }
    @if (currentStep != (int)StorageCapacityWizardStep.Dimensions)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Length" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Width" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Depth" />
        
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCovered" />
        
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Circumference" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCircumference" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Diameter" />

    }
    @if (currentStep != (int)StorageCapacityWizardStep.WeightCapacity)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CapacityWeight" />
    }
    @if (currentStep != (int)StorageCapacityWizardStep.StorageBagCapacity)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.StorageBagCapacity" />
    }

    @if (currentStep != (int)StorageCapacityWizardStep.BankSlopeAngle)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.BankSlopeAngleID" />
    }

    @if (currentStep != (int)StorageCapacityWizardStep.CopyExistingManureStorage)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCopyExistingManureStorage" />
    }

    @if (currentStep != (int)StorageCapacityWizardStep.CopyExistingManureStorageYearList)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.YearToCopyFrom" />
    }

    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmID" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmID" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportOption" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportTypeName" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZReportOption" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldAndPlanReportOption" />
                    
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.StorageTypeName" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MaterialStateName" />
                    
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SolidManureDensity" value="@Model.SolidManureDensity" />

    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.BankSlopeAngleName" value="@Model.BankSlopeAngleName" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FreeBoardHeight" value="@Model.FreeBoardHeight" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Slope" value="@Model.Slope" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromPlan" />

    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CapacityVolume" value="@Model.CapacityVolume" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SurfaceArea" value="@Model.SurfaceArea" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsStoreCapacityExist" value="@Model.IsStoreCapacityExist" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedMaterialStateID" value="@Model.EncryptedMaterialStateID" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromManageToHubPage" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromMaterialToHubPage" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsMaterialTypeChange" value="@Model.IsMaterialTypeChange" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsStorageTypeChange" value="@Model.IsStorageTypeChange" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedStoreCapacityId" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsRemovedRecently" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ID" value="@Model.ID" />
</div>