@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.StorageCapacityViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedStoreCapacityId)) ? Resource.lblUpdateOrganicMaterialStorage : Resource.lblAddAManureStore;
    ViewData["Title"] = $"{Resource.lblWhatIsTheEstimatedAngleOfTheBankSlope} {Resource.lblHyphen} {title}";

    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.StorageCapacityWizardStep.BankSlopeAngle;
    
}

@section BeforeContent {
    <govuk-back-link asp-action="@((Model.IsCheckAnswer && !Model.IsMaterialTypeChange && !Model.IsStorageTypeChange) ? "CheckAnswer" : "Dimensions")" asp-controller="StorageCapacity">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnBankSlopeAngle"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnBankSlopeAngle"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="BankSlopeAngle" asp-controller="StorageCapacity" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/StorageCapacity/_StorageCapacityWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-radios for="@Model.BankSlopeAngleID">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                            @Resource.lblWhatIsTheEstimatedAngleOfTheBankSlope
                        </govuk-radios-fieldset-legend>
                        <govuk-radios-hint>@Resource.lblBackslopHint</govuk-radios-hint>
                        @if (ViewBag.BankSlopeAngles != null && ViewBag.BankSlopeAngles.Count>0)
                        {
                            foreach (var slopeAngle in ViewBag.BankSlopeAngles)
                            {
                                <govuk-radios-item value="@slopeAngle.ID">@slopeAngle.Name</govuk-radios-item>
                            }
                            
                        }
                        
                    </govuk-radios-fieldset>
                </govuk-radios>

                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">

                    @if (!Model.IsCheckAnswer)
                    {
                        @if (Model.IsStoreCapacityExist == true)
                        {
                            <a asp-action="ManageStorageCapacity" asp-controller="StorageCapacity" asp-route-q="@Model.EncryptedFarmID" asp-route-t="@Model.IsComingFromManageToHubPage" asp-route-isPlan="@Model.IsComingFromPlan" asp-route-u="@Model.IsRemovedRecently">
                                @Resource.lblCancel
                            </a>
                        }
                        else
                        {
                            @if (!string.IsNullOrWhiteSpace(Model.IsComingFromPlan))
                            {
                                <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmID" asp-route-year="@Model.EncryptedHarvestYear">
                                    @Resource.lblCancel
                                </a>
                            }
                            else
                            {
                                <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmID">
                                    @Resource.lblCancel
                                </a>
                            }
                        }
                    }
                    else
                    {
                        <a asp-action="CheckAnswer" asp-controller="StorageCapacity">@Resource.lblCancel</a>
                    }
                    
                </p>

            </div>

        </div>
    </form>
}