@using NMP.Portal.ViewModels;
@using NMP.Portal.Resources;
@model NMP.Portal.ViewModels.StorageCapacityViewModel

@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedStoreCapacityId)) ? Resource.lblUpdateOrganicMaterialStorage : Resource.lblAddOrganicMaterialStorage;
    ViewData["Title"] = $"{string.Format(Resource.lblTheInformationEnteredAboutThisWillBeLost, Resource.lblStoreCapacity.ToLower())} {Resource.lblHyphen} {title}";
    var cancelViewModel = new CancelViewModel
    {
        IsCancel = Model.IsCancel,
        LableContent = string.Format(Resource.lblTheInformationEnteredAboutThisWillBeLost, Resource.lblStoreCapacity.ToLower())
    };
}
@section BeforeContent {
    <govuk-back-link asp-action="CheckAnswer" asp-controller="StorageCapacity">@Resource.lblBack</govuk-back-link>

}

<form asp-controller="StorageCapacity" asp-action="Cancel" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <div hidden="true">
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportOption"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportTypeName"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZReportOption"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldAndPlanReportOption"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MaterialStateID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.StorageTypeID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.StorageTypeName"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MaterialStateName"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.StoreName"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Length"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Width"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Depth"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCircumference"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Circumference"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Diameter"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCovered"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CapacityWeight" value="@Model.CapacityWeight"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SolidManureDensity" value="@Model.SolidManureDensity"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.StorageBagCapacity"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsSlopeEdge"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.BankSlopeAngleID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.BankSlopeAngleName"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FreeBoardHeight" value="@Model.FreeBoardHeight"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Slope" value="@Model.Slope"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromPlan"/>

        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CapacityVolume" value="@Model.CapacityVolume"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SurfaceArea" value="@Model.SurfaceArea"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsStoreCapacityExist" value="@Model.IsStoreCapacityExist"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedMaterialStateID" value="@Model.EncryptedMaterialStateID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsMaterialTypeChange" value="@Model.IsMaterialTypeChange"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsStorageTypeChange" value="@Model.IsStorageTypeChange"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCopyExistingManureStorage"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedStoreCapacityId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsRemovedRecently"/>
    </div>
    @await Html.PartialAsync("~/views/shared/_cancelconfirmation.cshtml", cancelViewModel)
    <govuk-button type="submit" class="margin-bottom-forty">
        @Resource.lblContinue
    </govuk-button>
</form>
<p class="govuk-body cancel-link">
    <a asp-action="CheckAnswer" asp-controller="StorageCapacity">@Resource.lblCancel</a>
</p>