@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.StorageCapacityViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedStoreCapacityId)) ? Resource.lblUpdateOrganicMaterialStorage : Resource.lblAddAManureStore;
    ViewData["Title"] = $"{Resource.lblWhichYearWouldYouLikeToCopy} {Resource.lblHyphen} {title}";
}

@section BeforeContent {
    <govuk-back-link asp-action="CopyExistingManureStorage" asp-controller="StorageCapacity">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnCopyExistingManureStorageYearList"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnCopyExistingManureStorageYearList"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="CopyExistingManureStorageYearList" asp-controller="StorageCapacity" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <div hidden="true">
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmID"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmID"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportOption"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportTypeName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZReportOption"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldAndPlanReportOption"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCopyExistingManureStorage"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromPlan"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromManageToHubPage"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromMaterialToHubPage"/>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <govuk-radios asp-for="@Model.YearToCopyFrom">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                            @Resource.lblWhichYearWouldYouLikeToCopy
                        </govuk-radios-fieldset-legend>
                        @if (ViewBag.YearList != null)
                        {
                            foreach (var year in ViewBag.YearList)
                            {
                                <govuk-radios-item value="@year">@year</govuk-radios-item>
                            }
                        }
                    </govuk-radios-fieldset>
                </govuk-radios>
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>

                <p class="govuk-body cancel-link">
                    @if (!string.IsNullOrWhiteSpace(Model.IsComingFromPlan))
                        {
                            <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmID" asp-route-year="@Model.EncryptedHarvestYear">
                                @Resource.lblCancel
                            </a>
                        }
                        else
                        {
                            <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmID">
                                @Resource.lblCancel
                            </a>
                        }
                </p>

            </div>

        </div>
    </form>
}