@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.StorageCapacityViewModel
@{

    string title = (!string.IsNullOrEmpty(Model.EncryptedStoreCapacityId)) ? Resource.lblUpdateOrganicMaterialStorage : Resource.lblAddOrganicMaterialStorage;
    ViewData["Title"] = $"{Resource.lblCopyExistingStorageManureContentOne} {Resource.lblHyphen} {title}";

    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
    var backAction = ((string.IsNullOrWhiteSpace(Model.IsComingFromPlan)) ? "Year" :
       "NVZComplianceReports");
    var backController = "Report";
    if (!string.IsNullOrWhiteSpace(Model.IsComingFromMaterialToHubPage))
    {
        backController = "StorageCapacity";
        backAction = "StorageCapacityManagement";
    }
    else
    {
        if (Model.IsStoreCapacityExist == true)
        {
            backController = "StorageCapacity";
            backAction = "ManageStorageCapacity";
        }
    }
}

@section BeforeContent {
    @if (backController == Resource.lblStorageCapacityForControllerName)
    {
        <govuk-back-link asp-action=@backAction asp-controller=@backController asp-route-q="@Model.EncryptedFarmID" asp-route-y="@Model.EncryptedHarvestYear" asp-route-t="@Model.IsComingFromManageToHubPage" asp-route-isPlan="@Model.IsComingFromPlan">@Resource.lblBack</govuk-back-link>
    }
    else
    {
        <govuk-back-link asp-action=@backAction asp-controller=@backController>@Resource.lblBack</govuk-back-link>
    }
}
@if (TempData["ErrorOnCopyExistingManureStorage"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnCopyExistingManureStorage"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="CopyExistingManureStorage" asp-controller="StorageCapacity" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <div hidden="true">
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmID"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmID"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportOption"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportTypeName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZReportOption"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldAndPlanReportOption"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromPlan"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromManageToHubPage"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromMaterialToHubPage"/>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                    <govuk-radios class="govuk-radios--inline" asp-for="@Model.IsCopyExistingManureStorage">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                                @Resource.lblCopyExistingStorageManureContentOne
                        </govuk-radios-fieldset-legend>
                        <govuk-radios-item value="@yes">@Resource.lblYes</govuk-radios-item>
                        <govuk-radios-item value="@no">@Resource.lblNo</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>

                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                    @if (!string.IsNullOrWhiteSpace(Model.IsComingFromPlan))
                        {
                            <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmID" asp-route-year="@Model.EncryptedHarvestYear">
                                @Resource.lblCancel
                            </a>
                        }
                        else
                        {
                            <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmID">
                                @Resource.lblCancel
                            </a>
                        }
                </p>

            </div>

        </div>
    </form>
}