@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.StorageCapacityViewModel
@{
    ViewData["Title"] = Resource.lblCopyExistingManureStorage;
    var yes = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.False);
    var backAction = ((Model.IsComingFromPlan.HasValue && !Model.IsComingFromPlan.Value) ? "Year" :
       "NVZComplianceReports");
    var backController = "Report";
    if (!string.IsNullOrWhiteSpace(Model.IsComingFromMaterialToHubPage))
    {
        backController = "StorageCapacity";
        backAction = "StorageCapacityManagement";
    }
    else
    {
        if (Model.IsStoreCapacityExist == true)
        {
            backController = "StorageCapacity";
            backAction = "ManageStorageCapacity";
        }
    }
}

@section BeforeContent {
    @if (backController == Resource.lblStorageCapacityForControllerName)
    {
    <govuk-back-link asp-action=@backAction asp-controller=@backController  asp-route-q="@Model.EncryptedFarmID" asp-route-y="@Model.EncryptedHarvestYear" asp-route-t="@Model.IsComingFromManageToHubPage">@Resource.lblBack</govuk-back-link>
    }
    else
    {
        <govuk-back-link asp-action=@backAction asp-controller=@backController>@Resource.lblBack</govuk-back-link>
    }
}
@if (TempData["ErrorOnCopyExistingManureStorage"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnCopyExistingManureStorage"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="CopyExistingManureStorage" asp-controller="StorageCapacity" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <div hidden="true">
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmID"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmID"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportOption"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportTypeName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZReportOption"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldAndPlanReportOption"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromPlan"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromManageToHubPage"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromMaterialToHubPage"></govuk-input>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                    <govuk-radios class="govuk-radios--inline" asp-for="@Model.IsCopyExistingManureStorage">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                                @Resource.lblCopyExistingStorageManureContentOne
                        </govuk-radios-fieldset-legend>
                        <govuk-radios-item value="@yes">@Resource.lblYes</govuk-radios-item>
                        <govuk-radios-item value="@no">@Resource.lblNo</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>

                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                        @if ((Model.IsComingFromPlan.HasValue && Model.IsComingFromPlan.Value))
                        {
                            <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmID" asp-route-year="@Model.EncryptedHarvestYear">
                                @Resource.lblCancel
                            </a>
                        }
                        else
                        {
                            <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmID">
                                @Resource.lblCancel
                            </a>
                        }
                </p>

            </div>

        </div>
    </form>
}