@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.StorageCapacityViewModel
@{
    ViewData["Title"] = Resource.lblDimensions;
    var yes = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.False);
}

@section BeforeContent {
    <govuk-back-link asp-action="StorageTypes" asp-controller="StorageCapacity">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnDimensions"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnDimensions"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="Dimensions" asp-controller="StorageCapacity" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <div hidden="true">
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportOption"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportTypeName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZReportOption"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldAndPlanReportOption"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.StorageTypeId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.StorageTypeName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MaterialStateName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.StoreName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MaterialStateId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.WeightCapacity" value="@Model.WeightCapacity"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SolidManureDensity" value="@Model.SolidManureDensity"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.StorageBagCapacity"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsSlopeEdge"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.BankSlopeAngleId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.BankSlopeAngleName"></govuk-input>

        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <legand class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">@string.Format(Resource.lblStoreDimenstion, Model.StoreName)</h1>
                </legand>

                @if (Model.MaterialStateId != (int)NMP.Portal.Enums.MaterialState.SolidManureStorage && Model.StorageTypeId != (int)NMP.Portal.Enums.StorageTypes.StorageBag)
                {
                    <govuk-details>
                        <govuk-details-summary>
                            @Resource.lblAboutFreeboards
                        </govuk-details-summary>
                        <govuk-details-text>
                            <p class="govuk-body">@Resource.lblFreeboardIsTheDistanceBetweenTheTopOfTheTank</p>
                            @if (Model.StorageTypeId == (int)NMP.Portal.Enums.StorageTypes.SquareOrRectangularTank || Model.StorageTypeId == (int)NMP.Portal.Enums.StorageTypes.CircularTank)
                            {
                                <p class="govuk-body">
                                    @Resource.lblForASteelOrConcreteStore
                                </p>
                            }
                            @if (Model.StorageTypeId == (int)NMP.Portal.Enums.StorageTypes.EarthBankedLagoon)
                            {
                                <p class="govuk-body">
                                    @Resource.lblForEarthBankedLagoonsYouMustKeep
                                </p>
                            }
                            
                        </govuk-details-text>
                    </govuk-details>
                }
                @if (Model.StorageTypeId != (int)NMP.Portal.Enums.StorageTypes.CircularTank)
                {
                    <govuk-input asp-for=@Model.Length type="number" step="any" spellcheck="false">
                        @if(Model.StorageTypeId == (int)NMP.Portal.Enums.StorageTypes.EarthBankedLagoon)
                        {
                            <govuk-input-label is-page-heading="false">@Resource.lblWhatIsTheLengthAtTheTopEdgeOfTheLagoon</govuk-input-label>
                        }
                        else
                        {
                            <govuk-input-label is-page-heading="false">@Resource.lblWhatIsTheLength</govuk-input-label>
                        }
                        <govuk-input-suffix>@Resource.lblMetres</govuk-input-suffix>
                    </govuk-input>
                    <govuk-input asp-for=@Model.Width type="number" step="any" spellcheck="false">
                        @if (Model.StorageTypeId == (int)NMP.Portal.Enums.StorageTypes.EarthBankedLagoon)
                        {
                            <govuk-input-label is-page-heading="false">@Resource.lblWhatIsTheWidthAtTheTopEdgeOfTheLagoon</govuk-input-label>
                        }
                        else
                        {
                            <govuk-input-label is-page-heading="false">@Resource.lblWhatIsTheWidth</govuk-input-label>
                        }
                        <govuk-input-suffix>@Resource.lblMetres</govuk-input-suffix>
                    </govuk-input>
                }
                @if (Model.StorageTypeId == (int)NMP.Portal.Enums.StorageTypes.CircularTank)
                {

                    <govuk-radios asp-for="@Model.IsCircumference">
                        <govuk-radios-fieldset>
                            <govuk-radios-fieldset-legend is-page-heading="false">
                                @Resource.lblDoYouWantToEnterTheCircumferenceOrTheDiameter
                            </govuk-radios-fieldset-legend>
                            <govuk-radios-hint>@Resource.lblSelectOneOption</govuk-radios-hint>
                            <govuk-radios-item value="@yes">
                                @Resource.lblCircumference
                                <govuk-radios-item-conditional>
                                    <govuk-input asp-for="@Model.Circumference" type="number" autocomplete="false">
                                        <govuk-input-label>What is the circumference?</govuk-input-label>
                                        <govuk-input-suffix>@Resource.lblMetres</govuk-input-suffix>
                                    </govuk-input>
                                </govuk-radios-item-conditional>
                            </govuk-radios-item>
                            <govuk-radios-item value="@no">
                                @Resource.lblDiameter
                                <govuk-radios-item-conditional>
                                    <govuk-input asp-for="@Model.Diameter" type="number" autocomplete="false">
                                        <govuk-input-label>What is the diameter?</govuk-input-label>
                                        <govuk-input-suffix>@Resource.lblMetres</govuk-input-suffix>
                                    </govuk-input>
                                </govuk-radios-item-conditional>
                            </govuk-radios-item>
                        </govuk-radios-fieldset>
                    </govuk-radios>
                }
                
                <govuk-input asp-for=@Model.Depth type="number" step="any" spellcheck="false">
                    
                    @if (Model.StorageTypeId == (int)NMP.Portal.Enums.MaterialState.SolidManureStorage)
                    {
                        <govuk-input-label is-page-heading="false">@Resource.lblWhatIsTheDepth</govuk-input-label>
                    }
                    else
                    {
                        <govuk-input-label is-page-heading="false">@Resource.lblWhatIsTheTotalDepth</govuk-input-label>
                        <govuk-input-hint>@Resource.lblDoNotDeductTheFreeboard</govuk-input-hint>
                    }
                    <govuk-input-suffix>@Resource.lblMetres</govuk-input-suffix>
                </govuk-input>

                @if (Model.MaterialStateId != (int)NMP.Portal.Enums.MaterialState.SolidManureStorage)
                {
                    <govuk-radios class="govuk-radios--inline" asp-for="@Model.IsCovered">
                        <govuk-radios-fieldset>
                            <govuk-radios-fieldset-legend is-page-heading="false">
                                @string.Format(Resource.lblIsThisCovered,Model.StoreName)
                            </govuk-radios-fieldset-legend>
                            <govuk-radios-item value="@yes">@Resource.lblYes</govuk-radios-item>
                            <govuk-radios-item value="@no">@Resource.lblNo</govuk-radios-item>
                        </govuk-radios-fieldset>
                    </govuk-radios>
                }

                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                    @if ((Model.IsComingFromPlan.HasValue && Model.IsComingFromPlan.Value))
                    {
                        <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">
                            @Resource.lblCancel
                        </a>
                    }
                    else
                    {
                        <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                            @Resource.lblCancel
                        </a>
                    }
                </p>

            </div>

        </div>
    </form>
}