@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.StorageCapacityViewModel
@{
    ViewData["Title"] = Resource.lblManageStoreCapacity;
    var dataLists = new List<(string Name, dynamic Data)>
    {
        ("DirtyWater", ViewBag.DirtyWaterList),
        ("SlurryStorage", ViewBag.SlurryStorageList),
        ("SolidManureStorage", ViewBag.SolidManureStorageList)
    };

    var nonEmptyLists = dataLists.Where(x => x.Data != null && x.Data.Count > 0).ToList();
    var backAction = ((Model.IsComingFromPlan.HasValue && !Model.IsComingFromPlan.Value) ? "Year" :
       "NVZComplianceReports");
}

@section BeforeContent {
    
    <govuk-back-link asp-action="@backAction" asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnManageStorageCapacity"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnManageStorageCapacity"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (TempData["succesMsgContent1"] != null)
        {
            <govuk-notification-banner type="Success">
                <p class="govuk-notification-banner__heading">
                    @TempData["succesMsgContent1"]
                </p>
                @if (@TempData["succesMsgContent1Detail"] != null)
                {
                    <p class="govuk-body">@TempData["succesMsgContent1Detail"]</p>
                }

                @if (TempData["succesMsgContent2"] != null)
                {
                    <p class="govuk-body">
                        <a asp-action="MaterialStates" asp-controller="StorageCapacity" asp-route-f="@Model.EncryptedFarmID" asp-route-y="@Model.EncryptedHarvestYear" asp-route-isPlan="@ViewBag.IsPlan" class="govuk-notification-banner__link">
                            @TempData["succesMsgContent2"]
                        </a>
                    </p>
                }
                @if (TempData["succesMsgContent3"] != null)
                {
                    <p class="govuk-body">
                        <a class="govuk-notification-banner__link" asp-action="StorageCapacityReport" asp-controller="StorageCapacity">
                            @TempData["succesMsgContent3"]
                        </a>
                    </p>
                }
            </govuk-notification-banner>
        }
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="margin-bottom-thirty">
            <span class="name govuk-caption-l">@Model.FarmName</span>
            <h1 class="govuk-heading-l margin-bottom-ten">@Resource.lblManureStorage</h1>

            <h2 class="govuk-heading-m">@Model.Year</h2>

        </div>
        @if (TempData["succesMsgContent1"] == null)
        {
            <div class="govuk-inset-text margin-bottom-forty">
                <p class="govuk-body">@string.Format(Resource.lblStorageCapacityReportContentFour, Model.FarmName, Model.Year)</p>
                <p class="govuk-body"><a asp-action="StorageCapacityReport" asp-controller="StorageCapacity">@Resource.lblCreateAnExistingManureStorageCapacityReport</a></p>
            </div>
        }
         
        <a class="govuk-button" asp-action="MaterialStates" asp-controller="StorageCapacity" asp-route-f="@Model.EncryptedFarmID" asp-route-y="@Model.EncryptedHarvestYear" asp-route-isPlan="@ViewBag.IsPlan">
            @Resource.lblAddOrganicMaterialStorage
        </a>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
       
        @if (nonEmptyLists.Count > 0)
        {
            <govuk-tabs>
                <govuk-tabs-item id="slurryStorageList" label=@Resource.lblSlurryStorage>
                    <h2 class="govuk-heading-l non-standard">@Resource.lblSlurryStorage</h2>
                    @if (ViewBag.SlurryStorageList != null && ViewBag.SlurryStorageList.Count > 0)
                    {
                        <table class="govuk-table data-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header livestock-type">@Resource.lblName</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblStorageType</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblCapacityVolume</th>
                                    <th scope="col" class="govuk-table__header"></th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var slurryStorage in ViewBag.SlurryStorageList)
                                {
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">@slurryStorage.StoreName</td>
                                        <td class="govuk-table__cell">@slurryStorage.StorageTypeName</td>
                                        <td class="govuk-table__cell"> @string.Format("{0} {1}", slurryStorage.CapacityVolume, Resource.lblMetresCubed)</td>
                                        <td class="govuk-table__cell"><a href="#">@Resource.lblChange</a></td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p class="govuk-body">@Resource.lblYouHaveNotAddedAnySlurryStorage</p>
                        <p class="govuk-body">
                            <a class="" asp-action="StoreName" asp-controller="StorageCapacity" asp-route-f="@Model.EncryptedFarmID" asp-route-y="@Model.EncryptedHarvestYear" asp-route-isPlan="@ViewBag.IsPlan" asp-route-q="@ViewBag.EncryptedSlurryStateId">@Resource.lblAddDirtyWaterStorage</a>
                        </p>
                    }
                </govuk-tabs-item>

                <govuk-tabs-item id="dirtyWaterList" label=@Resource.lblDirtyWater>
                    <h2 class="govuk-heading-l non-standard">@Resource.lblDirtyWater</h2>
                    @if (ViewBag.DirtyWaterList != null && ViewBag.DirtyWaterList.Count > 0)
                    {
                        <table class="govuk-table data-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header livestock-type">@Resource.lblName</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblStorageType</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblCapacityVolume</th>
                                    <th scope="col" class="govuk-table__header"></th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var dirtyWater in ViewBag.DirtyWaterList)
                                {
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">@dirtyWater.StoreName</td>
                                        <td class="govuk-table__cell">@dirtyWater.StorageTypeName</td>
                                        <td class="govuk-table__cell"> @string.Format("{0} {1}", dirtyWater.CapacityVolume, Resource.lblMetresCubed)</td>
                                        <td class="govuk-table__cell"><a href="#">@Resource.lblChange</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p class="govuk-body">@Resource.lblYouHaveNotAddedAnyDirtyWaterStorage</p>
                        <p class="govuk-body">
                            <a class="" asp-action="StoreName" asp-controller="StorageCapacity" asp-route-f="@Model.EncryptedFarmID" asp-route-y="@Model.EncryptedHarvestYear" asp-route-isPlan="@ViewBag.IsPlan" asp-route-q="@ViewBag.EncryptedDirtyWaterStateId">@Resource.lblAddDirtyWaterStorage</a>
                        </p>
                    }
                </govuk-tabs-item>

                <govuk-tabs-item id="solidManureStorageList" label=@Resource.lblSolidManureStorage>
                    <h2 class="govuk-heading-l non-standard">@Resource.lblSolidManureStorage</h2>
                    @if (ViewBag.SolidManureStorageList != null && ViewBag.SolidManureStorageList.Count > 0)
                    {
                        <table class="govuk-table data-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header livestock-type">@Resource.lblName</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblStorageType</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblCapacityVolume</th>
                                    <th scope="col" class="govuk-table__header"></th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var solidManureStorageList in ViewBag.SolidManureStorageList)
                                {
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">@solidManureStorageList.StoreName</td>
                                        <td class="govuk-table__cell">@solidManureStorageList.SolidManureTypeName</td>
                                        <td class="govuk-table__cell"> @string.Format("{0} {1}", solidManureStorageList.CapacityVolume, Resource.lblMetresCubed)</td>
                                        <td class="govuk-table__cell"><a href="#">@Resource.lblChange</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p class="govuk-body">@Resource.lblYouHaveNotAddedAnySolidMaterialStorage</p>
                        <p class="govuk-body">
                            <a class="" asp-action="StoreName" asp-controller="StorageCapacity" asp-route-f="@Model.EncryptedFarmID" asp-route-y="@Model.EncryptedHarvestYear" asp-route-isPlan="@ViewBag.IsPlan" asp-route-q="@ViewBag.EncryptedSolidStateId">@Resource.lblAddSolidMaterialStorage</a>
                        </p>
                    }
                </govuk-tabs-item>

                <govuk-tabs-item id="totals" label=@Resource.lblManureStorageTotals>
                    <h2 class="govuk-heading-m non-standard">@Resource.lblManureStorageTotals</h2>
                    @if (ViewBag.TotalLiquidCapacity != null && ViewBag.TotalSolidCapacity != null)
                    {
                        <table class="govuk-table data-table">
                            <tbody>
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">@Resource.lblTotalLiquidCapacity</th>
                                    <td class="govuk-table__cell">@string.Format("{0} {1}", ViewBag.TotalLiquidCapacity, Resource.lblCubicMeters)</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">@Resource.lblTotalSolidCapacity</th>
                                    <td class="govuk-table__cell">@string.Format("{0} {1}", ViewBag.TotalSolidCapacity, Resource.lblCubicMeters)</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">@Resource.lblTotalSolidCapacityFreshWeight</th>
                                    <td class="govuk-table__cell">@string.Format("{0} {1}", ViewBag.TotalSolidWeightCapacity, Resource.lbltonnes)</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">@Resource.lblTotalSurfaceArea</th>
                                    <td class="govuk-table__cell">@string.Format("{0} {1}", ViewBag.TotalSurfaceCapacity, Resource.lblCubicMeters)</td>
                                </tr>
                            </tbody>
                        </table>

                    }
                    
                </govuk-tabs-item>

            </govuk-tabs>
        }



    </div>
</div>
