@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.StorageCapacityViewModel
@{
    ViewData["Title"] = $"{Resource.lblManureStorage} {Resource.lblHyphen} {Resource.lblStorageCapacityForTitle}";
    var dataLists = new List<(string Name, dynamic Data)>
    {
        ("SlurryStorage", ViewBag.SlurryStorageList),
        ("SolidManureStorage", ViewBag.SolidManureStorageList)
    };

    var nonEmptyLists = dataLists.Where(x => x.Data != null && x.Data.Count > 0).ToList();
    var backAction = ((string.IsNullOrWhiteSpace(Model.IsComingFromPlan)) ? "Year" :
       "NVZComplianceReports");
    int count = 0;
    int totalCapacity = 0;
    decimal totalWeight = 0;
}

@section BeforeContent {
    @if (string.IsNullOrWhiteSpace(Model.IsComingFromManageToHubPage))
    {
        <govuk-back-link asp-action="@backAction" asp-controller="Report">@Resource.lblBack</govuk-back-link>
    }
    else
    {
        if (!string.IsNullOrWhiteSpace(Model.IsComingFromManageToHubPage))
        {
            <govuk-back-link asp-action="StorageCapacityManagement" asp-controller="StorageCapacity" asp-route-q="@Model.EncryptedFarmID">@Resource.lblBack</govuk-back-link>
        }
        else
        {
            <govuk-back-link asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmID">@Resource.lblBack</govuk-back-link>
        }
    }
}
@if (TempData["ErrorOnManageStorageCapacity"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnManageStorageCapacity"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (TempData["succesMsgContent1"] != null)
        {
            <govuk-notification-banner type="NotificationBannerType.Success">
                <p class="govuk-notification-banner__heading">
                    @TempData["succesMsgContent1"]
                </p>
                @if (@TempData["succesMsgContent1Detail"] != null)
                {
                    <p class="govuk-body">@TempData["succesMsgContent1Detail"]</p>
                }

                @if (TempData["succesMsgContent2"] != null)
                {
                    <p class="govuk-body">
                        <a asp-action="MaterialStates" asp-controller="StorageCapacity" asp-route-f="@Model.EncryptedFarmID" asp-route-y="@Model.EncryptedHarvestYear" asp-route-isPlan="@ViewBag.IsPlan" asp-route-x="@Model.IsComingFromManageToHubPage" asp-route-w="@Model.IsRemovedRecently" class="govuk-notification-banner__link">
                            @TempData["succesMsgContent2"]
                        </a>
                    </p>
                }
                @if (TempData["succesMsgContent3"] != null)
                {
                    <p class="govuk-body">
                        <a class="govuk-notification-banner__link" asp-action="StorageCapacityReport" asp-controller="StorageCapacity" asp-route-q="@Model.EncryptedFarmID" asp-route-y="@Model.EncryptedHarvestYear" asp-route-x="@Model.IsComingFromManageToHubPage" asp-route-v="@ViewBag.IsPlan">
                            @TempData["succesMsgContent3"]
                        </a>
                    </p>
                }
            </govuk-notification-banner>
        }
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="margin-bottom-thirty">
            <span class="name govuk-caption-l">@Model.FarmName</span>
            <h1 class="govuk-heading-l margin-bottom-ten">@Resource.lblManureStorage</h1>

            <h2 class="govuk-heading-m">@Model.Year</h2>

        </div>
        @if (TempData["succesMsgContent1"] == null && string.IsNullOrWhiteSpace(Model.IsRemovedRecently))
        {
            <div class="govuk-inset-text margin-bottom-thirty">
                <p class="govuk-body">@string.Format(Resource.lblStorageCapacityReportContentFour, Model.FarmName, Model.Year)</p>
                <p class="govuk-body"><a asp-action="StorageCapacityReport" asp-controller="StorageCapacity" asp-route-q="@Model.EncryptedFarmID" asp-route-y="@Model.EncryptedHarvestYear" asp-route-x="@Model.IsComingFromManageToHubPage" asp-route-v="@ViewBag.IsPlan">@Resource.lblCreateAnExistingManureStorageCapacityReport</a></p>
            </div>
        }

        <a class="govuk-button" asp-action="MaterialStates" asp-controller="StorageCapacity" asp-route-f="@Model.EncryptedFarmID" asp-route-y="@Model.EncryptedHarvestYear" asp-route-isPlan="@ViewBag.IsPlan" asp-route-x="@Model.IsComingFromManageToHubPage" asp-route-w="@Model.IsRemovedRecently">
            @Resource.lblAddAManureStore
        </a>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <govuk-tabs>
            <govuk-tabs-item id="slurryStorageList" label=@Resource.lblSlurryStorage>
                <h2 class="govuk-heading-l non-standard">@Resource.lblSlurryStorage</h2>
                @if (ViewBag.SlurryStorageList != null && ViewBag.SlurryStorageList.Count > 0)
                {
                    count = 0;
                    totalCapacity = 0;
                    <div class="table-container">
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header livestock-type">@Resource.lblName</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblStorageType</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblCapacityVolume</th>
                                    <th scope="col" class="govuk-table__header"></th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @for (int i = 0; i < ViewBag.SlurryStorageList.Count; i++)
                                {
                                    var slurryStorage = ViewBag.SlurryStorageList[i];
                                    count++;
                                    totalCapacity += slurryStorage.CapacityVolume;
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">@slurryStorage.StoreName</td>
                                        <td class="govuk-table__cell">@slurryStorage.StorageTypeName</td>
                                        <td class="govuk-table__cell"> @string.Format("{0:N0} {1}", slurryStorage.CapacityVolume, Resource.lblMetresCubed)</td>
                                        <td class="govuk-table__cell"><a asp-action="CheckAnswer" asp-controller="StorageCapacity" asp-route-id="@slurryStorage.EncryptedStoreCapacityId" asp-route-q="@Model.IsComingFromManageToHubPage" asp-route-r="@ViewBag.IsPlan">@Resource.lblChange<span class="govuk-visually-hidden">@slurryStorage.StoreName</span></a></td>
                                    </tr>
                                    @if (i == ViewBag.SlurryStorageList.Count - 1)
                                    {
                                        <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header livestock-type">@Resource.lblSlurryStorageTotal</th>
                                            <th scope="col" class="govuk-table__header"></th>
                                            <th scope="col" class="govuk-table__header">@string.Format("{0:N0} {1}", totalCapacity, Resource.lblMetresCubed)</th>
                                            <th scope="col" class="govuk-table__header"></th>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <p class="govuk-body">@Resource.lblYouHaveNotAddedAnySlurryStorage</p>
                    <p class="govuk-body">
                        <a class="" asp-action="StoreName" asp-controller="StorageCapacity" asp-route-f="@Model.EncryptedFarmID" asp-route-y="@Model.EncryptedHarvestYear" asp-route-isPlan="@ViewBag.IsPlan" asp-route-q="@ViewBag.EncryptedSlurryStateId" asp-route-x="@Model.IsComingFromManageToHubPage" asp-route-w="@Model.IsRemovedRecently">@Resource.lblAddASlurryStore</a>
                    </p>
                }
            </govuk-tabs-item>

            @* Remove dirty water stores. We agreed to exclude dirty water during recent slurry/dirty water discussions (note this may be different in Scotland, as Neil came back with a slightly different interpretation), but we need to remove for England and Wales *@
            @*  <govuk-tabs-item id="dirtyWaterList" label=@Resource.lblDirtyWater>
                <h2 class="govuk-heading-l non-standard">@Resource.lblDirtyWater</h2>
                @if (ViewBag.DirtyWaterList != null && ViewBag.DirtyWaterList.Count > 0)
                {
                    <div class="table-container">
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header livestock-type">@Resource.lblName</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblStorageType</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblCapacityVolume</th>
                                    <th scope="col" class="govuk-table__header"></th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var dirtyWater in ViewBag.DirtyWaterList)
                                {
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">@dirtyWater.StoreName</td>
                                        <td class="govuk-table__cell">@dirtyWater.StorageTypeName</td>
                                        <td class="govuk-table__cell"> @string.Format("{0:N0} {1}", dirtyWater.CapacityVolume, Resource.lblMetresCubed)</td>
                                        <td class="govuk-table__cell"><a asp-action="CheckAnswer" asp-controller="StorageCapacity" asp-route-id="@dirtyWater.EncryptedStoreCapacityId" asp-route-q="@Model.IsComingFromManageToHubPage" asp-route-r="@ViewBag.IsPlan">@Resource.lblChange<span class="govuk-visually-hidden">@dirtyWater.StoreName</span></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <p class="govuk-body">@Resource.lblYouHaveNotAddedAnyDirtyWaterStorage</p>
                    <p class="govuk-body">
                        <a class="" asp-action="StoreName" asp-controller="StorageCapacity" asp-route-f="@Model.EncryptedFarmID" asp-route-y="@Model.EncryptedHarvestYear" asp-route-isPlan="@ViewBag.IsPlan" asp-route-q="@ViewBag.EncryptedDirtyWaterStateId" asp-route-x="@Model.IsComingFromManageToHubPage" asp-route-w="@Model.IsRemovedRecently">@Resource.lblAddDirtyWaterStorage</a>
                    </p>
                }
            </govuk-tabs-item> *@

            <govuk-tabs-item id="solidManureStorageList" label=@Resource.lblSolidManureStorage>
                <h2 class="govuk-heading-l non-standard">@Resource.lblSolidManureStorage</h2>
                @if (ViewBag.SolidManureStorageList != null && ViewBag.SolidManureStorageList.Count > 0)
                {
                    count = 0;
                    totalCapacity = 0;
                    totalWeight = 0;
                    <div class="table-container ">
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header livestock-type">@Resource.lblName</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblStorageType</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblCapacityVolume</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblCapacityWeightForSummary</th>
                                    <th scope="col" class="govuk-table__header"></th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @for (int i = 0; i < ViewBag.SolidManureStorageList.Count; i++)
                                {
                                    var solidStorage = ViewBag.SolidManureStorageList[i];
                                    count++;
                                    totalCapacity += solidStorage.CapacityVolume;
                                    totalWeight += solidStorage.CapacityWeight;
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">@solidStorage.StoreName</td>
                                        <td class="govuk-table__cell">@solidStorage.SolidManureTypeName</td>
                                        <td class="govuk-table__cell"> @string.Format("{0:N0} {1}", solidStorage.CapacityVolume, Resource.lblMetresCubed)</td>
                                        <td class="govuk-table__cell"> @string.Format("{0:N0} {1}", solidStorage.CapacityWeight, Resource.lbltonnes)</td>
                                        <td class="govuk-table__cell"><a asp-action="CheckAnswer" asp-controller="StorageCapacity" asp-route-id="@solidStorage.EncryptedStoreCapacityId" asp-route-q="@Model.IsComingFromManageToHubPage" asp-route-r="@ViewBag.IsPlan">@Resource.lblChange<span class="govuk-visually-hidden">@solidStorage.StoreName</span></a></td>
                                    </tr>
                                    @if (i == ViewBag.SolidManureStorageList.Count - 1)
                                    {
                                        <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header livestock-type">@Resource.lblSolidManureStorageTotal</th>
                                            <th scope="col" class="govuk-table__header"></th>
                                            <th scope="col" class="govuk-table__header">@string.Format("{0:N0} {1}", totalCapacity, Resource.lblMetresCubed)</th>
                                            <th scope="col" class="govuk-table__header">@string.Format("{0:N0} {1}", totalWeight, Resource.lbltonnes)</th>
                                            <th scope="col" class="govuk-table__header"></th>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <p class="govuk-body">@Resource.lblYouHaveNotAddedAnySolidMaterialStorage</p>
                    <p class="govuk-body">
                        <a class="" asp-action="StoreName" asp-controller="StorageCapacity" asp-route-f="@Model.EncryptedFarmID" asp-route-y="@Model.EncryptedHarvestYear" asp-route-isPlan="@ViewBag.IsPlan" asp-route-q="@ViewBag.EncryptedSolidStateId" asp-route-x="@Model.IsComingFromManageToHubPage" asp-route-w="@Model.IsRemovedRecently">@Resource.lblAddASolidManureStore</a>
                    </p>
                }
            </govuk-tabs-item>

            <govuk-tabs-item id="totals" label=@Resource.lblManureStorageTotals>
                <h2 class="govuk-heading-m non-standard">@Resource.lblManureStorageTotals</h2>
                @if (ViewBag.TotalLiquidCapacity != null && ViewBag.TotalSolidCapacity != null)
                {
                    <div class="table-container">
                        <table class="govuk-table">
                            <tbody>
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">@Resource.lblTotalSlurryCapacity</th>
                                    <td class="govuk-table__cell">@string.Format("{0:N0} {1}", ViewBag.TotalLiquidCapacity, Resource.lblCubicMeters)</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">@Resource.lblTotalSolidCapacity</th>
                                    <td class="govuk-table__cell">@string.Format("{0:N0} {1}", ViewBag.TotalSolidCapacity, Resource.lblCubicMeters)</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">@Resource.lblTotalSolidCapacityFreshWeight</th>
                                    <td class="govuk-table__cell">@string.Format("{0:N0} {1}", ViewBag.TotalSolidWeightCapacity, Resource.lbltonnes)</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">@Resource.lblTotalSurfaceAreaOfUncoveredStores</th>
                                    <td class="govuk-table__cell">@string.Format("{0:N0} {1}", ViewBag.TotalSurfaceCapacity, Resource.lblMetresSquared)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </govuk-tabs-item>
        </govuk-tabs>
    </div>
</div>
