﻿@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.StorageCapacityViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedStoreCapacityId)) ? Resource.lblUpdateOrganicMaterialStorage : Resource.lblAddAManureStore;
    ViewData["Title"] = $"{Resource.lblWhatKindOfManureStoreDoYouWantToAdd} {Resource.lblHyphen} {title}";
    var backAction = "";
    if (Model.IsCheckAnswer == true)
    {
        backAction = "CheckAnswer";
    }
    else
    {
        if (Model.IsCopyExistingManureStorage.HasValue && (!Model.IsCopyExistingManureStorage.Value))
        {
            backAction = "CopyExistingManureStorage";
        }
        else if (!string.IsNullOrWhiteSpace(Model.IsComingFromMaterialToHubPage))
        {
            backAction = "StorageCapacityManagement";
        }
        else
        {
            if (Model.IsStoreCapacityExist == true || !string.IsNullOrWhiteSpace(Model.IsRemovedRecently))
            {
                backAction = "ManageStorageCapacity";
            }
            else
            {
                backAction = "OrganicMaterialStorageNotAvailable";
            }
        }
    }
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.StorageCapacityWizardStep.MaterialStates;
}


@section BeforeContent {
    <govuk-back-link asp-action="@backAction" asp-controller="StorageCapacity" asp-route-q="@Model.EncryptedFarmID" asp-route-t="@Model.IsComingFromManageToHubPage" asp-route-isPlan="@Model.IsComingFromPlan" asp-route-u="@Model.IsRemovedRecently">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnMaterialStates"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnMaterialStates"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="MaterialStates" asp-controller="StorageCapacity" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/StorageCapacity/_StorageCapacityWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <govuk-radios class="govuk-radios" for="@Model.MaterialStateID">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                            @Resource.lblWhatKindOfManureStoreDoYouWantToAdd
                        </govuk-radios-fieldset-legend>
                        <govuk-radios-hint>@Resource.lblSelectOneOption</govuk-radios-hint>
                        @if (ViewBag.MaterialStateList != null && ViewBag.MaterialStateList.Count > 0)
                        {
                            foreach (var materialState in ViewBag.MaterialStateList)
                            {
                                <govuk-radios-item value="@materialState.Id">@materialState.Name</govuk-radios-item>
                            }
                        }
                    </govuk-radios-fieldset>
                </govuk-radios>
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>

                <p class="govuk-body cancel-link">
                    @if (!Model.IsCheckAnswer)
                    {
                        @if (Model.IsStoreCapacityExist == true)
                        {
                            <a asp-action="ManageStorageCapacity" asp-controller="StorageCapacity" asp-route-q="@Model.EncryptedFarmID" asp-route-isPlan="@Model.IsComingFromPlan" asp-route-u="@Model.IsRemovedRecently">
                                @Resource.lblCancel
                            </a>
                        }
                        else
                        {
                            @if (!string.IsNullOrWhiteSpace(Model.IsComingFromPlan))
                            {
                                <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmID" asp-route-year="@Model.EncryptedHarvestYear">
                                    @Resource.lblCancel
                                </a>
                            }
                            else
                            {
                                <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmID">
                                    @Resource.lblCancel
                                </a>
                            }
                        }
                    }
                    else
                    {
                        <a asp-action="CheckAnswer" asp-controller="StorageCapacity">@Resource.lblCancel</a>
                    }

                </p>

            </div>

        </div>
    </form>
}