@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.StorageCapacityViewModel
@{
    ViewData["Title"] = Resource.lblNotEnteredStorage;
    var backAction = ((string.IsNullOrWhiteSpace(Model.IsComingFromPlan)) ? "Year" :
       "NVZComplianceReports");

}

@section BeforeContent {
    <govuk-back-link asp-action=@backAction asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnOrganicMaterialStorageNotAvailable"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnOrganicMaterialStorageNotAvailable"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                @string.Format(Resource.lblYouHaveNotEnteredAnyOrganicMaterialStorageFor, Model.Year)
            </h1>
            <p class="govuk-body">
                <a class="govuk-button" asp-action="MaterialStates" asp-controller="StorageCapacity" asp-route-f="@Model.EncryptedFarmID" asp-route-y="@Model.EncryptedHarvestYear" asp-route-isPlan="@ViewBag.IsPlan" >
                    @Resource.lblAddOrganicMaterialStorage
                </a>
            </p>
            <p class="govuk-body cancel-link">
                @if (!string.IsNullOrWhiteSpace(Model.IsComingFromPlan))
                {
                    <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmID" asp-route-year="@Model.EncryptedHarvestYear">
                        @Resource.lblCancel
                    </a>
                }
                else
                {
                    <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmID">
                        @Resource.lblCancel
                    </a>
                }
            </p>

        </div>

    </div>

}