@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.StorageCapacityViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedStoreCapacityId)) ? Resource.lblUpdateOrganicMaterialStorage : Resource.lblAddAManureStore;
    ViewData["Title"] = $"{string.Format(Resource.lblRemovePropertyName, Model.StoreName)} {Resource.lblHyphen} {title}";
    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
}

@section BeforeContent {
    <govuk-back-link asp-action="CheckAnswer" asp-controller="StorageCapacity">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnRemove"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnRemove"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="RemoveStorageCapacity" asp-controller="StorageCapacity" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <div hidden="true">
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmID"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmID"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportOption"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportTypeName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZReportOption"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldAndPlanReportOption"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.StorageTypeID"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.StorageTypeName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MaterialStateName"/>
            @* <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.StoreName"/> *@
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MaterialStateID"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Length"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Width"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Depth"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCircumference"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Circumference"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Diameter"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCovered"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CapacityWeight" value="@Model.CapacityWeight"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SolidManureDensity" value="@Model.SolidManureDensity"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.StorageBagCapacity"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsSlopeEdge"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.BankSlopeAngleID"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.BankSlopeAngleName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FreeBoardHeight" value="@Model.FreeBoardHeight"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Slope" value="@Model.Slope"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromPlan"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsStoreCapacityExist" value="@Model.IsStoreCapacityExist"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedMaterialStateID" value="@Model.EncryptedMaterialStateID"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromManageToHubPage"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromMaterialToHubPage"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsMaterialTypeChange" value="@Model.IsMaterialTypeChange"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsStorageTypeChange" value="@Model.IsStorageTypeChange"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCopyExistingManureStorage"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.StoreName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ID"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedStoreCapacityId"/>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">
                    @string.Format(Resource.lblRemovePropertyName, Model.StoreName)
                </h1>
                <p class="govuk-body">
                    @string.Format(Resource.lblRemoveContent, Model.StoreName,Model.FarmName)
                </p>
                <govuk-radios class="govuk-radios--inline" asp-for="@Model.IsDelete">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend>
                            @Resource.lblAreYouSureYouWantToContinue
                        </govuk-radios-fieldset-legend>
                        <govuk-radios-item value="@yes">@Resource.lblYes</govuk-radios-item>
                        <govuk-radios-item value="@no">@Resource.lblNo</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>


                <p class="govuk-body cancel-link">
                    <a asp-action="CheckAnswer" asp-controller="StorageCapacity">
                            @Resource.lblCancel
                        </a>
                </p>

            </div>

        </div>
    </form>
}