@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.StorageCapacityViewModel
@{
    ViewData["Title"] = Resource.lblStorageName;
}

@section BeforeContent {
    <govuk-back-link asp-action="MaterialStates" asp-controller="StorageCapacity">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnStoreName"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnStoreName"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="StoreName" asp-controller="StorageCapacity" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <div hidden="true">
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportOption"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportTypeName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZReportOption"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldAndPlanReportOption"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.StorageTypeId"></govuk-input>

        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                
                <govuk-input asp-for="@Model.StoreName" autocomplete="off">
                    <govuk-input-label is-page-heading="true" class="govuk-label--l">@Resource.lblWhatDoYouWantToCallThisManureStore</govuk-input-label>
                    <govuk-input-hint>@Resource.lblGiveTheStoreAUniqueName</govuk-input-hint>
                </govuk-input>
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>


                <p class="govuk-body cancel-link">
                    <a asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report">
                        @Resource.lblCancel
                    </a>
                </p>

            </div>

        </div>
    </form>
}