@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.StorageCapacityViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedStoreCapacityId)) ? Resource.lblUpdateOrganicMaterialStorage : Resource.lblAddAManureStore;
    ViewData["Title"] = $"{string.Format(Resource.lblWhatIsTheTotalCapacityOf, Model.StoreName)} {Resource.lblHyphen} {title}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.StorageCapacityWizardStep.StorageBagCapacity;
}

@section BeforeContent {
    <govuk-back-link asp-action="@((Model.IsCheckAnswer == true && !Model.IsMaterialTypeChange) ? "CheckAnswer" : "StorageTypes")" asp-controller="StorageCapacity">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnDimensions"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnDimensions"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="StorageBagCapacity" asp-controller="StorageCapacity" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/StorageCapacity/_StorageCapacityWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-input for=@Model.StorageBagCapacity type="number" step="any" spellcheck="false" max="9999">
                    <govuk-input-label is-page-heading="true" class="govuk-label--l">
                        @string.Format(Resource.lblWhatIsTheTotalCapacityOfSuffix, Model.StoreName)<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblCubicMeters)</span>@Resource.lblQuestionMark
                    </govuk-input-label>
                    <govuk-input-suffix>@Resource.lblCubicMeters</govuk-input-suffix>
                </govuk-input>

                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                    @if (!Model.IsCheckAnswer)
                    {
                        @if (Model.IsStoreCapacityExist == true)
                        {
                            <a asp-action="ManageStorageCapacity" asp-controller="StorageCapacity" asp-route-q="@Model.EncryptedFarmID" asp-route-t="@Model.IsComingFromManageToHubPage" asp-route-isPlan="@Model.IsComingFromPlan" asp-route-u="@Model.IsRemovedRecently">
                                @Resource.lblCancel
                            </a>
                        }
                        else
                        {
                            @if (!string.IsNullOrWhiteSpace(Model.IsComingFromPlan))
                            {
                                <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmID" asp-route-year="@Model.EncryptedHarvestYear">
                                    @Resource.lblCancel
                                </a>
                            }
                            else
                            {
                                <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmID">
                                    @Resource.lblCancel
                                </a>
                            }
                        }
                    }
                    else
                    {
                        <a asp-action="CheckAnswer" asp-controller="StorageCapacity">@Resource.lblCancel</a>
                    }
                </p>

            </div>

        </div>
    </form>
}