@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.StorageCapacityViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedStoreCapacityId)) ? Resource.lblUpdateOrganicMaterialStorage : Resource.lblAddAManureStore;
    ViewData["Title"] = $"{Resource.lblWhatDoYouWantToCallThisManureStore} {Resource.lblHyphen} {title}";
    var backAction = "";
    if (Model.IsCheckAnswer == true && !Model.IsMaterialTypeChange)
    {
        backAction = "CheckAnswer";
    }
    else
    {
        if (!string.IsNullOrWhiteSpace(Model.EncryptedMaterialStateID))
        {
            backAction = "ManageStorageCapacity";
        }
        else
        {
            backAction = "MaterialStates";
        }
    }

    var tabId = "";
    if (Model.MaterialStateID == (int)NMP.Commons.Enums.MaterialState.SlurryStorage)
    {
        tabId = "slurryStorageList";
    }
    else if (Model.MaterialStateID == (int)NMP.Commons.Enums.MaterialState.DirtyWaterStorage)
    {
        tabId = "dirtyWaterList";
    }
    else if (Model.MaterialStateID == (int)NMP.Commons.Enums.MaterialState.SolidManureStorage)
    {
        tabId = "solidManureStorageList";
    }
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.StorageCapacityWizardStep.StoreName;
}

@section BeforeContent {
    <govuk-back-link asp-action="@backAction" asp-controller="StorageCapacity" asp-route-q="@Model.EncryptedFarmID" asp-route-t="@Model.IsComingFromManageToHubPage" asp-route-isPlan="@Model.IsComingFromPlan" asp-route-u="@Model.IsRemovedRecently" asp-fragment="@tabId">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnStoreName"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnStoreName"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="StoreName" asp-controller="StorageCapacity" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/StorageCapacity/_StorageCapacityWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <govuk-input for="@Model.StoreName" autocomplete="off">
                    <govuk-input-label is-page-heading="true" class="govuk-label--l">@Resource.lblWhatDoYouWantToCallThisManureStore</govuk-input-label>
                    <govuk-input-hint>@Resource.lblGiveTheStoreAUniqueName</govuk-input-hint>
                </govuk-input>
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>


                <p class="govuk-body cancel-link">
                    @if (!Model.IsCheckAnswer)
                    {
                        @if (Model.IsStoreCapacityExist == true)
                        {
                            <a asp-action="ManageStorageCapacity" asp-controller="StorageCapacity" asp-route-q="@Model.EncryptedFarmID" asp-route-t="@Model.IsComingFromManageToHubPage" asp-route-isPlan="@Model.IsComingFromPlan" asp-route-u="@Model.IsRemovedRecently">
                                @Resource.lblCancel
                            </a>
                        }
                        else
                        {
                            @if (!string.IsNullOrWhiteSpace(Model.IsComingFromPlan))
                            {
                                <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmID" asp-route-year="@Model.EncryptedHarvestYear">
                                    @Resource.lblCancel
                                </a>
                            }
                            else
                            {
                                <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmID">
                                    @Resource.lblCancel
                                </a>
                            }
                        }
                    }
                    else
                    {
                        <a asp-action="CheckAnswer" asp-controller="StorageCapacity">@Resource.lblCancel</a>
                    }
                </p>

            </div>

        </div>
    </form>
}