@using NMP.Portal.Resources
@using NMP.Portal.ViewModels
@model FieldViewModel

@{
    ViewData["Title"] = Resource.lblAddField;
}

@section BeforeContent {
    <govuk-back-link asp-action="FarmSummary" asp-controller="Farm" asp-route-EncryptedFarmId="@Model.EncryptedFarmId">@Resource.lblBack</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Resource.lblAddField</h1>

        <form asp-action="AddField" method="post" asp-controller="Field">
            @Html.AntiForgeryToken()
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalArea"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmID"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CroppedArea"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureNonSpreadingArea"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsWithinNVZ"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
            @if(Model!=null)
            {
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsSoilNutrientValueTypeIndex" value="@Model.IsSoilNutrientValueTypeIndex.ToString().ToLower()"></govuk-input>
            }
            <div class="govuk-form-group">
                <govuk-input asp-for="@Model.Name"></govuk-input>
            </div>

            <div class="govuk-form-group margin-bottom-forty">
                <govuk-input class="input-width-15" asp-for="@Model.NationalGridReference">@Resource.lblWhatIsTheFarmPostcode</govuk-input>
            </div>
            <div class="govuk-form-group margin-bottom-forty">
                <govuk-input class="input-width-15" asp-for="@Model.LPIDNumber">@Resource.lblWhatIsTheFarmPostcode</govuk-input>
            </div>
            <govuk-button type="submit" data-prevent-double-click="true" class="govuk-button margin-bottom-forty margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
        </form>
        <p class="govuk-body cancel-link"><a asp-action="FarmSummary" asp-controller="Farm" asp-route-EncryptedFarmId="@Model.EncryptedFarmId">@Resource.lblCancel</a></p>
    </div>
</div>