@using NMP.Commons.Resources
@using NMP.Commons.Enums
@model NMP.Commons.ViewModels.FieldViewModel
@{
    //  ViewData["Title"] = Resource.lblAbove300SeaLevel;
    string title = (Model != null && !string.IsNullOrEmpty(Model.EncryptedIsUpdate)) ? $"{Resource.lblAddField} {Resource.lblHyphen} {Resource.lblUpdateField}" : $"{Resource.lblAddField}  {Resource.lblHyphen} {Resource.lblAddField}";
    ViewData["Title"] = $"{string.Format(Resource.lblIsAbove300SeaLevel, Model.Name)} {Resource.lblHyphen} {title}";
    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);

    var backAction = "";
    if (Model.IsCheckAnswer)
    {
        backAction = "CheckAnswer";
    }
    else if (!string.IsNullOrWhiteSpace(Model.EncryptedIsUpdate))
    {
        backAction = "UpdateField";
    }
    else if (Model.IsNVZProgrammeNeedToShow)
    {
        backAction = "NitrateVulnerableZones";
    }
    else if (Model.IsWithinNVZForFarm.HasValue&&Model.IsWithinNVZForFarm.Value)
    {
        backAction = "NVZField";
    }
    else
    {
        backAction = "FieldMeasurements";
    }
    ViewBag.CurrentStep = (int)FieldWizardSteps.ElevationField;
}

@section BeforeContent {
    <govuk-back-link asp-action=@backAction asp-controller="Field">@Resource.lblBack</govuk-back-link>
}
<form asp-action="ElevationField" asp-controller="Field" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/Field/_FieldWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (ViewBag.SoilTypeError != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@ViewBag.SoilTypeError</govuk-error-summary-item>
                </govuk-error-summary>
            }

            <govuk-radios class="govuk-radios--inline" asp-for="@Model.IsAbove300SeaLevel">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblIsAbove300SeaLevel, Model.Name)
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value=@yes>@Resource.lblYes</govuk-radios-item>
                    <govuk-radios-item value=@no>@Resource.lblNo</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">

                @if (!string.IsNullOrWhiteSpace(Model.EncryptedFieldId))
                {
                    <a asp-action="UpdateField" asp-controller="Field">@Resource.lblCancel</a>
                }
                else if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateFieldCancel" asp-controller="Field" asp-route-id="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else if (Model.IsCheckAnswer)
                {
                    <a asp-action="CheckAnswer" asp-controller="Field">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>