@using NMP.Portal.Resources;
@model NMP.Portal.ViewModels.FieldViewModel

@{
    ViewData["Title"] = string.Format(Resource.lblFieldMeasurements, "");
}
@section BeforeContent {
    <govuk-back-link asp-action="AddField" asp-controller="Field" asp-route-EncryptedFarmId="@Model.EncryptedFarmId">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="FieldMeasurements" method="post" asp-controller="Field">
            @Html.AntiForgeryToken()
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Name"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NationalGridReference"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LPIDNumber"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsWithinNVZ"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
            <div class="govuk-form-group">
                <legand class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">@string.Format(Resource.lblFieldMeasurements, "")</h1>
                </legand>
                <div class="govuk-input__wrapper">
                    <govuk-input class="govuk-input--width-5" asp-for="@Model.TotalArea" type="text"></govuk-input>
                    <div class="govuk-input__suffix rainfall-suffix" aria-hidden="true">@Resource.lblHectares</div>
                </div>
                <div class="govuk-input__wrapper">
                    <govuk-input class="govuk-input--width-5" asp-for="@Model.CroppedArea" type="text"></govuk-input>
                    <div class="govuk-input__suffix rainfall-suffix" aria-hidden="true">@Resource.lblHectares</div>
                </div>
                <div class="govuk-input__wrapper">
                    <govuk-input class="govuk-input--width-5" asp-for="@Model.ManureNonSpreadingArea" type="text"></govuk-input>
                    <div class="govuk-input__suffix rainfall-suffix" aria-hidden="true">@Resource.lblHectares</div>
                </div>
            </div>
            <govuk-button type="submit" data-prevent-double-click="true" class="govuk-button margin-bottom-forty margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
        </form>
        <p class="govuk-body cancel-link"><a asp-action="FarmSummary" asp-controller="Farm" asp-route-EncryptedFarmId="@Model.EncryptedFarmId">@Resource.lblCancel</a></p>
    </div>
</div>
