@using NMP.Portal.Resources;
@model NMP.Portal.ViewModels.FieldViewModel

@{
    ViewData["Title"] = string.Format(Resource.lblFieldMeasurements, "");
}
@section BeforeContent {
    <govuk-back-link asp-action="" asp-controller="Field">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <legand class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">@string.Format(Resource.lblFieldMeasurements, "")</h1>
            </legand>
            <div class="govuk-input__wrapper">
                <govuk-input class="govuk-input--width-5" asp-for="@Model.TotalArea" type="text"></govuk-input>
                <div class="govuk-input__suffix rainfall-suffix" aria-hidden="true">@Resource.lblHectares</div>
            </div>
            <div class="govuk-input__wrapper">
                <govuk-input class="govuk-input--width-5" asp-for="@Model.CroppedArea" type="text"></govuk-input>
                <div class="govuk-input__suffix rainfall-suffix" aria-hidden="true">@Resource.lblHectares</div>
            </div>
            <div class="govuk-input__wrapper">
                <govuk-input class="govuk-input--width-5" asp-for="@Model.ManureNonSpreadingArea" type="text"></govuk-input>
                <div class="govuk-input__suffix rainfall-suffix" aria-hidden="true">@Resource.lblHectares</div>
            </div>
        </div>
    </div>
</div>
