@using NMP.Commons.Resources;
@using NMP.Commons.Enums;
@model NMP.Commons.ViewModels.FieldViewModel

@{
    //ViewData["Title"] = string.Format(Resource.lblFieldMeasurements, Model.Name);
    string title = (Model != null && !string.IsNullOrEmpty(Model.EncryptedIsUpdate)) ? Resource.lblUpdateField : Resource.lblAddField;
    ViewData["Title"] = $"{string.Format(Resource.lblFieldMeasurements, Model.Name)} {Resource.lblHyphen} {title}";
    var backAction = "";
    if (Model.IsCheckAnswer)
    {
        backAction = "CheckAnswer";
    }
    else if (!string.IsNullOrWhiteSpace(Model.EncryptedIsUpdate))
    {
        backAction = "UpdateField";
    }
    else
    {
        backAction = (Model.FarmRB209CountryID == (int)NMP.Commons.Enums.RB209Country.Scotland) ? "LPIDNumber" : "AddField";
    }
    ViewBag.CurrentStep = (int)FieldWizardSteps.FieldMeasurment;
}
@section BeforeContent {
    <govuk-back-link asp-action=@backAction asp-controller="Field" asp-route-q="@Model.EncryptedFarmId">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="FieldMeasurements" method="post" asp-controller="Field" autocomplete="off">
            @Html.AntiForgeryToken()
            @await Html.PartialAsync("~/Views/Field/_FieldWizardHiddenFields.cshtml", Model)
            <govuk-fieldset>
                <govuk-fieldset-legend class="govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">@string.Format(Resource.lblFieldMeasurements, Model.Name)</h1>
                </govuk-fieldset-legend>
                <govuk-input name="TotalArea" asp-for=@Model.TotalArea type="number" inputmode="decimal"
                             pattern="^\d+(\.\d{0,2})?$" step="any" input-class="govuk-input--width-5" spellcheck="false">
                    <govuk-input-label>@Resource.lblTotalFieldArea
                        <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblHectares)</span>
                    </govuk-input-label>

                    <govuk-input-suffix>@Resource.lblHectares.ToLower()</govuk-input-suffix>
                </govuk-input>
                <govuk-input name="CroppedArea" asp-for=@Model.CroppedArea type="number" step="any" input-class="govuk-input--width-5" spellcheck="false">
                    <govuk-input-label>
                        @Resource.lblCroppedAreaForCheckAnswere
                        <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblHectares)</span>
                    </govuk-input-label>

                    <govuk-input-suffix>@Resource.lblHectares.ToLower()</govuk-input-suffix>
                </govuk-input>
                <govuk-input name="ManureNonSpreadingArea" asp-for=@Model.ManureNonSpreadingArea type="number" step="any" input-class="govuk-input--width-5" spellcheck="false">
                    <govuk-input-label>
                        @Resource.lblManureNonSpreadingAreaForCheckAnswere
                        <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblHectares)</span> 
                        @Resource.lblOptional
                    </govuk-input-label>

                    <govuk-input-suffix>@Resource.lblHectares.ToLower()</govuk-input-suffix>
                </govuk-input>
            </govuk-fieldset>
            <govuk-button type="submit" data-prevent-double-click="true" class="govuk-button margin-bottom-forty margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
        </form>
        <p class="govuk-body cancel-link">

            @if (!string.IsNullOrWhiteSpace(Model.EncryptedFieldId))
            {
                <a asp-action="UpdateField" asp-controller="Field">@Resource.lblCancel</a>
            }
            else if (!Model.IsCheckAnswer)
            {
                <a asp-action="CreateFieldCancel" asp-controller="Field" asp-route-id="@Model.EncryptedFarmId">@Resource.lblCancel</a>
            }
            else if (Model.IsCheckAnswer)
            {
                <a asp-action="CheckAnswer" asp-controller="Field">@Resource.lblCancel</a>
            }
        </p>
    </div>
</div>
