@using NMP.Portal.Resources
@using System.Globalization
@using NMP.Portal.ViewModels

@model FieldViewModel
@{
    ViewData["Title"] = Resource.lblFieldSoilAnalysisDetail;

}

@if (ViewBag.Error != null)
{
    <govuk-error-summary>
        <govuk-error-summary-item href="#">@ViewBag.Error</govuk-error-summary-item>
    </govuk-error-summary>
}
@if (Model != null)
{
    @section BeforeContent {
    <govuk-breadcrumbs class="govuk-breadcrumbs-link">
        <govuk-breadcrumbs-item asp-action="FarmList" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
            @Resource.lblAllFarm
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
            @Model.FarmName
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item asp-action="ManageFarmFields" asp-controller="Field" asp-route-Id="@Model.EncryptedFarmId">
            @Resource.lblFields
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item class="govuk-breadcrumbs__list-item">
            @Model.Name
        </govuk-breadcrumbs-item>

    </govuk-breadcrumbs>
    }
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (ViewBag.Success != null && ViewBag.Success == Resource.lblTrue)
            {
                @if (ViewBag.SuccessMsgContent != null)
                {

                    <govuk-notification-banner type="Success">
                        <div class="">
                            <h3 class="govuk-notification-banner__heading">@ViewBag.SuccessMsgContent</h3>
                        </div>
                        @if (ViewBag.SuccessMsgAdditionalContent != null)
                        {
                            <div>
                                <p class="govuk-body">
                                    @string.Format(ViewBag.SuccessMsgAdditionalContent)
                                    @if (ViewBag.SuccessMsgAdditionalContentSecond != null)
                                    {
                                        <a class="govuk-link" asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@ViewBag.CropYear">@ViewBag.SuccessMsgAdditionalContentSecond</a>
                                    }
                                    @if (ViewBag.SuccessMsgAdditionalContentThird != null)
                                    {
                                        @ViewBag.SuccessMsgAdditionalContentThird
                                    }
                                </p>
                            </div>
                        }
                    </govuk-notification-banner>
                }

            }

            <h1 class="govuk-heading-l">@Model.Name</h1>
            <h2 class="govuk-heading-m plan_title">@Resource.lblFieldDetails</h2>

            <table class="govuk-table">

                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblFieldArea</td>
                        <td class="govuk-table__cell">@(string.Format(Resource.lblHectare, Model.TotalArea))</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblCropedArea</td>
                        <td class="govuk-table__cell">@(string.Format(Resource.lblHectare, Model.CroppedArea))</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblManureNonSpreadArea</td>
                        <td class="govuk-table__cell">@(string.Format(Resource.lblHectare, Model.ManureNonSpreadingArea))</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblSoilType</td>
                        <td class="govuk-table__cell">@Model.SoilType</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblSoilContainsPostashReleasingClay</td>
                        <td class="govuk-table__cell">@(Model.SoilReleasingClay == true ? Resource.lblYes : Resource.lblNo)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblIsTheSoilOverChalk</td>
                        <td class="govuk-table__cell">@(Model.SoilOverChalk == true ? Resource.lblYes : Resource.lblNo)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblIsFieldWithinNVZ</td>
                        <td class="govuk-table__cell">@(Model.IsWithinNVZ == true ? Resource.lblYes : Resource.lblNo)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblIsFieldAbove300Meters</td>
                        <td class="govuk-table__cell">@(Model.IsAbove300SeaLevel == true ? Resource.lblYes : Resource.lblNo)</td>
                    </tr>
                </tbody>
            </table>
            <p class="govuk-body margin-bottom-forty"><a asp-action="UpdateField" asp-controller="Field" asp-route-id="@Model.EncryptedFieldId" asp-route-farmId="@Model.EncryptedFarmId">@Resource.lblChangeFieldDetails</a></p>
            <p class="govuk-body margin-bottom-forty">@string.Format(Resource.MsgRemoveField, Model.Name)</p>
            <p class="govuk-body margin-bottom-forty"><a asp-action="FieldRemove" asp-controller="Field">@string.Format(Resource.lblRemoveField, Model.Name)</a></p>

            @if (ViewBag.SoilAnalysisList != null && ViewBag.SoilAnalysisList.Count > 0)
            {
                <hr class="big_seperator">
                <h2 class="govuk-heading-m">@Resource.lblSoilAnalysis</h2>

                <p class="govuk-body margin margin-bottom-forty"><a asp-controller="SoilAnalysis" asp-action="IsSoilAnalysisAdded" asp-route-i="@Model.EncryptedFieldId" asp-route-j="@Model.EncryptedFarmId">@Resource.lblAddNewSoilAnalysis</a></p>

                <table class="govuk-table field-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">@Resource.lblDateSample</th>
                            <th scope="col" class="govuk-table__header"> </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var soilAnalysis in ViewBag.SoilAnalysisList)
                        {
                            <tr class="govuk-table__row right-last">
                                <td class="govuk-table__cell">@soilAnalysis.Date.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB"))</td>
                                <td class="govuk-table__cell">
                                    <a asp-action="SoilAnalysisDetail" asp-controller="SoilAnalysis" asp-route-i="@Model.EncryptedFieldId" asp-route-j="@Model.EncryptedFarmId" asp-route-l="@soilAnalysis.EncryptedSoilAnalysisId">@Resource.lblViewSoilAnalysis</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}

