@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.FieldViewModel
@{
    //ViewData["Title"] = string.Format(Resource.lblDoesFieldTypicallyHaveMoreThan30PercentClover, Model.Name);
    ViewData["Title"] = $"{string.Format(Resource.lblDoesFieldTypicallyHaveMoreThan30PercentClover, Model.Name)} {Resource.lblHyphen} {Resource.lblAddField}";
    var yes = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.False);
    var backAction = "";
    if (Model.IsCheckAnswer && (!Model.IsHasGrassInLastThreeYearChange))
    {
        backAction = "CheckAnswer";
    }
    else
    {
        backAction = "GrassManagementOptions";
    }
    
}

@section BeforeContent {
    <govuk-back-link asp-action=@backAction asp-controller="Field">@Resource.lblBack</govuk-back-link>
}
<form asp-action="HasGreaterThan30PercentClover" asp-controller="Field" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <div hidden="true">
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Name"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NationalGridReference"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LPIDNumber"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalArea"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CroppedArea"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureNonSpreadingArea"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAbove300SeaLevel"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsSoilNutrientValueTypeIndex" value="@Model.IsSoilNutrientValueTypeIndex.ToString().ToLower()"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilTypeID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilReleasingClay"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsSoilReleasingClay" value="@Model.IsSoilReleasingClay.ToString().ToLower()"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilAnalyses.SulphurDeficient"/>
        <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilAnalyses.Date"></govuk-date-input>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilAnalyses.PH"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilAnalyses.MagnesiumIndex"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilAnalyses.PhosphorusIndex"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PotassiumIndexValue"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilAnalyses.PhosphorusMethodologyID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilAnalyses.Magnesium"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilAnalyses.Phosphorus"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilAnalyses.Potassium"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.isEnglishRules" value="@Model.isEnglishRules.ToString().ToLower()"/>

        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroupId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OtherReference"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilType"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroup"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropType"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAbove300SeaLevelForFarm" value="@Model.IsAbove300SeaLevelForFarm.ToString().ToLower()"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsWithinNVZForFarm" value="@Model.IsWithinNVZForFarm.ToString().ToLower()"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LastHarvestYear"/>
        <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SampleForSoilMineralNitrogen" value="@Model.SampleForSoilMineralNitrogen"></govuk-date-input>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RecentSoilAnalysisQuestion" value="@Model.RecentSoilAnalysisQuestion.ToString().ToLower()"/>

        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilOverChalk" value="@Model.SoilOverChalk.ToString().ToLower()"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedIsUpdate"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsWithinNVZ"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CopyExistingField" value="@Model.CopyExistingField.ToString().ToLower()"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear"/>

        @if (Model != null)
        {
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppings.CropGroupID" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppings.CropTypeID" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppings.HasGrassInLastThreeYear"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppings.HarvestYear"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppings.GrassManagementOptionID"/>
            
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsHasGrassInLastThreeYearChange" value="@Model.IsHasGrassInLastThreeYearChange.ToString().ToLower()"/>
            @* <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppings.HasGreaterThan30PercentClover"/> *@
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppings.SoilNitrogenSupplyItemID"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppings.LayDuration"/>
            @if (Model.PreviousGrassYears != null && Model.PreviousGrassYears.Count > 0)
            {
                @for (int i = 0; i < Model.PreviousGrassYears.Count; i++)
                {
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousGrassYears[i]" value="@Model.PreviousGrassYears[i]"/>
                }
            }
            @if (Model.PreviousCroppingsList != null && Model.PreviousCroppingsList.Count > 0)
            {
                @for (int i = 0; i < Model.PreviousCroppingsList.Count; i++)
                {
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppingsList[i].ID" value="@Model.PreviousCroppingsList[i].ID" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppingsList[i].FieldID" value="@Model.PreviousCroppingsList[i].FieldID" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppingsList[i].CropGroupID" value="@Model.PreviousCroppingsList[i].CropGroupID" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppingsList[i].CropTypeID" value="@Model.PreviousCroppingsList[i].CropTypeID" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppingsList[i].HasGrassInLastThreeYear" value="@Model.PreviousCroppingsList[i].HasGrassInLastThreeYear" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppingsList[i].HarvestYear" value="@Model.PreviousCroppingsList[i].HarvestYear" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppingsList[i].LayDuration" value="@Model.PreviousCroppingsList[i].LayDuration" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppingsList[i].GrassManagementOptionID" value="@Model.PreviousCroppingsList[i].GrassManagementOptionID" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppingsList[i].HasGreaterThan30PercentClover" value="@Model.PreviousCroppingsList[i].HasGreaterThan30PercentClover" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppingsList[i].SoilNitrogenSupplyItemID" value="@Model.PreviousCroppingsList[i].SoilNitrogenSupplyItemID" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppingsList[i].CreatedOn" value="@Model.PreviousCroppingsList[i].CreatedOn" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppingsList[i].CreatedByID" value="@Model.PreviousCroppingsList[i].CreatedByID" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppingsList[i].ModifiedOn" value="@Model.PreviousCroppingsList[i].ModifiedOn" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCroppingsList[i].ModifiedByID" value="@Model.PreviousCroppingsList[i].ModifiedByID" />
                }
            }
        }
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsPreviousYearGrass" value="@Model.IsPreviousYearGrass.ToString().ToLower()"/>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (TempData["Error"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["Error"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
            <govuk-radios class="govuk-radios--inline" asp-for="@Model.PreviousCroppings.HasGreaterThan30PercentClover">

                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblDoesFieldTypicallyHaveMoreThan30PercentClover, Model.Name)
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value=@yes>@Resource.lblYes</govuk-radios-item>
                    <govuk-radios-item value=@no>@Resource.lblNo</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!string.IsNullOrWhiteSpace(Model.EncryptedFieldId))
                {
                    <a asp-action="UpdateField" asp-controller="Field">@Resource.lblCancel</a>
                }
                else if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateFieldCancel" asp-controller="Field" asp-route-id="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="Field">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>