@using NMP.Portal.Resources
@using NMP.Portal.ViewModels
@model FarmFieldsViewModel
@{
    ViewData["Title"] = Resource.lblManageFarmFields;
}

@if (ViewBag.Error != null)
{
    <govuk-error-summary>
        <govuk-error-summary-item href="#">@ViewBag.Error</govuk-error-summary-item>
    </govuk-error-summary>
}
@if (Model != null)
{
    @section BeforeContent {
    <govuk-breadcrumbs class="govuk-breadcrumbs-link">
        <govuk-breadcrumbs-item asp-action="FarmList" asp-controller="Farm">
            @Resource.lblAllFarm
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
            @Model.FarmName
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item class="govuk-breadcrumbs__list-item">
            @Resource.lblManageFieldDetailsAndSoilAnalysis
        </govuk-breadcrumbs-item>
    </govuk-breadcrumbs>
    }
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (ViewBag.Success != null && ViewBag.Success == true)
            {
                <govuk-notification-banner type="Success">
                    <div class="">
                        <h3 class="govuk-notification-banner__heading"> @string.Format(Resource.lblYouHaveAdded, Model.FieldName)</h3>
                        <p class="govuk-body">
                        <a class="govuk-notification-banner__link" asp-action="AddField" asp-controller="Field" asp-route-q="@Model.EncryptedFarmId">@Resource.lblAddAnotherField</a>
                        @Resource.lblOr</p>
                        <a class="govuk-notification-banner__link" asp-action="AddField" asp-controller="Field" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCreateANutrientManagementPlan</a>
                    </div>
                </govuk-notification-banner>
            }

            <h1 class="govuk-heading-l">@string.Format(Resource.lblFarmFields,Model.FarmName)</h1>
            <p class="govuk-body">
                <a class="govuk-notification-banner__link" asp-action="AddField" asp-controller="Field" asp-route-q="@Model.EncryptedFarmId">@Resource.lblAddAnotherField</a>
            </p>
            <h2 class="govuk-heading-m">
                @Resource.lblCurrentFields
            </h2>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th id="field_name" scope="col" class="govuk-table__header">@Resource.lblFieldName</th>
                        <th scope="col" class="govuk-table__header"> </th>
                        <th scope="col" class="govuk-table__header"> </th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @if (ViewBag.FieldsList != null)
                    {
                        @foreach (var item in ViewBag.FieldsList)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@item.Name</td>
                                <td class="govuk-table__cell">
                                    <a href="#">@Resource.lblFieldAndSoilDetails</a>
                                </td>
                            </tr>
                        }
                    }
                    

                </tbody>
            </table>
        </div>
    </div>
}

