@using NMP.Commons.Resources;
@using NMP.Commons.Enums;
@model NMP.Commons.ViewModels.FieldViewModel

@{
    string title = (Model != null && !string.IsNullOrEmpty(Model.EncryptedIsUpdate)) ? Resource.lblUpdateField : Resource.lblAddField;
    ViewData["Title"] = $"{string.Format(Resource.lblWhichNitrateVulnerableZoneNVZIsIn, Model.Name)} {Resource.lblHyphen} {title}";
    var backAction = "";
    if (Model.IsCheckAnswer)
    {
        backAction = "CheckAnswer";
    }
    else if (!string.IsNullOrWhiteSpace(Model.EncryptedIsUpdate))
    {
        backAction = "UpdateField";
    }
    else
    {
        backAction = (Model.IsWithinNVZForFarm.HasValue && Model.IsWithinNVZForFarm.Value) ? "NVZField" : "FieldMeasurements";
    }
    ViewBag.CurrentStep = (int)FieldWizardSteps.NVZProgramme;
}
@section BeforeContent {
    <govuk-back-link asp-action=@backAction asp-controller="Field" asp-route-q="@Model.EncryptedFarmId">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="NitrateVulnerableZones" method="post" asp-controller="Field" autocomplete="off">
            @Html.AntiForgeryToken()
            @await Html.PartialAsync("~/Views/Field/_FieldWizardHiddenFields.cshtml", Model)
            <govuk-radios class="govuk-radios--inline" asp-for="@Model.NVZProgrammeID">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblWhichNitrateVulnerableZoneNVZIsIn, Model.Name)
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-hint>
                        @Html.Raw(Resource.lblViewAMapOfNitrateVulnerableZones)
                        <br/>
                        <br />
                        @Resource.lblSelectOneOption
                    </govuk-radios-hint>
                    @foreach (var item in ViewBag.FarmsNvzList ?? Enumerable.Empty<dynamic>())
                    {
                        <govuk-radios-item value="@item.NVZProgrammeID">
                            @item.NVZProgrammeName
                        </govuk-radios-item>
                    }
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" data-prevent-double-click="true" class="govuk-button margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
        </form>
        <p class="govuk-body cancel-link">

            @if (!string.IsNullOrWhiteSpace(Model.EncryptedFieldId))
            {
                <a asp-action="UpdateField" asp-controller="Field">@Resource.lblCancel</a>
            }
            else if (!Model.IsCheckAnswer)
            {
                <a asp-action="CreateFieldCancel" asp-controller="Field" asp-route-id="@Model.EncryptedFarmId">@Resource.lblCancel</a>
            }
            else if (Model.IsCheckAnswer)
            {
                <a asp-action="CheckAnswer" asp-controller="Field">@Resource.lblCancel</a>
            }
        </p>
    </div>
</div>
