@using NMP.Commons.Resources
@using NMP.Commons.Enums
@model NMP.Commons.ViewModels.FieldViewModel
@{

    ViewData["Title"] = $"{string.Format(Resource.lblDateSampleTaken, Model.Name)} {Resource.lblHyphen} {Resource.lblAddField}";
    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
    var backAction = Model.IsSoilReleasingClay == true ? "SoilReleasingClay" :
                    "SulphurDeficient";
    ViewBag.CurrentStep = (int)FieldWizardSteps.SoilAnalysisDate;
}

@section BeforeContent {
    <govuk-back-link asp-action="@((Model.IsCheckAnswer && (!Model.IsRecentSoilAnalysisQuestionChange)) ? "CheckAnswer" : "SulphurDeficient")" asp-controller="Field">@Resource.lblBack</govuk-back-link>
}
<form asp-action="SoilDate" asp-controller="Field" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/Field/_FieldWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (TempData["SoilDateError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["SoilDateError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
            <govuk-date-input for="@Model.SoilAnalyses.Date">
                <govuk-date-input-fieldset>
                    <govuk-date-input-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblDateSampleTaken, Model.Name)
                    </govuk-date-input-fieldset-legend>
                    <govuk-date-input-hint>
                        @string.Format(Resource.MsgDateExample, DateTime.Now.Year - 1)
                    </govuk-date-input-hint>
                    <govuk-date-input-day maxlength="2" pattern="[0-9]*"></govuk-date-input-day>
                    <govuk-date-input-month maxlength="2" pattern="[0-9]*"></govuk-date-input-month>
                    <govuk-date-input-year maxlength="4" pattern="[0-9]*"></govuk-date-input-year>
                </govuk-date-input-fieldset>
            </govuk-date-input>

            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateFieldCancel" asp-controller="Field" asp-route-id="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="Field">@Resource.lblCancel</a>
                }
            </p>
        </div>

    </div>
</form>