@using NMP.Portal.Resources
@using NMP.Portal.ViewModels
@model FieldViewModel

@{
    ViewData["Title"] = $"{string.Format(Resource.lblAddSoilAnalysis, Model.Name)} {Resource.lblHyphen} {Resource.lblAddField}";
    var isOlderThanFiveYears = false;
    var currentYear = System.DateTime.Now.Year;
    if (Model.SoilAnalyses.Date != null && Model.SoilAnalyses.Date.Value.Year < currentYear)
    {
        var yearGap = currentYear - Model.SoilAnalyses.Date.Value.Year;
        if (yearGap > 5)
        {
            isOlderThanFiveYears = true;
        }
    }
    var isFieldsEmpty = false;
    if (ViewData["IsPostRequest"] != null)
    {
        isFieldsEmpty = Model.SoilAnalyses.PH == null && ((Model.SoilAnalyses.PhosphorusIndex == null && string.IsNullOrWhiteSpace(Model.PotassiumIndexValue) && Model.SoilAnalyses.MagnesiumIndex == null)
        || (Model.SoilAnalyses.Phosphorus == null && Model.SoilAnalyses.Potassium == null && Model.SoilAnalyses.Magnesium == null));
    }

}

@section BeforeContent {
    <govuk-back-link asp-action="@((Model.IsCheckAnswer && (!Model.IsRecentSoilAnalysisQuestionChange)) ? "CheckAnswer" : "SoilNutrientValueType")" asp-controller="Field">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (ViewBag.Error != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@ViewBag.Error</govuk-error-summary-item>
            </govuk-error-summary>
        }


        <form asp-action="SoilNutrientValue" method="post" asp-controller="Field" autocomplete="off">
            @Html.AntiForgeryToken()
            <div hidden="true">
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Name"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalArea"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CroppedArea"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureNonSpreadingArea"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NationalGridReference"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LPIDNumber"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmID"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsWithinNVZ"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAbove300SeaLevel"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsSoilNutrientValueTypeIndex" value="@Model.IsSoilNutrientValueTypeIndex.ToString().ToLower()"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilTypeID"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilReleasingClay"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsSoilReleasingClay" value="@Model.IsSoilReleasingClay.ToString().ToLower()"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilAnalyses.SulphurDeficient"></govuk-input>
                <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilAnalyses.Date"></govuk-date-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.isEnglishRules" value="@Model.isEnglishRules.ToString().ToLower()"></govuk-input>

                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeID"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroupId"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OtherReference"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilAnalyses.PhosphorusMethodologyID"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilType"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroup"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropType"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAbove300SeaLevelForFarm" value="@Model.IsAbove300SeaLevelForFarm.ToString().ToLower()"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsWithinNVZForFarm" value="@Model.IsWithinNVZForFarm.ToString().ToLower()"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LastHarvestYear"></govuk-input>
                <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SampleForSoilMineralNitrogen" value="@Model.SampleForSoilMineralNitrogen"></govuk-date-input>

                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RecentSoilAnalysisQuestion" value="@Model.RecentSoilAnalysisQuestion.ToString().ToLower()"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsRecentSoilAnalysisQuestionChange" value="@Model.IsRecentSoilAnalysisQuestionChange.ToString().ToLower()"></govuk-input>

                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilOverChalk" value="@Model.SoilOverChalk.ToString().ToLower()"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear"></govuk-input>
                @if (Model != null)
                {
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousGrasses.HasGrassInLastThreeYear"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousGrasses.HarvestYear"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousGrasses.GrassManagementOptionID"></govuk-input>

                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousGrasses.HasGreaterThan30PercentClover"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousGrasses.SoilNitrogenSupplyItemID"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousGrasses.LayDuration"></govuk-input>
                    @if (Model.PreviousGrassYears != null && Model.PreviousGrassYears.Count > 0)
                    {
                        @for (int i = 0; i < Model.PreviousGrassYears.Count; i++)
                        {
                            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousGrassYears[i]" value="@Model.PreviousGrassYears[i]"></govuk-input>
                        }
                    }
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsPreviousYearGrass" value="@Model.IsPreviousYearGrass.ToString().ToLower()"></govuk-input>
                }
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CopyExistingField" value="@Model.CopyExistingField.ToString().ToLower()"></govuk-input>
            </div>
            @if (isFieldsEmpty)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#SoilAnalyses_PH">@Resource.MsgForPhPhosphorusPotassiumMagnesium</govuk-error-summary-item>
                </govuk-error-summary>
            }
            <div class="govuk-form-group @(isFieldsEmpty ? "govuk-form-group--error" : "")">
                <govuk-fieldset>
                    <govuk-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblAddSoilAnalysis, Model.Name)
                    </govuk-fieldset-legend>
                    @if (isOlderThanFiveYears)
                    {
                        <govuk-inset-text>
                            @Resource.MsgSoilAnalysisOlderThanFiveYears
                        </govuk-inset-text>
                    }
                    <p class="govuk-body">
                        @Resource.MsgEnterTheValueOYourSoilAnalysisHint1
                    </p>
                    <p class="govuk-body">
                        @Resource.MsgEnterTheValueOYourSoilAnalysisHint2
                    </p>
                    <p class="govuk-body">
                        @Resource.MsgEnterTheValueOYourSoilAnalysisHint3
                    </p>
                    @if (isFieldsEmpty)
                    {
                        <govuk-error-message asp-for="@Model.SoilAnalyses.PH">
                            @Resource.MsgForPhPhosphorusPotassiumMagnesium
                        </govuk-error-message>
                    }
                    @if (Model.IsSoilNutrientValueTypeIndex.HasValue && Model.IsSoilNutrientValueTypeIndex.Value)
                    {
                        <govuk-input asp-for="@Model.SoilAnalyses.PH" input-class="govuk-input--width-5" spellcheck="false" type="number" step="any">
                            <govuk-input-label is-page-heading="false">@Resource.lblPHLevelOption</govuk-input-label>
                        </govuk-input>
                        <govuk-input asp-for="@Model.SoilAnalyses.PhosphorusIndex" type="number" step="1" input-class="govuk-input--width-5">
                            <govuk-input-label is-page-heading="false">@Resource.lblPhosphorusIndexOptional</govuk-input-label>
                        </govuk-input>
                        <govuk-input input-class="govuk-input--width-5" asp-for="@Model.PotassiumIndexValue">
                            <govuk-input-label is-page-heading="false">@Resource.lblPotassiumIndexOptional</govuk-input-label>
                        </govuk-input>
                        <govuk-input input-class="govuk-input--width-5" asp-for="@Model.SoilAnalyses.MagnesiumIndex" type="number" step="1">
                            <govuk-input-label is-page-heading="false">@Resource.lblMagnesiumIndexOptional</govuk-input-label>
                        </govuk-input>
                    }
                    else
                    {
                        <govuk-input asp-for="@Model.SoilAnalyses.PH" input-class="govuk-input--width-5" spellcheck="false" type="number" step="any">
                            <govuk-input-label is-page-heading="false">@Resource.lblPHLevelOption</govuk-input-label>
                        </govuk-input>
                        <govuk-input asp-for=@Model.SoilAnalyses.Phosphorus type="number" step="1" input-class="govuk-input--width-5" spellcheck="false">
                            <govuk-input-label is-page-heading="false">
                                @Resource.lblPhosphorusPPerLitreOfSoil
                                <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblMgL)</span>@Resource.lblOptional
                            </govuk-input-label>
                            <govuk-input-suffix>@Resource.lblMgL</govuk-input-suffix>
                        </govuk-input>
                        <govuk-input asp-for=@Model.SoilAnalyses.Potassium type="number" step="1" input-class="govuk-input--width-5" spellcheck="false">
                            <govuk-input-label is-page-heading="false">
                                @Resource.lblPotassiumPerLitreOfSoil
                                <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblMgL)</span>@Resource.lblOptional
                            </govuk-input-label>
                            <govuk-input-suffix>@Resource.lblMgL</govuk-input-suffix>
                        </govuk-input>
                        <govuk-input asp-for=@Model.SoilAnalyses.Magnesium type="number" step="1" input-class="govuk-input--width-5" spellcheck="false">
                            <govuk-input-label is-page-heading="false">
                                @Resource.lblMagnesiumPerLitreOfSoil
                                <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblMgL)</span>@Resource.lblOptional
                            </govuk-input-label>
                            <govuk-input-suffix>@Resource.lblMgL</govuk-input-suffix>
                        </govuk-input>
                    }
                </govuk-fieldset>
            </div>


            <govuk-button type="submit" data-prevent-double-click="true" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
        </form>
        <p class="govuk-body cancel-link">
            @if (!Model.IsCheckAnswer)
            {
                <a asp-action="CreateFieldCancel" asp-controller="Field" asp-route-id="@Model.EncryptedFarmId">@Resource.lblCancel</a>
            }
            else
            {
                <a asp-action="CheckAnswer" asp-controller="Field">@Resource.lblCancel</a>
            }
        </p>
    </div>
</div>