@using NMP.Commons.Resources
@using NMP.Commons.Enums
@model NMP.Commons.ViewModels.FieldViewModel

@{
    string heading = string.Format(Resource.lblWhatIsSoilType, Model.Name);
    string title = !string.IsNullOrEmpty(Model.EncryptedIsUpdate)
        ? Resource.lblUpdateField
        : Resource.lblAddField;

    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {title}";

    var backAction = "";
    if (Model.IsCheckAnswer)
    {
        backAction = "CheckAnswer";
    }
    else if (!string.IsNullOrWhiteSpace(Model.EncryptedIsUpdate))
    {
        backAction = "UpdateField";
    }
    else if (Model.IsAbove300SeaLevelForFarm.HasValue && Model.IsAbove300SeaLevelForFarm.Value)
    {
        backAction = "ElevationField";
    }
    else if (Model.IsNVZProgrammeNeedToShow)
    {
        backAction = "NitrateVulnerableZones";
    }
    else if (Model.IsWithinNVZForFarm.HasValue && Model.IsWithinNVZForFarm.Value)
    {
        backAction = "NVZField";
    }
    else
    {
        backAction = "FieldMeasurements";
    }


    string cancelAction = "CheckAnswer";
    if (!Model.IsCheckAnswer)
    {
        cancelAction = (!string.IsNullOrWhiteSpace(Model.EncryptedFieldId)) ? "UpdateField" :
          "CreateFieldCancel";
    }
    ViewBag.CurrentStep = (int)FieldWizardSteps.SoilType;
}

@section BeforeContent {
    <govuk-back-link asp-action="@backAction" asp-controller="Field">
        @Resource.lblBack
    </govuk-back-link>
}

<form asp-action="SoilType" asp-controller="Field" method="post" autocomplete="off">
    @Html.AntiForgeryToken()

    <!-- ===================== Hidden Fields ===================== -->
    @await Html.PartialAsync("~/Views/Field/_FieldWizardHiddenFields.cshtml", Model)
    <!-- ===================== End Hidden Fields ===================== -->

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (TempData["Error"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">
                        @TempData["Error"]
                    </govuk-error-summary-item>
                </govuk-error-summary>
            }

            <govuk-radios asp-for="SoilTypeID">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true"
                                                  class="govuk-fieldset__legend--l">
                        @heading
                    </govuk-radios-fieldset-legend>

                    <govuk-radios-hint>
                        @string.Format(Resource.lblTheseOptionsComeFromRB209, Resource.lblSoilTypes)
                    </govuk-radios-hint>

                    @foreach (var item in ViewBag.SoilTypesList ?? Enumerable.Empty<dynamic>())
                    {
                        <govuk-radios-item value="@item.SoilTypeId">
                            @item.SoilType
                        </govuk-radios-item>
                    }
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>

            <p class="govuk-body cancel-link">

                <a asp-controller="Field"
                   asp-action=@cancelAction
                   asp-route-id="@(Model.IsCheckAnswer ? null : Model.EncryptedFarmId)">
                    @Resource.lblCancel
                </a>
            </p>

        </div>
    </div>
</form>
