@using NMP.Commons.Resources
@using NMP.Commons.Enums
@using NMP.Commons.ViewModels
@model FieldViewModel

@{
    ViewData["Title"] = $"{string.Format(Resource.lblAddSoilAnalysis, Model.Name)} {Resource.lblHyphen} {Resource.lblAddField}";
    var isOlderThanFiveYears = false;
    var currentYear = System.DateTime.Now.Year;
    if (Model.SoilAnalyses.Date != null && Model.SoilAnalyses.Date.Value.Year < currentYear)
    {
        var yearGap = currentYear - Model.SoilAnalyses.Date.Value.Year;
        if (yearGap > 5)
        {
            isOlderThanFiveYears = true;
        }
    }
    var isFieldsEmpty = false;
    if (ViewData["IsPostRequest"] != null)
    {
        isFieldsEmpty = Model.SoilAnalyses.PH == null && ((Model.SoilAnalyses.PhosphorusIndex == null && string.IsNullOrWhiteSpace(Model.PotassiumIndexValue) && Model.SoilAnalyses.MagnesiumIndex == null)
        || (Model.SoilAnalyses.Phosphorus == null && Model.SoilAnalyses.Potassium == null && Model.SoilAnalyses.Magnesium == null));
    }
    ViewBag.CurrentStep = (int)FieldWizardSteps.SoilNutrientValue;
}

@section BeforeContent {
    <govuk-back-link asp-action="@((Model.IsCheckAnswer && (!Model.IsRecentSoilAnalysisQuestionChange)) ? "CheckAnswer" : "SoilNutrientValueType")" asp-controller="Field">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (ViewBag.Error != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@ViewBag.Error</govuk-error-summary-item>
            </govuk-error-summary>
        }


        <form asp-action="SoilNutrientValue" method="post" asp-controller="Field" autocomplete="off">
            @Html.AntiForgeryToken()
            @await Html.PartialAsync("~/Views/Field/_FieldWizardHiddenFields.cshtml", Model)
            @if (isFieldsEmpty)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#SoilAnalyses_PH">@Resource.MsgForPhPhosphorusPotassiumMagnesium</govuk-error-summary-item>
                </govuk-error-summary>
            }
            <div class="govuk-form-group @(isFieldsEmpty ? "govuk-form-group--error" : "")">
                <govuk-fieldset>
                    <govuk-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblAddSoilAnalysis, Model.Name)
                    </govuk-fieldset-legend>
                    @if (isOlderThanFiveYears)
                    {
                        <govuk-inset-text>
                            @Resource.MsgSoilAnalysisOlderThanFiveYears
                        </govuk-inset-text>
                    }
                    <p class="govuk-body">
                        @Resource.MsgEnterTheValueOYourSoilAnalysisHint1
                    </p>
                    @if (isFieldsEmpty)
                    {
                        <govuk-error-message asp-for="@Model.SoilAnalyses.PH">
                            @Resource.MsgForPhPhosphorusPotassiumMagnesium
                        </govuk-error-message>
                    }
                    @if (Model.IsSoilNutrientValueTypeIndex.HasValue && Model.IsSoilNutrientValueTypeIndex.Value)
                    {
                        <govuk-input asp-for="@Model.SoilAnalyses.PH" input-class="govuk-input--width-5" spellcheck="false" type="number" step="any">
                            <govuk-input-label is-page-heading="false">@Resource.lblPHLevelOption</govuk-input-label>
                        </govuk-input>
                        <govuk-input asp-for="@Model.SoilAnalyses.PhosphorusIndex" type="number" step="1" input-class="govuk-input--width-5">
                            <govuk-input-label is-page-heading="false">@Resource.lblPhosphorusIndexOptional</govuk-input-label>
                            <govuk-input-hint>@Resource.MsgEnterTheValueOYourSoilAnalysisHint3</govuk-input-hint>
                        </govuk-input>
                        <govuk-input input-class="govuk-input--width-5" asp-for="@Model.PotassiumIndexValue">
                            <govuk-input-label is-page-heading="false">@Resource.lblPotassiumIndexOptional</govuk-input-label>
                        </govuk-input>
                        <govuk-input input-class="govuk-input--width-5" asp-for="@Model.SoilAnalyses.MagnesiumIndex" type="number" step="1">
                            <govuk-input-label is-page-heading="false">@Resource.lblMagnesiumIndexOptional</govuk-input-label>
                        </govuk-input>
                    }
                    else
                    {
                        <govuk-input asp-for="@Model.SoilAnalyses.PH" input-class="govuk-input--width-5" spellcheck="false" type="number" step="any">
                            <govuk-input-label is-page-heading="false">@Resource.lblPHLevelOption</govuk-input-label>
                        </govuk-input>
                        <govuk-input asp-for=@Model.SoilAnalyses.Phosphorus type="number" step="1" input-class="govuk-input--width-5" spellcheck="false">
                            <govuk-input-label is-page-heading="false">
                                @Resource.lblPhosphorusPPerLitreOfSoil
                                <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblMgL)</span>@Resource.lblOptional
                            </govuk-input-label>
                            <govuk-input-suffix>@Resource.lblMgL</govuk-input-suffix>
                        </govuk-input>
                        <govuk-input asp-for=@Model.SoilAnalyses.Potassium type="number" step="1" input-class="govuk-input--width-5" spellcheck="false">
                            <govuk-input-label is-page-heading="false">
                                @Resource.lblPotassiumPerLitreOfSoil
                                <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblMgL)</span>@Resource.lblOptional
                            </govuk-input-label>
                            <govuk-input-suffix>@Resource.lblMgL</govuk-input-suffix>
                        </govuk-input>
                        <govuk-input asp-for=@Model.SoilAnalyses.Magnesium type="number" step="1" input-class="govuk-input--width-5" spellcheck="false">
                            <govuk-input-label is-page-heading="false">
                                @Resource.lblMagnesiumPerLitreOfSoil
                                <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblMgL)</span>@Resource.lblOptional
                            </govuk-input-label>
                            <govuk-input-suffix>@Resource.lblMgL</govuk-input-suffix>
                        </govuk-input>
                    }
                
                </govuk-fieldset>
             
            </div>
            <govuk-input asp-for=@Model.SoilAnalyses.OrganicMatterPercentage type="number" step="1" input-class="govuk-input--width-5" spellcheck="false">
                <govuk-input-label is-page-heading="false">
                    @Resource.lblOrganicMatter
                    <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblPercentage)</span>@Resource.lblOptional
                </govuk-input-label>
                <govuk-input-suffix>@Resource.lblPercentage</govuk-input-suffix>
            </govuk-input>
           

            <govuk-button type="submit" data-prevent-double-click="true" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
        </form>
        <p class="govuk-body cancel-link">
            @if (!Model.IsCheckAnswer)
            {
                <a asp-action="CreateFieldCancel" asp-controller="Field" asp-route-id="@Model.EncryptedFarmId">@Resource.lblCancel</a>
            }
            else
            {
                <a asp-action="CheckAnswer" asp-controller="Field">@Resource.lblCancel</a>
            }
        </p>
    </div>
</div>