@using NMP.Portal.Resources
@using NMP.Portal.ViewModels

@model FieldViewModel
@{
    ViewData["Title"] = Resource.lblSoilAnalysis;

}

@if (ViewBag.Error != null)
{
    <govuk-error-summary>
        <govuk-error-summary-item href="#">@ViewBag.Error</govuk-error-summary-item>
    </govuk-error-summary>
}
@if (Model != null)
{
    @section BeforeContent {
    <govuk-breadcrumbs class="govuk-breadcrumbs-link">
        <govuk-breadcrumbs-item asp-action="FarmList" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
            @Resource.lblAllFarm
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
            @Model.FarmName
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item asp-action="ManageFarmFields" asp-controller="Field" asp-route-Id="@Model.EncryptedFarmId">
            @Resource.lblFields
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item class="govuk-breadcrumbs__list-item">
            @Model.Name
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item class="govuk-breadcrumbs__list-item">
            @Resource.lblSoilAnalysis
        </govuk-breadcrumbs-item>

    </govuk-breadcrumbs>
    }
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">@string.Format(Resource.lblSoilAnalysisForFieldName,Model.Name)</h1>

            <table class="govuk-table">

                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblDateSample</td>
                        <td class="govuk-table__cell">@(string.Format(Resource.lblHectare, Model.TotalArea))</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblPhLevel</td>
                        <td class="govuk-table__cell">@(string.Format(Resource.lblHectare, Model.CroppedArea))</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblSoilSulphurDeficient</td>
                        <td class="govuk-table__cell">@(string.Format(Resource.lblHectare, Model.ManureNonSpreadingArea))</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblPhosphorusAnalysisTypeForSoilDetail</td>
                        <td class="govuk-table__cell">@Model.SoilType</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblPhosphorusPerLitreOfSoil</td>
                        <td class="govuk-table__cell">@(Model.SoilReleasingClay.Value ? Resource.lblYes : Resource.lblNo)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblPhosphorusIndex</td>
                        <td class="govuk-table__cell">@(Model.IsWithinNVZ.Value ? Resource.lblYes : Resource.lblNo)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblMagnesiumPerLitreOfSoil</td>
                        <td class="govuk-table__cell">@(Model.IsAbove300SeaLevel.Value ? Resource.lblYes : Resource.lblNo)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblMagnesiumIndex</td>
                        <td class="govuk-table__cell">@(Model.IsWithinNVZ.Value ? Resource.lblYes : Resource.lblNo)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblPotassiumPerLitreOfSoil</td>
                        <td class="govuk-table__cell">@(Model.IsAbove300SeaLevel.Value ? Resource.lblYes : Resource.lblNo)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblPotassiumIndex</td>
                        <td class="govuk-table__cell">@(Model.IsWithinNVZ.Value ? Resource.lblYes : Resource.lblNo)</td>
                    </tr>
                </tbody>
            </table>
            <p class="govuk-body margin-bottom-forty"><a href="#">@Resource.lblChangeTheSoilAnalysis</a></p>
           
        </div>
    </div>
}

