@using NMP.Commons.Resources
@using NMP.Commons.Enums
@model NMP.Commons.ViewModels.FieldViewModel
@{
    ViewData["Title"] = $"{Resource.lblHowWouldYouLikeToEnterYourSoilNutrientValues} {Resource.lblHyphen} {Resource.lblAddField}";
    var asAnIndex = (int)NMP.Commons.Enums.SoilNutrientValueType.Index;
    var inMilligramsPerLitre = (int)NMP.Commons.Enums.SoilNutrientValueType.Miligram;
    var asAnStatus = (int)NMP.Commons.Enums.SoilNutrientValueType.Status;
    ViewBag.CurrentStep = (int)FieldWizardSteps.SoilNutrientValueType;
}

@section BeforeContent {
    <govuk-back-link asp-action="@((Model.IsCheckAnswer && (!Model.IsRecentSoilAnalysisQuestionChange) && (!Model.SoilAnalyses.IsSoilAnalysesMethodChange)) ? "CheckAnswer" : (Model.FarmRB209CountryID == (int)NMP.Commons.Enums.RB209Country.Scotland ? "SoilAnalysesMethod" : "SoilDate"))" asp-controller="Field">@Resource.lblBack</govuk-back-link>
}
<form asp-action="SoilNutrientValueType" asp-controller="Field" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/Field/_FieldWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-radios class="govuk-radios" for="@Model.SoilAnalyses.SoilNutrientValueType">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Resource.lblHowWouldYouLikeToEnterYourSoilNutrientValues
                    </govuk-radios-fieldset-legend>
                    @if (Model.SoilAnalyses.PhosphorusMethodologyID == (int)NMP.Commons.Enums.PhosphorusMethodology.Sac)
                    {
                        <govuk-radios-item value=@asAnStatus>@Resource.lblAsAStatus</govuk-radios-item>
                    }
                    else
                    @if (Model.SoilAnalyses.PhosphorusMethodologyID == (int)NMP.Commons.Enums.PhosphorusMethodology.Rb209)
                    {
                        <govuk-radios-item value=@asAnIndex>@Resource.lblAsAnIndex</govuk-radios-item>
                    }
                    else
                    {
                        <govuk-radios-item value=@asAnIndex>@Resource.lblAsAnIndex</govuk-radios-item>
                    }
                  
                        <govuk-radios-item value=@inMilligramsPerLitre disabled=@(Model.FarmRB209CountryID == (int)NMP.Commons.Enums.RB209Country.Scotland)?true:false>@Resource.lblInMilligramsPerLitre</govuk-radios-item>
                                
                            </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateFieldCancel" asp-controller="Field" asp-route-id="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="Field">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>