@using NMP.Commons.Resources;
@using NMP.Commons.Enums;
@using NMP.Commons.ViewModels;
@model NMP.Commons.ViewModels.FieldViewModel

@{
    ViewData["Title"] = $"{string.Format(Resource.lblUpdateXField, Model.Name)} {Resource.lblHyphen} {Resource.lblDetails}";  
   
    var backAction = ViewBag?.IsDataChange ? "Cancel" : "FieldSoilAnalysisDetail";
}
@section BeforeContent {
    <govuk-back-link asp-action=@(backAction) asp-controller ="Field" asp-route-farmId="@Model.EncryptedFarmId" asp-route-fieldId="@Model.EncryptedFieldId">@Resource.lblBack</govuk-back-link>
}
<form asp-action="UpdateField" asp-controller="Field" method="post" autocomplete="off">
    @Html.AntiForgeryToken()

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            @if (TempData["UpdateFieldError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["UpdateFieldError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }

            @if (ViewData["ModelStateErrors"] != null)
            {
                <govuk-error-summary>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <govuk-error-summary-item href="#">@error.ErrorMessage</govuk-error-summary-item>
                    }
                </govuk-error-summary>
            }
            <h1 class="govuk-heading-l">
                @string.Format(Resource.lblUpdateXField, Model.Name)
            </h1>
            @await Html.PartialAsync("~/Views/Field/_FieldWizardHiddenFields.cshtml", Model)
            @await Html.PartialAsync("~/Views/Field/_AddOrUpdateCheckAnswer.cshtml", Model)
            

            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblUpdateThisField
            </govuk-button>

            <p class="govuk-body cancel-link">
                <a asp-action=@(ViewBag.IsDataChange == true ? "Cancel" : "FieldSoilAnalysisDetail") asp-controller="Field" asp-route-farmId="@Model.EncryptedFarmId" asp-route-fieldId="@Model.EncryptedFieldId">@Resource.lblCancel</a>
            </p>


        </div>
    </div>
</form>