@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.OrganicManureViewModel
@{

    string title = (!string.IsNullOrEmpty(Model.EncryptedOrgManureId)) ? Resource.lblUpdateOrganicManure : Resource.lblAddOrganicManure;
    ViewData["Title"] = $"{string.Format(Resource.lblHowAreYouGoingToApplyTheManure, (Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials || Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials) ? Model.OtherMaterialName : Model.ManureTypeName)} {Resource.lblHyphen} {title}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.OrganicManureWizardSteps.ApplicationMethod;
}
@section BeforeContent {
    <govuk-back-link asp-action=@(Model.IsCheckAnswer&&Model.IsApplicationMethodChange?"CheckAnswer":"ManureApplyingDate") asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (TempData["ApplicationMethodError"] != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ApplicationMethodError"]</govuk-error-summary-item>
            </govuk-error-summary>
        }
        <form asp-action="ApplicationMethod" asp-controller="OrganicManure" method="post" autocomplete="off">
            @Html.AntiForgeryToken()
           
            @await Html.PartialAsync("~/Views/OrganicManure/_OrganicManureWizardHiddenFields.cshtml", Model)
            <govuk-radios for="@Model.ApplicationMethod">
                <govuk-radios-fieldset>

                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblHowAreYouGoingToApplyTheManure, (Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials || Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials) ? Model.OtherMaterialName : Model.ManureTypeName)
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-hint>
                        @Resource.lblSelectOneOption                        
                    </govuk-radios-hint>
                    @if (ViewBag.ApplicationMethodList != null && ViewBag.ApplicationMethodList.Count > 0)
                    {
                        @foreach (var applicationMethod in ViewBag.ApplicationMethodList)
                        {
                            <govuk-radios-item value="@applicationMethod.ID">@applicationMethod.Name</govuk-radios-item>
                        }
                    }
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty" asp-action="ApplicationMethod">
                @Resource.lblContinue
            </govuk-button>

            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblCancel</a>
                }
            </p>
        </form>
    </div>

</div>
