@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.OrganicManureViewModel
@{
   
    var enterAnApplicationRate = (int)NMP.Commons.Enums.ApplicationRate.EnterAnApplicationRate;
    var calculateBasedOnAreaAndQuantity = (int)NMP.Commons.Enums.ApplicationRate.CalculateBasedOnAreaAndQuantity;
    var useDefaultApplicationRate = (int)NMP.Commons.Enums.ApplicationRate.UseDefaultApplicationRate;
    // var backaction = (Model.IsCheckAnswer && (!Model.IsManureTypeChange)) ? "CheckAnswer" : (Model.DefaultNutrientValue != null && (!Model.DefaultNutrientValue.Value) ? "NutrientValuesStoreForFuture" : "DefaultNutrientValues");

    var backaction = "";
    if (Model.IsCheckAnswer && (!Model.IsManureTypeChange))
    {
        backaction = "CheckAnswer";
    }
    else if (!string.IsNullOrWhiteSpace(Model.DefaultNutrientValue) && (Model.DefaultNutrientValue == Resource.lblIwantToEnterARecentOrganicMaterialAnalysis))
    {
        // if (Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials || Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials)
        // {
        backaction = "ManualNutrientValues";
        //}
        // else
        // {
        //     backaction = "NutrientValuesStoreForFuture";
        // }
    }
    else
    {
        backaction = "DefaultNutrientValues";
    }
       
    bool isOtherManure = (Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials || Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials);
    string title = (!string.IsNullOrEmpty(Model.EncryptedOrgManureId)) ? Resource.lblUpdateOrganicManure : Resource.lblAddOrganicManure;
    ViewData["Title"] = $"{string.Format(Resource.lblHowWouldYouLikeToEnterTheApplicationRate, isOtherManure ? Model.OtherMaterialName : Model.ManureTypeName)} {Resource.lblHyphen} {title}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.OrganicManureWizardSteps.ApplicationRateMethod;
}
@section BeforeContent {
    <govuk-back-link asp-action=@backaction asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="ApplicationRateMethod" asp-controller="OrganicManure" method="post" autocomplete="off">
            @Html.AntiForgeryToken()
            @if (TempData["ApplicationRateMethodError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item>@TempData["ApplicationRateMethodError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
        @await Html.PartialAsync("~/Views/OrganicManure/_OrganicManureWizardHiddenFields.cshtml", Model)
            @await Html.PartialAsync("~/Views/OrganicManure/_ApplicationRateWarningPartial.cshtml", Model)

            <govuk-radios for="@Model.ApplicationRateMethod">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblHowWouldYouLikeToEnterTheApplicationRate, isOtherManure ? Model.OtherMaterialName : Model.ManureTypeName)
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@enterAnApplicationRate">@string.Format(Resource.lblEnterAnApplicationRate, (Model.IsManureTypeLiquid.HasValue && Model.IsManureTypeLiquid == true) ? Resource.lblMeterCubePerHa : Resource.lblTonnesPerHectare)</govuk-radios-item>
                    <govuk-radios-item value="@calculateBasedOnAreaAndQuantity">@Resource.lblCalculateBasedOnTheAreaAndQuantity</govuk-radios-item>
                    @if (!isOtherManure)
                    {
                        <govuk-radios-item value="@useDefaultApplicationRate">@string.Format(Resource.lblUseTypicalApplicationRate, Model.ApplicationRateArable, (Model.IsManureTypeLiquid.HasValue && Model.IsManureTypeLiquid == true) ? Resource.lblMeterCubePerHa : Resource.lblTonnesPerHectare)</govuk-radios-item>
                    }
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty" asp-action="ApplicationRateMethod">
                @Resource.lblContinue
            </govuk-button>

            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblCancel</a>
                }
            </p>
        </form>
    </div>

</div>
