@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.OrganicManureViewModel
@{
   
    var enterAnApplicationRate = (int)NMP.Commons.Enums.ApplicationRate.EnterAnApplicationRate;
    var calculateBasedOnAreaAndQuantity = (int)NMP.Commons.Enums.ApplicationRate.CalculateBasedOnAreaAndQuantity;
    var useDefaultApplicationRate = (int)NMP.Commons.Enums.ApplicationRate.UseDefaultApplicationRate;
    // var backaction = (Model.IsCheckAnswer && (!Model.IsManureTypeChange)) ? "CheckAnswer" : (Model.DefaultNutrientValue != null && (!Model.DefaultNutrientValue.Value) ? "NutrientValuesStoreForFuture" : "DefaultNutrientValues");

    var backaction = "";
    if (Model.IsCheckAnswer && (!Model.IsManureTypeChange))
    {
        backaction = "CheckAnswer";
    }
    else if (!string.IsNullOrWhiteSpace(Model.DefaultNutrientValue) && (Model.DefaultNutrientValue == Resource.lblIwantToEnterARecentOrganicMaterialAnalysis))
    {
        // if (Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials || Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials)
        // {
        backaction = "ManualNutrientValues";
        //}
        // else
        // {
        //     backaction = "NutrientValuesStoreForFuture";
        // }
    }
    else
    {
        backaction = "DefaultNutrientValues";
    }

    int trueWarningCount = 0;

    if (Model.IsOrgManureNfieldLimitWarning) trueWarningCount++;
    if (Model.IsNMaxLimitWarning) trueWarningCount++;
    if (Model.IsEndClosedPeriodFebruaryWarning) trueWarningCount++;
    if (Model.IsStartPeriodEndFebOrganicAppRateExceedMaxN150) trueWarningCount++;

    bool isOtherManure = (Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials || Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials);
    string title = (!string.IsNullOrEmpty(Model.EncryptedOrgManureId)) ? Resource.lblUpdateOrganicManure : Resource.lblAddOrganicManure;
    ViewData["Title"] = $"{string.Format(Resource.lblHowWouldYouLikeToEnterTheApplicationRate, isOtherManure ? Model.OtherMaterialName : Model.ManureTypeName)} {Resource.lblHyphen} {title}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.OrganicManureWizardSteps.ApplicationRateMethod;
}
@section BeforeContent {
    <govuk-back-link asp-action=@backaction asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="ApplicationRateMethod" asp-controller="OrganicManure" method="post" autocomplete="off">
            @Html.AntiForgeryToken()
            @if (TempData["ApplicationRateMethodError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item>@TempData["ApplicationRateMethodError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
        @await Html.PartialAsync("~/Views/OrganicManure/_OrganicManureWizardHiddenFields.cshtml", Model)
            @if (Model.IsOrgManureNfieldLimitWarning || Model.IsNMaxLimitWarning || Model.IsEndClosedPeriodFebruaryWarning || Model.IsStartPeriodEndFebOrganicAppRateExceedMaxN150)
            {
                <govuk-notification-banner>
                    <govuk-notification-banner-title>
                        @Resource.lblImportant
                    </govuk-notification-banner-title>
                    @if (trueWarningCount == 1)
                    {
                        @if (Model.IsOrgManureNfieldLimitWarning)
                        {
                            <p class="govuk-notification-banner__heading">
                                @Model.NmaxWarningPara1
                            </p>
                            <p class="govuk-body">@Model.NmaxWarningPara2</p>
                            @if (Model.NmaxWarningPara3 != null)
                            {
                                <p class="govuk-body">@Model.NmaxWarningPara3</p>
                            }
                        }
                        @if (Model.IsNMaxLimitWarning)
                        {
                            <p class="govuk-notification-banner__heading">
                                @Model.CropNmaxLimitWarningPara1
                            </p>
                            <p class="govuk-body warning-text">@Model.CropNmaxLimitWarningPara2</p>
                            @if (Model.CropNmaxLimitWarningPara3 != null)
                            {
                                <p class="govuk-body">@Model.CropNmaxLimitWarningPara3</p>
                            }
                        }
                        @if (Model.IsEndClosedPeriodFebruaryWarning)
                        {
                            <p class="govuk-notification-banner__heading">
                                @Model.EndClosedPeriodEndFebWarningPara1
                            </p>
                            <p class="govuk-body">@Model.EndClosedPeriodEndFebWarningPara2</p>
                            <p class="govuk-body">@Model.EndClosedPeriodEndFebWarningPara3</p>
                        }
                        @if (Model.IsStartPeriodEndFebOrganicAppRateExceedMaxN150)
                        {
                            <p class="govuk-notification-banner__heading">
                                @Model.StartClosedPeriodEndFebWarningPara1
                            </p>
                            <p class="govuk-body">@Model.StartClosedPeriodEndFebWarningPara2</p>
                            <p class="govuk-body">
                                @Model.StartClosedPeriodEndFebWarningPara3
                            </p>
                        }
                    }
                    @if (trueWarningCount > 1)
                    {
                        @* <div class="govuk-notification-banner__content">*@
                        <p class="govuk-notification-banner__heading">
                            @if (Model.FarmCountryId == (int)NMP.Commons.Enums.FarmCountry.England)
                            {
                                @Resource.lblThisApplicationMayBreachMoreThanOneNVZRule
                            }
                            @if (Model.FarmCountryId == (int)NMP.Commons.Enums.FarmCountry.Wales)
                            {
                                @Resource.lblThisApplicationMayBreachMoreThanOneWaterResourceRegulation
                            }
                        </p>
                        <ul class="govuk-list govuk-list--bullet">
                            @if (Model.IsOrgManureNfieldLimitWarning)
                            {
                                <li>@Model.NmaxWarningPara1</li>
                            }
                            @if (Model.IsNMaxLimitWarning)
                            {
                                <li>@Model.CropNmaxLimitWarningPara1</li>
                            }
                            @if (Model.IsEndClosedPeriodFebruaryWarning)
                            {
                                <li>@Model.EndClosedPeriodEndFebWarningPara1</li>
                            }
                            @if (Model.IsStartPeriodEndFebOrganicAppRateExceedMaxN150)
                            {
                                <li>@Model.StartClosedPeriodEndFebWarningPara1</li>
                            }
                        </ul>
                        <govuk-details>
                            <govuk-details-summary>

                                @if (Model.FarmCountryId == (int)NMP.Commons.Enums.FarmCountry.England || Model.FarmCountryId == (int)NMP.Commons.Enums.FarmCountry.Scotland)
                                {
                                    @Resource.lblMoreAboutTheseNVZRules
                                }
                                @if (Model.FarmCountryId == (int)NMP.Commons.Enums.FarmCountry.Wales)
                                {
                                    @Resource.lblMoreAboutTheseWaterResourceRegulation
                                }
                            </govuk-details-summary>
                            <govuk-details-text>
                                @if (Model.IsOrgManureNfieldLimitWarning)
                                {
                                    <h2 class="govuk-heading-s">@Model.NmaxWarningPara1</h2>
                                    <p class="govuk-body">@Model.NmaxWarningPara2</p>
                                }
                                @if (Model.IsNMaxLimitWarning)
                                {
                                    <h2 class="govuk-heading-s">@Model.CropNmaxLimitWarningPara1</h2>
                                    <p class="govuk-body warning-text">@Model.CropNmaxLimitWarningPara2</p>
                                }
                                @if (Model.IsEndClosedPeriodFebruaryWarning)
                                {
                                    <h2 class="govuk-heading-s">@Model.EndClosedPeriodEndFebWarningPara1</h2>
                                    <p class="govuk-body">@Model.EndClosedPeriodEndFebWarningPara2</p>
                                }
                                @if (Model.IsStartPeriodEndFebOrganicAppRateExceedMaxN150)
                                {
                                    <h2 class="govuk-heading-s">@Model.StartClosedPeriodEndFebWarningPara1</h2>
                                    <p class="govuk-body">@Model.StartClosedPeriodEndFebWarningPara2</p>

                                }
                            </govuk-details-text>
                        </govuk-details>
                        @if (Model.IsStartPeriodEndFebOrganicAppRateExceedMaxN150)
                        {
                            <p class="govuk-body">@Model.StartClosedPeriodEndFebWarningPara3</p>
                        }
                        else if (Model.IsEndClosedPeriodFebruaryWarning)
                        {
                            <p class="govuk-body">@Model.EndClosedPeriodEndFebWarningPara3</p>
                        }
                        else if (Model.IsNMaxLimitWarning)
                        {
                            <p class="govuk-body">@Model.CropNmaxLimitWarningPara3</p>
                        }
                        else if (Model.IsOrgManureNfieldLimitWarning)
                        {
                            <p class="govuk-body">@Model.NmaxWarningPara3</p>
                        }
                    }

                </govuk-notification-banner>
            }

            <govuk-radios for="@Model.ApplicationRateMethod">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblHowWouldYouLikeToEnterTheApplicationRate, isOtherManure ? Model.OtherMaterialName : Model.ManureTypeName)
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@enterAnApplicationRate">@string.Format(Resource.lblEnterAnApplicationRate, (Model.IsManureTypeLiquid.HasValue && Model.IsManureTypeLiquid == true) ? Resource.lblMeterCubePerHa : Resource.lblTonnesPerHectare)</govuk-radios-item>
                    <govuk-radios-item value="@calculateBasedOnAreaAndQuantity">@Resource.lblCalculateBasedOnTheAreaAndQuantity</govuk-radios-item>
                    @if (!isOtherManure)
                    {
                        <govuk-radios-item value="@useDefaultApplicationRate">@string.Format(Resource.lblUseTypicalApplicationRate, Model.ApplicationRateArable, (Model.IsManureTypeLiquid.HasValue && Model.IsManureTypeLiquid == true) ? Resource.lblMeterCubePerHa : Resource.lblTonnesPerHectare)</govuk-radios-item>
                    }
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty" asp-action="ApplicationRateMethod">
                @Resource.lblContinue
            </govuk-button>

            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblCancel</a>
                }
            </p>
        </form>
    </div>

</div>
