@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.OrganicManureViewModel
@{
    ViewData["Title"] = Resource.lblAreaAndQuantity;

}
@section BeforeContent {
    <govuk-back-link asp-action="ApplicationRateMethod" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
}

<form asp-action="AreaQuantity" asp-controller="OrganicManure" method="post">
    @Html.AntiForgeryToken()
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldGroup"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureTypeId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.isEnglishRules"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ApplicationDate"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsDefaultNutrientValues" value="@Model.IsDefaultNutrientValues"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ApplicationMethod"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ApplicationRateMethod"></govuk-input>      
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ApplicationRate"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureTypeName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupId"></govuk-input>
            <div class="govuk-form-group">
                <legand class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">@Resource.lblEnterTheAreaAndQuantity</h1>
                </legand>
                <govuk-input asp-for=@Model.Area type="number" step="any" input-class="govuk-input--width-5" spellcheck="false">
                    <govuk-input-suffix>@Resource.lblhectar</govuk-input-suffix>
                </govuk-input>
                <govuk-input asp-for=@Model.Quantity type="number" step="any" input-class="govuk-input--width-5" spellcheck="false">
                    <govuk-input-suffix>@Resource.lbltonnes</govuk-input-suffix>
                </govuk-input>



            </div>
            <govuk-button type="submit" class="margin-bottom-forty" asp-action="AreaQuantity">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link"><a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a></p>

        </div>

    </div>
</form>