@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.OrganicManureViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedOrgManureId)) ? Resource.lblUpdateOrganicManure : Resource.lblAddOrganicManure;
    ViewData["Title"] = $"{Resource.lblEnterTheAreaAndQuantity} {Resource.lblHyphen} {title}";
    
    var isOtherManure = (Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials || Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials) ? true : false;

    var suffixUnit = "";
    if (Model.IsManureTypeLiquid != null)
    {
        suffixUnit = Model.IsManureTypeLiquid.Value ? Resource.lblCubicMeters : Resource.lbltonnes;
    }
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.OrganicManureWizardSteps.AreaQuantity;
}
@section BeforeContent {
    <govuk-back-link asp-action=@((Model.IsCheckAnswer && (!Model.IsManureTypeChange) && (!Model.IsFieldGroupChange)) ? "CheckAnswer" : "ApplicationRateMethod") asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
}

<form asp-action="AreaQuantity" asp-controller="OrganicManure" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (TempData["AreaAndQuantityError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item>@TempData["AreaAndQuantityError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }

            @await Html.PartialAsync("~/Views/OrganicManure/_OrganicManureWizardHiddenFields.cshtml", Model)
            @await Html.PartialAsync("~/Views/OrganicManure/_ApplicationRateWarningPartial.cshtml", Model)
            

            
            <h1 class="govuk-heading-l">@Resource.lblEnterTheAreaAndQuantity</h1>
            <govuk-input for="@Model.Area" type="number" inputmode="decimal"
                         pattern="^\d{1,10}(\.\d{1,2})?$" step="any" input-class="govuk-input--width-5" spellcheck="false">
                <govuk-input-label is-page-heading="true" class="govuk-label">@Resource.lblAreaSpread
                    <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblhectar)</span>
                </govuk-input-label>
                <govuk-input-suffix>@Resource.lblhectar</govuk-input-suffix>
            </govuk-input>
            <govuk-input for=@Model.Quantity type="number" inputmode="numeric"
                         pattern="^\d{1,10}$" step="1"
                         maxlength="10" input-class="govuk-input--width-5" spellcheck="false">
                <govuk-input-label is-page-heading="true" class="govuk-label">@Resource.lblQuantityApplied
                    <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, suffixUnit)</span>
                </govuk-input-label>
                <govuk-input-suffix>@suffixUnit</govuk-input-suffix>
            </govuk-input>            
            <govuk-button type="submit" class="margin-bottom-forty" asp-action="AreaQuantity">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>