@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.OrganicManureViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedOrgManureId)) ? Resource.lblUpdateOrganicManure : Resource.lblAddOrganicManure;
    ViewData["Title"] = $"{string.Format(Resource.lblWhatIsTheAutumnCropNitrogenUptakeFor, ViewBag.CropTypeName, ViewBag.FieldName)} {Resource.lblHyphen} {title}";
    
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.OrganicManureWizardSteps.AutumnCropNitrogenUptake;
}
@section BeforeContent {
    <govuk-back-link asp-action="ConditionsAffectingNutrients" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
}

<form asp-action="AutumnCropNitrogenUptake" asp-controller="OrganicManure" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
         @await Html.PartialAsync("~/Views/OrganicManure/_OrganicManureWizardHiddenFields.cshtml", Model)
            <govuk-input for="@Model.AutumnCropNitrogenUptake" inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                <govuk-input-label is-page-heading="true" class="govuk-label--l">
                    @string.Format(Resource.lblWhatIsTheAutumnCropNitrogenUptakeForSuffix, ViewBag.CropTypeName, ViewBag.FieldName)<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblKgPerHectare)</span>@Resource.lblQuestionMark
                </govuk-input-label>
                <govuk-input-suffix>@Resource.lblKgPerHectare</govuk-input-suffix>
            </govuk-input>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>