@using NMP.Portal.Resources;
@using System.Globalization
@model NMP.Portal.ViewModels.OrganicManureViewModel

@{
    ViewData["Title"] = Resource.lblCheckAnswer;
    var DefaultNutrientValue = "";
    var howWouldYouEnterApplicationRate = "";

    bool needToShowIncorporationsBtn = true;
    @if (Model.ApplicationMethod != null)
    {
        needToShowIncorporationsBtn = (Model.ApplicationMethod.Value == (int)NMP.Portal.Enums.ApplicationMethod.DeepInjection2530cm) || (Model.ApplicationMethod.Value == (int)NMP.Portal.Enums.ApplicationMethod.ShallowInjection57cm) ? false : true;
    }
    bool needToShowIncorporationDelayBtn = true;
    if (Model.IncorporationMethod != null)
    {
        needToShowIncorporationDelayBtn = (Model.IncorporationMethod.Value == (int)NMP.Portal.Enums.IncorporationMethod.NotIncorporated ||
        Model.IncorporationMethod.Value == (int)NMP.Portal.Enums.IncorporationMethod.ShallowInjection ||
        Model.IncorporationMethod.Value == (int)NMP.Portal.Enums.IncorporationMethod.DeepInjection) ? false : true;
    }

    // switch (Model.DefaultNutrientValue)
    // {
    //     case true:
    //         DefaultNutrientValue = Resource.lblYes;
    //         break;
    //     case false:
    //         DefaultNutrientValue = Resource.lblIwantToEnterARecentOrganicMaterialAnalysis;
    //         break;
    // }
    switch (Model.ApplicationRateMethod)
    {
        case 0:
            howWouldYouEnterApplicationRate = Resource.lblEnterAnApplicationRate;
            break;
        case 1:
            howWouldYouEnterApplicationRate = Resource.lblCalculateBasedOnTheAreaAndQuantity;
            break;
        case 2:
            howWouldYouEnterApplicationRate = string.Format(Resource.lblUseTypicalApplicationRate, Model.ApplicationRateArable);
            break;
    }

}
@section BeforeContent {
    <govuk-back-link asp-action="BackCheckAnswer" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
}
<form asp-action="CheckAnswer" asp-controller="OrganicManure" method="post">
    @Html.AntiForgeryToken()

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            @if (TempData["AddOrganicManureError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["AddOrganicManureError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }

            @* @if (Model.IsWarningMsgNeedToShow != null && Model.IsWarningMsgNeedToShow)
            { *@
            @if (Model.IsOrgManureNfieldLimitWarning || Model.IsNMaxLimitWarning || Model.IsClosedPeriodWarning || Model.IsEndClosedPeriodFebruaryWarning || Model.IsEndClosedPeriodFebruaryExistWithinThreeWeeks || Model.IsStartPeriodEndFebOrganicAppRateExceedMaxN150)
            {
                <govuk-notification-banner>
                    <govuk-notification-banner-title>
                        @Resource.lblImportant
                    </govuk-notification-banner-title>

                    @if (Model.IsOrgManureNfieldLimitWarning)
                    {
                        <p class="govuk-notification-banner__heading">
                            @Resource.lblThisApplicationMayTakeYouOverTheOrganicManureNFieldLimit
                        </p>
                    }
                    @if (Model.IsNMaxLimitWarning)
                    {
                        <p class="govuk-notification-banner__heading">
                            @Resource.lblNMaxLimitTitle
                        </p>
                    }

                    @if (Model.IsClosedPeriodWarning)
                    {
                        <p class="govuk-notification-banner__heading">
                            @Resource.MsgApplicationDateEnteredIsInsideClosedPeriod
                        </p>
                    }
                    @if (Model.IsEndClosedPeriodFebruaryWarning)
                    {
                        <p class="govuk-notification-banner__heading">
                            @(Model.ManureTypeId == 8 ? Resource.lblThisApplicationMayTakeYouOverMaxARPoultryManure : Resource.lblApplicationRateOverTheMaximumRateForSlurry)
                        </p>
                    }
                    @if (Model.IsEndClosedPeriodFebruaryExistWithinThreeWeeks)
                    {
                        <p class="govuk-notification-banner__heading">
                            @Resource.lblYouMustAllowAtLeast3WeeksBetweenApplications
                        </p>
                    }
                    @if (Model.IsStartPeriodEndFebOrganicAppRateExceedMaxN150)
                    {
                        <p class="govuk-notification-banner__heading">
                            @Resource.lblThisApplicationTakeOverMaxAppRate
                        </p>
                    }
                </govuk-notification-banner>
            }


            @*  } *@
            <h1 class="govuk-heading-l">
                @Resource.lblCheckYourAnswers
            </h1>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldGroup"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureTypeId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureTypeName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefaultNutrientValue"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.isEnglishRules"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupName"></govuk-input>
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ApplicationDate"></govuk-date-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ApplicationRateMethod"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ApplicationRate"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ApplicationMethod"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Area"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Quantity"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ApplicationRateArable"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IncorporationMethod"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ApplicationMethodCount"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IncorporationDelay"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.N"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.P2O5"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.K2O"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MgO"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SO3"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DryMatterPercent"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UricAcid"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NH4N"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NO3N"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsDefaultNutrient" value="@Model.IsDefaultNutrient.ToString().ToLower()"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsFieldGroupChange" value="@Model.IsFieldGroupChange.ToString().ToLower()"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManureTypeChange" value="@Model.IsManureTypeChange.ToString().ToLower()"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManureTypeLiquid" value="@Model.IsManureTypeLiquid.ToString().ToLower()"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ApplicationMethodName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IncorporationDelayName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IncorporationMethodName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldGroupName"></govuk-input>
            @* <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MoistureTypeId"></govuk-input> *@
            @* <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.WindspeedID"></govuk-input> *@
            @* <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RainfallWithinSixHoursID"></govuk-input> *@
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromRecommendation"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.K2OAvailable"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.P2O5Available"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyNeedToStoreNutrientValueForFuture"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsDefaultNutrientOptionChange" value="@Model.IsDefaultNutrientOptionChange.ToString().ToLower()"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.DryMatter"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.TotalN"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.NH4N"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.NO3N"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.Uric"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.P2O5"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.K2O"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.MgO"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.SO3"></govuk-input>

            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AutumnCropNitrogenUptake"></govuk-input>
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilDrainageEndDate" value="@Model.SoilDrainageEndDate"></govuk-date-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RainfallWithinSixHoursID"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalRainfall"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.WindspeedID"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MoistureTypeId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RainfallWithinSixHours"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Windspeed"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MoistureType"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupIdForFilter"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsApplicationMethodChange"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsIncorporationMethodChange"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsWarningMsgNeedToShow" value="@Model.IsWarningMsgNeedToShow.ToString().ToLower()"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsNMaxLimitWarning" value="@Model.IsNMaxLimitWarning.ToString().ToLower()"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsOrgManureNfieldLimitWarning" value="@Model.IsOrgManureNfieldLimitWarning.ToString().ToLower()"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsEndClosedPeriodFebruaryExistWithinThreeWeeks" value="@Model.IsEndClosedPeriodFebruaryExistWithinThreeWeeks"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsStartPeriodEndFebOrganicAppRateExceedMaxN150" value="@Model.IsStartPeriodEndFebOrganicAppRateExceedMaxN150"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OtherMaterialName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropOrder"></govuk-input>
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefaultFarmManureValueDate" value="@Model.DefaultFarmManureValueDate"></govuk-date-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsThisDefaultValueOfRB209" value="@Model.IsThisDefaultValueOfRB209"></govuk-input>
            @if (Model.FieldList != null && Model.FieldList.Count > 0)
            {
                @for (int i = 0; i < Model.FieldList.Count; i++)
                {
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]"></govuk-input>
                }
            }
            @if (Model.OrganicManures != null && Model.OrganicManures.Count > 0)
            {
                @for (int i = 0; i < Model.OrganicManures.Count; i++)
                {
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].ManagementPeriodID" value="@Model.OrganicManures[i].ManagementPeriodID"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].ManureTypeID" value="@Model.OrganicManures[i].ManureTypeID"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].ApplicationMethodID" value="@Model.OrganicManures[i].ApplicationMethodID"></govuk-input>
                    <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].ApplicationDate" value="@Model.OrganicManures[i].ApplicationDate"></govuk-date-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].K2O" value="@Model.OrganicManures[i].K2O"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].MgO" value="@Model.OrganicManures[i].MgO"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].P2O5" value="@Model.OrganicManures[i].P2O5"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].SO3" value="@Model.OrganicManures[i].SO3"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].NH4N" value="@Model.OrganicManures[i].NH4N"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].NO3N" value="@Model.OrganicManures[i].NO3N"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].UricAcid" value="@Model.OrganicManures[i].UricAcid"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].DryMatterPercent" value="@Model.OrganicManures[i].DryMatterPercent"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].N" value="@Model.OrganicManures[i].N"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].ApplicationRate" value="@Model.OrganicManures[i].ApplicationRate"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].IncorporationDelayID" value="@Model.OrganicManures[i].IncorporationDelayID"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].IncorporationMethodID" value="@Model.OrganicManures[i].IncorporationMethodID"></govuk-input>
                    @* <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].MoistureID" value="@Model.OrganicManures[i].MoistureID"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].WindspeedID" value="@Model.OrganicManures[i].WindspeedID"></govuk-input> *@
                    @* <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].RainfallWithinSixHoursID" value="@Model.OrganicManures[i].RainfallWithinSixHoursID"></govuk-input> *@
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].AvailableK2O" value="@Model.OrganicManures[i].AvailableK2O"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].AvailableP2O5" value="@Model.OrganicManures[i].AvailableP2O5"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].AreaSpread" value="@Model.OrganicManures[i].AreaSpread"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].ManureQuantity" value="@Model.OrganicManures[i].ManureQuantity"></govuk-input>

                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].AutumnCropNitrogenUptake" value="@Model.OrganicManures[i].AutumnCropNitrogenUptake"></govuk-input>
                    <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].SoilDrainageEndDate" value="@Model.SoilDrainageEndDate"></govuk-date-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].RainfallWithinSixHoursID"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].Rainfall" value="@Model.OrganicManures[i].Rainfall"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].WindspeedID" value="@Model.OrganicManures[i].WindspeedID"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].MoistureID" value="@Model.OrganicManures[i].MoistureID"></govuk-input>
                }
            }
            @if (Model.AutumnCropNitrogenUptakes != null && Model.AutumnCropNitrogenUptakes.Count > 0)
            {
                @for (int i = 0; i < Model.AutumnCropNitrogenUptakes.Count; i++)
                {
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AutumnCropNitrogenUptakes[i].EncryptedFieldId" value="@Model.AutumnCropNitrogenUptakes[i].EncryptedFieldId"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AutumnCropNitrogenUptakes[i].FieldName" value="@Model.AutumnCropNitrogenUptakes[i].FieldName"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AutumnCropNitrogenUptakes[i].CropTypeId" value="@Model.AutumnCropNitrogenUptakes[i].CropTypeId"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AutumnCropNitrogenUptakes[i].CropTypeName" value="@Model.AutumnCropNitrogenUptakes[i].CropTypeName"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AutumnCropNitrogenUptakes[i].AutumnCropNitrogenUptake" value="@Model.AutumnCropNitrogenUptakes[i].AutumnCropNitrogenUptake"></govuk-input>
                }
            }
            <govuk-summary-list>
                @if (!Model.IsComingFromRecommendation)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @Resource.lblWhichFieldsWouldYouLikeToPlan
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @Model.FieldGroupName
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="FieldGroup" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (!Model.IsComingFromRecommendation && ViewBag.SelectedFields != null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @Resource.lblWhichFieldsWouldYouLikeToPlanAnOrganic
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @if (ViewBag.SelectedFields != null)
                            {
                                if (ViewBag.SelectedFields.Count <= Convert.ToInt32(Resource.FieldGreaterThanX))
                                {
                                    @foreach (var item in ViewBag.SelectedFields)
                                    {
                                        @item <br />
                                    }
                                }
                                else
                                {
                                    @string.Format(Resource.lblFarmFields, ViewBag.SelectedFields.Count)
                                    <govuk-details>
                                        <govuk-details-summary>
                                            @Resource.lblViewFields
                                        </govuk-details-summary>
                                        <govuk-details-text>

                                            @foreach (var item in ViewBag.SelectedFields)
                                            {
                                                @item <br />
                                            }
                                        </govuk-details-text>
                                    </govuk-details>
                                }

                            }
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            @if (ViewBag.Fields != null)
                            {
                                <govuk-summary-list-row-action class="@( (ViewBag.Fields.Count==1 || Model.FieldGroup.Equals(Resource.lblAll) )? "disabled": "")" asp-action="Fields" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                            }
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                <govuk-summary-list-row class=@((!Model.ManureTypeId.HasValue)?"govuk-error-message":"")>
                    <govuk-summary-list-row-key>
                        @Resource.lblWhatTypeOfOrganicMaterialAreYouUsing
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @((Model.ManureTypeId.HasValue) ? Model.ManureTypeName : Resource.lblNotSet)
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="ManureGroup" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                @if (Model.ManureTypeId == (int)NMP.Portal.Enums.ManureTypes.OtherSolidMaterials || Model.ManureTypeId == (int)NMP.Portal.Enums.ManureTypes.OtherLiquidMaterials)
                {
                    @if (!(Model.ManureGroupIdForFilter == (int)NMP.Portal.Enums.ManureTypes.OtherSolidMaterials || Model.ManureGroupIdForFilter == (int)NMP.Portal.Enums.ManureTypes.OtherLiquidMaterials))
                    {
                        <govuk-summary-list-row class=@(Model.OtherMaterialName==null?"govuk-error-message":"")>
                            <govuk-summary-list-row-key>
                                @string.Format(Resource.lblWhatIsTheNameOfTheMaterial, (Model.ManureTypeId == (int)NMP.Portal.Enums.ManureTypes.OtherSolidMaterials) ? Resource.lblSolid : Resource.lblLiquid)
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @((Model.OtherMaterialName != null) ? Model.OtherMaterialName : Resource.lblNotSet)
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="OtherMaterialName" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }

                }
                <govuk-summary-list-row class=@((!Model.ApplicationDate.HasValue)?"govuk-error-message":"")>
                    <govuk-summary-list-row-key>
                        @string.Format(Resource.lblWhenAreYouApplyingYourManureType, Model.ManureTypeName)
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @((Model.ApplicationDate.HasValue) ? Model.ApplicationDate.Value.Date.ToString("dd MMMM yyyy") : Resource.lblNotSet)
                        @* @if(Model.IsClosedPeriodWarning)
                        {
                        <br />
                        <p class="govuk-body strong">@Resource.MsgApplicationDateEnteredIsInsideClosedPeriod</p>
                        } *@

                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action class=@((Model.ManureTypeId.HasValue)?"":"disabled") asp-action="ManureApplyingDate" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>


                @if (Model.IsManureTypeLiquid.HasValue && Model.IsManureTypeLiquid.Value)
                {
                    <govuk-summary-list-row class=@((!Model.ApplicationMethod.HasValue)?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @string.Format(Resource.lblWhatIsTheApplicationMethodForYour, Model.ManureTypeName)
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @((Model.ApplicationMethod.HasValue) ? Model.ApplicationMethodName : Resource.lblNotSet)
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="ApplicationMethod" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }
                else
                {
                    <govuk-summary-list-row class=@((!Model.ApplicationMethod.HasValue)?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @string.Format(Resource.lblWhatIsTheApplicationMethodForYour, Model.ManureTypeName)
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @((Model.ApplicationMethod.HasValue) ? Model.ApplicationMethodName : Resource.lblNotSet)
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            @* <govuk-summary-list-row-action class="disabled" asp-action="ApplicationMethod" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action> *@
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (!(Model.ManureTypeId == (int)NMP.Portal.Enums.ManureTypes.OtherSolidMaterials || Model.ManureTypeId == (int)NMP.Portal.Enums.ManureTypes.OtherLiquidMaterials))
                {
                    <govuk-summary-list-row class=@(string.IsNullOrWhiteSpace(Model.DefaultNutrientValue)?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @(Model.DefaultNutrientValue==Resource.lblYesUseTheseValues?string.Format(Resource.lblStandardNutrientValuesWhwnWeHaveValues, Model.ManureTypeName, Model.DefaultFarmManureValueDate.Value.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB"))):
                                string.Format(Resource.lblDoYouWantToUseTheseNutrientValuesFromRB209, Model.ManureTypeName))
                            @* @string.Format(Resource.lblDoYouWantToUseTheseNutrientValuesFromRB209, Model.ManureTypeName) *@
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @((!string.IsNullOrWhiteSpace(Model.DefaultNutrientValue)) ? (Model.DefaultNutrientValue == Resource.lblYes ? Resource.lblYesUseTheseStandardNutrientValues : Model.DefaultNutrientValue) : Resource.lblNotSet)
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="DefaultNutrientValues" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }
                @if (Model.ManureTypeId == (int)NMP.Portal.Enums.ManureTypes.OtherSolidMaterials || Model.ManureTypeId == (int)NMP.Portal.Enums.ManureTypes.OtherLiquidMaterials)
                {
                    @if (Model.ManureGroupIdForFilter == (int)NMP.Portal.Enums.ManureTypes.OtherSolidMaterials || Model.ManureGroupIdForFilter == (int)NMP.Portal.Enums.ManureTypes.OtherLiquidMaterials)
                    {
                        @if (Model.DefaultNutrientValue == Resource.lblYes)
                        {
                            <govuk-summary-list-row class=@(string.IsNullOrWhiteSpace(Model.DefaultNutrientValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblDoYouWantToUseExistingNutrientValuesFor, Model.OtherMaterialName)
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(!string.IsNullOrWhiteSpace(Model.DefaultNutrientValue) ? (Model.DefaultFarmManureValueDate != null ? string.Format(Resource.lblYesUseTheseValuesFromDate, Model.DefaultFarmManureValueDate.Value.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB"))) : Resource.lblYesUseTheseStandardNutrientValues) : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="DefaultNutrientValues" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblNutrientValuesForMixedManure, Model.OtherMaterialName)
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @if ((Model.ManureType.DryMatter.HasValue) && Model.ManureType.DryMatter.Value > 0)
                                    {
                                        @string.Format(Resource.lblKgWithNutrient, Model.ManureType.DryMatter.Value, Resource.lblDryMatterPercent)
                                        <br />
                                    }
                                    @if ((Model.ManureType.TotalN.HasValue) && Model.ManureType.TotalN.Value > 0)
                                    {
                                        @string.Format(Resource.lblKgWithNutrient, Model.ManureType.TotalN.Value, Resource.lblNitrogen)
                                        <br />
                                    }
                                    @if ((Model.ManureType.NH4N.HasValue) && Model.ManureType.NH4N.Value > 0)
                                    {
                                        @string.Format(Resource.lblKgWithNutrient, Model.ManureType.NH4N.Value, Resource.lblAmmonium)
                                        <br />
                                    }
                                    @if ((Model.ManureType.Uric.HasValue) && Model.ManureType.Uric.Value > 0)
                                    {
                                        @string.Format(Resource.lblKgWithNutrient, Model.ManureType.Uric.Value, Resource.lblUricAcid)
                                        <br />
                                    }
                                    @if ((Model.ManureType.NO3N.HasValue) && Model.ManureType.NO3N.Value > 0)
                                    {
                                        @string.Format(Resource.lblKgWithNutrient, Model.ManureType.NO3N.Value, Resource.lblNitrate)
                                        <br />
                                    }
                                    @if ((Model.ManureType.P2O5.HasValue) && Model.ManureType.P2O5.Value > 0)
                                    {
                                        @string.Format(Resource.lblKgWithNutrient, Model.ManureType.P2O5.Value, Resource.lblPhosphateP2O5)
                                        <br />
                                    }
                                    @if ((Model.ManureType.K2O.HasValue) && Model.ManureType.K2O.Value > 0)
                                    {
                                        @string.Format(Resource.lblKgWithNutrient, Model.ManureType.K2O.Value, Resource.lblPotashK2O)
                                        <br />
                                    }
                                    @if ((Model.ManureType.SO3.HasValue) && Model.ManureType.SO3.Value > 0)
                                    {
                                        @string.Format(Resource.lblKgWithNutrient, Model.ManureType.SO3.Value, Resource.lblSulphurSO3)
                                        <br />
                                    }
                                    @if ((Model.ManureType.MgO.HasValue) && Model.ManureType.MgO.Value > 0)
                                    {
                                        @string.Format(Resource.lblKgWithNutrient, Model.ManureType.MgO.Value, Resource.lblMagnesiumMgO)
                                        <br />
                                    }

                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                        }
                        else
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblNutrientValuesForMixedManure, Model.OtherMaterialName)
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @if ((Model.DryMatterPercent.HasValue) && Model.DryMatterPercent.Value > 0)
                                    {
                                        @string.Format(Resource.lblKgWithNutrient, Model.DryMatterPercent.Value, Resource.lblDryMatterPercent)
                                        <br />
                                    }
                                    @if ((Model.N.HasValue) && Model.N.Value > 0)
                                    {
                                        @string.Format(Resource.lblKgWithNutrient, Model.N.Value, Resource.lblNitrogen)
                                        <br />
                                    }
                                    @if ((Model.NH4N.HasValue) && Model.NH4N.Value > 0)
                                    {
                                        @string.Format(Resource.lblKgWithNutrient, Model.NH4N.Value, Resource.lblAmmonium)
                                        <br />
                                    }
                                    @if ((Model.UricAcid.HasValue) && Model.UricAcid.Value > 0)
                                    {
                                        @string.Format(Resource.lblKgWithNutrient, Model.UricAcid.Value, Resource.lblUricAcid)
                                        <br />
                                    }
                                    @if ((Model.NO3N.HasValue) && Model.NO3N.Value > 0)
                                    {
                                        @string.Format(Resource.lblKgWithNutrient, Model.NO3N.Value, Resource.lblNitrate)
                                        <br />
                                    }
                                    @if ((Model.P2O5.HasValue) && Model.P2O5.Value > 0)
                                    {
                                        @string.Format(Resource.lblKgWithNutrient, Model.P2O5.Value, Resource.lblPhosphateP2O5)
                                        <br />
                                    }
                                    @if ((Model.K2O.HasValue) && Model.K2O.Value > 0)
                                    {
                                        @string.Format(Resource.lblKgWithNutrient, Model.K2O.Value, Resource.lblPotashK2O)
                                        <br />
                                    }
                                    @if ((Model.SO3.HasValue) && Model.SO3.Value > 0)
                                    {
                                        @string.Format(Resource.lblKgWithNutrient, Model.SO3.Value, Resource.lblSulphurSO3)
                                        <br />
                                    }
                                    @if ((Model.MgO.HasValue) && Model.MgO.Value > 0)
                                    {
                                        @string.Format(Resource.lblKgWithNutrient, Model.MgO.Value, Resource.lblMagnesiumMgO)
                                        <br />
                                    }


                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="ManualNutrientValues" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                        }
                    }
                    else
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @string.Format(Resource.lblNutrientValuesForMixedManure, Model.OtherMaterialName)
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @if ((Model.DryMatterPercent.HasValue) && Model.DryMatterPercent.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.DryMatterPercent.Value, Resource.lblDryMatterPercent)
                                    <br />
                                }
                                @if ((Model.N.HasValue) && Model.N.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.N.Value, Resource.lblNitrogen)
                                    <br />
                                }
                                @if ((Model.NH4N.HasValue) && Model.NH4N.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.NH4N.Value, Resource.lblAmmonium)
                                    <br />
                                }
                                @if ((Model.UricAcid.HasValue) && Model.UricAcid.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.UricAcid.Value, Resource.lblUricAcid)
                                    <br />
                                }
                                @if ((Model.NO3N.HasValue) && Model.NO3N.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.NO3N.Value, Resource.lblNitrate)
                                    <br />
                                }
                                @if ((Model.P2O5.HasValue) && Model.P2O5.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.P2O5.Value, Resource.lblPhosphateP2O5)
                                    <br />
                                }
                                @if ((Model.K2O.HasValue) && Model.K2O.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.K2O.Value, Resource.lblPotashK2O)
                                    <br />
                                }
                                @if ((Model.SO3.HasValue) && Model.SO3.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.SO3.Value, Resource.lblSulphurSO3)
                                    <br />
                                }
                                @if ((Model.MgO.HasValue) && Model.MgO.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.MgO.Value, Resource.lblMagnesiumMgO)
                                    <br />
                                }


                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="ManualNutrientValues" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                }
                else
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @string.Format(Resource.lblNutrientValuesForMixedManure, Model.ManureTypeName)
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @if (!string.IsNullOrWhiteSpace(Model.DefaultNutrientValue) && (Model.DefaultNutrientValue == Resource.lblIwantToEnterARecentOrganicMaterialAnalysis))
                            {
                                @if ((Model.DryMatterPercent.HasValue) && Model.DryMatterPercent.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.DryMatterPercent.Value, Resource.lblDryMatterPercent)
                                    <br />
                                }
                                @if ((Model.N.HasValue) && Model.N.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.N.Value, Resource.lblNitrogen)
                                    <br />
                                }
                                @if ((Model.NH4N.HasValue) && Model.NH4N.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.NH4N.Value, Resource.lblAmmonium)
                                    <br />
                                }
                                @if ((Model.UricAcid.HasValue) && Model.UricAcid.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.UricAcid.Value, Resource.lblUricAcid)
                                    <br />
                                }
                                @if ((Model.NO3N.HasValue) && Model.NO3N.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.NO3N.Value, Resource.lblNitrate)
                                    <br />
                                }
                                @if ((Model.P2O5.HasValue) && Model.P2O5.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.P2O5.Value, Resource.lblPhosphateP2O5)
                                    <br />
                                }
                                @if ((Model.K2O.HasValue) && Model.K2O.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.K2O.Value, Resource.lblPotashK2O)
                                    <br />
                                }
                                @if ((Model.SO3.HasValue) && Model.SO3.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.SO3.Value, Resource.lblSulphurSO3)
                                    <br />
                                }
                                @if ((Model.MgO.HasValue) && Model.MgO.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.MgO.Value, Resource.lblMagnesiumMgO)
                                    <br />
                                }
                            }
                            else
                            {
                                @if ((Model.ManureType.DryMatter.HasValue) && Model.ManureType.DryMatter.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.ManureType.DryMatter.Value, Resource.lblDryMatterPercent)
                                    <br />
                                }
                                @if ((Model.ManureType.TotalN.HasValue) && Model.ManureType.TotalN.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.ManureType.TotalN.Value, Resource.lblNitrogen)
                                    <br />
                                }
                                @if ((Model.ManureType.NH4N.HasValue) && Model.ManureType.NH4N.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.ManureType.NH4N.Value, Resource.lblAmmonium)
                                    <br />
                                }
                                @if ((Model.ManureType.Uric.HasValue) && Model.ManureType.Uric.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.ManureType.Uric.Value, Resource.lblUricAcid)
                                    <br />
                                }
                                @if ((Model.ManureType.NO3N.HasValue) && Model.ManureType.NO3N.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.ManureType.NO3N.Value, Resource.lblNitrate)
                                    <br />
                                }
                                @if ((Model.ManureType.P2O5.HasValue) && Model.ManureType.P2O5.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.ManureType.P2O5.Value, Resource.lblPhosphateP2O5)
                                    <br />
                                }
                                @if ((Model.ManureType.K2O.HasValue) && Model.ManureType.K2O.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.ManureType.K2O.Value, Resource.lblPotashK2O)
                                    <br />
                                }
                                @if ((Model.ManureType.SO3.HasValue) && Model.ManureType.SO3.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.ManureType.SO3.Value, Resource.lblSulphurSO3)
                                    <br />
                                }
                                @if ((Model.ManureType.MgO.HasValue) && Model.ManureType.MgO.Value > 0)
                                {
                                    @string.Format(Resource.lblKgWithNutrient, Model.ManureType.MgO.Value, Resource.lblMagnesiumMgO)
                                    <br />
                                }
                            }

                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            @if (!string.IsNullOrWhiteSpace(Model.DefaultNutrientValue) && (Model.DefaultNutrientValue == Resource.lblIwantToEnterARecentOrganicMaterialAnalysis))
                            {
                                <govuk-summary-list-row-action asp-action="ManualNutrientValues" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                            }

                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>

                }
                <govuk-summary-list-row class=@((!Model.ApplicationRateMethod.HasValue)?"govuk-error-message":"")>
                    <govuk-summary-list-row-key>
                        @string.Format(Resource.lblHowWouldYouLikeToEnterTheApplicationRate, Model.ManureTypeName)
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @((Model.ApplicationRateMethod.HasValue) ? howWouldYouEnterApplicationRate : Resource.lblNotSet)
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action class=@((Model.ManureTypeId.HasValue)?"":"disabled") asp-action="ApplicationRateMethod" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                @if (howWouldYouEnterApplicationRate == Resource.lblEnterAnApplicationRate)
                {
                    <govuk-summary-list-row class=@((!Model.ApplicationRate.HasValue)?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @string.Format(Resource.lblApplicationRateRow, (Model.IsManureTypeLiquid != null && Model.IsManureTypeLiquid.Value) ? Resource.lblMeterCubePerHa : Resource.lblTonPerHa)
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @((Model.ApplicationRate.HasValue) ? Model.ApplicationRate : Resource.lblNotSet)
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action class=@((Model.ManureTypeId.HasValue)?"":"disabled") asp-action="ManualApplicationRate" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }
                else
                {
                    @if (howWouldYouEnterApplicationRate == Resource.lblCalculateBasedOnTheAreaAndQuantity)
                    {
                        <govuk-summary-list-row class=@((!Model.Area.HasValue)?"govuk-error-message":"")>
                            <govuk-summary-list-row-key>
                                @Resource.lblAreas
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @((Model.Area.HasValue) ? Model.Area : Resource.lblNotSet)
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action class=@((Model.ManureTypeId.HasValue)?"":"disabled") asp-action="AreaQuantity" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row class=@((!Model.Quantity.HasValue)?"govuk-error-message":"")>
                            <govuk-summary-list-row-key>
                                @Resource.lblQuantity
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @((Model.Quantity.HasValue) ? Model.Quantity : Resource.lblNotSet)
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action class=@((Model.ManureTypeId.HasValue)?"":"disabled") asp-action="AreaQuantity" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                    <govuk-summary-list-row class=@((!Model.ApplicationRate.HasValue)?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @string.Format(Resource.lblApplicationRateRow, (Model.IsManureTypeLiquid != null && Model.IsManureTypeLiquid.Value) ? Resource.lblMeterCubePerHa : Resource.lblTonPerHa)
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @((Model.ApplicationRate.HasValue) ? Model.ApplicationRate : Resource.lblNotSet)
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            @* <govuk-summary-list-row-action asp-action="ManualApplicationRate" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action> *@
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }
                @*
                @if (needToShowIncorporationsData)
                { *@
                <govuk-summary-list-row class=@((!Model.IncorporationMethod.HasValue)?"govuk-error-message":"")>
                    <govuk-summary-list-row-key>
                        @string.Format(Resource.lblWhatIsTheIncorporationMethod, Model.ManureTypeName)
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @((Model.IncorporationMethod.HasValue) ? Model.IncorporationMethodName : Resource.lblNotSet)
                    </govuk-summary-list-row-value>
                    @if (needToShowIncorporationsBtn && Model.ApplicationMethod != null)
                    {
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="IncorporationMethod" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    }
                </govuk-summary-list-row>

                <govuk-summary-list-row class=@((!Model.IncorporationDelay.HasValue)?"govuk-error-message":"")>
                    <govuk-summary-list-row-key>
                        @string.Format(Resource.lblHowLongIsTheGapBetweenApplicationAndIncorporation, Model.ManureTypeName)
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @((Model.IncorporationDelay.HasValue) ? Model.IncorporationDelayName : Resource.lblNotSet)
                    </govuk-summary-list-row-value>
                    @if (needToShowIncorporationDelayBtn && Model.ApplicationMethod != null)
                    {
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="IncorporationDelay" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    }
                </govuk-summary-list-row>
                @* } *@
                @* } *@
                @if (Model.FieldList.Count > 1)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @Resource.lblAutumnCropNitrogenUptake
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @Resource.lblTheAmountIsDifferentForEachOfTheseFields

                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="AutumnCropNitrogenUptakeDetail" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }
                else
                {
                    <govuk-summary-list-row class=@(Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake==null ?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @Resource.lblAutumnCropNitrogenUptake
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @((Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake != null) ? string.Format(Resource.lblAutumnCropNitrogenPerHectare, (Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake == 0.0m ? 0 : Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake.ToString("#.#"))) : Resource.lblNotSet)

                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="AutumnCropNitrogenUptake" asp-controller="OrganicManure" asp-route-f="@Model.AutumnCropNitrogenUptakes[0].EncryptedFieldId">@Resource.lblChange</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                <govuk-summary-list-row class=@((!Model.SoilDrainageEndDate.HasValue)?"govuk-error-message":"")>
                    <govuk-summary-list-row-key>
                        @Resource.lblEndOfSoilDrainage
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @((Model.SoilDrainageEndDate.HasValue) ? Model.SoilDrainageEndDate.Value.Date.ToString("dd MMMM yyyy") : Resource.lblNotSet)
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="SoilDrainageEndDate" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row class=@((!Model.RainfallWithinSixHoursID.HasValue)?"govuk-error-message":"")>
                    <govuk-summary-list-row-key>
                        @Resource.lblRainfallWithinSixHoursOfApplication
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @((Model.RainfallWithinSixHoursID.HasValue) ? Model.RainfallWithinSixHours : Resource.lblNotSet)
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="RainfallWithinSixHour" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>

                <govuk-summary-list-row class=@((!Model.TotalRainfall.HasValue)?"govuk-error-message":"")>
                    <govuk-summary-list-row-key>
                        @Resource.lblTotalRainfallSinceApplication
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @((Model.TotalRainfall.HasValue) ? string.Format(Resource.lblRainfallMM, Model.TotalRainfall) : Resource.lblNotSet)
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="EffectiveRainfall" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row class=@((!Model.WindspeedID.HasValue)?"govuk-error-message":"")>
                    <govuk-summary-list-row-key>
                        @Resource.lblWindspeedAtApplication
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @((Model.WindspeedID.HasValue) ? Model.Windspeed : Resource.lblNotSet)
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="Windspeed" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row class=@((!Model.MoistureTypeId.HasValue)?"govuk-error-message":"")>
                    <govuk-summary-list-row-key>
                        @Resource.lblTopsoilMoisture
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @((Model.MoistureTypeId.HasValue) ? Model.MoistureType : Resource.lblNotSet)
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="TopsoilMoisture" asp-controller="OrganicManure">@Resource.lblChange</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblAddToPlan
            </govuk-button>
            <p class="govuk-body cancel-link"><a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a></p>
        </div>
    </div>
</form>