@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.OrganicManureViewModel
@{

    string title = (!string.IsNullOrEmpty(Model.EncryptedOrgManureId)) ? Resource.lblUpdateOrganicManure : Resource.lblAddOrganicManure;
    ViewData["Title"] = $"{Resource.lblConditionsAffectingTheLossOfNutrients} {Resource.lblHyphen} {title}";

    var backAction = Model.IncorporationMethod == (int)NMP.Commons.Enums.IncorporationMethod.NotIncorporated ? "IncorporationMethod" : "IncorporationDelay";
    bool isAutumnNUptakeZero = Model.AutumnCropNitrogenUptakes?.All(x => x.AutumnCropNitrogenUptake == 0) ?? true;
}
@section BeforeContent {
    @if (Model.IsApplicationDateChange.HasValue && Model.IsApplicationDateChange.Value)
    {
        <govuk-back-link asp-action="ManureApplyingDate" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
    }
    else
    {
        @if ((Model.ApplicationMethod == (int)NMP.Commons.Enums.ApplicationMethod.DeepInjection2530cm) || (Model.ApplicationMethod == (int)NMP.Commons.Enums.ApplicationMethod.ShallowInjection57cm))
        {
            @if (Model.ApplicationRateMethod.Value == (int)NMP.Commons.Enums.ApplicationRate.EnterAnApplicationRate)
            {
                <govuk-back-link asp-action="ManualApplicationRate" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
            }
            else if (Model.ApplicationRateMethod.Value == (int)NMP.Commons.Enums.ApplicationRate.CalculateBasedOnAreaAndQuantity)
            {
                <govuk-back-link asp-action="AreaQuantity" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
            }
            else
            {
                <govuk-back-link asp-action="ApplicationRateMethod" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
            }
        }
        else
        {
            <govuk-back-link asp-action="@backAction" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
        }
    }

}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        @if (TempData["ConditionsAffectingNutrientsError"] != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ConditionsAffectingNutrientsError"]</govuk-error-summary-item>
            </govuk-error-summary>
        }
        <form asp-action="ConditionsAffectingNutrients" asp-controller="OrganicManure" method="post" autocomplete="off">
            @Html.AntiForgeryToken()
           @await Html.PartialAsync("~/Views/OrganicManure/_OrganicManureWizardHiddenFields.cshtml", Model)
            <h1 class="govuk-heading-l">@Resource.lblConditionsAffectingTheLossOfNutrients</h1>
            <p class="govuk-body">
                @Resource.lblTheseValuesAreUsedToCalculateHowEffective
            </p>
            <govuk-details>
                <govuk-details-summary>
                    @Resource.lblAboutTheseValues
                </govuk-details-summary>

                <govuk-details-text class="explanations">
                    @* @Resource.lblTheEffectivenessOfYourOrganicMaterialApp *@
                    @if (!isAutumnNUptakeZero)
                    {
                        <h3 class="govuk-heading-s">@Resource.lblAutumnCropNitrogenNUptake</h3>
                        <p class="govuk-body">@Resource.lblAmountOfNFromTheApplicationTaken.</p>
                    }
                    <h3 class="govuk-heading-s">@Resource.lblEndOfSoilDrainage</h3>
                    <p class="govuk-body">@Resource.lblDateWhenSoilDrainageEnds.</p>


                    <h3 class="govuk-heading-s">@Resource.lblRainfallWithin6HoursOfApplication</h3>
                    <p class="govuk-body">@Resource.lblAmountOfRainThatFallsInThe6Hours.</p>


                    <h3 class="govuk-heading-s">@Resource.lblEffectiveRainfallAfterApplication</h3>
                    <p class="govuk-body">@Resource.lblAverageRainfallBetweenManAppAndEndOfSoilDrainage.</p>


                    <h3 class="govuk-heading-s">@Resource.lblWindspeedDuringApplication</h3>
                    <p class="govuk-body">@Resource.lblWindspeedWhenTheMaterialIsApplied.</p>

                    <h3 class="govuk-heading-s">@Resource.lblTopsoilMoisture</h3>
                    <p class="govuk-body"> @Resource.lblHowMoistTheTopsoilIs.</p">
                </govuk-details-text>
            </govuk-details>


            <h2 class="govuk-heading-m">@Resource.HeadingClimateConditions</h2>
            <govuk-summary-list>
                @if (!isAutumnNUptakeZero)
                {
                    @if (Model.FieldList.Count > 1)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @Resource.lblAutumnCropNitrogenUptake
                            </govuk-summary-list-row-key>
                            @if (Model.AutumnCropNitrogenUptakes.All(x => x.AutumnCropNitrogenUptake == Model.AutumnCropNitrogenUptakes.First().AutumnCropNitrogenUptake))
                            {
                                <govuk-summary-list-row-value>@string.Format(Resource.lblAutumnCropNitrogenPerHectare, (Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake == 0.0m ? 0 : Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake.ToString("#,0.#")))</govuk-summary-list-row-value>
                            }
                            else
                            {
                                <govuk-summary-list-row-value>@Resource.lblTheAmountIsDifferentForEachOfTheseFields</govuk-summary-list-row-value>
                            }
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="AutumnCropNitrogenUptakeDetail" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblAutumnCropNitrogenUptake</span></govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                    else
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @Resource.lblAutumnCropNitrogenUptake
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @string.Format(Resource.lblAutumnCropNitrogenPerHectare, (Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake == 0.0m ? 0 : Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake.ToString("#,0.#")))
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="AutumnCropNitrogenUptake" asp-controller="OrganicManure" asp-route-f="@Model.AutumnCropNitrogenUptakes[0].EncryptedFieldId">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblAutumnCropNitrogenUptake</span></govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                }
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        @Resource.lblEndOfSoilDrainage
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @Model.SoilDrainageEndDate.Value.Date.ToString("dd MMMM yyyy")
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="SoilDrainageEndDate" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblEndOfSoilDrainage</span></govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>@Resource.lblRainfallWithin6HoursOfApplication</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.RainfallWithinSixHours</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="RainfallWithinSixHour" asp-controller="OrganicManure">
                            @Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblRainfallWithin6HoursOfApplication</span>
                        </govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>@Resource.lblEffectiveRainfallAfterApplication</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@string.Format(Resource.lblRainfallMM, string.Format("{0:N0}", Model.TotalRainfall))</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="EffectiveRainfall" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblEffectiveRainfallAfterApplication</span></govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>@Resource.lblWindspeedDuringApplication</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Windspeed</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="Windspeed" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblWindspeedDuringApplication</span></govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>@Resource.lblTopsoilMoisture</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.MoistureType</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="TopsoilMoisture" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblTopsoilMoisture</span></govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
            </govuk-summary-list>

            @* <table class="govuk-table">
                <tbody class="govuk-table__body">
                    @if (!isAutumnNUptakeZero)
                    {
                        @if (Model.FieldList.Count > 1)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@Resource.lblAutumnCropNitrogenUptake</td>
                                @if (Model.AutumnCropNitrogenUptakes.All(x => x.AutumnCropNitrogenUptake == Model.AutumnCropNitrogenUptakes.First().AutumnCropNitrogenUptake))
                                {
                                    <td class="govuk-table__cell">@string.Format(Resource.lblAutumnCropNitrogenPerHectare, (Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake == 0.0m ? 0 : Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake.ToString("#,0.#")))</td>
                                }
                                else
                                {
                                    <td class="govuk-table__cell">@Resource.lblTheAmountIsDifferentForEachOfTheseFields</td>
                                }
                                <td class="govuk-table__cell"><a asp-action="AutumnCropNitrogenUptakeDetail" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblAutumnCropNitrogenUptake</span></a></td>
                            </tr>
                        }
                        else
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@Resource.lblAutumnCropNitrogenUptake</td>
                                <td class="govuk-table__cell">@string.Format(Resource.lblAutumnCropNitrogenPerHectare, (Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake == 0.0m ? 0 : Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake.ToString("#,0.#")))</td>
                                <td class="govuk-table__cell"><a asp-action="AutumnCropNitrogenUptake" asp-controller="OrganicManure" asp-route-f="@Model.AutumnCropNitrogenUptakes[0].EncryptedFieldId">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblAutumnCropNitrogenUptake</span></a></td>
                            </tr>
                        }
                    }

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblEndOfSoilDrainage</td>
                        <td class="govuk-table__cell">@Model.SoilDrainageEndDate.Value.Date.ToString("dd MMMM yyyy")</td>
                        <td class="govuk-table__cell"><a asp-action="SoilDrainageEndDate" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblEndOfSoilDrainage</span></a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblRainfallWithin6HoursOfApplication</td>
                        <td class="govuk-table__cell">@Model.RainfallWithinSixHours</td>
                        <td class="govuk-table__cell"><a asp-action="RainfallWithinSixHour" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblRainfallWithin6HoursOfApplication</span></a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblEffectiveRainfallAfterApplication</td>
                        <td class="govuk-table__cell">@string.Format(Resource.lblRainfallMM, string.Format("{0:N0}", Model.TotalRainfall))</td>
                        <td class="govuk-table__cell"><a asp-action="EffectiveRainfall" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblEffectiveRainfallAfterApplication</span></a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblWindspeedDuringApplication</td>
                        <td class="govuk-table__cell">@Model.Windspeed</td>
                        <td class="govuk-table__cell"><a asp-action="Windspeed" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblWindspeedDuringApplication</span></a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblTopsoilMoisture</td>
                        <td class="govuk-table__cell">@Model.MoistureType</td>
                        <td class="govuk-table__cell"><a asp-action="TopsoilMoisture" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblTopsoilMoisture</span></a></td>
                    </tr>
                </tbody>
            </table> *@


            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblCancel</a>
                }
            </p>
        </form>
    </div>

</div>

