@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.OrganicManureViewModel
@{

    string title = (!string.IsNullOrEmpty(Model.EncryptedOrgManureId)) ? Resource.lblUpdateOrganicManure : Resource.lblAddOrganicManure;
    ViewData["Title"] = $"{Resource.lblConditionsAffectingTheLossOfNutrients} {Resource.lblHyphen} {title}";

    var backAction = Model.IncorporationMethod == (int)NMP.Commons.Enums.IncorporationMethod.NotIncorporated ? "IncorporationMethod" : "IncorporationDelay";
    bool isAutumnNUptakeZero = Model.AutumnCropNitrogenUptakes?.All(x => x.AutumnCropNitrogenUptake == 0) ?? true;
}
@section BeforeContent {
    @if (Model.IsApplicationDateChange.HasValue && Model.IsApplicationDateChange.Value)
    {
        <govuk-back-link asp-action="ManureApplyingDate" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
    }
    else
    {
        @if ((Model.ApplicationMethod == (int)NMP.Commons.Enums.ApplicationMethod.DeepInjection2530cm) || (Model.ApplicationMethod == (int)NMP.Commons.Enums.ApplicationMethod.ShallowInjection57cm))
        {
            @if (Model.ApplicationRateMethod.Value == (int)NMP.Commons.Enums.ApplicationRate.EnterAnApplicationRate)
            {
                <govuk-back-link asp-action="ManualApplicationRate" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
            }
            else if (Model.ApplicationRateMethod.Value == (int)NMP.Commons.Enums.ApplicationRate.CalculateBasedOnAreaAndQuantity)
            {
                <govuk-back-link asp-action="AreaQuantity" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
            }
            else
            {
                <govuk-back-link asp-action="ApplicationRateMethod" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
            }
        }
        else
        {
            <govuk-back-link asp-action="@backAction" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
        }
    }

}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        @if (TempData["ConditionsAffectingNutrientsError"] != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ConditionsAffectingNutrientsError"]</govuk-error-summary-item>
            </govuk-error-summary>
        }
        <form asp-action="ConditionsAffectingNutrients" asp-controller="OrganicManure" method="post" autocomplete="off">
            @Html.AntiForgeryToken()
            <div hidden="true">
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldGroup"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureTypeId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsEnglishRules"/>
                <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ApplicationDate" value="@Model.ApplicationDate"></govuk-date-input>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefaultNutrientValue"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ApplicationRateMethod"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Area"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ApplicationRateArable"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Quantity"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ApplicationRate"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureTypeName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ApplicationMethod"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ApplicationMethodCount"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IncorporationMethod"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IncorporationDelay"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.DryMatter"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.TotalN"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.NH4N"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.NO3N"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.Uric"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.P2O5"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.K2O"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.MgO"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.SO3"/>

                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DryMatterPercent" value="@Model.DryMatterPercent"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.N" value="@Model.N"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NH4N" value="@Model.NH4N"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NO3N" value="@Model.NO3N"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UricAcid" value="@Model.UricAcid"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.P2O5" value="@Model.P2O5"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.K2O" value="@Model.K2O"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MgO" value="@Model.MgO"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SO3" value="@Model.SO3"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsFieldGroupChange" value="@Model.IsFieldGroupChange.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManureTypeChange" value="@Model.IsManureTypeChange.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManureTypeLiquid" value="@Model.IsManureTypeLiquid.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ApplicationMethodName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IncorporationDelayName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IncorporationMethodName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroupName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MoistureTypeId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.WindspeedID"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RainfallWithinSixHoursID"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromRecommendation"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.K2OAvailable"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.P2O5Available"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyNeedToStoreNutrientValueForFuture"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"/>



                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AutumnCropNitrogenUptake"/>
                <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilDrainageEndDate" value="@Model.SoilDrainageEndDate"></govuk-date-input>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RainfallWithinSixHoursID"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RainfallWithinSixHours"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalRainfall"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.WindspeedID"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Windspeed"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MoistureTypeId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MoistureType"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupIdForFilter"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsClosedPeriodWarning" value="@Model.IsClosedPeriodWarning"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsNMaxLimitWarning" value="@Model.IsNMaxLimitWarning.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsOrgManureNfieldLimitWarning" value="@Model.IsOrgManureNfieldLimitWarning.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsEndClosedPeriodFebruaryWarning" value="@Model.IsEndClosedPeriodFebruaryWarning"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsEndClosedPeriodFebruaryExistWithinThreeWeeks" value="@Model.IsEndClosedPeriodFebruaryExistWithinThreeWeeks"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsStartPeriodEndFebOrganicAppRateExceedMaxN150" value="@Model.IsStartPeriodEndFebOrganicAppRateExceedMaxN150"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropOrder"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OtherMaterialName"/>
                <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefaultFarmManureValueDate" value="@Model.DefaultFarmManureValueDate"></govuk-date-input>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsThisDefaultValueOfRB209" value="@Model.IsThisDefaultValueOfRB209"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmCountryId"/>
                <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodStartDate" value="@Model.ClosedPeriodStartDate"></govuk-date-input>
                <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodEndDate" value="@Model.ClosedPeriodEndDate"></govuk-date-input>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodForUI"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedOrgManureId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsApplicationDateChange" value="@Model.IsApplicationDateChange.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldID" value="@Model.FieldID"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCropEncryptedCounter" value="@Model.DoubleCropEncryptedCounter"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCropCurrentCounter" value="@Model.DoubleCropCurrentCounter"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName" value="@Model.FieldName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsDoubleCropAvailable"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyChangeInField"/>

                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationCurrentCounter"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationEncryptedCounter"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassCropCount"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyCropIsGrass" value="@Model.IsAnyCropIsGrass.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyChangeInSameDefoliationFlag" value="@Model.IsAnyChangeInSameDefoliationFlag.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsSameDefoliationForAll"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NeedToShowSameDefoliationForAll" value="@Model.NeedToShowSameDefoliationForAll.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsDefaultValueChange" value="@Model.IsDefaultValueChange"/>

                @if (Model.FieldList != null && Model.FieldList.Count > 0)
                {
                    @for (int i = 0; i < Model.FieldList.Count; i++)
                    {
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]"/>
                    }
                }
                @if (Model.OrganicManures != null && Model.OrganicManures.Count > 0)
                {
                    @for (int i = 0; i < Model.OrganicManures.Count; i++)
                    {
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].ManagementPeriodID" value="@Model.OrganicManures[i].ManagementPeriodID"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].ManureTypeID" value="@Model.OrganicManures[i].ManureTypeID"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].ApplicationMethodID" value="@Model.OrganicManures[i].ApplicationMethodID"/>
                        <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].ApplicationDate" value="@Model.OrganicManures[i].ApplicationDate"></govuk-date-input>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].K2O" value="@Model.OrganicManures[i].K2O"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].MgO" value="@Model.OrganicManures[i].MgO"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].P2O5" value="@Model.OrganicManures[i].P2O5"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].SO3" value="@Model.OrganicManures[i].SO3"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].NH4N" value="@Model.OrganicManures[i].NH4N"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].NO3N" value="@Model.OrganicManures[i].NO3N"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].UricAcid" value="@Model.OrganicManures[i].UricAcid"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].DryMatterPercent" value="@Model.OrganicManures[i].DryMatterPercent"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].N" value="@Model.OrganicManures[i].N"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].ApplicationRate" value="@Model.OrganicManures[i].ApplicationRate"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].IncorporationDelayID" value="@Model.OrganicManures[i].IncorporationDelayID"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].IncorporationMethodID" value="@Model.OrganicManures[i].IncorporationMethodID"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].AvailableK2O" value="@Model.OrganicManures[i].AvailableK2O"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].AvailableP2O5" value="@Model.OrganicManures[i].AvailableP2O5"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].AreaSpread" value="@Model.OrganicManures[i].AreaSpread"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].ManureQuantity" value="@Model.OrganicManures[i].ManureQuantity"/>

                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].AutumnCropNitrogenUptake" value="@Model.OrganicManures[i].AutumnCropNitrogenUptake"/>
                        <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].SoilDrainageEndDate" value="@Model.SoilDrainageEndDate"></govuk-date-input>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].RainfallWithinSixHoursID"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].Rainfall" value="@Model.OrganicManures[i].Rainfall"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].WindspeedID" value="@Model.OrganicManures[i].WindspeedID"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].MoistureID" value="@Model.OrganicManures[i].MoistureID"/>

                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].FieldID" value="@Model.OrganicManures[i].FieldID"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].FieldName" value="@Model.OrganicManures[i].FieldName"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].EncryptedCounter" value="@Model.OrganicManures[i].EncryptedCounter"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].Defoliation" value="@Model.OrganicManures[i].Defoliation"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].DefoliationName" value="@Model.OrganicManures[i].DefoliationName"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicManures[i].IsGrass" value="@Model.OrganicManures[i].IsGrass" />
                    }
                }
                @if (Model.AutumnCropNitrogenUptakes != null && Model.AutumnCropNitrogenUptakes.Count > 0)
                {
                    @for (int i = 0; i < Model.AutumnCropNitrogenUptakes.Count; i++)
                    {
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AutumnCropNitrogenUptakes[i].EncryptedFieldId" value="@Model.AutumnCropNitrogenUptakes[i].EncryptedFieldId"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AutumnCropNitrogenUptakes[i].FieldName" value="@Model.AutumnCropNitrogenUptakes[i].FieldName"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AutumnCropNitrogenUptakes[i].CropTypeId" value="@Model.AutumnCropNitrogenUptakes[i].CropTypeId"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AutumnCropNitrogenUptakes[i].CropTypeName" value="@Model.AutumnCropNitrogenUptakes[i].CropTypeName"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AutumnCropNitrogenUptakes[i].AutumnCropNitrogenUptake" value="@Model.AutumnCropNitrogenUptakes[i].AutumnCropNitrogenUptake"/>
                    }
                }

                @if (Model.UpdatedOrganicIds != null && Model.UpdatedOrganicIds.Count > 0)
                {
                    @for (int i = 0; i < Model.UpdatedOrganicIds.Count; i++)
                    {
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UpdatedOrganicIds[i].OrganicManureId" value="@Model.UpdatedOrganicIds[i].OrganicManureId"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UpdatedOrganicIds[i].ManagementPeriodId" value="@Model.UpdatedOrganicIds[i].ManagementPeriodId"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UpdatedOrganicIds[i].Name" value="@Model.UpdatedOrganicIds[i].Name"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UpdatedOrganicIds[i].Id" value="@Model.UpdatedOrganicIds[i].Id"/>
                    }
                }
                @if (Model.DoubleCrop != null && Model.DoubleCrop.Count > 0)
                {
                    @for (int i = 0; i < Model.DoubleCrop.Count; i++)
                    {
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].CropID"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].FieldName"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].FieldID"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].CropName"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].CropOrder"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].EncryptedCounter"/>
                    }
                }
                @if (Model.DefoliationList != null && Model.DefoliationList.Count > 0)
                {
                    @for (int i = 0; i < Model.DefoliationList.Count; i++)
                    {

                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].CropID" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].FieldName" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].FieldID" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].ManagementPeriodID" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].Counter" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].DefoliationName" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].EncryptedCounter" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].Defoliation" />
                    }
                }
            </div>
            <h1 class="govuk-heading-l">@Resource.lblConditionsAffectingTheLossOfNutrients</h1>
            <p class="govuk-body">
                @Resource.lblTheseValuesAreUsedToCalculateHowEffective
            </p>
            <govuk-details>
                <govuk-details-summary>
                    @Resource.lblAboutTheseValues
                </govuk-details-summary>

                <govuk-details-text class="explanations">
                    @* @Resource.lblTheEffectivenessOfYourOrganicMaterialApp *@
                    @if (!isAutumnNUptakeZero)
                    {
                        <h3 class="govuk-heading-s">@Resource.lblAutumnCropNitrogenNUptake</h3>
                        <p class="govuk-body">@Resource.lblAmountOfNFromTheApplicationTaken.</p>
                    }
                    <h3 class="govuk-heading-s">@Resource.lblEndOfSoilDrainage</h3>
                    <p class="govuk-body">@Resource.lblDateWhenSoilDrainageEnds.</p>


                    <h3 class="govuk-heading-s">@Resource.lblRainfallWithin6HoursOfApplication</h3>
                    <p class="govuk-body">@Resource.lblAmountOfRainThatFallsInThe6Hours.</p>


                    <h3 class="govuk-heading-s">@Resource.lblEffectiveRainfallAfterApplication</h3>
                    <p class="govuk-body">@Resource.lblAverageRainfallBetweenManAppAndEndOfSoilDrainage.</p>


                    <h3 class="govuk-heading-s">@Resource.lblWindspeedDuringApplication</h3>
                    <p class="govuk-body">@Resource.lblWindspeedWhenTheMaterialIsApplied.</p>

                    <h3 class="govuk-heading-s">@Resource.lblTopsoilMoisture</h3>
                    <p class="govuk-body"> @Resource.lblHowMoistTheTopsoilIs.</p">
                </govuk-details-text>
            </govuk-details>


            <h2 class="govuk-heading-m">@Resource.HeadingClimateConditions</h2>
            <govuk-summary-list>
                @if (!isAutumnNUptakeZero)
                {
                    @if (Model.FieldList.Count > 1)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @Resource.lblAutumnCropNitrogenUptake
                            </govuk-summary-list-row-key>
                            @if (Model.AutumnCropNitrogenUptakes.All(x => x.AutumnCropNitrogenUptake == Model.AutumnCropNitrogenUptakes.First().AutumnCropNitrogenUptake))
                            {
                                <govuk-summary-list-row-value>@string.Format(Resource.lblAutumnCropNitrogenPerHectare, (Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake == 0.0m ? 0 : Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake.ToString("#,0.#")))</govuk-summary-list-row-value>
                            }
                            else
                            {
                                <govuk-summary-list-row-value>@Resource.lblTheAmountIsDifferentForEachOfTheseFields</govuk-summary-list-row-value>
                            }
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="AutumnCropNitrogenUptakeDetail" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblAutumnCropNitrogenUptake</span></govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                    else
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @Resource.lblAutumnCropNitrogenUptake
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @string.Format(Resource.lblAutumnCropNitrogenPerHectare, (Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake == 0.0m ? 0 : Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake.ToString("#,0.#")))
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="AutumnCropNitrogenUptake" asp-controller="OrganicManure" asp-route-f="@Model.AutumnCropNitrogenUptakes[0].EncryptedFieldId">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblAutumnCropNitrogenUptake</span></govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                }
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        @Resource.lblEndOfSoilDrainage
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @Model.SoilDrainageEndDate.Value.Date.ToString("dd MMMM yyyy")
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="SoilDrainageEndDate" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblEndOfSoilDrainage</span></govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>@Resource.lblRainfallWithin6HoursOfApplication</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.RainfallWithinSixHours</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="RainfallWithinSixHour" asp-controller="OrganicManure">
                            @Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblRainfallWithin6HoursOfApplication</span>
                        </govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>@Resource.lblEffectiveRainfallAfterApplication</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@string.Format(Resource.lblRainfallMM, string.Format("{0:N0}", Model.TotalRainfall))</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="EffectiveRainfall" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblEffectiveRainfallAfterApplication</span></govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>@Resource.lblWindspeedDuringApplication</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Windspeed</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="Windspeed" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblWindspeedDuringApplication</span></govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>@Resource.lblTopsoilMoisture</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.MoistureType</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="TopsoilMoisture" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblTopsoilMoisture</span></govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
            </govuk-summary-list>

            @* <table class="govuk-table">
                <tbody class="govuk-table__body">
                    @if (!isAutumnNUptakeZero)
                    {
                        @if (Model.FieldList.Count > 1)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@Resource.lblAutumnCropNitrogenUptake</td>
                                @if (Model.AutumnCropNitrogenUptakes.All(x => x.AutumnCropNitrogenUptake == Model.AutumnCropNitrogenUptakes.First().AutumnCropNitrogenUptake))
                                {
                                    <td class="govuk-table__cell">@string.Format(Resource.lblAutumnCropNitrogenPerHectare, (Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake == 0.0m ? 0 : Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake.ToString("#,0.#")))</td>
                                }
                                else
                                {
                                    <td class="govuk-table__cell">@Resource.lblTheAmountIsDifferentForEachOfTheseFields</td>
                                }
                                <td class="govuk-table__cell"><a asp-action="AutumnCropNitrogenUptakeDetail" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblAutumnCropNitrogenUptake</span></a></td>
                            </tr>
                        }
                        else
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@Resource.lblAutumnCropNitrogenUptake</td>
                                <td class="govuk-table__cell">@string.Format(Resource.lblAutumnCropNitrogenPerHectare, (Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake == 0.0m ? 0 : Model.AutumnCropNitrogenUptakes[0].AutumnCropNitrogenUptake.ToString("#,0.#")))</td>
                                <td class="govuk-table__cell"><a asp-action="AutumnCropNitrogenUptake" asp-controller="OrganicManure" asp-route-f="@Model.AutumnCropNitrogenUptakes[0].EncryptedFieldId">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblAutumnCropNitrogenUptake</span></a></td>
                            </tr>
                        }
                    }

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblEndOfSoilDrainage</td>
                        <td class="govuk-table__cell">@Model.SoilDrainageEndDate.Value.Date.ToString("dd MMMM yyyy")</td>
                        <td class="govuk-table__cell"><a asp-action="SoilDrainageEndDate" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblEndOfSoilDrainage</span></a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblRainfallWithin6HoursOfApplication</td>
                        <td class="govuk-table__cell">@Model.RainfallWithinSixHours</td>
                        <td class="govuk-table__cell"><a asp-action="RainfallWithinSixHour" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblRainfallWithin6HoursOfApplication</span></a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblEffectiveRainfallAfterApplication</td>
                        <td class="govuk-table__cell">@string.Format(Resource.lblRainfallMM, string.Format("{0:N0}", Model.TotalRainfall))</td>
                        <td class="govuk-table__cell"><a asp-action="EffectiveRainfall" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblEffectiveRainfallAfterApplication</span></a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblWindspeedDuringApplication</td>
                        <td class="govuk-table__cell">@Model.Windspeed</td>
                        <td class="govuk-table__cell"><a asp-action="Windspeed" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblWindspeedDuringApplication</span></a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblTopsoilMoisture</td>
                        <td class="govuk-table__cell">@Model.MoistureType</td>
                        <td class="govuk-table__cell"><a asp-action="TopsoilMoisture" asp-controller="OrganicManure">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblTopsoilMoisture</span></a></td>
                    </tr>
                </tbody>
            </table> *@


            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblCancel</a>
                }
            </p>
        </form>
    </div>

</div>

