@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.OrganicManureViewModel
@{

    string title = (!string.IsNullOrEmpty(Model.EncryptedOrgManureId)) ? Resource.lblUpdateOrganicManure : Resource.lblAddOrganicManure;
    ViewData["Title"] = $"{string.Format(Resource.lblWhichCropIsThisManureApplication, Model.FieldName)} {Resource.lblHyphen} {title}";
    
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.OrganicManureWizardSteps.DoubleCrop;
}
@section BeforeContent {
    @if(Model.IsCheckAnswer&&(!Model.IsAnyChangeInField)&&(!Model.IsManureTypeChange))
    {
        <govuk-back-link asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
    }
    else{
    <govuk-back-link asp-action="DoubleCrop" asp-controller="OrganicManure" asp-route-q="@Model.DoubleCropEncryptedCounter">@Resource.lblBack</govuk-back-link>
    }

}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="DoubleCrop" asp-controller="OrganicManure" method="post" autocomplete="off">
            @Html.AntiForgeryToken()
            @if (TempData["DoubleCropError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item>@TempData["DoubleCropError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
           @await Html.PartialAsync("~/Views/OrganicManure/_OrganicManureWizardHiddenFields.cshtml", Model)
            @if (Model.DoubleCrop != null && Model.DoubleCrop.Count > 0)
            {
                @for (int i = 0; i < Model.DoubleCrop.Count; i++)
                {
                    @if (Model.DoubleCropCurrentCounter == i)
                    {
                        <govuk-radios for="@Model.DoubleCrop[i].CropID">
                            <govuk-radios-fieldset>
                                <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                                    @string.Format(Resource.lblWhichCropIsThisManureApplication, Model.FieldName)
                                </govuk-radios-fieldset-legend>
                                @if (ViewBag.DoubleCropOptions != null)
                                {
                                    @foreach (var item in ViewBag.DoubleCropOptions)
                                    {
                                        <govuk-radios-item value="@item.Value">@item.Text</govuk-radios-item>
                                    }

                                }

                            </govuk-radios-fieldset>
                        </govuk-radios>
                    }
                    else
                    {
                        <div hidden="true">
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].CropID" value="@Model.DoubleCrop[i].CropID"/>
                        </div>
                    }
                }
            }
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblCancel</a>
                }
            </p>
        </form>
    </div>

</div>

