@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.OrganicManureViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedOrgManureId)) ? Resource.lblUpdateOrganicManure : Resource.lblAddOrganicManure;
    ViewData["Title"] = $"{Resource.lblWhichFieldsWouldYouLikeToPlanAnOrganic} {Resource.lblHyphen} {title}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.OrganicManureWizardSteps.Fieldlist;
}

@section BeforeContent {
    <govuk-back-link asp-action="@(Model.IsCheckAnswer ? "CheckAnswer": "FieldGroup")" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
}
<form asp-action="Fields" asp-controller="OrganicManure" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/OrganicManure/_OrganicManureWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (TempData["FieldError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["FieldError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }


            <govuk-checkboxes name="FieldList" asp-for="FieldList">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Resource.lblWhichFieldsWouldYouLikeToPlanAnOrganic
                    </govuk-checkboxes-fieldset-legend>
                    <govuk-checkboxes-hint>
                        @Resource.lblSelectAllThatApply
                    </govuk-checkboxes-hint>
                    @if (ViewBag.FieldList != null)
                    {
                        @foreach (var item in ViewBag.FieldList)
                        {
                            <govuk-checkboxes-item value="@item.Value">@item.Text</govuk-checkboxes-item>
                        }
                    }

                    <govuk-checkboxes-divider>or</govuk-checkboxes-divider>
                    <govuk-checkboxes-item value=@Resource.lblSelectAll id="select-all" name="select-all">@Resource.lblSelectAll</govuk-checkboxes-item>
                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
            @if (!Model.IsCheckAnswer)
            {
                <a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
            }
            else
            {
                <a asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblCancel</a>
            }
            </p>
           @*  <p class="govuk-body cancel-link">
                <a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
            </p> *@

        </div>

    </div>
</form>