@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.OrganicManureViewModel
@{
    ViewData["Title"] = Resource.lblFieldGroup;
}

@section BeforeContent {
    <govuk-back-link asp-action="@("HarvestYearForPlan")" asp-controller="Crop">@Resource.lblBack</govuk-back-link>
}
<form asp-action="FieldGroup" asp-controller="OrganicManure" method="post">
    @Html.AntiForgeryToken()
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
    @if (TempData["FieldGroupError"] != null)
    {
        <govuk-error-summary>
            <govuk-error-summary-item href="#">@TempData["FieldGroupError"]</govuk-error-summary-item>
        </govuk-error-summary>
    }
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <govuk-radios asp-for="@Model.FieldGroup">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Resource.lblWhichFieldsWouldYouLikeToPlanAnOrganic
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-hint>@Resource.lblSelectOneOption</govuk-radios-hint>

                    @if (ViewBag.FieldGroupList != null)
                    {
                        @foreach (var item in ViewBag.FieldGroupList)
                        {
                            <govuk-radios-item value="@item.Value">@item.Text</govuk-radios-item>

                        }
                    }

                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link"><a asp-action="CreateManureCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a></p>

        </div>

    </div>
</form>