@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.OrganicManureViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedOrgManureId)) ? Resource.lblUpdateOrganicManure : Resource.lblAddOrganicManure;
    ViewData["Title"] = $"{Resource.lblWhichFieldsWouldYouLikeToPlanAnOrganic} {Resource.lblHyphen} {title}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.OrganicManureWizardSteps.FieldGroup;
}

@section BeforeContent {
    <govuk-back-link asp-action=@((Model.IsCheckAnswer&&Model.IsFieldGroupChange)?"CheckAnswer":"HarvestYearOverview") asp-controller=@((Model.IsCheckAnswer&&Model.IsFieldGroupChange)?"OrganicManure":"Crop") asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
}
<form asp-action="FieldGroup" asp-controller="OrganicManure" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/OrganicManure/_OrganicManureWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (TempData["FieldGroupError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["FieldGroupError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }

            <govuk-radios asp-for="@Model.FieldGroup">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Resource.lblWhichFieldsWouldYouLikeToPlanAnOrganic
                    </govuk-radios-fieldset-legend>

                    @if (ViewBag.FieldGroupList != null)
                    {
                        @foreach (var item in ViewBag.FieldGroupList)
                        {
                            <govuk-radios-item value="@item.Value">@item.Text</govuk-radios-item>

                        }
                    }

                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblCancel</a>
                }
            </p>
        </div>

    </div>
</form>