@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.OrganicManureViewModel
@{
    bool isOtherManure = (Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials || Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials);
    string title = (!string.IsNullOrEmpty(Model.EncryptedOrgManureId)) ? Resource.lblUpdateOrganicManure : Resource.lblAddOrganicManure;
    ViewData["Title"] = $"{string.Format(Resource.lblHowLongIsTheGapBetweenApplicationAndIncoporation, isOtherManure ? Model.OtherMaterialName : Model.ManureTypeName)} {Resource.lblHyphen} {title}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.OrganicManureWizardSteps.IncorporationDelay;
}
@section BeforeContent {

    @if (Model.IsCheckAnswer && (!Model.IsIncorporationMethodChange) && (!Model.IsApplicationMethodChange) && (!Model.IsFieldGroupChange) && (!Model.IsManureTypeChange))
    {
        <govuk-back-link asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
    }
    else
    {
        <govuk-back-link asp-action="IncorporationMethod" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
    }

}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="IncorporationDelay" asp-controller="OrganicManure" method="post" autocomplete="off">
            @Html.AntiForgeryToken()
            @if (TempData["IncorporationDelayError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item>@TempData["IncorporationDelayError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
         @await Html.PartialAsync("~/Views/OrganicManure/_OrganicManureWizardHiddenFields.cshtml", Model)
            <govuk-radios for="@Model.IncorporationDelay">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblHowLongIsTheGapBetweenApplicationAndIncoporation, isOtherManure ? Model.OtherMaterialName : Model.ManureTypeName)
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-hint>
                        @Resource.lblSelectOneOption                        
                    </govuk-radios-hint>
                    @if (ViewBag.IncorporationDelaysList != null && ViewBag.IncorporationDelaysList.Count > 0)
                    {
                        @foreach (var item in ViewBag.IncorporationDelaysList)
                        {
                            <govuk-radios-item value="@item.ID">@item.Name</govuk-radios-item>
                        }

                    }

                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit" class="margin-bottom-forty" asp-action="IncorporationDelay">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblCancel</a>
                }
            </p>
        </form>
    </div>

</div>

