@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.OrganicManureViewModel
@{
    var isOtherManure = (Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials || Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials);
    string title = (!string.IsNullOrEmpty(Model.EncryptedOrgManureId)) ? Resource.lblUpdateOrganicManure : Resource.lblAddOrganicManure;
    ViewData["Title"] = $"{string.Format(Resource.lblWhatIsTheIncorporationMethod, isOtherManure ? Model.OtherMaterialName : Model.ManureTypeName)} {Resource.lblHyphen} {title}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.OrganicManureWizardSteps.IncorporationMethod;
}
@section BeforeContent {

    @if (Model.IsCheckAnswer && Model.IsApplicationMethodChange)
    {
        <govuk-back-link asp-action="ApplicationMethod" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
    }
    else if (Model.IsCheckAnswer && (!Model.IsApplicationMethodChange) && (!Model.IsFieldGroupChange) && (!Model.IsManureTypeChange))
    {
        <govuk-back-link asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
    }
    else
    {
        @if (Model.ApplicationRateMethod.HasValue && Model.ApplicationRateMethod.Value == (int)NMP.Commons.Enums.ApplicationRate.EnterAnApplicationRate)
        {
            <govuk-back-link asp-action="ManualApplicationRate" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
        }
        else if (Model.ApplicationRateMethod.HasValue && Model.ApplicationRateMethod.Value == (int)NMP.Commons.Enums.ApplicationRate.CalculateBasedOnAreaAndQuantity)
        {
            <govuk-back-link asp-action="AreaQuantity" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
        }
        else
        {
            <govuk-back-link asp-action="ApplicationRateMethod" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
        }
    }

}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        @if (TempData["IncorporationMethodError"] != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["IncorporationMethodError"]</govuk-error-summary-item>
            </govuk-error-summary>
        }
        <form asp-action="IncorporationMethod" asp-controller="OrganicManure" method="post" autocomplete="off">
            @Html.AntiForgeryToken()
           @await Html.PartialAsync("~/Views/OrganicManure/_OrganicManureWizardHiddenFields.cshtml", Model)
            <govuk-radios for="@Model.IncorporationMethod">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblWhatIsTheIncorporationMethod, isOtherManure ? Model.OtherMaterialName : Model.ManureTypeName)
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-hint>
                        @Resource.lblSelectOneOption                       
                    </govuk-radios-hint>
                    @if (ViewBag.IncorporationMethod != null && ViewBag.IncorporationMethod.Count > 0)
                    {
                        @foreach (var item in ViewBag.IncorporationMethod)
                        {
                            @if (!(item.ID == (int)NMP.Commons.Enums.IncorporationMethod.NotIncorporated))
                            {
                                <govuk-radios-item value="@item.ID">@item.Name</govuk-radios-item>
                            }
                            @if (item.ID == (int)NMP.Commons.Enums.IncorporationMethod.NotIncorporated)
                            {
                                <govuk-radios-divider>@Resource.lblOr</govuk-radios-divider>
                                <govuk-radios-item value="@item.ID">@item.Name</govuk-radios-item>
                            }
                        }
                    }
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty" asp-action="IncorporationMethod">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblCancel</a>
                }
            </p>
        </form>
    </div>

</div>
