@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.OrganicManureViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedOrgManureId)) ? Resource.lblUpdateOrganicManure : Resource.lblAddOrganicManure;
    ViewData["Title"] = $"{Resource.lblEnterTheApplicationRate} {Resource.lblHyphen} {title}";
    var suffixUnit = "";
    if (Model.IsManureTypeLiquid != null)
    {
        suffixUnit = Model.IsManureTypeLiquid.Value ? Resource.lblMeterCubePerHa : Resource.lblTonnesPerHectare;
    }
        
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.OrganicManureWizardSteps.ManualApplicationRate;
}
@section BeforeContent {
    <govuk-back-link asp-action=@((Model.IsCheckAnswer && (!Model.IsManureTypeChange) && (!Model.IsFieldGroupChange)) ? "CheckAnswer" : "ApplicationRateMethod") asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
}

<form asp-action="ManualApplicationRate" asp-controller="OrganicManure" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (TempData["ManualApplicationRateError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item>@TempData["ManualApplicationRateError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
            @await Html.PartialAsync("~/Views/OrganicManure/_OrganicManureWizardHiddenFields.cshtml", Model)

            @await Html.PartialAsync("~/Views/OrganicManure/_ApplicationRateWarningPartial.cshtml", Model)

            <govuk-input for="@Model.ApplicationRate" inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                <govuk-input-label is-page-heading="true" class="govuk-label--l">
                    @Resource.lblEnterTheApplicationRate
                    <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, suffixUnit)</span>
                </govuk-input-label>
                <govuk-input-suffix>@suffixUnit</govuk-input-suffix>
            </govuk-input>
            <govuk-button type="submit" class="margin-bottom-forty" asp-action="ManualApplicationRate">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>