@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.OrganicManureViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedOrgManureId)) ? Resource.lblUpdateOrganicManure : Resource.lblAddOrganicManure;
    ViewData["Title"] = $"{Resource.lblWhatTypeOfOrganicMaterialAreYouUsingInThisApplication} {Resource.lblHyphen} {title}";
    
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.OrganicManureWizardSteps.ManureGroup;
}

@section BeforeContent {

    <govuk-back-link asp-action="BackActionForManureGroup" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>

}

<form asp-action="ManureGroup" asp-controller="OrganicManure" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/OrganicManure/_OrganicManureWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (TempData["ManureGroupError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["ManureGroupError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }

            <govuk-radios asp-for="@Model.FarmGroupManureId">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Resource.lblWhatTypeOfOrganicMaterialAreYouUsingInThisApplication
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-hint>
                        @* @string.Format(Resource.lblTheseOptionsComeFromMannerNpk, Resource.lblManureGroups) *@
                        @Resource.lblSelectOneOption

                    </govuk-radios-hint>
                    @if (ViewBag.FarmManureTypeList != null)
                    {
                        @foreach (var item in ViewBag.FarmManureTypeList)
                        {
                            <govuk-radios-item value=@(string.Format(Resource.lblFarmManureWithId, item.Value))>@item.Text</govuk-radios-item>
                        }
                        <govuk-radios-divider>@Resource.lblOr</govuk-radios-divider>
                    }
                    @if (ViewBag.ManureGroupList != null)
                    {
                        @foreach (var item in ViewBag.ManureGroupList)
                        {
                            <govuk-radios-item value="@item.Value">@item.Text</govuk-radios-item>

                        }
                    }

                </govuk-radios-fieldset>

            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblCancel</a>
                }
            </p>
        </div>

    </div>
</form>