@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.OrganicManureViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedOrgManureId)) ? Resource.lblUpdateOrganicManure : Resource.lblAddOrganicManure;
    ViewData["Title"] = $"{string.Format(Resource.lblWhatTypeOfManureGroupAreYouUsingInThisApplication, Model.ManureGroupName)} {Resource.lblHyphen} {title}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.OrganicManureWizardSteps.ManureType;
}

@section BeforeContent {
    <govuk-back-link asp-action="ManureGroup" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>
}


<form asp-action="ManureType" asp-controller="OrganicManure" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/OrganicManure/_OrganicManureWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (TempData["ManureTypeError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["ManureTypeError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
            <govuk-radios asp-for="@Model.ManureTypeId">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @if(Model.ManureGroupIdForFilter!=(int)NMP.Commons.Enums.ManureGroup.AnotherTypeOfOrganicMaterial)
                        {
                        @string.Format(Resource.lblWhatTypeOfManureGroupAreYouUsingInThisApplication, Model.ManureGroupName)
                        }
                        else{
                        @Resource.lblWhatTypeOfOrganicMaterialAreYouUsing
                        }
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-hint>
                        @Resource.lblSelectOneOption
                        @* @string.Format(Resource.lblTheseOptionsComeFromMannerNpk, Resource.lblManureTypes) *@
                    </govuk-radios-hint>
                    @if (ViewBag.ManureTypeList != null)
                    {
                        @foreach (var item in ViewBag.ManureTypeList)
                        {
                            <govuk-radios-item value="@item.Value">@item.Text</govuk-radios-item>

                        }
                    }

                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>
