@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.OrganicManureViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedOrgManureId)) ? Resource.lblUpdateOrganicManure : Resource.lblAddOrganicManure;
    string pageHeader = (Model.FieldList?.Count > 1 ? string.Format(Resource.lblWhenAreYouApplyingManureOnField, (Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials || Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials) ? Model.OtherMaterialName : Model.ManureTypeName) : string.Format(Resource.lblWhenAreYouApplyingManureOnThisField, (Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials || Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials) ? Model.OtherMaterialName : Model.ManureTypeName, Model.FieldName));
    ViewData["Title"] = $"{pageHeader} {Resource.lblHyphen} {title}";
    var backAction = "";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.OrganicManureWizardSteps.ApplicationDate;
}
@section BeforeContent {
    <govuk-back-link asp-action=@((Model.IsCheckAnswer && (!Model.IsManureTypeChange) && (!Model.IsFieldGroupChange)) ? "CheckAnswer" : "backFromManureApplyingDate") asp-controller="OrganicManure" asp-route-q="@Model.DoubleCropEncryptedCounter">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (TempData["ManureApplyingDateError"] != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ManureApplyingDateError"]</govuk-error-summary-item>
            </govuk-error-summary>
        }

        <form class="form" action="ManureApplyingDate" method="post" autocomplete="off">
            @Html.AntiForgeryToken()
   @await Html.PartialAsync("~/Views/OrganicManure/_OrganicManureWizardHiddenFields.cshtml", Model)
            @if ((Model.IsClosedPeriodWarning != null || Model.IsEndClosedPeriodFebruaryExistWithinThreeWeeks != null) && Model.IsWarningMsgNeedToShow)
            {
                <govuk-notification-banner>
                    <govuk-notification-banner-title>
                        @Resource.lblImportant
                    </govuk-notification-banner-title>
                    @if (Model.IsClosedPeriodWarning)
                    {
                        <p class="govuk-notification-banner__heading">
                            @Model.ClosedPeriodWarningPara1
                        </p>
                        <p class="govuk-body">@Model.ClosedPeriodWarningPara2</p>
                        if (@Model.ClosedPeriodWarningPara3 != null)
                        {
                            <p class="govuk-body">@Model.ClosedPeriodWarningPara3</p>
                        }
                    }
                    @if (Model.IsEndClosedPeriodFebruaryExistWithinThreeWeeks)
                    {
                        <p class="govuk-notification-banner__heading">
                            @Model.EndClosedPeriodFebruaryExistWithinThreeWeeksPara1
                        </p>
                        <p class="govuk-body">@Model.EndClosedPeriodFebruaryExistWithinThreeWeeksPara2</p>
                        @if (Model.EndClosedPeriodFebruaryExistWithinThreeWeeksPara3 != null)
                        {
                            <p class="govuk-body">@Model.EndClosedPeriodFebruaryExistWithinThreeWeeksPara3 </p>
                        }
                    }
                    @* @if (Model.IsClosedPeriodWarning)
                {
                <p class="govuk-body">
                @Resource.MsgYouCanContinueButYouShouldConsider
                </p>
                } *@


                </govuk-notification-banner>

            }

            <govuk-date-input for="ApplicationDate" >                
                <govuk-date-input-fieldset>                    
                    <govuk-date-input-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @pageHeader                     
                    </govuk-date-input-fieldset-legend>                   
                    <govuk-date-input-hint>
                        @if (Model.HighReadilyAvailableNitrogen == true && Model.ClosedPeriodForUI != null && Model.IsWithinNVZ == true)
                        {
                            <p class="govuk-body">@Resource.lblYourClosedPeriodForSpreadingOrganicMaterials</p>
                            <p class ="govuk-body">
                                <strong>@Model.ClosedPeriodForUI</strong><br />
                                @Resource.lblBasedOnYourCropSoilTypeFarmDetails
                            </p>
                        }
                        <p class ="govuk-body">
                        @Resource.MsgManureApplyingDateDontHaveExactDate
                        </p>
                        @string.Format(Resource.lblSampleDate, DateTime.Now.Year - 1)
                    </govuk-date-input-hint>

                    <govuk-date-input-day maxlength="2" pattern="[0-9]*"></govuk-date-input-day>
                    <govuk-date-input-month maxlength="2" pattern="[0-9]*"></govuk-date-input-month>
                    <govuk-date-input-year maxlength="4" pattern="[0-9]*"></govuk-date-input-year>
                </govuk-date-input-fieldset>
            </govuk-date-input>


            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateManureCancel" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblCancel</a>
                }
            </p>

        </form>

    </div>
</div>