﻿@using NMP.Commons.Resources
@using System.Globalization
@using NMP.Commons.ViewModels

@model OrganicManureViewModel
@{
    var heading="";
    if (!string.IsNullOrWhiteSpace(Model.FieldName))
    {
        heading = (string.Format(Resource.lblRemoveAnOrganicMaterialApplicationFromField, Model.FieldName));
    }
    else
    {
        heading = Resource.RemoveAnOrganicMaterialApplication;
    }
    string title = (!string.IsNullOrEmpty(Model.EncryptedOrgManureId)) ? Resource.lblUpdateOrganicManure : Resource.lblAddOrganicManure;
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {title}";

    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
}

@if (Model != null)
{

    @section BeforeContent {
            <govuk-back-link asp-action="CheckAnswer" asp-controller="OrganicManure">
                @Resource.lblBack
            </govuk-back-link>
    }
    <form asp-action="RemoveOrganicManure" asp-controller="OrganicManure" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
     @await Html.PartialAsync("~/Views/OrganicManure/_OrganicManureWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                @if (TempData["RemoveOrganicManureError"] != null)
                {
                    <govuk-error-summary>
                        <govuk-error-summary-item href="#">@TempData["RemoveOrganicManureError"]</govuk-error-summary-item>
                    </govuk-error-summary>
                }

                <h1 class="govuk-heading-l">
                    @if (!string.IsNullOrWhiteSpace(Model.FieldName))
                    {
                        @(string.Format(Resource.lblRemoveAnOrganicMaterialApplicationFromField, Model.FieldName))
                    }
                    else
                    {
                        @Resource.RemoveAnOrganicMaterialApplication
                    }

                </h1>

                <div class="govuk-body">
                    @if (!string.IsNullOrWhiteSpace(Model.FieldName))
                    {
                        @string.Format(Resource.MsgDeleteOrganicContent1, Model.FieldName, Model.HarvestYear)
                    }
                    else
                    {
                        @string.Format(Resource.MsgDeleteOrganicContent1, Resource.lblTheseFields, Model.HarvestYear)
                    }
                </div>
                @if (ViewBag.SelectedFields != null)
                {

                    <p class="govuk-body">
                        <ul class="govuk-body">
                            @foreach (var item in ViewBag.SelectedFields)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </p>
                }
                <govuk-radios class="govuk-radios--inline" asp-for="@Model.IsDeleteOrganic">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend>
                            @Resource.lblAreYouSureYouWantToContinue
                        </govuk-radios-fieldset-legend>
                        <govuk-radios-item value="@yes">@Resource.lblYes</govuk-radios-item>
                        <govuk-radios-item value="@no">@Resource.lblNo</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                    <p class="govuk-body cancel-link"><a asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblCancel</a></p>
            </div>
        </div>
    </form>
}