@using NMP.Portal.Resources;
@{
    ViewData["Title"] = Resource.lblGetHelpAndFeedback;
}

@section BeforeContent {
    <govuk-back-link asp-action="Index" asp-controller="Home">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-body">
            <h1 class="govuk-heading-xl">@Resource.lblGetHelpAndFeedback</h1>
            <p class="govuk-body">@Resource.lblAboutGetHelpAndFeedback</p>

            <h2 class="govuk-heading-m">@Resource.lblAboutRecommendationGuidenceAdvice</h2>
            <p class="govuk-body">@Resource.lblAboutRecommendationGuidenceAdviceContent1</p>
            <p class="govuk-body">@Resource.lblAboutRecommendationGuidenceAdviceContent2</p>

            <h2 class="govuk-heading-m">@Resource.lblGettingHelp</h2>
            <p class="govuk-body">@Html.Raw(Resource.contentGettingHelp1)</p>
            <p class="govuk-body">@Resource.contentGettingHelp2</p>
            <p class="govuk-body">@Resource.contentGettingHelp3</p>

            <h2 class="govuk-heading-m">@Resource.lblGivingFeedbackAboutThisService</h2>
            <p class="govuk-body">@Html.Raw(Resource.contentGivingFeedbackAboutThisService1)</p>
            <p class="govuk-body">@Resource.lblYourFeedbackWillHelpUsImproveThisService</p>
        </div>
    </div>
</div>