@using NMP.Portal.Resources;
@{
    ViewData["Title"] = Resource.lblGetHelpAndFeedback;
}

@section BeforeContent {
    <govuk-back-link asp-action="Index" asp-controller="Home">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @Resource.lblGetHelpAndFeedback
        </h1>
        <p class="govuk-body">@Resource.lblAboutGetHelpAndFeedback</p>
        <p class="govuk-body">@Html.Raw(Resource.lblAboutGetHelpAndFeedback_line2)</p>
        <p class="govuk-body">@Html.Raw(Resource.lblAboutGetHelpAndFeedback_line3)</p>

        <h2 class="govuk-heading-m">
            @Resource.lblGettingHelp
        </h2>

        <p class="govuk-body">
            @Html.Raw(Resource.contentGettingHelp1)
        </p>
        @Html.Raw(Resource.contentGettingHelp_line2)
        <p class="govuk-body">
            @Resource.contentGettingHelp2
        </p>

        <h2 class="govuk-heading-m">
            @Resource.lblHelp_with_the_service_recommendations
        </h2>

        <p class="govuk-body">
            @Html.Raw(Resource.lblHelp_with_the_service_recommendations_line1)
        </p>

        <p class="govuk-body">
            @Resource.lblHelp_with_the_service_recommendations_line2
        </p>

        <p class="govuk-body">
            @Resource.lblHelp_with_the_service_recommendations_line3
        </p>

        <h2 class="govuk-heading-m">
            @Resource.lblGivingFeedbackAboutThisService
        </h2>

        <p class="govuk-body">@Html.Raw(Resource.contentGivingFeedbackAboutThisService1)</p>

        <p class="govuk-body">@Resource.lblYourFeedbackWillHelpUsImproveThisService</p>

        <h2 class="govuk-heading-m">
            @Resource.lblMore_information
        </h2>

        <p class="govuk-body">
            @Resource.lblMore_information_line1
        </p>

        <p class="govuk-body">
            @Html.Raw(Resource.lblMore_information_line2)
        </p>

        <p class="govuk-body">
            @Html.Raw(Resource.lblMore_information_line3)
        </p>

        <!-- <h2 class="govuk-heading-m">
          Moving your data to the live service
        </h2>

        <p class="govuk-body">
          If you wish to take your farm data and plans from the testing version to the live version, please email our team at <a href="">helpdesk@rsk-bsl.co.uk</a>.
        </p>

        <p class="govuk-body">
          We will migrate your data for you when the service launches, and then your plans will be suitable for regulatory use.
        </p> -->

        <div class="margin-bottom-forty">&nbsp;</div>

    </div>
</div>