@using NMP.Commons.Enums
@using NMP.Commons.Resources
@using NMP.Commons.ViewModels
@model MannerEstimationStep3ViewModel

@{
    string title = Resource.lblMannerEstimate;
    ViewData["Title"] = $"{string.Format(Resource.lblWhatIsPostcode, Model.FarmName)} {Resource.lblHyphen} {title}";
    ViewBag.CurrentStep = (int)MannerEstimateWizardSteps.Postcode;
}

@section BeforeContent {
    <govuk-back-link asp-action="@( Model.IsCheckAnswer ? "CheckAnswer" : "FarmingRules")" asp-controller="MannerEstimation">@Resource.lblBack</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @* <h1 class="govuk-heading-l">@string.Format(Resource.lblWhatIsPostcode, Model.Name)</h1> *@

        <form asp-action="PostCode" method="post" asp-controller="MannerEstimation" autocomplete="on">
            @Html.AntiForgeryToken()
            <govuk-input input-class="govuk-input--width-5" asp-for="@Model.Postcode">
                <govuk-input-label is-page-heading="true" class="govuk-label--l ">@string.Format(Resource.lblWhatIsPostcode, Model.FarmName)</govuk-input-label>
            </govuk-input>
            <govuk-button type="submit" data-prevent-double-click="true" class="govuk-button margin-bottom-forty margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
        </form>
        <p class="govuk-body cancel-link">
            @if (!Model.IsCheckAnswer)
            {
                <a class="govuk-link" asp-action="MannerEstimationCancel" asp-controller="MannerEstimation">@Resource.lblCancel</a>
            }
            else
            {
                <a class="govuk-link" asp-action="CheckAnswer" asp-controller="MannerEstimation">@Resource.lblCancel</a>
            }
        </p>
    </div>
</div>