﻿@using NMP.Portal.Resources
@using System.Globalization
@using NMP.Portal.ViewModels

@model SoilAnalysisViewModel
@{
    ViewData["Title"] = (Model != null && (!string.IsNullOrWhiteSpace(Model.EncryptedSoilAnalysisId)))
    ? $"{string.Format(Resource.lblChangeSoilAnalysisFromDate, Model.Date != null ? Model.Date.Value.ToString("dd MMMM yyyy") : "")} {Resource.lblHyphen} {Resource.lblUpdateSoilAnalysis}" :
    $"{Resource.lblCheckYourAnswers} {Resource.lblHyphen} {Resource.lblAddASoilAnalysis}";

}

@* @if (ViewBag.Error != null)
{
    <govuk-error-summary>
        <govuk-error-summary-item href="#">@ViewBag.Error</govuk-error-summary-item>
    </govuk-error-summary>
} *@
@if (Model != null)
{
    @section BeforeContent {
        @*     @if (Model.isSoilAnalysisAdded != null && Model.isSoilAnalysisAdded.Value)
        { *@
        <govuk-back-link asp-action=@(ViewBag.IsDataChange == true ? "Cancel" : "BackActionForCheckAnswer") asp-controller="SoilAnalysis">@Resource.lblBack</govuk-back-link>

        @*  }
        else
        {
            <govuk-back-link asp-action="FieldSoilAnalysisDetail" asp-controller="Field" asp-route-id="@Model.EncryptedFieldId" asp-route-farmId="@Model.EncryptedFarmId">
                @Resource.lblBack
            </govuk-back-link>
        } *@
    }
    <form class="form-with-overlay" asp-action="UpdateSoil" asp-controller="SoilAnalysis" method="post" autocomplete="off">
        @Html.AntiForgeryToken()

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                @if (TempData["ChangeSoilAnalysisError"] != null)
                {
                    <govuk-error-summary>
                        <govuk-error-summary-item href="#">@TempData["ChangeSoilAnalysisError"]</govuk-error-summary-item>
                    </govuk-error-summary>
                }
                @if (Model.isSoilAnalysisAdded != null && Model.isSoilAnalysisAdded.Value)
                {
                    <h1 class="govuk-heading-l">
                        @Resource.lblCheckYourAnswers
                    </h1>
                }
                else
                {
                    <h1 class="govuk-heading-l">@(string.Format(Resource.lblChangeSoilAnalysisFromDate, Model.Date != null ? Model.Date.Value.ToString("dd MMMM yyyy") : ""))</h1>
                }
                @if (Model.isSoilAnalysisAdded == null)
                {
                    <p class="govuk-body">@Resource.lblAnyChangesYouMakeMayAffectTheNutrientRecommendation</p>
                }
                <div hidden="true">
                    <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Date"></govuk-date-input>
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PH" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MagnesiumIndex" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PhosphorusIndex" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PotassiumIndexValue" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PhosphorusMethodologyID" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Magnesium" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Phosphorus" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Potassium" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldId" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldID" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedSoilAnalysisId" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SulphurDeficient" value="@Model.SulphurDeficient.ToString().ToLower()" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsSoilNutrientValueTypeIndex" value="@Model.IsSoilNutrientValueTypeIndex.ToString().ToLower()" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.isSoilAnalysisAdded" value="@Model.isSoilAnalysisAdded.ToString().ToLower()" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()" />
                </div>
                <govuk-summary-list>
                    <govuk-summary-list-row class=@((!Model.Date.HasValue)?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @Resource.lblDateSampleTakenForChangePage
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @((!Model.Date.HasValue) ? Resource.lblNotSet : (Model.Date.Value.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB"))))
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="Date" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblDateSampleTakenForChangePage)</span></govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>

                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @Resource.lblSulphurDeficiencyStatus
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @((!Model.SulphurDeficient.HasValue) ? Resource.lblNotEntered : (Model.SulphurDeficient.Value ? Resource.lblYes : Resource.lblNo))
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="SulphurDeficient" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblSulphurDeficiencyStatus)</span></govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>

                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @Resource.lblHowValuesAreEntered
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @if (Model.IsSoilNutrientValueTypeIndex != null && Model.IsSoilNutrientValueTypeIndex.Value)
                            {
                                @Resource.lblIndexValues
                            }
                            else
                            {
                                @Resource.lblMiligramValues
                            }
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="SoilNutrientValueType" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblHowValuesAreEntered)</span></govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>


                    @if (Model.IsSoilNutrientValueTypeIndex.HasValue && Model.IsSoilNutrientValueTypeIndex.Value)
                    {
                        @if (Model.PH.HasValue || Model.PhosphorusIndex.HasValue ||
                                        (!string.IsNullOrWhiteSpace(Model.PotassiumIndexValue)) || Model.MagnesiumIndex.HasValue)
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>
                                    @Resource.lblPh
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @((!Model.PH.HasValue) ? Resource.lblNotEntered : (Model.PH))
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SoilNutrientValue" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblPh)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>
                                    @Resource.lblPhosphorusIndex
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @((!Model.PhosphorusIndex.HasValue) ? Resource.lblNotEntered : @Model.PhosphorusIndex)
                                    @* @Model.PhosphorusIndex *@
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SoilNutrientValue" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblPhosphorusIndex)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>
                                    @Resource.lblPotassiumIndex
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @((string.IsNullOrWhiteSpace(Model.PotassiumIndexValue)) ? Resource.lblNotEntered : @Model.PotassiumIndexValue)
                                    @* @Model.PotassiumIndex *@
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SoilNutrientValue" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblPotassiumIndex)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>
                                    @Resource.lblMagnesiumIndex
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @((!Model.MagnesiumIndex.HasValue) ? Resource.lblNotEntered : @Model.MagnesiumIndex)
                                    @* @Model.MagnesiumIndex *@
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SoilNutrientValue" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblMagnesiumIndex)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                        }
                        else
                        {

                            <govuk-summary-list-row class=@((!Model.PH.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblPh
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @((!Model.PH.HasValue) ? Resource.lblNotSet : (Model.PH))
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SoilNutrientValue" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblPh)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row class=@((!Model.PhosphorusIndex.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblPhosphorusIndex
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @((!Model.PhosphorusIndex.HasValue) ? Resource.lblNotSet : @Model.PhosphorusIndex)
                                    @* @Model.PhosphorusIndex *@
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SoilNutrientValue" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblPhosphorusIndex)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row class=@((string.IsNullOrWhiteSpace(Model.PotassiumIndexValue))?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblPotassiumIndex
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @((string.IsNullOrWhiteSpace(Model.PotassiumIndexValue)) ? Resource.lblNotSet : @Model.PotassiumIndexValue)
                                    @* @Model.PotassiumIndex *@
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SoilNutrientValue" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblPotassiumIndex)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row class=@((!Model.MagnesiumIndex.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblMagnesiumIndex
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @((!Model.MagnesiumIndex.HasValue) ? Resource.lblNotSet : @Model.MagnesiumIndex)
                                    @* @Model.MagnesiumIndex *@
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SoilNutrientValue" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblMagnesiumIndex)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                        }
                    }
                    else
                    {
                        @if ((Model.PH.HasValue) || Model.Potassium.HasValue ||
                                        Model.Phosphorus.HasValue || Model.Magnesium.HasValue)
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>
                                    @Resource.lblPh
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @((!Model.PH.HasValue) ? Resource.lblNotEntered : (Model.PH))
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SoilNutrientValue" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblPh)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>
                                    @Resource.lblPhosphorusPerLitreOfSoil
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @((!Model.Phosphorus.HasValue) ? Resource.lblNotEntered : string.Format("{0:N0}", Model.Phosphorus))
                                    @* @Model.PhosphorusIndex *@
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SoilNutrientValue" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblPhosphorusPerLitreOfSoil)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>
                                    @Resource.lblPotassiumPerLitreOfSoil
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @((!Model.Potassium.HasValue) ? Resource.lblNotEntered : string.Format("{0:N0}", Model.Potassium))
                                    @* @Model.PotassiumIndex *@
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SoilNutrientValue" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblPotassiumPerLitreOfSoil)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>
                                    @Resource.lblMagnesiumPerLitreOfSoil
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @((!Model.Magnesium.HasValue) ? Resource.lblNotEntered : string.Format("{0:N0}", Model.Magnesium))
                                    @* @Model.MagnesiumIndex *@
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SoilNutrientValue" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblMagnesiumPerLitreOfSoil)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                        }
                        else
                        {
                            <govuk-summary-list-row class=@((!Model.PH.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblPh
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @((!Model.PH.HasValue) ? Resource.lblNotSet : (Model.PH))
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SoilNutrientValue" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblPh)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row class=@((!Model.Phosphorus.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblPhosphorusPerLitreOfSoil
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @((!Model.Phosphorus.HasValue) ? Resource.lblNotSet : string.Format("{0:N0}", Model.Phosphorus))
                                    @* @Model.PhosphorusIndex *@
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SoilNutrientValue" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblPhosphorusPerLitreOfSoil)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row class=@((!Model.Potassium.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblPotassiumPerLitreOfSoil
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @((!Model.Potassium.HasValue) ? Resource.lblNotSet : string.Format("{0:N0}", Model.Potassium))
                                    @* @Model.PotassiumIndex *@
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SoilNutrientValue" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblPotassiumPerLitreOfSoil)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row class=@((!Model.Magnesium.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblMagnesiumPerLitreOfSoil
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @((!Model.Magnesium.HasValue) ? Resource.lblNotSet : string.Format("{0:N0}", Model.Magnesium))
                                    @* @Model.MagnesiumIndex *@
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SoilNutrientValue" asp-controller="SoilAnalysis">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblMagnesiumPerLitreOfSoil)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                        }

                    }

                </govuk-summary-list>

                @if (Model.isSoilAnalysisAdded == null)
                {
                    <p class="govuk-body">
                        @Resource.lblYouCanAlso
                        <a asp-action="RemoveSoilAnalysis" asp-controller="SoilAnalysis">
                            @Resource.lblRemoveThisSoilAnalysis
                        </a>
                    </p>
                }

                <govuk-button type="submit" class="margin-bottom-forty">
                    @if (Model.isSoilAnalysisAdded != null && Model.isSoilAnalysisAdded.Value)
                    {
                        @Resource.lblContinue
                    }
                    else
                    {
                        @Resource.lblSaveChanges
                    }
                </govuk-button>


                <p class="govuk-body cancel-link">
                    @if (string.IsNullOrWhiteSpace(Model.EncryptedSoilAnalysisId))
                    {
                        <a asp-action="Cancel" asp-controller="SoilAnalysis">@Resource.lblCancel</a>
                    }
                    else
                    {
                        @if (ViewBag.IsDataChange != null && ViewBag.IsDataChange == true)
                        {
                            <a asp-action="Cancel" asp-controller="SoilAnalysis">@Resource.lblCancel</a>
                        }
                        else
                        {
                            <a asp-action="BackActionForCheckAnswer" asp-controller="SoilAnalysis">@Resource.lblCancel</a>
                        }
                    }
                </p>

            </div>
        </div>
    </form>

}