@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.SoilAnalysisViewModel
@{
    string heading = string.Empty;
    @if (Model.isSoilAnalysisAdded != null && Model.isSoilAnalysisAdded.Value)
    {
        heading = string.Format(Resource.lblWhenWasTheSoilAnalysisForTaken, Model.FieldName);
    }
    else
    {
        heading = string.Format(Resource.lblAddSoilAnalysis, Model.FieldName);
    }
    ViewData["Title"] = (Model != null && (!string.IsNullOrWhiteSpace(Model.EncryptedSoilAnalysisId)))
    ? $"{heading} {Resource.lblHyphen} {Resource.lblUpdateSoilAnalysis}" :
    $"{heading} {Resource.lblHyphen} {Resource.lblAddASoilAnalysis}";
    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
}

@section BeforeContent {
    @if (Model.isSoilAnalysisAdded != null && Model.isSoilAnalysisAdded.Value && (!Model.IsCheckAnswer))
    {
        <govuk-back-link asp-action="SulphurDeficient" asp-controller="SoilAnalysis">@Resource.lblBack</govuk-back-link>
    }
    else
    {
        <govuk-back-link asp-action="ChangeSoilAnalysis" asp-controller="SoilAnalysis" asp-route-i="@Model.EncryptedSoilAnalysisId" asp-route-j="@Model.EncryptedFieldId" asp-route-k="@Model.EncryptedFarmId" asp-route-l="@Model.IsSoilDataChanged">@Resource.lblBack</govuk-back-link>

    }
}
<form asp-action="Date" asp-controller="SoilAnalysis" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <div hidden="true">
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PH"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MagnesiumIndex"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PhosphorusIndex"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PotassiumIndexValue"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PhosphorusMethodologyID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Magnesium"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Phosphorus"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Potassium"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedSoilAnalysisId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsSoilNutrientValueTypeIndex" value="@Model.IsSoilNutrientValueTypeIndex?.ToString().ToLower()"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SulphurDeficient" value="@Model.SulphurDeficient?.ToString().ToLower()"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.isSoilAnalysisAdded" value="@Model.isSoilAnalysisAdded?.ToString().ToLower()"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()"/>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-date-input asp-for="@Model.Date">
                <govuk-date-input-fieldset>
                    <govuk-date-input-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @heading
                    </govuk-date-input-fieldset-legend>
                    <govuk-date-input-hint>
                        @string.Format(Resource.lblSampleDate, DateTime.Now.Year - 1)
                    </govuk-date-input-hint>
                    <govuk-date-input-day maxlength="2" pattern="[0-9]*"></govuk-date-input-day>
                    <govuk-date-input-month maxlength="2" pattern="[0-9]*"></govuk-date-input-month>
                    <govuk-date-input-year maxlength="4" pattern="[0-9]*"></govuk-date-input-year>
                </govuk-date-input-fieldset>
            </govuk-date-input>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>

            @if (Model.isSoilAnalysisAdded != null && Model.isSoilAnalysisAdded.Value && (!Model.IsCheckAnswer))
            {
                <p class="govuk-body cancel-link"><a asp-action="FieldSoilAnalysisDetail" asp-controller="Field" asp-route-farmId="@Model.EncryptedFarmId" asp-route-fieldId="@Model.EncryptedFieldId">@Resource.lblCancel</a></p>

            }
            else
            {
                <p class="govuk-body cancel-link"><a asp-action="ChangeSoilAnalysis" asp-controller="SoilAnalysis" asp-route-i="@Model.EncryptedSoilAnalysisId" asp-route-j="@Model.EncryptedFieldId" asp-route-k="@Model.EncryptedFarmId" asp-route-l="@Model.IsSoilDataChanged">@Resource.lblCancel</a></p>
            }
        </div>

    </div>
</form>