@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.SoilAnalysisViewModel
@{
    ViewData["Title"] = Resource.lblSoilDate;
    var yes = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.False);
}

@section BeforeContent {
    @if (Model.isSoilAnalysisAdded != null && Model.isSoilAnalysisAdded.Value)
    {
        <govuk-back-link asp-action="SulphurDeficient" asp-controller="SoilAnalysis">@Resource.lblBack</govuk-back-link>
    }
    else
    {
        <govuk-back-link asp-action="ChangeSoilAnalysis" asp-controller="SoilAnalysis" asp-route-i="@Model.EncryptedSoilAnalysisId" asp-route-j="@Model.EncryptedFieldId" asp-route-k="@Model.EncryptedFarmId" asp-route-l="@Model.IsSoilDataChanged">@Resource.lblBack</govuk-back-link>

    }
}
<form asp-action="Date" asp-controller="SoilAnalysis" method="post">
    @Html.AntiForgeryToken()  
    <legand class="govuk-fieldset__legend govuk-fieldset__legend--l">
        @if (Model.isSoilAnalysisAdded != null && Model.isSoilAnalysisAdded.Value)
        {
            <h1 class="govuk-fieldset__heading">@string.Format(Resource.lblWhenWasTheSoilAnalysisForTaken, Model.FieldName)</h1>
        }
        else
        {
            <h1 class="govuk-fieldset__heading">@string.Format(Resource.lblAddSoilAnalysis, Model.FieldName)</h1>
        }
    </legand>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PH"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MagnesiumIndex"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PhosphorusIndex"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PotassiumIndexValue"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PhosphorusMethodologyID"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Magnesium"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Phosphorus"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Potassium"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldId"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedSoilAnalysisId"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldID"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsSoilNutrientValueTypeIndex" value="@Model.IsSoilNutrientValueTypeIndex.ToString().ToLower()"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SulphurDeficient" value="@Model.SulphurDeficient.ToString().ToLower()"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.isSoilAnalysisAdded" value="@Model.isSoilAnalysisAdded.ToString().ToLower()"></govuk-input>
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <govuk-date-input asp-for="@Model.Date" pattern="[0-9]*">
                    <govuk-date-input-fieldset>
                        <govuk-date-input-fieldset-legend is-page-heading="false" class="govuk-fieldset">

                        </govuk-date-input-fieldset-legend>
                        <govuk-date-input-hint>
                            @Resource.MsgSampleDateExample
                        </govuk-date-input-hint>
                    </govuk-date-input-fieldset>

                </govuk-date-input>
            </div>

            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>

            @if (Model.isSoilAnalysisAdded != null && Model.isSoilAnalysisAdded.Value)
            {
                <p class="govuk-body cancel-link"><a asp-action="FieldSoilAnalysisDetail" asp-controller="Field" asp-route-id="@Model.EncryptedFieldId" asp-route-farmId="@Model.EncryptedFarmId">@Resource.lblCancel</a></p>

            }
            else
            {
                <p class="govuk-body cancel-link"><a asp-action="ChangeSoilAnalysis" asp-controller="SoilAnalysis" asp-route-i="@Model.EncryptedSoilAnalysisId" asp-route-j="@Model.EncryptedFieldId" asp-route-k="@Model.EncryptedFarmId" asp-route-l="@Model.IsSoilDataChanged">@Resource.lblCancel</a></p>
            }
        </div>

    </div>
</form>