@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.SoilAnalysisViewModel
@{
    ViewData["Title"] = (Model != null && (!string.IsNullOrWhiteSpace(Model.EncryptedSoilAnalysisId)))
    ? $"{Resource.lblHowWouldYouLikeToEnterYourSoilNutrientValues} {Resource.lblHyphen} {Resource.lblUpdateSoilAnalysis}" :
    $"{Resource.lblHowWouldYouLikeToEnterYourSoilNutrientValues} {Resource.lblHyphen} {Resource.lblAddASoilAnalysis}";
    var AsAnIndex = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.True);
    var InMilligramsPerLitre = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.False);
}

@section BeforeContent {
    @if (Model.isSoilAnalysisAdded != null && Model.isSoilAnalysisAdded.Value && (!Model.IsCheckAnswer))
    {
        <govuk-back-link asp-action="Date" asp-controller="SoilAnalysis">@Resource.lblBack</govuk-back-link>

    }
    else
    {
        <govuk-back-link asp-action="ChangeSoilAnalysis" asp-controller="SoilAnalysis" asp-route-i="@Model.EncryptedSoilAnalysisId" asp-route-j="@Model.EncryptedFieldId" asp-route-k="@Model.EncryptedFarmId" asp-route-l="@Model.IsSoilDataChanged">@Resource.lblBack</govuk-back-link>
    }
}
<form asp-action="SoilNutrientValueType" asp-controller="SoilAnalysis" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <div hidden="true">
        <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Date"></govuk-date-input>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PH"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MagnesiumIndex"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PhosphorusIndex"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PotassiumIndexValue"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PhosphorusMethodologyID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Magnesium"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Phosphorus"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Potassium"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedSoilAnalysisId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SulphurDeficient" value="@Model.SulphurDeficient.ToString().ToLower()"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.isSoilAnalysisAdded" value="@Model.isSoilAnalysisAdded.ToString().ToLower()"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()"/>
    </div>
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            <govuk-radios class="govuk-radios" asp-for="@Model.IsSoilNutrientValueTypeIndex">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Resource.lblHowWouldYouLikeToEnterYourSoilNutrientValues
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value=@AsAnIndex>@Resource.lblAsAnIndex</govuk-radios-item>
                    <govuk-radios-item value=@InMilligramsPerLitre>@Resource.lblInMilligramsPerLitre</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>


            @if (Model.isSoilAnalysisAdded != null && Model.isSoilAnalysisAdded.Value && (!Model.IsCheckAnswer))
            {
                <p class="govuk-body cancel-link"><a asp-action="FieldSoilAnalysisDetail" asp-controller="Field" asp-route-farmId="@Model.EncryptedFarmId" asp-route-fieldId="@Model.EncryptedFieldId">@Resource.lblCancel</a></p>

            }
            else
            {
                <p class="govuk-body cancel-link"><a asp-action="ChangeSoilAnalysis" asp-controller="SoilAnalysis" asp-route-i="@Model.EncryptedSoilAnalysisId" asp-route-j="@Model.EncryptedFieldId" asp-route-k="@Model.EncryptedFarmId" asp-route-l="@Model.IsSoilDataChanged">@Resource.lblCancel</a></p>
            }

        </div>

    </div>
</form>