@using NMP.Portal.Resources
@using NMP.Portal.ViewModels
@model SoilAnalysisViewModel

@{
    ViewData["Title"] = (Model != null && (!string.IsNullOrWhiteSpace(Model.EncryptedSoilAnalysisId)))
    ? $"{string.Format(Resource.lblAddSoilAnalysis, Model.FieldName)} {Resource.lblHyphen} {Resource.lblUpdateSoilAnalysis}" :
    $"{string.Format(Resource.lblAddSoilAnalysis, Model.FieldName)} {Resource.lblHyphen} {Resource.lblAddASoilAnalysis}";
    var isOlderThanFiveYears = false;
    var currentYear = System.DateTime.Now.Year;
    if (Model.Date != null && Model.Date.Value.Year < currentYear)
    {
        var yearGap = currentYear - Model.Date.Value.Year;
        if (yearGap > 5)
        {
            isOlderThanFiveYears = true;
        }
    }
}

@section BeforeContent {
    @if (Model.isSoilAnalysisAdded != null && Model.isSoilAnalysisAdded.Value && (!Model.IsCheckAnswer))
    {
        <govuk-back-link asp-action="SoilNutrientValueType" asp-controller="SoilAnalysis">@Resource.lblBack</govuk-back-link>
    }
    else
    {
        <govuk-back-link asp-action="ChangeSoilAnalysis" asp-controller="SoilAnalysis" asp-route-i="@Model.EncryptedSoilAnalysisId" asp-route-j="@Model.EncryptedFieldId" asp-route-k="@Model.EncryptedFarmId" asp-route-l="@Model.IsSoilDataChanged">@Resource.lblBack</govuk-back-link>
    }
}
@if (ViewBag.Error != null)
{
    <govuk-error-summary>
        <govuk-error-summary-item href="#">@ViewBag.Error</govuk-error-summary-item>
    </govuk-error-summary>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="SoilNutrientValue" method="post" autocomplete="off" asp-controller="SoilAnalysis">
            @Html.AntiForgeryToken()
            <div hidden="true">
                <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Date"></govuk-date-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SulphurDeficient" value="@Model.SulphurDeficient.ToString().ToLower()"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsSoilNutrientValueTypeIndex" value="@Model.IsSoilNutrientValueTypeIndex.ToString().ToLower()"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldId"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedSoilAnalysisId"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldID"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PhosphorusMethodologyID"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.isSoilAnalysisAdded" value="@Model.isSoilAnalysisAdded.ToString().ToLower()"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()"></govuk-input>
            </div>
            <legand class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">@string.Format(Resource.lblAddSoilAnalysis, Model.FieldName)</h1>
            </legand>
            @if (isOlderThanFiveYears)
            {
                <govuk-inset-text>
                    @Resource.MsgSoilAnalysisOlderThanFiveYears
                </govuk-inset-text>
            }
            <p class="govuk-body">
                @Resource.MsgEnterTheValueOYourSoilAnalysisHint1
            </p>
            <p class="govuk-body">
                @Resource.MsgEnterTheValueOYourSoilAnalysisHint2
            </p>

            @if (Model.IsSoilNutrientValueTypeIndex != null && Model.IsSoilNutrientValueTypeIndex.Value)
            {
                <p class="govuk-body">
                    @Resource.MsgEnterTheValueOYourSoilAnalysisHint3
                </p>
                <div class="govuk-form-group govuk-input__wrapper">
                    <govuk-input asp-for="@Model.PH" input-class="govuk-input--width-5" spellcheck="false" type="number" step="any">
                        <govuk-input-label is-page-heading="true" class="govuk-label">@Resource.lblPHLevelOption</govuk-input-label>
                    </govuk-input>
                </div>
                <div class="govuk-form-group govuk-input__wrapper">
                    <govuk-input asp-for="@Model.PhosphorusIndex" type="number" step="1">
                        <govuk-input-label is-page-heading="true" class="govuk-label">@Resource.lblPhosphorusIndexOptional</govuk-input-label>
                    </govuk-input>
                </div>
                <div class="govuk-form-group govuk-input__wrapper">
                    <govuk-input asp-for="@Model.PotassiumIndexValue">
                        <govuk-input-label is-page-heading="true" class="govuk-label">@Resource.lblPotassiumIndexOptional</govuk-input-label>
                    </govuk-input>
                </div>
                <div class="govuk-form-group govuk-input__wrapper">
                    <govuk-input asp-for="@Model.MagnesiumIndex" type="number" step="1">
                        <govuk-input-label is-page-heading="true" class="govuk-label">@Resource.lblMagnesiumIndexOptional</govuk-input-label>
                    </govuk-input>
                </div>
            }
            else
            {
                <govuk-input asp-for="@Model.PH" input-class="govuk-input--width-5" spellcheck="false" type="number" step="any">
                    <govuk-input-label is-page-heading="true" class="govuk-label">@Resource.lblPHLevelOption</govuk-input-label>
                </govuk-input>
                <govuk-input asp-for=@Model.Phosphorus type="number" step="1" input-class="govuk-input--width-5" spellcheck="false">
                    <govuk-input-label is-page-heading="true" class="govuk-label">@Resource.lblPhosphorusPerLitreOfSoilOption</govuk-input-label>
                    <govuk-input-suffix>@Resource.lblMgL</govuk-input-suffix>
                </govuk-input>
                <govuk-input asp-for=@Model.Potassium type="number" step="1" input-class="govuk-input--width-5" spellcheck="false">
                    <govuk-input-label is-page-heading="true" class="govuk-label">@Resource.lblPotassiumPerLitreOfSoilOption</govuk-input-label>
                    <govuk-input-suffix>@Resource.lblMgL</govuk-input-suffix>
                </govuk-input>
                <govuk-input asp-for=@Model.Magnesium type="number" step="1" input-class="govuk-input--width-5" spellcheck="false">
                    <govuk-input-label is-page-heading="true" class="govuk-label">@Resource.lblMagnesiumPerLitreOfSoilOption</govuk-input-label>
                    <govuk-input-suffix>@Resource.lblMgL</govuk-input-suffix>
                </govuk-input>
            }


            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>


            @if (Model.isSoilAnalysisAdded != null && Model.isSoilAnalysisAdded.Value && (!Model.IsCheckAnswer))
            {
                <p class="govuk-body cancel-link"><a asp-action="FieldSoilAnalysisDetail" asp-controller="Field" asp-route-id="@Model.EncryptedFieldId" asp-route-farmId="@Model.EncryptedFarmId">@Resource.lblCancel</a></p>
            }
            else
            {
                <p class="govuk-body cancel-link"><a asp-action="ChangeSoilAnalysis" asp-controller="SoilAnalysis" asp-route-i="@Model.EncryptedSoilAnalysisId" asp-route-j="@Model.EncryptedFieldId" asp-route-k="@Model.EncryptedFarmId" asp-route-l="@Model.IsSoilDataChanged">@Resource.lblCancel</a></p>
            }
        </form>

    </div>
</div>