@using NMP.Portal.Resources
@using NMP.Portal.ViewModels

@model SoilAnalysisViewModel
@{
    ViewData["Title"] = Resource.lblChangeSoilAnalysis;

}
@if (Model != null)
{
    @section BeforeContent {
    <govuk-back-link asp-action="ChangeSoilAnalysis" asp-controller="SoilAnalysis" asp-route-i="@Model.EncryptedSoilAnalysisId" asp-route-j="@Model.EncryptedFieldId" asp-route-k="@Model.EncryptedFarmId">@Resource.lblBack</govuk-back-link>
    }


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

            @if (ViewBag.Success != null && ViewBag.Success == Resource.lblTrue)
            {
                <govuk-notification-banner type="Success">
                    <div class="">
                        <p class="govuk-body">
                            @Resource.lblChangesDone
                        </p>
                    </div>
                </govuk-notification-banner>
            }
            else  @if (ViewBag.Success != null && ViewBag.Success == Resource.lblFalse)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#"> @Resource.MsgWeCouldnNotChangeYourSoilAnalysisData</govuk-error-summary-item>
                </govuk-error-summary>
            }
            <p class="govuk-body cancel-link"><a asp-action="ChangeSoilAnalysis" asp-controller="SoilAnalysis" asp-route-i="@Model.EncryptedSoilAnalysisId" asp-route-j="@Model.EncryptedFieldId" asp-route-k="@Model.EncryptedFarmId">@Resource.lblCancel</a></p>
        </div>
    </div>

}

