@using NMP.Portal.Resources;
@{
    ViewData["Title"] = Resource.lblServiceReleaseSchedule;
}

@section BeforeContent {
    <govuk-back-link asp-action="Index" asp-controller="Home">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-body">
            <h1 class="govuk-heading-xl">@Resource.lblServiceReleaseSchedule</h1>
            <p class="govuk-body">@Resource.lblAboutReleaseSchedule</p>

            <h2 class="govuk-heading-m">@Resource.lblMarchToAugust2025</h2>
            <p class="govuk-body">
                    @Resource.lblNMPTBetaTest1
            </p>
            @* <h2 class="govuk-heading-m">@Resource.lblMarch</h2>
            <p class="govuk-body">@Resource.lblArableCoreFunctions</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>
            @Resource.lblCreateAPlanAndRecord
            </li>
            <li>
            @Resource.lblIntegratedMANNERNPKCalculations
            </li>
            <li>
            @Resource.lblNVZAndFarmingRulesFor
            </li>
            </ul>
            <h2 class="govuk-heading-m">@Resource.lblApril</h2>
            <p class="govuk-body">@Resource.lblGrasslandCoreFunctions</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>
            @Resource.lblCreateAPlanAndRecord
            </li>
            <li>
            @Resource.lblIntegratedMANNERNPKCalculations
            </li>
            <li>
            @Resource.lblNVZAndFarmingRulesFor
            </li>
            </ul> *@
            <h2 class="govuk-heading-m">@Resource.lblCurrentFunctions</h2>
            <p class="govuk-body">@Resource.lblCurrentFunctionContent1</p>
            <p class="govuk-body">@Resource.lblCurrentFunctionContent2</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    @Resource.lblCreateAPlanAndRecord
                </li>
                <li>
                    @Resource.lblIntegratedMANNERNPKCalculations
                </li>
                <li>
                    @Resource.lblNVZAndFarmingRulesFor
                </li>
                <li>
                    @Resource.lblWaterResourcesRegulation2021Content
                </li>
                <li>
                    @Resource.lblNMaxComplainceModule
                </li>
            </ul>
            <h2 class="govuk-heading-m">@Resource.lblPlannedUpcomingFunction</h2>
            <p class="govuk-body">@Resource.lblPlannedUpcomingFunctionContent1</p>

            <h2 class="govuk-heading-m">@Resource.lblJune</h2>
            <p class="govuk-body">@Resource.lblCoreFunctionsGrassland</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    @Resource.lblCreateAPlanAndRecord
                </li>
                <li>
                    @Resource.lblIntegratedMANNERNPKCalculations
                </li>
                <li>
                    @Resource.lblNVZAndFarmingRulesFor
                </li>
                <li>
                    @Resource.lblWaterResourcesRegulation2021Content
                </li>
            </ul>
            <h2 class="govuk-heading-m">@Resource.lblJuly</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    @Resource.lblMannerNPKStandAloneFrontEnd
                </li>
            </ul>
            <h2 class="govuk-heading-m">@Resource.lblAugust</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    @Resource.lblLivestockManureLimitComplianceModule
                </li>
                <li>
                    @Resource.lblExistingManureStorageCapacity
                </li>
                <li>
                    @Resource.lblOrganicManureInventory
                </li>
            </ul>
            <h2 class="govuk-heading-m">@Resource.lblAugust2025Schedule</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    @Html.Raw(Resource.lblAllModulesLive)
                </li>
            </ul>
            <h2 class="govuk-heading-m">@Resource.lblSept2025</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    @Resource.lblNMPTLaunchesToUsersInScotland
                </li>
            </ul>
            @*  <h2 class="govuk-heading-m">@Resource.lblOctober</h2>
            <ul class="govuk-list govuk-list--bullet">
            <li>
            @Resource.lblNMPTLiveForGeneralUse
            </li>
            </ul> *@
        </div>
    </div>
</div>
