@using NMP.Portal.Resources;
@{
    ViewData["Title"] = Resource.lblServiceReleaseSchedule;
}

@section BeforeContent {
    <govuk-back-link asp-action="Index" asp-controller="Home">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-body">
            <h1 class="govuk-heading-xl">@Resource.lblServiceReleaseSchedule</h1>
            <p class="govuk-body">@string.Format(Resource.lblLastUpdatedDate, "25 November 2025")</p>

            <h2 class="govuk-heading-m">@Resource.lblReleaseScheduleContentOne</h2>
            <p class="govuk-body">@Resource.lblReleaseScheduleContentTwo</p>
            
            <p class="govuk-body">@Resource.lblReleaseScheduleContentThree</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>@Resource.lblReleaseScheduleContentFour</li>
                <li>@Resource.lblReleaseScheduleContentFive</li>
                <li>@Resource.lblReleaseScheduleContentSix</li>
                <li>@Resource.lblReleaseScheduleContentSeven</li>
                <li>@Resource.lblReleaseScheduleContentEight</li>
            </ul>

            <p class="govuk-body">@Resource.lblReleaseScheduleContentNine</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>@Resource.lblNMax</li>
                <li>@Resource.lblReleaseScheduleContentTen</li>
            </ul>

            <h2 class="govuk-heading-m">@Resource.lblReleaseScheduleContentEleven</h2>
            <h3 class="govuk-heading-s">@Resource.lblReleaseScheduleContentTwelve</h3>
            <p class="govuk-body">@Resource.lblReleaseScheduleContentThirteen</p>
            <p class="govuk-body">@Resource.lblReleaseScheduleContentFourteen</p>
            <h3 class="govuk-heading-s">@Resource.lblReleaseScheduleContentFifteen</h3>
            <p class="govuk-body">
                @Resource.lblReleaseScheduleContentSixteen</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>@Resource.lblReleaseScheduleContentSeventeen</li>
                <li>@Resource.lblReleaseScheduleContentEighteen</li>
                <li>@Resource.lblReleaseScheduleContentNineteen</li>
                <li>@Resource.lblReleaseScheduleContentTwenty</li>
            </ul>

              <p class="govuk-body">
                @Resource.lblReleaseScheduleContentTwentyOne
            </p>

            <p class="govuk-body">
                @Html.Raw(Resource.lblReleaseScheduleContentTwentyTwo)
            </p>            
        </div>
    </div>
</div>
