@using NMP.Portal.Resources;
<h1 class="govuk-heading-l">@Resource.lblTermsOfUse</h1>
<p class="govuk-body">@Html.Raw(Resource.lblAboutTermsOfUseLine2)</p>

<h2 class="govuk-heading-m">@Resource.lblAboutRecommendationGuidenceAdvice</h2>
<p class="govuk-body">@string.Format(Resource.lblAboutRecommendationGuidenceAdviceContent1, Resource.lblTool)</p>
<p class="govuk-body">@string.Format(Resource.lblAboutRecommendationGuidenceAdviceContent2, Resource.lblTool)</p>
<p class="govuk-body">@string.Format(Resource.lblAboutRecommendationGuidenceAdviceContent3, Resource.lblTool)</p>

