@using NMP.Portal.Resources;

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @Resource.lblTermsOfUse            
        </h1>
        <p class="govuk-body">
            @Resource.lblAboutTermsOfUseLine1
        </p>
        <p class="govuk-body">
            @Html.Raw(Resource.lblAboutTermsOfUseLine2)
        </p>        
        <h2 class="govuk-heading-m">@Resource.lblAboutRecommendationGuidenceAdvice</h2>
        <p class="govuk-body">
            @Resource.lblAboutRecommendationGuidenceAdviceContent1
        </p>
        <p class="govuk-body">
            @Resource.lblAboutRecommendationGuidenceAdviceContent2
        </p>
        <p class="govuk-body">
            @Resource.lblAboutRecommendationGuidenceAdviceContent3
        </p>
        <h2 class="govuk-heading-m">@Resource.lblPrivate_beta_disclaimer</h2>
        <p class="govuk-body">
            @Resource.lblPrivate_beta_disclaimer_sub_heading
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@Resource.lblPrivate_beta_disclaimer_sub_heading_line1</li>
            <li>@Resource.lblPrivate_beta_disclaimer_sub_heading_line2</li>
        </ul>
    </div>    
</div>
