@using NMP.Portal.Resources;

@{
    ViewData["Title"] = Resource.lblPlanAndRecordNutrientApplications;
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-body">
            <h1 class="govuk-heading-xl">
                @if (ViewBag.Error != null)
                {
                    <govuk-error-summary>
                        <govuk-error-summary-item href="#">@ViewBag.Error</govuk-error-summary-item>
                    </govuk-error-summary>
                }
                <strong>
                    @Resource.lblPlanAndRecordNutrientApplications
                </strong>
            </h1>
            <p>@Resource.lblUseThisServiceToPlan</p>
            <p>@Resource.lblTheServiceWill</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    @Resource.lblSaveYouMoney
                </li>
                <li>
                    @Resource.lblHelpYouComplyWithEnvironmentalRegulations
                </li>
                <li>
                    @Resource.lblHelpProtectTheEnvironment
                </li>
            </ul>            
            <p class="govuk-body">@Resource.lblFollowFarmingRules</p>
            <ul class="govuk-list govuk-list--spaced">
                <li>@Html.Raw(Resource.lblEnglandFormingRuleOfWater)</li>
                <li>@Html.Raw(Resource.lblWalesFormingRuleOfWater)</li>
                <li>@Html.Raw(Resource.lblScotlandFormingRuleOfWater)</li>
            </ul>
            
            <h2 class="govuk-heading-m">@Resource.lblHowitworks</h2>
            <p class="govuk-body">@Resource.lblRecommendationFromthisService <a target="_blank" href="@Resource.lnkToRb209NutrientManagementGuide">@Resource.lblRb209NutrientManagementGuide</a>.</p>
            <p class="govuk-body">@Resource.lblYourPlanWillBasedOn</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    @Resource.lblTheCropsYouGrow
                </li>
                <li>
                    @Resource.lblTheNutrientsInYourSoil
                </li>
                <li>
                    @Resource.lblTheManuresAndFertilisersYouUseAndHowYouApplyThem
                </li>
            </ul>
            <p class="govuk-body">@Resource.lbldownloadablePdftext</p>
            <p class="govuk-body">@Resource.ContentReplacePlanetandManner</p>

            <h2 class="govuk-heading-m">@Resource.lblYourData</h2>
            @Html.Raw(Resource.contentYourData)
            <h2 class="govuk-heading-m">@Resource.lblReleaseSchedule</h2>
            <p class="govuk-body margin-bottom-forty">@Html.Raw(Resource.lblReadScheduleLink)</p>
        </div>
        <div class="govuk-body">            
            @if (ViewBag.IsDefraCustomerIdentifyConfigurationWorking)
            {
                            <govuk-button-link asp-action="Accept" asp-controller="AcceptTerms">@Resource.btnStartNow</govuk-button-link>
            }
        </div>
    </div>
</div>

