@using NMP.Commons.Resources;

@{
    ViewData["Title"] = Resource.lblPlanAndRecordNutrientApplications;
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Plan and Manage Nutrient Applications Tool — Launch Update
        </h1>
        <p class="govuk-body">This is the production version of the Nutrient Management Planning tool.</p>
        <p class="govuk-body">
            The Nutrient Management Planning tool ( NMPT-GB) is in its final stages and will be ready soon.
            We’re making final refinements and will share further updates shortly.
        </p>
        <p class="govuk-body">If you have any queries before the launch of the tool, please email <a href="mailto:nmpt@defra.gov.uk">nmpt@defra.gov.uk</a>.</p>
        
        @* <h1 class="govuk-heading-xl">
            Plan and Manage Nutrient Applications Tool - Update
        </h1>
        <p class="govuk-body">This is a pre-production environment.</p>
        <p class="govuk-body">
            The production version of the Plan and Manage Nutrient Applications tool is now publicly available.<br />
            You can access the production environment here: <a href="https://plan-and-manage-nutrient-applications.service.gov.uk/">Plan and manage nutrient applications - NMPTGB - GOV.UK</a>.
        </p>
        <p class="govuk-body">
            If you have previously used the private beta tool, please note that you will need to create a new Government Gateway account to access the production environment.
        </p>
        <h2 class="govuk-heading-l">
            Private beta users
        </h2>
        <p class="govuk-body">For our private beta users, we are currently implementing further updates. Your version of the tool will be ready shortly. Thank you for your patience and continued feedback.</p>
        <p class="govuk-body">Further communications will be issued in the next few weeks.</p> *@
        
        
        @*@if (ViewBag.Error != null || ViewBag.ServiceError != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@ViewBag.Error</govuk-error-summary-item>
                <govuk-error-summary-item href="#">@ViewBag.ServiceError</govuk-error-summary-item>
            </govuk-error-summary>
        }
        <h1 class="govuk-heading-xl">
            @Resource.lblPlanAndRecordNutrientApplications
        </h1>
        <p class="govuk-body">@Resource.lblUseThisServiceToPlan</p>
        <p class="govuk-body">@Resource.lblTheServiceWill</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                @Resource.lblSaveYouMoney
            </li>
            <li>
                @Resource.lblHelpYouComplyWithEnvironmentalRegulations
            </li>
            <li>
                @Resource.lblHelpProtectTheEnvironment
            </li>
        </ul>
        <h2 class="govuk-heading-m">@Resource.lblHowitworks</h2>
        <p class="govuk-body">@Html.Raw(Resource.lblRecommendationFromthisService)</p>
        <p class="govuk-body">@Resource.lblYourPlanWillBasedOn</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                @Resource.lblTheCropsYouGrow
            </li>
            <li>
                @Resource.lblTheNutrientsInYourSoil
            </li>
            <li>
                @Resource.lblTheManuresAndFertilisersYouUseAndHowYouApplyThem
            </li>
        </ul>
        <p class="govuk-body">@Resource.lblDevelopNutrientApplicationPlan</p>
        <p class="govuk-body">@Resource.lbldownloadablePdftext</p>        
        <h2 class="govuk-heading-m">@Resource.lblYourData</h2>
        <p class="govuk-body">
            @Resource.lblYourDataContentOne
        </p>
        <p class="govuk-body">@Html.Raw(Resource.lblYourDataContentSecond)</p>

        <h2 class="govuk-heading-m">@Resource.lblReleaseSchedule</h2>
        <p class="govuk-body">@Html.Raw(Resource.lblReadScheduleLink)</p>

        @if (ViewBag.IsDefraCustomerIdentifyConfigurationWorking && ViewBag.IsNmptServiceWorking)
        {
            <govuk-button-link class="govuk-button govuk-button--start" asp-action="Index" asp-controller="AboutService">
                @Resource.btnStartNow
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </govuk-button-link>
        } *@
    </div>
</div>
