@using NMP.Commons.Enums
@using NMP.Commons.ViewModels;
@using NMP.Commons.Resources;
@model NMP.Commons.ViewModels.FarmViewModel
@{
    var currentStep = ViewBag.CurrentStep as int?;
}
<div hidden="hidden">    
    @if (currentStep != (int)FarmWizardSteps.Name)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Name" />
    }
    @if (currentStep != (int)FarmWizardSteps.Country)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CountryID" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Country" />
    }
    @if (currentStep != (int)FarmWizardSteps.Postcode)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Postcode" />
    }
    @if (currentStep != (int)FarmWizardSteps.FullAddress)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FullAddress" />
    }
    @if (currentStep != (int)FarmWizardSteps.ManualAddress)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address1" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address2" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address3" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address4" />
    }
    @if (currentStep != (int)FarmWizardSteps.ManualRainFall)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Rainfall" />
    }
    @if (currentStep != (int)FarmWizardSteps.Nvz)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZFields" />
    }
    @if (currentStep != (int)FarmWizardSteps.FieldAbove300Level)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldsAbove300SeaLevel" />
    }
    @if (currentStep != (int)FarmWizardSteps.OrganicFarm)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RegisteredOrganicProducer" />
    }
    @if (currentStep != (int)FarmWizardSteps.ClimateDataPostcode)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClimateDataPostCode" />
    }

    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManualAddress" value="@Model.IsManualAddress.ToString().ToLower()" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsPostCodeChanged" value="@Model.IsPostCodeChanged" />    
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedIsUpdate" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ID" value="@Model.ID" />
</div>