@using NMP.Commons.ViewModels;
@using NMP.Commons.Resources;
@model NMP.Commons.ViewModels.FarmViewModel
@{
    var currentStep = ViewBag.CurrentStep as int?;
}
<div hidden="hidden">    
    @if(currentStep !=1)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Name" />
    }
    @if (currentStep != 2)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CountryID" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Country" />
    }
    @if (currentStep != 4)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Postcode" />
    }
    @if (currentStep != 5)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FullAddress" />
    }
    @if (currentStep != 6)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address1" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address2" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address3" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address4" />
    }
    @if (currentStep != 8)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Rainfall" />
    }
    @if (currentStep != 9)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZFields" />
    }
    @if (currentStep != 10)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldsAbove300SeaLevel" />
    }
    @if (currentStep != 11)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RegisteredOrganicProducer" />
    }
    @if (currentStep != 12)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClimateDataPostCode" />
    }

    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManualAddress" value="@Model.IsManualAddress.ToString().ToLower()" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsPostCodeChanged" value="@Model.IsPostCodeChanged" />    
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedIsUpdate" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ID" />
</div>