@using NMP.Portal.Resources
@using NMP.Portal.ViewModels
@model FarmViewModel
@{
    ViewData["Title"] = Resource.lblSelectTheFarmAddress;
}


<form  method="post" asp-controller="Farm">
    <button class="govuk-back-link back-link" type="submit" asp-action="Name" asp-controller="Farm">@Resource.lblBack</button>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Name" value="@Model.Name"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PostCode" value="@Model.PostCode"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Rainfall" value="@Model.Rainfall"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZField" value="@Model.NVZField"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldsAbove300SeaLevel" value="@Model.FieldsAbove300SeaLevel"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RegistredOrganicProducer" value="@Model.RegistredOrganicProducer"></govuk-input>
            <h1 class="govuk-heading-l">
                @string.Format(Resource.lblSelectTheAddressFor, Model.Name)
            </h1>

            <div class="text-group">
                <h3 class="govuk-heading-s">@Resource.lblPostCode</h3>
                <p class="govuk-body">
                    @Model.PostCode
                </p>


                <button class="govuk-link change-link" type="submit" asp-action="Name" asp-controller="Farm">@Resource.lblChange</button></p>
            </div>

            <div class="govuk-form-group">
                <govuk-select id="FullAddress" name="FullAddress" asp-for="FullAddress">
                    @foreach (var item in ViewBag.AddressList as List<SelectListItem>)
                    {
                        <govuk-select-item value="@item.Value">@item.Text</govuk-select-item>
                    }
                </govuk-select>
            </div>

            <p class="govuk-body margin-bottom-forty"><a class="govuk-link" asp-action="ManualAddress" asp-controller="Farm">@Resource.lblEnterAddressManually</a></p>



            <govuk-button type="submit" asp-action="Rainfall" data-prevent-double-click="true" class="govuk-button margin-bottom-forty margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>

            <p class="govuk-body cancel-link"><a class="govuk-link" asp-action="CreateFarmCancel" asp-controller="Farm">@Resource.lblCancel</a></p>


        </div>
    </div>
</form>