@using NMP.Commons.Resources
@using NMP.Commons.ViewModels
@model FarmViewModel
@{

    // ViewData["Title"] = string.Format("{0} - {1}", string.Format(Resource.lblWeCouldNotFindAnyAddressesFor, Model.Postcode), Resource.lblSectionAddFarm);
    string title = (!string.IsNullOrEmpty(Model.EncryptedIsUpdate)) ? string.Format(Resource.lblUpdateFarm, Resource.lblFarm.ToLower()) : Resource.lblAddAFarm;
    ViewData["Title"] = $"{string.Format(Resource.lblWeCouldNotFindAnyAddressesFor, Model.Postcode)} {Resource.lblHyphen} {title}";
}

@section BeforeContent{
    <govuk-back-link class="govuk-back-link back-link" asp-action="PostCode" asp-controller="Farm">@Resource.lblBack</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">      

        <h1 class="govuk-heading-l">@string.Format(Resource.lblWeCouldNotFindAnyAddressesFor, Model.Postcode)</h1>
        <div class="govuk-body">
            <a class="govuk-link change-link" asp-action="PostCode" asp-controller="Farm">@Resource.lblChangeThisPostcode</a>
        </div>
        <div class="govuk-body">
            @Resource.lblOr <a class="govuk-link change-link" asp-action="ManualAddress" asp-controller="Farm">@Resource.lblEnterTheAddressManually <span class="govuk-visually-hidden">@($"{Resource.lblEnterAddressManually}")</span></a>
        </div>
        <br />
        <p class="govuk-body cancel-link">
             @if (!Model.IsCheckAnswer)
            {
                <a class="govuk-link" asp-action="CreateFarmCancel" asp-controller="Farm">@Resource.lblCancel</a>
            }
            else
            {
                <a class="govuk-link" asp-action="CheckAnswer" asp-controller="Farm">@Resource.lblCancel</a>
            }
        </p>
    </div>
</div>