@using NMP.Commons.Resources
@using NMP.Commons.ViewModels
@model FarmViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedIsUpdate)) ? string.Format(Resource.lblUpdateFarm, Resource.lblFarm.ToLower()) : Resource.lblAddAFarm;
    ViewData["Title"] = $"{string.Format(Resource.lblSelectTheAddressFor, Model.Name)} {Resource.lblHyphen} {title}";
    ViewBag.CurrentStep = 5;
}

@section BeforeContent {
    <govuk-back-link asp-action="@(Model.IsCheckAnswer ? "CheckAnswer" : "PostCode")" asp-controller="Farm">@Resource.lblBack</govuk-back-link>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="Address" method="post" asp-controller="Farm" autocomplete="on">
            @Html.AntiForgeryToken()
            @await Html.PartialAsync("~/Views/Farm/_FarmWizardHiddenFields.cshtml", Model)            
            <govuk-fieldset>
                <govuk-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                    @string.Format(Resource.lblSelectTheAddressFor, Model.Name)
                </govuk-fieldset-legend>

                <div class="text-group">
                    <h2 class="govuk-heading-s">@Resource.lblPostCode</h2>
                    <p class="govuk-body">
                        @Model.Postcode
                    </p>
                    <p class="govuk-body">
                        <a class="govuk-link change-link" asp-action="PostCode" asp-controller="Farm">@Resource.lblChange <span class="govuk-visually-hidden">@Resource.lblPostCode</span></a>
                    </p>
                </div>
                <govuk-select class="govuk-!-width-full" id="FullAddress" name="FullAddress" asp-for="FullAddress">
                    <govuk-select-item value="">@ViewBag.AddressCount</govuk-select-item>
                    @foreach (var item in ViewBag.AddressList as List<SelectListItem>)
                    {
                        <govuk-select-item value="@item.Value">@item.Text</govuk-select-item>
                    }
                </govuk-select>

                <p class="govuk-body margin-bottom-forty">
                    <a class="govuk-link change-link" asp-action="ManualAddress" asp-controller="Farm">@Resource.lblEnterAddressManually</a>
                </p>
            </govuk-fieldset>
            <govuk-button type="submit" data-prevent-double-click="true" class="govuk-button margin-bottom-forty margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
        </form>
        <p class="govuk-body cancel-link">
            @if (!Model.IsCheckAnswer)
            {
                <a class="govuk-link" asp-action="CreateFarmCancel" asp-controller="Farm">@Resource.lblCancel</a>
            }
            else
            {
                <a class="govuk-link" asp-action="CheckAnswer" asp-controller="Farm">@Resource.lblCancel</a>
            }
        </p>


    </div>
</div>
