@using NMP.Portal.ViewModels;
@using NMP.Portal.Resources;
@model NMP.Portal.ViewModels.FarmViewModel

@{
    ViewData["Title"] = ((Model != null && !string.IsNullOrEmpty(Model.EncryptedIsUpdate))) ? $"{Resource.lblAreYouSureYouWantToCancel} {Resource.lblHyphen} {string.Format(Resource.lblUpdateFarm, Resource.lblFarm.ToLower())}" : $"{Resource.lblAreYouSureYouWantToCancel} {Resource.lblHyphen} {Resource.lblAddAFarm}";
    var cancelViewModel = new CancelViewModel
    {
        IsCancel = Model.IsCancel,
        LableContent = string.Format(Resource.lblTheInformationEnteredAboutThisWillBeLost, Resource.lblFarm.ToLower())
    };
}
@section BeforeContent {
    <govuk-back-link asp-action="CheckAnswer" asp-controller="Farm">@Resource.lblBack</govuk-back-link>

}

<form asp-controller="Farm" asp-action="Cancel" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <div hidden="true">
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsPostCodeChanged" value="@Model.IsPostCodeChanged"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Name"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address1"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address2"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address3"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address4"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Postcode"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Rainfall"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RegisteredOrganicProducer"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZFields"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldsAbove300SeaLevel"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FullAddress"/>
        @* <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer"/> *@
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedIsUpdate"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CountryID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Country"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClimateDataPostCode"/>
    </div>
    @await Html.PartialAsync("~/views/shared/_cancelconfirmation.cshtml", cancelViewModel)
    <govuk-button type="submit" class="margin-bottom-forty">
        @Resource.lblContinue
    </govuk-button>
</form>
<p class="govuk-body cancel-link">
    <a asp-action="CheckAnswer" asp-controller="Farm">@Resource.lblCancel</a>
</p>