@using NMP.Commons.Resources;
@model NMP.Commons.ViewModels.FarmViewModel

@{
    ViewData["Title"] = (!string.IsNullOrEmpty(Model.EncryptedIsUpdate)) ? $"{string.Format(Resource.lblUpdateFarm, Resource.lblFarm.ToLower())} {Resource.lblHyphen} {Resource.lblDetails}" : $"{Resource.lblCheckYourAnswers} {Resource.lblHyphen} {Resource.lblAddAFarm}";
    var organicProducer = "";
    var fieldsAbove300m = "";
    var fieldsInNVZ = "";

    switch (Model.NVZFields)
    {
        case (int)NMP.Commons.Enums.NvzFields.NoFieldsInNVZ:
            fieldsInNVZ = Resource.lblNoneOfTheFieldsAreInAnNVZ;
            break;
        case (int)NMP.Commons.Enums.NvzFields.SomeFieldsInNVZ:
            fieldsInNVZ = Resource.lblSomeOfTheFieldsAreInAnNVZ;
            break;
        case (int)NMP.Commons.Enums.NvzFields.AllFieldsInNVZ:
            fieldsInNVZ = Resource.lblAllTheFieldsAreInAnNVZ;
            break;
    }
    switch (Model.FieldsAbove300SeaLevel)
    {
        case (int)NMP.Commons.Enums.FieldsAbove300SeaLevel.NoneAbove300m:
            fieldsAbove300m = Resource.lblNoneOfTheFieldsAreAbove300m;
            break;
        case (int)NMP.Commons.Enums.FieldsAbove300SeaLevel.SomeFieldsAbove300m:
            fieldsAbove300m = Resource.lblSomeOfTheFieldsAreAbove300m;
            break;
        case (int)NMP.Commons.Enums.FieldsAbove300SeaLevel.AllFieldsAbove300m:
            fieldsAbove300m = Resource.lblAllTheFieldsAreAbove300m;
            break;

    }
    switch (Model.RegisteredOrganicProducer)
    {
        case true:
            organicProducer = Resource.lblYes;
            break;
        case false:
            organicProducer = Resource.lblNo;
            break;
    }
}
@section BeforeContent {
    <govuk-back-link asp-action=@(ViewBag.IsDataChange ? "Cancel" : "BackCheckAnswer") asp-controller="Farm">@Resource.lblBack</govuk-back-link>
}
<form class="form-with-overlay" asp-action="@(!string.IsNullOrEmpty(Model.EncryptedIsUpdate) ? "FarmUpdate" : "CheckAnswer")" asp-controller="Farm" method="post">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/Farm/_FarmWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            @if (!ViewData.ModelState.IsValid)
            {
                var action = Model.IsManualAddress ? "ManualAddress" : "Address";
                var errorAction = "";
                <govuk-error-summary>
                    @foreach (var state in ViewData.ModelState)
                    {
                        foreach (var error in state.Value.Errors)
                        {
                            if (error.ErrorMessage.Equals(string.Format(Resource.MsgYourAddressFieldsHasExceededTheMaximumCharacterLimit,Resource.lblFirstLineAddress))
                            || error.ErrorMessage.Equals(string.Format(Resource.MsgYourAddressFieldsHasExceededTheMaximumCharacterLimit, Resource.lblSecondLineAddress)) 
                            || error.ErrorMessage.Equals(string.Format(Resource.MsgYourAddressFieldsHasExceededTheMaximumCharacterLimit, Resource.lblTownOrCity)) 
                            || error.ErrorMessage.Equals(string.Format(Resource.MsgYourAddressFieldsHasExceededTheMaximumCharacterLimit, Resource.lblCounty)))
                            {
                                errorAction = action;
                                <govuk-error-summary-item href="@errorAction">
                                    @error.ErrorMessage
                                </govuk-error-summary-item>
                            }

                        }
                    }
                </govuk-error-summary>

            }
            @if (TempData["AddFarmError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#passport-issued-day">@TempData["AddFarmError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
            <h1 class="govuk-heading-l">
                @(!string.IsNullOrEmpty(Model.EncryptedIsUpdate) ? string.Format(Resource.lblUpdateFarm, Model.Name) : Resource.lblCheckYourAnswers)
            </h1>
                      
          
                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @Resource.lblFarmName
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @Model.Name
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="Name" asp-controller="Farm">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblFarmName)</span></govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @Resource.lblCountry
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @Model.Country
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            @if (string.IsNullOrEmpty(Model.EncryptedIsUpdate))
                            {
                                <govuk-summary-list-row-action asp-action="Country" asp-controller="Farm">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblCountry)</span></govuk-summary-list-row-action>
                            }
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @Resource.lblPostCode
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @Model.Postcode
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="PostCode" asp-controller="Farm">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblPostCode)</span></govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @Resource.lblFarmAddress
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @Model.FullAddress
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="@(Model.IsManualAddress ? "ManualAddress" : "Address")" asp-controller="Farm">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblFarmAddress)</span></govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                    @if (!string.IsNullOrWhiteSpace(Model.ClimateDataPostCode) && Model.ClimateDataPostCode != Model.Postcode)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @Resource.lblClimatePostcode
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @Model.ClimateDataPostCode
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="ClimatePostCode" asp-controller="Farm">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblClimatePostcode)</span></govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                    <govuk-summary-list-row class=@((!Model.Rainfall.HasValue)?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @Resource.lblAverageAnnualRainfall
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @(!Model.Rainfall.HasValue ? Resource.lblNotSet : string.Format("{0:N0}{1}", Model.Rainfall, Resource.lblmm))
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="Rainfall" asp-controller="Farm">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblAnnualRainfall)</span></govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>

                    @if (Model.CountryID != (int)NMP.Commons.Enums.FarmCountry.Wales)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @string.Format(Resource.lblHowManyFieldsInNVZ, Model.Name)
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @fieldsInNVZ
                            </govuk-summary-list-row-value>

                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="NVZ" asp-controller="Farm">@Resource.lblChange <span class="govuk-visually-hidden">@(string.Format(Resource.lblHowManyFieldsInNVZ, Model.Name))</span></govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }

                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @string.Format(Resource.lblFieldsAbove300SeaLevel, Model.Name)
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @fieldsAbove300m
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="Elevation" asp-controller="Farm">@Resource.lblChange <span class="govuk-visually-hidden">@(string.Format(Resource.lblFieldsAbove300SeaLevel, Model.Name))</span></govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                    @if (Model.CountryID != (int)NMP.Commons.Enums.FarmCountry.Scotland)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @Resource.lblRegisteredOrganicProducer
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @organicProducer
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="Organic" asp-controller="Farm">@Resource.lblChange <span class="govuk-visually-hidden">@(Resource.lblRegisteredOrganicProducer)</span></govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                </govuk-summary-list>

            <govuk-button type="submit" class="margin-bottom-forty" prevent-double-click="true">
                @(!string.IsNullOrEmpty(Model.EncryptedIsUpdate) ? Resource.lblUpdateThisFarm : Resource.lblAddThisFarm)
            </govuk-button>
            <p class="govuk-body cancel-link">


                @if (string.IsNullOrWhiteSpace(Model.EncryptedIsUpdate))
                {
                    <a class="govuk-link" asp-action="Cancel" asp-controller="Farm">@Resource.lblCancel</a>
                }
                else
                {
                    if (ViewBag.IsDataChange != null && (bool)ViewBag.IsDataChange)
                    {
                        <a class="govuk-link" asp-action="Cancel" asp-controller="Farm">@Resource.lblCancel</a>
                    }
                    else
                    {
                        <a class="govuk-link" asp-action="BackCheckAnswer" asp-controller="Farm">@Resource.lblCancel</a>
                    }
                }
            </p>
        </div>
    </div>
</form>