@using NMP.Commons.Enums
@using NMP.Commons.Resources
@using NMP.Commons.ViewModels
@model FarmViewModel

@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedIsUpdate)) ? string.Format(Resource.lblUpdateFarm, Resource.lblFarm.ToLower()) : Resource.lblAddAFarm;
    ViewData["Title"] = $"{string.Format(Resource.lblWhichCountryIsIn, Model.Name)} {Resource.lblHyphen} {title}";
    ViewBag.CurrentStep = (int)FarmWizardSteps.Country;
}
@section BeforeContent {
    <govuk-back-link asp-action="@(Model.IsCheckAnswer ? "CheckAnswer" : "Name")" asp-controller="Farm">@Resource.lblBack</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="Country" method="post" asp-controller="Farm" autocomplete="off">
            @Html.AntiForgeryToken()
            @await Html.PartialAsync("~/Views/Farm/_FarmWizardHiddenFields.cshtml", Model)            
            <govuk-radios asp-for="@Model.CountryID">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblWhichCountryIsIn, Model.Name)
                    </govuk-radios-fieldset-legend>
                    @if (ViewBag.CountryList != null)
                    {
                        @foreach (var item in ViewBag.CountryList)
                        {
                            <govuk-radios-item disabled="@item.ID == 2" value="@item.ID">@item.Name</govuk-radios-item>
                        }
                    }
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit" data-prevent-double-click="true" class="govuk-button margin-bottom-forty margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
        </form>
        <p class="govuk-body cancel-link">
            @if (!Model.IsCheckAnswer)
            {
                <a class="govuk-link" asp-action="CreateFarmCancel" asp-controller="Farm">@Resource.lblCancel</a>
            }
            else
            {
                <a class="govuk-link" asp-action="CheckAnswer" asp-controller="Farm">@Resource.lblCancel</a>
            }
        </p>
    </div>
</div>