@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.FarmViewModel
@{
    ViewData["Title"] = Resource.lblNVZ;
    var AllFieldsAbove300m = (int)NMP.Portal.Enums.FieldsAbove300SeaLevel.AllFieldsAbove300m;
    var SomeFieldsAbove300m = (int)NMP.Portal.Enums.FieldsAbove300SeaLevel.SomeFieldsAbove300m;
    var NoneAbove300m = (int)NMP.Portal.Enums.FieldsAbove300SeaLevel.NoneAbove300m;
}

@section BeforeContent {
    <govuk-back-link asp-action="NVZ" asp-controller="Farm">@Resource.lblBack</govuk-back-link>
}
<form asp-controller="Farm" method="post">
    @Html.AntiForgeryToken();
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Name"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address1"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address2"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address3"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address4"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PostCode"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Rainfall"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RegistredOrganicProducer"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZField"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FullAddress"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManualAddress" value="@Model.IsManualAddress.ToString().ToLower()"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OldPostcode"></govuk-input>
            <govuk-radios asp-for="@Model.FieldsAbove300SeaLevel">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblFieldsAbove300SeaLevel, Model.Name)
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@AllFieldsAbove300m">@Resource.lblAllTheFieldsAreAbove300m</govuk-radios-item>
                    <govuk-radios-item value="@SomeFieldsAbove300m">@Resource.lblSomeOfTheFieldsAreAbove300m</govuk-radios-item>
                    <govuk-radios-item value="@NoneAbove300m">@Resource.lblNoneOfTheFieldsAreAbove300m</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty" asp-action="Elevation">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link"><a asp-action="CreateFarmCancel" asp-controller="Farm">@Resource.lblCancel</a></p>

        </div>

    </div>
</form>