@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.FarmViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedIsUpdate)) ? string.Format(Resource.lblUpdateFarm, Resource.lblFarm.ToLower()) : Resource.lblAddAFarm;
    ViewData["Title"] = $"{string.Format(Resource.lblFieldsAbove300SeaLevel, Model.Name)} {Resource.lblHyphen} {title}";
    var AllFieldsAbove300m = (int)NMP.Commons.Enums.FieldsAbove300SeaLevel.AllFieldsAbove300m;
    var SomeFieldsAbove300m = (int)NMP.Commons.Enums.FieldsAbove300SeaLevel.SomeFieldsAbove300m;
    var NoneAbove300m = (int)NMP.Commons.Enums.FieldsAbove300SeaLevel.NoneAbove300m;

    var backAction = "";
    if (Model.IsCheckAnswer)
    {
        backAction = "CheckAnswer";
    }
    else
    {
        if (Model.CountryID == (int)NMP.Commons.Enums.FarmCountry.Wales)
        {
            backAction = "Rainfall";
        }
        else
        {
            backAction = "NVZ";
        }
    }
}

@section BeforeContent {
    <govuk-back-link asp-action="@backAction" asp-controller="Farm">@Resource.lblBack</govuk-back-link>
}
<form asp-controller="Farm" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div hidden="true">
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Name"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address1"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address2"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address3"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address4"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Postcode"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Rainfall"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RegisteredOrganicProducer"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZFields"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FullAddress"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManualAddress" value="@Model.IsManualAddress.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsPostCodeChanged" value="@Model.IsPostCodeChanged.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedIsUpdate"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CountryID"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Country"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClimateDataPostCode"/>
            </div>
            <govuk-radios asp-for="@Model.FieldsAbove300SeaLevel">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblFieldsAbove300SeaLevel, Model.Name)
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@AllFieldsAbove300m">@Resource.lblAllTheFieldsAreAbove300m</govuk-radios-item>
                    <govuk-radios-item value="@SomeFieldsAbove300m">@Resource.lblSomeOfTheFieldsAreAbove300m</govuk-radios-item>
                    <govuk-radios-item value="@NoneAbove300m">@Resource.lblNoneOfTheFieldsAreAbove300m</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty" asp-action="Elevation">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                 @if (!Model.IsCheckAnswer)
                {
                    <a class="govuk-link" asp-action="CreateFarmCancel" asp-controller="Farm">@Resource.lblCancel</a>
                }
                else
                {
                    <a class="govuk-link" asp-action="CheckAnswer" asp-controller="Farm">@Resource.lblCancel</a>
                }
            </p>
        </div>

    </div>
</form>