@using NMP.Commons.Resources
@using NMP.Commons.ViewModels
@model FarmViewModel
@{
    ViewData["Title"] = Model != null ? Model.Name : Resource.lblFarmSummary;
}

@if (TempData["Error"] != null)
{
    <govuk-error-summary>
        <govuk-error-summary-item href="#">@TempData["Error"]</govuk-error-summary-item>
    </govuk-error-summary>
}
@if (Model != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (ViewBag.Success != null && ViewBag.Success == "true")
            {
                <govuk-notification-banner type="NotificationBannerType.Success">
                    @if (@TempData["successMsg"] == null)
                    {
                        <div class="">
                            <h3 class="govuk-notification-banner__heading"> @string.Format(!string.IsNullOrEmpty(Model.EncryptedIsUpdate) ? Resource.lblYouHaveUpdated : Resource.lblYouHaveAdded, Model.Name)</h3>
                            <p class="govuk-body"></p>
                            <a class="govuk-notification-banner__link" asp-action="AddField" asp-controller="Field" asp-route-q="@Model.EncryptedFarmId">@string.Format(Resource.lblAddFieldFor, Model.Name)</a>
                        </div>
                    }
                    else
                    {
                        <p class="govuk-notification-banner__heading">
                            @TempData["successMsg"]
                        </p>
                    }
                </govuk-notification-banner>
            }

            <div id="farm-title">
                <h1 class="govuk-heading-xl">@Model.Name</h1>
                <p class="govuk-body address">@Model.FullAddress</p>
                @if (ViewBag.FieldCount != null && (ViewBag.FieldCount > 0))
                {
                    <p class="govuk-body">
                        @string.Format(Resource.lblThisFarmHas, ViewBag.FieldCount)
                    </p>
                }
                else
                {
                    <p class="govuk-body">@Resource.lblThisFarmhasNoFields</p>
                }

            </div>
            <ul class="menu-list govuk-list">
                <li>
                    <a class="govuk-link" asp-action="FarmDetails" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">@Resource.lblUpdateFarmDetails</a>
                </li>
                @if (ViewBag.FieldCount != null && ViewBag.FieldCount > 0)
                {
                    <li>
                        <a class="govuk-link" asp-action="ManageFarmFields" asp-controller="Field" asp-route-Id="@Model.EncryptedFarmId">@Resource.lblAddOrUpdateFieldsOrSoilAnalysis</a>
                    </li>
                }
                else
                {
                    <a class="govuk-link" asp-action="AddField" asp-controller="Field" asp-route-q="@Model.EncryptedFarmId">@Resource.lblAddAField</a>
                }
            </ul>
            <div>
                <hr class="seperator_thirty">
                <h2 class="govuk-heading-m">@Resource.lblFarmSummaryContent1</h2>
                <p class="govuk-body">@Resource.lblFarmSummaryContent2</p>
                <ul class="menu-list govuk-list govuk-list--spaced">
                    <li>
                        @if (ViewBag.FieldCount != null && (ViewBag.FieldCount > 0))
                        {
                            <a class="govuk-link" asp-action="PlansAndRecordsOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId">
                                @Resource.lblFarmSummaryContent3
                            </a>
                        }
                        else
                        {
                            <p class="govuk-body">
                                @Resource.lblToStartCreatingPlanAndRecords
                                <a class="govuk-link" asp-action="AddField" asp-controller="Field" asp-route-q="@Model.EncryptedFarmId">@Resource.lblAddYourFields</a>
                            </p>
                        }

                </li>
            </ul>

        </div>
        <div>
            <hr class="seperator_thirty">
            <h2 class="govuk-heading-m">@(Model.CountryID == (int)NMP.Commons.Enums.FarmCountry.Wales ?
                                Resource.lblFarmSummaryContentForWalesOne:Resource.lblFarmSummaryContent4)</h2>
            <p class="govuk-body">
                @(Model.CountryID == (int)NMP.Commons.Enums.FarmCountry.Wales ?
                                Resource.lblFarmSummaryContentForWalesTwo : Resource.lblFarmSummaryContent5)

            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>@(Model.CountryID == (int)NMP.Commons.Enums.FarmCountry.Wales ? Resource.lblMaximumNitrogenLimit : Resource.lblNMax)</li>

                <li>
                    @(Model.CountryID == (int)NMP.Commons.Enums.FarmCountry.Wales ?
                                        Resource.lblHoldingNitrogenLimitThe170Limit : Resource.lblLivestockManureNitrogenNFarmLimit)
                                                                                                                              </li>
                                                                                                                              @* <li>@Resource.lblExistingManureStorageCapacity</li>
                    <li>@Resource.lblOrganicManureInventoryAndStorageRequirement</li> *@
            </ul>

            <ul class="menu-list govuk-list govuk-list--spaced">
                <li>
                    <a class="govuk-link" asp-action="ReportOptions" asp-controller="Report" asp-route-f="@Model.EncryptedFarmId">
                        @(Model.CountryID == (int)NMP.Commons.Enums.FarmCountry.Wales ?
                                                Resource.lblFarmSummaryContent6 : Resource.lblCreateAnNVZReport)

                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
}

