@using NMP.Portal.Resources
@using NMP.Portal.ViewModels
@model FarmViewModel
@{
    ViewData["Title"] = Resource.lblFarmSummary;
}

@if (TempData["Error"] != null)
{
    <govuk-error-summary>
        <govuk-error-summary-item href="#">@TempData["Error"]</govuk-error-summary-item>
    </govuk-error-summary>
}
@if (Model != null)
{
    @section BeforeContent {
    <govuk-breadcrumbs class="govuk-breadcrumbs-link">
        <govuk-breadcrumbs-item asp-action="FarmList" asp-controller="Farm">
            @Resource.lblAllFarm
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item class="govuk-breadcrumbs__list-item">
            @Model.Name
        </govuk-breadcrumbs-item>
    </govuk-breadcrumbs>
    }
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (ViewBag.Success != null && ViewBag.Success == "true")
            {
                <govuk-notification-banner type="Success">
                    @if (@TempData["successMsg"] == null)
                    {
                        <div class="">
                            <h3 class="govuk-notification-banner__heading"> @string.Format(!string.IsNullOrEmpty(Model.EncryptedIsUpdate) ? Resource.lblYouHaveUpdated : Resource.lblYouHaveAdded, Model.Name)</h3>
                            <p class="govuk-body"></p>
                            <a class="govuk-notification-banner__link" asp-action="AddField" asp-controller="Field" asp-route-q="@Model.EncryptedFarmId">@string.Format(Resource.lblAddFieldFor, Model.Name)</a>
                        </div>
                    }
                    else
                    {
                        <p class="govuk-notification-banner__heading">
                            @TempData["successMsg"]
                        </p>
                    }
                </govuk-notification-banner>
            }
            <div id="farm-title">
                <h1 class="govuk-heading-xl">@Model.Name</h1>
                <p class="govuk-body address">@Model.FullAddress</p>
            </div>
            @* @if (ViewBag.FieldCount != null && ViewBag.FieldCount == 0)
        {
        <p class="govuk-body">
        @Resource.lblToStartCreatingPlanAndRecords
        <a class="govuk-link" asp-action="AddField" asp-controller="Field" asp-route-q="@Model.EncryptedFarmId">
        @Resource.lblAddYourFields
        </a>
        </p>
        } *@

            @if (ViewBag.FieldCount != null && (ViewBag.FieldCount > 0))
            {
                <p class="govuk-body">
                    @string.Format(Resource.lblFieldsCount, ViewBag.FieldCount)
                </p>
            }
            <div>
                <hr class="seperator_thirty">

                <h2 class="govuk-heading-m">@Resource.lblFarmSummaryContent1</h2>

                <p class="govuk-hint">@Resource.lblFarmSummaryContent2</p>
                <ul class="menu-list govuk-list govuk-list--spaced">
                    <li>
                        @if (ViewBag.FieldCount != null && (ViewBag.FieldCount > 0))
                        {
                            <a class="govuk-link" asp-action="PlansAndRecordsOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId">
                                @Resource.lblFarmSummaryContent3
                            </a>
                        }
                        else
                        {
                            <p class="govuk-body">
                                @Resource.lblToStartCreatingPlanAndRecords
                                <a class="govuk-link" asp-action="AddField" asp-controller="Field" asp-route-q="@Model.EncryptedFarmId">
                                    @Resource.lblAddYourFields
                                </a>
                            </p>
                        }

                    </li>
                </ul>

            </div>
            <div>
                <hr class="seperator_thirty">
                <h2 class="govuk-heading-m">@Resource.lblFarmSummaryContent4</h2>
                <p class="govuk-hint">@Resource.lblFarmSummaryContent5</p>
                <ul class="menu-list govuk-list govuk-list--spaced">
                    <li>
                        <a class="govuk-link" asp-action="ReportOptions" asp-controller="Report" asp-route-f="@Model.EncryptedFarmId">@Resource.lblFarmSummaryContent6</a>
                    </li>
                </ul>
            </div>
            @* <hr class="seperator_five" /> *@
            <div>
                <hr class="seperator_thirty">
                <h2 class="govuk-heading-m">@Resource.lblFarmSummaryContent7</h2>
                <p class="govuk-hint">@Resource.lblFarmSummaryContent7</p>
                <ul class="menu-list govuk-list">
                    <li>
                        <a class="govuk-link" asp-action="FarmDetails" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">@Resource.lblUpdateFarmDetails</a>
                    </li>
                    @if (ViewBag.FieldCount != null && ViewBag.FieldCount > 0)
                    {
                        <li>
                            <a class="govuk-link" asp-action="ManageFarmFields" asp-controller="Field" asp-route-Id="@Model.EncryptedFarmId">@Resource.lblUpdateFieldsOrSoilAnalysis</a>
                        </li>
                    }
                    @* <li>
                <a class="govuk-link" href="#">@Resource.lblFarmSummaryContent9</a>
                </li>*@
                    @if (ViewBag.LiveStockHaveImportExportData != null)
                    {
                        <li>
                            <a class="govuk-link" asp-controller="Report" asp-action="UpdateLivestockImportExport" asp-route-q="@Model.EncryptedFarmId">@Resource.lblFarmSummaryContent10</a>
                        </li>
                    }
                    @if (ViewBag.StoreCapacityList != null)
                    {
                        <li>
                            <a class="govuk-link" asp-controller="StorageCapacity" asp-action="StorageCapacityManagement" asp-route-q="@Model.EncryptedFarmId">@Resource.lblFarmSummaryContent12</a>
                        </li>
                    }
                    @*  <li>
                <a class="govuk-link" href="#">@Resource.lblFarmSummaryContent11</a>
                </li> *@

                </ul>
            </div>

        </div>
    </div>
}

