@using NMP.Portal.Resources
@using NMP.Portal.ViewModels
@model FarmViewModel
@{
    ViewData["Title"] = $"{Model.Name} {Resource.lblHyphen} {Resource.lblDetails}";

    var fieldsAbove300m = "";
    var fieldsInNVZ = "";
    switch (Model.NVZFields)
    {
        case (int)NMP.Portal.Enums.NVZFields.NoFieldsInNVZ:
            fieldsInNVZ = Resource.lblNoneOfTheFields;
            break;
        case (int)NMP.Portal.Enums.NVZFields.SomeFieldsInNVZ:
            fieldsInNVZ = Resource.lblSomeOfTheFields;
            break;
        case (int)NMP.Portal.Enums.NVZFields.AllFieldsInNVZ:
            fieldsInNVZ = Resource.lblAllOfTheFields;
            break;
    }
    switch (Model.FieldsAbove300SeaLevel)
    {
        case (int)NMP.Portal.Enums.FieldsAbove300SeaLevel.NoneAbove300m:
            fieldsAbove300m = Resource.lblNoneOfTheFields;
            break;
        case (int)NMP.Portal.Enums.FieldsAbove300SeaLevel.SomeFieldsAbove300m:
            fieldsAbove300m = Resource.lblSomeOfTheFields;
            break;
        case (int)NMP.Portal.Enums.FieldsAbove300SeaLevel.AllFieldsAbove300m:
            fieldsAbove300m = Resource.lblAllOfTheFields;
            break;
    }
}

@if (TempData["Error"] != null)
{
    <govuk-error-summary>
        <govuk-error-summary-item href="#">@TempData["Error"]</govuk-error-summary-item>
    </govuk-error-summary>
}
@if (Model != null)
{
    @section BeforeContent {
    <govuk-back-link asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">@Resource.lblBack</govuk-back-link>
    }
    <h1 class="govuk-heading-l">@Model.Name</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

            <h2 class="govuk-heading-m plan_title">@Resource.lblFarmInformation</h2>

            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblAddress</td>
                        <td class="govuk-table__cell">@Model.FullAddress</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblCountry</td>
                        <td class="govuk-table__cell">@Model.Country</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblPostCode</td>
                        <td class="govuk-table__cell">@Model.Postcode</td>
                    </tr>
                    @if (Model.Postcode != Model.ClimateDataPostCode)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@Resource.lblClimatePostcode</td>
                            <td class="govuk-table__cell">@Model.ClimateDataPostCode</td>
                        </tr>
                    } 
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblAverageAnnualRainfall</td>
                        <td class="govuk-table__cell">@string.Format("{0:N0}",Model.Rainfall)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@string.Format(Resource.lblHowManyFieldsAtFarmAreInNVZ, Model.Name)</td>
                        <td class="govuk-table__cell">@fieldsInNVZ</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@string.Format(Resource.lblHowManyFieldsAtFarmAreAbove300Meters, Model.Name)</td>
                        <td class="govuk-table__cell">@fieldsAbove300m</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Resource.lblRegisteredOrganicProducer</td>
                        <td class="govuk-table__cell">@(Model.RegisteredOrganicProducer == true ? Resource.lblYes : Resource.lblNo)</td>
                    </tr>
                </tbody>
            </table>
            <p class="govuk-body"><a asp-action="CheckAnswer" asp-controller="Farm" asp-route-id="@Model.EncryptedFarmId" asp-route-q=@Model.EncryptedIsUpdate>@Resource.lblUpdateFarmInformation</a></p>
            <p class="govuk-body margin-bottom-forty"><a asp-action="FarmRemove" asp-controller="Farm" asp-route-id=@Model.EncryptedFarmId>@string.Format(Resource.lblRemoveFarm, Model.Name)</a></p>
        </div>
    </div>
}

