@using NMP.Portal.Resources;
@using NMP.Portal.ViewModels;
@model FarmViewModel
@{
    ViewData["Title"] = Resource.lblManualAddress;
}

<form  method="post" asp-controller="Farm">
    <button class="govuk-back-link back-link" type="submit" asp-action="Address" asp-controller="Farm">@Resource.lblBack</button>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                @(string.Format(Resource.lblEnterTheAddressFor, Model.Name))
            </h1>

            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Name"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Rainfall"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RegistredOrganicProducer"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZField"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldsAbove300SeaLevel"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FullAddress"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManualAddress" value="@Model.IsManualAddress.ToString().ToLower()"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OldPostcode"></govuk-input>
            <div class="govuk-form-group">
                <govuk-input asp-for="@Model.Address1"></govuk-input>
            </div>

            <div class="govuk-form-group">
                <govuk-input asp-for="@Model.Address2"></govuk-input>
            </div>

            <div class="govuk-form-group">
                <govuk-input class="govuk-input--width-20" asp-for="@Model.Address3"></govuk-input>
            </div>

            <div class="govuk-form-group">
                <govuk-input class="govuk-input--width-20" asp-for="@Model.Address4"></govuk-input>
            </div>

            <div class="govuk-form-group">
                <govuk-input class="govuk-input--width-10" asp-for="@Model.PostCode"></govuk-input>
            </div>

            <div class="govuk-form-group">
                <govuk-button type="submit" asp-action="Rainfall">@Resource.lblContinue</govuk-button>
            </div>
        </div>
    </div>
</form>