@using NMP.Portal.Resources;
@using NMP.Portal.ViewModels;
@model FarmViewModel

<a asp-action="Address" asp-controller="Farm" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            @(string.Format(Resource.lblEnterTheAddressFor, Model.Name))
        </h1>
        
        <form asp-action="ManualAddress" method="post" novalidate="" asp-controller="Farm">

            <div class="govuk-form-group">
                <govuk-input asp-for="@Model.Address1"></govuk-input>
            </div>

            <div class="govuk-form-group">
                <govuk-input asp-for="@Model.Address2"></govuk-input>
            </div>

            <div class="govuk-form-group">
                <govuk-input class="govuk-input--width-20" asp-for="@Model.Address3"></govuk-input>
            </div>

            <div class="govuk-form-group">
                <govuk-input class="govuk-input--width-20" asp-for="@Model.Address4"></govuk-input>
            </div>

            <div class="govuk-form-group">
                <govuk-input class="govuk-input--width-10" asp-for="@Model.PostCode"></govuk-input>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <br>
                    <button class="govuk-button" data-module="govuk-button">@Resource.lblContinue</button>
                </fieldset>
            </div>
            
        </form>
    </div>
</div>