@using NMP.Commons.Enums
@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.FarmViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedIsUpdate)) ? string.Format(Resource.lblUpdateFarm, Resource.lblFarm.ToLower()) : Resource.lblAddAFarm;
    ViewData["Title"] = $"{string.Format(Resource.lblHowManyFieldsInNVZ, Model.Name)} {Resource.lblHyphen} {title}";
    var AllFieldsInNVZ = (int)NMP.Commons.Enums.NvzFields.AllFieldsInNVZ;
    var SomeFieldsInNVZ = (int)NMP.Commons.Enums.NvzFields.SomeFieldsInNVZ;
    var NoFieldsInNVZ = (int)NMP.Commons.Enums.NvzFields.NoFieldsInNVZ;
    ViewBag.CurrentStep = (int)FarmWizardSteps.NitrateVulnerableZones;
}
@section BeforeContent {
    <govuk-back-link asp-action="@(Model.IsCheckAnswer ? "CheckAnswer" : "NVZ")" asp-controller="Farm">@Resource.lblBack</govuk-back-link>
}

<form asp-action="NitrateVulnerableZones" asp-controller="Farm" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @await Html.PartialAsync("~/Views/Farm/_FarmWizardHiddenFields.cshtml", Model)
            <govuk-checkboxes name="NitrateVulnerableZoneList" asp-for="@Model.NitrateVulnerableZoneList" data-module="govuk-checkboxes">
                <govuk-checkboxes-fieldset>

                    <govuk-checkboxes-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblWhichNVZAreTheFieldsAtYourFarmIn, Model.Name)
                    </govuk-checkboxes-fieldset-legend>

                    <govuk-checkboxes-hint>
                        @Html.Raw(Resource.lblViewAMapOfNitrateVulnerableZones)
                        <br />
                        <br />
                        @Resource.lblSelectAllThatApply
                    </govuk-checkboxes-hint>
                    @if (ViewBag.NitrateVulnerableZones != null)
                    {
                        @foreach (var item in ViewBag.NitrateVulnerableZones)
                        {
                            <govuk-checkboxes-item value="@item.Value">
                                @item.Text
                            </govuk-checkboxes-item>
                        }
                    }

                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>
            <govuk-button type="submit" class="margin-bottom-forty" asp-action="NitrateVulnerableZones">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a class="govuk-link" asp-action="CreateFarmCancel" asp-controller="Farm">@Resource.lblCancel</a>
                }
                else
                {
                    <a class="govuk-link" asp-action="CheckAnswer" asp-controller="Farm">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>