@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.FarmViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedIsUpdate)) ? string.Format(Resource.lblUpdateFarm, Resource.lblFarm.ToLower()) : Resource.lblAddAFarm;
    ViewData["Title"] = $"{Resource.lblRegisteredOrganicProducer} {Resource.lblHyphen} {title}";
    var organicProducer = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var noOrganicProducer = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
    ViewBag.CurrentStep = 11;
}

@section BeforeContent {
    <govuk-back-link asp-action="@(Model.IsCheckAnswer ? "CheckAnswer" : "Elevation")" asp-controller="Farm">@Resource.lblBack</govuk-back-link>
}
<form asp-action="Organic" asp-controller="Farm" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @await Html.PartialAsync("~/Views/Farm/_FarmWizardHiddenFields.cshtml", Model)           
            <govuk-radios class="govuk-radios--inline" asp-for="@Model.RegisteredOrganicProducer">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Resource.lblRegisteredOrganicProducer
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@organicProducer">@Resource.lblYes</govuk-radios-item>
                    <govuk-radios-item value="@noOrganicProducer">@Resource.lblNo</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                 @if (!Model.IsCheckAnswer)
                {
                    <a class="govuk-link" asp-action="CreateFarmCancel" asp-controller="Farm">@Resource.lblCancel</a>
                }
                else
                {
                    <a class="govuk-link" asp-action="CheckAnswer" asp-controller="Farm">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>