@using NMP.Portal.Resources
@using NMP.Portal.ViewModels
@model FarmViewModel

@{
    // ViewData["Title"] = Resource.lblAddAFarm;
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" asp-controller="Farm">
            <button class="govuk-back-link back-link" type="submit" asp-action="Name" asp-controller="Farm">@Resource.lblBack</button>            
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FullAddress"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address1"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address2"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address3"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address4"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Rainfall"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZField"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldsAbove300SeaLevel"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RegistredOrganicProducer"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Name"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PostCode"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManualAddress"></govuk-input>
            <h1 class="govuk-heading-l">@string.Format(Resource.lblWeCouldNotFindAnyAddressesFor, Model.PostCode)</h1>
            <button class="govuk-link change-link" type="submit" asp-action="Name" asp-controller="Farm">@Resource.lblChangeThisPostcode</button></p>
            <div class="govuk-body">@Resource.lblOr <button class="govuk-link change-link" type="submit" asp-action="ManualAddress" asp-controller="Farm">@Resource.lblEnterTheAddressManually</button></p>
            </div>
        </form>
        <br />
        <p class="govuk-body cancel-link"><a asp-action="CreateFarmCancel" asp-controller="Farm">@Resource.lblCancel</a></p>
    </div>
</div>