@using NMP.Commons.Resources;
@model NMP.Commons.ViewModels.FarmViewModel

@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedIsUpdate)) ? string.Format(Resource.lblUpdateFarm, Resource.lblFarm.ToLower()) : Resource.lblAddAFarm;
    ViewData["Title"] = $"{string.Format(Resource.lblEnterAverageAnualRainfall, Model.Postcode)} {Resource.lblHyphen} {title}";
    ViewBag.CurrentStep = 8;
}
@section BeforeContent {
    <govuk-back-link asp-action="@(Model.IsCheckAnswer ? "CheckAnswer" : "Rainfall")" asp-controller="Farm">@Resource.lblBack</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="RainfallManual" asp-controller="Farm" method="post" autocomplete="off">
            @Html.AntiForgeryToken()           
            @await Html.PartialAsync("~/Views/Farm/_FarmWizardHiddenFields.cshtml", Model)
            <govuk-input asp-for=@Model.Rainfall input-class="govuk-input--width-5" inputmode="numeric" spellcheck="false">
                <govuk-input-label is-page-heading="true" class="govuk-label--l">
                    @string.Format(Resource.lblEnterAverageAnualRainfall, Model.Postcode)
                    <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblmm)</span>
                </govuk-input-label>
                <govuk-input-hint>@Resource.lblRainfallValueHint</govuk-input-hint>
                <govuk-input-suffix>@Resource.lblmm</govuk-input-suffix>
            </govuk-input>
           
            <govuk-button type="submit">@Resource.lblContinue</govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a class="govuk-link" asp-action="CreateFarmCancel" asp-controller="Farm">@Resource.lblCancel</a>
                }
                else
                {
                    <a class="govuk-link" asp-action="CheckAnswer" asp-controller="Farm">@Resource.lblCancel</a>
                }
            </p>
        </form>
    </div>
</div>
