@using NMP.Portal.Resources;
@model NMP.Portal.ViewModels.FarmViewModel

@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedIsUpdate)) ? string.Format(Resource.lblUpdateFarm, Resource.lblFarm.ToLower()) : Resource.lblAddAFarm;
    ViewData["Title"] = $"{string.Format(Resource.lblEnterAverageAnualRainfall, Model.Postcode)} {Resource.lblHyphen} {title}";
}
@section BeforeContent {
    <govuk-back-link asp-action="@(Model.IsCheckAnswer ? "CheckAnswer" : "Rainfall")" asp-controller="Farm">@Resource.lblBack</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="RainfallManual" asp-controller="Farm" method="post" autocomplete="off">
            @Html.AntiForgeryToken()
            @*     <h1 class="govuk-heading-l">
                @string.Format(Resource.lblEnterAverageAnualRainfall, Model.Postcode)
            </h1> *@

            <div hidden="true">
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Name"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address1"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address2"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address3"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address4"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Postcode"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FullAddress"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RegisteredOrganicProducer"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZFields"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldsAbove300SeaLevel"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FullAddress"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManualAddress" value="@Model.IsManualAddress.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsPostCodeChanged" value="@Model.IsPostCodeChanged.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedIsUpdate"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LastHarvestYear"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CountryID"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClimateDataPostCode"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Country"/>
            </div>
            @* <div class="govuk-form-group"> *@
            <govuk-input asp-for=@Model.Rainfall input-class="govuk-input--width-5" inputmode="numeric" spellcheck="false">
                <govuk-input-label is-page-heading="true" class="govuk-label--l">
                    @string.Format(Resource.lblEnterAverageAnualRainfall, Model.Postcode)
                    <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblmm)</span>
                </govuk-input-label>
                <govuk-input-hint>@Resource.lblRainfallValueHint</govuk-input-hint>
                <govuk-input-suffix>@Resource.lblmm</govuk-input-suffix>
            </govuk-input>
            @* </div> *@
            <govuk-button type="submit">@Resource.lblContinue</govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a class="govuk-link" asp-action="CreateFarmCancel" asp-controller="Farm">@Resource.lblCancel</a>
                }
                else
                {
                    <a class="govuk-link" asp-action="CheckAnswer" asp-controller="Farm">@Resource.lblCancel</a>
                }
            </p>
        </form>
    </div>
</div>
