@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.PlanViewModel
@{
    ViewData["Title"] = $"{Resource.lblAddingOrRemovingFieldsFromACropGroup} {Resource.lblHyphen} {Resource.lblUpdatePlan}";

    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.CropWizardSteps.AddOrRemoveField;
}

@section BeforeContent {
    <govuk-back-link asp-action="CropFields" asp-controller="Crop">@Resource.lblBack</govuk-back-link>
}
<form asp-action="AddOrRemoveField" asp-controller="Crop" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @if (TempData["AddOrRemoveFieldsError"] != null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["AddOrRemoveFieldsError"]</govuk-error-summary-item>
                </govuk-error-summary>
            </div>
        </div>
    }
 
    @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-radios for="@Model.IsFieldToBeRemoved">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l margin-bottom-thirty">
                        @Resource.lblAddingOrRemovingFieldsFromACropGroup
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-hint>
                        @if (ViewBag.NewlyAddedFields != null)
                        {
                            <p class="govuk-heading-m">
                                @*  <br /> *@
                                @Resource.lblFieldsToBeAdded
                            </p>
                            <p class="govuk-body">
                                @*  <br /> *@
                                @Resource.lblTheseFieldWillBeAddedToThisCropGroup
                                @*  <br /> *@

                                <ul class="govuk-list govuk-list--bullet margin-bottom-twenty">
                                    @foreach (var field in ViewBag.NewlyAddedFields)
                                    {
                                        <li>@field.Name</li>
                                    }
                                </ul>
                            </p>

                        }
                        @if (ViewBag.RemovableFields != null)
                        {
                            <p class="govuk-heading-m">
                                @* <br /> *@
                                @Resource.lblFieldsToBeRemoved
                            </p>
                            <p class="govuk-body">
                                @* <br /> *@
                                @Resource.lblTheseFieldWillBeRemovedFromThisCropGroup
                                @* <br /> *@

                                <ul class="govuk-list govuk-list--bullet">
                                    @foreach (var field in ViewBag.RemovableFields)
                                    {
                                        <li>@field.FieldName</li>
                                    }
                                </ul>
                            </p>
                            <p class="govuk-body">
                                @string.Format(Resource.lblAnyExistingCropsAndOragnicOrInorganicContent, Model.Year)
                            </p>

                        }
                        <p class="govuk-body">
                            @Resource.lblAreYouSureYouWantToContinue
                        </p>
                    </govuk-radios-hint>
                    <govuk-radios-item value=@yes>@Resource.lblYes</govuk-radios-item>
                    <govuk-radios-item value=@no>@Resource.lblNo</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>