@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.PlanViewModel
@{
    ViewData["Title"] = Resource.lblCheckYourAnswers;
    int PotatoGroupId = (int)NMP.Portal.Enums.CropGroup.Potatoes;
    int OtherGroupId = (int)NMP.Portal.Enums.CropGroup.Other;
    int CerealsGroupId = (int)NMP.Portal.Enums.CropGroup.Cereals;
    var yieldQuestion = "";
    var sowingDateQuestion = "";
    var backActionForYield = Model.Crops.Count > 1 ? "Yield" : Model.SowingDateQuestion != (int)NMP.Portal.Enums.SowingDateQuestion.NoIWillEnterTheDateLater ? "SowingDate" :
    "SowingDateQuestion";
    var backActionForYieldQuestion = (Model.SowingDateQuestion == (int)NMP.Portal.Enums.SowingDateQuestion.NoIWillEnterTheDateLater) ? "SowingDateQuestion" :
     "SowingDate";
    switch (Model.SowingDateQuestion)
    {
        case (int)NMP.Portal.Enums.SowingDateQuestion.NoIWillEnterTheDateLater:
            sowingDateQuestion = Resource.lblNoIWillEnterTheDateLater;
            break;
        case (int)NMP.Portal.Enums.SowingDateQuestion.YesIHaveASingleDateForAllTheseFields:
            sowingDateQuestion = Resource.lblYesIHaveASingleDateForAllTheseFields;
            break;
        case (int)NMP.Portal.Enums.SowingDateQuestion.YesIHaveDifferentDatesForEachOfTheseFields:
            sowingDateQuestion = Resource.lblYesIHaveDifferentDatesForEachOfTheseFields;
            break;
    }
    switch (Model.YieldQuestion)
    {
        case (int)NMP.Portal.Enums.YieldQuestion.UseTheStandardFigureForAllTheseFields:
            yieldQuestion = string.Format(Resource.lblUseTheStandardFigure, ViewBag.DefaultYield);
            break;
        case (int)NMP.Portal.Enums.YieldQuestion.EnterASingleFigureForAllTheseFields:
            yieldQuestion = Resource.lblEnterASingleFigureForAllTheseFields;
            break;
        case (int)NMP.Portal.Enums.YieldQuestion.EnterDifferentFiguresForEachField:
            yieldQuestion = Resource.lblEnterDifferentFiguresForEachField;
            break;

    }
}

@section BeforeContent {
    <govuk-back-link asp-action="BackCheckAnswer" asp-controller="Crop" asp-route-q="@Model.YieldEncryptedCounter">@Resource.lblBack</govuk-back-link>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="CheckAnswer" asp-controller="Crop" method="post">
            @Html.AntiForgeryToken()

            @if (TempData["ErrorCreatePlan"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["ErrorCreatePlan"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeID"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroupId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroup"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropType"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsEnglishRules"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Variety"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OtherCropName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SowingDateQuestion"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.YieldQuestion"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo1"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo2"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldID"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo1Name"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo2Name"></govuk-input>
            @if (Model.FieldList != null && Model.FieldList.Count > 0)
            {
                @for (int i = 0; i < Model.FieldList.Count; i++)
                {
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]"></govuk-input>
                }
            }
            @if (Model.Crops != null && Model.Crops.Count > 0)
            {
                @for (int i = 0; i < Model.Crops.Count; i++)
                {
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].FieldID" value="@Model.Crops[i].FieldID"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Year" value="@Model.Crops[i].Year"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropTypeID" value="@Model.Crops[i].CropTypeID"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].OtherCropName" value="@Model.Crops[i].OtherCropName"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Variety" value="@Model.Crops[i].Variety"></govuk-input>
                    <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].SowingDate" value="@Model.Crops[i].SowingDate"></govuk-date-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Yield" value="@Model.Crops[i].Yield"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropInfo1" value="@Model.Crops[i].CropInfo1"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropInfo2" value="@Model.Crops[i].CropInfo2"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].FieldName" value="@Model.Crops[i].FieldName"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].EncryptedCounter" value="@Model.Crops[i].EncryptedCounter"></govuk-input>
                }

            }

            <h1 class="govuk-heading-l">
                @Resource.lblCheckYourAnswers
            </h1>

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        @Resource.lblWhichHarvestWouldYouLikeToPlanFor
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @Model.Year
                    </govuk-summary-list-row-value>
                    @if (Model.IsPlanRecord.HasValue && (!Model.IsPlanRecord.Value))
                    {
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action class="@(Model.IsAddAnotherCrop? "disabled": "")" asp-action="HarvestYearForPlan" asp-controller="Crop">@Resource.lblChange</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    }
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        @Resource.lblMainCropGroup
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @Model.CropGroup
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="CropGroups" asp-controller="Crop">@Resource.lblChange</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row class=@((!Model.CropTypeID.HasValue)?"govuk-error-message":"")>
                    <govuk-summary-list-row-key>
                        @Resource.lblMainCropType
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @(Model.CropTypeID.HasValue ? (Model.CropGroupId == (int)NMP.Portal.Enums.CropGroup.Other ? Model.OtherCropName :
                            Model.CropType) : Resource.lblNotSet)
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="CropTypes" asp-controller="Crop">@Resource.lblChange</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                @if (Model.SowingDateQuestion != (int)NMP.Portal.Enums.CropGroup.Potatoes)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @Resource.lblVarietyNameForCheckAnswer
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @(Model.Variety == null ? Resource.lblNotEntered : Model.Variety)
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="VarietyName" asp-controller="Crop">@Resource.lblChange</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }
                else
                {
                    <govuk-summary-list-row class=@((string.IsNullOrWhiteSpace(Model.Variety))?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @Resource.lblVarietyNameForCheckAnswer
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @(string.IsNullOrWhiteSpace(Model.Variety) ? Resource.lblNotSet : Model.Variety)
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="VarietyName" asp-controller="Crop">@Resource.lblChange</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        @string.Format(Resource.lblWhichFieldsDoYouPlanToGrow, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropGroupId == (int)NMP.Portal.Enums.CropGroup.Potatoes ? Model.Variety : Model.CropType)
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @foreach (var crop in Model.Crops)
                        {
                            @crop.FieldName <br />
                        }
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action class="@(Model.FieldList.Count==1? "disabled": "")" asp-action="CropFields" asp-controller="Crop">@Resource.lblChange</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row class=@((!Model.SowingDateQuestion.HasValue)?"govuk-error-message":"")>
                    <govuk-summary-list-row-key>
                        @string.Format(Resource.lblSowingDateQuestionForCheckAnswer, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropGroupId == (int)NMP.Portal.Enums.CropGroup.Potatoes ? Model.Variety : Model.CropType)
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @(Model.SowingDateQuestion.HasValue ? Model.Crops.Count == 1 && Model.SowingDateQuestion == (int)NMP.Portal.Enums.SowingDateQuestion.YesIHaveASingleDateForAllTheseFields ? Resource.lblYes : sowingDateQuestion :
                            Resource.lblNotSet)
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="SowingDateQuestion" asp-controller="Crop">@Resource.lblChange</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>

                @if (Model.SowingDateQuestion == (int)NMP.Portal.Enums.SowingDateQuestion.YesIHaveASingleDateForAllTheseFields)
                {
                    bool renderSowingDate = false;
                    @foreach (var crop in Model.Crops)
                    {
                        @if (!renderSowingDate)
                        {
                            <govuk-summary-list-row class=@((!crop.SowingDate.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblSowingSingleDateForCheckAnswer, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropGroupId == (int)NMP.Portal.Enums.CropGroup.Potatoes ? Model.Variety : Model.CropType)
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(crop.SowingDate.HasValue ? crop.SowingDate.Value.Date.ToString("dd MMMM yyyy") : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SowingDate" asp-controller="Crop" asp-route-q="@Model.SowingDateEncryptedCounter">@Resource.lblChange</govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            renderSowingDate = true;
                        }
                    }
                }
                else if (Model.SowingDateQuestion == (int)NMP.Portal.Enums.SowingDateQuestion.YesIHaveDifferentDatesForEachOfTheseFields)
                {
                    @foreach (var crop in Model.Crops)
                    {
                        <govuk-summary-list-row class=@((!crop.SowingDate.HasValue)?"govuk-error-message":"")>
                            <govuk-summary-list-row-key>
                                @string.Format(Resource.lblSowingDiffrentDateForCheckAnswer, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropGroupId == (int)NMP.Portal.Enums.CropGroup.Potatoes ? Model.Variety : Model.CropType, crop.FieldName)
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @(crop.SowingDate.HasValue ? crop.SowingDate.Value.Date.ToString("dd MMMM yyyy") : Resource.lblNotSet)
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="SowingDate" asp-controller="Crop" asp-route-q="@crop.EncryptedCounter">@Resource.lblChange</govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                }
                @if (Model.FieldList.Count > 1)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @string.Format(Resource.lblHowDoYouWantToEnterTheExpectedYieldForInTheseFields, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropGroupId == (int)NMP.Portal.Enums.CropGroup.Potatoes ? Model.Variety : Model.CropType)
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @yieldQuestion
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="YieldQuestion" asp-controller="Crop">@Resource.lblChange</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.YieldQuestion == (int)NMP.Portal.Enums.YieldQuestion.EnterASingleFigureForAllTheseFields)
                {
                    bool renderSowingDate = false;
                    @foreach (var crop in Model.Crops)
                    {
                        @if (!renderSowingDate)
                        {

                            <govuk-summary-list-row class=@((!crop.Yield.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblWhatIsTheExpectedYieldForSingle, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropGroupId == (int)NMP.Portal.Enums.CropGroup.Potatoes ? Model.Variety : Model.CropType)
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(crop.Yield.HasValue ? crop.Yield : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="Yield" asp-controller="Crop" asp-route-q=@Model.YieldEncryptedCounter>@Resource.lblChange</govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            renderSowingDate = true;
                        }
                    }
                }
                else if (Model.YieldQuestion == (int)NMP.Portal.Enums.YieldQuestion.EnterDifferentFiguresForEachField)
                {
                    @foreach (var crop in Model.Crops)
                    {
                        <govuk-summary-list-row class=@((!crop.Yield.HasValue)?"govuk-error-message":"")>
                            <govuk-summary-list-row-key>
                                @string.Format(Resource.lblWhatIsTheDifferentExpectedYield, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropGroupId == (int)NMP.Portal.Enums.CropGroup.Potatoes ? Model.Variety : Model.CropType, crop.FieldName)
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @(crop.Yield.HasValue ? crop.Yield : Resource.lblNotSet)
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="Yield" asp-controller="Crop" asp-route-q=@crop.EncryptedCounter>@Resource.lblChange</govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                }
                else if (Model.YieldQuestion == (int)NMP.Portal.Enums.YieldQuestion.UseTheStandardFigureForAllTheseFields)
                {
                    bool renderSowingDate = false;
                    @foreach (var crop in Model.Crops)
                    {
                        @if (!renderSowingDate)
                        {
                            <govuk-summary-list-row class=@((!crop.Yield.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblWhatIsTheExpectedYieldForSingle, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropGroupId == (int)NMP.Portal.Enums.CropGroup.Potatoes ? Model.Variety : Model.CropType)
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(crop.Yield.HasValue ? crop.Yield.Value == 0.0m ? 0 : crop.Yield.Value.ToString("#.#") : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    @* <govuk-summary-list-row-action asp-action="Yield" asp-controller="Crop" asp-route-q=@Model.YieldEncryptedCounter>@Resource.lblChange</govuk-summary-list-row-action> *@
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            renderSowingDate = true;
                        }
                    }
                }

                @if (Model.CropGroupId != (int)NMP.Portal.Enums.CropGroup.Other)
                {
                    <govuk-summary-list-row class=@((!Model.CropInfo1.HasValue)?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @string.Format(Resource.lblCropInfo1ForCheckAnswer, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropGroupId == (int)NMP.Portal.Enums.CropGroup.Potatoes ? Model.Variety : Model.CropType)
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @(Model.CropInfo1.HasValue ? Model.CropInfo1Name : Resource.lblNotSet)
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="CropInfoOne" asp-controller="Crop">@Resource.lblChange</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }
                @if (Model.CropGroupId == (int)NMP.Portal.Enums.CropGroup.Cereals)
                {
                    <govuk-summary-list-row class=@((!Model.CropInfo2.HasValue)?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @string.Format(Resource.lblCropInfo2ForCheckAnswer, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropType)
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @(Model.CropInfo2.HasValue ? Model.CropInfo2Name : Resource.lblNotSet)
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="CropInfoTwo" asp-controller="Crop">@Resource.lblChange</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }
            </govuk-summary-list>

            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblCreatePlan
            </govuk-button>
            <p class="govuk-body cancel-link"><a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a></p>
        </form>
    </div>
</div>
