﻿@using NMP.Commons.Resources
@using System.Globalization
@model NMP.Commons.ViewModels.PlanViewModel
@{

    var heading= "";
    if (string.IsNullOrWhiteSpace(Model.EncryptedIsCropUpdate))
    {
        heading = Resource.lblCheckYourAnswers;
    }
    else
    {
        heading = string.Format(Resource.lblUpdateCropGroupNameForHarvestYear, Model.CropGroupName, Model.Year);
    }

    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {title}";

    int PotatoGroupId = (int)NMP.Commons.Enums.CropGroup.Potatoes;
    int OtherGroupId = (int)NMP.Commons.Enums.CropGroup.Other;
    int CerealsGroupId = (int)NMP.Commons.Enums.CropGroup.Cereals;
    var yieldQuestion = "";
    var sowingDateQuestion = "";
    string backActionForYield;

    if (Model.Crops.Count > 1)
    {
        backActionForYield = "Yield";
    }
    else if (Model.SowingDateQuestion != (int)NMP.Commons.Enums.SowingDateQuestion.NoIWillEnterTheDateLater)
    {
        backActionForYield = "SowingDate";
    }
    else
    {
        backActionForYield = "SowingDateQuestion";
    }
    var backActionForYieldQuestion = (Model.SowingDateQuestion == (int)NMP.Commons.Enums.SowingDateQuestion.NoIWillEnterTheDateLater) ? "SowingDateQuestion" :
     "SowingDate";
    switch (Model.SowingDateQuestion)
    {
        case (int)NMP.Commons.Enums.SowingDateQuestion.NoIWillEnterTheDateLater:
            sowingDateQuestion = Resource.lblNoIWillEnterTheDateLater;
            break;
        case (int)NMP.Commons.Enums.SowingDateQuestion.YesIHaveASingleDateForAllTheseFields:
            sowingDateQuestion = Resource.lblYesIHaveASingleDateForAllTheseFields;
            break;
        case (int)NMP.Commons.Enums.SowingDateQuestion.YesIHaveDifferentDatesForEachOfTheseFields:
            sowingDateQuestion = Resource.lblYesIHaveDifferentDatesForEachOfTheseFields;
            break;
    }
    switch (Model.YieldQuestion)
    {
        case (int)NMP.Commons.Enums.YieldQuestion.UseTheStandardFigureForAllTheseFields:
            yieldQuestion = Model.Crops.Count > 1 ? string.Format(Resource.lblUseTheStandardFigure, ViewBag.DefaultYield??0) : string.Format(Resource.lblUseTheStandardFigureForThisField, ViewBag.DefaultYield??0);
            break;
        case (int)NMP.Commons.Enums.YieldQuestion.EnterASingleFigureForAllTheseFields:
            if (Model.Crops.Count == 1 && (ViewBag.DefaultYield == null||(ViewBag.DefaultYield!= null&&ViewBag.DefaultYield>0)))
            {
                yieldQuestion = Resource.lblEnterAFigure;
                if(ViewBag.DefaultYield==null)
                {
                    yieldQuestion = Resource.lblYes;    
                }
            }
            else
            {
                yieldQuestion = Resource.lblEnterASingleFigureForAllTheseFields;
            }

            break;
        case (int)NMP.Commons.Enums.YieldQuestion.EnterDifferentFiguresForEachField:
            yieldQuestion = Resource.lblEnterDifferentFiguresForEachField;
            break;
        case (int)NMP.Commons.Enums.YieldQuestion.NoDoNotEnterAYield:
            yieldQuestion =(Model.Crops.Count>1? Resource.lblNoDoNotEnterAYield:Resource.lblNo);
            break;

    }

    bool firstCropOnly = Model.Crops.All(crop => crop.CropOrder == 1);
    bool secondCropOnly = Model.Crops.All(crop => crop.CropOrder == 2);
    bool firstAndSecondCrop = Model.Crops.Any(crop => crop.CropOrder == 1) && Model.Crops.Any(crop => crop.CropOrder == 2);

    var currentSward = (Model.CurrentSward == (int)NMP.Commons.Enums.CurrentSward.NewSward ? Resource.lblNewSwards : Resource.lblExistingSwards);

    var potentialCutName = "";
    if (Model.PotentialCut == (int)NMP.Commons.Enums.PotentialCut.One)
    {
        potentialCutName = Resource.lblOne;
    }
    else if (Model.PotentialCut == (int)NMP.Commons.Enums.PotentialCut.Two)
    {
        potentialCutName = Resource.lblTwo;
    }
    else if (Model.PotentialCut == (int)NMP.Commons.Enums.PotentialCut.Three)
    {
        potentialCutName = Resource.lblThree;
    }
    else if (Model.PotentialCut == (int)NMP.Commons.Enums.PotentialCut.Four)
    {
        potentialCutName = Resource.lblFour;
    }
    else if (Model.PotentialCut == (int)NMP.Commons.Enums.PotentialCut.Five)
    {
        potentialCutName = Resource.lblFive;
    }
    else if (Model.PotentialCut == (int)NMP.Commons.Enums.PotentialCut.Six)
    {
        potentialCutName = Resource.lblSix;
    }
    else if (Model.PotentialCut == (int)NMP.Commons.Enums.PotentialCut.Seven)
    {
        potentialCutName = Resource.lblSeven;
    }
    else if (Model.PotentialCut == (int)NMP.Commons.Enums.PotentialCut.Eight)
    {
        potentialCutName = Resource.lblEight;
    }
    else if (Model.PotentialCut == (int)NMP.Commons.Enums.PotentialCut.Nine)
    {
        potentialCutName = Resource.lblNine;
    }



    //check answer heading

    var potentialCutText = "";
    if (Model.SwardManagementId == (int)NMP.Commons.Enums.SwardManagement.GrazedOnly)
    {
        potentialCutText = string.Format(Resource.lblHowManyGrazingsWillYouHaveInTheseFields,
            (Model.FieldList.Count == 1 ? Model.Crops[0].FieldName : Resource.lblTheseFields));
    }
    if (Model.SwardManagementId == (int)NMP.Commons.Enums.SwardManagement.CutForSilageOnly)
    {
        potentialCutText = string.Format(Resource.lblHowManyCutsWillYouHaveInTheseFields,
            (Model.FieldList.Count == 1 ? Model.Crops[0].FieldName : Resource.lblTheseFields));
    }
    if (Model.SwardManagementId == (int)NMP.Commons.Enums.SwardManagement.CutForHayOnly)
    {
        potentialCutText = string.Format(Resource.lblHowManyCutsWillYouHaveInTheseFields,
            (Model.FieldList.Count == 1 ? Model.Crops[0].FieldName : Resource.lblTheseFields));
    }
    else 
    {
        potentialCutText = string.Format(Resource.lblHowManyCutsAndGrazingsWillYouHaveInTheseFields,
            (Model.FieldList.Count == 1 ? Model.Crops[0].FieldName : Resource.lblTheseFields));
    }

    var defoliationSequenceText = "";
    if (Model.SwardManagementId == (int)NMP.Commons.Enums.SwardManagement.GrazedOnly)
    {
        defoliationSequenceText = Resource.lblWhatIsTheGrazingOrderInTheseFields;
    }
    if (Model.SwardManagementId == (int)NMP.Commons.Enums.SwardManagement.CutForSilageOnly)
    {
        defoliationSequenceText = string.Format(Resource.lblWhatIsTheCutOrderInTheseFields, (Model.FieldList.Count == 1 ? Model.Crops[0].FieldName : Resource.lblTheseFields));
    }
    if (Model.SwardManagementId == (int)NMP.Commons.Enums.SwardManagement.CutForHayOnly)
    {
        defoliationSequenceText = string.Format(Resource.lblWhatIsTheCutOrderInTheseFields, (Model.FieldList.Count == 1 ? Model.Crops[0].FieldName : Resource.lblTheseFields));
    }
    if (Model.SwardManagementId == (int)NMP.Commons.Enums.SwardManagement.GrazingAndSilage)
    {
        defoliationSequenceText = string.Format(Resource.lblWhatIsTheCutAndGrazingOrderInTheseFields, (Model.FieldList.Count == 1 ? Model.Crops[0].FieldName : Resource.lblTheseFields));
    }
    if (Model.SwardManagementId == (int)NMP.Commons.Enums.SwardManagement.GrazingAndHay)
    {
        defoliationSequenceText = string.Format(Resource.lblWhatIsTheCutAndGrazingOrderInTheseFields, (Model.FieldList.Count == 1 ? Model.Crops[0].FieldName : Resource.lblTheseFields));
    }

    var isGrass = Model.CropGroupId == (int)NMP.Commons.Enums.CropGroup.Grass;
    var isOther = Model.CropGroupId == OtherGroupId;
    var isPotato = Model.CropGroupId == (int)NMP.Commons.Enums.CropGroup.Potatoes;
    var hasMultipleCrops = Model.Crops.Count > 1;
    var isSingleDateForAll =  Model.SowingDateQuestion == (int)NMP.Commons.Enums.SowingDateQuestion.YesIHaveASingleDateForAllTheseFields;

    string cropName =  isOther ? Model.OtherCropName : isPotato ? Model.Variety : Model.CropType;

    
    string yieldQuestionText;

    if (ViewBag.DefaultYield != null && ViewBag.DefaultYield > 0)
    {
        yieldQuestionText = string.Format(Model.Crops.Count > 1 ? Resource.lblHowDoYouWantToEnterTheExpectedYieldForInTheseFields : Resource.lblYieldQuestionForSingleField, cropName);
    }
    else
    {
        if (Model.Crops.Count > 1)
        {
            yieldQuestionText = string.Format(Resource.lblDoYouWantToEnterTheExpectedYieldInTheseFields, cropName);
        }
        else
        {
            yieldQuestionText = string.Format(Resource.lblDoYouWantToEnterTheExpectedYieldInFieldName, cropName, Model.FieldName);
        }
    }

}

@section BeforeContent {

    @*  @if (string.IsNullOrWhiteSpace(Model.EncryptedIsCropUpdate))
    { *@
    <govuk-back-link asp-action=@(ViewBag.IsDataChange==true? "Cancel" : "BackCheckAnswer") asp-controller="Crop" asp-route-q="@(Model.CropGroupId==(int)NMP.Commons.Enums.CropGroup.Grass ? Model.GrassGrowthClassEncryptedCounter: Model.YieldEncryptedCounter)">@Resource.lblBack</govuk-back-link>
    @* }
    else
    {
        <govuk-back-link asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
    } *@
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form class="form-with-overlay" asp-action=@(string.IsNullOrWhiteSpace(Model.EncryptedIsCropUpdate)?"CheckAnswer":"UpdateCrop") asp-controller="Crop" method="post" autocomplete="off">
            @Html.AntiForgeryToken()

            @if (TempData["ErrorCreatePlan"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["ErrorCreatePlan"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
            @if(ViewData["ModelStateErrors"]!=null)
            {
                     <govuk-error-summary>
                            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                {
                                 <govuk-error-summary-item href="#">@error.ErrorMessage</govuk-error-summary-item>                
                                }
                </govuk-error-summary>
            }


          
            @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)
            @if (string.IsNullOrWhiteSpace(Model.EncryptedIsCropUpdate))
            {
                <h1 class="govuk-heading-l">
                    @Resource.lblCheckYourAnswers
                </h1>
            }
            else
            {
                <h1 class="govuk-heading-l">
                        @string.Format(Resource.lblUpdateTheCropForField,(Model.IsComingFromRecommendation.HasValue && Model.IsComingFromRecommendation.Value)? Model.CropType:Model.CropGroupName, Model.FieldName)
                    
                </h1>

                <govuk-inset-text>
                    <p class="govuk-body">
                        @if (Model.IsComingFromRecommendation.HasValue && Model.IsComingFromRecommendation.Value)
                        {
                            @string.Format(Resource.lblUpdateCropGroupNameContentForSingleField, Model.FieldName) <a asp-action="CheckAnswer" asp-controller="Crop" asp-route-q="@ViewBag.EncryptedCropTypeId" asp-route-r="@ViewBag.EncryptedCropGroupName" asp-route-t="@Model.EncryptedHarvestYear" asp-route-u="@Model.EncryptedFarmId">@Resource.lblUpdateThisCropGroup</a>

                        }
                        else
                        {
                            @Resource.lblUpdateCropGroupNameContent1 <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@string.Format(Resource.lblViewTheYearCropPlan, Model.Year)</a>

                        }.
                    </p>
                </govuk-inset-text>
            }
            
                <govuk-summary-list>
                    @if (string.IsNullOrWhiteSpace(Model.EncryptedIsCropUpdate))
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @Resource.lblHarvestYears
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @Model.Year
                            </govuk-summary-list-row-value>
                            @* @if (Model.IsPlanRecord.HasValue && (!Model.IsPlanRecord.Value))
                        {
                        <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action class="@(Model.IsAddAnotherCrop? "disabled": "")" asp-action="HarvestYearForPlan" asp-controller="Crop">@Resource.lblChange</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                        } *@
                        </govuk-summary-list-row>
                    }

                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @Resource.lblCropGroup
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @Model.CropGroup
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="CropGroups" asp-controller="Crop">@Resource.lblChange <span class="govuk-visually-hidden"> @Resource.lblCropGroup</span></govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                    
                    @if(Model.CropGroupId != (int)NMP.Commons.Enums.CropGroup.Grass)
                    {
                        string? cropName=null;
                        if (!Model.CropTypeID.HasValue)
                        {
                            cropName = Resource.lblNotSet;
                        }
                        else if (Model.CropGroupId == (int)NMP.Commons.Enums.CropGroup.Other)
                        {
                            cropName = Model.OtherCropName;
                        }
                        else
                        {
                            cropName = Model.CropType;
                        }
                        <govuk-summary-list-row class=@((!Model.CropTypeID.HasValue)?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @Resource.lblWhatIsTheCropType
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @cropName
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>

                            <govuk-summary-list-row-action asp-action="CropTypes" asp-controller="Crop">@Resource.lblChange <span class="govuk-visually-hidden"> @Resource.lblWhatIsTheCropType</span></govuk-summary-list-row-action>

                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                    }
                    
                    @if (Model.IsComingFromRecommendation == null)
                    {
                            <govuk-summary-list-row class=@(((Model.Crops?.Count ?? 0) == 0)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                @string.Format(Resource.lblWhichFieldsWouldYouLikeToPlanFor, Model.CropGroupId == OtherGroupId ? Model.OtherCropName :  Model.CropType)
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @if (firstCropOnly)
                                {
                                    @foreach (var crop in Model.Crops)
                                    {
                                        @crop.FieldName <br />
                                    }
                                }
                                @if (secondCropOnly)
                                {
                                    @foreach (var crop in Model.Crops)
                                    {
                                        @crop.FieldName <br />
                                    }
                                }
                                @if (firstAndSecondCrop)
                                {
                                    <b>@Resource.lblThisWillBeTheFirstCropInTheseFields</b>
                                    <br />
                                    @foreach (var crop in Model.Crops)
                                    {
                                        if (crop.CropOrder == 1)
                                        {
                                            @crop.FieldName <br />
                                        }
                                    }
                                    <br />

                                    <b>@Resource.lblThisWillBeTheSecondCropInTheseFields</b>
                                    <br />
                                    @foreach (var crop in Model.Crops)
                                    {
                                        if (crop.CropOrder == 2)
                                        {
                                            @crop.FieldName <br />
                                        }
                                    }
                                }

                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                @if (!(!string.IsNullOrWhiteSpace(Model.EncryptedIsCropUpdate) && (ViewBag.IsFieldChange != null && ViewBag.IsFieldChange)))
                                {
                                    <govuk-summary-list-row-action class="@(ViewBag.FieldOptions != null && ViewBag.FieldOptions.Count==1? "disabled": "")" asp-action="CropFields" asp-controller="Crop">@Resource.lblChange <span class="govuk-visually-hidden"> @string.Format(Resource.lblWhichFieldsWouldYouLikeToPlanFor, Model.CropGroupId == OtherGroupId ? Model.OtherCropName :  Model.CropType)</span></govuk-summary-list-row-action>
                                }
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>

                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @Resource.lblWhatWouldYouLikeToCallThisCropGroup
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @(Model.CropGroupName == null ? Resource.lblNotEntered : Model.CropGroupName)
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="CropGroupName" asp-controller="Crop">@Resource.lblChange <span class="govuk-visually-hidden"> @Resource.lblWhatWouldYouLikeToCallThisCropGroup</span></govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }

                    @if (Model.CropGroupId != (int)NMP.Commons.Enums.CropGroup.Grass)
                    {
                        @* @if (Model.CropGroupId != (int)NMP.Commons.Enums.CropGroup.Potatoes)
                        { *@
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>
                                    @Resource.lblVarietyNameForCheckAnswer
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(string.IsNullOrWhiteSpace(Model.Variety) ? Resource.lblNotEntered : Model.Variety)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="VarietyName" asp-controller="Crop">@Resource.lblChange <span class="govuk-visually-hidden"> @Resource.lblVarietyNameForCheckAnswer</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                        @* }
                        else
                        { 
                            <govuk-summary-list-row class=@((string.IsNullOrWhiteSpace(Model.Variety))?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblVarietyNameForCheckAnswer
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(string.IsNullOrWhiteSpace(Model.Variety) ? Resource.lblNotSet : Model.Variety)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="VarietyName" asp-controller="Crop">@Resource.lblChange</govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                        } *@
                    }
                    @if (Model.CropGroupId == (int)NMP.Commons.Enums.CropGroup.Grass)
                    {
                        <govuk-summary-list-row class=@((!Model.CurrentSward.HasValue)?"govuk-error-message":"")>
                            <govuk-summary-list-row-key>
                                @(Model.FieldList.Count == 1 ? Resource.lblIsThisANewSwardOrExistingSward : string.Format(Resource.lblAreTheseNewSwardOrExistingSwardInTheseFields, Resource.lblTheseFields))
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @(Model.CurrentSward == null ? Resource.lblNotSet : currentSward)
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="CurrentSward" asp-controller="Crop">@Resource.lblChange <span class="govuk-visually-hidden"> @(Model.FieldList.Count == 1 ? Resource.lblIsThisANewSwardOrExistingSward : string.Format(Resource.lblAreTheseNewSwardOrExistingSwardInTheseFields, Resource.lblTheseFields))</span></govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>


                    }
                    @if (Model.CurrentSward != (int)NMP.Commons.Enums.CurrentSward.ExistingSward)
                    {
                        @if (Model.CropGroupId == (int)NMP.Commons.Enums.CropGroup.Grass)
                        {
                                <govuk-summary-list-row class=@((!Model.GrassSeason.HasValue)?"govuk-error-message":"")>
                                    <govuk-summary-list-row-key>
                                        @string.Format(Resource.lblWhenIsTheSwardInTheseFields, (Model.FieldList.Count == 1 ? Model.Crops[0].FieldName : Resource.lblTheseFields), Model.Year)
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        @(Model.GrassSeason == null ? Resource.lblNotSet : Model.GrassSeasonName)
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                        <govuk-summary-list-row-action asp-action="GrassSeason" asp-controller="Crop">@Resource.lblChange <span class="govuk-visually-hidden"> @string.Format(Resource.lblWhenIsTheSwardInTheseFields, (Model.FieldList.Count == 1 ? Model.Crops[0].FieldName : Resource.lblTheseFields), Model.Year) </span></govuk-summary-list-row-action>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>
                            
                        }

                        <govuk-summary-list-row class=@((!Model.SowingDateQuestion.HasValue)?"govuk-error-message":"")>
                            <govuk-summary-list-row-key>
                                @if(Model.CropGroupId != (int)NMP.Commons.Enums.CropGroup.Grass)
                                {
                                    @string.Format(Resource.lblDoYouHaveADateForWhenYouPlantedYour, Model.CropGroupId == OtherGroupId ? Model.OtherCropName :  Model.CropType)
                                }
                                else
                                {
                                    @string.Format(Resource.lblDoYouHaveADateForWhenYouSowedYour, Model.CropGroupId == OtherGroupId ? Model.OtherCropName :  Model.CropType)
                                }
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @{
                                   string sowingDateText;
                                   
                                   if (!Model.SowingDateQuestion.HasValue)
                                   {
                                       sowingDateText = Resource.lblNotSet;
                                   }
                                   else if (Model.Crops.Count == 1 && Model.SowingDateQuestion == (int)NMP.Commons.Enums.SowingDateQuestion.YesIHaveASingleDateForAllTheseFields)
                                   {
                                       sowingDateText = Resource.lblYes;
                                   }
                                   else
                                   {
                                       sowingDateText = sowingDateQuestion;
                                   }
                                 }
                                 
                                 @sowingDateText
                               
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="SowingDateQuestion" asp-controller="Crop">@Resource.lblChange 
                                    <span class="govuk-visually-hidden"> 
                                        @{
                                            string? cropName=string.Empty;
                                         if (Model.CropGroupId == OtherGroupId)
                                         {
                                             cropName = Model.OtherCropName;
                                         }
                                         else if (Model.CropGroupId == (int)NMP.Commons.Enums.CropGroup.Potatoes)
                                         {
                                             cropName = Model.Variety;
                                         }
                                         else
                                         {
                                             cropName = Model.CropType;
                                         }
                                        }
                                @if(Model.CropGroupId != (int)NMP.Commons.Enums.CropGroup.Grass)
                                {
                                         
                                     @string.Format(Resource.lblDoYouHaveADateForWhenYouPlantedYour, cropName)
                                }
                                else
                                {
                                    @string.Format(Resource.lblDoYouHaveADateForWhenYouSowedYour, cropName)
                                }
                                </span>
                                </govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                        @if (Model.SowingDateQuestion == (int)NMP.Commons.Enums.SowingDateQuestion.YesIHaveASingleDateForAllTheseFields)
                        {
                            bool renderSowingDate = false;
                            @for (int i = 0; i < Model.Crops.Count; i++)
                            {
                                @if (!renderSowingDate)
                                {
                                    string questionText;
                                    if (!isGrass)
                                    {
                                        if (hasMultipleCrops && isSingleDateForAll)
                                        {
                                            questionText = string.Format(Resource.lblWhatIsThePlantingDateForYearInTheseField, cropName);
                                        }
                                        else
                                        {
                                            questionText = string.Format(Resource.lblWhatIsThePlantingDate, cropName, Model.Crops[i].FieldName);
                                        }
                                    }
                                    else
                                    {
                                        if (hasMultipleCrops && isSingleDateForAll)
                                        {
                                            questionText = string.Format(Resource.lblWhatIsTheSowingDateForCrop, cropName);
                                        }
                                        else
                                        {
                                            questionText = string.Format(Resource.lblWhatIsTheSowingDateForCropInField, cropName, Model.Crops[i].FieldName);
                                        }
                                    }
                                    <govuk-summary-list-row class=@((!Model.Crops[i].SowingDate.HasValue)?"govuk-error-message":"")>
                                        <govuk-summary-list-row-key>
                                            @questionText
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @(Model.Crops[i].SowingDate.HasValue ? Model.Crops[i].SowingDate.Value.Date.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB")) : Resource.lblNotSet)
                                        </govuk-summary-list-row-value>
                                        <govuk-summary-list-row-actions>
                                            <govuk-summary-list-row-action asp-action="SowingDate" asp-controller="Crop" asp-route-q="@Model.SowingDateEncryptedCounter">@Resource.lblChange 
                                            <span class="govuk-visually-hidden"> 
                                            @questionText
                                            </span> 
                                            </govuk-summary-list-row-action>
                                        </govuk-summary-list-row-actions>
                                    </govuk-summary-list-row>
                                    renderSowingDate = true;
                                }
                            }
                        }
                        else if (Model.SowingDateQuestion == (int)NMP.Commons.Enums.SowingDateQuestion.YesIHaveDifferentDatesForEachOfTheseFields)
                        {
                            @foreach (var crop in Model.Crops)
                            {
                                <govuk-summary-list-row class=@((!crop.SowingDate.HasValue)?"govuk-error-message":"")>
                                    <govuk-summary-list-row-key>
                                        @if(Model.CropGroupId != (int)NMP.Commons.Enums.CropGroup.Grass)
                                        {
                                            @string.Format(Resource.lblSowingDiffrentDateForCheckAnswer, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropType, crop.FieldName)
                                        }
                                        else
                                        {
                                            @string.Format(Resource.lblWhatIsTheSowingDateForCropInField, Model.CropGroupId == OtherGroupId ? Model.OtherCropName :Model.CropType, crop.FieldName)
                                        }
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        @(crop.SowingDate.HasValue ? crop.SowingDate.Value.Date.ToString("dd MMMM yyyy") : Resource.lblNotSet)
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                        <govuk-summary-list-row-action asp-action="SowingDate" asp-controller="Crop" asp-route-q="@crop.EncryptedCounter">@Resource.lblChange 
                                            <span class="govuk-visually-hidden"> 
                                        @if (!isGrass)
                                        {
                                            string.Format(Resource.lblSowingDiffrentDateForCheckAnswer, cropName, crop.FieldName);
                                        }
                                        else
                                        {
                                           string.Format(Resource.lblWhatIsTheSowingDateForCropInField, cropName, crop.FieldName);
                                        }
                                        </span> 
                                        </govuk-summary-list-row-action>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>
                            }
                        }
                    }
                    @if (Model.CropGroupId != (int)NMP.Commons.Enums.CropGroup.Grass)
                    {
                        @if (Model.FieldList.Count > 1 || (Model.Crops.Count == 1))
                        {
                            <govuk-summary-list-row class=@((string.IsNullOrWhiteSpace(yieldQuestion))?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                      @yieldQuestionText
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(string.IsNullOrWhiteSpace(yieldQuestion) ? Resource.lblNotSet : yieldQuestion)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="YieldQuestion" asp-controller="Crop">@Resource.lblChange 
                                    <span class="govuk-visually-hidden"> 
                                          @yieldQuestionText
                                    </span> 
                                    </govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                        }

                       @if (Model.YieldQuestion == (int)NMP.Commons.Enums.YieldQuestion.EnterASingleFigureForAllTheseFields)
                        {
                            bool renderSowingDate = false;
                            @foreach (var crop in Model.Crops)
                            {
                                @if (!renderSowingDate)
                                {
                                    var isOptional = ViewBag.IsYieldOptional != null;
                                    var isMultiple = Model.Crops.Count > 1 && Model.YieldQuestion == (int)NMP.Commons.Enums.YieldQuestion.EnterASingleFigureForAllTheseFields;

                                     string cropName;
                                     if (Model.CropGroupId == OtherGroupId)
                                     {
                                         cropName = Model.OtherCropName;
                                     }
                                     else if (Model.CropGroupId == (int)NMP.Commons.Enums.CropGroup.Potatoes)
                                     {
                                         cropName = Model.Variety;
                                     }
                                     else
                                     {
                                         cropName = Model.CropType;
                                     }
                                     string yieldLabel;

                                     if (isOptional)
                                     {
                                         yieldLabel = isMultiple
                                             ? string.Format(Resource.lblWhatIsTheExpectedYieldForSingleForDefaultYield, cropName)
                                             : string.Format(Resource.lblWhatIsTheDifferentExpectedYieldForDefaultYield, cropName, crop.FieldName);
                                     }
                                     else
                                     {
                                         yieldLabel = isMultiple
                                             ? string.Format(Resource.lblWhatIsTheExpectedYieldForSingle, cropName)
                                             : string.Format(Resource.lblWhatIsTheDifferentExpectedYield, cropName, crop.FieldName);
                                     }
                               
                                     string manualyieldText;
                                     if (isOptional && isMultiple) manualyieldText = string.Format(Resource.lblWhatIsTheExpectedYieldForSingleForDefaultYield, cropName);
                                     else if (isOptional) manualyieldText = string.Format(Resource.lblWhatIsTheDifferentExpectedYieldForDefaultYield, cropName, crop.FieldName);
                                     else if (isMultiple) manualyieldText = string.Format(Resource.lblWhatIsTheExpectedYieldForSingle, cropName);
                                     else manualyieldText = string.Format(Resource.lblWhatIsTheDifferentExpectedYield, cropName, crop.FieldName);

                                    <govuk-summary-list-row class=@((ViewBag.DefaultYield == null&&!crop.Yield.HasValue)?"govuk-error-message":"")>
                                        <govuk-summary-list-row-key>
                                          
                                           @yieldLabel
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @if(ViewBag.DefaultYield ==null&&(!crop.Yield.HasValue))
                                            {
                                                @Resource.lblNotSet
                                            }
                                            else
                                            {
                                                string yieldDisplay;
                                                if (crop.Yield.HasValue)
                                                {
                                                    if (crop.Yield.Value == 0.0m)
                                                        yieldDisplay = "0";
                                                    else
                                                        yieldDisplay = string.Format("{0:N1}", crop.Yield.Value) + " " + Resource.lblTonnesPerHectare;
                                                }
                                                else
                                                {
                                                    yieldDisplay = Resource.lblNotSet;
                                                }
                                                @yieldDisplay
                                            }
                                        </govuk-summary-list-row-value>
                                        <govuk-summary-list-row-actions>
                                            @if (crop.Yield == null && (Model.YieldQuestion == null) && (!string.IsNullOrWhiteSpace(Model.EncryptedIsCropUpdate)))
                                            {
                                                <govuk-summary-list-row-action asp-action="YieldQuestion" asp-controller="Crop" asp-route-q=@Model.YieldEncryptedCounter>@Resource.lblChange 
                                                <span class="govuk-visually-hidden"> 
                                                    @yieldLabel
                                                </span>
                                                </govuk-summary-list-row-action>
                                            }
                                            else
                                            {
                                                <govuk-summary-list-row-action asp-action="Yield" asp-controller="Crop" asp-route-q=@Model.YieldEncryptedCounter>@Resource.lblChange 
                                                    <span class="govuk-visually-hidden"> 
                                                        @manualyieldText
                                                    </span> 
                                                </govuk-summary-list-row-action>
                                            }
                                        </govuk-summary-list-row-actions>
                                    </govuk-summary-list-row>
                                    renderSowingDate = true;
                                }
                            }
                        }
                        else if (Model.YieldQuestion == (int)NMP.Commons.Enums.YieldQuestion.EnterDifferentFiguresForEachField)
                        {
                            @foreach (var crop in Model.Crops)
                            {
                                string cropName;
                                if (Model.CropGroupId == OtherGroupId) cropName = Model.OtherCropName;
                                else if (Model.CropGroupId == (int)NMP.Commons.Enums.CropGroup.Potatoes) cropName = Model.Variety;
                                else cropName = Model.CropType;
                                <govuk-summary-list-row class=@((ViewBag.DefaultYield == null&&!crop.Yield.HasValue)?"govuk-error-message":"")>
                                    <govuk-summary-list-row-key>
                                        @if (ViewBag.IsYieldOptional != null)
                                        {
                                            @string.Format(Resource.lblWhatIsTheDifferentExpectedYieldForDefaultYield, cropName, crop.FieldName)
                                        }
                                        else
                                        {
                                            @string.Format(Resource.lblWhatIsTheDifferentExpectedYield, cropName, crop.FieldName)
                                        }
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        @if(ViewBag.DefaultYield ==null&&(!crop.Yield.HasValue))
                                        {
                                            @Resource.lblNotSet
                                        }
                                        else
                                        {
                                           string yieldDisplay;
                                           if (crop.Yield.HasValue)
                                           {
                                               if (crop.Yield.Value == 0.0m)
                                                   yieldDisplay = "0";
                                               else
                                                   yieldDisplay = string.Format("{0:N1}", crop.Yield.Value) + " " + Resource.lblTonnesPerHectare;
                                           }
                                           else
                                           {
                                               yieldDisplay = Resource.lblNotSet;
                                           }
                                           @yieldDisplay
                                        }
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                        <govuk-summary-list-row-action asp-action="Yield" asp-controller="Crop" asp-route-q=@crop.EncryptedCounter>@Resource.lblChange 
                                            <span class="govuk-visually-hidden"> 
                                                @if (ViewBag.IsYieldOptional != null)
                                                {
                                                    @string.Format(Resource.lblWhatIsTheDifferentExpectedYieldForDefaultYield, cropName, crop.FieldName)
                                                }
                                                else
                                                {
                                                    @string.Format(Resource.lblWhatIsTheDifferentExpectedYield, cropName, crop.FieldName)
                                                }
                                            </span> 
                                            </govuk-summary-list-row-action>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>
                            }
                        }
                        else if (Model.YieldQuestion == (int)NMP.Commons.Enums.YieldQuestion.UseTheStandardFigureForAllTheseFields)
                        {
                            bool renderSowingDate = false;
                            @foreach (var crop in Model.Crops)
                            {
                                @if (!renderSowingDate)
                                {
                                    <govuk-summary-list-row class=@((ViewBag.DefaultYield ==null&&!crop.Yield.HasValue)?"govuk-error-message":"")>
                                        <govuk-summary-list-row-key>
                                            @string.Format(Resource.lblWhatIsTheExpectedYieldForSingle, Model.CropGroupId == OtherGroupId ? Model.OtherCropName :Model.CropType)
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @if(ViewBag.DefaultYield !=null&&(!crop.Yield.HasValue))
                                            {
                                                @Resource.lblNotSet
                                            }
                                            else
                                            {
                                                string yieldDisplay;
                                                if (crop.Yield.HasValue)
                                                {
                                                    if (crop.Yield.Value == 0.0m)
                                                        yieldDisplay = "0";
                                                    else
                                                        yieldDisplay = string.Format("{0:N1}", crop.Yield.Value) + " " + Resource.lblTonnesPerHectare;
                                                }
                                                else
                                                {
                                                    yieldDisplay = Resource.lblNotSet;
                                                }
                                                @yieldDisplay
                                            }
                                        </govuk-summary-list-row-value>
                                        <govuk-summary-list-row-actions>
                                            @* <govuk-summary-list-row-action asp-action="Yield" asp-controller="Crop" asp-route-q=@Model.YieldEncryptedCounter>@Resource.lblChange</govuk-summary-list-row-action> *@
                                        </govuk-summary-list-row-actions>
                                    </govuk-summary-list-row>
                                    renderSowingDate = true;
                                }
                            }
                        }
                        @if (Model.CropGroupId != (int)NMP.Commons.Enums.CropGroup.Other && ((Model.CropInfo1 == null && (!string.IsNullOrWhiteSpace(Model.EncryptedIsCropUpdate))) || Model.CropInfo1 != null && Model.CropInfo1 != 0))
                        {
                            @if(ViewBag.CropInfoOneQuestion != null)
                            {
                                <govuk-summary-list-row class=@((!Model.CropInfo1.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @if (ViewBag.CropInfoOneQuestion != null)
                                    {
                                        @ViewBag.CropInfoOneQuestion
                                    }
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(Model.CropInfo1.HasValue ? Model.CropInfo1Name : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>

                                    <govuk-summary-list-row-action asp-action="CropInfoOne" asp-controller="Crop">@Resource.lblChange 
                                        <span class="govuk-visually-hidden"> 
                                            @if (ViewBag.CropInfoOneQuestion != null)
                                    {
                                        @ViewBag.CropInfoOneQuestion
                                    }
                                        </span> 
                                        </govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            }

                        }
                        @if (Model.CropGroupId == (int)NMP.Commons.Enums.CropGroup.Cereals)
                        {
                            <govuk-summary-list-row class=@((!Model.CropInfo2.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblCropInfo2ForCheckAnswer, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropType)
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(Model.CropInfo2.HasValue ? Model.CropInfo2Name : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="CropInfoTwo" asp-controller="Crop">@Resource.lblChange 
                                        <span class="govuk-visually-hidden"> 
                                            @string.Format(Resource.lblCropInfo2ForCheckAnswer, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropType)
                                        </span>
                                        </govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                        }
                    }

                    @if (Model.CropGroupId == (int)NMP.Commons.Enums.CropGroup.Grass)
                    {
                        <govuk-summary-list-row class=@((!Model.SwardTypeId.HasValue)?"govuk-error-message":"")>
                            <govuk-summary-list-row-key>
                                @string.Format(Resource.lblWhatIsTheSwardTypeForTheseFields, (Model.FieldList.Count == 1 ? Model.Crops[0].FieldName : Resource.lblTheseFields), Model.Crops[0].Year)
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @(Model.SwardTypeId == null ? Resource.lblNotSet : ViewBag.SwardType)
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="SwardType" asp-controller="Crop">@Resource.lblChange 
                                    <span class="govuk-visually-hidden"> 
                                        @string.Format(Resource.lblWhatIsTheSwardTypeForTheseFields, (Model.FieldList.Count == 1 ? Model.Crops[0].FieldName : Resource.lblTheseFields), Model.Crops[0].Year)
                                    </span> </govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>

                        <govuk-summary-list-row class=@((!Model.SwardManagementId.HasValue)?"govuk-error-message":"")>
                            <govuk-summary-list-row-key>
                                @string.Format(Resource.lblHowWillTheseFieldsBeManaged, (Model.FieldList.Count == 1 ? Model.Crops[0].FieldName : Resource.lblTheseFields))
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @(Model.SwardManagementId == null ? Resource.lblNotSet : ViewBag.SwardManagementName)
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="GrassManagement" asp-controller="Crop">@Resource.lblChange 
                                    <span class="govuk-visually-hidden"> @string.Format(Resource.lblHowWillTheseFieldsBeManaged, (Model.FieldList.Count == 1 ? Model.Crops[0].FieldName : Resource.lblTheseFields))</span> </govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                        
                        <govuk-summary-list-row class=@((!Model.PotentialCut.HasValue)?"govuk-error-message":"")>
                            <govuk-summary-list-row-key>
                                @potentialCutText
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @(Model.PotentialCut == null ? Resource.lblNotSet : potentialCutName)
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="Defoliation" asp-controller="Crop">@Resource.lblChange 
                                    <span class="govuk-visually-hidden"> 
                                        @potentialCutText
                                    </span> 
                                </govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                        @if (Model.SwardManagementId == (int)NMP.Commons.Enums.SwardManagement.GrazingAndSilage || Model.SwardManagementId == (int)NMP.Commons.Enums.SwardManagement.GrazingAndHay)
                        {
                            <govuk-summary-list-row class=@((!Model.DefoliationSequenceId.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @defoliationSequenceText
                                </govuk-summary-list-row-key>
                                @if (Model.DefoliationSequenceId == null)
                                {
                                    <govuk-summary-list-row-value>
                                        @Resource.lblNotSet
                                    </govuk-summary-list-row-value>
                                }
                                else
                                {
                                    <govuk-summary-list-row-value>
                                        @for (int i = 0; i < ViewBag.DefoliationSequenceName.Length; i++)
                                        {
                                            @(i + 1 + ". " + ViewBag.DefoliationSequenceName[i]) <br />
                                        }
                                    </govuk-summary-list-row-value>
                                }
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="DefoliationSequence" asp-controller="Crop">@Resource.lblChange <span class="govuk-visually-hidden"> @defoliationSequenceText </span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                        }


                        @if (Model.SwardTypeId == (int)NMP.Commons.Enums.SwardType.Grass)
                        {
                            @if (Model.GrassGrowthClassQuestion == null)
                            {
                                @foreach (var crop in Model.Crops)
                                {
                                    <govuk-summary-list-row class=@((!crop.Yield.HasValue)?"govuk-error-message":"")>
                                        <govuk-summary-list-row-key>
                                            @string.Format(Resource.lblWhatIsTheTotalTargetDryMatterYieldForField, crop.FieldName, Model.Crops[0].Year)
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @(crop.Yield == null ? Resource.lblNotSet : (string.Format("{0:N0} {1}",Convert.ToInt32(crop.Yield), Resource.lblTonnesPerHectare)))
                                        </govuk-summary-list-row-value>
                                        <govuk-summary-list-row-actions>
                                            <govuk-summary-list-row-action asp-action="GrassGrowthClass" asp-controller="Crop" asp-route-q="@crop.EncryptedCounter">@Resource.lblChange <span class="govuk-visually-hidden"> @string.Format(Resource.lblWhatIsTheTotalTargetDryMatterYieldForField, crop.FieldName, Model.Crops[0].Year)</span></govuk-summary-list-row-action>
                                        </govuk-summary-list-row-actions>
                                    </govuk-summary-list-row>
                                }
                            }
                            else
                            {
                                string ggcQuestion="";
                                <govuk-summary-list-row class=@((!Model.GrassGrowthClassQuestion.HasValue)?"govuk-error-message":"")>
                                    <govuk-summary-list-row-key>
                                        @Resource.lblDoYouWantToEnterTheSameTargetYieldForTheseFields
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        
                                        @if(Model.GrassGrowthClassQuestion == null)
                                        {
                                            ggcQuestion=Resource.lblNotSet;
                                        }
                                        else
                                        {
                                            if(Model.GrassGrowthClassQuestion == 1)
                                            {
                                                ggcQuestion=Resource.lblYesEnterTheSameTargetYieldForTheseFields;
                                            }
                                            else
                                            {
                                                ggcQuestion=Resource.lblNoEnterADifferentTargetYieldForEachFields;
                                            }
                                        }
                                    @ggcQuestion
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                        <govuk-summary-list-row-action asp-action="GrassGrowthClass" asp-controller="Crop">@Resource.lblChange <span class="govuk-visually-hidden"> @string.Format(Resource.lblWhatIsTheTotalTargetDryMatterYieldForField, Model.FieldName, Model.Crops[0].Year)</span></govuk-summary-list-row-action>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>

                                @foreach (var crop in Model.Crops)
                                {
                                    <govuk-summary-list-row class=@((!crop.Yield.HasValue)?"govuk-error-message":"")>
                                        <govuk-summary-list-row-key>
                                            @(Model.GrassGrowthClassQuestion == (int)NMP.Commons.Enums.YieldQuestion.EnterASingleFigureForAllTheseFields ? string.Format(Resource.lblWhatIsTheTotalTargetDryMatterYieldForFields, Model.Crops[0].Year) : string.Format(Resource.lblWhatIsTheTotalTargetDryMatterYieldFor, crop.FieldName, crop.Year))
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @(crop.Yield == null ? Resource.lblNotSet : (string.Concat(Convert.ToInt32(crop.Yield).ToString(), " ", Resource.lblTonnesPerHectare)))
                                        </govuk-summary-list-row-value>
                                        <govuk-summary-list-row-actions>

                                            <govuk-summary-list-row-action asp-action="DryMatterYield" asp-controller="Crop" asp-route-q="@crop.EncryptedCounter">@Resource.lblChange 
                                                <span class="govuk-visually-hidden"> 
                                                    @(Model.GrassGrowthClassQuestion == (int)NMP.Commons.Enums.YieldQuestion.EnterASingleFigureForAllTheseFields ? string.Format(Resource.lblWhatIsTheTotalTargetDryMatterYieldForFields, Model.Crops[0].Year) : string.Format(Resource.lblWhatIsTheTotalTargetDryMatterYieldFor, crop.FieldName, crop.Year))
                                                </span>
                                            </govuk-summary-list-row-action>

                                        </govuk-summary-list-row-actions>
                                    </govuk-summary-list-row>
                                    @if (Model.GrassGrowthClassQuestion == (int)NMP.Commons.Enums.YieldQuestion.EnterASingleFigureForAllTheseFields)
                                    {
                                        break;
                                    }
                                }
                            }
                        }

                    }

                </govuk-summary-list>
            @if (!string.IsNullOrWhiteSpace(Model.EncryptedIsCropUpdate))
            {
                <p class="govuk-body margin-bottom-forty">
                    @Resource.lblYouCanAlso
                    @if (!Model.IsComingFromRecommendation.HasValue)
                    {
                        <a asp-action="RemoveCrop" asp-controller="Crop" asp-route-q="@ViewBag.EncryptedCropTypeId" asp-route-r="@(ViewBag.EncryptedCropGroupName==null?null:ViewBag.EncryptedCropGroupName)">@Resource.lblRemoveThisCropGroup</a>
                    }
                    else
                    {
                        <a asp-action="RemoveCrop" asp-controller="Crop" asp-route-q="@Model.EncryptedCropType" asp-route-s="@Model.EncryptedFieldName" asp-route-t="@Model.EncryptedFieldId" asp-route-u="@Model.EncryptedCropOrder" asp-route-v="@Model.EncryptedFarmId" asp-route-w="@Model.EncryptedHarvestYear">@string.Format(Resource.lblRemoveCropFromFieldInYear, Model.CropType, Model.FieldName, Model.Year)</a>
                    }.
                </p>
            }
             <govuk-button type="submit" class="margin-bottom-forty" prevent-double-click="true">
                @if (string.IsNullOrWhiteSpace(Model.EncryptedIsCropUpdate))
                {
                    @Resource.lblCreatePlan
                }
                else
                {
                    @((Model.IsComingFromRecommendation.HasValue && Model.IsComingFromRecommendation.Value)?Resource.lblUpdateThisField :Resource.lblUpdateThisCropGroupOnButton)
                }
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    @if (string.IsNullOrWhiteSpace(Model.EncryptedIsCropUpdate))
                    {
                        <a asp-action="Cancel" asp-controller="Crop">@Resource.lblCancel</a>
                    }
                    else
                    {
                        if(ViewBag.IsDataChange != null && ViewBag.IsDataChange==true)
                        {
                            <a asp-action="Cancel" asp-controller="Crop">@Resource.lblCancel</a>
                        }
                        else
                        {
                            <a asp-action="BackCheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
                        }
                    }
                }
            </p>
        </form>
    </div>
</div>