@using NMP.Commons.Enums
@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.PlanViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{Resource.lblDoYouWantToIncludeOrganicMaterialInorganicFertiliserApplications} {Resource.lblHyphen} {title}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.CropWizardSteps.CopyOrganicInorganicApplications;
}

@section BeforeContent {
    <govuk-back-link asp-action="@(Model.IsCheckAnswer ? "CopyCheckAnswer" : "CopyPlanYears")" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId">@Resource.lblBack</govuk-back-link>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="CopyOrganicInorganicApplications" asp-controller="Crop" method="post" autocomplete="off">
            @Html.AntiForgeryToken()

            @if (TempData["ErrorOnHarvestYear"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["ErrorOnHarvestYear"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
            @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)
            <govuk-checkboxes name="OrganicInorganicCopy" for="@Model.OrganicInorganicCopy">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Resource.lblDoYouWantToIncludeOrganicMaterialInorganicFertiliserApplications
                    </govuk-checkboxes-fieldset-legend>
                    <govuk-checkboxes-hint>
                        @string.Format(Resource.lblSelectAllThatApplyApplicationDateWillBeUpdated, Model.Year)
                    </govuk-checkboxes-hint>
                    <govuk-checkboxes-item value="@((int)OrganicInorganicCopyOptions.OrganicMaterial)"
                                           checked="@(Model.OrganicInorganicCopy?.HasFlag(OrganicInorganicCopyOptions.OrganicMaterial) == true)">
                        @Resource.lblIncludeOrganicMaterialApplications
                    </govuk-checkboxes-item>

                    <govuk-checkboxes-item value="@((int)OrganicInorganicCopyOptions.InorganicFertiliser)"
                                           checked="@(Model.OrganicInorganicCopy?.HasFlag(OrganicInorganicCopyOptions.InorganicFertiliser) == true)">
                        @Resource.lblIncludeInorganicFertiliserApplications
                    </govuk-checkboxes-item>

                    <govuk-checkboxes-divider>or</govuk-checkboxes-divider>

                    <govuk-checkboxes-item value="@((int)OrganicInorganicCopyOptions.None)"
                                           behavior="CheckboxesItemBehavior.Exclusive"
                                           checked="@(Model.OrganicInorganicCopy == OrganicInorganicCopyOptions.None)">
                        @Resource.lblIncludeNoneOfThese
                    </govuk-checkboxes-item>
                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>
            <govuk-button type="submit" data-prevent-double-click="true" class="govuk-button margin-bottom-forty margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
        </form>
        <p class="govuk-body cancel-link">
            @if (!Model.IsCheckAnswer)
            {
                <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
            }
            else
            {
                <a asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
            }
        </p>
    </div>

</div>
