﻿@using NMP.Commons.Resources
@using System.Globalization
@model NMP.Commons.ViewModels.PlanViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{Resource.lblCheckYourAnswers} {Resource.lblHyphen} {title}";

    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
    var organicInorganicCopy = "";
    var selection = "";

    bool hasOrganic = (Model.OrganicInorganicCopy & NMP.Commons.Enums.OrganicInorganicCopyOptions.OrganicMaterial) == NMP.Commons.Enums.OrganicInorganicCopyOptions.OrganicMaterial;
    bool hasInorganic = (Model.OrganicInorganicCopy & NMP.Commons.Enums.OrganicInorganicCopyOptions.InorganicFertiliser) == NMP.Commons.Enums.OrganicInorganicCopyOptions.InorganicFertiliser;
    bool isNone = Model.OrganicInorganicCopy == NMP.Commons.Enums.OrganicInorganicCopyOptions.None;

    if (hasOrganic && hasInorganic)
    {
        selection = Resource.lblIncludeOrganicMaterialInorganicFertiliser;
    }
    else if (hasOrganic)
    {
        selection = Resource.lblIncludeOrganicMaterialApplications;
    }
    else if (hasInorganic)
    {
        selection = Resource.lblIncludeInorganicFertiliserApplications;
    }
    else if (isNone)
    {
        selection = Resource.lblIncludeNoneOfThese;
    }
    
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.CropWizardSteps.CopyCheckAnswer;

}

@section BeforeContent {
    <govuk-back-link asp-action="BackCopyCheckAnswer" asp-controller="Crop">@Resource.lblBack</govuk-back-link>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form class="form-with-overlay" asp-action="CopyCheckAnswer" asp-controller="Crop" method="post" autocomplete="off">
            @Html.AntiForgeryToken()

            @if (TempData["ErrorCopyPlan"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["ErrorCopyPlan"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
            
            @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)
            @if (string.IsNullOrWhiteSpace(Model.EncryptedIsCropUpdate))
            {
                <h1 class="govuk-heading-l">
                    @Resource.lblCheckYourAnswers
                </h1>
            }
            

                <govuk-summary-list>
                    <govuk-summary-list-row class=@((!Model.CopyExistingPlan.HasValue)?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @Resource.lblWouldYouLikeToStartWithCopyOfPlanFromPreviousYear
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @(Model.CopyExistingPlan.HasValue ? (Model.CopyExistingPlan == true ? Resource.lblYes : Resource.lblNo) : Resource.lblNotSet)
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="CopyExistingPlan" asp-controller="Crop">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblWouldYouLikeToStartWithCopyOfPlanFromPreviousYear</span></govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row class=@((!Model.CopyYear.HasValue)?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @string.Format(Resource.lblWhichPlanWouldYouLikeToCopyFor, Model.Year)
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @(Model.CopyYear.HasValue ? Model.CopyYear : Resource.lblNotSet)
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="CopyPlanYears" asp-controller="Crop">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblWhichPlanWouldYouLikeToCopyFor, Model.Year)</span></govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row class=@((!Model.OrganicInorganicCopy.HasValue)?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @Resource.lblDoYouWantToIncludeOrganicMaterialInorganicFertiliserApplications
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @(Model.OrganicInorganicCopy.HasValue ? selection :
                                Resource.lblNotSet)
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="CopyOrganicInorganicApplications" asp-controller="Crop">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblDoYouWantToIncludeOrganicMaterialInorganicFertiliserApplications</span></govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                </govuk-summary-list>
            
            <govuk-button type="submit" class="margin-bottom-forty" prevent-double-click="true">
                @Resource.lblCreatePlan
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="Cancel" asp-controller="Crop">@Resource.lblCancel</a>
                }
            </p>
        </form>
    </div>
</div>
