﻿@using NMP.Commons.Resources
@using System.Globalization
@model NMP.Commons.ViewModels.PlanViewModel
@{

    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{Resource.lblWouldYouLikeToStartWithCopyOfPlanFromPreviousYear} {Resource.lblHyphen} {title}";

    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
    int index = Model.HarvestYear.FindIndex(h => h.Year == Model.Year);
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.CropWizardSteps.CopyExistingPlan;
}

@section BeforeContent {

    <govuk-back-link asp-action="@(Model.IsCheckAnswer ? "CheckAnswer" :"CheckYourPlanData")" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId" asp-route-year="@Model.HarvestYear[index].EncryptedYear">@Resource.lblBack</govuk-back-link>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="CopyExistingPlan" asp-controller="Crop" method="post" autocomplete="off">
            @Html.AntiForgeryToken()

            @if (TempData["ErrorCreatePlan"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["ErrorCreatePlan"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
            @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)
            @if (TempData["Error"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["Error"]</govuk-error-summary-item>
                </govuk-error-summary>
            }

            <govuk-radios class="govuk-radios--inline" for="@Model.CopyExistingPlan">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Resource.lblWouldYouLikeToStartWithCopyOfPlanFromPreviousYear
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value=@yes>@Resource.lblYes</govuk-radios-item>
                    <govuk-radios-item value=@no>@Resource.lblNo</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>

            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="Cancel" asp-controller="Crop">@Resource.lblCancel</a>
                }
            </p>
        </form>
    </div>
</div>
