﻿@using NMP.Commons.Resources
@using System.Globalization
@model NMP.Commons.ViewModels.PlanViewModel
@{

    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{Resource.lblWouldYouLikeToStartWithCopyOfPlanFromPreviousYear} {Resource.lblHyphen} {title}";

    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
    int index = Model.HarvestYear.FindIndex(h => h.Year == Model.Year);
}

@section BeforeContent {

    <govuk-back-link asp-action="@(Model.IsCheckAnswer ? "CheckAnswer" :"CheckYourPlanData")" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId" asp-route-year="@Model.HarvestYear[index].EncryptedYear">@Resource.lblBack</govuk-back-link>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="CopyExistingPlan" asp-controller="Crop" method="post" autocomplete="off">
            @Html.AntiForgeryToken()

            @if (TempData["ErrorCreatePlan"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["ErrorCreatePlan"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
            <div hidden="true">
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeID"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroupId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroup"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropType"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsEnglishRules"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Variety"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OtherCropName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SowingDateQuestion"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.YieldQuestion"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo1"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo2"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldID"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo1Name"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo2Name"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroupName"/>

                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CurrentSward"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassSeason"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassGrowthClassDistinctCount" value="@Model.GrassGrowthClassDistinctCount"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassGrowthClassCounter" value="@Model.GrassGrowthClassCounter"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassGrowthClassEncryptedCounter" value="@Model.GrassGrowthClassEncryptedCounter"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassGrowthClassQuestion"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DryMatterYieldCounter"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DryMatterYieldEncryptedCounter"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SwardTypeId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SwardManagementId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PotentialCut"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationSequenceId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedIsCropUpdate"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCropGroupName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromRecommendation" value="@Model.IsComingFromRecommendation.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedCropType"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedCropOrder"/>

                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CopyYear"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OrganicInorganicCopy" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsFieldToBeRemoved" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCurrentSwardChange" value="@Model.IsCurrentSwardChange" />
                
                @if (Model.HarvestYear != null && Model.HarvestYear.Count > 0)
                {
                    @for (int i = 0; i < Model.HarvestYear.Count; i++)
                    {
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear[i].Year" value="@Model.HarvestYear[i].Year"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear[i].EncryptedYear" value="@Model.HarvestYear[i].EncryptedYear"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear[i].LastModifiedOn" value="@Model.HarvestYear[i].LastModifiedOn"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear[i].IsAnyPlan" value="@Model.HarvestYear[i].IsAnyPlan"/>
                    }
                }
                @if (Model.FieldList != null && Model.FieldList.Count > 0)
                {
                    @for (int i = 0; i < Model.FieldList.Count; i++)
                    {
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]"/>
                    }
                }
                @if (Model.Crops != null && Model.Crops.Count > 0)
                {
                    @for (int i = 0; i < Model.Crops.Count; i++)
                    {
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].ID" value="@Model.Crops[i].ID"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].FieldID" value="@Model.Crops[i].FieldID"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Year" value="@Model.Crops[i].Year"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropTypeID" value="@Model.Crops[i].CropTypeID"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].OtherCropName" value="@Model.Crops[i].OtherCropName"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Variety" value="@Model.Crops[i].Variety"/>
                        <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].SowingDate" value="@Model.Crops[i].SowingDate"></govuk-date-input>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Yield" value="@Model.Crops[i].Yield"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropInfo1" value="@Model.Crops[i].CropInfo1"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropInfo2" value="@Model.Crops[i].CropInfo2"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].FieldName" value="@Model.Crops[i].FieldName"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].EncryptedCounter" value="@Model.Crops[i].EncryptedCounter"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropOrder" value="@Model.Crops[i].CropOrder"/>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropGroupName" value="@Model.Crops[i].CropGroupName"/>
                    }

                }
            </div>
            @if (TempData["Error"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["Error"]</govuk-error-summary-item>
                </govuk-error-summary>
            }

            <govuk-radios class="govuk-radios--inline" asp-for="@Model.CopyExistingPlan">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Resource.lblWouldYouLikeToStartWithCopyOfPlanFromPreviousYear
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value=@yes>@Resource.lblYes</govuk-radios-item>
                    <govuk-radios-item value=@no>@Resource.lblNo</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>

            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="Cancel" asp-controller="Crop">@Resource.lblCancel</a>
                }
            </p>
        </form>
    </div>
</div>
