@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.PlanViewModel
@{

    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{Resource.lblWhatWouldYouLikeToCallThisCropGroup} {Resource.lblHyphen} {title}";

    var backAction = "";
    if (Model.IsCheckAnswer && (!Model.IsCropGroupChange) && (!Model.IsCropTypeChange) && (!Model.IsAnyChangeInField))
    {
        backAction = "CheckAnswer";
    }
    else
    {      
            backAction = "CropFields";       
    }
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.CropWizardSteps.CropGroupName;
}

@section BeforeContent {
    <govuk-back-link asp-action="@backAction" asp-controller="Crop">@Resource.lblBack</govuk-back-link>
    
}
<form asp-action="CropGroupName" asp-controller="Crop" method="post">
    @Html.AntiForgeryToken()
    @if (TempData["CropGroupNameError"] != null)
    {
        <govuk-error-summary>
            <govuk-error-summary-item href="#">@TempData["CropGroupNameError"]</govuk-error-summary-item>
        </govuk-error-summary>
    }
    @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <govuk-input for="@Model.CropGroupName" autocomplete="off">
                <govuk-input-label is-page-heading="true" class="govuk-label--l">@Resource.lblWhatWouldYouLikeToCallThisCropGroup</govuk-input-label>
            </govuk-input>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            @*  @if (string.IsNullOrWhiteSpace(Model.EncryptedIsCropUpdate))
            { *@
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
                }
            </p>
            @*   }
            else
            {
                <p class="govuk-body cancel-link">
                    <a asp-action="UpdateCropGroupNameCheckAnswer" asp-controller="Crop" asp-route-q="@ViewBag.EncryptedCropTypeId" asp-route-r="@(ViewBag.EncryptedCropGroupName==null?null:ViewBag.EncryptedCropGroupName)" asp-route-s="@Model.EncryptedIsCropUpdate">@Resource.lblCancel</a>
                </p>
            } *@

        </div>

    </div>
</form>