@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.PlanViewModel
@{
    var heading = "";
    if (ViewBag.CropInfoOneQuestion != null)
    {
        heading = ViewBag.CropInfoOneQuestion;
    }
    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {title}";

    int PotatoGroupId = (int)NMP.Commons.Enums.CropGroup.Potatoes;
    int OtherGroupId = (int)NMP.Commons.Enums.CropGroup.Other;
    int LessThan60days = (int)NMP.Commons.Enums.PotatoCropInfo1.LessThan60days;
    int GreaterThan120days = (int)NMP.Commons.Enums.PotatoCropInfo1.GreaterThan120days;
    int PotatoVarietyGroup1 = (int)NMP.Commons.Enums.CropType.PotatoVarietyGroup1;
    int PotatoVarietyGroup4 = (int)NMP.Commons.Enums.CropType.PotatoVarietyGroup4;
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.CropWizardSteps.CropInfoOne;
}

@section BeforeContent {
    @if (Model.YieldQuestion == (int)NMP.Commons.Enums.YieldQuestion.UseTheStandardFigureForAllTheseFields||
            Model.YieldQuestion == (int)NMP.Commons.Enums.YieldQuestion.NoDoNotEnterAYield)
    {
        <govuk-back-link asp-action="@(Model.IsCheckAnswer&& (!Model.IsCropGroupChange) &&(!Model.IsCropTypeChange) ? "CheckAnswer" :"YieldQuestion")" asp-controller="Crop" asp-route-q="@Model.YieldEncryptedCounter">@Resource.lblBack</govuk-back-link>
    }
    else
    {
        <govuk-back-link asp-action="@(Model.IsCheckAnswer&& (!Model.IsCropGroupChange) &&(!Model.IsCropTypeChange) ? "CheckAnswer" :"Yield")" asp-controller="Crop" asp-route-q="@Model.YieldEncryptedCounter">@Resource.lblBack</govuk-back-link>
    }

}
<form asp-action="CropInfoOne" asp-controller="Crop" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @if (TempData["CropInfoOneError"] != null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["CropInfoOneError"]</govuk-error-summary-item>
                </govuk-error-summary>
            </div>
        </div>
    }
    @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <govuk-radios for="@Model.CropInfo1">
                <govuk-radios-fieldset>

                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @if (ViewBag.CropInfoOneQuestion != null)
                        {
                            @ViewBag.CropInfoOneQuestion
                        }
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-hint>@Resource.lblSelectOneOption</govuk-radios-hint>

                    @if (ViewBag.CropInfoOneList != null)
                    {
                        @foreach (var item in ViewBag.CropInfoOneList)
                        {
                            <govuk-radios-item value="@item.CropInfo1Id">@item.CropInfo1Name</govuk-radios-item>
                        }
                    }

                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>