@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.PlanViewModel
@{
    ViewData["Title"] = Resource.lblCropType;
    int otherGroupId = (int)NMP.Portal.Enums.CropGroup.Other;
    int PotatoGroupId = (int)NMP.Portal.Enums.CropGroup.Potatoes;
}

@section BeforeContent {
    <govuk-back-link asp-action="CropGroups" asp-controller="Crop">@Resource.lblBack</govuk-back-link>
}
<form asp-action="CropTypes" asp-controller="Crop" method="post">
    @Html.AntiForgeryToken()

    @if (TempData["CropTypeError"] != null)
    {
        <govuk-error-summary>
            <govuk-error-summary-item href="#">@TempData["CropTypeError"]</govuk-error-summary-item>
        </govuk-error-summary>
    }
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroupId"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroup"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropType"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsEnglishRules"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Variety"></govuk-input> 
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SowingDateQuestion"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.YieldQuestion"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo1"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo2"></govuk-input>
    @if (Model.FieldList != null && Model.FieldList.Count > 0)
    {
        @for (int i = 0; i < Model.FieldList.Count; i++)
        {
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]"></govuk-input>
        }
    }
    @if (Model.Crops != null && Model.Crops.Count > 0)
    {
        @for (int i = 0; i < Model.Crops.Count; i++)
        {
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].FieldId" value="@Model.Crops[i].FieldId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Year" value="@Model.Crops[i].Year"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropTypeID" value="@Model.Crops[i].CropTypeID"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].OtherCropName" value="@Model.Crops[i].OtherCropName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Variety" value="@Model.Crops[i].Variety"></govuk-input>
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].SowingDate" value="@Model.Crops[i].SowingDate"></govuk-date-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Yield" value="@Model.Crops[i].Yield"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropInfo1" value="@Model.Crops[i].CropInfo1"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropInfo2" value="@Model.Crops[i].CropInfo2"></govuk-input>
        }

    }


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (Model.CropGroupId == otherGroupId)
            {
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeID"></govuk-input>
                <govuk-input asp-for="@Model.OtherCropName">
                    <govuk-input-label is-page-heading="true" class="govuk-label--l">@Resource.lblWhatIsTheNameOfTheCrop</govuk-input-label>
                </govuk-input>

            }
            else
            {
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OtherCropName"></govuk-input>
                <govuk-radios asp-for="@Model.CropTypeID">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                            @(Model.CropGroupId == PotatoGroupId?Resource.lblPotatoForCropType:Resource.lblCropTypeForPlan)
                        </govuk-radios-fieldset-legend>
                        <govuk-radios-hint>@Resource.lblSelectOneOption</govuk-radios-hint>
                        @if (ViewBag.CropTypeList != null)
                        {
                            @foreach (var item in ViewBag.CropTypeList)
                            {
                                <govuk-radios-item value="@item.CropTypeId">@item.CropType</govuk-radios-item>
                            }
                        }

                    </govuk-radios-fieldset>
                </govuk-radios>
            }

            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link"><a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a></p>
        </div>

    </div>
</form>