@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.PlanViewModel
@{
    int OtherGroupId = (int)NMP.Commons.Enums.CropGroup.Other;
    int potatoGroupId = (int)NMP.Commons.Enums.CropGroup.Potatoes;
    var heading = "";
    if (Model.CropGroupId == (int)NMP.Commons.Enums.CropGroup.Grass)
    {
        heading = Resource.lblWhichFieldsWouldYouLikeToAddToThisGrass;
    }
    else
    {
        heading = (string.Format(Resource.lblWhichFieldsDoYouPlanToGrow, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropType));
    }

    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {title}";

    var action = "";
    if (Model.IsCheckAnswer && (!Model.IsCropGroupChange) && (!Model.IsCropTypeChange))
    {
        action = "CheckAnswer";
    }
    else if (Model.CropGroupId == (int)NMP.Commons.Enums.CropGroup.Grass)
    {
        action = "CropGroups";
    }
    else
    {
        action = "CropTypes";
    }
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.CropWizardSteps.CropField;
}

@section BeforeContent {
    <govuk-back-link asp-action="@action" asp-controller="Crop">@Resource.lblBack</govuk-back-link>
}
<form asp-action="CropFields" asp-controller="Crop" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @if (TempData["ErrorOnSelectField"] != null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["ErrorOnSelectField"]</govuk-error-summary-item>
                </govuk-error-summary>
            </div>
        </div>
    }
    @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
           
            <govuk-checkboxes name="FieldList" for="@Model.FieldList" data-module="govuk-checkboxes">
                <govuk-checkboxes-fieldset>
                    @if (Model.CropGroupId == (int)NMP.Commons.Enums.CropGroup.Grass)
                    {
                        <govuk-checkboxes-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                            @Resource.lblWhichFieldsWouldYouLikeToAddToThisGrass
                        </govuk-checkboxes-fieldset-legend>
                    }
                    else
                    {
                        <govuk-checkboxes-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                            @(string.Format(Resource.lblWhichFieldsDoYouPlanToGrow, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropType))
                        </govuk-checkboxes-fieldset-legend>
                    }

                    <govuk-checkboxes-hint>
                        @Resource.lblSelectAllThatApply
                    </govuk-checkboxes-hint>
                    @if (ViewBag.fieldList != null)
                    {
                        @foreach (var item in ViewBag.fieldList)
                        {
                            <govuk-checkboxes-item value="@item.Value">
                                @item.Text
                            </govuk-checkboxes-item>
                        }
                    }

                    <govuk-checkboxes-divider>or</govuk-checkboxes-divider>
                    <govuk-checkboxes-item value="@Resource.lblSelectAll" id="select-all" name="select-all">
                        @Resource.lblSelectAll
                    </govuk-checkboxes-item>

                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>