@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.PlanViewModel
@{
    ViewData["Title"] = Resource.lblCropGroupForPlan;
    int otherGroupId = (int)NMP.Portal.Enums.CropGroup.Other;
    int grassGroupId = (int)NMP.Portal.Enums.CropGroup.Grass;

    var action = "HarvestYearForPlan";
    if (Model.IsCheckAnswer)
    {
        action = "CheckAnswer";
    }
    else if (Model.CopyExistingPlan != null)
    {
        action = "CopyExistingPlan";
    }
    else
    {
        action = "HarvestYearForPlan";
    }
}


@section BeforeContent {
    <govuk-back-link asp-action="@action" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblBack</govuk-back-link>
    @* <govuk-back-link asp-action="@(Model.IsCheckAnswer ? "CheckAnswer" :"HarvestYearForPlan")" asp-controller="Crop">@Resource.lblBack</govuk-back-link> *@
}
<form asp-action="CropGroups" asp-controller="Crop" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @if (TempData["CropGroupError"] != null)
    {
        <div class="govuk-grid-row">
            <govuk-error-summary>
                @if (TempData["CropGroupError"]?.ToString() == Resource.lblNoFieldsAreAvailable)
                {
                    <govuk-error-summary-item>
                        <h4 class="govuk-heading-s">@Resource.lblIncorrectSecondCropType</h4>
                        <p class="govuk-body-m">
                            @string.Format(Resource.lblYouCannotAddTheCropTypeSelectedAsASecondCrop, Model.Year)
                        </p>
                        <p class="govuk-body-s">
                            <a asp-action="AddField" asp-controller="Field" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@ViewBag.EncryptedHarvestYear">
                                @Resource.lblAddMoreField
                            </a>
                            <span> @Resource.lblSelectADifferentCrop </span>
                        </p>
                    </govuk-error-summary-item>

                }
                else
                {
                    <govuk-error-summary-item href="#">
                        @TempData["CropGroupError"]
                    </govuk-error-summary-item>

                }
            </govuk-error-summary>
        </div>
    }
    <div hidden="true">
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeID"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroup"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropType" value="@Model.CropType"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsEnglishRules"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Variety"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OtherCropName"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SowingDateQuestion"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.YieldQuestion"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo1"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo2"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo1Name"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo2Name"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCropGroupChange" value="@Model.IsCropGroupChange"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCropTypeChange" value="@Model.IsCropTypeChange"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAddAnotherCrop" value="@Model.IsAddAnotherCrop"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsPlanRecord" value="@Model.IsPlanRecord"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroupName"></govuk-input>

        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CurrentSward"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassSeason"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassGrowthClassDistinctCount" value="@Model.GrassGrowthClassDistinctCount"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassGrowthClassCounter" value="@Model.GrassGrowthClassCounter"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassGrowthClassEncryptedCounter" value="@Model.GrassGrowthClassEncryptedCounter"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassGrowthClassQuestion"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DryMatterYieldCounter"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DryMatterYieldEncryptedCounter"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SwardTypeId"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SwardManagementId"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PotentialCut"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationSequenceId"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedIsCropUpdate"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SowingDateCurrentCounter" value="@Model.SowingDateCurrentCounter"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SowingDateEncryptedCounter" value="@Model.SowingDateEncryptedCounter"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousCropGroupName"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromRecommendation" value="@Model.IsComingFromRecommendation.ToString().ToLower()"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldId"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedCropType"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedCropOrder"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CopyExistingPlan"></govuk-input>

        @if (Model.HarvestYear != null && Model.HarvestYear.Count > 0)
        {
            @for (int i = 0; i < Model.HarvestYear.Count; i++)
            {
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear[i].Year" value="@Model.HarvestYear[i].Year"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear[i].EncryptedYear" value="@Model.HarvestYear[i].EncryptedYear"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear[i].LastModifiedOn" value="@Model.HarvestYear[i].LastModifiedOn"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear[i].IsAnyPlan" value="@Model.HarvestYear[i].IsAnyPlan"></govuk-input>
            }
        }
        @if (Model.FieldList != null && Model.FieldList.Count > 0)
        {
            @for (int i = 0; i < Model.FieldList.Count; i++)
            {
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]"></govuk-input>
            }
        }

        @if (Model.Crops != null && Model.Crops.Count > 0)
        {
            @for (int i = 0; i < Model.Crops.Count; i++)
            {
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].ID" value="@Model.Crops[i].ID"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].FieldID" value="@Model.Crops[i].FieldID"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Year" value="@Model.Crops[i].Year"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropTypeID" value="@Model.Crops[i].CropTypeID"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].OtherCropName" value="@Model.Crops[i].OtherCropName"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Variety" value="@Model.Crops[i].Variety"></govuk-input>
                <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].SowingDate" value="@Model.Crops[i].SowingDate"></govuk-date-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Yield" value="@Model.Crops[i].Yield"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropInfo1" value="@Model.Crops[i].CropInfo1"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropInfo2" value="@Model.Crops[i].CropInfo2"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].FieldName" value="@Model.Crops[i].FieldName"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].EncryptedCounter" value="@Model.Crops[i].EncryptedCounter"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropOrder" value="@Model.Crops[i].CropOrder"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropGroupName" value="@Model.Crops[i].CropGroupName"></govuk-input>
            }

        }
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <govuk-radios asp-for="@Model.CropGroupId">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Resource.lblCropGroupForPlan
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-hint>@string.Format(Resource.lblTheseOptionsComeFromRB209, Resource.lblCropGroups)</govuk-radios-hint>

                    @if (ViewBag.CropGroupList != null)
                    {
                        @foreach (var item in ViewBag.CropGroupList)
                        {
                            @* @if (item.CropGroupId == grassGroupId)
                            {
                                <govuk-radios-item value="@item.CropGroupId" disabled="true">@item.CropGroupName</govuk-radios-item>
                            }
                            else
                            { *@
                            <govuk-radios-item value="@item.CropGroupId">@item.CropGroupName</govuk-radios-item>
                            @* } *@
                        }
                    }

                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>