@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.PlanViewModel
@{

    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{Resource.lblCropGroupForPlan} {Resource.lblHyphen} {title}";

    int otherGroupId = (int)NMP.Commons.Enums.CropGroup.Other;
    int grassGroupId = (int)NMP.Commons.Enums.CropGroup.Grass;

    int index = Model.HarvestYear.FindIndex(h => h.Year == Model.Year);

    var action = "HarvestYearForPlan";
    if (Model.IsCheckAnswer)
    {
        action = "CheckAnswer";
    }
    else if (index >= 0)
    {
        action = "CheckYourPlanData";
    }
    else
    {
        action = "HarvestYearForPlan";
    }
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.CropWizardSteps.CropGroup;

}


@section BeforeContent {
    @if (index >= 0 && index == Model.HarvestYear.Count - 1)
    {
        <govuk-back-link asp-action="PlansAndRecordsOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId">@Resource.lblBack</govuk-back-link>

    }
    else
    {
        <govuk-back-link asp-action="@action" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId" asp-route-year="@(index >= 0 ? Model.HarvestYear[index].EncryptedYear : null)">@Resource.lblBack</govuk-back-link>

    }

    @* <govuk-back-link asp-action="@action" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblBack</govuk-back-link> *@
    @* <govuk-back-link asp-action="@(Model.IsCheckAnswer ? "CheckAnswer" :"HarvestYearForPlan")" asp-controller="Crop">@Resource.lblBack</govuk-back-link> *@
}
<form asp-action="CropGroups" asp-controller="Crop" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @if (TempData["CropGroupError"] != null)
    {
        <div class="govuk-grid-row">
            <govuk-error-summary>
                @if (TempData["CropGroupError"]?.ToString() == Resource.lblNoFieldsAreAvailable)
                {
                    <govuk-error-summary-item>
                        @* <h4 class="govuk-heading-s">@Resource.lblIncorrectSecondCropType</h4> *@
                        <p class="govuk-body-m">
                            @string.Format(Resource.lblYouCannotAddTheCropTypeSelectedAsASecondCrop, Model.Year)
                        </p>
                        <p class="govuk-body-s">
                            <a asp-action="AddField" asp-controller="Field" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@ViewBag.EncryptedHarvestYear">
                                @Resource.lblAddMoreField
                            </a>
                            <span> @Resource.lblSelectADifferentCrop </span>
                        </p>
                    </govuk-error-summary-item>

                }
                else
                {
                    <govuk-error-summary-item href="#">
                        @TempData["CropGroupError"]
                    </govuk-error-summary-item>

                }
            </govuk-error-summary>
        </div>
    }
    @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <govuk-radios for="@Model.CropGroupId">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Resource.lblCropGroupForPlan
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-hint>@string.Format(Resource.lblTheseOptionsComeFromRB209, Resource.lblCropGroups)</govuk-radios-hint>

                    @if (ViewBag.CropGroupList != null)
                    {
                        @foreach (var item in ViewBag.CropGroupList)
                        {
                            @if (item.CropGroupId == grassGroupId && Model.FarmRB209CountryID == (int)NMP.Commons.Enums.RB209Country.Scotland)
                            {
                                <govuk-radios-item value="@item.CropGroupId" disabled="true">@item.CropGroupName</govuk-radios-item>
                            }
                            else
                            {
                                <govuk-radios-item value="@item.CropGroupId">@item.CropGroupName</govuk-radios-item>
                            }
                        }
                    }

                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>