@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.PlanViewModel
@{
    int otherGroupId = (int)NMP.Commons.Enums.CropGroup.Other;
    int PotatoGroupId = (int)NMP.Commons.Enums.CropGroup.Potatoes;
    var heading = "";
    if (Model.CropGroupId == otherGroupId)
    {
        heading = Resource.lblWhatIsTheNameOfTheCrop;
    }
    else
    {
        heading = (Model.CropGroupId == PotatoGroupId ? Resource.lblPotatoForCropType : Resource.lblCropTypeForPlan);
    }
    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {title}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.CropWizardSteps.CropType;

}

@section BeforeContent {
    <govuk-back-link asp-action="@(Model.IsCheckAnswer && (!Model.IsCropGroupChange) ? "CheckAnswer" : "CropGroups")" asp-controller="Crop">@Resource.lblBack</govuk-back-link>
}
<form asp-action="CropTypes" asp-controller="Crop" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @if (TempData["CropTypeError"] != null)
    {
        <govuk-error-summary>

            @if (TempData["CropTypeError"]?.ToString() == Resource.lblNoFieldsAreAvailable)
            {
                <govuk-error-summary-item>
                    @* <h4 class="govuk-heading-s">@Resource.lblIncorrectSecondCropType</h4> *@
                    <p class="govuk-body-m">
                        @string.Format(Resource.lblYouCannotAddTheCropTypeSelectedAsASecondCrop, Model.Year)
                    </p>
                    <p class="govuk-body-s">
                        <a asp-action="AddField" asp-controller="Field" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@ViewBag.EncryptedHarvestYear">
                            @Resource.lblAddMoreField
                        </a>
                        <span> @Resource.lblSelectADifferentCrop </span>
                    </p>
                </govuk-error-summary-item>

            }
            else
            {
                <govuk-error-summary-item href="#">
                    @TempData["CropTypeError"]
                </govuk-error-summary-item>

            }
        </govuk-error-summary>
    }
    @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (Model.CropGroupId == otherGroupId)
            {
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeID" />
                <govuk-input for="@Model.OtherCropName">
                    <govuk-input-label is-page-heading="true" class="govuk-label--l">@Resource.lblWhatIsTheNameOfTheCrop</govuk-input-label>
                </govuk-input>

            }
            else
            {
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OtherCropName" />
                <govuk-radios for="@Model.CropTypeID">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                            @(Model.CropGroupId == PotatoGroupId ? Resource.lblPotatoForCropType : Resource.lblCropTypeForPlan)
                        </govuk-radios-fieldset-legend>

                        <govuk-radios-hint>
                            <p>
                                @(Model.FarmRB209CountryID == (int)NMP.Commons.Enums.RB209Country.Scotland ?
                                                            Resource.lblSelectOneOptionTheseAreTheCropTypesFromTheSRUCTechnicalNotes : string.Format(Resource.lblTheseOptionsComeFromRB209, Model.CropGroupId == PotatoGroupId ? Resource.lblPotatoGroups : Resource.lblCroupTypes))
                        </p>
                        @if (Model.CropGroupId == PotatoGroupId)
                            {
                                <p>
                                    <a href="@Resource.UrlAHDBPotatoVarietyGroup" target="_blank">@Resource.lblHelpMeFindMyPotatoVarietyGroup</a>

                                    @Resource.lblOpensInANewTab
                                </p>
                            }
                        </govuk-radios-hint>

                        @if (ViewBag.CropTypeList != null)
                        {
                            @foreach (var item in ViewBag.CropTypeList)
                            {
                                <govuk-radios-item value="@item.CropTypeId">@item.CropType</govuk-radios-item>
                            }
                        }

                    </govuk-radios-fieldset>
                </govuk-radios>
            }

            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
                }
            </p>
        </div>

    </div>
</form>