@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.PlanViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{(Model.FieldList.Count == 1 ? Resource.lblIsThisANewSwardOrExistingSward : string.Format(Resource.lblAreTheseNewSwardOrExistingSwardInTheseFields, Resource.lblTheseFields))} {Resource.lblHyphen} {title}";

    int OtherGroupId = (int)NMP.Commons.Enums.CropGroup.Other;

    var valueNewSward = (int)NMP.Commons.Enums.CurrentSward.NewSward;
    var valueExistingSward = (int)NMP.Commons.Enums.CurrentSward.ExistingSward;
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.CropWizardSteps.CurrentSward;
}

@section BeforeContent {
    <govuk-back-link asp-action="@(Model.IsCheckAnswer&& (!Model.IsCropGroupChange) ? "CheckAnswer" :"CropGroupName")" asp-controller="Crop">@Resource.lblBack</govuk-back-link>
}
<form asp-action="CurrentSward" asp-controller="Crop" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @if (TempData["CropInfoOneError"] != null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["CropInfoOneError"]</govuk-error-summary-item>
                </govuk-error-summary>
            </div>
        </div>
    }
    @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <govuk-radios for="@Model.CurrentSward">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @(Model.FieldList.Count == 1 ? Resource.lblIsThisANewSwardOrExistingSward : string.Format(Resource.lblAreTheseNewSwardOrExistingSwardInTheseFields, Resource.lblTheseFields))
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-hint>
                        @Resource.lblAboutNewSward <br />
                        @Resource.lblSelectOneOption</govuk-radios-hint>

                    <govuk-radios-item value="@valueNewSward">@Resource.lblNewSwards</govuk-radios-item>
                    <govuk-radios-item value="@valueExistingSward">@Resource.lblExistingSwards</govuk-radios-item>

                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>