﻿@using NMP.Portal.Resources
@using System.Globalization
@using NMP.Portal.ViewModels

@model PlanViewModel
@{
    ViewData["Title"] = Resource.lblRemove;
    var yes = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.False);

}

@if (Model != null)
{

    @section BeforeContent {
    @if (Model.isComingFromRecommendation != null && Model.isComingFromRecommendation == false)
        {
            <govuk-back-link asp-action="Recommendations" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedFieldId" asp-route-s="@Model.EncryptedHarvestYear">
                @Resource.lblBack
            </govuk-back-link>
          
        }
        else
        {
            @if (Model.FieldList != null && Model.FieldList.Count > 0)
            {
                <govuk-back-link asp-action="OrganicManureFieldRemove" asp-controller="Crop" asp-route-q="@Model.EncryptedId">@Resource.lblBack</govuk-back-link>
            }
            else
            {
                <govuk-back-link asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
            }
        }
        <form asp-action="DeletePlanOrganicAndFertiliser" asp-controller="Crop" method="post" autocomplete="off">
            @Html.AntiForgeryToken()
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DeletedAction" value="@Model.DeletedAction"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedId" value="@Model.EncryptedId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldName" value="@Model.EncryptedFieldName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName" value="@Model.FieldName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.isComingFromRecommendation" value="@Model.isComingFromRecommendation.ToString().ToLower()"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldId" value="@Model.EncryptedFieldId"></govuk-input>
            @if (Model.organicManureIds != null && Model.organicManureIds.Count > 0)
            {
                @for (int i = 0; i < Model.organicManureIds.Count; i++)
                {
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.organicManureIds[i]" value="@Model.organicManureIds[i]"></govuk-input>
                }
            }
            @if (Model.SelectedField != null && Model.SelectedField.Count > 0)
            {
                @for (int i = 0; i < Model.SelectedField.Count; i++)
                {
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SelectedField[i]" value="@Model.SelectedField[i]"></govuk-input>
                }
            }
            @if (Model.FieldList != null && Model.FieldList.Count > 0)
            {
                @for (int i = 0; i < Model.FieldList.Count; i++)
                {
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]"></govuk-input>
                }
            }
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    @if (TempData["DeletePlanOrganicAndFertiliserError"] != null)
                    {
                        <govuk-error-summary>
                            <govuk-error-summary-item href="#">@TempData["DeletePlanOrganicAndFertiliserError"]</govuk-error-summary-item>
                        </govuk-error-summary>
                    }

                    <h1 class="govuk-heading-l">@(string.Format(Resource.lblRemoveAnApplicationOfManureForHarvestYear, ViewBag.RemoveContent, Model.Year))</h1>

                    <govuk-inset-text>
                        @ViewBag.RemoveContent2
                    </govuk-inset-text>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th id="field_name" scope="col" class="govuk-table__header">@Resource.MsgDeletePlanOrganicAndFertiliserContent2</th>
                                @if (Model.SelectedField != null)
                                {
                                    <td class="govuk-table__cell">
                                        @foreach (var item in Model.SelectedField)
                                        {
                                            @item <br />
                                        }
                                    </td>
                                }
                                @if (Model.FieldList != null && Model.FieldList.Count > 0)
                                {
                                    <td class="govuk-table__cell">
                                        <a asp-action="OrganicManureFieldRemove" asp-controller="Crop" asp-route-q="@Model.EncryptedId">@Resource.lblChange</a>
                                    </td>
                                }
                            </tr>
                        </thead>
                    </table>
                    <govuk-button type="submit" class="margin-bottom-forty">
                        @Resource.lblRemove
                    </govuk-button>

                    <p class="govuk-body cancel-link"><a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblCancel</a></p>
                </div>
            </div>
        </form>

    }
}