@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.PlanViewModel
@{
    var heading = (Model.GrassGrowthClassQuestion == (int)NMP.Commons.Enums.YieldQuestion.EnterASingleFigureForAllTheseFields ? string.Format(Resource.lblWhatIsTheTotalTargetDryMatterYieldForFields, Model.Crops[0].Year) : string.Format(Resource.lblWhatIsTheTotalTargetDryMatterYieldFor, Model.Crops[Model.DryMatterYieldCounter].FieldName, Model.Crops[Model.DryMatterYieldCounter].Year));
    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {title}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.CropWizardSteps.DryMatterYield;
}

@section BeforeContent {
    <govuk-back-link asp-action=@(Model.IsCheckAnswer && (!Model.IsAnyChangeInField) && (!Model.IsCropGroupChange) && (!Model.IsCurrentSwardChange) ? "CheckAnswer" : "DryMatterYield") asp-controller="Crop" asp-route-q="@Model.DryMatterYieldEncryptedCounter">@Resource.lblBack</govuk-back-link>
}
<form asp-action="DryMatterYield" asp-controller="Crop" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @if (TempData["DryMatterYieldError"] != null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["DryMatterYieldError"]</govuk-error-summary-item>
                </govuk-error-summary>
            </div>
        </div>
    }
    @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)
    @if (Model.Crops != null && Model.Crops.Count > 0)
    {
        @for (int i = 0; i < Model.Crops.Count; i++)
        {
            @if (i == Model.DryMatterYieldCounter)
            {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">

                        <govuk-radios for="@Model.Crops[i].Yield">
                            <govuk-radios-fieldset>
                                <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                                    @(Model.GrassGrowthClassQuestion == (int)NMP.Commons.Enums.YieldQuestion.EnterASingleFigureForAllTheseFields ? string.Format(Resource.lblWhatIsTheTotalTargetDryMatterYieldForFields, Model.Crops[0].Year) : string.Format(Resource.lblWhatIsTheTotalTargetDryMatterYieldFor, Model.Crops[i].FieldName, Model.Crops[i].Year))
                                </govuk-radios-fieldset-legend>
                                <govuk-radios-hint>@Resource.lblThisShouldBeWithinTheFollowingRange</govuk-radios-hint>
                                @if (ViewBag.YieldRanges != null)
                                {
                                    @foreach (var yieldRanges in ViewBag.YieldRanges)
                                    {
                                        var modelYieldInt = (int)Math.Floor(Convert.ToDecimal(Model.Crops[i].Yield));
                                        bool isSelected = modelYieldInt == yieldRanges.YieldId;

                                        <govuk-radios-item value="@yieldRanges.YieldId" checked="@(isSelected)">
                                            @(string.Concat(yieldRanges.YieldId.ToString(), " ", Resource.lblTonnesPerHectare))
                                        </govuk-radios-item>
                                    }

                                }
                            </govuk-radios-fieldset>
                        </govuk-radios>

                    </div>
                </div>
            }
            else
            {
                <div hidden="true">
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Yield" value="@Model.Crops[i].Yield"/>
                </div>
            }
        }

    }

    <govuk-button type="submit" class="margin-bottom-forty">
        @Resource.lblContinue
    </govuk-button>

    <p class="govuk-body cancel-link">
        @if (!Model.IsCheckAnswer)
        {
            <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
        }
        else
        {
            <a asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
        }
    </p>

</form>