@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.PlanViewModel
@{
    ViewData["Title"] = Resource.lblRainfall;
}

@section BeforeContent {
    <govuk-back-link asp-action="ExcessWinterRainFall" asp-controller="Crop">@Resource.lblBack</govuk-back-link>
}
<govuk-notification-banner>
    <govuk-notification-banner-title>
        @Resource.lblImportant
    </govuk-notification-banner-title>
    <p class="govuk-body"> Work is in costruction.</p>
</govuk-notification-banner>
@* <div class="govuk-grid-row">
    <form asp-action="ExcessWinterRainfallCheckAnswer" asp-controller="Crop" method="post" novalidate="">
        <div class="govuk-grid-column-two-thirds-from-desktop">

            <h1 class="govuk-heading-l">
                @Resource.lblCheckYourAnswers
            </h1>

            <h2 class="govuk-heading-m">
                @string.Concat(Resource.lblHarvestYear, "", Model.Year)
            </h2>

            <div class="check-answers">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">@string.Format(Resource.lblExcessWinterRainfallContentOne, Model.FarmName)</dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ExcessWinterRainfallName
                        </dd>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" asp-action="ExcessWinterRainFall" asp-controller="Crop">@Resource.lblChange</a></dd>
                    </div>
                </dl>
            </div>


            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblUpdate
            </govuk-button>

            <p class="govuk-body">
                <a>@Resource.lblCancel</a>
            </p>
        </div>
    </form>
</div> *@