@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.PlanViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{string.Format(Resource.lblExcessWinterRainfallContentOne, Model.FarmName)} {Resource.lblHyphen} {title}";
}

@section BeforeContent {
    <govuk-back-link asp-action="UpdateExcessWinterRainfall" asp-controller="Crop">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (TempData["ExcessWinterRainfallError"] != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ExcessWinterRainfallError"]</govuk-error-summary-item>
            </govuk-error-summary>
        }
        @* <h1 class="govuk-heading-l">
            @string.Format(Resource.lblExcessWinterRainfallContentOne, Model.FarmName)
        </h1> *@

        
        <form asp-action="ExcessWinterRainfall" asp-controller="Crop" method="post" autocomplete="off">
            @Html.AntiForgeryToken()
            <div hidden="true">
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AnnualRainfall"/>
                @* <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ExcessWinterRainfall"/> *@
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsExcessWinterRainfallUpdated"/>
            </div>
            <govuk-radios asp-for="@Model.ExcessWinterRainfallId">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblExcessWinterRainfallContentOne, Model.FarmName)
                    </govuk-radios-fieldset-legend>                    
                    <govuk-radios-hint>
                        <p class="govuk-body">
                            @Resource.lblExcessWinterRainfallContentSecond
                            <a target="_blank" href="https://ahdb.org.uk/knowledge-library/how-to-use-excess-winter-rainfall-data-to-plan-nitrogen-applications">@Resource.lblExcessWinterRainfallContentThird</a> @Resource.lblOpenInANewWindow
                        </p>
                    </govuk-radios-hint>
                    @if (ViewBag.ExcessRainFallOptions != null)
                    {
                        @foreach (var item in ViewBag.ExcessRainFallOptions)
                        {
                            <govuk-radios-item value="@item.Value">@item.Text</govuk-radios-item>
                        }
                    }

                </govuk-radios-fieldset>
            </govuk-radios>

            <fieldset class="govuk-fieldset">
                <button class="govuk-button" data-module="govuk-button">Continue</button>
            </fieldset>

            <p class="govuk-body cancel-link"><a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">Cancel</a></p>

        </form>
    </div>
</div>