@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.PlanViewModel
@{
    string title = string.Format(Resource.lblExcessWinterRainfallContentOne, Model.FarmName);
    ViewData["Title"] = $"{Resource.lblCheckYourAnswers} {Resource.lblHyphen} {title}";
}

@section BeforeContent {
    <govuk-back-link asp-action="ExcessWinterRainFall" asp-controller="Crop">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    @if (TempData["ExcessWinterRainfallCheckAnswerError"] != null)
    {
        <govuk-error-summary>
            <govuk-error-summary-item href="#">@TempData["ExcessWinterRainfallCheckAnswerError"]</govuk-error-summary-item>
        </govuk-error-summary>
    }
    <form class="form-with-overlay" asp-action="ExcessWinterRainfallCheckAnswer" asp-controller="Crop" method="post" novalidate="">
        @Html.AntiForgeryToken()
        <div hidden="true">
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AnnualRainfall"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ExcessWinterRainfallId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsExcessWinterRainfallCheckAnswer"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ExcessWinterRainfallName" value="@Model.ExcessWinterRainfallName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ExcessWinterRainfallValue" value="@Model.ExcessWinterRainfallValue"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsExcessWinterRainfallUpdated"/>
        </div>
        <div class="govuk-grid-column-two-thirds-from-desktop">

            <h1 class="govuk-heading-l">
                @Resource.lblCheckYourAnswers
            </h1>

            <h2 class="govuk-heading-m">
                @string.Concat(Resource.lblHarvestYear, " ", Model.Year)
            </h2>

            <div class="check-answers">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">@string.Format(Resource.lblExcessWinterRainfallContentOne, Model.FarmName)</dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ExcessWinterRainfallName
                        </dd>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" asp-action="ExcessWinterRainFall" asp-controller="Crop">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblExcessWinterRainfallContentOne, Model.FarmName)</span></a></dd>
                    </div>
                </dl>
            </div>


            <govuk-button type="submit" class="margin-bottom-forty" prevent-double-click="true">
                @Resource.lblUpdate
            </govuk-button>

            <p class="govuk-body cancel-link"><a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblCancel</a></p>
        </div>
    </form>
</div> 