@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.PlanViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{string.Format(Resource.lblWhenIsTheSwardInTheseFields, (Model.FieldList.Count == 1 ? Model.Crops[0].FieldName : Resource.lblTheseFields), Model.Year)} {Resource.lblHyphen} {title}";

    int OtherGroupId = (int)NMP.Commons.Enums.CropGroup.Other;
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.CropWizardSteps.GrassSeason;
}

@section BeforeContent {
    <govuk-back-link asp-action="@(Model.IsCheckAnswer && (!Model.IsCropGroupChange) && (!Model.IsCurrentSwardChange) ? "CheckAnswer" : "CurrentSward")" asp-controller="Crop">@Resource.lblBack</govuk-back-link>
}
<form asp-action="GrassSeason" asp-controller="Crop" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @if (TempData["CropInfoOneError"] != null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["CropInfoOneError"]</govuk-error-summary-item>
                </govuk-error-summary>
            </div>
        </div>
    }
    @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <govuk-radios for="@Model.GrassSeason">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblWhenIsTheSwardInTheseFields, (Model.FieldList.Count == 1 ? Model.Crops[0].FieldName : Resource.lblTheseFields), Model.Year)
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-hint>@Resource.lblSelectOneOption</govuk-radios-hint>
                    @if (ViewBag.GrassSeason != null)
                    {
                        foreach (var season in ViewBag.GrassSeason)
                        {
                            <govuk-radios-item value="@season.SeasonId">@season.SeasonName</govuk-radios-item>
                        }
                    }

                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>