@using NMP.Portal.Resources
@using NMP.Portal.ServiceResponses
@model NMP.Portal.ViewModels.PlanViewModel
@{
    ViewData["Title"] = Resource.lblGrassGrowthClass;


    int OtherGroupId = (int)NMP.Portal.Enums.CropGroup.Other;

    var EnterDifferentFiguresForEachField = (int)NMP.Portal.Enums.YieldQuestion.EnterDifferentFiguresForEachField;
    var EnterASingleFigureForAllTheseFields = (int)NMP.Portal.Enums.YieldQuestion.EnterASingleFigureForAllTheseFields;
    
}

@section BeforeContent {
    <govuk-back-link asp-action=@(Model.IsCheckAnswer&& (!Model.IsAnyChangeInField)&& (!Model.IsCropGroupChange) ? "CheckAnswer" :"GrassGrowthClass") asp-controller="Crop" asp-route-q="@Model.GrassGrowthClassEncryptedCounter">@Resource.lblBack</govuk-back-link>
}
<form asp-action="GrassGrowthClass" asp-controller="Crop" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @if (TempData["CropInfoOneError"] != null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["CropInfoOneError"]</govuk-error-summary-item>
                </govuk-error-summary>
            </div>
        </div>
    }
    <div hidden="true">
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeID"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroupId"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroup"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropType"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsEnglishRules"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Variety"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OtherCropName"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SowingDateQuestion"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldID" value="@Model.FieldID"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.YieldQuestion"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.YieldCurrentCounter" value="@Model.YieldCurrentCounter"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.YieldEncryptedCounter" value="@Model.YieldEncryptedCounter"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SowingDateCurrentCounter"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SowingDateEncryptedCounter" value="@Model.SowingDateEncryptedCounter"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo1"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo1Name" value="@Model.CropInfo1Name"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo2Name" value="@Model.CropInfo2Name"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCropGroupChange" value="@Model.IsCropGroupChange"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCropTypeChange" value="@Model.IsCropTypeChange"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAddAnotherCrop" value="@Model.IsAddAnotherCrop"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsPlanRecord" value="@Model.IsPlanRecord"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroupName"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo2"></govuk-input>

    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassSeason"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CurrentSward"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassGrowthClassDistinctCount" value="@Model.GrassGrowthClassDistinctCount"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassGrowthClassCounter" value="@Model.GrassGrowthClassCounter"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassGrowthClassEncryptedCounter" value="@Model.GrassGrowthClassEncryptedCounter"></govuk-input>
    @* <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassGrowthClassQuestion"></govuk-input> *@
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DryMatterYieldCounter"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DryMatterYieldEncryptedCounter"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SwardTypeId"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SwardManagementId"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PotentialCut"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationSequenceId"></govuk-input>
    
    @if (Model.FieldList != null && Model.FieldList.Count > 0)
    {
        @for (int i = 0; i < Model.FieldList.Count; i++)
        {
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]"></govuk-input>
        }
    }
    </div>
    @if (Model.Crops != null && Model.Crops.Count > 0)
    {
        @for (int i = 0; i < Model.Crops.Count; i++)
        {
            <div hidden="true">
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].FieldID" value="@Model.Crops[i].FieldID"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Year" value="@Model.Crops[i].Year"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropTypeID" value="@Model.Crops[i].CropTypeID"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].OtherCropName" value="@Model.Crops[i].OtherCropName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Variety" value="@Model.Crops[i].Variety"></govuk-input>
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].SowingDate" value="@Model.Crops[i].SowingDate"></govuk-date-input>
            @* <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Yield" value="@Model.Crops[i].Yield"></govuk-input> *@
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropInfo1" value="@Model.Crops[i].CropInfo1"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].FieldName" value="@Model.Crops[i].FieldName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].EncryptedCounter" value="@Model.Crops[i].EncryptedCounter"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropOrder" value="@Model.Crops[i].CropOrder"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropGroupName" value="@Model.Crops[i].CropGroupName"></govuk-input>
            </div>
            @if (1 == 1)
            {
                
            }
            @if(i==Model.GrassGrowthClassCounter)
            {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        @if (Model.Crops.Count > 1 && Model.GrassGrowthClassDistinctCount == 1)
                        {
                            <h1 class="govuk-heading-l">
                                @Resource.lblAnnualDryMatterYield
                            </h1>
                        }
                        @if (Model.Crops.Count == 1 || Model.GrassGrowthClassDistinctCount > 1)
                        {
                            <h1 class="govuk-heading-l">
                                @string.Format(Resource.lblTargetDryMatterYieldForField, Model.FieldName)
                            </h1>
                        }
                        <p class="govuk-body">@Resource.lblWeUseTheTargetAnnaulDryMatterYieldToGiveNitrogenRecommendationsForGrass</p>

                        <h2 class="govuk-heading-m">@Resource.lblGrassGrowthClass</h2>
                        <div class="text_group">

                            @if (Model.Crops.Count > 1 && Model.GrassGrowthClassDistinctCount == 1)
                            {
                                <p class="govuk-body">@Resource.lblBasedOnYourDataTheGrassGrowthClassForTheseField</p>
                            }
                            @if (Model.Crops.Count == 1 || Model.GrassGrowthClassDistinctCount > 1)
                            {
                                <p class="govuk-body">@string.Format(Resource.lblBasedOnYourDataTheGrassGrowthClassForXField, Model.FieldName)</p>
                            }
                            @if (ViewBag.GrassGrowthClass != null)
                            {
                                <p class="govuk-body strong"><b>@ViewBag.GrassGrowthClass</b></p>
                            }

                        </div>
                        @if (Model.Crops.Count == 1 || Model.GrassGrowthClassDistinctCount > 1)
                        {
                            <p class="govuk-body">@Resource.lblThisGivesTheFollowingRangeForAnnualDryMatterYield</p>
                            @if (ViewBag.YieldMin != null && ViewBag.YieldMax != null)
                            {
                                <p class="govuk-body"><b>@string.Format(Resource.lblDryMatterYieldRangeTonnesPerHectare, ViewBag.YieldMin.Yield, ViewBag.YieldMax.Yield)</b></p>
                            }

                            <govuk-radios asp-for="@Model.Crops[i].Yield">
                                <govuk-radios-fieldset>
                                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--m">
                                        @string.Format(Resource.lblWhatIsTheTotalTargetDryMatterYieldForField, Model.FieldName, Model.Crops[0].Year)
                                    </govuk-radios-fieldset-legend>
                                    <govuk-radios-hint>@Resource.lblSelectOneOption</govuk-radios-hint>
                                    @if(ViewBag.YieldRanges != null)
                                    {

                                        @foreach (var yieldRanges in ViewBag.YieldRanges)
                                        {
                                            var modelYieldInt = (int)Math.Floor(Convert.ToDecimal(Model.Crops[i].Yield));
                                            bool isSelected = modelYieldInt == yieldRanges.Yield;

                                            <govuk-radios-item value="@yieldRanges.Yield" checked="@(isSelected)">
                                                @(string.Concat(yieldRanges.Yield.ToString(), " ", Resource.lblTonnesPerHectare))
                                            </govuk-radios-item>
                                        }

                                        @* @foreach (var yieldRanges in ViewBag.YieldRanges)
                                        {
                                            <govuk-radios-item value="@yieldRanges.Yield">@(string.Concat(yieldRanges.Yield.ToString()," "+ Resource.lblTonnesPerHectare))</govuk-radios-item>
                                        } *@
                                    }
                                    

                                </govuk-radios-fieldset>
                            </govuk-radios>

                        }
                        @if (Model.Crops.Count > 1 && Model.GrassGrowthClassDistinctCount == 1)
                        {
                            <p class="govuk-body">@Resource.lblThisGrowthClassGivesARangeForAnnualDryMatterYieldOf</p>
                            @if (ViewBag.YieldMin != null && ViewBag.YieldMax != null)
                            {
                                <p class="govuk-body"><b>@string.Format(Resource.lblDryMatterYieldRangeTonnesPerHectare, ViewBag.YieldMin.Yield, ViewBag.YieldMax.Yield)</b></p>
                            }

                            <govuk-radios asp-for="@Model.GrassGrowthClassQuestion">
                                <govuk-radios-fieldset>
                                    <govuk-radios-fieldset-legend is-page-heading="false">
                                        <b>@Resource.lblDoYouWantToEnterTheSameTargetYieldForTheseFields</b>
                                    </govuk-radios-fieldset-legend>

                                    <govuk-radios-item value="@EnterASingleFigureForAllTheseFields">@Resource.lblYesEnterTheSameTargetYieldForTheseFields</govuk-radios-item>
                                    <govuk-radios-item value="@EnterDifferentFiguresForEachField">@Resource.lblNoEnterADifferentTargetYieldForEachFields</govuk-radios-item>
                                </govuk-radios-fieldset>
                            </govuk-radios>

                        }

                    </div>

                </div>
            }
            else
            {
                <div hidden="true">
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[@i].Yield" value="@Model.Crops[i].Yield"></govuk-input>
                </div>
            }

        }

    }
    <govuk-button type="submit" class="margin-bottom-forty">
        @Resource.lblContinue
    </govuk-button>

    <p class="govuk-body cancel-link">
        @if (!Model.IsCheckAnswer)
        {
            <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
        }
        else
        {
     <a asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
        }
    </p>

    
</form>