@using NMP.Portal.Enums
@using NMP.Portal.Resources
@using NMP.Portal.ViewModels
@using System.Globalization
@model PlanViewModel
@{
    ViewData["Title"] = Resource.lblHarvestYearOverview;
}

@if (TempData["ErrorOnHarvestYearOverview"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnHarvestYearOverview"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>


}
@if (Model != null)
{
    @section BeforeContent {
        <govuk-breadcrumbs class="govuk-breadcrumbs-link">

            <govuk-breadcrumbs-item asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                @Model.FarmName
            </govuk-breadcrumbs-item>
            <govuk-breadcrumbs-item asp-action="PlansAndRecordsOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">
                @Resource.lblPlanningAndRecording
            </govuk-breadcrumbs-item>
            <govuk-breadcrumbs-item class="govuk-breadcrumbs__list-item">
                @string.Format("{0} {1}", Resource.lblHarvestYears, Model.Year)
            </govuk-breadcrumbs-item>
        </govuk-breadcrumbs>
    }
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (ViewBag.Success != null && ViewBag.Success == true && TempData["successMsg"] != null)
            {
                <govuk-notification-banner type="Success">
                    <p class="govuk-notification-banner__heading">
                        @TempData["successMsg"]
                    </p>
                    @if (TempData["successMsgSecond"] != null)
                    {
                        <p class="govuk-body">
                            @TempData["successMsgSecond"]
                        </p>
                    }
                    @if (TempData["successMsgLink"] != null)
                    {
                        <p class="govuk-body">
                            <a asp-action="Recommendations" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@TempData["successMsgLink"]" asp-route-s="@Model.EncryptedHarvestYear">
                                @string.Format(Resource.MsgViewFieldUpdatedNutrientRecommendations, TempData["fieldName"])
                            </a>
                        </p>
                    }
                </govuk-notification-banner>
            }
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-grid-column-full">
            <h1 class="govuk-heading-l">@string.Format(Resource.lblPlanHeader, Model.FarmName, Model.Year)</h1>
            <p class="govuk-body">
                @string.Format(Resource.lblLastUpdated, Model.LastModifiedOn)
                @string.Format(Resource.lblThereAreFieldsInThisPlan, Model.FieldCount)
            </p>
            <p class="govuk-body">
                @if (Model.AnnualRainfall != null)
                {
                    @ViewBag.ExcessRainfallContentFirst
                    <a asp-action="UpdateExcessWinterRainfall" asp-controller="Crop">@ViewBag.ExcessRainfallContentSecond</a>
                }
            </p>
            <p class="govuk-body pb-25">
                <a asp-action="ReportOptions" asp-controller="Report" asp-route-f="@Model.EncryptedFarmId" asp-route-h="@Model.EncryptedHarvestYear">@Resource.lblDownloadPrintOrExportThisPlan</a>
            </p>

            @if (Model.HarvestYearPlans != null)
            {
                <govuk-tabs>
                    <govuk-tabs-item id="CropAndFields" label=@Resource.lblCropsAndFields>
                        <h2 class="govuk-heading-m non-standard">@Resource.lblCropsAndFields</h2>
                        <a class="govuk-button add-button" asp-action="HarvestYearForPlan" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblAddACropGroup  </a>
                        <hr class="seperator_five">

                        <!-- Crops Table -->
                        @if (Model.HarvestYearPlans.FieldData != null)
                        {
                            @foreach (var harvestYearPlan in Model.HarvestYearPlans.FieldData)
                            {
                                <div class="tab-left margin-bottom-thirty">
                                    <h2 class="govuk-heading-m margin-bottom-ten">
                                        @harvestYearPlan.CropTypeName
                                        @if (!string.IsNullOrWhiteSpace(harvestYearPlan.CropGroupName))
                                        {
                                            <span class="nonbold">@string.Concat(Resource.lblHyphen, " ", harvestYearPlan.CropGroupName)</span>
                                        }
                                    </h2>
                                    <p class="govuk-body"></p>
                                </div>
                                <a class=" govuk-button govuk-button--secondary" asp-action="CheckAnswer" asp-controller="Crop" asp-route-q="@harvestYearPlan.EncryptedCropTypeName" asp-route-r="@harvestYearPlan.EncryptedCropGroupName" asp-route-t="@Model.EncryptedHarvestYear" asp-route-u="@Model.EncryptedFarmId">@Resource.lblUpdateThisGroup</a>
                                @* <a class=" govuk-button govuk-button--secondary" asp-action="RemoveCrop" asp-controller="Crop" asp-route-q="@harvestYearPlan.EncryptedCropTypeName" asp-route-r="@harvestYearPlan.EncryptedCropGroupName">@Resource.lblRemoveThisGroup</a> *@
                                <div class="tab-right">

                                    @* <govuk-button type="submit" class="govuk-button--secondary update-button">
                    @Resource.lblUpdateThisGroup
                    </govuk-button> *@
                                </div>
                                @* big_crop_table_version_five *@
                                <table class="govuk-table big_crop_table_version_five margin-bottom-forty">
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header field-name">@Resource.lblField</th>
                                            <th scope="col" class="govuk-table__header field-name">@Resource.lblPlantingDate</th>
                                            <th scope="col" class="govuk-table__header field-name">@Resource.lblYieldPerHectare</th>
                                            <th scope="col" class="govuk-table__header">
                                                @if (harvestYearPlan.CropTypeID == (int)NMP.Portal.Enums.CropTypes.Grass)
                                                {
                                                    @Resource.lblManagement
                                                }
                                                else
                                                {
                                                    @Resource.lblVarietyForRecommendation
                                                }
                                            </th>
                                            <th scope="col" class="govuk-table__header">@Resource.lblAction</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (harvestYearPlan.FieldData != null)
                                        {
                                            @foreach (var field in harvestYearPlan.FieldData)
                                            {
                                                <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">@field.FieldName</td>
                                                    <td class="govuk-table__cell">
                                                        @if (field.PlantingDate != null)
                                                        {
                                                            @field.PlantingDate.Value.ToLocalTime().Date.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("en-GB"))
                                                        }
                                                        else
                                                        {
                                                            @Resource.lblNotEntered
                                                        }
                                                    </td>

                                                    <td class="govuk-table__cell">
                                                        @if (field.Yield != null)
                                                        {
                            @(string.Format("{0:N1} {1}", (field.Yield % 1 == 0 ? string.Format("{0:N0}", (int)field.Yield) : string.Format("{0:N1}", field.Yield)), Resource.lbltonnes))
                                                        }
                                                        else
                                                        {
                                                            @Resource.lblNotEntered
                                                        }
                                                    </td>
                                                    <td class="govuk-table__cell">
                                                        @if (harvestYearPlan.CropTypeID == (int)NMP.Portal.Enums.CropTypes.Grass)
                                                        {
                                                            @(string.IsNullOrWhiteSpace(field.Management) ? Resource.lblNotEntered : field.Management)
                                                        }
                                                        else
                                                        {
                                                            @(string.IsNullOrWhiteSpace(field.Variety) ? Resource.lblNotEntered : field.Variety)
                                                        }


                                                    </td>
                                                    <td class="govuk-table__cell">
                                                        <a asp-action="Recommendations" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@field.EncryptedFieldId" asp-route-s="@Model.EncryptedHarvestYear">
                                                            @Resource.lblUpdateThisFieldOrViewRecommendations
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            }
                        }
                    </govuk-tabs-item>
                    <govuk-tabs-item id="OrganicMaterialApplications" label=@Resource.lblOrganicMaterialApplications>
                        <h2 class="govuk-heading-m non-standard">@Resource.lblOrganicMaterialApplications</h2>
                        @if (ViewBag.AddMannerDisabled != null && ViewBag.AddMannerDisabled)
                        {
                            <a class="govuk-button disabled add-button" asp-action="FieldGroup" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblAddAnOrganicMaterialApplication</a>
                        }
                        else
                        {
                            <a class="govuk-button add-button" asp-action="FieldGroup" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblAddAnOrganicMaterialApplication</a>
                        }
                        @if (Model.HarvestYearPlans != null && Model.HarvestYearPlans.OrganicManureList != null && Model.HarvestYearPlans.OrganicManureList.Any())
                        {
                            <hr class="seperator_five">
                            <h2 class="govuk-heading-m">@string.Format(Resource.lblAllOrganicMaterialApplicationsForHarvestYear, Model.Year)</h2>
                            <p class="govuk-body">@Resource.lblAllAmountsArePerHectare</p>
                            <p class="govuk-body">
                                <a asp-action="SortOrganicList" asp-controller="Crop" asp-route-q="@ViewBag.OrganicListSortByDate" asp-route-r="@Model.EncryptSortOrganicListOrderByDate" asp-route-year="@Model.EncryptedHarvestYear" asp-route-id="@Model.EncryptedFarmId">@Resource.lblSortByApplicationDate</a>
                                <span>&nbsp;</span>  or <span>&nbsp;</span>
                                <a asp-action="SortOrganicList" asp-controller="Crop" asp-route-q="@ViewBag.OrganicListSortByFieldName" asp-route-r="@Model.EncryptSortOrganicListOrderByFieldName" asp-route-year="@Model.EncryptedHarvestYear" asp-route-id="@Model.EncryptedFarmId">@Resource.lblSortByFieldName</a>
                                <span>&nbsp;</span>  or <span>&nbsp;</span>
                                <a asp-action="SortOrganicList" asp-controller="Crop" asp-route-q="@ViewBag.OrganicListSortByCropType" asp-route-r="@Model.EncryptSortOrganicListOrderByCropType" asp-route-year="@Model.EncryptedHarvestYear" asp-route-id="@Model.EncryptedFarmId">@Resource.lblSortByCropType</a>

                            </p>
                            <!-- Organic Table -->

                            <table class="govuk-table sortable-table recomendation-table data-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">
                                            @((Model.SortOrganicListOrderByDate != null && Model.SortOrganicListOrderByDate == Resource.lblDesc)
                                                                            ? string.Format(Resource.lblApplicationDateWithArrow, Resource.lblDescSign)
                                                                            : (Model.SortOrganicListOrderByDate != null && Model.SortOrganicListOrderByDate == Resource.lblAsc)
                                                                            ? string.Format(Resource.lblApplicationDateWithArrow, Resource.lblAscSign)
                                                                            : Resource.lblApplicationDate)
                                                                                                      </th>
                                                                                                      <th scope="col" class="govuk-table__header">
                                            @((Model.SortOrganicListOrderByFieldName != null && Model.SortOrganicListOrderByFieldName == Resource.lblDesc)
                                                                            ? string.Format(Resource.lblFieldWithArrow, Resource.lblDescSign)
                                                                            : (Model.SortOrganicListOrderByFieldName != null && Model.SortOrganicListOrderByFieldName == Resource.lblAsc)
                                                                            ? string.Format(Resource.lblFieldWithArrow, Resource.lblAscSign)
                                                                            : Resource.lblField)
                                                                                            </th>
                                                                                            <th scope="col" class="govuk-table__header">
                                            @((Model.SortOrganicListOrderByCropType != null && Model.SortOrganicListOrderByCropType == Resource.lblDesc)
                                                                            ? string.Format("{0} {1}", Resource.lblCrop, Resource.lblDescSign)
                                                                            : (Model.SortOrganicListOrderByCropType != null && Model.SortOrganicListOrderByCropType == Resource.lblAsc)
                                                                            ? string.Format("{0} {1}", Resource.lblCrop, Resource.lblAscSign)
                                                                            : Resource.lblCrop)
                            </th>
                            <th scope="col" class="govuk-table__header">@Resource.lblType</th>
                            <th scope="col" class="govuk-table__header">@Resource.lblRate</th>
                            <th scope="col" class="govuk-table__header"></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var organicManure in Model.HarvestYearPlans.OrganicManureList)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">@organicManure.ApplicationDate.Value.ToLocalTime().Date.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("en-GB"))</td>
                                            <td class="govuk-table__cell">@organicManure.Field</td>
                                            <td class="govuk-table__cell">@organicManure.Crop</td>
                                            <td class="govuk-table__cell">@organicManure.TypeOfManure</td>
                                            <td class="govuk-table__cell">
                                                @string.Format("{0} {1}", organicManure.Rate, organicManure.RateUnit)
                                            </td>
                                            <td class="govuk-table__cell"><a asp-action="CheckAnswer" asp-controller="OrganicManure" asp-route-q="@organicManure.EncryptedId" asp-route-r="@Model.EncryptedFarmId" asp-route-s="@Model.EncryptedHarvestYear" asp-route-t="@organicManure.EncryptedFieldName">@Resource.lblViewOrChange</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }


                    </govuk-tabs-item>
                    <govuk-tabs-item id="InorganicFertiliserApplications" label=@Resource.lblInorganicFertiliserApplications>
                        <h2 class="govuk-heading-m non-standard">@Resource.lblInorganicFertiliserApplications</h2>
                        <a class="govuk-button add-button" asp-action="FieldGroup" asp-controller="FertiliserManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblAddAnInorganicFertiliserApplication</a>
                        @if (Model.HarvestYearPlans != null && Model.HarvestYearPlans.InorganicFertiliserList != null && Model.HarvestYearPlans.InorganicFertiliserList.Any())
                        {
                            <hr class="seperator_five">
                            <h2 class="govuk-heading-m">@string.Format(Resource.lblAllInorganicFertiliserApplicationsForHarvestYear, Model.Year)</h2>
                            <p class="govuk-body">@Resource.lblAllAmountsArePerHectare</p>
                            <p class="govuk-body">
                                <a asp-action="SortInOrganicList" asp-controller="Crop" asp-route-q="@ViewBag.InOrganicListSortByDate" asp-route-r="@Model.EncryptSortInOrganicListOrderByDate" asp-route-year="@Model.EncryptedHarvestYear" asp-route-id="@Model.EncryptedFarmId">@Resource.lblSortByApplicationDate</a>
                                <span>&nbsp;</span>  or <span>&nbsp;</span>
                                <a asp-action="SortInOrganicList" asp-controller="Crop" asp-route-q="@ViewBag.InOrganicListSortByFieldName" asp-route-r="@Model.EncryptSortInOrganicListOrderByFieldName" asp-route-year="@Model.EncryptedHarvestYear" asp-route-id="@Model.EncryptedFarmId">@Resource.lblSortByFieldName</a>
                                <span>&nbsp;</span>  or <span>&nbsp;</span>
                                <a asp-action="SortInOrganicList" asp-controller="Crop" asp-route-q="@ViewBag.InOrganicListSortByCropType" asp-route-r="@Model.EncryptSortInOrganicListOrderByCropType" asp-route-year="@Model.EncryptedHarvestYear" asp-route-id="@Model.EncryptedFarmId">@Resource.lblSortByCropType</a>

                            </p>

                            <!-- Inorganic Table -->

                            <table class="govuk-table big_crop_table_version_three margin-bottom-forty">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">
                                            @((Model.SortInOrganicListOrderByDate != null && Model.SortInOrganicListOrderByDate == Resource.lblDesc)
                                                                            ? string.Format(Resource.lblApplicationDateWithArrow, Resource.lblDescSign)
                                                                            : (Model.SortInOrganicListOrderByDate != null && Model.SortInOrganicListOrderByDate == Resource.lblAsc)
                                                                            ? string.Format(Resource.lblApplicationDateWithArrow, Resource.lblAscSign)
                                                                            : Resource.lblApplicationDate)
                                                                                                      </th>
                                                                                                      <th scope="col" class="govuk-table__header">
                                            @((Model.SortInOrganicListOrderByFieldName != null && Model.SortInOrganicListOrderByFieldName == Resource.lblDesc)
                                                                            ? string.Format(Resource.lblFieldWithArrow, Resource.lblDescSign)
                                                                            : (Model.SortInOrganicListOrderByFieldName != null && Model.SortInOrganicListOrderByFieldName == Resource.lblAsc)
                                                                            ? string.Format(Resource.lblFieldWithArrow, Resource.lblAscSign)
                                                                            : Resource.lblField)
                                                                                            </th>
                                                                                            <th scope="col" class="govuk-table__header">
                                            @((Model.SortInOrganicListOrderByCropType != null && Model.SortInOrganicListOrderByCropType == Resource.lblDesc)
                                                                            ? string.Format("{0} {1}", Resource.lblCrop, Resource.lblDescSign)
                                                                            : (Model.SortInOrganicListOrderByCropType != null && Model.SortInOrganicListOrderByCropType == Resource.lblAsc)
                                                                            ? string.Format("{0} {1}", Resource.lblCrop, Resource.lblAscSign)
                                                                            : Resource.lblCrop)
                            </th>

                                        <th scope="col" class="govuk-table__header">@Resource.lblNutrients</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblAction</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                        @foreach (var inorganicFertiliser in Model.HarvestYearPlans.InorganicFertiliserList)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">@inorganicFertiliser.ApplicationDate.Value.ToLocalTime().Date.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("en-GB"))</td>
                                            <td class="govuk-table__cell">@inorganicFertiliser.Field</td>
                                            <td class="govuk-table__cell">@inorganicFertiliser.Crop</td>
                                            <td class="govuk-table__cell">
                                                @if (inorganicFertiliser.N != null)
                                                {
                                                    <span class="nutrient-list">
                    @string.Format(Resource.lblKgWithNutrient,string.Format("{0:N2}", inorganicFertiliser.N), Resource.lblNitrogen)</span>
                                                }
                                                @if (inorganicFertiliser.P2O5 != null)
                                                {
                                                    <span class="nutrient-list">@string.Format(Resource.lblKgWithNutrient, string.Format("{0:N2}", inorganicFertiliser.P2O5), Resource.lblPhosphateP2O5)</span>
                                                }
                                                @if (inorganicFertiliser.K2O != null)
                                                {
                                                    <span class="nutrient-list">@string.Format(Resource.lblKgWithNutrient, string.Format("{0:N2}", inorganicFertiliser.K2O), Resource.lblPotashK2O)</span>
                                                }
                                                @if (inorganicFertiliser.SO3 != null)
                                                {
                                                    <span class="nutrient-list">@string.Format(Resource.lblKgWithNutrient, string.Format("{0:N2}", inorganicFertiliser.SO3), Resource.lblSulphurSO3)</span>
                                                }
                                                @if (inorganicFertiliser.MgO != null)
                                                {
                                                    <span class="nutrient-list">@string.Format(Resource.lblKgWithNutrient, string.Format("{0:N2}", inorganicFertiliser.MgO), Resource.lblMagnesiumMgO)</span>
                                                }
                                                @if (inorganicFertiliser.Lime != null)
                                                {
                                                    <span class="nutrient-list">@string.Format(Resource.lblTonneWithNutrient, inorganicFertiliser.Lime, Resource.lblLime)</span>
                                                }

                                            </td>
                                            <td class="govuk-table__cell">
                                                @* <a asp-action="DeletePlanOrganicAndFertiliser" asp-controller="Crop" asp-route-q="@inorganicFertiliser.EncryptedFertId" asp-route-r="@ViewBag.Fertliser" asp-route-s="@inorganicFertiliser.EncryptedFieldName">@Resource.lblRemove</a>
                                                <br /> *@

                                                <a asp-action="CheckAnswer" asp-controller="FertiliserManure" asp-route-q="@inorganicFertiliser.EncryptedFertId" asp-route-r="@Model.EncryptedFarmId" asp-route-s="@Model.EncryptedHarvestYear" asp-route-t="@inorganicFertiliser.EncryptedFieldName">@Resource.lblChange</a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @if (Model.HarvestYearPlans.InorganicFertiliserList.Count > 10)
                            {
                                <p>&nbsp;</p>
                                <p class="govuk-body"><a class="govuk-link" href="#">@Resource.lblBackToTheTop</a></p>
                            }

                        }
                    </govuk-tabs-item>
                </govuk-tabs>
            }
        </div>

    </div>
}