@using NMP.Portal.Resources
@using NMP.Portal.ViewModels
@using System.Globalization
@model PlanViewModel
@{
    ViewData["Title"] = Resource.lblHarvestYearOverview;
}

@if (TempData["ErrorOnHarvestYearOverview"] != null)
{
    <govuk-error-summary>
        <govuk-error-summary-item href="#">@TempData["ErrorOnHarvestYearOverview"]</govuk-error-summary-item>
    </govuk-error-summary>
}
@if (Model != null)
{
    @section BeforeContent {
    <govuk-breadcrumbs class="govuk-breadcrumbs-link">

        <govuk-breadcrumbs-item asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
            @Model.FarmName
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item asp-action="PlansAndRecordsOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">
            @Resource.lblPlansAndRecords
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item class="govuk-breadcrumbs__list-item">
            @Resource.lblHarvestYearOverview
        </govuk-breadcrumbs-item>
    </govuk-breadcrumbs>
    }
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (ViewBag.Success != null && ViewBag.Success == true)
            {
                <govuk-notification-banner type="Success">
                    <p class="govuk-notification-banner__heading">
                        @Resource.lblPlanCreated
                    </p>
                </govuk-notification-banner>
            }

            <h1 class="govuk-heading-l">@string.Format(Resource.lblCropPlanFor, Model.Year)</h1>
            <div class="crop_plan_title">
                <p class="govuk-body">@string.Format(Resource.lblThereAreFieldsInThisPlan, Model.FieldCount)</p>
                <p class="govuk-body">
                    @string.Format(Resource.lblLastUpdated, Model.LastModifiedOn)
                </p>
                @if (ViewBag.PendingField.Count > 0)
                {
                    <p class="govuk-body"><a asp-action="HarvestYearForPlan" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblAddAnotherCrop</a></p>
                }
                <p class="govuk-body"><a href="#">@Resource.lblAddManuresToThisPlan</a></p>
            </div>
            <hr class="seperator_five">

            @foreach (var harvestYearPlan in Model.HarvestYearPlans)
            {
                <h2 class="govuk-heading-m">@harvestYearPlan.CropTypeName</h2>
                @if (!string.IsNullOrWhiteSpace(harvestYearPlan.CropVariety))
                {
                    <p class="govuk-body">@string.Format(Resource.lblVariety, harvestYearPlan.CropVariety)</p>
                }
                <p class="govuk-body"><a href="#">@string.Format(Resource.lblChangeThisPlan, harvestYearPlan.CropTypeName)</a></p>

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th id="field_name" scope="col" class="govuk-table__header">@Resource.lblField</th>
                            @* <th scope="col" class="govuk-table__header">@Resource.lblSecondCrop </th> *@
                            <th scope="col" class="govuk-table__header"> </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var field in harvestYearPlan.FieldNames)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@field</td>
                                @* <td class="govuk-table__cell"></td> *@
                                <td class="govuk-table__cell">
                                    <a href="#">@Resource.lblViewRecommendations</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }

        </div>
    </div>
}

