@using NMP.Portal.Resources
@using NMP.Portal.ViewModels
@using System.Globalization
@model PlanViewModel
@{
    ViewData["Title"] = Resource.lblHarvestYearOverview;
}

@if (TempData["ErrorOnHarvestYearOverview"] != null)
{
    <govuk-error-summary>
        <govuk-error-summary-item href="#">@TempData["ErrorOnHarvestYearOverview"]</govuk-error-summary-item>
    </govuk-error-summary>
}
@if (Model != null)
{
    @section BeforeContent {
    <govuk-breadcrumbs class="govuk-breadcrumbs-link">

        <govuk-breadcrumbs-item asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
            @Model.FarmName
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item asp-action="PlansAndRecordsOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">
            @Resource.lblPlanningAndRecording
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item class="govuk-breadcrumbs__list-item">
            @Resource.lblHarvestYearOverview
        </govuk-breadcrumbs-item>
    </govuk-breadcrumbs>
    }
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-grid-column-full">

            @if (ViewBag.Success != null && ViewBag.Success == true && TempData["successMsg"] != null)
            {
                <govuk-notification-banner type="Success">
                    <p class="govuk-notification-banner__heading">
                        @TempData["successMsg"]
                    </p>
                </govuk-notification-banner>
            }

            <h1 class="govuk-heading-l">@string.Format(Resource.lblCropPlanFor, Model.Year)</h1>

            <p class="govuk-body">
                @string.Format(Resource.lblLastUpdated, Model.LastModifiedOn)
                @string.Format(Resource.lblThereAreFieldsInThisPlan, Model.FieldCount)
            </p>
            <p class="govuk-body">
                @if (ViewBag.Rainfall != null)
                {
                    @string.Format(Resource.lblAverageAnnualRainfallIsYouHaveNotEnteredAnyExcessWinterRainfall, ViewBag.Rainfall)
                    <a href="#">@Resource.lblupdateRainfallFor</a>
                }
            </p>
            <p class="govuk-body">
                <a href="#">@Resource.lblDownloadPrintOrExportThisPlan</a>
            </p>
            @if (Model.HarvestYearPlans != null)
            {
                <govuk-tabs>
                    <govuk-tabs-item id="CropAndFields" label=@Resource.lblCropsAndFields>
                        <h2 class="govuk-heading-m non-standard">@Resource.lblCropsAndFields</h2>
                        <a class="govuk-button add-button" asp-action="HarvestYearForPlan" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblAddACropGroup  </a>
                        @* <govuk-button class="panel-button" asp-action="HarvestYearForPlan" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblAddACropGroup</govuk-button> *@
                        <hr class="seperator_five">

                        <!-- Crops Table -->
                        @if (Model.HarvestYearPlans.FieldData != null)
                        {
                            @foreach (var harvestYearPlan in Model.HarvestYearPlans.FieldData)
                            {
                                <div class="tab-left">
                                    <h2 class="govuk-heading-m margin-bottom-ten">
                                        @harvestYearPlan.CropTypeName
                                        @if (harvestYearPlan.CropVariety != null)
                                        {
                                            <span class="nonbold">@string.Format(Resource.lblBracketWithName, harvestYearPlan.CropVariety)</span>
                                        }
                                    </h2>
                                    <p class="govuk-body"></p>
                                </div>
                                <div class="tab-right">

                                    <govuk-button type="submit" class="govuk-button--secondary update-button">
                                        @Resource.lblUpdateThisGroup
                                    </govuk-button>
                                </div>
                                <table class="govuk-table big_crop_table_version_five margin-bottom-forty">
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header">@Resource.lblField</th>
                                            <th scope="col" class="govuk-table__header">@Resource.lblPlantingDate</th>
                                            <th scope="col" class="govuk-table__header">@Resource.lblYieldPerHectare</th>
                                            <th scope="col" class="govuk-table__header"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (harvestYearPlan.FieldData != null)
                                        {
                                            @foreach (var field in harvestYearPlan.FieldData)
                                            {
                                                <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">@field.FieldName</td>
                                                    <td class="govuk-table__cell">
                                                        @if (field.PlantingDate != null)
                                                        {
                                                            @field.PlantingDate.Value.ToLocalTime().Date.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("en-GB"))
                                                        }
                                                        else
                                                        {
                                                            @Resource.lblNotEntered
                                                        }
                                                    </td>

                                                    <td class="govuk-table__cell">
                                                        @if (field.Yield != null)
                                                        {
                                                            @field.Yield
                                                        }
                                                        else
                                                        {
                                                            @Resource.lblNotEntered
                                                        }
                                                    </td>
                                                    <td class="govuk-table__cell">
                                                        <a asp-action="Recommendations" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@field.EncryptedFieldId" asp-route-s="@Model.EncryptedHarvestYear">
                                                            @Resource.lblUpdateThisFieldOrViewRecommendations
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            }
                        }
                    </govuk-tabs-item>
                    <govuk-tabs-item id="OrganicMaterialApplications" label=@Resource.lblOrganicMaterialApplications>
                        <h2 class="govuk-heading-m non-standard">@Resource.lblOrganicMaterialApplications</h2>
                        @if (ViewBag.AddMannerDisabled != null && ViewBag.AddMannerDisabled)
                        {
                            <a class="govuk-button disabled add-button" asp-action="FieldGroup" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblAddAnOrganicMaterialApplication</a>
                        }
                        else
                        {
                            <a class="govuk-button add-button" asp-action="FieldGroup" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblAddAnOrganicMaterialApplication</a>
                        }
                        @if (Model.HarvestYearPlans != null && Model.HarvestYearPlans.OrganicManureList != null && Model.HarvestYearPlans.OrganicManureList.Any())
                        {
                            <hr class="seperator_five">
                            <h2 class="govuk-heading-m">@string.Format(Resource.lblAllOrganicMaterialApplicationsForHarvestYear, Model.Year)</h2>
                            <p class="govuk-body">@Resource.lblAllAmountsArePerHectare</p>
                            <p class="govuk-body">
                                <a asp-action="SortOrganicList" asp-controller="Crop" asp-route-q="@ViewBag.OrganicListSortByFieldName" asp-route-r="@Model.encryptSortOrganicListOrderByFieldName" asp-route-year="@Model.EncryptedHarvestYear" asp-route-id="@Model.EncryptedFarmId">@Resource.lblSortByFieldName</a>
                                <span>&nbsp;</span>  or <span>&nbsp;</span>
                                <a asp-action="SortOrganicList" asp-controller="Crop" asp-route-q="@ViewBag.OrganicListSortByDate" asp-route-r="@Model.encryptSortOrganicListOrderByDate" asp-route-year="@Model.EncryptedHarvestYear" asp-route-id="@Model.EncryptedFarmId">@Resource.lblSortByApplicationDate</a>

                            </p>
                            <!-- Organic Table -->

                            <table class="govuk-table sortable-table recomendation-table data-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        @if (Model.sortOrganicListOrderByDate != null && Model.sortOrganicListOrderByDate == Resource.lblDesc)
                                        {
                                            <th scope="col" class="govuk-table__header">@string.Format(Resource.lblApplicationDateWithArrow, Resource.lblDescSign)</th>
                                        }
                                        else
                                        {
                                            <th scope="col" class="govuk-table__header">@string.Format(Resource.lblApplicationDateWithArrow, Resource.lblAscSign)</th>
                                        }
                                        <th scope="col" class="govuk-table__header">@Resource.lblField</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblCrop</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblType</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblRate</th>
                                        <th scope="col" class="govuk-table__header"></th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @foreach (var organicManure in Model.HarvestYearPlans.OrganicManureList)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">@organicManure.ApplicationDate.Value.ToLocalTime().Date.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("en-GB"))</td>
                                            <td class="govuk-table__cell">@organicManure.Field</td>
                                            <td class="govuk-table__cell">@organicManure.Crop</td>
                                            <td class="govuk-table__cell">@organicManure.TypeOfManure</td>
                                            <td class="govuk-table__cell">
                                                @string.Format(Resource.lblRateWithTonnes, organicManure.Rate)
                                            </td>
                                            <td class="govuk-table__cell"><a href="#">Change</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }


                    </govuk-tabs-item>
                    <govuk-tabs-item id="InorganicFertiliserApplications" label=@Resource.lblInorganicFertiliserApplications>
                        <h2 class="govuk-heading-m non-standard">@Resource.lblInorganicFertiliserApplications</h2>
                        <a class="govuk-button add-button" asp-action="FieldGroup" asp-controller="FertiliserManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear" >@Resource.lblAddAnInorganicFertiliserApplication</a>
                        @if (Model.HarvestYearPlans != null && Model.HarvestYearPlans.InorganicFertiliserList != null && Model.HarvestYearPlans.InorganicFertiliserList.Any())
                        {
                            <hr class="seperator_five">
                            <h2 class="govuk-heading-m">@string.Format(Resource.lblAllInorganicFertiliserApplicationsForHarvestYear, Model.Year)</h2>
                            <p class="govuk-body">@Resource.lblAllAmountsArePerHectare</p>
                            <p class="govuk-body">
                                <a asp-action="SortInOrganicList" asp-controller="Crop" asp-route-q="@ViewBag.InOrganicListSortByFieldName" asp-route-r="@Model.encryptSortInOrganicListOrderByFieldName" asp-route-year="@Model.EncryptedHarvestYear" asp-route-id="@Model.EncryptedFarmId">@Resource.lblSortByFieldName</a>
                                <span>&nbsp;</span>  or <span>&nbsp;</span>
                                <a asp-action="SortInOrganicList" asp-controller="Crop" asp-route-q="@ViewBag.InOrganicListSortByDate" asp-route-r="@Model.encryptSortInOrganicListOrderByDate" asp-route-year="@Model.EncryptedHarvestYear" asp-route-id="@Model.EncryptedFarmId">@Resource.lblSortByApplicationDate</a>

                            </p>

                            <!-- Inorganic Table -->

                            <table class="govuk-table big_crop_table_version_three margin-bottom-forty">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        @if(Model.sortInOrganicListOrderByDate!=null&&Model.sortInOrganicListOrderByDate==Resource.lblDesc)
                                        {
                                            <th scope="col" class="govuk-table__header">@string.Format(Resource.lblApplicationDateWithArrow,Resource.lblDescSign)</th>
                                        }
                                        else
                                        {
                                            <th scope="col" class="govuk-table__header">@string.Format(Resource.lblApplicationDateWithArrow, Resource.lblAscSign)</th>
                                        }
                                        <th scope="col" class="govuk-table__header">@Resource.lblField</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblCrop</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblNutrients</th>
                                        <th scope="col" class="govuk-table__header"></th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @foreach (var inorganicFertiliser in Model.HarvestYearPlans.InorganicFertiliserList)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">@inorganicFertiliser.ApplicationDate.Value.ToLocalTime().Date.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("en-GB"))</td>
                                            <td class="govuk-table__cell">@inorganicFertiliser.Field</td>
                                            <td class="govuk-table__cell">@inorganicFertiliser.Crop</td>
                                            <td class="govuk-table__cell">
                                                @if (inorganicFertiliser.N != null && inorganicFertiliser.N > 0)
                                                {
                                                    <span class="nutrient-list">@string.Format(Resource.lblKgWithNutrient, inorganicFertiliser.N, Resource.lblNitrogen)</span>
                                                }
                                                @if (inorganicFertiliser.P2O5 != null && inorganicFertiliser.P2O5 > 0)
                                                {
                                                    <span class="nutrient-list">@string.Format(Resource.lblKgWithNutrient, inorganicFertiliser.P2O5, Resource.lblPhosphateP2O5)</span>
                                                }
                                                @if (inorganicFertiliser.K2O != null && inorganicFertiliser.K2O > 0)
                                                {
                                                    <span class="nutrient-list">@string.Format(Resource.lblKgWithNutrient, inorganicFertiliser.K2O, Resource.lblPotashK2O)</span>
                                                }
                                                @if (inorganicFertiliser.SO3 != null && inorganicFertiliser.SO3 > 0)
                                                {
                                                    <span class="nutrient-list">@string.Format(Resource.lblKgWithNutrient, inorganicFertiliser.SO3, Resource.lblSulphurSO3)</span>
                                                }
                                                @if (inorganicFertiliser.Lime != null && inorganicFertiliser.Lime > 0)
                                                {
                                                    <span class="nutrient-list">@string.Format(Resource.lblKgWithNutrient, inorganicFertiliser.Lime, Resource.lblLime)</span>
                                                }

                                            </td>
                                            <td class="govuk-table__cell"><a href="#">Change</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @if (Model.HarvestYearPlans.InorganicFertiliserList.Count>10)
                            {
                                <a class="govuk-link govuk-link--no-visited-state" href="#top">
                                    <svg class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z">
                                        </path>
                                    </svg>
                                    Back to top
                                </a>
                            }
                            
                        }
                    </govuk-tabs-item>
                </govuk-tabs>
            }
        </div>

    </div>
}