@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.PlanViewModel
@{
    ViewData["Title"] = Resource.lblField;
}

@section BeforeContent {
    <govuk-back-link asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
}
<form asp-action="OrganicManureFieldRemove" asp-controller="Crop" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @if (TempData["OrganicManureFieldRemoveError"] != null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["OrganicManureFieldRemoveError"]</govuk-error-summary-item>
                </govuk-error-summary>
            </div>
        </div>
    }

    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DeletedAction" value="@Model.DeletedAction"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedId" value="@Model.EncryptedId"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldName" value="@Model.EncryptedFieldName"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName" value="@Model.FieldName"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType" value="@Model.ManureType"></govuk-input>
    @if (Model.HarvestYearPlans.OrganicManureList != null && Model.HarvestYearPlans.OrganicManureList.Count > 0)
    {
        @for (int i = 0; i < Model.HarvestYearPlans.OrganicManureList.Count; i++)
        {
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYearPlans.OrganicManureList[i].Field" value="@Model.HarvestYearPlans.OrganicManureList[i].Field"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYearPlans.OrganicManureList[i].FieldId" value="@Model.HarvestYearPlans.OrganicManureList[i].FieldId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYearPlans.OrganicManureList[i].EncryptedFieldName" value="@Model.HarvestYearPlans.OrganicManureList[i].EncryptedFieldName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYearPlans.OrganicManureList[i].TypeOfManure" value="@Model.HarvestYearPlans.OrganicManureList[i].TypeOfManure"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYearPlans.OrganicManureList[i].ID" value="@Model.HarvestYearPlans.OrganicManureList[i].ID"></govuk-input>
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYearPlans.OrganicManureList[i].ApplicationDate" value="@Model.HarvestYearPlans.OrganicManureList[i].ApplicationDate"></govuk-date-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYearPlans.OrganicManureList[i].Crop" value="@Model.HarvestYearPlans.OrganicManureList[i].Crop"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYearPlans.OrganicManureList[i].Rate" value="@Model.HarvestYearPlans.OrganicManureList[i].Rate"></govuk-input>
        }

    }
    @if (Model.organicManureIds != null && Model.organicManureIds.Count > 0)
    {
        @for (int i = 0; i < Model.organicManureIds.Count; i++)
        {
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.organicManureIds[i]" value="@Model.organicManureIds[i]"></govuk-input>
        }
    }
     @if (Model.SelectedField != null && Model.SelectedField.Count > 0)
    {
    @for (int i = 0; i < Model.SelectedField.Count; i++)
        {
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SelectedField[i]" value="@Model.SelectedField[i]"></govuk-input>
        }
    }
    <h1 class="govuk-heading-l">
        @Resource.lblWhichFieldsWouldYouLikeToRemoveThisApplicationFor</h1>
    <p class="govuk-body"> @(string.Format(Resource.lblTheseFieldsAllHaveAnApplicationOf, Model.ManureType, ViewBag.ApplicationDate))</p>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-checkboxes name="FieldList" asp-for="FieldList">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--l">
                       
                    </govuk-checkboxes-fieldset-legend>

                    <govuk-checkboxes-hint>
                        @Resource.lblSelectAllThatApply
                    </govuk-checkboxes-hint>
                    @if (ViewBag.fieldList != null)
                    {
                        @foreach (var item in ViewBag.fieldList)
                        {
                            <govuk-checkboxes-item value="@item.Value">@item.Text</govuk-checkboxes-item>
                        }
                    }

                    <govuk-checkboxes-divider>or</govuk-checkboxes-divider>
                    <govuk-checkboxes-item value=@Resource.lblUpdateAllTheseFields behavior="Exclusive">@Resource.lblUpdateAllTheseFields</govuk-checkboxes-item>
                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link"><a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblCancel</a></p>

        </div>

    </div>
</form>