@using NMP.Portal.Resources
@using NMP.Portal.ViewModels

@model PlanViewModel
@{
    ViewData["Title"] = Resource.lblPlansAndRecordsOverview;
    List<int> yearList = new List<int>();
    List<int> years = new List<int>();

    @if (ViewBag.PlanSummaryList != null)
    {
        foreach (var item in ViewBag.PlanSummaryList)
        {
            yearList.Add(item.Year);
        }

        int minYear = System.DateTime.Now.Year - 1;
        int maxYear = System.DateTime.Now.Year + 1;
        for (int year = minYear; year <= maxYear; year++)
        {
            if (!yearList.Contains(year))
            {
                years.Add(year);

            }
        }
    }
}

@if (ViewBag.Error != null)
{
    <govuk-error-summary>
        <govuk-error-summary-item href="#">@ViewBag.Error</govuk-error-summary-item>
    </govuk-error-summary>
}
@if (Model != null)
{
    @section BeforeContent {
    <govuk-breadcrumbs class="govuk-breadcrumbs-link">

        <govuk-breadcrumbs-item asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
            @Model.FarmName
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item class="govuk-breadcrumbs__list-item">
            @Resource.lblPlansAndRecords
        </govuk-breadcrumbs-item>

    </govuk-breadcrumbs>
    }
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">@Resource.lblPlansAndRecords</h1>
            @foreach (int year in years)
            {
                <p class="govuk-body">
                    <a asp-action="CropGroups" asp-controller="Crop">@string.Format(Resource.lblCreateAPlan, year)</a>
                </p>
            }

            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">@Resource.lblPlans</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th id="field_name" scope="col" class="govuk-table__header">@Resource.lblHarvestYear</th>
                        <th scope="col" class="govuk-table__header">@Resource.lblLastModified </th>
                        <th scope="col" class="govuk-table__header"> </th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @if (ViewBag.PlanSummaryList != null)
                    {
                        for(int i=0;i< ViewBag.PlanSummaryList.Count;i++)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@ViewBag.PlanSummaryList[i].Year</td>
                                <td class="govuk-table__cell">
                                    @ViewBag.PlanSummaryList[i].LastModifiedOn.ToString("dd MMM yyyy")
                                    
                                </td>
                                <td class="govuk-table__cell">
                                    <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYearList[i]">@Resource.lblViewEdit</a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
}

