@using NMP.Portal.Resources
@using System.Globalization
@model NMP.Portal.ViewModels.RecommendationViewModel
@{
    ViewData["Title"] = Resource.lblRecommendations;
    int OtherGroupId = (int)NMP.Portal.Enums.CropGroup.Other;
    int CerealsGroupId = (int)NMP.Portal.Enums.CropGroup.Cereals;
    var lastUpdate = string.Empty;
    if (Model != null && Model.Recommendations != null)
    {
        lastUpdate = Model.Recommendations[0].ModifiedOn != null ? Model.Recommendations[0].ModifiedOn.Value.Date.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB")) : Model.Recommendations[0].CreatedOn.Value.Date.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB"));
    }
    bool isPkBalanceTableDisplay = false;
}

@if (Model != null)
{
    @section BeforeContent {
    <govuk-back-link asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@string.Format(Resource.lblBackToYearFarmPlan, Model.Crops[0].Year)</govuk-back-link>
    }
    @Html.AntiForgeryToken()
    <div class="govuk-grid-row">
        @if (TempData["NutrientRecommendationsError"] != null)
        {
            <div class="govuk-grid-column-two-thirds">
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["NutrientRecommendationsError"]</govuk-error-summary-item>
                </govuk-error-summary>
            </div>
        }
        @if (Model.Crops != null && Model.Crops.Count > 0)
        {
            <div class="govuk-grid-column-full">
                <div class="margin-bottom-forty">
                    <h1 class="govuk-heading-l">
                        @string.Format(Resource.lblFieldPlanYear, Model.FieldName, Model.Crops[0].Year)
                    </h1>
                    <p class="govuk-body"> @string.Format(Resource.lblLastUpdated, lastUpdate)</p>
                </div>
            </div>
            <div class="govuk-grid-column-full">
                <govuk-tabs>

                    @* Nutrient and Lime Recommendations tab *@
                    @if (Model.Crops.Count > 0)
                    {
                        var cropNumber = 1;
                        @foreach (var crop in Model.Crops)
                        {
                            @if (cropNumber == 1)
                            {
                                <govuk-tabs-item id="crop-1" label="@(Model.Crops.Count==1?Resource.lblNutrientAndLimeRecommendations:Resource.lblCrop1Recommendations)">
                                    <h2 class="govuk-heading-m non-standard">@Resource.lblNutrientAndLimeRecommendations</h2>
                                    <p class="govuk-body">@Resource.lblAboutRecommendationGuidenceAdviceContent1</p>
                                    <p class="govuk-body">@Resource.lblAboutRecommendationGuidenceAdviceContent2</p>
                                    <hr class="seperator_five">

                                    @if (Model.ManagementPeriods != null && Model.Recommendations != null && Model.ManagementPeriods.Count > 0
                                   && Model.Recommendations.Count > 0)
                                    {
                                        var cropManagementPeriods = Model.ManagementPeriods.Where(mp => mp.CropID == crop.ID);
                                        @foreach (var mp in cropManagementPeriods)
                                        {
                                            var rec = Model.Recommendations.Where(r => r.ManagementPeriodID == mp.ID);
                                            @foreach (var recommendation in rec)
                                            {
                                                @* Recommendation *@
                                                <h2 id="cropone" class="govuk-heading-m">
                                                    @string.Format(Resource.lblNutrientAndLimeRecommendationsForCropInField, crop.CropTypeName, Model.FieldName)
                                                </h2>
                                                <p class="govuk-body-s">@Resource.lblAmountsArePerHectare</p>

                                                <table class="govuk-table new-recomendation-table data-table">
                                                    <thead class="govuk-table__header">
                                                        <tr class="govuk-table__row">
                                                            <th class="govuk-table__header" scope="col">@Resource.lblNutrient</th>
                                                            <th class="govuk-table__header" scope="col">@Resource.lblIndexPH</th>
                                                            <th class="govuk-table__header" scope="col">@Resource.lblTotalCropNeed</th>
                                                            <th class="govuk-table__header" scope="col">@Resource.lblSupplyFromManures</th>
                                                            <th class="govuk-table__header" scope="col">@Resource.lblFertiliserOrLimeRecommendation</th>
                                                            <th class="govuk-table__header" scope="col">@Resource.lblFertiliserOrLimeApplied</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="govuk-table__body">
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">@Resource.lblNitrogen</td>
                                                            <td class="govuk-table__cell">
                                                                @(recommendation.NIndex == null ? Resource.lblHyphen : recommendation.NIndex)
                                                            </td>
                                                            <td class="govuk-table__cell">@(recommendation.CropN == null ? Resource.lblHyphen : recommendation.CropN == 0 ? recommendation.CropN : string.Concat(recommendation.CropN, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.ManureN == null ? Resource.lblHyphen : recommendation.ManureN == 0 ? recommendation.ManureN : string.Concat(recommendation.ManureN, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertilizerN == null ? Resource.lblHyphen : recommendation.FertilizerN < 0 ? 0 : recommendation.FertilizerN == 0 ? recommendation.FertilizerN : string.Concat(recommendation.FertilizerN, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertiliserAppliedN == null ? 0 : recommendation.FertiliserAppliedN == 0 ? recommendation.FertiliserAppliedN : string.Concat(recommendation.FertiliserAppliedN, Resource.lblkg))</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">@Resource.lblPhosphateP2O5</td>
                                                            <td class="govuk-table__cell">
                                                                @(recommendation.PIndex == null ? Resource.lblHyphen : recommendation.PIndex)
                                                            </td>
                                                            <td class="govuk-table__cell">@(recommendation.CropP2O5 == null ? Resource.lblHyphen : recommendation.CropP2O5 == 0 ? recommendation.CropP2O5 : string.Concat(recommendation.CropP2O5, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.ManureP2O5 == null ? Resource.lblHyphen : recommendation.ManureP2O5 == 0 ? recommendation.ManureP2O5 : string.Concat(recommendation.ManureP2O5, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertilizerP2O5 == null ? Resource.lblHyphen : recommendation.FertilizerP2O5 < 0 ? 0 : recommendation.FertilizerP2O5 == 0 ? recommendation.FertilizerP2O5 : string.Concat(recommendation.FertilizerP2O5, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertiliserAppliedP2O5 == null ? 0 : recommendation.FertiliserAppliedP2O5 == 0 ? recommendation.FertiliserAppliedP2O5 : string.Concat(recommendation.FertiliserAppliedP2O5, Resource.lblkg))</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">@Resource.lblPotashK2O</td>
                                                            <td class="govuk-table__cell">
                                                                @(recommendation.KIndex == null ? Resource.lblHyphen : recommendation.KIndex)
                                                            </td>
                                                            <td class="govuk-table__cell">@(recommendation.CropK2O == null ? Resource.lblHyphen : recommendation.CropK2O == 0 ? recommendation.CropK2O : string.Concat(recommendation.CropK2O, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.ManureK2O == null ? Resource.lblHyphen : recommendation.ManureK2O == 0 ? recommendation.ManureK2O : string.Concat(recommendation.ManureK2O, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertilizerK2O == null ? Resource.lblHyphen : recommendation.FertilizerK2O < 0 ? 0 : recommendation.FertilizerK2O == 0 ? recommendation.FertilizerK2O : string.Concat(recommendation.FertilizerK2O, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertiliserAppliedK2O == null ? 0 : recommendation.FertiliserAppliedK2O == 0 ? recommendation.FertiliserAppliedK2O : string.Concat(recommendation.FertiliserAppliedK2O, Resource.lblkg))</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell"> @Resource.lblSulphurSO3</td>
                                                            <td class="govuk-table__cell">
                                                                @(recommendation.SIndex == null ? Resource.lblHyphen : recommendation.SIndex)
                                                            </td>
                                                            <td class="govuk-table__cell">@(recommendation.CropSO3 == null ? Resource.lblHyphen : recommendation.CropSO3 == 0 ? recommendation.CropSO3 : string.Concat(recommendation.CropSO3, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.ManureSO3 == null ? Resource.lblHyphen : recommendation.ManureSO3 == 0 ? recommendation.ManureSO3 : string.Concat(recommendation.ManureSO3, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertilizerSO3 == null ? Resource.lblHyphen : recommendation.FertilizerSO3 < 0 ? 0 : recommendation.FertilizerSO3 == 0 ? recommendation.FertilizerSO3 : string.Concat(recommendation.FertilizerSO3, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertiliserAppliedSO3 == null ? 0 : recommendation.FertiliserAppliedSO3 == 0 ? recommendation.FertiliserAppliedSO3 : string.Concat(recommendation.FertiliserAppliedSO3, Resource.lblkg))</td>
                                                        </tr>

                                                        @*    <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell"> @Resource.lblSodiumNa2O</td>
                                                            <td class="govuk-table__cell">
                                                                @(recommendation.SIndex == null ? Resource.lblHyphen : recommendation.NaIndex)
                                                            </td>
                                                            <td class="govuk-table__cell">@(recommendation.CropNa2O == null ? Resource.lblHyphen : recommendation.CropNa2O == 0 ? recommendation.CropNa2O : string.Concat(recommendation.CropNa2O, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.ManureNa2O == null ? 0 : recommendation.ManureNa2O == 0 ? recommendation.ManureNa2O : string.Concat(recommendation.ManureNa2O, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertilizerNa2O == null ? Resource.lblHyphen : recommendation.FertilizerNa2O < 0 ? 0 : recommendation.FertilizerNa2O == 0 ? recommendation.FertilizerNa2O : string.Concat(recommendation.FertilizerNa2O, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertiliserAppliedNa2O == null ? 0 : recommendation.FertiliserAppliedNa2O == 0 ? recommendation.FertiliserAppliedNa2O : string.Concat(recommendation.FertiliserAppliedNa2O, Resource.lblkg))</td>
                                                        </tr> *@
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell"> @Resource.lblMagnesiumMgO</td>
                                                            <td class="govuk-table__cell">
                                                                @(recommendation.MgIndex == null ? Resource.lblHyphen : recommendation.MgIndex)
                                                            </td>
                                                            <td class="govuk-table__cell">@(recommendation.CropMgO == null ? Resource.lblHyphen : recommendation.CropMgO == 0 ? recommendation.CropMgO : string.Concat(recommendation.CropMgO, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.ManureMgO == null ? Resource.lblHyphen : recommendation.ManureMgO == 0 ? recommendation.ManureMgO : string.Concat(recommendation.ManureMgO, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertilizerMgO == null ? Resource.lblHyphen : recommendation.FertilizerMgO < 0 ? 0 : recommendation.FertilizerMgO == 0 ? recommendation.FertilizerMgO : string.Concat(recommendation.FertilizerMgO, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertiliserAppliedMgO == null ? 0 : recommendation.FertiliserAppliedMgO == 0 ? recommendation.FertiliserAppliedMgO : string.Concat(recommendation.FertiliserAppliedMgO, Resource.lblkg))</td>
                                                        </tr>

                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">@Resource.lblLime</td>
                                                            <td class="govuk-table__cell">
                                                                @(recommendation.LimeIndex == null ? Resource.lblHyphen : recommendation.LimeIndex)
                                                            </td>
                                                            <td class="govuk-table__cell">@(recommendation.CropLime == null ? Resource.lblHyphen : recommendation.CropLime == 0 ? recommendation.CropLime : string.Concat(recommendation.CropLime, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.ManureLime == null ? Resource.lblHyphen : recommendation.ManureLime == 0 ? recommendation.ManureLime : string.Concat(recommendation.ManureLime, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertilizerLime == null ? Resource.lblHyphen : recommendation.FertilizerLime < 0 ? 0 : recommendation.FertilizerLime == 0 ? recommendation.FertilizerLime : string.Concat(recommendation.FertilizerLime, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertiliserAppliedLime == null ? 0 : recommendation.FertiliserAppliedLime == 0 ? recommendation.FertiliserAppliedLime : string.Concat(recommendation.FertiliserAppliedLime, Resource.lblkg))</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                @if (Model.PKBalance != null && !isPkBalanceTableDisplay)
                                                {
                                                    <h3 class="govuk-heading-s">
                                                        @Resource.lblPhosphateP2O5AndPotashK2OBalance
                                                    </h3>
                                                    <div id="balance" class="margin-bottom-forty">
                                                        <table class="govuk-table data-table">
                                                            <thead class="govuk-table__head">
                                                                <tr class="govuk-table__row">
                                                                    <th scope="col" class="govuk-table__header">@Resource.lblNutrient</th>
                                                                    <th scope="col" class="govuk-table__header">@string.Format(Resource.lblBalanceFromPreviousYear, Model.Crops[0].Year - 1)</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="govuk-table__body">
                                                                @{
                                                                    isPkBalanceTableDisplay = true;
                                                                }
                                                                <tr class="govuk-table__row">
                                                                    <td class="govuk-table__cell">@Resource.lblPhosphateP2O5</td>
                                                                    <td class="govuk-table__cell">@Model.PKBalance.PBalance</td>
                                                                </tr>
                                                                <tr class="govuk-table__row">
                                                                    <td class="govuk-table__cell">@Resource.lblPotashK2O</td>
                                                                    <td class="govuk-table__cell">@Model.PKBalance.KBalance</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <p class="govuk-body">
                                                            @Resource.lblThisIsTheRollingBalanceAtTheStartOfTheYear <br>@Resource.lblFertiliserPhosphateAndPotashRecommendations
                                                        </p>
                                                    </div>
                                                }

                                                @if (Model.RecommendationComments != null && Model.RecommendationComments.Count > 0)
                                                {
                                                    <h2 class="govuk-heading-m">@Resource.lblGuidance</h2>
                                                    <div class="guidance">
                                                        @foreach (var recCom in Model.RecommendationComments.Where(rc => rc.RecommendationID == recommendation.ID))
                                                        {
                                                            if (recCom.Nutrient != (int)NMP.Portal.Enums.Nutrients.Sodium)
                                                            {
                                                                <h3 class="govuk-heading-s">@Model.Nutrients?.FirstOrDefault(x => x.nutrientId == recCom.Nutrient)?.nutrient</h3>
                                                                <p class="govuk-body">
                                                                    @Html.Raw(recCom.Comment)
                                                                    <br />
                                                                </p>
                                                            }
                                                        }
                                                    </div>
                                                }

                                            }
                                        }
                                        <p>&nbsp;</p>
                                        <p class="govuk-body mt-5"><a class="govuk-link " href="#">@Resource.lblBackToTheTop</a></p>

                                    }

                                </govuk-tabs-item>
                            }
                            @if (cropNumber == 2)
                            {
                                <govuk-tabs-item id="crop-2" label="@Resource.lblCrop2Recommendations">
                                    <h2 class="govuk-heading-m non-standard">@Resource.lblNutrientAndLimeRecommendations</h2>
                                    <p class="govuk-body">@Resource.lblAboutRecommendationGuidenceAdviceContent1</p>
                                    <p class="govuk-body">@Resource.lblAboutRecommendationGuidenceAdviceContent2</p>
                                    <hr class="seperator_five">

                                    @if (Model.ManagementPeriods != null && Model.Recommendations != null && Model.ManagementPeriods.Count > 0
                                   && Model.Recommendations.Count > 0)
                                    {
                                        var cropManagementPeriods = Model.ManagementPeriods.Where(mp => mp.CropID == crop.ID);
                                        @foreach (var mp in cropManagementPeriods)
                                        {
                                            var rec = Model.Recommendations.Where(r => r.ManagementPeriodID == mp.ID);
                                            @foreach (var recommendation in rec)
                                            {
                                                @* Recommendation *@
                                                <h2 id="cropone" class="govuk-heading-m">
                                                    @string.Format(Resource.lblNutrientAndLimeRecommendationsForCropInField, crop.CropTypeName, Model.FieldName)
                                                </h2>
                                                <p class="govuk-body-s">@Resource.lblAmountsArePerHectare</p>

                                                <table class="govuk-table new-recomendation-table data-table">
                                                    <thead class="govuk-table__header">
                                                        <tr class="govuk-table__row">
                                                            <th class="govuk-table__header" scope="col">@Resource.lblNutrient</th>
                                                            <th class="govuk-table__header" scope="col">@Resource.lblIndexPH</th>
                                                            <th class="govuk-table__header" scope="col">@Resource.lblTotalCropNeed</th>
                                                            <th class="govuk-table__header" scope="col">@Resource.lblSupplyFromManures</th>
                                                            <th class="govuk-table__header" scope="col">@Resource.lblFertiliserOrLimeRecommendation</th>
                                                            <th class="govuk-table__header" scope="col">@Resource.lblFertiliserOrLimeApplied</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="govuk-table__body">
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">@Resource.lblNitrogen</td>
                                                            <td class="govuk-table__cell">
                                                                @(recommendation.NIndex == null ? Resource.lblHyphen : recommendation.NIndex)
                                                            </td>
                                                            <td class="govuk-table__cell">@(recommendation.CropN == null ? Resource.lblHyphen : recommendation.CropN == 0 ? recommendation.CropN : string.Concat(recommendation.CropN, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.ManureN == null ? 0 : recommendation.ManureN == 0 ? recommendation.ManureN : string.Concat(recommendation.ManureN, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertilizerN == null ? Resource.lblHyphen : recommendation.FertilizerN < 0 ? 0 : recommendation.FertilizerN == 0 ? recommendation.FertilizerN : string.Concat(recommendation.FertilizerN, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertiliserAppliedN == null ? 0 : recommendation.FertiliserAppliedN == 0 ? recommendation.FertiliserAppliedN : string.Concat(recommendation.FertiliserAppliedN, Resource.lblkg))</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">@Resource.lblPhosphateP2O5</td>
                                                            <td class="govuk-table__cell">
                                                                @(recommendation.PIndex == null ? Resource.lblHyphen : recommendation.PIndex)
                                                            </td>
                                                            <td class="govuk-table__cell">@(recommendation.CropP2O5 == null ? Resource.lblHyphen : recommendation.CropP2O5 == 0 ? recommendation.CropP2O5 : string.Concat(recommendation.CropP2O5, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.ManureP2O5 == null ? 0 : recommendation.ManureP2O5 == 0 ? recommendation.ManureP2O5 : string.Concat(recommendation.ManureP2O5, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertilizerP2O5 == null ? Resource.lblHyphen : recommendation.FertilizerP2O5 < 0 ? 0 : recommendation.FertilizerP2O5 == 0 ? recommendation.FertilizerP2O5 : string.Concat(recommendation.FertilizerP2O5, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertiliserAppliedP2O5 == null ? 0 : recommendation.FertiliserAppliedP2O5 == 0 ? recommendation.FertiliserAppliedP2O5 : string.Concat(recommendation.FertiliserAppliedP2O5, Resource.lblkg))</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">@Resource.lblPotashK2O</td>
                                                            <td class="govuk-table__cell">
                                                                @(recommendation.KIndex == null ? Resource.lblHyphen : recommendation.KIndex)
                                                            </td>
                                                            <td class="govuk-table__cell">@(recommendation.CropK2O == null ? Resource.lblHyphen : recommendation.CropK2O == 0 ? recommendation.CropK2O : string.Concat(recommendation.CropK2O, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.ManureK2O == null ? 0 : recommendation.ManureK2O == 0 ? recommendation.ManureK2O : string.Concat(recommendation.ManureK2O, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertilizerK2O == null ? Resource.lblHyphen : recommendation.FertilizerK2O < 0 ? 0 : recommendation.FertilizerK2O == 0 ? recommendation.FertilizerK2O : string.Concat(recommendation.FertilizerK2O, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertiliserAppliedK2O == null ? 0 : recommendation.FertiliserAppliedK2O == 0 ? recommendation.FertiliserAppliedK2O : string.Concat(recommendation.FertiliserAppliedK2O, Resource.lblkg))</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell"> @Resource.lblSulphurSO3</td>
                                                            <td class="govuk-table__cell">
                                                                @(recommendation.SIndex == null ? Resource.lblHyphen : recommendation.SIndex)
                                                            </td>
                                                            <td class="govuk-table__cell">@(recommendation.CropSO3 == null ? Resource.lblHyphen : recommendation.CropSO3 == 0 ? recommendation.CropSO3 : string.Concat(recommendation.CropSO3, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.ManureSO3 == null ? 0 : recommendation.ManureSO3 == 0 ? recommendation.ManureSO3 : string.Concat(recommendation.ManureSO3, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertilizerSO3 == null ? Resource.lblHyphen : recommendation.FertilizerSO3 < 0 ? 0 : recommendation.FertilizerSO3 == 0 ? recommendation.FertilizerSO3 : string.Concat(recommendation.FertilizerSO3, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertiliserAppliedSO3 == null ? 0 : recommendation.FertiliserAppliedSO3 == 0 ? recommendation.FertiliserAppliedSO3 : string.Concat(recommendation.FertiliserAppliedSO3, Resource.lblkg))</td>
                                                        </tr>
                                                        @* <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell"> @Resource.lblSodiumNa2O</td>
                                                            <td class="govuk-table__cell">
                                                                @(recommendation.SIndex == null ? Resource.lblHyphen : recommendation.NaIndex)
                                                            </td>
                                                            <td class="govuk-table__cell">@(recommendation.CropNa2O == null ? Resource.lblHyphen : recommendation.CropNa2O == 0 ? recommendation.CropNa2O : string.Concat(recommendation.CropNa2O, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.ManureNa2O == null ? 0 : recommendation.ManureNa2O == 0 ? recommendation.ManureNa2O : string.Concat(recommendation.ManureNa2O, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertilizerNa2O == null ? Resource.lblHyphen : recommendation.FertilizerNa2O < 0 ? 0 : recommendation.FertilizerNa2O == 0 ? recommendation.FertilizerNa2O : string.Concat(recommendation.FertilizerNa2O, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertiliserAppliedNa2O == null ? 0 : recommendation.FertiliserAppliedNa2O == 0 ? recommendation.FertiliserAppliedNa2O : string.Concat(recommendation.FertiliserAppliedNa2O, Resource.lblkg))</td>
                                                        </tr> *@
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell"> @Resource.lblMagnesiumMgO</td>
                                                            <td class="govuk-table__cell">
                                                                @(recommendation.MgIndex == null ? Resource.lblHyphen : recommendation.MgIndex)
                                                            </td>
                                                            <td class="govuk-table__cell">@(recommendation.CropMgO == null ? Resource.lblHyphen : recommendation.CropMgO == 0 ? recommendation.CropMgO : string.Concat(recommendation.CropMgO, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.ManureMgO == null ? 0 : recommendation.ManureMgO == 0 ? recommendation.ManureMgO : string.Concat(recommendation.ManureMgO, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertilizerMgO == null ? Resource.lblHyphen : recommendation.FertilizerMgO < 0 ? 0 : recommendation.FertilizerMgO == 0 ? recommendation.FertilizerMgO : string.Concat(recommendation.FertilizerMgO, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertiliserAppliedMgO == null ? 0 : recommendation.FertiliserAppliedMgO == 0 ? recommendation.FertiliserAppliedMgO : string.Concat(recommendation.FertiliserAppliedMgO, Resource.lblkg))</td>
                                                        </tr>

                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">@Resource.lblLime</td>
                                                             <td class="govuk-table__cell">
                                                                @(recommendation.LimeIndex == null ? Resource.lblHyphen : recommendation.LimeIndex)
                                                            </td>
                                                            <td class="govuk-table__cell">@(recommendation.CropLime == null ? Resource.lblHyphen : recommendation.CropLime == 0 ? recommendation.CropLime : string.Concat(recommendation.CropLime, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.ManureLime == null ? 0 : recommendation.ManureLime == 0 ? recommendation.ManureLime : string.Concat(recommendation.ManureLime, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertilizerLime == null ? Resource.lblHyphen : recommendation.FertilizerLime < 0 ? 0 : recommendation.FertilizerLime == 0 ? recommendation.FertilizerLime : string.Concat(recommendation.FertilizerLime, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(recommendation.FertiliserAppliedLime == null ? 0 : recommendation.FertiliserAppliedLime == 0 ? recommendation.FertiliserAppliedLime : string.Concat(recommendation.FertiliserAppliedLime, Resource.lblkg))</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                @if (Model.PKBalance != null && !isPkBalanceTableDisplay)
                                                {
                                                    <h3 class="govuk-heading-s">
                                                        @Resource.lblPhosphateP2O5AndPotashK2OBalance
                                                    </h3>
                                                    <div id="balance" class="margin-bottom-forty">
                                                        <table class="govuk-table data-table">
                                                            <thead class="govuk-table__head">
                                                                <tr class="govuk-table__row">
                                                                    <th scope="col" class="govuk-table__header">@Resource.lblNutrient</th>
                                                                    <th scope="col" class="govuk-table__header">@string.Format(Resource.lblBalanceFromPreviousYear, Model.Crops[0].Year - 1)</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="govuk-table__body">
                                                                @{
                                                                    isPkBalanceTableDisplay = true;
                                                                }
                                                                <tr class="govuk-table__row">
                                                                    <td class="govuk-table__cell">@Resource.lblPhosphateP2O5</td>
                                                                    <td class="govuk-table__cell">@Model.PKBalance.PBalance</td>
                                                                </tr>
                                                                <tr class="govuk-table__row">
                                                                    <td class="govuk-table__cell">@Resource.lblPotashK2O</td>
                                                                    <td class="govuk-table__cell">@Model.PKBalance.KBalance</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <p class="govuk-body">
                                                            @Resource.lblThisIsTheRollingBalanceAtTheStartOfTheYear <br>@Resource.lblFertiliserPhosphateAndPotashRecommendations
                                                        </p>
                                                    </div>
                                                }
                                                @if (Model.RecommendationComments != null && Model.RecommendationComments.Count > 0)
                                                {
                                                    <h2 class="govuk-heading-m">@Resource.lblGuidance</h2>
                                                    <div class="guidance">

                                                        @foreach (var recCom in Model.RecommendationComments.Where(rc => rc.RecommendationID == recommendation.ID))
                                                        {
                                                            if (recCom.Nutrient != (int)NMP.Portal.Enums.Nutrients.Sodium)
                                                            {
                                                                <h3 class="govuk-heading-s">@Model.Nutrients?.FirstOrDefault(x => x.nutrientId == recCom.Nutrient)?.nutrient</h3>
                                                                <p class="govuk-body">
                                                                    @Html.Raw(recCom.Comment)
                                                                    <br />
                                                                </p>
                                                            }
                                                        }
                                                    </div>
                                                }
                                            }
                                        }
                                        <p>&nbsp;</p>
                                        <p class="govuk-body mt-5"><a class="govuk-link" href="#">@Resource.lblBackToTheTop</a></p>
                                    }

                                </govuk-tabs-item>
                            }
                            cropNumber++;
                        }
                    }
                    @* organic and inorganic material tab *@
                    <govuk-tabs-item id="organicAndInorganicMaterial" label="@Resource.lblorganicAndInorganicMaterial">
                        @foreach (var crop in Model.Crops)
                        {
                            @if (Model.ManagementPeriods != null && Model.Recommendations != null && Model.ManagementPeriods.Count > 0
                           && Model.Recommendations.Count > 0)
                            {
                                var cropManagementPeriods = Model.ManagementPeriods.Where(mp => mp.CropID == crop.ID);
                                @foreach (var mp in cropManagementPeriods)
                                {
                                    var rec = Model.Recommendations.Where(r => r.ManagementPeriodID == mp.ID);
                                    @foreach (var recommendation in rec)
                                    {
                                        @* Organic material applications *@
                                        <h2 class="govuk-heading-m non-standard">@Resource.lblOrganicMaterialApplications</h2>
                                        @if (Model.OrganicManures != null && Model.OrganicManures.Count > 0)
                                        {
                                            <p class="govuk-body">@string.Format(Resource.lblTheseAreTheOrganicMaterialApplicationsForField, Model.FieldName, Model.Crops[0].Year)</p>
                                            <p class="govuk-body"><a asp-action="FieldGroup" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear" asp-route-s="@Model.EncryptedFieldId"> @string.Format(Resource.lblAddAnOrganicMaterialApplicationForField, Model.FieldName)</a></p>
                                            <p class="govuk-body-s">@Resource.lblAllAmountsArePerHectare</p>

                                            <table class="govuk-table">
                                                @* <caption class="govuk-table__caption govuk-table__caption--m">@Resource.lblOrganicMaterialApplications</caption> *@
                                                <thead class="govuk-table__header">
                                                    <tr class="govuk-table__row">
                                                        <th class="govuk-table__header" scope="col">@Resource.lblApplicationDate</th>
                                                        <th class="govuk-table__header" scope="col">@Resource.lblRate</th>
                                                        <th class="govuk-table__header" scope="col">@Resource.lblTypeOfManure</th>
                                                        <th class="govuk-table__header" scope="col">@Resource.lblAction</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="govuk-table__body">
                                                    @foreach (var orgManure in Model.OrganicManures)
                                                    {
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">
                                                                @(orgManure.ApplicationDate.Date != null ? orgManure.ApplicationDate.ToLocalTime().Date.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("en-GB")) : null)
                                                            </td>
                                                            <td class="govuk-table__cell">
                                                                @string.Format(Resource.lblRateWithTonnes, orgManure.ApplicationRate)
                                                            </td>
                                                            <td class="govuk-table__cell">
                                                                @orgManure.ManureTypeName
                                                            </td>
                                                            <td class="govuk-table__cell">
                                                                <p class="govuk-body cancel-link"><a href="#">@Resource.lblChange</a></p>
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <p class="govuk-body">@string.Format(Resource.lblYouHaveNoOrganicMaterialApplicationForFieldInYear, Model.FieldName, Model.Crops[0].Year)</p>
                                            <p class="govuk-body"><a asp-action="FieldGroup" asp-controller="OrganicManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear" asp-route-s="@Model.EncryptedFieldId"> @string.Format(Resource.lblAddAnOrganicMaterialApplicationForField, Model.FieldName)</a></p>
                                            <hr class="seperator_five">
                                        }
                                        @* Fertiliser manure applications *@
                                        <h2 class="govuk-heading-m non-standard">@Resource.lblInorganicFertiliserApplications</h2>
                                        @if (Model.FertiliserManures != null && Model.FertiliserManures.Count > 0)
                                        {
                                            <p class="govuk-body">@string.Format(Resource.lblTheseAreTheInorganicFertiliserApplicationsForField, Model.FieldName, Model.Crops[0].Year)</p>
                                            <p class="govuk-body"><a asp-action="FieldGroup" asp-controller="FertiliserManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear" asp-route-s="@Model.EncryptedFieldId">@string.Format(Resource.lblAddAnInOrganicFertiliserApplicationForField, Model.FieldName)</a></p>
                                            <p class="govuk-body-s">@Resource.lblAllAmountsArePerHectare</p>

                                            <table class="govuk-table">
                                                @* <caption class="govuk-table__caption govuk-table__caption--m">@Resource.lblOrganicMaterialApplications</caption> *@
                                                <thead class="govuk-table__header">
                                                    <tr class="govuk-table__row">
                                                        <th class="govuk-table__header" scope="col">@Resource.lblApplicationDate</th>
                                                        <th class="govuk-table__header" scope="col">@Resource.lblRate</th>
                                                        <th class="govuk-table__header" scope="col">@Resource.lblNutrient</th>
                                                        <th class="govuk-table__header" scope="col">@Resource.lblAction</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="govuk-table__body">
                                                    @foreach (var fertiliserManure in Model.FertiliserManures)
                                                    {
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">
                                                                @(fertiliserManure.ApplicationDate.Value.Date != null ? fertiliserManure.ApplicationDate.Value.ToLocalTime().Date.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("en-GB")) : null)
                                                            </td>
                                                            <td class="govuk-table__cell">
                                                                @string.Format(Resource.lblRateInKg, fertiliserManure.ApplicationRate)
                                                            </td>
                                                            <td class="govuk-table__cell">
                                                                @if (fertiliserManure.N > 0)
                                                                {
                                                                    <span class="nutrient-list">
                                                                        @string.Format(Resource.lblKgNitrogen, fertiliserManure.N)
                                                                    </span>
                                                                }
                                                                @if (fertiliserManure.P2O5 > 0)
                                                                {
                                                                    <span class="nutrient-list">
                                                                        @string.Format(Resource.lblKgWithNutrient, fertiliserManure.P2O5, Resource.lblPhosphateP2O5)
                                                                    </span>
                                                                }
                                                                @if (fertiliserManure.K2O > 0)
                                                                {
                                                                    <span class="nutrient-list">
                                                                        @string.Format(Resource.lblKgPotash, fertiliserManure.K2O)
                                                                    </span>
                                                                }
                                                                @if (fertiliserManure.MgO > 0)
                                                                {
                                                                    <span class="nutrient-list">
                                                                        @string.Format(Resource.lblKgMagnesium, fertiliserManure.MgO)
                                                                    </span>
                                                                }
                                                                @if (fertiliserManure.Na2O > 0)
                                                                {
                                                                    <span class="nutrient-list">
                                                                        @string.Format(Resource.lblKgSodium, fertiliserManure.Na2O)
                                                                    </span>
                                                                }
                                                                @if (fertiliserManure.SO3 > 0)
                                                                {
                                                                    <span class="nutrient-list">
                                                                        @string.Format(Resource.lblKgSulphur, fertiliserManure.SO3)
                                                                    </span>
                                                                }
                                                                @if (fertiliserManure.Lime > 0)
                                                                {
                                                                    <span class="nutrient-list">
                                                                        @string.Format(Resource.lblTonneWithNutrient, fertiliserManure.Lime, Resource.lblLime)
                                                                    </span>
                                                                }
                                                            </td>
                                                            <td class="govuk-table__cell">
                                                                <p class="govuk-body cancel-link"><a asp-action="DeletePlanOrganicAndFertiliser" asp-controller="Crop" asp-route-q="@fertiliserManure.EncryptedFertId" asp-route-r="@ViewBag.Fertiliser" asp-route-s="@fertiliserManure.EncryptedFieldName">@Resource.lblRemove</a></p>
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <p class="govuk-body">@string.Format(Resource.lblYouHaveNoOrganicMaterialApplicationForFieldInYear, Model.FieldName, Model.Crops[0].Year)</p>
                                            <p class="govuk-body"><a asp-action="FieldGroup" asp-controller="FertiliserManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear" asp-route-s="@Model.EncryptedFieldId">@string.Format(Resource.lblAddAnInOrganicFertiliserApplicationForField, Model.FieldName)</a></p>
                                            <hr class="seperator_five">
                                        }

                                    }
                                }
                            }
                            break;
                        }
                    </govuk-tabs-item>

                    @* Crop details tab *@
                    <govuk-tabs-item id="cropDetails" label="@Resource.lblCropDetails">
                        <h2 class="govuk-heading-m non-standard">@string.Format(Resource.lblCropDetailsForFieldInYear, Model.FieldName, Model.Crops[0].Year)</h2>
                        @foreach (var crop in Model.Crops)
                        {
                            <hr class="seperator_five">
                            <div class="tabs-thirds margin-bottom-forty">
                                <h2 class="govuk-heading-m">
                                    @if (crop.CropTypeID == (int)NMP.Portal.Enums.CropTypes.Other)
                                    {
                                        @crop.OtherCropName
                                    }
                                    else
                                    {
                                        @crop.CropTypeName
                                    }
                                </h2>

                                <table class="govuk-table">
                                    <tbody class="govuk-table__body">
                                        @if (crop.CropTypeID == (int)NMP.Portal.Enums.CropTypes.Other)
                                        {
                                            <tr class="govuk-table__row">
                                                <th class="govuk-table__cell" scope="row">@Resource.lblCropType</th>
                                                <td class="govuk-table__cell">@crop.CropTypeName</td>
                                            </tr>
                                        }

                                        <tr class="govuk-table__row">
                                            <th class="govuk-table__cell" scope="row">@Resource.lblVarietyForRecommendation</th>
                                            <td class="govuk-table__cell">@(crop.Variety != null ? crop.Variety : Resource.lblNotEntered)</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th class="govuk-table__cell" scope="row">
                                                @Resource.lblGroup
                                            </th>
                                            <td class="govuk-table__cell">@Resource.lblNotEntered</td>

                                            @* @if (Model.CropGroupID == CerealsGroupId)
                                {
                                <td class="govuk-table__cell">@(crop.CropInfo2Name != null ? crop.CropInfo2Name : Resource.lblNotEntered)</td>
                                } *@
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th class="govuk-table__cell" scope="row">@Resource.lblPlantingDate</th>
                                            <td class="govuk-table__cell">@(crop.SowingDate != null ? crop.SowingDate.Value.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB")) : Resource.lblNotEntered)</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th class="govuk-table__cell" scope="row">@Resource.lblEstimatedYield</th>
                                            <td class="govuk-table__cell">@string.Format(Resource.lblYieldTonnesPerHectare, crop.Yield)</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <p class="govuk-body"><a asp-action="RemoveCrop" asp-controller="Crop" asp-route-q="@crop.EncryptedCropTypeName" asp-route-s="@crop.EncryptedFieldName" asp-route-t="@crop.EncryptedFieldId" asp-route-u="@crop.EncryptedCropOrder">@string.Format(Resource.lblRemoveCropTypeFromFieldName, crop.CropTypeName, Model.FieldName)</a></p>
                            </div>

                            @*  <p class="govuk-body"><a href="#">@string.Format(Resource.lblRemoveCropTypeFromFieldName, crop.CropTypeName, Model.FieldName)</a></p> *@

                        }

                    </govuk-tabs-item>
                </govuk-tabs>
            </div>
        }
    </div>
}