@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.RecommendationViewModel
@{
    ViewData["Title"] = Resource.lblRecommendations;
    int OtherGroupId = (int)NMP.Portal.Enums.CropGroup.Other;
    int CerealsGroupId = (int)NMP.Portal.Enums.CropGroup.Cereals;
}

@if (Model != null)
{
    @section BeforeContent {
    <govuk-breadcrumbs class="govuk-breadcrumbs-link">

        <govuk-breadcrumbs-item asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
            @Model.FarmName
            </govuk-breadcrumbs-item>
            <govuk-breadcrumbs-item asp-action="PlansAndRecordsOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">
                @Resource.lblPlansAndRecords
            </govuk-breadcrumbs-item>
            <govuk-breadcrumbs-item class="govuk-breadcrumbs__list-item">
                @Resource.lblHarvestYearOverview
            </govuk-breadcrumbs-item>
            <govuk-breadcrumbs-item class="govuk-breadcrumbs__list-item">
                @Model.FieldName
            </govuk-breadcrumbs-item>
        </govuk-breadcrumbs>

    }
    @Html.AntiForgeryToken()
    <div class="govuk-grid-row">
        @if (Model.Recommendations.Count > 0 && Model.Crops.Count > 0)
        {
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">
                    @string.Format(Resource.lblNutrientRecommendationsFor, Model.FieldName, Model.Crops[0].Year)
                </h1>

            </div>

            <div class="govuk-grid-column-full margin-bottom-forty">
                @foreach (var crop in Model.Crops)
                {
                    <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-table__caption--m">
                            @Resource.lblCropDetails
                        </caption>
                        <thead class="govuk-table__header">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__cell" scope="row">
                                    @Resource.lblType
                                </th>
                                <th class="govuk-table__cell" scope="row">
                                    @Resource.lblVariety
                                </th>
                                <th class="govuk-table__cell" scope="row">
                                    @Resource.lblSowingDate
                                </th>
                                <th class="govuk-table__cell" scope="row">
                                    @Resource.lblEstimatedYield
                                </th>
                                @if (Model.CropGroupID != OtherGroupId)
                                {
                                    <th class="govuk-table__cell" scope="row">
                                        @Resource.lblCropUse
                                    </th>
                                }
                                @if (Model.CropGroupID == CerealsGroupId)
                                {
                                    <th class="govuk-table__cell" scope="row">
                                        @Resource.lblStrawUse
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@Model.CropTypeName</td>
                                <td class="govuk-table__cell">@(crop.Variety != null ? crop.Variety : Resource.lblNotEntered)</td>
                                <td class="govuk-table__cell">@(crop.SowingDate != null ? crop.SowingDate.Value.Date.ToString("dd MMMM yyyy") : Resource.lblNotEntered)</td>
                                <td class="govuk-table__cell">@(crop.Yield != null ? crop.Yield : Resource.lblNotEntered)</td>
                                @if (Model.CropGroupID != OtherGroupId)
                                {
                                    <td class="govuk-table__cell">@(crop.CropInfo1)</td>
                                }
                                @if (Model.CropGroupID == CerealsGroupId)
                                {
                                    <td class="govuk-table__cell">@(crop.CropInfo2)</td>
                                }
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
            <div class="govuk-grid-column-two-thirds">
                @foreach (var recommendation in Model.Recommendations)
                {
                    <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-table__caption--m">@string.Format(Resource.lblNutrientRecommendations, Model.CropTypeName)</caption>
                        <thead class="govuk-table__header">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">@Resource.lblNutrient</th>
                                <th class="govuk-table__header" scope="col">@Resource.lblIndexPH</th>
                                <th class="govuk-table__header" scope="col">
                                    @Resource.lblCropNeed
                                    <br />
                                    <span class="hint">@Resource.lblPerHectare</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">
                                    @Resource.lblNitrogen
                                </th>
                                <td class="govuk-table__cell">
                                    @(recommendation.SNSIndex == null ? Resource.lblHyphen : recommendation.SNSIndex)
                                </td>
                                <td class="govuk-table__cell">@(recommendation.CropN == null ? Resource.lblHyphen : recommendation.CropLime == 0 ? recommendation.CropN : string.Concat(recommendation.CropN, Resource.lblkg))</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">
                                    @Resource.lblPhosphateP2O5
                                </th>
                                <td class="govuk-table__cell">
                                    @(recommendation.PIndex == null ? Resource.lblHyphen : recommendation.PIndex)
                                </td>
                                <td class="govuk-table__cell">@(recommendation.CropP2O5 == null ? Resource.lblHyphen : recommendation.CropP2O5 == 0 ? recommendation.CropP2O5 : string.Concat(recommendation.CropP2O5, Resource.lblkg))</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">
                                    @Resource.lblPotashK2O
                                </th>
                                <td class="govuk-table__cell">
                                    @(recommendation.KIndex == null ? Resource.lblHyphen : recommendation.KIndex)
                                </td>
                                <td class="govuk-table__cell">@(recommendation.CropK2O == null ? Resource.lblHyphen : recommendation.CropK2O == 0 ? recommendation.CropK2O : string.Concat(recommendation.CropK2O, Resource.lblkg))</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">
                                    @Resource.lblSulphurSO3
                                </th>
                                <td class="govuk-table__cell">
                                    @(recommendation.SIndex == null ? Resource.lblHyphen : recommendation.SIndex)
                                </td>
                                <td class="govuk-table__cell">@(recommendation.CropSO3 == null ? Resource.lblHyphen : recommendation.CropSO3 == 0 ? recommendation.CropSO3 : string.Concat(recommendation.CropSO3, Resource.lblkg))</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">
                                    @Resource.lblLime
                                </th>
                                <td class="govuk-table__cell">
                                    @Resource.lblHyphen
                                </td>
                                <td class="govuk-table__cell">
                                    @(recommendation.CropLime == null ? Resource.lblHyphen : recommendation.CropLime == 0 ? recommendation.CropLime : string.Concat(recommendation.CropLime, Resource.lblkg))
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
            @* <a class="govuk-notification-banner__link" asp-action="" asp-controller="Crop">@string.Format(Resource.lblChangeLinkForRecommendation, crop.CropTypeID,crop.FieldID)</a>           *@
        }

    </div>
    @* </form> *@
}