﻿@using NMP.Portal.Resources
@using System.Globalization
@using NMP.Portal.ViewModels

@model PlanViewModel
@{
    ViewData["Title"] = Resource.lblRemoveThisGroup;
    var yes = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.False);

}

@if (Model != null)
{
    @section BeforeContent {
    <govuk-back-link asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
    }
    <form asp-action="RemoveCropGroup" asp-controller="Crop" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroupName" value="@Model.CropGroupName"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropType" value="@Model.CropType"></govuk-input>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                @if (TempData["RemoveGroupError"] != null)
                {
                    <govuk-error-summary>
                        <govuk-error-summary-item href="#">@TempData["RemoveGroupError"]</govuk-error-summary-item>
                    </govuk-error-summary>
                }

                <h1 class="govuk-heading-l">@string.Format(Resource.lblRemoveCropGroupWithCropType, Model.CropGroupName, Model.CropType)</h1>

                <p class="govuk-body">
                    @Resource.lblRemoveCropGroupContent1
                </p>
                <p class="govuk-body">
                    @Resource.lblRemoveCropGroupContent2
                </p>

                <govuk-radios class="govuk-radios--inline" asp-for="@Model.RemoveCropGroup">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend>
                            @Resource.lblAreYouSureYouWantToContinue
                        </govuk-radios-fieldset-legend>
                        <govuk-radios-item value="@yes">@Resource.lblYes</govuk-radios-item>
                        <govuk-radios-item value="@no">@Resource.lblNo</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>

                <p class="govuk-body cancel-link"><a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblCancel</a></p>
            </div>
        </div>
    </form>

}
