﻿@using NMP.Commons.Resources
@using System.Globalization
@using NMP.Commons.ViewModels

@model PlanViewModel
@{
    var pageHeading = "";
    if (Model.IsComingFromRecommendation.HasValue && Model.IsComingFromRecommendation.Value)
    {
        pageHeading = string.Format(Resource.lblRemoveCropTypeFromFieldName, Model.CropType, Model.FieldName);
    }
    else
    {
        pageHeading = string.Format(Resource.lblRemoveCropGroupWithCropType, Model.CropGroupName);
    }

    string title = Resource.lblRemoveCropPlan;
    ViewData["Title"] = $"{pageHeading} {Resource.lblHyphen} {title}";


    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);

}
@if (Model != null)
{
    @section BeforeContent {
    @if (Model.IsComingFromRecommendation.HasValue && Model.IsComingFromRecommendation.Value)
        {
            <govuk-back-link asp-action="Recommendations" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedFieldId" asp-route-s="@Model.EncryptedHarvestYear">
                @Resource.lblBack
            </govuk-back-link>
        }
        else
        {
            <govuk-back-link asp-action="CheckAnswer" asp-controller="Crop" asp-route-q="@ViewBag.EncryptedCropType" asp-route-r="@(ViewBag.EncryptedCropGroupName!=null?ViewBag.EncryptedCropGroupName:null)" asp-route-s="@Model.EncryptedIsCropUpdate">@Resource.lblBack</govuk-back-link>

        }
        }
    <form asp-action="RemoveCrop" asp-controller="Crop" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                @if (TempData["RemoveGroupError"] != null)
                {
                    <govuk-error-summary>
                        <govuk-error-summary-item href="#">@TempData["RemoveGroupError"]</govuk-error-summary-item>
                    </govuk-error-summary>
                }
                <h1 class="govuk-heading-l">
                    @if (Model.IsComingFromRecommendation.HasValue && Model.IsComingFromRecommendation.Value)
                    {
                        @string.Format(Resource.lblRemoveCropTypeFromFieldName, Model.CropType, Model.FieldName)
                    }
                    else
                    {
                        @string.Format(Resource.lblRemoveCropGroupWithCropType, Model.CropGroupName)

                    }
                </h1>

                @if (Model.IsComingFromRecommendation.HasValue && Model.IsComingFromRecommendation.Value)
                {
                    <p class="govuk-body">
                        @string.Format(Resource.lblRemoveCropPlanContent1, Model.FieldName)
                    </p>
                    <p class="govuk-body">
                        @string.Format(Resource.lblRemoveCropPlanContent2, Model.FieldName)
                    </p>
                }
                else
                {
                    <p class="govuk-body">
                        @Resource.lblRemoveCropGroupContent1
                    </p>
                    <p class="govuk-body">
                        @Resource.lblRemoveCropGroupContent2
                    </p>
                }

                <govuk-radios class="govuk-radios--inline" for="@Model.RemoveCrop">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend>
                            @Resource.lblAreYouSureYouWantToContinue
                        </govuk-radios-fieldset-legend>
                        <govuk-radios-item value="@yes">@Resource.lblYes</govuk-radios-item>
                        <govuk-radios-item value="@no">@Resource.lblNo</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>

                @if (Model.IsComingFromRecommendation.HasValue && Model.IsComingFromRecommendation.Value)
                {
                    <p class="govuk-body cancel-link"><a asp-action="Recommendations" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedFieldId" asp-route-s="@Model.EncryptedHarvestYear">@Resource.lblCancel</a></p>
                }
                else
                {
                    <p class="govuk-body cancel-link"><a asp-action="CheckAnswer" asp-controller="Crop" >@Resource.lblCancel</a></p>
                }
            </div>
        </div>
    </form>

}
