﻿@using NMP.Portal.Resources
@using System.Globalization
@using NMP.Portal.ViewModels

@model PlanViewModel
@{
    ViewData["Title"] = Resource.lblRemoveThisGroup;
    var yes = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.False);

}

@if (Model != null)
{
    @section BeforeContent {
    <govuk-back-link asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
    }
    <form asp-action="RemoveCropGroup" asp-controller="Crop" method="post" autocomplete="off">
        @Html.AntiForgeryToken()

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                @if (TempData["RemoveGroupError"] != null)
                {
                    <govuk-error-summary>
                        <govuk-error-summary-item href="#">@TempData["RemoveGroupError"]</govuk-error-summary-item>
                    </govuk-error-summary>
                }
             
                <h1 class="govuk-heading-l">@string.Format(Resource.lblRemoveCropGroupWithCropType, ViewBag.CropGroupName, ViewBag.CropType)</h1>

                <govuk-notification-banner>
                    <govuk-notification-banner-title>
                        @Resource.lblImportant
                    </govuk-notification-banner-title>
                    <p class="govuk-body">Under construction</p>
                </govuk-notification-banner>
                @*
            <p class="govuk-body">
            @string.Format(Resource.lblRemoveCropGroupWithCropType, Model.FieldName)
            </p> *@

                @*  <govuk-radios class="govuk-radios--inline" asp-for="@Model.SoilAnalysisRemove">
            <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend>
            @Resource.lblAreYouSureYouWantToContinue
            </govuk-radios-fieldset-legend>
            <govuk-radios-item value="@yes">@Resource.lblYes</govuk-radios-item>
            <govuk-radios-item value="@no">@Resource.lblNo</govuk-radios-item>
            </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
            @Resource.lblContinue
            </govuk-button> *@

                <p class="govuk-body cancel-link"><a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblCancel</a></p>
            </div>
        </div>
    </form>

}