@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.PlanViewModel
@{
    var YesIHaveASingleDateForAllTheseFields = (int)NMP.Commons.Enums.SowingDateQuestion.YesIHaveASingleDateForAllTheseFields;
    var NoIWillEnterTheDateLater = (int)NMP.Commons.Enums.SowingDateQuestion.NoIWillEnterTheDateLater;
    var YesIHaveDifferentDatesForEachOfTheseFields = (int)NMP.Commons.Enums.SowingDateQuestion.YesIHaveDifferentDatesForEachOfTheseFields;
    
    int OtherGroupId = (int)NMP.Commons.Enums.CropGroup.Other;
    string cropName;
    if (Model.CropGroupId == OtherGroupId) cropName = Model.OtherCropName;
    else if (Model.CropGroupId == (int)NMP.Commons.Enums.CropGroup.Potatoes) cropName = Model.Variety;
    else cropName = Model.CropType;

    string heading;
    if (Model.CropGroupId != (int)NMP.Commons.Enums.CropGroup.Grass)
        heading = string.Format(Resource.lblDoYouHaveADateForWhenYouPlantedYour, cropName);
    else
        heading = string.Format(Resource.lblDoYouHaveADateForWhenYouSowedYour, cropName);

    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {title}";

    var action = "";
    if (Model.IsCheckAnswer && (!Model.IsAnyChangeInField) && (!Model.IsCropGroupChange) && (!Model.IsCropTypeChange) && (!Model.IsCurrentSwardChange))
    {
        action = "CheckAnswer";
    }
    else if (Model.CurrentSward == (int)NMP.Commons.Enums.CurrentSward.NewSward)
    {
        action = "GrassSeason";
    }
    else if (Model.CropGroupId == (int)NMP.Commons.Enums.CropGroup.Grass)
    {
        action = "CurrentSward";
    }
    else
    {
        if (Model.IsFieldToBeRemoved.HasValue && Model.IsFieldToBeRemoved.Value)
        {
            action = "AddOrRemoveField";
        }
        else
        {
            action = "VarietyName";
        }
    }
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.CropWizardSteps.SowingDateQuestion;
}

@section BeforeContent {
    <govuk-back-link asp-action="@action" asp-controller="Crop">@Resource.lblBack</govuk-back-link>
    
}
<form asp-action="SowingDateQuestion" asp-controller="Crop" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @if (TempData["SowingDateQuestionError"] != null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["SowingDateQuestionError"]</govuk-error-summary-item>
                </govuk-error-summary>
            </div>
        </div>
    }
    @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-radios for="@Model.SowingDateQuestion">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @if (Model.CropGroupId != (int)NMP.Commons.Enums.CropGroup.Grass)
                        {
                            @(string.Format(Resource.lblDoYouHaveADateForWhenYouPlantedYour, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropType))
                        }
                        else
                        {
                            @(string.Format(Resource.lblDoYouHaveADateForWhenYouSowedYour, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropType))
                        }
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-hint>
                        @Resource.lblYouCanChangeTheDateLater
                    </govuk-radios-hint>
                    <govuk-radios-item value="@YesIHaveASingleDateForAllTheseFields">@(Model.Crops.Count > 1 ? Resource.lblYesIHaveASingleDateForAllTheseFields : Resource.lblYes)</govuk-radios-item>
                    @if (Model.Crops.Count > 1)
                    {
                        <govuk-radios-item value="@YesIHaveDifferentDatesForEachOfTheseFields">@Resource.lblYesIHaveDifferentDatesForEachOfTheseFields</govuk-radios-item>
                    }
                    <govuk-radios-item value="@NoIWillEnterTheDateLater">@Resource.lblNoIWillEnterTheDateLater</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>