@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.PlanViewModel
@{

    int SingleDateForAllTheseFields = (int)NMP.Commons.Enums.SowingDateQuestion.YesIHaveASingleDateForAllTheseFields;
    int OtherGroupId = (int)NMP.Commons.Enums.CropGroup.Other;

    string cropName;
    if (Model.CropGroupId == OtherGroupId) cropName = Model.OtherCropName;
    else cropName = Model.CropType;

    bool isMultiple = Model.Crops.Count > 1 && Model.SowingDateQuestion == SingleDateForAllTheseFields;

    string pageHeading;

    if (Model.CropGroupId != (int)NMP.Commons.Enums.CropGroup.Grass)
    {
        if (isMultiple)
            pageHeading = string.Format(Resource.lblWhatIsThePlantingDateForYearInTheseField, cropName);
        else
            pageHeading = string.Format(Resource.lblWhatIsThePlantingDate, cropName, Model.Crops[Model.SowingDateCurrentCounter].FieldName);
    }
    else
    {
        if (isMultiple)
            pageHeading = string.Format(Resource.lblWhatIsTheSowingDateForCrop, cropName);
        else
            pageHeading = string.Format(Resource.lblWhatIsTheSowingDateForCropInField, cropName, Model.Crops[Model.SowingDateCurrentCounter].FieldName);
    }

    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{pageHeading} {Resource.lblHyphen} {title}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.CropWizardSteps.SowingDate;

}

@section BeforeContent {
    <govuk-back-link asp-action="@(Model.IsCheckAnswer && (!Model.IsCropGroupChange) && (!Model.IsAnyChangeInField) && (!Model.IsQuestionChange) && (!Model.IsCropTypeChange) && (!Model.IsCurrentSwardChange)?" CheckAnswer":"SowingDate")" asp-controller="Crop" asp-route-q="@Model.SowingDateEncryptedCounter">@Resource.lblBack</govuk-back-link>
}
<form asp-action="SowingDate" asp-controller="Crop" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @if (TempData["SowingDateError"] != null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["SowingDateError"]</govuk-error-summary-item>
                </govuk-error-summary>
            </div>
        </div>
    }
    @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model.Crops != null && Model.Crops.Count > 0)
            {
                @for (int i = 0; i < Model.Crops.Count; i++)
                {                   
                    @if (Model.SowingDateCurrentCounter == i)
                    {
                        <govuk-date-input for="@Model.Crops[i].SowingDate">
                            <govuk-date-input-fieldset>
                                <govuk-date-input-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                                    @pageHeading
                                </govuk-date-input-fieldset-legend>
                                <govuk-date-input-hint>
                                    @string.Format(Resource.MsgDateExample, DateTime.Now.Year - 1)
                                </govuk-date-input-hint>
                                <govuk-date-input-day maxlength="2" pattern="[0-9]*"></govuk-date-input-day>
                                <govuk-date-input-month maxlength="2" pattern="[0-9]*"></govuk-date-input-month>
                                <govuk-date-input-year maxlength="4" pattern="[0-9]*"></govuk-date-input-year>
                            </govuk-date-input-fieldset>
                        </govuk-date-input>
                    }
                    else
                    {
                        <div hidden="true">
                            <govuk-date-input class="govuk-visually-hidden" type="hidden" for="@Model.Crops[@i].SowingDate" value="@Model.Crops[i].SowingDate"></govuk-date-input>
                        </div>
                    }
                }
            }
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>