@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.PlanViewModel
@{
    string title = Resource.lblUpdateExcessWinterRainfall;
    ViewData["Title"] = $"{string.Format(Resource.lblRainfallCategoryForFarmName, Model.FarmName)} {Resource.lblHyphen} {title}";
}

@section BeforeContent {
    <govuk-back-link asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (TempData["UpdateExcessWinterRainfallError"] != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["UpdateExcessWinterRainfallError"]</govuk-error-summary-item>
            </govuk-error-summary>
        }
        <h1 class="govuk-heading-l">
            @string.Format(Resource.lblRainfallCategoryForFarmName, Model.FarmName)
        </h1>

        <p class="govuk-body">@Resource.lblUpdateRainfallContentOne</p>

        <table class="govuk-table">
            <thead class="govuk-table__head">
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">@Resource.lblAverageAnnualRainfall</th>
                    <td class="govuk-table__cell">
                        @(Model.AnnualRainfall != null ? string.Format(Resource.lblRainfallMM, Model.AnnualRainfall) : Resource.lblNotEntered)
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">@Resource.lblExcessWinterRainfall</th>
                    <td class="govuk-table__cell">
                        @(!string.IsNullOrWhiteSpace(Model.ExcessWinterRainfallName)? Model.ExcessWinterRainfallName : Resource.lblNotEntered)
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="margin-bottom-forty">
            <a class="govuk-button add-button" asp-action="ExcessWinterRainfall" asp-controller="Crop" class="margin-bottom-forty">@Resource.lblUpdateExcessWinterRainfall</a>
        </div>

            <p class="govuk-body cancel-link"><a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblCancel</a></p>


    </div>
</div>