﻿@using NMP.Portal.Resources
@using System.Globalization
@model NMP.Portal.ViewModels.PlanViewModel
@{

    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{string.Format(Resource.lblUpdateCropGroupNameForHarvestYear, Model.CropGroupName, Model.Year)} {Resource.lblHyphen} {title}";

    var varietyNameHeading = ((Model.CropTypeID == (int)NMP.Portal.Enums.CropTypes.PotatoVarietyGroup1 ||
                            Model.CropTypeID == (int)NMP.Portal.Enums.CropTypes.PotatoVarietyGroup2 ||
                            Model.CropTypeID == (int)NMP.Portal.Enums.CropTypes.PotatoVarietyGroup3 ||
                            Model.CropTypeID == (int)NMP.Portal.Enums.CropTypes.PotatoVarietyGroup4) ? Resource.lblWhatIsThePotatoVarietyName : Resource.lblVarietyNameWithOptional);
}
@section BeforeContent {
    <govuk-back-link asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
}

@{
    int OtherGroupId = (int)NMP.Portal.Enums.CropGroup.Other;
    var sowingDateQuestion = "";
    switch (Model.SowingDateQuestion)
    {
        case (int)NMP.Portal.Enums.SowingDateQuestion.NoIWillEnterTheDateLater:
            sowingDateQuestion = Resource.lblNoIWillEnterTheDateLater;
            break;
        case (int)NMP.Portal.Enums.SowingDateQuestion.YesIHaveASingleDateForAllTheseFields:
            sowingDateQuestion = Resource.lblYesIHaveASingleDateForAllTheseFields;
            break;
        case (int)NMP.Portal.Enums.SowingDateQuestion.YesIHaveDifferentDatesForEachOfTheseFields:
            sowingDateQuestion = Resource.lblYesIHaveDifferentDatesForEachOfTheseFields;
            break;
    }
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        @if (TempData["ErrorUpdateCropGroupNameCheckAnswer"] != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorUpdateCropGroupNameCheckAnswer"]</govuk-error-summary-item>
            </govuk-error-summary>
        }
        <h1 class="govuk-heading-l">
            @string.Format(Resource.lblUpdateCropGroupNameForHarvestYear, Model.CropGroupName, Model.Year)
        </h1>

        <govuk-inset-text>
            <p class="govuk-body">
                @Resource.lblUpdateCropGroupNameContent1 <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@string.Format(Resource.lblViewTheYearCropPlan, Model.Year)</a>.
            </p>
        </govuk-inset-text>

        <form class="form-with-overlay"  asp-action="UpdateCropGroupNameCheckAnswer" asp-controller="Crop" method="post" autocomplete="off">
            @Html.AntiForgeryToken()

            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Yield" value="@Model.Yield"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year" value="@Model.Year"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear" value="@Model.EncryptedHarvestYear"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId" value="@Model.EncryptedFarmId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroupName" value="@Model.CropGroupName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropType" value="@Model.CropType"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeID" value="@Model.CropTypeID"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Variety" value="@Model.Variety"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedIsCropUpdate" value="@Model.EncryptedIsCropUpdate"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo1" value="@Model.CropInfo1"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo2" value="@Model.CropInfo2"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo1Name" value="@Model.CropInfo1Name"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropInfo2Name" value="@Model.CropInfo2Name"/>
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SowingDate" value="@Model.SowingDate"></govuk-date-input>

            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CurrentSward"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassSeason"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassGrowthClassDistinctCount" value="@Model.GrassGrowthClassDistinctCount"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassGrowthClassCounter" value="@Model.GrassGrowthClassCounter"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassGrowthClassEncryptedCounter" value="@Model.GrassGrowthClassEncryptedCounter"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassGrowthClassQuestion"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DryMatterYieldCounter"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DryMatterYieldEncryptedCounter"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SwardTypeId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SwardManagementId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PotentialCut"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationSequenceId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CopyExistingPlan"/>

            @if (Model.HarvestYear != null && Model.HarvestYear.Count > 0)
            {
                @for (int i = 0; i < Model.HarvestYear.Count; i++)
                {
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear[i].Year" value="@Model.HarvestYear[i].Year"/>
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear[i].EncryptedYear" value="@Model.HarvestYear[i].EncryptedYear"/>
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear[i].LastModifiedOn" value="@Model.HarvestYear[i].LastModifiedOn"/>
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear[i].IsAnyPlan" value="@Model.HarvestYear[i].IsAnyPlan"/>
                }
            }
            @if (Model.Crops != null && Model.Crops.Count > 0)
            {
                @for (int i = 0; i < Model.Crops.Count; i++)
                {
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].ID" value="@Model.Crops[i].ID"/>
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropTypeID" value="@Model.Crops[i].CropTypeID"/>
                    <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].SowingDate" value="@Model.Crops[i].SowingDate"></govuk-date-input>
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Yield" value="@Model.Crops[i].Yield"/>
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].FieldName" value="@Model.Crops[i].FieldName"/>
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropInfo1" value="@Model.Crops[i].CropInfo1"/>
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropInfo2" value="@Model.Crops[i].CropInfo2"/>
                }

            }
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>@Resource.lblWhatIsTheCropType</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.CropType</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        @* <govuk-summary-list-row-action href="#">@Resource.lblChange</govuk-summary-list-row-action> *@
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        @varietyNameHeading
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@(string.IsNullOrWhiteSpace(Model.Variety) ? Resource.lblNotEntered : Model.Variety)</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="VarietyName" asp-controller="Crop" asp-route-q="@Model.EncryptedIsCropUpdate">@Resource.lblChange<span class="govuk-visually-hidden">@varietyNameHeading</span></govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>@string.Format(Resource.lblWhichFieldsDoYouPlanToGrow, Model.CropType)</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @if (Model.Crops != null && Model.Crops.Count > 0)
                        {
                            @foreach (var crop in Model.Crops)
                            {
                                @crop.FieldName <br />
                            }
                        }
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        @* <govuk-summary-list-row-action href="#">@Resource.lblChange</govuk-summary-list-row-action> *@
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>@Resource.lblWhatWouldYouLikeToCallThisCropGroup</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.CropGroupName</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-action="CropGroupName" asp-controller="Crop" asp-route-q="@Model.EncryptedIsCropUpdate">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblWhatWouldYouLikeToCallThisCropGroup</span></govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>

                @if (ViewBag.isBasePlan != null && ViewBag.isBasePlan == true)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@(string.Format(Resource.lblDoYouHaveADateForWhenYouPlantedYour, Model.CropType))</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Resource.lblNotEntered</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="SowingDateQuestion" asp-controller="Crop">@Resource.lblChange<span class="govuk-visually-hidden">@(string.Format(Resource.lblDoYouHaveADateForWhenYouPlantedYour, Model.CropType))</span></govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }
                else @if (sowingDateQuestion != null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@(string.Format(Resource.lblDoYouHaveADateForWhenYouPlantedYour, Model.CropType))</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@sowingDateQuestion</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="SowingDateQuestion" asp-controller="Crop">@Resource.lblChange<span class="govuk-visually-hidden">@(string.Format(Resource.lblDoYouHaveADateForWhenYouPlantedYour, Model.CropType))</span></govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>

                }
                @if (Model.SowingDateQuestion == (int)NMP.Portal.Enums.SowingDateQuestion.YesIHaveASingleDateForAllTheseFields)
                {
                    bool renderSowingDate = false;
                    @foreach (var crop in Model.Crops)
                    {
                        @if (!renderSowingDate)
                        {
                            <govuk-summary-list-row class=@((!crop.SowingDate.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblSowingSingleDateForCheckAnswer, Model.CropGroupId == OtherGroupId ? Model.OtherCropName :  Model.CropType)
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(crop.SowingDate.HasValue ? crop.SowingDate.Value.Date.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB")) : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    @* <govuk-summary-list-row-action asp-action="SowingDate" asp-controller="Crop" asp-route-q="@Model.SowingDateEncryptedCounter">@Resource.lblChange</govuk-summary-list-row-action> *@
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            renderSowingDate = true;
                        }
                    }
                }
                else if (Model.SowingDateQuestion == (int)NMP.Portal.Enums.SowingDateQuestion.YesIHaveDifferentDatesForEachOfTheseFields)
                {
                    @foreach (var crop in Model.Crops)
                    {
                        <govuk-summary-list-row class=@((!crop.SowingDate.HasValue)?"govuk-error-message":"")>
                            <govuk-summary-list-row-key>
                                @string.Format(Resource.lblSowingDiffrentDateForCheckAnswer, Model.CropGroupId == OtherGroupId ? Model.OtherCropName :  Model.CropType, crop.FieldName)
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @(crop.SowingDate.HasValue ? crop.SowingDate.Value.Date.ToString("dd MMMM yyyy") : Resource.lblNotSet)
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                @* <govuk-summary-list-row-action asp-action="SowingDate" asp-controller="Crop" asp-route-q="@crop.EncryptedCounter">@Resource.lblChange</govuk-summary-list-row-action> *@
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                }
                @if (ViewBag.isBasePlan != null && ViewBag.isBasePlan == true)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Resource.lblHowDoYouWantToEnterExpectedYield</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Resource.lblNotEntered</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            @* <govuk-summary-list-row-action href="#">@Resource.lblChange</govuk-summary-list-row-action> *@
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }
                else  @if (Model.YieldQuestion == (int)NMP.Portal.Enums.YieldQuestion.EnterASingleFigureForAllTheseFields)
                {
                    bool renderSowingDate = false;
                    @foreach (var crop in Model.Crops)
                    {
                        @if (!renderSowingDate)
                        {

                            <govuk-summary-list-row class=@((!crop.Yield.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblWhatIsTheExpectedYieldForSingle, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropType)
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(crop.Yield.HasValue ? crop.Yield.Value == 0.0m ? 0 : crop.Yield.Value.ToString("#.#") + " " + @Resource.lblTonnesPerHectare : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="Yield" asp-controller="Crop" asp-route-q=@Model.YieldEncryptedCounter>@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblWhatIsTheExpectedYieldForSingle, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropType)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            renderSowingDate = true;
                        }
                    }
                }
                else if (Model.YieldQuestion == (int)NMP.Portal.Enums.YieldQuestion.EnterDifferentFiguresForEachField)
                {
                    @foreach (var crop in Model.Crops)
                    {
                        <govuk-summary-list-row class=@((!crop.Yield.HasValue)?"govuk-error-message":"")>
                            <govuk-summary-list-row-key>
                                @string.Format(Resource.lblWhatIsTheDifferentExpectedYield, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropType, crop.FieldName)
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @(crop.Yield.HasValue ? crop.Yield.Value == 0.0m ? 0 : crop.Yield.Value.ToString("#.#") + " " + @Resource.lblTonnesPerHectare : Resource.lblNotSet)
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="Yield" asp-controller="Crop" asp-route-q=@crop.EncryptedCounter>@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblWhatIsTheDifferentExpectedYield, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropType, crop.FieldName)</span></govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                }
                else if (Model.YieldQuestion == (int)NMP.Portal.Enums.YieldQuestion.UseTheStandardFigureForAllTheseFields)
                {
                    bool renderSowingDate = false;
                    @foreach (var crop in Model.Crops)
                    {
                        @if (!renderSowingDate)
                        {
                            <govuk-summary-list-row class=@((!crop.Yield.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblWhatIsTheExpectedYieldForSingle, Model.CropGroupId == OtherGroupId ? Model.OtherCropName :  Model.CropType)
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(crop.Yield.HasValue ? crop.Yield.Value == 0.0m ? 0 : crop.Yield.Value.ToString("#.#") + " " + @Resource.lblTonnesPerHectare : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    @* <govuk-summary-list-row-action asp-action="Yield" asp-controller="Crop" asp-route-q=@Model.YieldEncryptedCounter>@Resource.lblChange</govuk-summary-list-row-action> *@
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            renderSowingDate = true;
                        }
                    }
                }
                @if (!string.IsNullOrWhiteSpace(Model.CropInfo1Name))
                {
                    <govuk-summary-list-row>

                        <govuk-summary-list-row-key>
                            @if (ViewBag.CropInfoOneQuestion != null)
                            {
                                @ViewBag.CropInfoOneQuestion
                            }
                            else
                            {
                                @Resource.lblHowDoYouPlanToUseTheCrop
                            }

                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.CropInfo1Name</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            @* <govuk-summary-list-row-action href="#">@Resource.lblChange</govuk-summary-list-row-action> *@
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }
                @if (!string.IsNullOrWhiteSpace(Model.CropInfo2Name))
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @string.Format(Resource.lblHowDoYouPlanToUseTheStrawFromYourCropType, Model.CropType)
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.CropInfo2Name</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            @* <govuk-summary-list-row-action href="#">@Resource.lblChange</govuk-summary-list-row-action> *@
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }
            </govuk-summary-list>

            <p class="govuk-body margin-bottom-forty">@Resource.lblYouCanAlso<a asp-action="RemoveCrop" asp-controller="Crop" asp-route-q="@ViewBag.EncryptedCropTypeId" asp-route-r="@(ViewBag.EncryptedCropGroupName==null?null:ViewBag.EncryptedCropGroupName)">@Resource.lblRemoveThisCropGroup</a>.</p>
            <button class="govuk-button" data-module="govuk-button" prevent-double-click="true">
                @Resource.lblUpdateThisCropGroup
            </button>
            <p class="govuk-body">
                <a asp-action="Cancel" asp-controller="Crop" asp-route-q="@Model.EncryptedIsCropUpdate">@Resource.lblCancel</a>
            </p>
        </form>

    </div>
</div>