@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.PlanViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{Resource.lblVarietyNameWithOptional} {Resource.lblHyphen} {title}";

    int potatoGroupId = (int)NMP.Commons.Enums.CropGroup.Potatoes;
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.CropWizardSteps.Variety;
}

@section BeforeContent {
    <govuk-back-link asp-action="@(Model.IsCheckAnswer && (!Model.IsCropGroupChange) && (!Model.IsCropTypeChange) && (!Model.IsAnyChangeInField) ? "CheckAnswer" : "CropGroupName")" asp-controller="Crop">@Resource.lblBack</govuk-back-link>
    
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (TempData["ErrorOnVariety"] != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnVariety"]</govuk-error-summary-item>
            </govuk-error-summary>
        }
        <form asp-action="VarietyName" asp-controller="Crop" method="post" autocomplete="off">
            @Html.AntiForgeryToken()
            @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OtherCropName"/>
            <govuk-input for="@Model.Variety">
                <govuk-input-label is-page-heading="true" class="govuk-label--l">@Resource.lblVarietyNameWithOptional</govuk-input-label>
            </govuk-input>
            <govuk-button type="submit" data-prevent-double-click="true" class="govuk-button margin-bottom-forty margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
        </form>
        <p class="govuk-body cancel-link">
            @if (!Model.IsCheckAnswer)
            {
                <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
            }
            else
            {
                <a asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
            }
        </p>
        

    </div>

</div>
