@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.PlanViewModel
@{
    int EnterASingleFigureForAllTheseFields = (int)NMP.Commons.Enums.YieldQuestion.EnterASingleFigureForAllTheseFields;
    int OtherGroupId = (int)NMP.Commons.Enums.CropGroup.Other;
    var backAction = "";
    string cropName;
    if (Model.CropGroupId == OtherGroupId) cropName = Model.OtherCropName;
    else cropName = Model.CropType;

    bool isMultiple = Model.Crops.Count > 1 && Model.YieldQuestion == EnterASingleFigureForAllTheseFields;
    bool isOptional = ViewBag.IsYieldOptional != null;

    string pageHeading;

    if (isOptional && isMultiple)
        pageHeading = string.Format(Resource.lblWhatIsTheExpectedYieldForSingleForDefaultYield, cropName);
    else if (isOptional)
        pageHeading = string.Format(Resource.lblWhatIsTheDifferentExpectedYieldForDefaultYield, cropName, Model.Crops[Model.YieldCurrentCounter].FieldName);
    else if (isMultiple)
        pageHeading = string.Format(Resource.lblWhatIsTheExpectedYieldForSingle, cropName);
    else
        pageHeading = string.Format(Resource.lblWhatIsTheDifferentExpectedYield, cropName, Model.Crops[Model.YieldCurrentCounter].FieldName);

    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{pageHeading} {Resource.lblHyphen} {title}";
    if (Model.Crops.Count > 1)
    {
        backAction = "Yield";
    }
    else if (Model.Crops.Count == 1)
    {
        backAction = "Yield";
    }
    else if (Model.SowingDateQuestion != (int)NMP.Commons.Enums.SowingDateQuestion.NoIWillEnterTheDateLater)
    {
        backAction = "SowingDate";
    }
    else
    {
        backAction = "SowingDateQuestion";
    }
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.CropWizardSteps.Yield;
}

@section BeforeContent {
    <govuk-back-link asp-action="@(Model.IsCheckAnswer && (!Model.IsAnyChangeInField)&& (!Model.IsCropGroupChange) && (!Model.IsQuestionChange)&& (!Model.IsCropTypeChange)?"CheckAnswer":"Yield")" asp-controller="Crop" asp-route-q=@(backAction == "SowingDate" ? Model.SowingDateEncryptedCounter : Model.YieldEncryptedCounter)>@Resource.lblBack</govuk-back-link>
}
<form asp-action="Yield" asp-controller="Crop" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @if (TempData["ErrorOnYield"] != null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["ErrorOnYield"]</govuk-error-summary-item>
                </govuk-error-summary>
            </div>
        </div>
    }
    @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model.Crops != null && Model.Crops.Count > 0)
            {
                @for (int i = 0; i < Model.Crops.Count; i++)
                {
                    @if (Model.YieldCurrentCounter == i)
                    {
                        string cropName;
                        if (Model.CropGroupId == OtherGroupId) cropName = Model.OtherCropName;
                        else cropName = Model.CropType;

                        bool isMultiple = Model.Crops.Count > 1 && Model.YieldQuestion == EnterASingleFigureForAllTheseFields;
                        bool isOptional = ViewBag.IsYieldOptional != null;

                        string question;

                        if (isOptional && isMultiple)
                            question = string.Format(Resource.lblWhatIsTheExpectedYieldWithSuffix, cropName);
                        else if (isOptional)
                            question = string.Format(Resource.lblWhatIsTheExpectedYieldForFieldInWithSuffix, cropName, Model.Crops[i].FieldName);
                        else if (isMultiple)
                            question = string.Format(Resource.lblWhatIsTheExpectedYieldForTheseFieldWithSuffix, cropName);
                        else
                            question = string.Format(Resource.lblWhatIsTheExpectedYieldForFieldInSuffix, cropName, Model.Crops[i].FieldName);
                        <govuk-input for=@Model.Crops[i].Yield input-class="govuk-input--width-5" type="number" step="any" spellcheck="false">
                            <govuk-input-label is-page-heading="true" class="govuk-label--l">
                                @question<span class="govuk-visually-hidden">@string.Format(Resource.lblInUnit, Resource.lblTonnesAndHectare)</span>@((ViewBag.IsYieldOptional != null) ? Resource.lblOptionalQues : Resource.lblQuestionMark)
                            </govuk-input-label>
                            <govuk-input-suffix>@Resource.lblTonnesAndHectare</govuk-input-suffix>
                        </govuk-input>
                    }
                    else
                    {
                        <div hidden="true">
                            <input class="govuk-visually-hidden" type="hidden" for="@Model.Crops[i].Yield" name="crops[@i].Yield" value="@Model.Crops[i].Yield"/>
                        </div>
                    }
                }
            }
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>