@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.PlanViewModel
@{
    ViewData["Title"] = Resource.lblSowingDate;
    int PotatoGroupId = (int)NMP.Portal.Enums.CropGroup.Potatoes;
    int EnterASingleFigureForAllTheseFields = (int)NMP.Portal.Enums.YieldQuestion.EnterASingleFigureForAllTheseFields;
    int OtherGroupId = (int)NMP.Portal.Enums.CropGroup.Other;
    var backAction = Model.Crops.Count > 1 ? "Yield" : Model.SowingDateQuestion != (int)NMP.Portal.Enums.SowingDateQuestion.NoIWillEnterTheDateLater ? "SowingDate" :
    "SowingDateQuestion";
}

@section BeforeContent {
    <govuk-back-link asp-action=@backAction asp-controller="Crop" asp-route-q=@(backAction=="SowingDate"?Model.SowingDateEncryptedCounter:Model.YieldEncryptedCounter)>@Resource.lblBack</govuk-back-link>
}
<form asp-action="Yield" asp-controller="Crop" method="post">
    @Html.AntiForgeryToken()
    @if (TempData["ErrorOnYield"] != null)
    {
        <govuk-error-summary>
            <govuk-error-summary-item href="#">@TempData["ErrorOnYield"]</govuk-error-summary-item>
        </govuk-error-summary>
    }
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroupId"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeID"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroup"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropType"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsEnglishRules"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Variety"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OtherCropName"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SowingDateQuestion"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName" value="@Model.FieldName"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SowingDateCurrentCounter" value="@Model.SowingDateCurrentCounter"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldID" value="@Model.FieldID"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SowingDateEncryptedCounter" value="@Model.SowingDateEncryptedCounter"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.YieldQuestion"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.YieldCurrentCounter" value="@Model.YieldCurrentCounter"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.YieldEncryptedCounter" value="@Model.YieldEncryptedCounter"></govuk-input>
    @if (Model.FieldList != null && Model.FieldList.Count > 0)
    {
        @for (int i = 0; i < Model.FieldList.Count; i++)
        {
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]"></govuk-input>
        }
    }
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model.Crops != null && Model.Crops.Count > 0)
            {
                @for (int i = 0; i < Model.Crops.Count; i++)
                {
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[@i].FieldId" name="crops[@i].FieldId" value="@Model.Crops[i].FieldId"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[@i].Year" name="crops[@i].Year" value="@Model.Crops[i].Year"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[@i].CropTypeID" name="crops[@i].CropTypeID" value="@Model.Crops[i].CropTypeID"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[@i].OtherCropName" name="crops[@i].OtherCropName" value="@Model.Crops[i].OtherCropName"></govuk-input>
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[@i].Variety" name="crops[@i].Variety" value="@Model.Crops[i].Variety"></govuk-input>
                    <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].SowingDate" value="@Model.Crops[i].SowingDate"></govuk-date-input>
                    @if (Model.YieldCurrentCounter == i)
                    {
                        <govuk-input asp-for=@Model.Crops[i].Yield input-class="govuk-input--width-5" type="number" step="any" spellcheck="false">
                            <govuk-input-label is-page-heading="true" class="govuk-label--l">
                                @(Model.YieldQuestion == EnterASingleFigureForAllTheseFields ? string.Format(Resource.lblWhatIsTheExpectedYieldForSingle, Model.CropGroupId == PotatoGroupId ? Model.Variety + Resource.lblPotato : Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropType) :
                                    string.Format(Resource.lblWhatIsTheDifferentExpectedYield, Model.CropGroupId == PotatoGroupId ? Model.Variety + Resource.lblPotato : Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropType, Model.FieldName))
                            </govuk-input-label>
                            <govuk-input-suffix>@Resource.lblTonnesAndHectare</govuk-input-suffix>
                        </govuk-input>
                    }
                    else
                    {
                        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Yield" name="crops[@i].Yield" value="@Model.Crops[i].Yield"></govuk-input>
                    }
                }
            }
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link"><a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a></p>

        </div>

    </div>
</form>