@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.PlanViewModel
@{
    ViewData["Title"] = Resource.lblSowingDateQuestion;
    var EnterDifferentFiguresForEachField = (int)NMP.Portal.Enums.YieldQuestion.EnterDifferentFiguresForEachField;
    var EnterASingleFigureForAllTheseFields = (int)NMP.Portal.Enums.YieldQuestion.EnterASingleFigureForAllTheseFields;
    var UseTheStandardFigureOf8TonnesPerHectareForAllTheseFields = (int)NMP.Portal.Enums.YieldQuestion.UseTheStandardFigureOf8TonnesPerHectareForAllTheseFields;
    var bachAction = (Model.SowingDateQuestion == (int)NMP.Portal.Enums.SowingDateQuestion.NoIWillEnterTheDateLater) ? "SowingDateQuestion" :
     "SowingDate";
    int PotatoGroupId = (int)NMP.Portal.Enums.CropGroup.Potatoes;
    int OtherGroupId = (int)NMP.Portal.Enums.CropGroup.Other;
}

@section BeforeContent {
    <govuk-back-link asp-action=@bachAction asp-controller="Crop" asp-route-q="@Model.SowingDateEncryptedCounter">@Resource.lblBack</govuk-back-link>
}
<form asp-action="YieldQuestion" asp-controller="Crop" method="post">
    @Html.AntiForgeryToken()
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroupId"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeID"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroup"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropType"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsEnglishRules"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Variety"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OtherCropName"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SowingDateCurrentCounter"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SowingDateEncryptedCounter" value="@Model.SowingDateEncryptedCounter"></govuk-input>
    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SowingDateQuestion" value="@Model.SowingDateQuestion"></govuk-input>
    @if (Model.FieldList != null && Model.FieldList.Count > 0)
    {
        @for (int i = 0; i < Model.FieldList.Count; i++)
        {
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]"></govuk-input>
        }
    }

    @if (Model.Crops != null && Model.Crops.Count > 0)
    {
        @for (int i = 0; i < Model.Crops.Count; i++)
        {
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].FieldId" value="@Model.Crops[i].FieldId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Year" value="@Model.Crops[i].Year"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].CropTypeID" value="@Model.Crops[i].CropTypeID"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].OtherCropName" value="@Model.Crops[i].OtherCropName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Variety" value="@Model.Crops[i].Variety"></govuk-input>
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].SowingDate" value="@Model.Crops[i].SowingDate"></govuk-date-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Crops[i].Yield" value="@Model.Crops[i].Yield"></govuk-input>
        }

    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-radios asp-for="@Model.YieldQuestion">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @(Model.CropGroupId == PotatoGroupId ? string.Format(Resource.lblHowDoYouWantToEnterTheExpectedYieldForInTheseFields, Model.Variety + Resource.lblPotato) :
                            Model.CropGroupId == OtherGroupId ? string.Format(Resource.lblHowDoYouWantToEnterTheExpectedYieldForInTheseFields, Model.OtherCropName) :
                            string.Format(Resource.lblHowDoYouWantToEnterTheExpectedYieldForInTheseFields, Model.CropType))
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@EnterASingleFigureForAllTheseFields">@Resource.lblEnterASingleFigureForAllTheseFields</govuk-radios-item>
                    <govuk-radios-item value="@EnterDifferentFiguresForEachField">@Resource.lblEnterDifferentFiguresForEachField</govuk-radios-item>
                    @* <govuk-radios-item value="@UseTheStandardFigureOf8TonnesPerHectareForAllTheseFields">@Resource.lblUseTheStandardFigureOf8TonnesPerHectareForAllTheseFields</govuk-radios-item> *@
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link"><a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a></p>

        </div>

    </div>
</form>