@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.PlanViewModel
@{
    var EnterDifferentFiguresForEachField = (int)NMP.Commons.Enums.YieldQuestion.EnterDifferentFiguresForEachField;
    var EnterASingleFigureForAllTheseFields = (int)NMP.Commons.Enums.YieldQuestion.EnterASingleFigureForAllTheseFields;
    var UseTheStandardFigureForAllTheseFields = (int)NMP.Commons.Enums.YieldQuestion.UseTheStandardFigureForAllTheseFields;
    var NoDoNotEnterAYield = (int)NMP.Commons.Enums.YieldQuestion.NoDoNotEnterAYield;
    var bachAction = (Model.SowingDateQuestion == (int)NMP.Commons.Enums.SowingDateQuestion.NoIWillEnterTheDateLater) ? "SowingDateQuestion" :
     "SowingDate";
    int OtherGroupId = (int)NMP.Commons.Enums.CropGroup.Other;

    string cropName;
    if (Model.CropGroupId == OtherGroupId) cropName = Model.OtherCropName;
    else if (Model.CropGroupId == (int)NMP.Commons.Enums.CropGroup.Potatoes) cropName = Model.Variety;
    else cropName = Model.CropType;

    bool isMultiple = Model.Crops.Count > 1;
    bool hasDefaultYield = ViewBag.DefaultYield != null && ViewBag.DefaultYield > 0;

    string pageHeading;

    if (hasDefaultYield && isMultiple)
        pageHeading = string.Format(Resource.lblHowDoYouWantToEnterTheExpectedYieldForInTheseFields, cropName);
    else if (hasDefaultYield)
        pageHeading = string.Format(Resource.lblYieldQuestionForSingleField, cropName);
    else if (isMultiple)
        pageHeading = string.Format(Resource.lblDoYouWantToEnterTheExpectedYieldInTheseFields, cropName);
    else
        pageHeading = string.Format(Resource.lblDoYouWantToEnterTheExpectedYieldInFieldName, cropName, Model.FieldName);

    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{pageHeading} {Resource.lblHyphen} {title}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.CropWizardSteps.YieldQuestion;
}

@section BeforeContent {
    <govuk-back-link asp-action=@(Model.IsCheckAnswer && (!Model.IsAnyChangeInField) && (!Model.IsCropGroupChange) && (!Model.IsCropTypeChange) ? "CheckAnswer" : bachAction) asp-controller="Crop" asp-route-q="@Model.SowingDateEncryptedCounter">@Resource.lblBack</govuk-back-link>
}
<form asp-action="YieldQuestion" asp-controller="Crop" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @if (TempData["YieldQuestionError"] != null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["YieldQuestionError"]</govuk-error-summary-item>
                </govuk-error-summary>
            </div>
        </div>
    }
    @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-radios for="@Model.YieldQuestion">
                <govuk-radios-fieldset>
                    <govuk-radios-hint>@Resource.lblYouCanChangeThisLater</govuk-radios-hint>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @if (ViewBag.DefaultYield != null && ViewBag.DefaultYield > 0)
                        {
                            @(string.Format(Model.Crops.Count > 1 ? Resource.lblHowDoYouWantToEnterTheExpectedYieldForInTheseFields : Resource.lblYieldQuestionForSingleField, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropType))
                        }
                        else
                        {
                            @if (Model.Crops.Count > 1)
                            {
                                @string.Format(Resource.lblDoYouWantToEnterTheExpectedYieldInTheseFields, Model.CropGroupId == OtherGroupId ? Model.OtherCropName : Model.CropType)
                            }
                            else
                            {
                                @string.Format(Resource.lblDoYouWantToEnterTheExpectedYieldInFieldName, (Model.CropGroupId == OtherGroupId ? Model.OtherCropName :  Model.CropType), Model.FieldName)
                            }
                        }
                        @* : Resource.lblDoYouWantToEnterTheExpectedYieldInFieldName *@
                    </govuk-radios-fieldset-legend>
                    @* <govuk-radios-item value="@EnterASingleFigureForAllTheseFields">@(Model.Crops.Count > 1 ? Resource.lblEnterASingleFigureForAllTheseFields : Resource.lblEnterAFigure)</govuk-radios-item> *@
                    @if (ViewBag.DefaultYield != null && ViewBag.DefaultYield > 0)
                    {
                        <govuk-radios-item value="@EnterASingleFigureForAllTheseFields">@(Model.Crops.Count > 1 ? Resource.lblEnterASingleFigureForAllTheseFields : Resource.lblEnterAFigure)</govuk-radios-item>
                        @if (Model.Crops.Count > 1)
                        {
                            <govuk-radios-item value="@EnterDifferentFiguresForEachField">@Resource.lblEnterDifferentFiguresForEachField</govuk-radios-item>
                        }
                        <govuk-radios-item value="@UseTheStandardFigureForAllTheseFields">@(Model.Crops.Count > 1 ? string.Format(Resource.lblUseTheStandardFigure, ViewBag.DefaultYield) : string.Format(Resource.lblUseTheStandardFigureForThisField, ViewBag.DefaultYield))</govuk-radios-item>
                    }
                    else
                    {
                        <govuk-radios-item value="@EnterASingleFigureForAllTheseFields">@(Model.Crops.Count > 1 ? Resource.lblEnterASingleFigureForAllTheseFields : Resource.lblYes)</govuk-radios-item>
                        @if (Model.Crops.Count > 1)
                        {
                            <govuk-radios-item value="@EnterDifferentFiguresForEachField">@Resource.lblEnterDifferentFiguresForEachField</govuk-radios-item>
                        }
                        <govuk-radios-item value="@NoDoNotEnterAYield">@(Model.Crops.Count > 1 ?Resource.lblNoDoNotEnterAYield:Resource.lblNo)</govuk-radios-item>
                    }
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="CreateCropPlanCancel" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>