@using NMP.Commons.Enums
@using NMP.Commons.ViewModels;
@using NMP.Commons.Resources;
@model NMP.Commons.ViewModels.FertiliserManureViewModel
@{
    var currentStep = ViewBag.CurrentStep as int?;
}
<div hidden="hidden">
    @if (currentStep != (int)FertiliserWizardSteps.FieldGroup)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldGroup" />
    }
    @if (currentStep != (int)FertiliserWizardSteps.Field)
    {
        @if (Model.FieldList != null && Model.FieldList.Count > 0)
        {
            @for (int i = 0; i < Model.FieldList.Count; i++)
            {
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]" />
            }

        }
    }
    @if (currentStep != (int)FertiliserWizardSteps.Date)
    {
        <govuk-date-input class="govuk-visually-hidden" type="hidden" for="@Model.Date"></govuk-date-input>
    }

    @if (currentStep != (int)FertiliserWizardSteps.IsSameDefoliationForAll)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsSameDefoliationForAll" />
    }

    @if (currentStep != (int)FertiliserWizardSteps.NutrientValue)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.N" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.P2O5" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.K2O" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SO3" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MgO" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Lime" />

    }

    @if (currentStep != (int)FertiliserWizardSteps.IsDeleteFertliser)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsDeleteFertliser" />
    }

    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropOrder" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.QuestionForSpreadInorganicFertiliser" value="@Model.QuestionForSpreadInorganicFertiliser.ToString().ToLower()" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedCounter" value="@Model.EncryptedCounter" />
    
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmCountryId" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFertId" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationCurrentCounter" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationEncryptedCounter" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldID" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCropGroupChange" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyChangeInField" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassCropCount" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCropEncryptedCounter" value="@Model.DoubleCropEncryptedCounter" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCropCurrentCounter" value="@Model.DoubleCropCurrentCounter" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsDoubleCropAvailable" />
    @* warning model properties start *@
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsClosedPeriodWarning" value="@Model.IsClosedPeriodWarning.ToString().ToLower()" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsNitrogenExceedWarning" value="@Model.IsNitrogenExceedWarning.ToString().ToLower()" />

                
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodWarningPara1" value="@Model.ClosedPeriodWarningPara1" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodWarningPara3" value="@Model.ClosedPeriodWarningPara3" />
                
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodNitrogenExceedWarningPara1" value="@Model.ClosedPeriodNitrogenExceedWarningPara1" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodNitrogenExceedWarningPara2" value="@Model.ClosedPeriodNitrogenExceedWarningPara2" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodNitrogenExceedWarningPara3" value="@Model.ClosedPeriodNitrogenExceedWarningPara3" />

    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodWarningHeader" value="@Model.ClosedPeriodWarningHeader" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodWarningCodeID" value="@Model.ClosedPeriodWarningCodeID" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodWarningLevelID" value="@Model.ClosedPeriodWarningLevelID" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodNitrogenExceedWarningHeader" value="@Model.ClosedPeriodNitrogenExceedWarningHeader" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodNitrogenExceedWarningCodeID" value="@Model.ClosedPeriodNitrogenExceedWarningCodeID" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodNitrogenExceedWarningLevelID" value="@Model.ClosedPeriodNitrogenExceedWarningLevelID" />

    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsNMaxLimitWarning" value="@Model.IsNMaxLimitWarning.ToString().ToLower()" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropNmaxLimitWarningPara1" value="@Model.CropNmaxLimitWarningPara1" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropNmaxLimitWarningPara2" value="@Model.CropNmaxLimitWarningPara2" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropNmaxLimitWarningPara2Additional" value="@Model.CropNmaxLimitWarningPara2Additional" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropNmaxLimitWarningPara3" value="@Model.CropNmaxLimitWarningPara3" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropNmaxLimitWarningHeader" value="@Model.CropNmaxLimitWarningHeader" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropNmaxLimitWarningCodeID" value="@Model.CropNmaxLimitWarningCodeID" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropNmaxLimitWarningLevelID" value="@Model.CropNmaxLimitWarningLevelID" />
    @if (Model != null)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmRB209CountryID" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromRecommendation" value="@Model.IsComingFromRecommendation.ToString().ToLower()" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyCropIsGrass" value="@Model.IsAnyCropIsGrass.ToString().ToLower()" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NeedToShowSameDefoliationForAll" value="@Model.NeedToShowSameDefoliationForAll.ToString().ToLower()" />

                  
        @if (Model.UpdatedFertiliserIds != null && Model.UpdatedFertiliserIds.Count > 0)
        {
            @for (int i = 0; i < Model.UpdatedFertiliserIds.Count; i++)
            {
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UpdatedFertiliserIds[i].FertiliserId" value="@Model.UpdatedFertiliserIds[i].FertiliserId" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UpdatedFertiliserIds[i].ManagementPeriodId" value="@Model.UpdatedFertiliserIds[i].ManagementPeriodId" />

                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UpdatedFertiliserIds[i].Name" value="@Model.UpdatedFertiliserIds[i].Name" />
            }

        }
        @if (Model.FertiliserManures != null && Model.FertiliserManures.Count > 0)
        {
            @for (int i = 0; i < Model.FertiliserManures.Count; i++)
            {
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].ManagementPeriodID" value="@Model.FertiliserManures[i].ManagementPeriodID" />
                <govuk-date-input class="govuk-visually-hidden" type="hidden" for="@Model.FertiliserManures[i].ApplicationDate" value="@Model.FertiliserManures[i].ApplicationDate"></govuk-date-input>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].K2O" value="@Model.FertiliserManures[i].K2O" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].MgO" value="@Model.FertiliserManures[i].MgO" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].P2O5" value="@Model.FertiliserManures[i].P2O5" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].SO3" value="@Model.FertiliserManures[i].SO3" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].NH4N" value="@Model.FertiliserManures[i].NH4N" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].NO3N" value="@Model.FertiliserManures[i].NO3N" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].N" value="@Model.FertiliserManures[i].N" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].Lime" value="@Model.FertiliserManures[i].Lime" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].ApplicationRate" value="@Model.FertiliserManures[i].ApplicationRate" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].FieldID" value="@Model.FertiliserManures[i].FieldID" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].Defoliation" value="@Model.FertiliserManures[i].Defoliation" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].DefoliationName" value="@Model.FertiliserManures[i].DefoliationName" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].FieldName" value="@Model.FertiliserManures[i].FieldName" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].EncryptedCounter" value="@Model.FertiliserManures[i].EncryptedCounter" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].IsGrass" value="@Model.FertiliserManures[i].IsGrass" />
                    
            }

        }
        @if (Model.DoubleCrop != null && Model.DoubleCrop.Count > 0)
        {
            @for (int i = 0; i < Model.DoubleCrop.Count; i++)
            {
                @if (currentStep != (int)FertiliserWizardSteps.DoubleCrop)
                {
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].CropID" />
                }

                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].CropOrder" value="@Model.DoubleCrop[i].CropOrder" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].FieldID" value="@Model.DoubleCrop[i].FieldID" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].FieldName" value="@Model.DoubleCrop[i].FieldName" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].CropName" value="@Model.DoubleCrop[i].CropName" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].EncryptedCounter" value="@Model.DoubleCrop[i].EncryptedCounter" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].Counter" value="@Model.DoubleCrop[i].Counter" />
            }
        }
        @if (Model.DefoliationList != null && Model.DefoliationList.Count > 0)
        {
            @for (int i = 0; i < Model.DefoliationList.Count; i++)
            {
                @if (currentStep != (int)FertiliserWizardSteps.Defoliation)
                {
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].Defoliation" />

                }
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].ManagementPeriodID" value="@Model.DefoliationList[i].ManagementPeriodID" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].CropID" value="@Model.DefoliationList[i].CropID" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].FieldName" value="@Model.DefoliationList[i].FieldName" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].FieldID" value="@Model.DefoliationList[i].FieldID" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].DefoliationName" value="@Model.DefoliationList[i].DefoliationName" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].EncryptedCounter" value="@Model.DefoliationList[i].EncryptedCounter" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].Counter" value="@Model.DefoliationList[i].Counter" />
            }
        }
    }
   
</div>