﻿@using NMP.Commons.Resources
@using System.Globalization
@model NMP.Commons.ViewModels.FertiliserManureViewModel
@{
    var heading="";
    if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
    {
        heading = Resource.lblCheckYourAnswers;
    }
    else
    {
        heading = string.Format(Resource.lblUpdateAnInorganicMaterialApplication, Model.HarvestYear??0);
    }
    string title = (!string.IsNullOrEmpty(Model.EncryptedFertId)) ? Resource.lblUpdateInorganicFeriliser : Resource.lblAddInorganicFeriliser;
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {title}";
    int counter = 1;
}

@section BeforeContent {
    <govuk-back-link asp-action=@(ViewBag.IsDataChange==true? "Cancel" : "BackCheckAnswer") asp-controller="FertiliserManure">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form  class="form-with-overlay" asp-action="@(!string.IsNullOrWhiteSpace(Model.EncryptedFertId) ? "UpdateFertiliser" :"CheckAnswer")" asp-controller="FertiliserManure" method="post" autocomplete="off">

            @Html.AntiForgeryToken()
            @await Html.PartialAsync("~/Views/FertiliserManure/_FertiliserWizardHiddenFields.cshtml", Model)
            @if (TempData["CheckYourAnswerError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["CheckYourAnswerError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
            @if (Model.IsWarningMsgNeedToShow && (Model.IsClosedPeriodWarningExceptGrassAndOilseed || Model.IsClosedPeriodWarningOnlyForGrassAndOilseed || Model.IsNitrogenExceedWarning || Model.IsNMaxLimitWarning || Model.IsClosedPeriodWarning))
            {
                @if(Model.N>0)
                {
                    <govuk-notification-banner>
                    <govuk-notification-banner-title>
                        @Resource.lblImportant
                    </govuk-notification-banner-title>

                    @if (Model.IsClosedPeriodWarning && !string.IsNullOrWhiteSpace(Model.ClosedPeriodWarningPara1))
                    {
                        <p class="govuk-notification-banner__heading">
                            @Model.ClosedPeriodWarningPara1
                        </p>
                    }
                    @if (Model.IsClosedPeriodWarningExceptGrassAndOilseed)
                    {
                        <p class="govuk-notification-banner__heading">
                            @Resource.MsgClosedPeriodForFertliserExceptOilseedAndGrassTitle
                        </p>
                    }
                    @if (Model.IsClosedPeriodWarningOnlyForGrassAndOilseed)
                    {
                        <p class="govuk-notification-banner__heading">
                            @Resource.MsgClosedPeriodForGrassAndOilseedFertliserWarningMsgTitle
                        </p>
                    }
                    @if (Model.IsNitrogenExceedWarning)
                    {
                        <p class="govuk-notification-banner__heading">
                            @Model.ClosedPeriodNitrogenExceedWarningPara1
                        </p>
                    }
                    @if (Model.IsNMaxLimitWarning)
                    {
                        <p class="govuk-notification-banner__heading">
                            @Model.CropNmaxLimitWarningPara1
                        </p>
                    }

                </govuk-notification-banner>
                }
                
            }

            <h1 class="govuk-heading-l">
                @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                {
                    @Resource.lblCheckYourAnswers
                }
                else
                {
                    @string.Format(Resource.lblUpdateAnInorganicMaterialApplication, Model.HarvestYear??0)
                }

            </h1>
            @* <div> *@
                <govuk-summary-list>
                    @if (!Model.IsComingFromRecommendation && ViewBag.SelectedFields == null)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                                {
                                    @Resource.lblWhichFieldsWouldYouLikeToAddInorganicFertiliserApplications
                                }
                                else
                                {
                                    @Resource.lblWhichFieldsWouldYouLikeToEditAnOrganic
                                }
                                @* @Resource.lblWhichFieldsWouldYouLikeToAddAnOrganic *@
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @Model.CropGroupName
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="FieldGroup" asp-controller="FertiliserManure">@Resource.lblChange
                                   <span class="govuk-visually-hidden">
                                      @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                                      {
                                          @Resource.lblWhichFieldsWouldYouLikeToAddInorganicFertiliserApplications
                                      }
                                      else
                                      {
                                          @Resource.lblWhichFieldsWouldYouLikeToEditAnOrganic
                                      }
                                   </span>
                                </govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                    @if (Model.IsComingFromRecommendation && Model.FieldGroup==Resource.lblSelectSpecificFields)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                                {
                                    @Resource.lblWhichFieldsWouldYouLikeToAddInorganicFertiliserApplications
                                }
                                else
                                {
                                    @Resource.lblWhichFieldsWouldYouLikeToEditAnOrganic
                                }
                                @* @Resource.lblWhichFieldsWouldYouLikeToEditAnOrganic *@
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @Model.FieldName
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                 <govuk-summary-list-row-action class="govuk-visually-hidden"  asp-action="@(string.IsNullOrWhiteSpace(Model.EncryptedFertId)?"FieldGroup":"Fields")" asp-controller="FertiliserManure"  aria-hidden="false">@Resource.lblChange
                                
                                    </govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }

                    @if (!Model.IsComingFromRecommendation && ViewBag.SelectedFields != null)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                                {
                                    @Resource.lblWhichFieldsWouldYouLikeToAddInorganicFertiliserApplications
                                }
                                else
                                {
                                    @Resource.lblWhichFieldsWouldYouLikeToEditAnOrganic
                                }
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @if (ViewBag.SelectedFields != null)
                                {
                                    if (ViewBag.SelectedFields.Count <= Convert.ToInt32(Resource.FieldGreaterThanX))
                                    {
                                        @foreach (var item in ViewBag.SelectedFields)
                                        {
                                            @item <br />
                                        }
                                    }
                                    else
                                    {
                                        @string.Format(Resource.lblFarmFields, ViewBag.SelectedFields.Count)
                                        <govuk-details>
                                            <govuk-details-summary>
                                                @Resource.lblViewFields
                                            </govuk-details-summary>
                                            <govuk-details-text>

                                                @foreach (var item in ViewBag.SelectedFields)
                                                {
                                                    @item <br />
                                                }
                                            </govuk-details-text>
                                        </govuk-details>
                                    }

                                }
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                
                                    <govuk-summary-list-row-action class=@((ViewBag.Fields != null && ViewBag.Fields.Count > 1)?"":"govuk-visually-hidden") asp-action="@(string.IsNullOrWhiteSpace(Model.EncryptedFertId)?"FieldGroup":"Fields")" asp-controller="FertiliserManure" aria-hidden="@((ViewBag.Fields != null && ViewBag.Fields.Count > 1) ? "false" : "true")">
                                       @Resource.lblChange                                        
                                    @if (ViewBag.Fields != null && ViewBag.Fields.Count > 1)
                                    {         
                                    <span class="govuk-visually-hidden">
                                            @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                                            {
                                                @Resource.lblWhichFieldsWouldYouLikeToAddInorganicFertiliserApplications
                                            }
                                            else
                                            {
                                                @Resource.lblWhichFieldsWouldYouLikeToEditAnOrganic
                                            }
                                        </span>
                                    }
                                    </govuk-summary-list-row-action>
                               

                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                    @if (Model.IsDoubleCropAvailable)
                    {
                        @if (Model.DoubleCrop == null)
                        {
                            <govuk-summary-list-row class="govuk-error-message" )>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblWhichCropIsThisFertiliserApplication, Model.FieldName)
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @Resource.lblNotSet
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="DoubleCrop" asp-controller="FertiliserManure" asp-route-q="@Model.DoubleCropEncryptedCounter">@Resource.lblChange
                                        <span class="govuk-visually-hidden">
                                            @string.Format(Resource.lblWhichCropIsThisFertiliserApplication, Model.FieldName)
                                        </span>
                                    </govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                        }
                        else
                        {
                            @foreach (var doubleCrop in Model.DoubleCrop)
                            {
                                <govuk-summary-list-row class=@((doubleCrop.CropID==null)?"govuk-error-message":"")>
                                    <govuk-summary-list-row-key>
                                        @string.Format(Resource.lblWhichCropIsThisFertiliserApplication, doubleCrop.FieldName)
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        @((doubleCrop.CropID == null) ? Resource.lblNotSet : string.Format("{0} {1} {2}{3}{4}", Resource.lblCrop, doubleCrop.CropOrder, "(", doubleCrop.CropName, ")"))
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                        <govuk-summary-list-row-action asp-action="DoubleCrop" asp-controller="FertiliserManure" asp-route-q="@doubleCrop.EncryptedCounter">@Resource.lblChange
                                            <span class="govuk-visually-hidden">
                                                @string.Format(Resource.lblWhichCropIsThisFertiliserApplication, doubleCrop.FieldName)
                                            </span>
                                        </govuk-summary-list-row-action>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>
                                counter++;
                            }
                        }

                    }
                    @if (Model.IsAnyCropIsGrass.HasValue && Model.IsAnyCropIsGrass.Value)
                    {
                        @if (Model.GrassCropCount.HasValue&&Model.GrassCropCount>1&&Model.NeedToShowSameDefoliationForAll)
                        {
                            <govuk-summary-list-row class=@((!Model.IsSameDefoliationForAll.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblForMultipleDefoliation
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(Model.IsSameDefoliationForAll.HasValue ? (Model.IsSameDefoliationForAll.Value ? Resource.lblYes : Resource.lblNo) : Resource.lblNotSet)
                                    @* @(!string.IsNullOrWhiteSpace(fertiliser.DefoliationName) ? fertiliser.DefoliationName : Resource.lblNotSet) *@
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="IsSameDefoliationForAll" asp-controller="FertiliserManure">@Resource.lblChange
                                        <span class="govuk-visually-hidden">
                                            @Resource.lblForMultipleDefoliation
                                        </span>
                                    </govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                        }
                        @if (Model.IsSameDefoliationForAll.HasValue && Model.IsSameDefoliationForAll.Value)
                        {
                            bool renderDefoliation = false;
                            @foreach (var defoliation in Model.DefoliationList)
                            {
                                @if (!renderDefoliation)
                                {
                                    <govuk-summary-list-row class=@((!defoliation.Defoliation.HasValue)?"govuk-error-message":"")>
                                        <govuk-summary-list-row-key>
                                            @if (Model.GrassCropCount.HasValue&&Model.GrassCropCount>1)
                                            {
                                            @Resource.lblWhichCutOrGrazingInThisInorganicApplicationForAllField
                                            }
                                            else{
                                                 @string.Format(Resource.lblWhichCutOrGrazingInThisInorganicApplicationForInField, defoliation.FieldName)
                                            }
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            
                                             @(defoliation.Defoliation.HasValue ? defoliation.DefoliationName : Resource.lblNotSet) 
                                        </govuk-summary-list-row-value>
                                        <govuk-summary-list-row-actions>
                                            <govuk-summary-list-row-action asp-action="Defoliation" asp-controller="FertiliserManure" asp-route-q="@Model.DefoliationEncryptedCounter">@Resource.lblChange
                                                <span class="govuk-visually-hidden">
                                                     @if (Model.GrassCropCount.HasValue&&Model.GrassCropCount>1)
                                                     {
                                                     @Resource.lblWhichCutOrGrazingInThisInorganicApplicationForAllField
                                                     }
                                                     else{
                                                          @string.Format(Resource.lblWhichCutOrGrazingInThisInorganicApplicationForInField, defoliation.FieldName)
                                                     }
                                                </span>
                                            </govuk-summary-list-row-action>
                                        </govuk-summary-list-row-actions>
                                    </govuk-summary-list-row>
                                    renderDefoliation = true;
                                }
                            }
                        }
                        else
                        {
                            @foreach (var defoliation in Model.DefoliationList)
                            {
                                <govuk-summary-list-row class=@((!defoliation.Defoliation.HasValue)?"govuk-error-message":"")>
                                    <govuk-summary-list-row-key>
                                        @string.Format(Resource.lblWhichCutOrGrazingInThisInorganicApplicationForInField, defoliation.FieldName)
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        @* @fertiliser.Defoliation *@
                                         @(defoliation.Defoliation.HasValue ? defoliation.DefoliationName : Resource.lblNotSet) 
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                        <govuk-summary-list-row-action asp-action="Defoliation" asp-controller="FertiliserManure" asp-route-q="@defoliation.EncryptedCounter">@Resource.lblChange
                                            <span class="govuk-visually-hidden">
                                                @string.Format(Resource.lblWhichCutOrGrazingInThisInorganicApplicationForInField, defoliation.FieldName)
                                            </span>
                                        </govuk-summary-list-row-action>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>
                            }
                        }
                    }
                    <govuk-summary-list-row class=@((!Model.Date.HasValue)?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                            {
                               if (!Model.FieldGroup.Equals(Resource.lblAll) && !Model.FieldGroup.Equals(Resource.lblSelectSpecificFields))
        {
                                    @string.Format(Resource.lblWhenAreYouApplyingInOrganicfertiliser, Model.CropGroupName)
                                }
                                else
                                {
                                    @(Model.FieldList?.Count > 1 ? Resource.lblWhenAreYouApplyingInorganicFertiliserForTheseFields : string.Format(Resource.lblWhenAreYouApplyingInorganicFertiliserForThisFields,Model.FieldName))
                                }
                            }
                            else
                            {
                                @(Model.FieldList?.Count > 1 ? Resource.lblWhenDoYouPlanToSpreadInorganicFertiliserOnTheseFields: string.Format( Resource.lblWhenDoYouPlanToSpreadInorganicFertiliserOnThisField,Model.FieldName))
                            }
                            @* @Resource.lblWhenDoYouFirstPlanToSpreadInOrganicFertiliser *@
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @((Model.Date.HasValue) ? Model.Date.Value.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB")) : Resource.lblNotSet)
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="InOrgnaicManureDuration" asp-controller="FertiliserManure">@Resource.lblChange
                                <span class="govuk-visually-hidden">
                                    @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                                    {
                                        if (!Model.FieldGroup.Equals(Resource.lblAll) && !Model.FieldGroup.Equals(Resource.lblSelectSpecificFields))
        {
                                            @string.Format(Resource.lblWhenAreYouApplyingInOrganicfertiliser, Model.CropGroupName)
                                        }
                                        else
                                        {
                                            @(Model.FieldList?.Count > 1 ? Resource.lblWhenAreYouApplyingInorganicFertiliserForTheseFields : string.Format(Resource.lblWhenAreYouApplyingInorganicFertiliserForThisFields,Model.FieldName))
                                        }
                                    }
                                    else
                                    {
                                        @(Model.FieldList?.Count > 1 ? Resource.lblWhenDoYouPlanToSpreadInorganicFertiliserOnTheseFields: string.Format( Resource.lblWhenDoYouPlanToSpreadInorganicFertiliserOnThisField,Model.FieldName))
                                    }
                                </span>
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                            {
                                @Resource.lblHowMuchOfEachNutrientDoYouPlan
                            }
                            else
                            {
                                @Resource.lblHowMuchOfEachNutrientDoYouPlanforUpdate
                            }
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value id="nutrient_list">
                            @if ((Model.N.HasValue))
                            {
                                  <span class="nutrient_row">@Resource.lblNitrogen <span class="figure w35">@string.Format(Resource.lblValueKgPerHectare,Model.N.Value)</span></span>
                                
                            }
                            @if ((Model.P2O5.HasValue))
                            {
                                <span class="nutrient_row">@Resource.lblPhosphateP2O5 <span class="figure w35">@string.Format(Resource.lblValueKgPerHectare,Model.P2O5.Value)</span></span>
                            }
                            @if ((Model.K2O.HasValue))
                            {
                                <span class="nutrient_row">@Resource.lblPotashK2O <span class="figure w35">@string.Format(Resource.lblValueKgPerHectare,Model.K2O.Value)</span></span>
                            }
                            @if ((Model.SO3.HasValue))
                            {
                                <span class="nutrient_row">@Resource.lblSulphurSO3 <span class="figure w35">@string.Format(Resource.lblValueKgPerHectare,Model.SO3.Value)</span></span>
                            }
                            @if ((Model.MgO.HasValue))
                            {
                                <span class="nutrient_row">@Resource.lblMagnesiumMgO <span class="figure w35">@string.Format(Resource.lblValueKgPerHectare,Model.MgO.Value)</span></span>
                            }
                            @if ((Model.Lime.HasValue))
                            {
                                <span class="nutrient_row">@Resource.lblLime <span class="figure w35">@($"{Model.Lime.Value}{Resource.lblTonnesForReport}")</span></span>
                            }
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="NutrientValues" asp-controller="FertiliserManure">@Resource.lblChange
                                <span class="govuk-visually-hidden">
                                    @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                                    {
                                        @Resource.lblHowMuchOfEachNutrientDoYouPlan
                                    }
                                    else
                                    {
                                        @Resource.lblHowMuchOfEachNutrientDoYouPlanforUpdate
                                    }
                                </span>
                            </govuk-summary-list-row-action>

                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>


                </govuk-summary-list>
                @if (!string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                {
                    <p class="govuk-body margin-bottom-forty">
                        @Resource.lblYouCanAlso
                        @*     <a asp-action="DeletePlanOrganicAndFertiliser" asp-controller="Crop" asp-route-q="@Model.EncryptedFertId" asp-route-r="@ViewBag.Fertliser">@Resource.lblRemoveThisApplication</a> *@
                        <a asp-action="RemoveFertiliser" asp-controller="FertiliserManure">
                            @if (ViewBag.SelectedFields != null && ViewBag.SelectedFields.Count == 1)
                            {
                                @string.Format(Resource.lblRemoveThisApplicationFromField, Model.FieldName)
                            }
                            else
                            {
                                @Resource.lblRemoveThisApplicationFromTheseField
                            }
                        </a>
                    </p>
                }
            @* </div> *@



            <govuk-button type="submit" class="margin-bottom-forty" prevent-double-click="true">
                @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                {
                    @Resource.lblAddToPlan
                }
                else
                {
                    @Resource.lblUpdate
                }

            </govuk-button>
            <p class="govuk-body cancel-link">
            @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
            {
                <a asp-action="Cancel" asp-controller="FertiliserManure">@Resource.lblCancel</a>

                    
            }
            else
            {
                 @if(ViewBag.IsDataChange != null && ViewBag.IsDataChange==true)
                 {
                     <a asp-action="Cancel" asp-controller="FertiliserManure">@Resource.lblCancel</a>
                 }
                 else
                 {
                     <a asp-action="BackCheckAnswer" asp-controller="FertiliserManure">@Resource.lblCancel</a>
                 }
            }
               
            </p>

        </form>
    </div>

</div>