﻿@using NMP.Portal.Resources
@using System.Globalization
@model NMP.Portal.ViewModels.FertiliserManureViewModel
@{
    ViewData["Title"] = Resource.lblCheckYourAnswers;
}

@section BeforeContent {
    <govuk-back-link asp-action="BackCheckAnswer" asp-controller="FertiliserManure">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="@(!string.IsNullOrWhiteSpace(Model.EncryptedFertId) ? "UpdateFertiliser" :"CheckAnswer")" asp-controller="FertiliserManure" method="post" autocomplete="off">

            @Html.AntiForgeryToken()
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldGroup"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldGroupName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromRecommendation" value="@Model.IsComingFromRecommendation"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.N"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.P2O5"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.K2O"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SO3"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MgO"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Lime"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropOrder"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.QuestionForSpreadInorganicFertiliser" value="@Model.QuestionForSpreadInorganicFertiliser.ToString().ToLower()"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedCounter" value="@Model.EncryptedCounter"></govuk-input>
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Date"></govuk-date-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmCountryId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFertId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName"></govuk-input>
            @if (Model != null)
            {
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.isEnglishRules" value="@Model.isEnglishRules.ToString().ToLower()"></govuk-input>
                <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromRecommendation" value="@Model.IsComingFromRecommendation.ToString().ToLower()"></govuk-input>


                @if (Model.FieldList != null && Model.FieldList.Count > 0)
                {
                    @for (int i = 0; i < Model.FieldList.Count; i++)
                    {
                        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]"></govuk-input>
                    }

                }

                @if (Model.UpdatedFertiliserIds != null && Model.UpdatedFertiliserIds.Count > 0)
                {
                    @for (int i = 0; i < Model.UpdatedFertiliserIds.Count; i++)
                    {
                        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UpdatedFertiliserIds[i].FertiliserId" value="@Model.UpdatedFertiliserIds[i].FertiliserId"></govuk-input>
                        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UpdatedFertiliserIds[i].ManagementPeriodId" value="@Model.UpdatedFertiliserIds[i].ManagementPeriodId"></govuk-input>
                    }

                }
                @if (Model.FertiliserManures != null && Model.FertiliserManures.Count > 0)
                {
                    @for (int i = 0; i < Model.FertiliserManures.Count; i++)
                    {
                        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].ManagementPeriodID" value="@Model.FertiliserManures[i].ManagementPeriodID"></govuk-input>
                        <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].ApplicationDate" value="@Model.FertiliserManures[i].ApplicationDate"></govuk-date-input>
                        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].K2O" value="@Model.FertiliserManures[i].K2O"></govuk-input>
                        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].MgO" value="@Model.FertiliserManures[i].MgO"></govuk-input>
                        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].P2O5" value="@Model.FertiliserManures[i].P2O5"></govuk-input>
                        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].SO3" value="@Model.FertiliserManures[i].SO3"></govuk-input>
                        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].NH4N" value="@Model.FertiliserManures[i].NH4N"></govuk-input>
                        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].NO3N" value="@Model.FertiliserManures[i].NO3N"></govuk-input>
                        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].N" value="@Model.FertiliserManures[i].N"></govuk-input>
                        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].Lime" value="@Model.FertiliserManures[i].Lime"></govuk-input>
                        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].ApplicationRate" value="@Model.FertiliserManures[i].ApplicationRate"></govuk-input>
                    }

                }
            }
            @if (TempData["CheckYourAnswerError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["CheckYourAnswerError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
            @if (Model.IsWarningMsgNeedToShow && (Model.IsClosedPeriodWarningExceptGrassAndOilseed || Model.IsClosedPeriodWarningOnlyForGrassAndOilseed || Model.IsNitrogenExceedWarning || Model.IsClosedPeriodWarning))
            {
                <govuk-notification-banner>
                    <govuk-notification-banner-title>
                        @Resource.lblImportant
                    </govuk-notification-banner-title>

                    @if (!string.IsNullOrWhiteSpace(Model.ClosedPeriodWarningHeading))
                    {
                        <p class="govuk-notification-banner__heading">
                            @Model.ClosedPeriodWarningHeading
                        </p>
                    }
                    @if (Model.IsClosedPeriodWarningExceptGrassAndOilseed)
                    {
                        <p class="govuk-notification-banner__heading">
                            @Resource.MsgClosedPeriodForFertliserExceptOilseedAndGrassTitle
                        </p>
                    }
                    @if (Model.IsClosedPeriodWarningOnlyForGrassAndOilseed)
                    {
                        <p class="govuk-notification-banner__heading">
                            @Resource.MsgClosedPeriodForGrassAndOilseedFertliserWarningMsgTitle
                        </p>
                    }
                    @if (Model.IsNitrogenExceedWarning)
                    {
                        <p class="govuk-notification-banner__heading">
                            @Resource.MsgForMaxNitrogenForFertiliserTitle
                        </p>
                    }

                </govuk-notification-banner>
            }

            <h1 class="govuk-heading-l">
                @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                {
                    @Resource.lblCheckYourAnswers
                }
                else
                {
                    @string.Format(Resource.lblUpdateAnInorganicMaterialApplication, Model.HarvestYear.Value)
                }

            </h1>
            <div class="check-answers">
                <govuk-summary-list>
                    @if (!Model.IsComingFromRecommendation && ViewBag.SelectedFields == null)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @Resource.lblWhichFieldsWouldYouLikeToAddAnOrganic
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @Model.FieldGroupName
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="FieldGroup" asp-controller="FertiliserManure">@Resource.lblChange</govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }

                    @if (!Model.IsComingFromRecommendation && ViewBag.SelectedFields != null)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                                {
                                    @Resource.lblWhichFieldsWouldYouLikeToAddAnOrganic
                                }
                                else
                                {
                                    @Resource.lblWhichFieldsWouldYouLikeToEditAnOrganic
                                }
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @if (ViewBag.SelectedFields != null)
                                {
                                    if (ViewBag.SelectedFields.Count <= Convert.ToInt32(Resource.FieldGreaterThanX))
                                    {
                                        @foreach (var item in ViewBag.SelectedFields)
                                        {
                                            @item <br />
                                        }
                                    }
                                    else
                                    {
                                        @string.Format(Resource.lblFarmFields, ViewBag.SelectedFields.Count)
                                        <govuk-details>
                                            <govuk-details-summary>
                                                @Resource.lblViewFields
                                            </govuk-details-summary>
                                            <govuk-details-text>

                                                @foreach (var item in ViewBag.SelectedFields)
                                                {
                                                    @item <br />
                                                }
                                            </govuk-details-text>
                                        </govuk-details>
                                    }

                                }
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>

                                @if (ViewBag.Fields != null && ViewBag.Fields.Count > 1)
                                {
                                    <govuk-summary-list-row-action asp-action="@(string.IsNullOrWhiteSpace(Model.EncryptedFertId)?"FieldGroup":"Fields")" asp-controller="FertiliserManure">@Resource.lblChange</govuk-summary-list-row-action>
                                }

                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }



                    <govuk-summary-list-row class=@((!Model.Date.HasValue)?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                            {
                                @if (int.TryParse(Model.FieldGroup, out int value))
                                {
                                    @string.Format(Resource.lblWhenAreYouApplyingInOrganicfertiliser, Model.CropTypeName)
                                }
                                else
                                {
                                    @Resource.lblWhenAreYouApplyingInorganicFertiliserForTheseFields
                                }
                            }
                            else
                            {
                                @Resource.lblWhenDoYouPlanToSpreadInorganicFertiliserOnTheseFields
                            }
                            @* @Resource.lblWhenDoYouFirstPlanToSpreadInOrganicFertiliser *@
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @((Model.Date.HasValue) ? Model.Date.Value.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB")) : Resource.lblNotSet)
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="InOrgnaicManureDuration" asp-controller="FertiliserManure">@Resource.lblChange</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                            {
                                @Resource.lblHowMuchOfEachNutrientDoYouPlan
                            }
                            else
                            {
                                @Resource.lblHowMuchOfEachNutrientDoYouPlanforUpdate
                            }
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @if ((Model.N.HasValue) && Model.N.Value > 0)
                            {
                                @string.Format("{0} {1} {2}", Model.N.Value, Resource.lblKgPerHectare, Resource.lblNitrogen)
                                <br />
                            }
                            @if ((Model.P2O5.HasValue) && Model.P2O5.Value > 0)
                            {
                                @string.Format("{0} {1} {2}", Model.P2O5.Value, Resource.lblKgPerHectare, Resource.lblPhosphateP2O5)
                                <br />
                            }
                            @if ((Model.K2O.HasValue) && Model.K2O.Value > 0)
                            {
                                @string.Format("{0} {1} {2}", Model.K2O.Value, Resource.lblKgPerHectare, Resource.lblPotashK2O)
                                <br />
                            }
                            @if ((Model.SO3.HasValue) && Model.SO3.Value > 0)
                            {
                                @string.Format("{0} {1} {2}", Model.SO3.Value, Resource.lblKgPerHectare, Resource.lblSulphurSO3)
                                <br />
                            }
                            @if ((Model.MgO.HasValue) && Model.MgO.Value > 0)
                            {
                                @string.Format("{0} {1} {2}", Model.MgO.Value, Resource.lblKgPerHectare, Resource.lblMagnesiumMgO)
                                <br />
                            }
                            @if ((Model.Lime.HasValue) && Model.Lime.Value > 0)
                            {
                                @(string.Format("{0} {1} {2}", Model.Lime.Value, Resource.lbltonnes, Resource.lblLime))
                                <br />
                            }
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="NutrientValues" asp-controller="FertiliserManure">@Resource.lblChange</govuk-summary-list-row-action>

                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>


                </govuk-summary-list>
                @if (!string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                {
                    <p class="govuk-body margin-bottom-forty">
                        @Resource.lblYouCanAlso
                        @*     <a asp-action="DeletePlanOrganicAndFertiliser" asp-controller="Crop" asp-route-q="@Model.EncryptedFertId" asp-route-r="@ViewBag.Fertliser">@Resource.lblRemoveThisApplication</a> *@
                        <a asp-action="RemoveFertiliser" asp-controller="FertiliserManure">
                            @if (ViewBag.SelectedFields != null && ViewBag.SelectedFields.Count == 1)
                            {
                                @string.Format(Resource.lblRemoveThisApplicationFromField, Model.FieldName)
                            }
                            else{
                                @Resource.lblRemoveThisApplicationFromTheseField
                            }
                        </a>
                    </p>
                }
            </div>



            <govuk-button type="submit" class="margin-bottom-forty">
                @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                {
                    @Resource.lblAddToPlan
                }
                else
                {
                    @Resource.lblUpdate
                }

            </govuk-button>

            <p class="govuk-body cancel-link">
                <a asp-action="CreateFertiliserManureCancel" asp-controller="FertiliserManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
            </p>

        </form>
    </div>

</div>