﻿@using NMP.Portal.Resources
@using System.Globalization
@model NMP.Portal.ViewModels.FertiliserManureViewModel
@{
    var heading="";
    if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
    {
        heading = Resource.lblCheckYourAnswers;
    }
    else
    {
        heading = string.Format(Resource.lblUpdateAnInorganicMaterialApplication, Model.HarvestYear??0);
    }
    string title = (!string.IsNullOrEmpty(Model.EncryptedFertId)) ? Resource.lblUpdateInorganicFeriliser : Resource.lblAddInorganicFeriliser;
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {title}";
    int counter = 1;
}

@section BeforeContent {
    <govuk-back-link asp-action="BackCheckAnswer" asp-controller="FertiliserManure">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form  class="form-with-overlay" asp-action="@(!string.IsNullOrWhiteSpace(Model.EncryptedFertId) ? "UpdateFertiliser" :"CheckAnswer")" asp-controller="FertiliserManure" method="post" autocomplete="off">

            @Html.AntiForgeryToken()
            <div hidden="true">
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldGroup"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldGroupName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.N"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.P2O5"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.K2O"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SO3"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MgO"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Lime"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropOrder"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.QuestionForSpreadInorganicFertiliser" value="@Model.QuestionForSpreadInorganicFertiliser.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedCounter" value="@Model.EncryptedCounter"/>
                <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Date"></govuk-date-input>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmCountryId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFertId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationCurrentCounter"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationEncryptedCounter"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldID"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsSameDefoliationForAll"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCropGroupChange"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyChangeInField"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassCropCount"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCropEncryptedCounter" value="@Model.DoubleCropEncryptedCounter"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCropCurrentCounter" value="@Model.DoubleCropCurrentCounter"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsDoubleCropAvailable"/>
                @* warning model properties start *@
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsClosedPeriodWarning" value="@Model.IsClosedPeriodWarning.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsNitrogenExceedWarning" value="@Model.IsNitrogenExceedWarning.ToString().ToLower()"/>
                
                
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodWarningHeading" value="@Model.ClosedPeriodWarningHeading"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodWarningPara2" value="@Model.ClosedPeriodWarningPara2"/>
                
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodNitrogenExceedWarningHeading" value="@Model.ClosedPeriodNitrogenExceedWarningHeading"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodNitrogenExceedWarningPara1" value="@Model.ClosedPeriodNitrogenExceedWarningPara1"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodNitrogenExceedWarningPara2" value="@Model.ClosedPeriodNitrogenExceedWarningPara2"/>

                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodWarningHeader" value="@Model.ClosedPeriodWarningHeader"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodWarningCodeID" value="@Model.ClosedPeriodWarningCodeID"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodWarningLevelID" value="@Model.ClosedPeriodWarningLevelID"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodNitrogenExceedWarningHeader" value="@Model.ClosedPeriodNitrogenExceedWarningHeader"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodNitrogenExceedWarningCodeID" value="@Model.ClosedPeriodNitrogenExceedWarningCodeID"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ClosedPeriodNitrogenExceedWarningLevelID" value="@Model.ClosedPeriodNitrogenExceedWarningLevelID"/>

                @if (Model != null)
                {
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.isEnglishRules" value="@Model.isEnglishRules.ToString().ToLower()"/>
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromRecommendation" value="@Model.IsComingFromRecommendation.ToString().ToLower()"/>
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyCropIsGrass" value="@Model.IsAnyCropIsGrass.ToString().ToLower()"/>


                    @if (Model.FieldList != null && Model.FieldList.Count > 0)
                    {
                        @for (int i = 0; i < Model.FieldList.Count; i++)
                        {
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]"/>
                        }

                    }

                    @if (Model.UpdatedFertiliserIds != null && Model.UpdatedFertiliserIds.Count > 0)
                    {
                        @for (int i = 0; i < Model.UpdatedFertiliserIds.Count; i++)
                        {
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UpdatedFertiliserIds[i].FertiliserId" value="@Model.UpdatedFertiliserIds[i].FertiliserId"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UpdatedFertiliserIds[i].ManagementPeriodId" value="@Model.UpdatedFertiliserIds[i].ManagementPeriodId"/>

                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UpdatedFertiliserIds[i].Name" value="@Model.UpdatedFertiliserIds[i].Name"/>
                        }

                    }
                    @if (Model.FertiliserManures != null && Model.FertiliserManures.Count > 0)
                    {
                        @for (int i = 0; i < Model.FertiliserManures.Count; i++)
                        {
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].ManagementPeriodID" value="@Model.FertiliserManures[i].ManagementPeriodID"/>
                            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].ApplicationDate" value="@Model.FertiliserManures[i].ApplicationDate"></govuk-date-input>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].K2O" value="@Model.FertiliserManures[i].K2O"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].MgO" value="@Model.FertiliserManures[i].MgO"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].P2O5" value="@Model.FertiliserManures[i].P2O5"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].SO3" value="@Model.FertiliserManures[i].SO3"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].NH4N" value="@Model.FertiliserManures[i].NH4N"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].NO3N" value="@Model.FertiliserManures[i].NO3N"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].N" value="@Model.FertiliserManures[i].N"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].Lime" value="@Model.FertiliserManures[i].Lime"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].ApplicationRate" value="@Model.FertiliserManures[i].ApplicationRate"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].FieldID" value="@Model.FertiliserManures[i].FieldID"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].Defoliation" value="@Model.FertiliserManures[i].Defoliation"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].DefoliationName" value="@Model.FertiliserManures[i].DefoliationName"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].FieldName" value="@Model.FertiliserManures[i].FieldName"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].EncryptedCounter" value="@Model.FertiliserManures[i].EncryptedCounter"/>
                        }

                    }
                    @if (Model.DoubleCrop != null && Model.DoubleCrop.Count > 0)
                    {
                        @for (int i = 0; i < Model.DoubleCrop.Count; i++)
                        {

                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].CropID"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].FieldName"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].FieldID"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].CropName"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].CropOrder"/>
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].EncryptedCounter"/>
                        }
                    }
                }
            </div>
            @if (TempData["CheckYourAnswerError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["CheckYourAnswerError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
            @if (Model.IsWarningMsgNeedToShow && (Model.IsClosedPeriodWarningExceptGrassAndOilseed || Model.IsClosedPeriodWarningOnlyForGrassAndOilseed || Model.IsNitrogenExceedWarning || Model.IsClosedPeriodWarning))
            {
                @if(Model.N>0)
                {
                    <govuk-notification-banner>
                    <govuk-notification-banner-title>
                        @Resource.lblImportant
                    </govuk-notification-banner-title>

                    @if (!string.IsNullOrWhiteSpace(Model.ClosedPeriodWarningHeading))
                    {
                        <p class="govuk-notification-banner__heading">
                            @Model.ClosedPeriodWarningHeading
                        </p>
                    }
                    @if (Model.IsClosedPeriodWarningExceptGrassAndOilseed)
                    {
                        <p class="govuk-notification-banner__heading">
                            @Resource.MsgClosedPeriodForFertliserExceptOilseedAndGrassTitle
                        </p>
                    }
                    @if (Model.IsClosedPeriodWarningOnlyForGrassAndOilseed)
                    {
                        <p class="govuk-notification-banner__heading">
                            @Resource.MsgClosedPeriodForGrassAndOilseedFertliserWarningMsgTitle
                        </p>
                    }
                    @if (Model.IsNitrogenExceedWarning)
                    {
                        <p class="govuk-notification-banner__heading">
                            @Model.ClosedPeriodNitrogenExceedWarningHeading
                        </p>
                    }

                </govuk-notification-banner>
                }
                
            }

            <h1 class="govuk-heading-l">
                @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                {
                    @Resource.lblCheckYourAnswers
                }
                else
                {
                    @string.Format(Resource.lblUpdateAnInorganicMaterialApplication, Model.HarvestYear??0)
                }

            </h1>
            <div class="check-answers">
                <govuk-summary-list>
                    @if (!Model.IsComingFromRecommendation && ViewBag.SelectedFields == null)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                                {
                                    @Resource.lblWhichFieldsWouldYouLikeToAddInorganicFertiliserApplications
                                }
                                else
                                {
                                    @Resource.lblWhichFieldsWouldYouLikeToEditAnOrganic
                                }
                                @* @Resource.lblWhichFieldsWouldYouLikeToAddAnOrganic *@
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @Model.FieldGroupName
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="FieldGroup" asp-controller="FertiliserManure">@Resource.lblChange
                                   <span class="govuk-visually-hidden">
                                      @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                                      {
                                          @Resource.lblWhichFieldsWouldYouLikeToAddInorganicFertiliserApplications
                                      }
                                      else
                                      {
                                          @Resource.lblWhichFieldsWouldYouLikeToEditAnOrganic
                                      }
                                   </span>
                                </govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                    @if (Model.IsComingFromRecommendation && Model.FieldGroup==Resource.lblSelectSpecificFields)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                                {
                                    @Resource.lblWhichFieldsWouldYouLikeToAddInorganicFertiliserApplications
                                }
                                else
                                {
                                    @Resource.lblWhichFieldsWouldYouLikeToEditAnOrganic
                                }
                                @* @Resource.lblWhichFieldsWouldYouLikeToEditAnOrganic *@
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @Model.FieldName
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }

                    @if (!Model.IsComingFromRecommendation && ViewBag.SelectedFields != null)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                                {
                                    @Resource.lblWhichFieldsWouldYouLikeToAddInorganicFertiliserApplications
                                }
                                else
                                {
                                    @Resource.lblWhichFieldsWouldYouLikeToEditAnOrganic
                                }
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @if (ViewBag.SelectedFields != null)
                                {
                                    if (ViewBag.SelectedFields.Count <= Convert.ToInt32(Resource.FieldGreaterThanX))
                                    {
                                        @foreach (var item in ViewBag.SelectedFields)
                                        {
                                            @item <br />
                                        }
                                    }
                                    else
                                    {
                                        @string.Format(Resource.lblFarmFields, ViewBag.SelectedFields.Count)
                                        <govuk-details>
                                            <govuk-details-summary>
                                                @Resource.lblViewFields
                                            </govuk-details-summary>
                                            <govuk-details-text>

                                                @foreach (var item in ViewBag.SelectedFields)
                                                {
                                                    @item <br />
                                                }
                                            </govuk-details-text>
                                        </govuk-details>
                                    }

                                }
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>

                                @if (ViewBag.Fields != null && ViewBag.Fields.Count > 1)
                                {
                                    <govuk-summary-list-row-action asp-action="@(string.IsNullOrWhiteSpace(Model.EncryptedFertId)?"FieldGroup":"Fields")" asp-controller="FertiliserManure">@Resource.lblChange
                                    
                                        <span class="govuk-visually-hidden">
                                            @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                                            {
                                                @Resource.lblWhichFieldsWouldYouLikeToAddInorganicFertiliserApplications
                                            }
                                            else
                                            {
                                                @Resource.lblWhichFieldsWouldYouLikeToEditAnOrganic
                                            }
                                        </span>
                                    </govuk-summary-list-row-action>
                                }

                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                    @if (Model.IsDoubleCropAvailable)
                    {
                        @if (Model.DoubleCrop == null)
                        {
                            <govuk-summary-list-row class="govuk-error-message" )>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblWhichCropIsThisFertiliserApplication, Model.FieldName)
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @Resource.lblNotSet
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="DoubleCrop" asp-controller="FertiliserManure" asp-route-q="@Model.DoubleCropEncryptedCounter">@Resource.lblChange
                                        <span class="govuk-visually-hidden">
                                            @string.Format(Resource.lblWhichCropIsThisFertiliserApplication, Model.FieldName)
                                        </span>
                                    </govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                        }
                        else
                        {
                            @foreach (var doubleCrop in Model.DoubleCrop)
                            {
                                <govuk-summary-list-row class=@((doubleCrop.CropID==null)?"govuk-error-message":"")>
                                    <govuk-summary-list-row-key>
                                        @string.Format(Resource.lblWhichCropIsThisFertiliserApplication, doubleCrop.FieldName)
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        @((doubleCrop.CropID == null) ? Resource.lblNotSet : string.Format("{0} {1} {2}{3}{4}", Resource.lblCrop, doubleCrop.CropOrder, "(", doubleCrop.CropName, ")"))
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                        <govuk-summary-list-row-action asp-action="DoubleCrop" asp-controller="FertiliserManure" asp-route-q="@doubleCrop.EncryptedCounter">@Resource.lblChange
                                            <span class="govuk-visually-hidden">
                                                @string.Format(Resource.lblWhichCropIsThisFertiliserApplication, doubleCrop.FieldName)
                                            </span>
                                        </govuk-summary-list-row-action>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>
                                counter++;
                            }
                        }

                    }
                    @if (Model.IsAnyCropIsGrass.HasValue && Model.IsAnyCropIsGrass.Value)
                    {
                        @if (Model.GrassCropCount.HasValue&&Model.GrassCropCount>1)
                        {
                            <govuk-summary-list-row class=@((!Model.IsSameDefoliationForAll.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblForMultipleDefoliation
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(Model.IsSameDefoliationForAll.HasValue ? (Model.IsSameDefoliationForAll.Value ? Resource.lblYes : Resource.lblNo) : Resource.lblNotSet)
                                    @* @(!string.IsNullOrWhiteSpace(fertiliser.DefoliationName) ? fertiliser.DefoliationName : Resource.lblNotSet) *@
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="IsSameDefoliationForAll" asp-controller="FertiliserManure">@Resource.lblChange
                                        <span class="govuk-visually-hidden">
                                            @Resource.lblForMultipleDefoliation
                                        </span>
                                    </govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                        }
                        @if (Model.IsSameDefoliationForAll.HasValue && Model.IsSameDefoliationForAll.Value)
                        {
                            bool renderDefoliation = false;
                            @foreach (var fertiliser in Model.FertiliserManures)
                            {
                                @if (!renderDefoliation)
                                {
                                    <govuk-summary-list-row class=@((!fertiliser.Defoliation.HasValue)?"govuk-error-message":"")>
                                        <govuk-summary-list-row-key>
                                            @if (Model.GrassCropCount.HasValue&&Model.GrassCropCount>1)
                                            {
                                            @Resource.lblWhichCutOrGrazingInThisInorganicApplicationForAllField
                                            }
                                            else{
                                                 @string.Format(Resource.lblWhichCutOrGrazingInThisInorganicApplicationForInField, fertiliser.FieldName)
                                            }
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            
                                             @(!string.IsNullOrWhiteSpace(fertiliser.DefoliationName) ? fertiliser.DefoliationName : Resource.lblNotSet) 
                                        </govuk-summary-list-row-value>
                                        <govuk-summary-list-row-actions>
                                            <govuk-summary-list-row-action asp-action="Defoliation" asp-controller="FertiliserManure" asp-route-q="@Model.DefoliationEncryptedCounter">@Resource.lblChange
                                                <span class="govuk-visually-hidden">
                                                     @if (Model.GrassCropCount.HasValue&&Model.GrassCropCount>1)
                                                     {
                                                     @Resource.lblWhichCutOrGrazingInThisInorganicApplicationForAllField
                                                     }
                                                     else{
                                                          @string.Format(Resource.lblWhichCutOrGrazingInThisInorganicApplicationForInField, fertiliser.FieldName)
                                                     }
                                                </span>
                                            </govuk-summary-list-row-action>
                                        </govuk-summary-list-row-actions>
                                    </govuk-summary-list-row>
                                    renderDefoliation = true;
                                }
                            }
                        }
                        else
                        {
                            @foreach (var fertiliser in Model.FertiliserManures)
                            {
                                <govuk-summary-list-row class=@((!fertiliser.Defoliation.HasValue)?"govuk-error-message":"")>
                                    <govuk-summary-list-row-key>
                                        @string.Format(Resource.lblWhichCutOrGrazingInThisInorganicApplicationForInField, fertiliser.FieldName)
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        @* @fertiliser.Defoliation *@
                                         @(!string.IsNullOrWhiteSpace(fertiliser.DefoliationName) ? fertiliser.DefoliationName : Resource.lblNotSet) 
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                        <govuk-summary-list-row-action asp-action="Defoliation" asp-controller="FertiliserManure" asp-route-q="@fertiliser.EncryptedCounter">@Resource.lblChange
                                            <span class="govuk-visually-hidden">
                                                @string.Format(Resource.lblWhichCutOrGrazingInThisInorganicApplicationForInField, fertiliser.FieldName)
                                            </span>
                                        </govuk-summary-list-row-action>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>
                            }
                        }
                    }
                    <govuk-summary-list-row class=@((!Model.Date.HasValue)?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                            {
                                @if (int.TryParse(Model.FieldGroup, out int value))
                                {
                                    @string.Format(Resource.lblWhenAreYouApplyingInOrganicfertiliser, Model.CropTypeName)
                                }
                                else
                                {
                                    @(Model.FieldList?.Count > 1 ? Resource.lblWhenAreYouApplyingInorganicFertiliserForTheseFields : string.Format(Resource.lblWhenAreYouApplyingInorganicFertiliserForThisFields,Model.FieldName))
                                }
                            }
                            else
                            {
                                @(Model.FieldList?.Count > 1 ? Resource.lblWhenDoYouPlanToSpreadInorganicFertiliserOnTheseFields: string.Format( Resource.lblWhenDoYouPlanToSpreadInorganicFertiliserOnThisField,Model.FieldName))
                            }
                            @* @Resource.lblWhenDoYouFirstPlanToSpreadInOrganicFertiliser *@
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @((Model.Date.HasValue) ? Model.Date.Value.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB")) : Resource.lblNotSet)
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="InOrgnaicManureDuration" asp-controller="FertiliserManure">@Resource.lblChange
                                <span class="govuk-visually-hidden">
                                    @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                                    {
                                        @if (int.TryParse(Model.FieldGroup, out int value))
                                        {
                                            @string.Format(Resource.lblWhenAreYouApplyingInOrganicfertiliser, Model.CropTypeName)
                                        }
                                        else
                                        {
                                            @(Model.FieldList?.Count > 1 ? Resource.lblWhenAreYouApplyingInorganicFertiliserForTheseFields : string.Format(Resource.lblWhenAreYouApplyingInorganicFertiliserForThisFields,Model.FieldName))
                                        }
                                    }
                                    else
                                    {
                                        @(Model.FieldList?.Count > 1 ? Resource.lblWhenDoYouPlanToSpreadInorganicFertiliserOnTheseFields: string.Format( Resource.lblWhenDoYouPlanToSpreadInorganicFertiliserOnThisField,Model.FieldName))
                                    }
                                </span>
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                            {
                                @Resource.lblHowMuchOfEachNutrientDoYouPlan
                            }
                            else
                            {
                                @Resource.lblHowMuchOfEachNutrientDoYouPlanforUpdate
                            }
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @if ((Model.N.HasValue))
                            {
                                @string.Format("{0} {1} {2}",(Model.N.Value==0 ? Model.N.Value: string.Format("{0:N0}",Model.N.Value)), Resource.lblKgPerHectare, Resource.lblNitrogen)
                                <br/>
                            }
                            @if ((Model.P2O5.HasValue))
                            {
                                @string.Format("{0} {1} {2}", (Model.P2O5.Value==0 ? Model.P2O5.Value: string.Format("{0:N0}",Model.P2O5.Value)), Resource.lblKgPerHectare, Resource.lblPhosphateP2O5)
                                <br/>
                            }
                            @if ((Model.K2O.HasValue))
                            {
                                @string.Format("{0} {1} {2}",(Model.K2O.Value==0 ? Model.K2O.Value: string.Format("{0:N0}",Model.K2O.Value)), Resource.lblKgPerHectare, Resource.lblPotashK2O)
                                <br />
                            }
                            @if ((Model.SO3.HasValue))
                            {
                                @string.Format("{0} {1} {2}",(Model.SO3.Value==0 ? Model.SO3.Value: string.Format("{0:N0}",Model.SO3.Value)), Resource.lblKgPerHectare, Resource.lblSulphurSO3)
                                <br />
                            }
                            @if ((Model.MgO.HasValue))
                            {
                                @string.Format("{0} {1} {2}",(Model.MgO.Value==0 ? Model.MgO.Value: string.Format("{0:N0}",Model.MgO.Value)), Resource.lblKgPerHectare, Resource.lblMagnesiumMgO)
                                <br />
                            }
                            @if ((Model.Lime.HasValue))
                            {
                                 @string.Format("{0} {1} {2}",(Model.Lime.Value==0 ? Model.Lime.Value: string.Format("{0:N1}",Model.Lime.Value)), Resource.lbltonnes, Resource.lblLime)
                                @* @(string.Format("{0} {1} {2}", Model.Lime.Value, Resource.lbltonnes, Resource.lblLime)) *@
                                <br />
                            }
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="NutrientValues" asp-controller="FertiliserManure">@Resource.lblChange
                                <span class="govuk-visually-hidden">
                                    @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                                    {
                                        @Resource.lblHowMuchOfEachNutrientDoYouPlan
                                    }
                                    else
                                    {
                                        @Resource.lblHowMuchOfEachNutrientDoYouPlanforUpdate
                                    }
                                </span>
                            </govuk-summary-list-row-action>

                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>


                </govuk-summary-list>
                @if (!string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                {
                    <p class="govuk-body margin-bottom-forty">
                        @Resource.lblYouCanAlso
                        @*     <a asp-action="DeletePlanOrganicAndFertiliser" asp-controller="Crop" asp-route-q="@Model.EncryptedFertId" asp-route-r="@ViewBag.Fertliser">@Resource.lblRemoveThisApplication</a> *@
                        <a asp-action="RemoveFertiliser" asp-controller="FertiliserManure">
                            @if (ViewBag.SelectedFields != null && ViewBag.SelectedFields.Count == 1)
                            {
                                @string.Format(Resource.lblRemoveThisApplicationFromField, Model.FieldName)
                            }
                            else
                            {
                                @Resource.lblRemoveThisApplicationFromTheseField
                            }
                        </a>
                    </p>
                }
            </div>



            <govuk-button type="submit" class="margin-bottom-forty" prevent-double-click="true">
                @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                {
                    @Resource.lblAddToPlan
                }
                else
                {
                    @Resource.lblUpdate
                }

            </govuk-button>

            <p class="govuk-body cancel-link">
                <a asp-action="Cancel" asp-controller="FertiliserManure">@Resource.lblCancel</a>
            </p>

        </form>
    </div>

</div>