@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.FertiliserManureViewModel
@{
    var heading = "";
    if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
    {
        heading = Resource.lblWhichFieldsWouldYouLikeToAddInorganicFertiliserApplications;
    }
    else
    {
        heading = Resource.lblWhichFieldsWouldYouLikeToEditAnOrganic;
    }
    string title = (!string.IsNullOrEmpty(Model.EncryptedFertId)) ? Resource.lblUpdateInorganicFeriliser : Resource.lblAddInorganicFeriliser;
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {title}";
    
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.FertiliserWizardSteps.Field;
}

@section BeforeContent {
    <govuk-back-link asp-action=@(Model.IsCheckAnswer?"CheckAnswer":"FieldGroup") asp-controller="FertiliserManure">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form asp-action="Fields" asp-controller="FertiliserManure" method="post" autocomplete="off">
            @Html.AntiForgeryToken()
            @await Html.PartialAsync("~/Views/FertiliserManure/_FertiliserWizardHiddenFields.cshtml", Model)
            @if (TempData["FieldError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["FieldError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }

            <govuk-checkboxes name="FieldList" for="FieldList">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
                        {
                            @Resource.lblWhichFieldsWouldYouLikeToAddInorganicFertiliserApplications
                        }
                        else
                        {
                            @Resource.lblWhichFieldsWouldYouLikeToEditAnOrganic
                        }
                        @* @Resource.lblWhichFieldsWouldYouLikeToAddInorganicFertiliserApplications *@
                    </govuk-checkboxes-fieldset-legend>
                    <govuk-checkboxes-hint>
                        @Resource.lblSelectAllThatApply
                    </govuk-checkboxes-hint>
                    @if (ViewBag.FieldList != null)
                    {
                        @foreach (var item in ViewBag.FieldList)
                        {
                            <govuk-checkboxes-item value="@item.Value">@item.Text</govuk-checkboxes-item>
                        }
                    }

                    <govuk-checkboxes-divider>or</govuk-checkboxes-divider>
                    <govuk-checkboxes-item value=@Resource.lblSelectAll id="select-all" name="select-all">@Resource.lblSelectAll</govuk-checkboxes-item>
                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>
            
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
            
            <p class="govuk-body cancel-link">
                @if(string.IsNullOrWhiteSpace(Model.EncryptedFertId)&&(!Model.IsCheckAnswer)){
                    <a asp-action="CreateFertiliserManureCancel" asp-controller="FertiliserManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="FertiliserManure">@Resource.lblCancel</a>
                }
            </p>

        </form>
    </div>

</div>