@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.FertiliserManureViewModel
@{
    var heading = "";
    if (string.IsNullOrWhiteSpace(Model.EncryptedFertId))
    {
        if (!Model.FieldGroup.Equals(Resource.lblAll) && !Model.FieldGroup.Equals(Resource.lblSelectSpecificFields))
        {
            heading = string.Format(Resource.lblWhenAreYouApplyingInOrganicfertiliser, Model.CropGroupName);
        }
        else
        {
            heading = (Model.FieldList.Count > 1 ? Resource.lblWhenAreYouApplyingInorganicFertiliserForTheseFields : string.Format(Resource.lblWhenAreYouApplyingInorganicFertiliserForThisFields, Model.FieldName));
        }
    }
    else
    {
        heading = (Model.FieldList.Count > 1 ? Resource.lblWhenDoYouPlanToSpreadInorganicFertiliserOnTheseFields : string.Format(Resource.lblWhenDoYouPlanToSpreadInorganicFertiliserOnThisField, Model.FieldName));
    }
    string title = (!string.IsNullOrEmpty(Model.EncryptedFertId)) ? Resource.lblUpdateInorganicFeriliser : Resource.lblAddInorganicFeriliser;
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {title}";
    var count = 0;
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.FertiliserWizardSteps.Date;
}

@section BeforeContent {
    <govuk-back-link asp-action="BackActionForInOrganicManure" asp-controller="FertiliserManure" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="InOrgnaicManureDuration" asp-controller="FertiliserManure" method="post" autocomplete="off">
            @Html.AntiForgeryToken()
            @await Html.PartialAsync("~/Views/FertiliserManure/_FertiliserWizardHiddenFields.cshtml", Model)
            @if (TempData["InOrgnaicManureDurationError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["InOrgnaicManureDurationError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }

            <govuk-date-input for="@Model.Date">
                <govuk-date-input-fieldset>
                    <govuk-date-input-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @heading
                    </govuk-date-input-fieldset-legend>
                    <govuk-date-input-hint>
                        @if (ViewBag.ClosedPeriod != null && Model.IsWithinNVZ == true)
                        {
                            <div id="closed-date" class="govuk-body">
                                <p>
                                    @Resource.lblYourClosedPeriodForSpreading
                                </p>
                                <h3 class="govuk-heading-s closed-date">
                                    @ViewBag.ClosedPeriod
                                </h3>
                                <p class="govuk-body">
                                    @Resource.lblBasedOnYourCropSoilTypeAndFarmDetails
                                </p>
                            </div>
                        }
                        <div class="govuk-body">
                            @Resource.lblForFertiliserSecond
                        </div>
                        @string.Format(Resource.hintTheDateFormat, DateTime.Now.Year - 1)
                    </govuk-date-input-hint>
                    <govuk-date-input-day maxlength="2" pattern="[0-9]*"></govuk-date-input-day>
                    <govuk-date-input-month maxlength="2" pattern="[0-9]*"></govuk-date-input-month>
                    <govuk-date-input-year maxlength="4" pattern="[0-9]*"></govuk-date-input-year>
                </govuk-date-input-fieldset>
            </govuk-date-input>

            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>

            <p class="govuk-body cancel-link">
                @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId) && (!Model.IsCheckAnswer))
                {
                    <a asp-action="CreateFertiliserManureCancel" asp-controller="FertiliserManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="FertiliserManure">@Resource.lblCancel</a>
                }
            </p>


        </form>
    </div>

</div>