@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.FertiliserManureViewModel
@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedFertId)) ? Resource.lblUpdateInorganicFeriliser : Resource.lblAddInorganicFeriliser;
    ViewData["Title"] = $"{Resource.lblForMultipleDefoliation} {Resource.lblHyphen} {title}";

    var count = 0;
    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
    string backAction = "FieldGroup";
    
}

@section BeforeContent {
    @if (Model.IsCheckAnswer && (!Model.IsAnyChangeInField) && (!Model.IsDoubleCropValueChange))
    {
        <govuk-back-link asp-action="CheckAnswer" asp-controller="FertiliserManure" asp-route-q="@Model.EncryptedCounter">@Resource.lblBack</govuk-back-link>
    }
    else @if (Model.IsDoubleCropAvailable || (Model.IsCheckAnswer && Model.IsDoubleCropValueChange))
    {
        <govuk-back-link asp-action="DoubleCrop" asp-controller="FertiliserManure" asp-route-q="@Model.DoubleCropEncryptedCounter">@Resource.lblBack</govuk-back-link>
    }
    else
    {
        @if (Model.FieldGroup == Resource.lblSelectSpecificFields)
        {
            backAction = "Fields";
        }
        else
        {
            backAction = "FieldGroup";
        }
        <govuk-back-link asp-action="@backAction" asp-controller="FertiliserManure" asp-route-q="@Model.EncryptedCounter">@Resource.lblBack</govuk-back-link>
    }
}
<div class="govuk-grid-row">

    <form asp-action="IsSameDefoliationForAll" asp-controller="FertiliserManure" method="post" autocomplete="off">
        @Html.AntiForgeryToken()

        @if (TempData["IsSameDefoliationForAllError"] != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item>@TempData["IsSameDefoliationForAllError"]</govuk-error-summary-item>
            </govuk-error-summary>
        }

        <div hidden="true">
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromRecommendation" value="@Model.IsComingFromRecommendation" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.isEnglishRules" value="@Model.isEnglishRules.ToString().ToLower()" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldGroup" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroupName" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedCounter" value="@Model.EncryptedCounter" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsClosedPeriodWarningExceptGrassAndOilseed" value="@Model.IsClosedPeriodWarningExceptGrassAndOilseed.ToString().ToLower()" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsClosedPeriodWarningOnlyForGrassAndOilseed" value="@Model.IsClosedPeriodWarningOnlyForGrassAndOilseed.ToString().ToLower()" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsWarningMsgNeedToShow" value="@Model.IsWarningMsgNeedToShow.ToString().ToLower()" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsNitrogenExceedWarning" value="@Model.IsNitrogenExceedWarning.ToString().ToLower()" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropOrder" />
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Date"></govuk-date-input>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmCountryId" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFertId" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationCurrentCounter" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationEncryptedCounter" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldID" />
            @* <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsSameDefoliationForAll"/> *@
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCropGroupChange" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyChangeInField" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassCropCount" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.N" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.P2O5" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.K2O" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SO3" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MgO" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Lime" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCropEncryptedCounter" value="@Model.DoubleCropEncryptedCounter" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCropCurrentCounter" value="@Model.DoubleCropCurrentCounter" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsDoubleCropAvailable" />

            @if (Model != null)
            {
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyChangeInSameDefoliationFlag" value="@Model.IsAnyChangeInSameDefoliationFlag.ToString().ToLower()" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromRecommendation" value="@Model.IsComingFromRecommendation.ToString().ToLower()" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.QuestionForSpreadInorganicFertiliser" value="@Model.QuestionForSpreadInorganicFertiliser.ToString().ToLower()" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyCropIsGrass" value="@Model.IsAnyCropIsGrass.ToString().ToLower()" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsDoubleCropValueChange" value="@Model.IsDoubleCropValueChange.ToString().ToLower()" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NeedToShowSameDefoliationForAll" value="@Model.NeedToShowSameDefoliationForAll.ToString().ToLower()" />
                @if (Model.FieldList != null && Model.FieldList.Count > 0)
                {
                    @for (int i = 0; i < Model.FieldList.Count; i++)
                    {
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]" />
                    }

                }
                @if (Model.UpdatedFertiliserIds != null && Model.UpdatedFertiliserIds.Count > 0)
                {
                    @for (int i = 0; i < Model.UpdatedFertiliserIds.Count; i++)
                    {
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UpdatedFertiliserIds[i].FertiliserId" value="@Model.UpdatedFertiliserIds[i].FertiliserId" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UpdatedFertiliserIds[i].ManagementPeriodId" value="@Model.UpdatedFertiliserIds[i].ManagementPeriodId" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UpdatedFertiliserIds[i].Name" value="@Model.UpdatedFertiliserIds[i].Name" />
                    }

                }
                @if (Model.FertiliserManures != null && Model.FertiliserManures.Count > 0)
                {
                    @for (int i = 0; i < Model.FertiliserManures.Count; i++)
                    {
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].ManagementPeriodID" value="@Model.FertiliserManures[i].ManagementPeriodID" />
                        <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].ApplicationDate" value="@Model.FertiliserManures[i].ApplicationDate"></govuk-date-input>
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].MgO" value="@Model.FertiliserManures[i].MgO" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].NH4N" value="@Model.FertiliserManures[i].NH4N" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].NO3N" value="@Model.FertiliserManures[i].NO3N" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].ApplicationRate" value="@Model.FertiliserManures[i].ApplicationRate" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].N" value="@Model.FertiliserManures[i].N" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].Lime" value="@Model.FertiliserManures[i].Lime" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].P2O5" value="@Model.FertiliserManures[i].P2O5" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].K2O" value="@Model.FertiliserManures[i].K2O" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].SO3" value="@Model.FertiliserManures[i].SO3" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].FieldID" value="@Model.FertiliserManures[i].FieldID" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].Defoliation" value="@Model.FertiliserManures[i].Defoliation" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].DefoliationName" value="@Model.FertiliserManures[i].DefoliationName" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].FieldName" value="@Model.FertiliserManures[i].FieldName" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].EncryptedCounter" value="@Model.FertiliserManures[i].EncryptedCounter" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FertiliserManures[i].IsGrass" value="@Model.FertiliserManures[i].IsGrass" />
                    }
                }
                @if (Model.DoubleCrop != null && Model.DoubleCrop.Count > 0)
                {
                    @for (int i = 0; i < Model.DoubleCrop.Count; i++)
                    {

                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].CropID" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].FieldName" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].FieldID" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].CropName" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].CropOrder" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DoubleCrop[i].EncryptedCounter" />
                    }
                }
                @if (Model.DefoliationList != null && Model.DefoliationList.Count > 0)
                {
                    @for (int i = 0; i < Model.DefoliationList.Count; i++)
                    {

                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].CropID" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].FieldName" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].FieldID" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].ManagementPeriodID" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].Counter" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].DefoliationName" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].EncryptedCounter" />
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefoliationList[i].Defoliation" />
                    }
                }
            }
        </div>
        <div class="govuk-grid-column-two-thirds">
            <govuk-radios asp-for="@Model.IsSameDefoliationForAll">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Resource.lblForMultipleDefoliation
                    </govuk-radios-fieldset-legend>

                    <govuk-radios-item value=@yes>@Resource.lblYes</govuk-radios-item>
                    <govuk-radios-item value=@no>@Resource.lblNo</govuk-radios-item>

                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>

            <p class="govuk-body cancel-link">
                @if (string.IsNullOrWhiteSpace(Model.EncryptedFertId) && (!Model.IsCheckAnswer))
                {
                    <a asp-action="CreateFertiliserManureCancel" asp-controller="FertiliserManure" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="FertiliserManure">@Resource.lblCancel</a>
                }
            </p>

        </div>




    </form>

</div>