@using NMP.Portal.Resources
@using NMP.Portal.ViewModels
@model SnsAnalysisViewModel

@{
    ViewData["Title"] = $"{string.Format(Resource.lblTheInformationEnteredAboutThisWillBeLost, Resource.lblSoilNitrogenSupplyAnalysis.ToLower())} {Resource.lblHyphen} {Resource.AddASoilMineralNitrogenAnalysisResult}";

    var cancelViewModel = new CancelViewModel
            {
                IsCancel = Model.IsCancel,
                LableContent = string.Format(Resource.lblTheInformationEnteredAboutThisWillBeLost, Resource.lblSoilNitrogenSupplyAnalysis.ToLower())
            };
}

@section BeforeContent {
    <govuk-back-link asp-action="CheckAnswer" asp-controller="SnsAnalysis">@Resource.lblBack</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (TempData["Error"] != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["Error"]</govuk-error-summary-item>
            </govuk-error-summary>
        }
        <form asp-action="Cancel" method="post" asp-controller="SnsAnalysis" autocomplete="off">
            @Html.AntiForgeryToken()
            <div hidden="true">
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCalculateNitrogen" value="@Model.IsCalculateNitrogen"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumberOfShoots"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SeasonId" value="@Model.SeasonId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GreenAreaIndexOrCropHeight" value="@Model.GreenAreaIndexOrCropHeight"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogenAt030CM"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogenAt3060CM"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogenAt6090CM"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SampleDepth"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogen"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropHeight"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GreenAreaIndex"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsBasedOnSoilOrganicMatter" value="@Model.IsBasedOnSoilOrganicMatter.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsEstimateOfNitrogenMineralisation" value="@Model.IsEstimateOfNitrogenMineralisation"/>
                @* <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AdjustmentValue"/> *@
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilOrganicMatter"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCalculateNitrogenNo" value="@Model.IsCalculateNitrogenNo"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsNumberOfShoots" value="@Model.IsNumberOfShoots"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCropHeight" value="@Model.IsCropHeight"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsGreenAreaIndex" value="@Model.IsGreenAreaIndex"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SnsCategoryId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RecentSoilAnalysisQuestion" value="@Model.RecentSoilAnalysisQuestion.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SnsIndex"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SnsValue"/>

                <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SampleDate"></govuk-date-input>

                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedCropId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AdjustmentValue"/>
            </div>
            @await Html.PartialAsync("~/views/shared/_cancelconfirmation.cshtml", cancelViewModel)
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
        </form>
        <p class="govuk-body cancel-link"><a asp-action="CheckAnswer" asp-controller="SnsAnalysis">@Resource.lblCancel</a></p>
    </div>
</div>