﻿@using NMP.Portal.Resources;
@using System.Globalization
@model NMP.Portal.ViewModels.SnsAnalysisViewModel

@{
    ViewData["Title"] = $"{Resource.lblCheckYourAnswers} {Resource.lblHyphen} {Resource.AddASoilMineralNitrogenAnalysisResult}";
    var isWithinNVZ = "";
    var isAbove300SeaLevel = "";
    var soilReleasingClay = "";
    var sulphurDeficient = "";
    var WantToApplySns = "";
    var addRecentSoilAnalysis = "";


    if (Model.RecentSoilAnalysisQuestion != null)
    {
        switch (Model.RecentSoilAnalysisQuestion)
        {
            case true:
                addRecentSoilAnalysis = Resource.lblYes;
                break;
            case false:
                addRecentSoilAnalysis = Resource.lblNo;
                break;
        }
    }

}
@section BeforeContent {
    <govuk-back-link asp-action="BackCheckAnswer" asp-controller="SnsAnalysis">@Resource.lblBack</govuk-back-link>
}
<form class="form-with-overlay" asp-action="CheckAnswer" asp-controller="SnsAnalysis" method="post" autocomplete="off">
    @Html.AntiForgeryToken()

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            @if (TempData["CheckAnswerError"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["CheckAnswerError"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
            <h1 class="govuk-heading-l">
                @Resource.lblCheckYourAnswers
            </h1>
            <div hidden="true">
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCalculateNitrogen" value="@Model.IsCalculateNitrogen"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumberOfShoots"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SeasonId" value="@Model.SeasonId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GreenAreaIndexOrCropHeight" value="@Model.GreenAreaIndexOrCropHeight"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogenAt030CM"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogenAt3060CM"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogenAt6090CM"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SampleDepth"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogen"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropHeight"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GreenAreaIndex"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsBasedOnSoilOrganicMatter" value="@Model.IsBasedOnSoilOrganicMatter.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsEstimateOfNitrogenMineralisation" value="@Model.IsEstimateOfNitrogenMineralisation"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AdjustmentValue"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilOrganicMatter"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCalculateNitrogenNo" value="@Model.IsCalculateNitrogenNo"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsNumberOfShoots" value="@Model.IsNumberOfShoots"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCropHeight" value="@Model.IsCropHeight"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsGreenAreaIndex" value="@Model.IsGreenAreaIndex"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SnsCategoryId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RecentSoilAnalysisQuestion" value="@Model.RecentSoilAnalysisQuestion.ToString().ToLower()"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SnsIndex"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SnsValue"/>

                <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SampleDate"></govuk-date-input>

                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedCropId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldName"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropId"/>
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName"/>
            </div>
            <div class="check-answers">
                <govuk-summary-list>


                    @* sns journey *@

                    <govuk-summary-list-row class=@((!Model.SampleDate.HasValue)?"govuk-error-message":"")>
                        <govuk-summary-list-row-key>
                            @string.Format(Resource.lblWhenWasTheSampleForSoilMineralNitrogenTaken, Model.FieldName)
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @(Model.SampleDate.HasValue? Model.SampleDate.Value.Date.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB")) : Resource.lblNotSet)
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="SoilSampleDate" asp-controller="SnsAnalysis">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblWhenWasTheSampleForSoilMineralNitrogenTaken, Model.FieldName)</span></govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>

                    @if (Model.SnsCategoryId != null)
                    {
                        @if (!(Model.SnsCategoryId == (int)NMP.Portal.Enums.SNSCategories.Vegetables))
                        {
                            <govuk-summary-list-row class=@((!Model.SoilMineralNitrogenAt030CM.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblKilogramsOfSoilMineralNitrogenAt030CM
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(Model.SoilMineralNitrogenAt030CM.HasValue ? string.Format("{0:N0}{1}", Model.SoilMineralNitrogenAt030CM, Resource.lblkg) : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SoilMineralNitrogenAnalysisResults" asp-controller="SnsAnalysis">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblKilogramsOfSoilMineralNitrogenAt030CM</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row class=@((!Model.SoilMineralNitrogenAt3060CM.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblKilogramsOfSoilMineralNitrogenAt3060CM
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(Model.SoilMineralNitrogenAt3060CM.HasValue ? string.Format("{0:N0}{1}", Model.SoilMineralNitrogenAt3060CM, Resource.lblkg) : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SoilMineralNitrogenAnalysisResults" asp-controller="SnsAnalysis">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblKilogramsOfSoilMineralNitrogenAt3060CM</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            @if (Model.SoilMineralNitrogenAt6090CM != null)
                            {
                                <govuk-summary-list-row>
                                    <govuk-summary-list-row-key>
                                        @Resource.lblKilogramsOfSoilMineralNitrogenAt6090CMOptional
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        @string.Format("{0:N0}{1}", Model.SoilMineralNitrogenAt6090CM, Resource.lblkg)
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                        <govuk-summary-list-row-action asp-action="SoilMineralNitrogenAnalysisResults" asp-controller="SnsAnalysis">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblKilogramsOfSoilMineralNitrogenAt6090CMOptional</span></govuk-summary-list-row-action>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>
                            }
                        }
                        else
                        {
                            <govuk-summary-list-row class=@((!Model.SampleDepth.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblWhatWasTheSampleDepth
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(Model.SampleDepth.HasValue? Model.SampleDepth: Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SampleDepth" asp-controller="SnsAnalysis">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblWhatWasTheSampleDepth</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row class=@((!Model.SoilMineralNitrogen.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblWhatWasTheSoilMineralNitrogen
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(Model.SoilMineralNitrogen.HasValue? Model.SoilMineralNitrogen: Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="SampleDepth" asp-controller="SnsAnalysis">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblWhatWasTheSoilMineralNitrogen</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>

                        }
                        @if (Model.SnsCategoryId == (int)NMP.Portal.Enums.SNSCategories.WinterCereals || Model.SnsCategoryId == (int)NMP.Portal.Enums.SNSCategories.WinterOilseedRape)
                        {
                            <govuk-summary-list-row class=@((!Model.IsCalculateNitrogen.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblWouldYouLikeUsToHelpYouCalculateTheNitrogen
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(Model.IsCalculateNitrogen.HasValue ? (Model.IsCalculateNitrogen == true ? Resource.lblYes : Resource.lblNo) : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="CalculateNitrogenInCurrentCropQuestion" asp-controller="SnsAnalysis">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblWouldYouLikeUsToHelpYouCalculateTheNitrogen</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>

                            @if (Model.IsCalculateNitrogen == true)
                            {
                                if (Model.SnsCategoryId == (int)NMP.Portal.Enums.SNSCategories.WinterCereals)
                                {
                                    <govuk-summary-list-row class=@((!Model.NumberOfShoots.HasValue)?"govuk-error-message":"")>
                                        <govuk-summary-list-row-key>
                                            @Resource.lblWhatIsTheNumberOfShootsPerSquareMetre
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @(Model.NumberOfShoots.HasValue ? string.Format(Resource.lblShootsPerSquareMetre, string.Format("{0:N0}", Model.NumberOfShoots)) : Resource.lblNotSet)
                                        </govuk-summary-list-row-value>
                                        <govuk-summary-list-row-actions>
                                            <govuk-summary-list-row-action asp-action="NumberOfShoots" asp-controller="SnsAnalysis">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblWhatIsTheNumberOfShootsPerSquareMetre</span></govuk-summary-list-row-action>
                                        </govuk-summary-list-row-actions>
                                    </govuk-summary-list-row>
                                    <govuk-summary-list-row class=@((Model.SeasonId==0)?"govuk-error-message":"")>
                                        <govuk-summary-list-row-key>
                                            @Resource.lblWhenWasThisMeasured
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @(Model.SeasonId != 0 ? (Model.SeasonId == (int)NMP.Portal.Enums.Season.Autumn ? Resource.lblAutumn : Resource.lblSpring) : Resource.lblNotSet)
                                        </govuk-summary-list-row-value>
                                        <govuk-summary-list-row-actions>
                                            <govuk-summary-list-row-action asp-action="NumberOfShoots" asp-controller="SnsAnalysis">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblWhenWasThisMeasured</span></govuk-summary-list-row-action>
                                        </govuk-summary-list-row-actions>
                                    </govuk-summary-list-row>
                                }
                                if (Model.SnsCategoryId == (int)NMP.Portal.Enums.SNSCategories.WinterOilseedRape)
                                {
                                    <govuk-summary-list-row class=@((Model.GreenAreaIndexOrCropHeight==0)?"govuk-error-message":"")>
                                        <govuk-summary-list-row-key>
                                            @Resource.lblDoYouWantToEnterGAIOrCropHeight
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @(Model.GreenAreaIndexOrCropHeight != 0 ? (Model.GreenAreaIndexOrCropHeight == (int)NMP.Portal.Enums.GreenAreaIndexOrCropHeight.GAI ? Resource.lblGreenAreaIndex : Resource.lblCropHeight) : Resource.lblNotSet)
                                        </govuk-summary-list-row-value>
                                        <govuk-summary-list-row-actions>
                                            <govuk-summary-list-row-action asp-action="GreenAreaIndexOrCropHeightQuestion" asp-controller="SnsAnalysis">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblDoYouWantToEnterGAIOrCropHeight</span></govuk-summary-list-row-action>
                                        </govuk-summary-list-row-actions>
                                    </govuk-summary-list-row>
                                    if (Model.GreenAreaIndexOrCropHeight == (int)NMP.Portal.Enums.GreenAreaIndexOrCropHeight.CropHeight)
                                    {
                                        <govuk-summary-list-row class=@((!Model.CropHeight.HasValue)?"govuk-error-message":"")>
                                            <govuk-summary-list-row-key>
                                                @Resource.lblWhatIsTheCropHeight
                                            </govuk-summary-list-row-key>
                                            <govuk-summary-list-row-value>
                                                @(Model.CropHeight.HasValue? Model.CropHeight + Resource.lblcm: Resource.lblNotSet)
                                            </govuk-summary-list-row-value>
                                            <govuk-summary-list-row-actions>
                                                <govuk-summary-list-row-action asp-action="CropHeight" asp-controller="SnsAnalysis">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblWhatIsTheCropHeight</span></govuk-summary-list-row-action>
                                            </govuk-summary-list-row-actions>
                                        </govuk-summary-list-row>
                                        <govuk-summary-list-row class=@((Model.SeasonId==0)?"govuk-error-message":"")>
                                            <govuk-summary-list-row-key>
                                                @Resource.lblWhenWasThisMeasured
                                            </govuk-summary-list-row-key>
                                            <govuk-summary-list-row-value>
                                                @(Model.SeasonId != 0 ? (Model.SeasonId == (int)NMP.Portal.Enums.Season.Autumn ? Resource.lblAutumn : Resource.lblSpring) : Resource.lblNotSet)
                                            </govuk-summary-list-row-value>
                                            <govuk-summary-list-row-actions>
                                                <govuk-summary-list-row-action asp-action="CropHeight" asp-controller="SnsAnalysis">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblWhenWasThisMeasured</span></govuk-summary-list-row-action>
                                            </govuk-summary-list-row-actions>
                                        </govuk-summary-list-row>
                                    }
                                    if (Model.GreenAreaIndexOrCropHeight == (int)NMP.Portal.Enums.GreenAreaIndexOrCropHeight.GAI)
                                    {
                                        <govuk-summary-list-row class=@((!Model.GreenAreaIndex.HasValue)?"govuk-error-message":"")>
                                            <govuk-summary-list-row-key>
                                                @Resource.lblWhatIsTheGreenAreaIndexGAI
                                            </govuk-summary-list-row-key>
                                            <govuk-summary-list-row-value>
                                                @(Model.GreenAreaIndex.HasValue? Model.GreenAreaIndex: Resource.lblNotSet)
                                            </govuk-summary-list-row-value>
                                            <govuk-summary-list-row-actions>
                                                <govuk-summary-list-row-action asp-action="GreenAreaIndex" asp-controller="SnsAnalysis">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblWhatIsTheGreenAreaIndexGAI</span></govuk-summary-list-row-action>
                                            </govuk-summary-list-row-actions>
                                        </govuk-summary-list-row>

                                    }
                                }
                            }
                        }
                        @if (!(Model.SnsCategoryId == (int)NMP.Portal.Enums.SNSCategories.Vegetables))
                        {
                            <govuk-summary-list-row class=@((!Model.IsEstimateOfNitrogenMineralisation.HasValue)?"govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblWouldYouLikeToAddAnEstimateOfNitrogenMineralisation
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(Model.IsEstimateOfNitrogenMineralisation.HasValue ? (Model.IsEstimateOfNitrogenMineralisation == true ? Resource.lblYes : Resource.lblNo) : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="EstimateOfNitrogenMineralisationQuestion" asp-controller="SnsAnalysis">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblWouldYouLikeToAddAnEstimateOfNitrogenMineralisation</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            if (Model.IsEstimateOfNitrogenMineralisation == true)
                            {
                                <govuk-summary-list-row class=@((!Model.IsBasedOnSoilOrganicMatter.HasValue)?"govuk-error-message":"")>
                                    <govuk-summary-list-row-key>
                                        @string.Format(Resource.lblHowWouldYouLikeToCalculateTheSoilNitrogenMineralisation, Model.FieldName)
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        @(Model.IsBasedOnSoilOrganicMatter.HasValue ? (Model.IsBasedOnSoilOrganicMatter == true ? Resource.lblEstimateBasedOnSoilOrganicMatterContent : Resource.lblEnterAValueForMineralisation) : Resource.lblNotSet)
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                        <govuk-summary-list-row-action asp-action="IsBasedOnSoilOrganicMatter" asp-controller="SnsAnalysis">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblHowWouldYouLikeToCalculateTheSoilNitrogenMineralisation, Model.FieldName)</span></govuk-summary-list-row-action>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>
                                if (Model.IsBasedOnSoilOrganicMatter == true)
                                {
                                    <govuk-summary-list-row class=@((!Model.SoilOrganicMatter.HasValue)?"govuk-error-message":"")>
                                        <govuk-summary-list-row-key>
                                            @Resource.lblWhatIsThePercentageOfOrganicMatter
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @(Model.SoilOrganicMatter.HasValue ? string.Concat(Model.SoilOrganicMatter % 1 == 0
                                                                        ? ((int)Model.SoilOrganicMatter).ToString()
                                                                        : Model.SoilOrganicMatter.ToString(), Resource.lblPercentage) : Resource.lblNotSet)
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="SoilOrganicMatter" asp-controller="SnsAnalysis">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblWhatIsThePercentageOfOrganicMatter</span></govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                                        }
                                else
                                {
                                    <govuk-summary-list-row class=@((!Model.AdjustmentValue.HasValue)?"govuk-error-message":"")>
                                        <govuk-summary-list-row-key>
                                            @Resource.lblWhatIsTheAdjustmentValuePerHectare
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @(Model.AdjustmentValue.HasValue ? string.Concat(Model.AdjustmentValue % 1 == 0
                                                                        ? ((int)Model.AdjustmentValue).ToString()
                                                                        : Model.AdjustmentValue.ToString(), Resource.lblKgPerHectare) : Resource.lblNotSet)
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action asp-action="AdjustmentValue" asp-controller="SnsAnalysis">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblWhatIsTheAdjustmentValuePerHectare</span></govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                                        }
                            }

                        }
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @string.Format(Resource.lblSoilNitrogenSupplyIndex, Model.FieldName)
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @string.Format(Resource.lblSnsDetail, Model.SnsIndex, string.Format("{0:N0}", Model.SnsValue))
                            </govuk-summary-list-row-value>

                        </govuk-summary-list-row>
                    }



                </govuk-summary-list>
            </div>

            <govuk-button type="submit" class="margin-bottom-forty" prevent-double-click="true">
                @Resource.lblAddTheseAnalysisResults
            </govuk-button>
            <p class="govuk-body cancel-link">
                @* @if (!Model.IsCheckAnswer)
                { *@
                <a class="govuk-link" asp-action="Cancel" asp-controller="SnsAnalysis">@Resource.lblCancel</a>
                @*  }
                else
                {
                    <a class="govuk-link" asp-action="CheckAnswer" asp-controller="SnsAnalysis">@Resource.lblCancel</a>
                } *@
            </p>
        </div>
    </div>
</form>