@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.SnsAnalysisViewModel
@{
    ViewData["Title"] = $"{Resource.lblWhatIsTheGreenAreaIndexGAI} {Resource.lblHyphen} {Resource.AddASoilMineralNitrogenAnalysisResult}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.SnsAnalysisWizardSteps.GreenAreaIndex;
}

@section BeforeContent {
    <govuk-back-link asp-action="@(Model.IsCheckAnswer ? "CheckAnswer" :"GreenAreaIndexOrCropHeightQuestion")" asp-controller="SnsAnalysis">@Resource.lblBack</govuk-back-link>
}
<form asp-action="GreenAreaIndex" asp-controller="SnsAnalysis" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/SnsAnalysis/_SnsAnalysisWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (TempData["Error"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["Error"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
            <h1 class="govuk-heading-l">@Resource.lblWhatIsTheGreenAreaIndexGAI</h1>

            <govuk-input asp-for="@Model.GreenAreaIndex" input-class="govuk-input--width-5" inputmode="numeric" spellcheck="false">
                <govuk-input-label is-page-heading="false"></govuk-input-label>
            </govuk-input>
            
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a class="govuk-link" asp-action="SnsAnalysisCancel" asp-controller="SnsAnalysis" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedFieldId" asp-route-s="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a class="govuk-link" asp-action="CheckAnswer" asp-controller="SnsAnalysis">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>