@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.SnsAnalysisViewModel
@{
    ViewData["Title"] = $"{Resource.lblDoYouWantToEnterGAIOrCropHeight} {Resource.lblHyphen} {Resource.AddASoilMineralNitrogenAnalysisResult}";
    var greenAreaIndex = (int)NMP.Commons.Enums.GreenAreaIndexOrCropHeight.GAI;
    var cropHeight = (int)NMP.Commons.Enums.GreenAreaIndexOrCropHeight.CropHeight;
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.SnsAnalysisWizardSteps.GreenAreaIndexOrCropHeightQuestion;
}
@section BeforeContent {
    <govuk-back-link asp-action="@(Model.IsCheckAnswer ? "CheckAnswer" :"CalculateNitrogenInCurrentCropQuestion")" asp-controller="SnsAnalysis">@Resource.lblBack</govuk-back-link>
}
<form asp-action="GreenAreaIndexOrCropHeightQuestion" asp-controller="SnsAnalysis" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/SnsAnalysis/_SnsAnalysisWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (TempData["Error"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["Error"]</govuk-error-summary-item>
                </govuk-error-summary>
            }

            <govuk-radios asp-for="@Model.GreenAreaIndexOrCropHeight">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Resource.lblDoYouWantToEnterGAIOrCropHeight
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@greenAreaIndex">@Resource.lblGreenAreaIndex</govuk-radios-item>
                    <govuk-radios-item value="@cropHeight">@Resource.lblCropHeight</govuk-radios-item>

                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a class="govuk-link" asp-action="SnsAnalysisCancel" asp-controller="SnsAnalysis" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedFieldId" asp-route-s="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a class="govuk-link" asp-action="CheckAnswer" asp-controller="SnsAnalysis">@Resource.lblCancel</a>
                }
            </p>
        </div>

    </div>
</form>