@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.SnsAnalysisViewModel
@{
    ViewData["Title"] = $"{Resource.lblEnterTheNumberOfShootsPerSquareMetre} {Resource.lblHyphen} {Resource.AddASoilMineralNitrogenAnalysisResult}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.SnsAnalysisWizardSteps.NumberOfShoots;
}

@section BeforeContent {
    <govuk-back-link asp-action="@(Model.IsCheckAnswer ? "CheckAnswer" :"CalculateNitrogenInCurrentCropQuestion")" asp-controller="SnsAnalysis">@Resource.lblBack</govuk-back-link>
}
<form asp-action="NumberOfShoots" asp-controller="SnsAnalysis" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/SnsAnalysis/_SnsAnalysisWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (TempData["Error"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["Error"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
            <h1 class="govuk-heading-l">@Resource.lblEnterTheNumberOfShootsPerSquareMetre</h1>

            <govuk-input asp-for="@Model.NumberOfShoots" input-class="govuk-input--width-5" inputmode="numeric" spellcheck="false"></govuk-input>

            <govuk-radios asp-for="@Model.SeasonId">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend>
                        @Resource.lblWhenWasThisMeasured
                    </govuk-radios-fieldset-legend>
                    @if (ViewBag.SeasonList != null)
                    {
                        @foreach (var item in ViewBag.SeasonList)
                        {
                            <govuk-radios-item value="@item.SeasonId">@item.Season</govuk-radios-item>
                        }
                    }

                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a class="govuk-link" asp-action="SnsAnalysisCancel" asp-controller="SnsAnalysis" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedFieldId" asp-route-s="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a class="govuk-link" asp-action="CheckAnswer" asp-controller="SnsAnalysis">@Resource.lblCancel</a>
                }
            </p>
        </div>

    </div>
</form>