@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.SnsAnalysisViewModel
@{
    ViewData["Title"] = $"{string.Format(Resource.lblSoilNitrogenSupplyIndex, Model.FieldName)} {Resource.lblHyphen} {Resource.AddASoilMineralNitrogenAnalysisResult}";
    var actionMethod = "";
    if (Model.IsCheckAnswer)
    {
        actionMethod = "CheckAnswer";
    }
    else if (Model.IsEstimateOfNitrogenMineralisation != null && Model.IsEstimateOfNitrogenMineralisation == false)
    {
        actionMethod = "EstimateOfNitrogenMineralisationQuestion";
    }
    else if (Model.IsBasedOnSoilOrganicMatter != null && Model.IsBasedOnSoilOrganicMatter.Value)
    {
        actionMethod = "SoilOrganicMatter";
    }
    else if (Model.IsBasedOnSoilOrganicMatter != null && (!Model.IsBasedOnSoilOrganicMatter.Value))
    {
        actionMethod = "AdjustmentValue";
    }
    else if (Model.SnsCategoryId != null && Model.SnsCategoryId==(int)NMP.Commons.Enums.SNSCategories.Vegetables)
    {
        actionMethod = "SampleDepth";
    }

    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
}
@section BeforeContent {
    <govuk-back-link asp-action="@actionMethod" asp-controller="SnsAnalysis">@Resource.lblBack</govuk-back-link>
}
<form asp-action="SoilNitrogenSupplyIndex" asp-controller="SnsAnalysis" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <div hidden="true">
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCalculateNitrogen" value="@Model.IsCalculateNitrogen"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumberOfShoots"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SeasonId" value="@Model.SeasonId"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GreenAreaIndexOrCropHeight" value="@Model.GreenAreaIndexOrCropHeight"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogenAt030CM"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogenAt3060CM"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogenAt6090CM"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SampleDepth"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogen"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropHeight"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GreenAreaIndex"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsBasedOnSoilOrganicMatter" value="@Model.IsBasedOnSoilOrganicMatter.ToString().ToLower()"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsEstimateOfNitrogenMineralisation" value="@Model.IsEstimateOfNitrogenMineralisation"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AdjustmentValue"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilOrganicMatter"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCalculateNitrogenNo" value="@Model.IsCalculateNitrogenNo"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsNumberOfShoots" value="@Model.IsNumberOfShoots"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCropHeight" value="@Model.IsCropHeight"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsGreenAreaIndex" value="@Model.IsGreenAreaIndex"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SnsCategoryId"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RecentSoilAnalysisQuestion" value="@Model.RecentSoilAnalysisQuestion.ToString().ToLower()"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SnsIndex"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SnsValue"/>

    <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SampleDate"></govuk-date-input>
    
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldId"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedCropId"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldName"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeId"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropId"/>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName"/>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (TempData["Error"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["Error"]</govuk-error-summary-item>
                </govuk-error-summary>
            }

            <h1 class="govuk-heading-l">@string.Format(Resource.lblSoilNitrogenSupplyIndex, Model.FieldName)</h1>
            @* <p class="govuk-body">@Resource.lblIfYouThinkThisIsWrongYouCanChangeItNowOrLater</p> *@
            <h3 class="govuk-heading-s">@Resource.lblSnsIndex</h3>
            @if (Model.SnsIndex != null)
            {
                <p class="govuk-body">
    @string.Format(Resource.lblSnsDetail, Model.SnsIndex, string.Format("{0:N0}",Model.SnsValue))</p>
            }

            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            @* <p class="govuk-body cancel-link"><a asp-action="SnsAnalysisCancel" asp-controller="SnsAnalysis" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedFieldId" asp-route-s="@Model.EncryptedHarvestYear">@Resource.lblCancel</a></p> *@
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a class="govuk-link" asp-action="SnsAnalysisCancel" asp-controller="SnsAnalysis" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedFieldId" asp-route-s="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a class="govuk-link" asp-action="CheckAnswer" asp-controller="SnsAnalysis">@Resource.lblCancel</a>
                }
            </p>
        </div>

    </div>
</form>