@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.SnsAnalysisViewModel
@{
    ViewData["Title"] = $"{string.Format(Resource.lblSoilNitrogenSupplyIndex, Model.FieldName)} {Resource.lblHyphen} {Resource.AddASoilMineralNitrogenAnalysisResult}";
    var actionMethod = "";
    if (Model.IsCheckAnswer)
    {
        actionMethod = "CheckAnswer";
    }
    else if (Model.IsEstimateOfNitrogenMineralisation != null && Model.IsEstimateOfNitrogenMineralisation == false)
    {
        actionMethod = "EstimateOfNitrogenMineralisationQuestion";
    }
    else if (Model.IsBasedOnSoilOrganicMatter != null && Model.IsBasedOnSoilOrganicMatter.Value)
    {
        actionMethod = "SoilOrganicMatter";
    }
    else if (Model.IsBasedOnSoilOrganicMatter != null && (!Model.IsBasedOnSoilOrganicMatter.Value))
    {
        actionMethod = "AdjustmentValue";
    }
    else if (Model.SnsCategoryId != null && Model.SnsCategoryId == (int)NMP.Commons.Enums.SnsCategories.Vegetables || Model.FarmRB209CountryId == (int)NMP.Commons.Enums.RB209Country.Scotland)
    {
        actionMethod = "SampleDepth";
    }

    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.SnsAnalysisWizardSteps.SoilNitrogenSupplyIndex;
}
@section BeforeContent {
    <govuk-back-link asp-action="@actionMethod" asp-controller="SnsAnalysis">@Resource.lblBack</govuk-back-link>
}
<form asp-action="SoilNitrogenSupplyIndex" asp-controller="SnsAnalysis" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/SnsAnalysis/_SnsAnalysisWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (TempData["Error"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["Error"]</govuk-error-summary-item>
                </govuk-error-summary>
            }

            <h1 class="govuk-heading-l">@string.Format(Resource.lblSoilNitrogenSupplyIndex, Model.FieldName)</h1>

            <h3 class="govuk-heading-s">@Resource.lblSnsIndex</h3>
            @if (Model.SnsIndex > -1 && Model.FarmRB209CountryId != (int)NMP.Commons.Enums.RB209Country.Scotland)
            {
                <p class="govuk-body">
                    @string.Format(Resource.lblSnsDetail, Model.SnsIndex, string.Format("{0:N0}", Model.SnsValue))
                </p>
            }
            else
            {
                <p class="govuk-body">
                    @string.Format("{0} ({1})", Model.SnsIndex, Model.NitrogenResidueGroup)
                </p>
            }

            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>

            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a class="govuk-link" asp-action="SnsAnalysisCancel" asp-controller="SnsAnalysis" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedFieldId" asp-route-s="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a class="govuk-link" asp-action="CheckAnswer" asp-controller="SnsAnalysis">@Resource.lblCancel</a>
                }
            </p>
        </div>

    </div>
</form>