@using NMP.Portal.Resources
@using NMP.Portal.ViewModels
@model SnsAnalysisViewModel

@{
    ViewData["Title"] = $"{string.Format(Resource.lblEnterTheSoilMineralNitrogenAnalysisResult, Model.FieldName)} {Resource.lblHyphen} {Resource.AddASoilMineralNitrogenAnalysisResult}";
    var backAction = Model.IsCheckAnswer ? "CheckAnswer" : "SoilSampleDate";
}

@section BeforeContent {
    <govuk-back-link asp-action=@backAction asp-controller="SnsAnalysis">@Resource.lblBack</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (TempData["SoilMineralNitrogenAnalysisResultsError"] != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item href="#passport-issued-day">@TempData["SoilMineralNitrogenAnalysisResultsError"]</govuk-error-summary-item>
            </govuk-error-summary>
        }
        <form asp-action="SoilMineralNitrogenAnalysisResults" method="post" asp-controller="SnsAnalysis" autocomplete="off">
            @Html.AntiForgeryToken()
            <div hidden="true">
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCalculateNitrogen" value="@Model.IsCalculateNitrogen"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumberOfShoots"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SeasonId" value="@Model.SeasonId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GreenAreaIndexOrCropHeight" value="@Model.GreenAreaIndexOrCropHeight"/>
            @* <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogenAt030CM"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogenAt3060CM"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogenAt6090CM"/> *@
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SampleDepth"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogen"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropHeight"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GreenAreaIndex"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsBasedOnSoilOrganicMatter" value="@Model.IsBasedOnSoilOrganicMatter.ToString().ToLower()"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsEstimateOfNitrogenMineralisation" value="@Model.IsEstimateOfNitrogenMineralisation"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AdjustmentValue"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilOrganicMatter"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCalculateNitrogenNo" value="@Model.IsCalculateNitrogenNo"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsNumberOfShoots" value="@Model.IsNumberOfShoots"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCropHeight" value="@Model.IsCropHeight"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsGreenAreaIndex" value="@Model.IsGreenAreaIndex"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SnsCategoryId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RecentSoilAnalysisQuestion" value="@Model.RecentSoilAnalysisQuestion.ToString().ToLower()"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SnsIndex"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SnsValue"/>

            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SampleDate"></govuk-date-input>

            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedCropId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName"/>
            </div>
            <legand class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">@string.Format(Resource.lblEnterTheSoilMineralNitrogenAnalysisResult, Model.FieldName)</h1>
            </legand>
            <govuk-input name="SoilMineralNitrogenAt030CM" asp-for=@Model.SoilMineralNitrogenAt030CM inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                <govuk-input-label is-page-heading="true">@Resource.lblKilogramsOfSoilMineralNitrogenAt030CM
                    <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblKgPerHectare)</span>
                </govuk-input-label>
                <govuk-input-suffix>@Resource.lblKgPerHectare</govuk-input-suffix>
            </govuk-input>
            <govuk-input name="SoilMineralNitrogenAt3060CM" asp-for=@Model.SoilMineralNitrogenAt3060CM inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                <govuk-input-label is-page-heading="true">@Resource.lblKilogramsOfSoilMineralNitrogenAt3060CM
                    <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblKgPerHectare)</span>
                </govuk-input-label>
                <govuk-input-suffix>@Resource.lblKgPerHectare</govuk-input-suffix>
            </govuk-input>
            <govuk-input name="SoilMineralNitrogenAt6090CM" asp-for=@Model.SoilMineralNitrogenAt6090CM inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                <govuk-input-label is-page-heading="true">@Resource.lblKilogramsOfSoilMineralNitrogenAt6090CMOptional
                    <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblKgPerHectare)</span>
                </govuk-input-label>
                <govuk-input-suffix>@Resource.lblKgPerHectare</govuk-input-suffix>
            </govuk-input>
            <govuk-button type="submit" data-prevent-double-click="true" class="govuk-button margin-bottom-forty margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
        </form>
        <p class="govuk-body cancel-link">
            @if (!Model.IsCheckAnswer)
            {
                <a class="govuk-link" asp-action="SnsAnalysisCancel" asp-controller="SnsAnalysis" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedFieldId" asp-route-s="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
            }
            else
            {
                <a class="govuk-link" asp-action="CheckAnswer" asp-controller="SnsAnalysis">@Resource.lblCancel</a>
            }
        </p>
        @* <p class="govuk-body cancel-link"><a asp-action="SnsAnalysisCancel" asp-controller="SnsAnalysis" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedFieldId" asp-route-s="@Model.EncryptedHarvestYear">@Resource.lblCancel</a></p> *@
    </div>
</div>