@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.SnsAnalysisViewModel
@{
    ViewData["Title"] = $"{string.Format(Resource.lblWhenWasTheSampleForSoilMineralNitrogenTaken, Model.FieldName)} {Resource.lblHyphen} {Resource.AddASoilMineralNitrogenAnalysisResult}";
    var yes = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.False);
    // var backAction = Model.IsSoilReleasingClay == true ? "SoilReleasingClay" :
    //                 "SulphurDeficient";
    var action = "";
    var controller = "";
    if (Model.IsCheckAnswer)
    {
        action = "CheckAnswer";
        controller = "SnsAnalysis";
    }
    else
    {
        action = "Recommendations";
        controller = "Crop";
    }

}

@section BeforeContent {
    <govuk-back-link asp-action="@action" asp-controller=@controller asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedFieldId" asp-route-s="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
}
<form asp-action="SoilSampleDate" asp-controller="SnsAnalysis" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <div hidden="true">
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCalculateNitrogen" value="@Model.IsCalculateNitrogen"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumberOfShoots"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SeasonId" value="@Model.SeasonId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GreenAreaIndexOrCropHeight" value="@Model.GreenAreaIndexOrCropHeight"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogenAt030CM"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogenAt3060CM"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogenAt6090CM"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SampleDepth"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilMineralNitrogen"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropHeight"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GreenAreaIndex"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsBasedOnSoilOrganicMatter" value="@Model.IsBasedOnSoilOrganicMatter.ToString().ToLower()"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsEstimateOfNitrogenMineralisation" value="@Model.IsEstimateOfNitrogenMineralisation"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AdjustmentValue"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilOrganicMatter"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCalculateNitrogenNo" value="@Model.IsCalculateNitrogenNo"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsNumberOfShoots" value="@Model.IsNumberOfShoots"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCropHeight" value="@Model.IsCropHeight"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsGreenAreaIndex" value="@Model.IsGreenAreaIndex"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SnsCategoryId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.RecentSoilAnalysisQuestion" value="@Model.RecentSoilAnalysisQuestion.ToString().ToLower()"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SnsIndex"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SnsValue"/>

        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedCropId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldName"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropId"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName"/>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (TempData["Error"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["Error"]</govuk-error-summary-item>
                </govuk-error-summary>
            }

            <govuk-date-input asp-for="@Model.SampleDate">
                <govuk-date-input-fieldset>
                    <govuk-date-input-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblWhenWasTheSampleForSoilMineralNitrogenTaken, Model.FieldName)
                    </govuk-date-input-fieldset-legend>
                    <govuk-date-input-hint>
                        @Resource.MsgDateExample
                    </govuk-date-input-hint>
                    <govuk-date-input-day maxlength="2" pattern="[0-9]*"></govuk-date-input-day>
                    <govuk-date-input-month maxlength="2" pattern="[0-9]*"></govuk-date-input-month>
                    <govuk-date-input-year maxlength="4" pattern="[0-9]*"></govuk-date-input-year>
                </govuk-date-input-fieldset>

            </govuk-date-input>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            @* <p class="govuk-body cancel-link"><a asp-action="SnsAnalysisCancel" asp-controller="SnsAnalysis" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedFieldId" asp-route-s="@Model.EncryptedHarvestYear">@Resource.lblCancel</a></p> *@
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a class="govuk-link" asp-action="SnsAnalysisCancel" asp-controller="SnsAnalysis" asp-route-q="@Model.EncryptedFarmId" asp-route-r="@Model.EncryptedFieldId" asp-route-s="@Model.EncryptedHarvestYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a class="govuk-link" asp-action="CheckAnswer" asp-controller="SnsAnalysis">@Resource.lblCancel</a>
                }
            </p>
        </div>

    </div>
</form>