@using NMP.Portal.Resources;
@model NMP.Portal.ViewModels.CancelViewModel

@{
    var yes = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.False);
}

@if (TempData["CancelPageError"] != null)
{
    <govuk-error-summary>
        <govuk-error-summary-item href="#">@TempData["CancelPageError"]</govuk-error-summary-item>
    </govuk-error-summary>
}


<h1 class="govuk-heading-l">
    @Resource.lblAreYouSureYouWantToCancel
</h1>

<govuk-radios class="govuk-radios--inline" asp-for="@Model.IsCancel">
    <govuk-radios-fieldset>
        <govuk-radios-fieldset-legend is-page-heading="false">
            @Model.LableContent
        </govuk-radios-fieldset-legend>
        <govuk-radios-item value="@yes">@Resource.lblYes</govuk-radios-item>
        <govuk-radios-item value="@no">@Resource.lblNo</govuk-radios-item>
    </govuk-radios-fieldset>
</govuk-radios>



