@using NMP.Portal.Resources
@inject IHttpContextAccessor httpContextAccessor
@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    var currentArea = ViewContext.RouteData.Values["area"]?.ToString();
}


@if (User.Identity?.IsAuthenticated == true)
{
    var firstName = User.Claims.FirstOrDefault(c => c.Type == "firstName")?.Value;
    var lastName = User.Claims.FirstOrDefault(c => c.Type == "lastName")?.Value;
    var currentFarmName = httpContextAccessor?.HttpContext?.Session.GetString("current_farm_name"); //User.Claims.FirstOrDefault(c => c.Type == "current_farm_name")?.Value;
    var currentFarmId = httpContextAccessor?.HttpContext?.Session.GetString("current_farm_id"); //User.Claims.FirstOrDefault(c => c.Type == "current_farm_id")?.Value;
    var name = $"{firstName} {lastName}";
    int enrolmentCount = Convert.ToInt32(User.Claims.FirstOrDefault(c => c.Type == "enrolmentCount")?.Value);
    bool isAllFarm = (string.Equals(currentController, "Farm", StringComparison.OrdinalIgnoreCase) && string.Equals(currentAction, "FarmList", StringComparison.OrdinalIgnoreCase));
    bool isHome = string.Equals(currentController, "Home", StringComparison.OrdinalIgnoreCase);
    bool isAbout = string.Equals(currentController, "AboutService", StringComparison.OrdinalIgnoreCase);
    bool isAcceptTerms = string.Equals(currentController, "AcceptTerms", StringComparison.OrdinalIgnoreCase);
    bool isAccessibilityStatement = string.Equals(currentController, "AccessibilityStatement", StringComparison.OrdinalIgnoreCase);
    bool isAccount = string.Equals(currentController, "Account", StringComparison.OrdinalIgnoreCase);
    bool isError = string.Equals(currentController, "Error", StringComparison.OrdinalIgnoreCase);
    bool isHelpFeedback = string.Equals(currentController, "HelpAndFeedback", StringComparison.OrdinalIgnoreCase);
    bool isReleaseschedule = string.Equals(currentController, "ReleaseSchedule", StringComparison.OrdinalIgnoreCase);
    bool isFarmContext = !isAllFarm && !(
        isHome ||
        isAbout ||
        isAcceptTerms ||
        isAccessibilityStatement ||
        isAccount ||
        isError ||
        isHelpFeedback ||
        isReleaseschedule
        );
    string allFarmsActiveClass = isAllFarm ? "govuk-service-navigation__item--active" : "";
    string currentFarmActiveClass = (!isAllFarm) ? "govuk-service-navigation__item--active" : "";
    <section aria-label="Service information" class="govuk-service-navigation noprint" data-module="govuk-service-navigation" data-govuk-service-navigation-init="">
        <div class="govuk-width-container">
            <div class="govuk-service-navigation__container">
                <span class="govuk-service-navigation__service-name">
                    <a asp-action="Index" asp-controller="Home" class="govuk-service-navigation__link">
                        @Resource.lblPlanAndRecordNutrientApplications
                    </a>
                </span>
                <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                    <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden="">
                        @Resource.lblMenu
                    </button>
                    <ul class="govuk-service-navigation__list nav_left" id="navigation">
                        <li class="govuk-service-navigation__item @allFarmsActiveClass">
                            <a class="govuk-service-navigation__link" asp-action="FarmList" asp-controller="Farm" aria-current="@isAllFarm">
                                <strong class="govuk-service-navigation__active-fallback">@Resource.lblAllFarm</strong>
                            </a>
                        </li>
                        @if (isFarmContext && !string.IsNullOrWhiteSpace(currentFarmName) && !string.IsNullOrWhiteSpace(currentFarmId))
                        {
                            <li class="govuk-service-navigation__item @currentFarmActiveClass">
                                <a class="govuk-service-navigation__link" asp-action="FarmSummary" asp-controller="Farm" asp-route-id="@currentFarmId" aria-current="@isFarmContext">
                                    <strong class="govuk-service-navigation__active-fallback">@currentFarmName</strong>
                                </a>
                            </li>
                        }
                    </ul>
                    <ul class="govuk-service-navigation__list nav_right" id="navigation">
                        <li class="govuk-service-navigation__item ">
                            @if (enrolmentCount > 1)
                            {
                                var organisationName = User.Claims.FirstOrDefault(c => c.Type == "organisationName")?.Value;
                                @if (organisationName?.Length > 20)
                                {
                                    <div>@organisationName | <a class="govuk-service-navigation__link" asp-controller="Account" asp-action="ChangeOrganisation">@Resource.lblChange</a>  </div>

                                }
                                else
                                {
                                    <span>
                                        @organisationName | <a class="govuk-service-navigation__link" asp-controller="Account" asp-action="ChangeOrganisation">@Resource.lblChange</a>
                                        |
                                    </span>
                                }
                            }
                            <span> @name | <a class="govuk-service-navigation__link" asp-controller="Account" asp-action="logout">@Resource.lblSignout</a></span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
}