@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.Extensions.Options
@using NMP.Portal.Resources
@inject IOptions<SessionOptions> SessionOptions
@{
    // Read IdleTimeout from session configuration
    var timeoutMinutes = SessionOptions.Value.IdleTimeout.TotalMinutes;
    var warningMinutes = 3; // warn 5 min before expiry
    var warningSeconds = $"{warningMinutes} minutes";
}

<!-- Desktop modal -->
<div class="govuk-!-display-none" id="session-timeout-dialog" role="dialog"
     aria-labelledby="session-timeout-title"
     aria-describedby="session-timeout-message"
     aria-modal="true">
     <govuk-notification-banner type="NotificationBannerType.Default">            
        <govuk-notification-banner-title heading-level="2" id="banner-title">
            @Resource.lblSessionTimeoutBoxHeading
        </govuk-notification-banner-title>
        <div class="govuk-notification-banner__heading">
            @Resource.lblSessionTimeoutBoxContent<br />
            <span id="countdown">@warningSeconds</span>
        </div>        
        <p>
            <govuk-button type="button" data-prevent-double-click="true" class="govuk-button margin-bottom-forty" id="stay-signed-in">@Resource.lblStaySignedIn</govuk-button>
        </p>        
        <p class="govuk-body cancel-link">
            @Resource.lblYouCanAlso <a class="govuk-link" id="sign-out" asp-action="Logout" asp-controller="Account">@Resource.lblSignoutnow</a>.                       
        </p>
     </govuk-notification-banner>
</div>

<!-- Mobile banner -->
@* <div class="govuk-!-display-none" id="session-timeout-banner">
    <div class="govuk-notification-banner govuk-notification-banner--warning session-timeout-banner" aria-labelledby="session-timeout-banner-title" role="alert">
        <div class="govuk-notification-banner__content">
            <h2 class="govuk-notification-banner__title" id="session-timeout-banner-title">
                @Resource.lblSessionTimeoutBoxHeading
            </h2>
            <div class="govuk-notification-banner__heading">
                @Resource.lblSessionTimeoutBoxContent
                <br /><span id="countdown-banner">@warningSeconds</span>
            </div>
            <button type="button" class="govuk-button govuk-!-margin-top-2"
                    id="stay-signed-in-banner">
                @Resource.lblStaySignedIn
            </button>
        </div>
    </div>
</div> *@

<script type="text/javascript" asp-add-nonce="true" asp-append-version="true">
    window.sessionConfig = {
        timeoutMinutes: @timeoutMinutes,
        warningMinutes: @warningMinutes,
        logoutUrl: '/Account/Logout',
        keepAliveUrl: '/Session/KeepAlive'
    };
</script>
<script type="text/javascript" src="~/assets/javascripts/session-timeout.js" asp-add-nonce="true" asp-append-version="true"></script>