@using NMP.Commons.Enums
@using NMP.Commons.ViewModels;
@using NMP.Commons.Resources;
@model NMP.Commons.ViewModels.ReportViewModel
@{
    var currentStep = ViewBag.CurrentStep as int?;
}
<div hidden="hidden">
    @if (currentStep != (int)ReportWizardSteps.ReportOption)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportOption" />
    }
    @if (currentStep != (int)ReportWizardSteps.NVZComplianceReports)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZReportOption" />
    }
    @if (currentStep != (int)ReportWizardSteps.Year)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportTypeName" />
    }
    @if (currentStep != (int)ReportWizardSteps.FieldAndPlanReports)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldAndPlanReportOption" />
    }
    @if (currentStep != (int)ReportWizardSteps.ExportFieldsOrCropType)
    {
        @if (Model.FieldList != null && Model.FieldList.Count > 0)
        {
            @for (int i = 0; i < Model.FieldList.Count; i++)
            {
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]" />
            }
        }
        @if (Model.CropTypeList != null && Model.CropTypeList.Count > 0)
        {
            @for (int i = 0; i < Model.CropTypeList.Count; i++)
            {
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeList[i]" value="@Model.CropTypeList[i]" />
            }
        }
    }

    @if (currentStep != (int)ReportWizardSteps.FarmAverageYieldAdjustment)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsFarmAverageYieldAdjustment" />
    }
    @* @if (currentStep != (int)ReportWizardSteps.FarmAverageYieldValues)
    {*@
        @if (Model!=null&&Model.FarmAverageYields != null && Model.FarmAverageYields.Count > 0)
        { 
            @for (int i = 0; i < Model.FarmAverageYields.Count; i++)
            {
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmAverageYields[i].CropTypeID" value="@Model.FarmAverageYields[i].CropTypeID" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmAverageYields[i].CropGroupName" value="@Model.FarmAverageYields[i].CropGroupName" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmAverageYields[i].FarmID" value="@Model.FarmAverageYields[i].FarmID" />
                <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmAverageYields[i].HarvestYear" value="@Model.FarmAverageYields[i].HarvestYear" />
                
            }
        }
    @*  } *@

    @if (currentStep != (int)ReportWizardSteps.FarmAreaForLivestockManure)
    {

        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalFarmArea" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalAreaInNVZ" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassPercentage" />
    }


    @if (currentStep != (int)ReportWizardSteps.LivestockType)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockTypeId" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockTypeName" />
    }


    @if (currentStep != (int)ReportWizardSteps.AverageNumber)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AverageNumber" />
    }

    @if (currentStep != (int)ReportWizardSteps.DeleteNLLivestock)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsDeleteNLLivestock" />
    }

    @if (currentStep != (int)ReportWizardSteps.DeleteLivestockImportExport)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsDeleteLivestockImportExport" />
    }

    @if (currentStep != (int)ReportWizardSteps.IsAnyLivestockNumber)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyLivestockNumber" />
    }

    @if (currentStep != (int)ReportWizardSteps.IsGrasslandDerogation)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsGrasslandDerogation" />
    }
    @if (currentStep != (int)ReportWizardSteps.LivestockComment)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Comment" />
    }

    @if (currentStep != (int)ReportWizardSteps.LivestockDefaultNutrientValue)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefaultNutrientValue" />
    }
    @if (currentStep != (int)ReportWizardSteps.LivestockGroup)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockGroupId" />
    }
    @if (currentStep != (int)ReportWizardSteps.LivestockNumberQuestion)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockNumberQuestion" />
    }
    @if (currentStep != (int)ReportWizardSteps.LivestockNumbersMonthly)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInJanuary" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInFebruary" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInMarch" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInApril" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInMay" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInJune" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInJuly" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInAugust" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInSeptember" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInOctober" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInNovember" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInDecember" />
    }

    @if (currentStep != (int)ReportWizardSteps.NonGrazingLivestockAverageNumber)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AverageNumberOfPlaces" />
    }
    @if (currentStep != (int)ReportWizardSteps.NitrogenStandard)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NitrogenStandard" />
    }
    @if (currentStep != (int)ReportWizardSteps.Occupancy)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AverageOccupancy" />
    }
    @if (currentStep != (int)ReportWizardSteps.OccupancyAndStandard)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OccupancyAndNitrogenOptions" />
    }
    @if (currentStep != (int)ReportWizardSteps.ImportExportOption)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ImportExport" />
    }
    @if (currentStep != (int)ReportWizardSteps.IsAnyLivestockImportExport)
    {

        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyLivestockImportExport" value="@Model.IsAnyLivestockImportExport" />
    }
    @if (currentStep != (int)ReportWizardSteps.LivestockImportExportDate)
    {
        <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockImportExportDate"></govuk-date-input>
    }
    @if (currentStep != (int)ReportWizardSteps.LivestockManualNutrientValue)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.N" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NH4N" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DryMatterPercent" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NO3N" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UricAcid" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.P2O5" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.K2O" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MgO" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SO3" />
    }

    @if (currentStep != (int)ReportWizardSteps.LivestockQuantity)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockQuantity" />
    }
    
    @if (currentStep != (int)ReportWizardSteps.LivestockReceiver)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReceiverName" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address1" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address2" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address3" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address4" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Postcode" />
    }
    
    @if (currentStep != (int)ReportWizardSteps.ManureGroup)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupId" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupIdForFilter" />
    }

    @if (currentStep != (int)ReportWizardSteps.ManureType)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureTypeId" />
    }
    @if (currentStep != (int)ReportWizardSteps.OtherMaterialName)
    {
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OtherMaterialName" />
    }
    
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmRB209CountryID" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Country" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockNumbers" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ImportsExportsOfLivestockManure" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckList" value="@Model.IsCheckList" />
    <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ManureTypeName" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.DryMatter" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.TotalN" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.NH4N" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.NO3N" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.Uric" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.P2O5" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.K2O" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.MgO" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.SO3" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromImportExportOverviewPage" />
    <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupName" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManureTypeLiquid" />
    <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefaultFarmManureValueDate" value="@Model.DefaultFarmManureValueDate"></govuk-date-input>
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsThisDefaultValueOfRB209" value="@Model.IsThisDefaultValueOfRB209" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyNeedToStoreNutrientValueForFuture" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsDefaultValueChange" value="@Model.IsDefaultValueChange" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManageImportExport" value="@Model.IsManageImportExport" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromPlan" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromSuccessMsg" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockGroupName" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockTypeName" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsLivestockCheckAnswer" value="@Model.IsLivestockCheckAnswer.ToString().ToLower()" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PhosphateStandard" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManageLivestock" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedNLLivestockID" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedId" />
    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsLivestockGroupChange" value="@Model.IsLivestockGroupChange.ToString().ToLower()" />



</div>