@using NMP.Commons.Enums
@using NMP.Commons.Resources
@using System.Globalization
@using NMP.Commons.ServiceResponses
@model NMP.Commons.ViewModels.ReportViewModel
@{
    ViewData["Title"] = string.Format(Resource.ReportTitle, Resource.lblCropAndFieldManagementReportName, Model.FarmName, Model.Year);

    int totalCount = ViewBag.TotalCount;
    int managementTableIndex = 1;
}

@section BeforeContent {
    <div class="noprint">
        <govuk-back-link asp-action="ExportFieldsOrCropType" asp-controller="Report">@Resource.lblBack</govuk-back-link>
    </div>

}
@if (TempData["ErrorOnCropReport"] != null)
{
    <govuk-error-summary>
        <govuk-error-summary-item href="#">@TempData["ErrorOnCropReport"]</govuk-error-summary-item>
    </govuk-error-summary>
}
@if (Model != null && Model.CropAndFieldReport != null)
{
    <div class="govuk-grid-row noprint">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h3 class="govuk-heading-m">@Resource.lblHowtosaveyourplanasaPDF</h3>
            <ol class="govuk-list govuk-list--number">
                <li>@Html.Raw(Resource.lblPrint1)</li>
                <li>@Html.Raw(Resource.lblPrint2)</li>
                <li>@Html.Raw(Resource.lblPrint3)</li>
            </ol>
            <govuk-button class="margin-bottom-forty" id="cropReportPrintButton" type="button">
                @Resource.lblPrintOrSaveAsAPDF
            </govuk-button>
        </div>
    </div>

    <div class="govuk-grid-row noprint">
        <div class="govuk-grid-column-full">
            <hr class="margin-bottom-forty">
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-l">@Model.FarmName</span>
            <h1 class="govuk-heading-xl margin-bottom-thirty">
                @string.Format(Resource.lblCropAndFieldManagementReport, Model.Year)
            </h1>
            <p class="govuk-body  margin-bottom-thirty">@string.Format(Resource.lblCreatedOnDate, DateTime.Now.Date.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB")))</p>
        </div>
    </div>
    <div class="govuk-grid-row margin-bottom-ten">
        <div class="govuk-grid-column-one-third">
            <p class="govuk-body">
                @Model.CropAndFieldReport.Farm.Name, <br>
                @if (!string.IsNullOrWhiteSpace(Model.CropAndFieldReport.Farm.Address1))
                {
                    @Model.CropAndFieldReport.Farm.Address1
                    <br />
                }
                @if (!string.IsNullOrWhiteSpace(Model.CropAndFieldReport.Farm.Address2))
                {
                    @Model.CropAndFieldReport.Farm.Address2
                    <br />
                }
                @if (!string.IsNullOrWhiteSpace(Model.CropAndFieldReport.Farm.Address3))
                {
                    @Model.CropAndFieldReport.Farm.Address3
                    <br />
                }
                @if (!string.IsNullOrWhiteSpace(Model.CropAndFieldReport.Farm.Address4))
                {
                    @Model.CropAndFieldReport.Farm.Address4
                    <br />
                }
                @Model.CropAndFieldReport.Farm.Postcode
            </p>
            @* <p class="govuk-body margin-bottom-none">
                
            </p> *@

            @* <h2 class="govuk-heading-l">@Resource.lblFarmInformation</h2>
            <table class="govuk-table  govuk-table-small margin-bottom-sixty">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">@Resource.lblAnnualRainfall</th>
                        <th scope="col" class="govuk-table__header">@Resource.lblTotalArea</th>
                        <th scope="col" class="govuk-table__header">@Resource.lblTotalArableArea</th>
                        <th scope="col" class="govuk-table__header">@Resource.lblTotalGrassArea</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Model.CropAndFieldReport.Farm.Rainfall</td>
                        <td class="govuk-table__cell">@Model.CropAndFieldReport.Farm.TotalFarmArea</td>
                        <td class="govuk-table__cell">@Model.CropAndFieldReport.Farm.ArableArea</td>
                        <td class="govuk-table__cell">@Model.CropAndFieldReport.Farm.GrassArea</td>
                    </tr>
                </tbody>
            </table> *@
        </div>
        <div class="govuk-grid-column-two-third">
            @*  <p class="govuk-body">
            @(string.Format("{0} : {1}", Resource.lblCPHNumber, string.IsNullOrWhiteSpace(Model.Farm.CPH) ?
                Resource.lblNotEntered : Model.Farm.CPH))
            <br />

            @(string.Format("{0} : {1}", Resource.lblSingleBusinessIdentifier, string.IsNullOrWhiteSpace(Model.Farm.SBI) ?
                Resource.lblNotEntered : Model.Farm.SBI))

            <br />
        </p> *@
        </div>
    </div>
    <div class="govuk-grid-row govuk-grid-column-full margin-bottom-ten">
        <p class="govuk-body">
            @(string.Format("{0}{1} {2}", Resource.lblAnnualRainfall, ":", string.Format(Resource.lblRainfallMM, Model.CropAndFieldReport.Farm.Rainfall)))
            <br>
            @(string.Format("{0}{1} {2}", Resource.lblExcessWinterRainfall, ":", Model.CropAndFieldReport.ExcessWinterRainfall))
        </p>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <hr class="margin-bottom-thirty">
        </div>
    </div>
    @if (Model.CropAndFieldReport.Farm.Fields != null && Model.CropAndFieldReport.Farm.Fields.Count > 0)
    {
        //var count = Model.CropAndFieldReport.Farm.Fields.Count;
        foreach (var field in Model.CropAndFieldReport.Farm.Fields)
        {

            <h2 class="govuk-heading-l  margin-bottom-thirty">@field.Name</h2>
            <div class="table-container">
                <table class="govuk-table data-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">@Resource.lblTotalFieldArea</th>
                            <th scope="col" class="govuk-table__header">@Resource.lblCropedArea</th>
                            <th scope="col" class="govuk-table__header">@Resource.lblManureNonSpreadArea</th>
                            <th scope="col" class="govuk-table__header">@Resource.lblPreviousCrop</th>
                            @if (field.PreviousCropID == (int)NMP.Commons.Enums.CropTypes.Grass)
                            {
                                <th scope="col" class="govuk-table__header">@Resource.lblManagement</th>
                            }
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@string.Format("{0:N1}", field.TotalArea)</td>
                            <td class="govuk-table__cell">@string.Format("{0:N1}", field.CroppedArea)</td>
                            <td class="govuk-table__cell">
                                @(field.ManureNonSpreadingArea != null ? string.Format("{0:N1}", field.ManureNonSpreadingArea) : Resource.lblNotEntered)
                            </td>
                            <td class="govuk-table__cell">@(string.IsNullOrWhiteSpace(field.PreviousCrop) ? Resource.lblNotEntered : field.PreviousCrop)</td>
                            @if (field.PreviousCropID == (int)NMP.Commons.Enums.CropTypes.Grass)
                            {
                                <td class="govuk-table__cell">@field.Management</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
            @if (field.Crops != null && field.Crops.Count > 0)
            {
                managementTableIndex = 1;
                @foreach (var crop in field.Crops)
                {
                    totalCount--;
                    @if (crop.CropOrder == 2)
                    {
                        <h2 class="govuk-heading-l">@field.Name</h2>
                        <div class="table-container margin-bottom-forty">
                            <table class="govuk-table data-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">@Resource.lblTotalFieldArea</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblCropedArea</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblManureNonSpreadArea</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblPreviousCrop</th>
                                        @if (field.PreviousCropID == (int)NMP.Commons.Enums.CropTypes.Grass)
                                        {
                                            <th scope="col" class="govuk-table__header">@Resource.lblManagement</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">@string.Format("{0:N1}", field.TotalArea)</td>
                                        <td class="govuk-table__cell">@string.Format("{0:N1}", field.CroppedArea)</td>
                                        <td class="govuk-table__cell">
                                            @(field.ManureNonSpreadingArea != null ? string.Format("{0:N1}", field.ManureNonSpreadingArea) : Resource.lblNotEntered)
                                        </td>
                                        <td class="govuk-table__cell">@field.PreviousCrop</td>
                                        @if (field.PreviousCropID == (int)NMP.Commons.Enums.CropTypes.Grass)
                                        {
                                            <td class="govuk-table__cell">@field.Management</td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                    @if (crop.ManagementPeriods != null && crop.ManagementPeriods.Count > 0)
                    {
                        var cropManagementPeriods = crop.ManagementPeriods.Where(mp => mp.CropID == crop.ID);
                        if (cropManagementPeriods != null)
                        {
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <h3 class="govuk-heading-m">@string.Format(Resource.lblCropTypeRecommendationForField, crop.CropTypeName, field.Name)</h3>

                                    @foreach (var mp in cropManagementPeriods)
                                    {
                                        if (mp.Recommendation != null)
                                        {
                                            @if (crop.CropTypeID == (int)NMP.Commons.Enums.CropTypes.Grass && (!string.IsNullOrWhiteSpace(mp.DefoliationSequenceName)))
                                            {
                                                <h4 class="govuk-heading-s">  @string.Format(Resource.lblRecommendationsForGrass, managementTableIndex, mp.DefoliationSequenceName)</h4>
                                            }
                                            <div class="table-container margin-bottom-ten">
                                                <table class="govuk-table data-table">
                                                    <thead class="govuk-table__head">
                                                        <tr class="govuk-table__row">
                                                            <th scope="col" class="govuk-table__header">@Resource.lblNutrient</th>
                                                            <th scope="col" class="govuk-table__header">@Resource.lblIndexPH</th>
                                                            <th id="totalCropNeed" scope="col" class="govuk-table__header">@Resource.lblTotalCropNeed</th>
                                                            <th class="govuk-table__header" scope="col">@Resource.lblPhosphateP2O5AndPotashK2OBalance</th>
                                                            <th scope="col" class="govuk-table__header">@Resource.lblSupplyFromManures</th>
                                                            <th scope="col" class="govuk-table__header">@Resource.lblFertiliserOrLimeRecommendation</th>
                                                            <th scope="col" class="govuk-table__header">@Resource.lblFertiliserOrLimeApplied</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="govuk-table__body">
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">
                                                                @Resource.lblNitrogen
                                                            </td>
                                                            <td class="govuk-table__cell">
                                                                @if (crop.CropTypeID != (int)NMP.Commons.Enums.CropTypes.Grass)
                                                                {
                                                                    @(mp.Recommendation != null && mp.Recommendation.NIndex == null ? Resource.lblHyphen : mp.Recommendation.NIndex)
                                                                }
                                                                else
                                                                {
                                                                    @string.Empty
                                                                }
                                                            </td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation != null && mp.Recommendation.CropN == null ? Resource.lblHyphen : mp.Recommendation.CropN == 0 ? mp.Recommendation.CropN : string.Format("{0:N0}{1}", mp.Recommendation.CropN, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">
                                                                @(mp.Recommendation.NBalance == null ? Resource.lblHyphen : mp.Recommendation.NBalance == 0 ? mp.Recommendation.NBalance : string.Format("{0:N0}", mp.Recommendation.NBalance))
                                                            </td>                                                            
                                                            <td class="govuk-table__cell">@(mp.Recommendation != null && mp.Recommendation.ManureN == null ? Resource.lblHyphen : mp.Recommendation.ManureN == 0 ? mp.Recommendation.ManureN : string.Format("{0:N0}{1}", mp.Recommendation.ManureN, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation != null && mp.Recommendation.FertilizerN == null ? Resource.lblHyphen : mp.Recommendation.FertilizerN < 0 ? 0 : mp.Recommendation.FertilizerN == 0 ? mp.Recommendation.FertilizerN : string.Format("{0:N0}{1}", mp.Recommendation.FertilizerN, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation != null && mp.Recommendation.FertiliserAppliedN == null ? 0 : mp.Recommendation.FertiliserAppliedN < 0 ? 0 : mp.Recommendation.FertiliserAppliedN == 0 ? mp.Recommendation.FertiliserAppliedN : string.Format("{0:N0}{1}", mp.Recommendation.FertiliserAppliedN, Resource.lblkg))</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">
                                                                @Resource.lblPhosphateP2O5
                                                            </td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation != null && mp.Recommendation.PIndex == null ? Resource.lblHyphen : mp.Recommendation.PIndex)</td>
                                                            <td class="govuk-table__cell">
                                                                @(mp.Recommendation != null && mp.Recommendation.CropP2O5 == null ? Resource.lblHyphen : mp.Recommendation.CropP2O5 == 0 ? mp.Recommendation.CropP2O5 : string.Format("{0:N0}{1}", mp.Recommendation.CropP2O5, Resource.lblkg))

                                                            </td>
                                                            <td class="govuk-table__cell">
                                                                @(mp.Recommendation.PBalance == null ? Resource.lblHyphen : mp.Recommendation.PBalance == 0 ? mp.Recommendation.PBalance : string.Format("{0:N0}", mp.Recommendation.PBalance))
                                                            </td>                                                            
                                                            <td class="govuk-table__cell">@(mp.Recommendation != null && mp.Recommendation.ManureP2O5 == null ? Resource.lblHyphen : mp.Recommendation.ManureP2O5 == 0 ? mp.Recommendation.ManureP2O5 : string.Format("{0:N0}{1}", mp.Recommendation.ManureP2O5, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation != null && mp.Recommendation.FertilizerP2O5 == null ? Resource.lblHyphen : mp.Recommendation.FertilizerP2O5 < 0 ? 0 : mp.Recommendation.FertilizerP2O5 == 0 ? mp.Recommendation.FertilizerP2O5 : string.Format("{0:N0}{1}", mp.Recommendation.FertilizerP2O5, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation != null && mp.Recommendation.FertiliserAppliedP2O5 == null ? 0 : mp.Recommendation.FertiliserAppliedP2O5 < 0 ? 0 : mp.Recommendation.FertiliserAppliedP2O5 == 0 ? mp.Recommendation.FertiliserAppliedP2O5 : string.Format("{0:N0}{1}", mp.Recommendation.FertiliserAppliedP2O5, Resource.lblkg))</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">
                                                                @Resource.lblPotashK2O
                                                            </td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation.KIndex == null ? Resource.lblHyphen : mp.Recommendation.KIndex)</td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation.CropK2O == null ? Resource.lblHyphen : mp.Recommendation.CropK2O == 0 ? mp.Recommendation.CropK2O : string.Format("{0:N0}{1}", mp.Recommendation.CropK2O, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">
                                                                @(mp.Recommendation.KBalance == null ? Resource.lblHyphen : mp.Recommendation.KBalance == 0 ? mp.Recommendation.KBalance : string.Format("{0:N0}", mp.Recommendation.KBalance))
                                                            </td>                                                            
                                                            <td class="govuk-table__cell">@(mp.Recommendation.ManureK2O == null ? Resource.lblHyphen : mp.Recommendation.ManureK2O == 0 ? mp.Recommendation.ManureK2O : string.Format("{0:N0}{1}", mp.Recommendation.ManureK2O, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation.FertilizerK2O == null ? Resource.lblHyphen : mp.Recommendation.FertilizerK2O < 0 ? 0 : mp.Recommendation.FertilizerK2O == 0 ? mp.Recommendation.FertilizerK2O : string.Format("{0:N0}{1}", mp.Recommendation.FertilizerK2O, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation.FertiliserAppliedK2O == null ? 0 : mp.Recommendation.FertiliserAppliedK2O < 0 ? 0 : mp.Recommendation.FertiliserAppliedK2O == 0 ? mp.Recommendation.FertiliserAppliedK2O : string.Format("{0:N0}{1}", mp.Recommendation.FertiliserAppliedK2O, Resource.lblkg))</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">
                                                                @Resource.lblSulphurSO3
                                                            </td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation.SIndex == null ? Resource.lblHyphen : mp.Recommendation.SIndex)</td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation.CropSO3 == null ? Resource.lblHyphen : mp.Recommendation.CropSO3 == 0 ? mp.Recommendation.CropSO3 : string.Format("{0:N0}{1}", mp.Recommendation.CropSO3, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">
                                                                @(mp.Recommendation.SBalance == null ? Resource.lblHyphen : mp.Recommendation.SBalance == 0 ? mp.Recommendation.SBalance : string.Format("{0:N0}", mp.Recommendation.SBalance))
                                                            </td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation.ManureSO3 == null ? Resource.lblHyphen : mp.Recommendation.ManureSO3 == 0 ? mp.Recommendation.ManureSO3 : string.Format("{0:N0}{1}", mp.Recommendation.ManureSO3, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation.FertilizerSO3 == null ? Resource.lblHyphen : mp.Recommendation.FertilizerSO3 < 0 ? 0 : mp.Recommendation.FertilizerSO3 == 0 ? mp.Recommendation.FertilizerSO3 : string.Format("{0:N0}{1}", mp.Recommendation.FertilizerSO3, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation.FertiliserAppliedSO3 == null ? 0 : mp.Recommendation.FertiliserAppliedSO3 < 0 ? 0 : mp.Recommendation.FertiliserAppliedSO3 == 0 ? mp.Recommendation.FertiliserAppliedSO3 : string.Format("{0:N0}{1}", mp.Recommendation.FertiliserAppliedSO3, Resource.lblkg))</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">
                                                                @Resource.lblMagnesiumMgO
                                                            </td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation.MgIndex == null ? Resource.lblHyphen : mp.Recommendation.MgIndex)</td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation.CropMgO == null ? Resource.lblHyphen : mp.Recommendation.CropMgO == 0 ? mp.Recommendation.CropMgO : string.Format("{0:N0}{1}", mp.Recommendation.CropMgO, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">
                                                                @(mp.Recommendation.MgBalance == null ? Resource.lblHyphen : mp.Recommendation.MgBalance == 0 ? mp.Recommendation.MgBalance : string.Format("{0:N0}", mp.Recommendation.MgBalance))
                                                            </td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation.ManureMgO == null ? Resource.lblHyphen : mp.Recommendation.ManureMgO == 0 ? mp.Recommendation.ManureMgO : string.Format("{0:N0}{1}", mp.Recommendation.ManureMgO, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation.FertilizerMgO == null ? Resource.lblHyphen : mp.Recommendation.FertilizerMgO < 0 ? 0 : mp.Recommendation.FertilizerMgO == 0 ? mp.Recommendation.FertilizerMgO : string.Format("{0:N0}{1}", mp.Recommendation.FertilizerMgO, Resource.lblkg))</td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation.FertiliserAppliedMgO == null ? 0 : mp.Recommendation.FertiliserAppliedMgO < 0 ? 0 : mp.Recommendation.FertiliserAppliedMgO == 0 ? mp.Recommendation.FertiliserAppliedMgO : string.Format("{0:N0}{1}", mp.Recommendation.FertiliserAppliedMgO, Resource.lblkg))</td>
                                                        </tr>

                                                        @*<tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">
                                                    @Resource.lblSodiumNa2O
                                                    </td>
                                                    <td class="govuk-table__cell">@(mp.Recommendation.NaIndex == null ? Resource.lblHyphen : mp.Recommendation.NaIndex)</td>
                                                    <td class="govuk-table__cell">@(mp.Recommendation.CropNa2O == null ? Resource.lblHyphen : mp.Recommendation.CropNa2O == 0 ? mp.Recommendation.CropNa2O : string.Concat(mp.Recommendation.CropNa2O, Resource.lblkg))</td>
                                                    <td class="govuk-table__cell">@(mp.Recommendation.ManureNa2O == null ? 0 : mp.Recommendation.ManureNa2O == 0 ? mp.Recommendation.ManureNa2O : string.Concat(mp.Recommendation.ManureNa2O, Resource.lblkg))</td>
                                                    <td class="govuk-table__cell">@(mp.Recommendation.FertilizerNa2O == null ? Resource.lblHyphen : mp.Recommendation.FertilizerNa2O < 0 ? 0 : mp.Recommendation.FertilizerNa2O == 0 ? mp.Recommendation.FertilizerNa2O : string.Concat(mp.Recommendation.FertilizerNa2O, Resource.lblkg))</td>
                                                </tr> *@
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">
                                                                @Resource.lblLime
                                                            </td>

                                                            <td class="govuk-table__cell">
                                                                @(mp.Recommendation.LimeIndex == null ? Resource.lblHyphen : mp.Recommendation.LimeIndex)
                                                            <td class="govuk-table__cell">@(mp.Recommendation.CropLime == null ? Resource.lblHyphen : mp.Recommendation.CropLime == 0 ? mp.Recommendation.CropLime : string.Format("{0:N0} {1}", mp.Recommendation.CropLime, Resource.lbltonnes))</td>
                                                            <td class="govuk-table__cell">
                                                                @(mp.Recommendation.LimeBalance == null ? Resource.lblHyphen : mp.Recommendation.LimeBalance == 0 ? mp.Recommendation.LimeBalance : string.Format("{0:N0}", mp.Recommendation.LimeBalance))
                                                            </td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation.ManureLime == null ? Resource.lblHyphen : mp.Recommendation.ManureLime == 0 ? mp.Recommendation.ManureLime : string.Format("{0:N0} {1}", mp.Recommendation.ManureLime, Resource.lbltonnes))</td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation.FertilizerLime == null ? Resource.lblHyphen : mp.Recommendation.FertilizerLime < 0 ? 0 : mp.Recommendation.FertilizerLime == 0 ? mp.Recommendation.FertilizerLime : string.Format("{0:N0} {1}", mp.Recommendation.FertilizerLime, Resource.lbltonnes))</td>
                                                            <td class="govuk-table__cell">@(mp.Recommendation.FertiliserAppliedLime == null ? 0 : mp.Recommendation.FertiliserAppliedLime < 0 ? 0 : mp.Recommendation.FertiliserAppliedLime == 0 ? mp.Recommendation.FertiliserAppliedLime : string.Format("{0:N0} {1}", mp.Recommendation.FertiliserAppliedLime, Resource.lbltonnes))</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        }
                                        managementTableIndex++;
                                    }
                                    <p class="govuk-body-s margin-bottom-forty">@Resource.lblSourceRb209</p>
                                </div>
                            </div>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <h3 class="govuk-heading-m">
                                        @string.Format(crop.CropTypeID == (int)NMP.Commons.Enums.CropTypes.Grass ? Resource.lblGrassDetailsForField : Resource.lblCropDetailsForField, field.Name)
                                    </h3>
                                    <div class="table-container margin-bottom-forty">
                                        <table class="govuk-table data-table">
                                            <thead class="govuk-table__head">
                                                <tr class="govuk-table__row">
                                                    @if (crop.CropTypeID == (int)NMP.Commons.Enums.CropTypes.Grass)
                                                    {
                                                        <th scope="col" class="govuk-table__header">@Resource.lblEstablishment</th>
                                                        <th scope="col" class="govuk-table__header">@Resource.lblSowingDate</th>
                                                        <th scope="col" class="govuk-table__header">@Resource.lblSward</th>
                                                        <th scope="col" class="govuk-table__header">@Resource.lblManagement</th>
                                                        @if (crop.SwardTypeID == (int)NMP.Commons.Enums.SwardType.Grass)
                                                        {
                                                            <th scope="col" class="govuk-table__header">@Resource.lblGrassGrowthClass</th>
                                                            <th scope="col" class="govuk-table__header">@Resource.lblTotalDryMatterYield</th>
                                                            <th scope="col" class="govuk-table__header">@Resource.lblUnits</th>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <th scope="col" class="govuk-table__header">@Resource.lblCrop</th>
                                                        <th scope="col" class="govuk-table__header">@Resource.lblVarietyForRecommendation</th>
                                                        <th scope="col" class="govuk-table__header">@Resource.lblPlantingDate</th>
                                                        <th scope="col" class="govuk-table__header">@Resource.lblYieldPerHectare</th>
                                                        <th scope="col" class="govuk-table__header">@Resource.lblCropInformation1</th>
                                                        <th scope="col" class="govuk-table__header">@Resource.lblCropInformation2</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody class="govuk-table__body">
                                                <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">
                                                        @if (crop.CropTypeID == (int)NMP.Commons.Enums.CropTypes.Grass)
                                                        {
                                                            @(string.IsNullOrWhiteSpace(crop.EstablishmentName) ? Resource.lblNotEntered : crop.EstablishmentName)
                                                        }
                                                        else
                                                        {
                                                            @crop.CropTypeName
                                                        }
                                                    </td>
                                                    @if (crop.CropTypeID != (int)NMP.Commons.Enums.CropTypes.Grass)
                                                    {
                                                        <td class="govuk-table__cell">@(string.IsNullOrWhiteSpace(crop.Variety) ? Resource.lblHyphen : crop.Variety)</td>
                                                        <td class="govuk-table__cell">@(crop.SowingDate != null ? crop.SowingDate.Value.ToLocalTime().Date.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("en-GB")) : Resource.lblNotEntered)</td>
                                                        <td class="govuk-table__cell">@(crop.Yield != null ? string.Format("{0:N2}", crop.Yield) : Resource.lblNotEntered)</td>
                                                        <td class="govuk-table__cell">@(string.IsNullOrWhiteSpace(crop.CropInfo1Name) ? Resource.lblHyphen : crop.CropInfo1Name)</td>
                                                        <td class="govuk-table__cell">@(string.IsNullOrWhiteSpace(crop.CropInfo2Name) ? Resource.lblHyphen : crop.CropInfo2Name)</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="govuk-table__cell">@(crop.SowingDate != null ? crop.SowingDate.Value.ToLocalTime().Date.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("en-GB")) : Resource.lblNotEntered)</td>
                                                        <td class="govuk-table__cell">@(string.IsNullOrWhiteSpace(crop.SwardTypeName) ? Resource.lblNotEntered : crop.SwardTypeName)</td>
                                                        <td class="govuk-table__cell">
                                                            @(string.IsNullOrWhiteSpace(crop.DefoliationSequenceName) ? Resource.lblNotEntered : crop.DefoliationSequenceName)
                                                        </td>
                                                        @if (crop.SwardTypeID == (int)NMP.Commons.Enums.SwardType.Grass)
                                                        {
                                                            <td class="govuk-table__cell">@(crop.GrowthClass != null ? crop.GrowthClass : Resource.lblNotEntered)</td>
                                                            <td class="govuk-table__cell">@(crop.Yield != null ? string.Format(Resource.lblYieldTonnesPerHectare, string.Format("{0:N2}", crop.Yield)) : Resource.lblNotEntered)</td>
                                                            <td class="govuk-table__cell">@(Resource.lblTotalDryMatterYield)</td>
                                                        }
                                                    }
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            @foreach (var mp in cropManagementPeriods)
                            {
                                @if (mp.FertiliserManures != null && mp.FertiliserManures.Count > 0)
                                {
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">
                                            <h3 class="govuk-heading-m">@string.Format(Resource.lblInorganicFertiliserAndLimeApplicationsForField, field.Name)</h3>

                                            <div class="table-container margin-bottom-forty">
                                                <table class="govuk-table data-table">
                                                    <thead class="govuk-table__head">
                                                        <tr class="govuk-table__row">
                                                            <th scope="col" class="govuk-table__header">@Resource.lblApplicationDate</th>
                                                            @if (crop.CropTypeID == (int)NMP.Commons.Enums.CropTypes.Grass)
                                                            {
                                                                <th scope="col" class="govuk-table__header">@Resource.lblForCutOrGrazing</th>
                                                            }
                                                            <th scope="col" class="govuk-table__header">@Resource.lblNitrogen</th>
                                                            <th scope="col" class="govuk-table__header">@Resource.lblPhosphateP2O5</th>
                                                            <th scope="col" class="govuk-table__header">@Resource.lblPotashK2O</th>
                                                            <th scope="col" class="govuk-table__header">@Resource.lblSulphurSO3</th>
                                                            <th scope="col" class="govuk-table__header">@Resource.lblLime</th>
                                                        </tr>
                                                    </thead>

                                                    @foreach (var fertManure in mp.FertiliserManures.OrderBy(f => f.ApplicationDate))
                                                    {
                                                        <tbody class="govuk-table__body">
                                                            <tr class="govuk-table__row">
                                                                <td class="govuk-table__cell">
                                                                    @(fertManure.ApplicationDate != null ? fertManure.ApplicationDate.Value.ToLocalTime().Date.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo("en-GB")) : Resource.lblHyphen)
                                                                </td>
                                                                @if (crop.CropTypeID == (int)NMP.Commons.Enums.CropTypes.Grass)
                                                                {
                                                                    <td class="govuk-table__cell">
                                                                        @($"{Enum.GetName(typeof(PotentialCut), mp.Defoliation)} ({mp.DefoliationSequenceName.ToLower()})")
                                                                    </td>
                                                                }
                                                                <td class="govuk-table__cell">
                                                                    @(fertManure.N != null ? (fertManure.N == 0 ? fertManure.N : string.Format(Resource.lblValueKg, fertManure.N.Value)) : Resource.lblHyphen)
                                                                </td>
                                                                <td class="govuk-table__cell">@(fertManure.P2O5 != null ? (fertManure.P2O5 == 0 ? fertManure.P2O5 : string.Format(Resource.lblValueKg, fertManure.P2O5.Value)) : Resource.lblHyphen)</td>
                                                                <td class="govuk-table__cell">@(fertManure.K2O != null ? (fertManure.K2O == 0 ? fertManure.K2O : string.Format(Resource.lblValueKg, fertManure.K2O.Value)) : Resource.lblHyphen)</td>
                                                                <td class="govuk-table__cell">@(fertManure.SO3 != null ? (fertManure.SO3 == 0 ? fertManure.SO3 : string.Format(Resource.lblValueKg, fertManure.SO3.Value)) : Resource.lblHyphen)</td>
                                                                <td class="govuk-table__cell">
                                                                    @(fertManure.Lime != null ? (fertManure.Lime == 0 ? fertManure.Lime : string.Format(Resource.lblRateWithTonnes.ToLower(), string.Format("{0:N1}", fertManure.Lime))) : Resource.lblHyphen)
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    }
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }


                            @foreach (var mp in cropManagementPeriods)
                            {
                                @if (mp.OrganicManures != null && mp.OrganicManures.Count > 0)
                                {
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">
                                            <h3 class="govuk-heading-m">@Resource.lblOrganicManureApplications</h3>
                                        </div>
                                    </div>
                                    @foreach (var orgManure in mp.OrganicManures)
                                    {
                                        <div class="govuk-grid-row">
                                            <div class="govuk-grid-column-full">
                                                <h4 class="govuk-heading-s">@string.Format(Resource.lblApplicationDateWithDate, orgManure.ApplicationDate?.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB")))</h4>
                                            </div>
                                        </div>
                                        <div class="govuk-grid-row">
                                            <div class="govuk-grid-column-one-half">
                                                <table class="govuk-table data-table">
                                                    <tbody class="govuk-table__body">
                                                        <tr class="govuk-table__row">
                                                            <th scope="col" class="govuk-table__header">@Resource.lblManureType</th>
                                                            <td class="govuk-table__cell">@(orgManure.ManureTypeName != null ? orgManure.ManureTypeName : Resource.lblNotEntered)</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <th scope="col" class="govuk-table__header">@Resource.lblApplicationMethod</th>
                                                            <td class="govuk-table__cell">@(orgManure.ApplicationMethodName != null ? orgManure.ApplicationMethodName : Resource.lblNotEntered) </td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <th scope="col" class="govuk-table__header">@Resource.lblApplicationRate</th>
                                                            <td class="govuk-table__cell">@(orgManure.ApplicationRate != null ? string.Format("{0:N1} {1}", orgManure.ApplicationRate, orgManure.RateUnit) : Resource.lblNotEntered)</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <th scope="col" class="govuk-table__header">@Resource.lblIncorporationMethod</th>
                                                            <td class="govuk-table__cell">@(orgManure.IncorporationMethodName != null ? orgManure.IncorporationMethodName : Resource.lblNotEntered)</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <th scope="col" class="govuk-table__header">@Resource.lblDelayToIncorporation</th>
                                                            <td class="govuk-table__cell">@(orgManure.IncorporationDelayName != null ? orgManure.IncorporationDelayName : Resource.lblNotEntered)</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <th scope="col" class="govuk-table__header">@Resource.lblTotalNitrogenWithNutrient</th>
                                                            <td class="govuk-table__cell">@(orgManure.N != null ? (orgManure.N > 0 ? string.Format("{0:N1}{1}", orgManure.N * orgManure.ApplicationRate, Resource.lblKgPerHectare) : (orgManure.N * orgManure.ApplicationRate)) : Resource.lblNotEntered)</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="govuk-grid-column-one-half">
                                                <table class="govuk-table data-table">
                                                    <tbody class="govuk-table__body">
                                                        <tr class="govuk-table__row">
                                                            <th scope="col" class="govuk-table__header">@Resource.lblAvailableNitrogen</th>
                                                            <td class="govuk-table__cell">@(orgManure.AvailableN != null ? (orgManure.AvailableN > 0 ? string.Format("{0:N1}{1}", orgManure.AvailableN, Resource.lblKgPerHectare) : orgManure.AvailableN) : Resource.lblNotEntered)</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <th scope="col" class="govuk-table__header">@Resource.lblTotalPhosphateOnly</th>
                                                            <td class="govuk-table__cell">@(orgManure.P2O5 != null ? (orgManure.P2O5 > 0 ? string.Format("{0:N1}{1}", orgManure.P2O5 * orgManure.ApplicationRate, Resource.lblKgPerHectare) : (orgManure.P2O5 * orgManure.ApplicationRate)) : Resource.lblNotEntered)</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <th scope="col" class="govuk-table__header">@Resource.lblAvailablePhosphate</th>
                                                            <td class="govuk-table__cell">@(orgManure.AvailableP2O5 != null ? (orgManure.AvailableP2O5 > 0 ? string.Format("{0:N1}{1}", orgManure.AvailableP2O5, Resource.lblKgPerHectare) : orgManure.AvailableP2O5) : Resource.lblNotEntered)</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <th scope="col" class="govuk-table__header">@Resource.lblTotalPotashWithNutrient</th>
                                                            <td class="govuk-table__cell">@(orgManure.K2O != null ? (orgManure.K2O > 0 ? string.Format("{0:N1}{1}", orgManure.K2O * orgManure.ApplicationRate, Resource.lblKgPerHectare) : (orgManure.K2O * orgManure.ApplicationRate)) : Resource.lblNotEntered)</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <th scope="col" class="govuk-table__header">@Resource.lblAvailablePotash</th>
                                                            <td class="govuk-table__cell">@(orgManure.AvailableK2O != null ? (orgManure.AvailableK2O > 0 ? string.Format("{0:N1}{1}", orgManure.AvailableK2O, Resource.lblKgPerHectare) : orgManure.AvailableK2O) : Resource.lblNotEntered)</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <th scope="col" class="govuk-table__header">@Resource.lblTotalSulphur</th>
                                                            <td class="govuk-table__cell">@(orgManure.SO3 != null ? (orgManure.SO3 > 0 ? string.Format("{0:N1}{1}", orgManure.SO3 * orgManure.ApplicationRate, Resource.lblKgPerHectare) : (orgManure.SO3 * orgManure.ApplicationRate)) : Resource.lblNotEntered)</td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <th scope="col" class="govuk-table__header">@Resource.lblAvailableSulphur</th>
                                                            <td class="govuk-table__cell">@(orgManure.AvailableSO3 != null ? (orgManure.AvailableSO3 > 0 ? string.Format("{0:N1}{1}", orgManure.AvailableSO3, Resource.lblKgPerHectare) : orgManure.AvailableSO3) : Resource.lblNotEntered)</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        }
                    }
                    @if (ViewBag.WarningHeaders != null)
                    {
                        var warnings = from w in (List<WarningHeaderResponse>)ViewBag.WarningHeaders where w.FieldId == crop.FieldID select w;
                        bool isWarningExistForThisField = warnings.Any();

                        @if (isWarningExistForThisField)
                        {
                            <h2 class="govuk-heading-m">
                                @string.Format(Model.CropAndFieldReport.Farm.CountryID == (int)NMP.Commons.Enums.FarmCountry.England ? Resource.lblNvzWarningFor : Resource.lblWaterResourcesRegulationsWarningsFor, field.Name)
                            </h2>

                            <p class="govuk-body">@(Model.CropAndFieldReport.Farm.CountryID == (int)NMP.Commons.Enums.FarmCountry.England ? Resource.lblThePlannedApplicationsmayNotComplyWith : Resource.lblThePlannedApplicationsMayNotComplyWithTheseWater)</p>

                            <ul class="govuk-list govuk-list--bullet">
                                @foreach (var warning in ViewBag.WarningHeaders)
                                {
                                    @if (warning.FieldId == crop.FieldID)
                                    {
                                        <li>@warning.WarningHeader</li>
                                    }
                                }
                            </ul>
                        }

                    }

                    @if (field.SoilDetails != null)
                    {
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <h3 class="govuk-heading-m">@string.Format(Resource.lblSoilDetailsForField, field.Name)</h3>
                            </div>
                        </div>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-half">
                                <table class="govuk-table data-table">
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header">@Resource.lblSoilType</th>
                                            <td class="govuk-table__cell">
                                                @(field.SoilDetails.SoilTypeName != null ? field.SoilDetails.SoilTypeName : Resource.lblNotEntered)
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                        @if (field.SoilDetails.SoilTypeId == (int)NMP.Commons.Enums.SoilTypeEngland.DeepClayey)
                                        {
                                            <tr class="govuk-table__row">
                                                <th scope="row" class="govuk-table__header">@Resource.lblPotashReleasingClay</th>
                                                <td class="govuk-table__cell">
                                                    @(field.SoilDetails.PotashReleasingClay != null ?
                                                                            (field.SoilDetails.PotashReleasingClay.Value ? Resource.lblYes : Resource.lblNo) : Resource.lblNotEntered)
                    </td>
                </tr>
                                }
                                        @if (field.SoilAnalysis != null)
                                        {
                                            <tr class="govuk-table__row">
                                                <th scope="row" class="govuk-table__header">@Resource.lblSulpherDeficient</th>
                                                <td class="govuk-table__cell">
                                                    @(field.SoilDetails.SulphurDeficient != null
                                                                            ? (field.SoilDetails.SulphurDeficient.Value ? Resource.lblYes : Resource.lblNo)
                                                                            : Resource.lblNotEntered)
                    </td>
                </tr>
                                }
                                    </tbody>
        </table>
    </div>
</div>
                    }
                    @if (field.SoilAnalysis != null && field.SoilAnalysis.Count > 0)
                    {
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <h3 class="govuk-heading-m">@string.Format(Resource.lblSoilAnalysisForField, field.Name)</h3>
                                <div class="table-container">
                                    <table class="govuk-table data-table">
                                        <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">
                                                <th class="govuk-table__header">
                                                    @Resource.lblDateAnalysisTaken
                                                </th>
                                                <th class="govuk-table__header">@Resource.lblPh</th>
                                                <th class="govuk-table__header">@Resource.lblPhosphorusP</th>
                                                <th class="govuk-table__header">@Resource.lblPotassium</th>
                                                <th class="govuk-table__header">@Resource.lblMagnesiumMg</th>
                                            </tr>
                                        </thead>
                                        <tbody class="govuk-table__body">
                                            @foreach (var soilAnalysis in field.SoilAnalysis)
                                            {
                                                <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">@(soilAnalysis.Date != null ? soilAnalysis.Date.Value.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB")) : Resource.lblNotEntered)</td>
                                                    <td class="govuk-table__cell">@(soilAnalysis.PH != null ? soilAnalysis.PH : Resource.lblNotEntered)</td>
                                                    <td class="govuk-table__cell">
                                                        @(soilAnalysis.PhosphorusIndex != null ? $"{Resource.lblIndex} {soilAnalysis.PhosphorusIndex}" : Resource.lblNotEntered)
                                                    </td>
                                                    <td class="govuk-table__cell">
                                                        @(soilAnalysis.PotassiumIndex != null ? $"{Resource.lblIndex} {soilAnalysis.PotassiumIndex}" : Resource.lblNotEntered)
                                                    </td>
                                                    <td class="govuk-table__cell">
                                                        @(soilAnalysis.MagnesiumIndex != null ? $"{Resource.lblIndex} {soilAnalysis.MagnesiumIndex}" : Resource.lblNotEntered)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                    @if (crop.SNSAnalysis != null)
                    {
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <h3 class="govuk-heading-m">@string.Format(Resource.lblSoilMineralNitrogenDetailsForFieldName, field.Name)</h3>
                            </div>
                                <div class="govuk-grid-column-one-half">
                                    <table class="govuk-table data-table">
                                        <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">
                                                <th class="govuk-table__header">@Resource.lblSNSMethod</th>
                                                <td class="govuk-table__cell">@(crop.SNSAnalysis.SNSMethod != null ? crop.SNSAnalysis.SNSMethod : Resource.lblNotEntered)</td>
                                            </tr>
                                        </thead>
                                        <tbody class="govuk-table__body">
                                            <tr class="govuk-table__row">
                                                <th class="govuk-table__header">@Resource.lblSNS</th>
                                                <td class="govuk-table__cell">
                                                    @(crop.SNSAnalysis.SnsValue != null ? string.Format("{0:N0}", crop.SNSAnalysis.SnsValue) : Resource.lblNotEntered)
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>                        
                    }

                    @if (crop.ManagementPeriods != null && crop.ManagementPeriods.Count > 0)
                    {
                        var cropManagementPeriods = crop.ManagementPeriods.Where(mp => mp.CropID == crop.ID);
                        @if (cropManagementPeriods != null)
                        {
                            @foreach (var mp in cropManagementPeriods)
                            {
                                @if (mp.Recommendation != null && mp.Recommendation.RecommendationComments != null && mp.Recommendation.RecommendationComments.Count > 0)
                                {
                                    <div class="govuk-grid-row pagebreak">
                                        <div class="govuk-grid-column-full">
                                            <h3 class="govuk-heading-m">@string.Format(Resource.lblGuidanceForField, field.Name)</h3>

                                            @if (Model.Nutrients != null)
                                            {
                                                @foreach (var nutrient in Model.Nutrients)
                                                {
                                                    var commentsForNutrient = mp.Recommendation.RecommendationComments
                                                    .Where(rc => rc.Nutrient == nutrient.nutrientId)
                                                    .ToList();
                                                    // var commentsText = string.Join("<br />", commentsForNutrient.Select(rc => rc.Comment));  // rc.Comment is the comment text
                                                    if (commentsForNutrient != null && commentsForNutrient.Count > 0)
                                                    {
                                                        <h4 class="govuk-heading-s">
                                                            @if (nutrient.nutrientId == (int)NMP.Commons.Enums.Nutrients.Nitrogen)
                                                            {
                                                                @Resource.lblNitrogen
                                                            }
                                                            else if (nutrient.nutrientId == (int)NMP.Commons.Enums.Nutrients.Phosphate)
                                                            {
                                                                @Resource.lblPhosphateP2O5
                                                            }
                                                            else if (nutrient.nutrientId == (int)NMP.Commons.Enums.Nutrients.Sulphur)
                                                            {
                                                                @Resource.lblSulphurSO3
                                                            }
                                                            else if (nutrient.nutrientId == (int)NMP.Commons.Enums.Nutrients.Lime)
                                                            {
                                                                @Resource.lblLime
                                                            }
                                                            else if (nutrient.nutrientId == (int)NMP.Commons.Enums.Nutrients.Magnesium)
                                                            {
                                                                @Resource.lblMagnesiumMg
                                                            }
                                                            // else if (nutrient.nutrientId == (int)NMP.Commons.Enums.Nutrients.Sodium)
                                                            // {
                                                            //     @Resource.lblSodiumNa2O
                                                            // }
                                                            else if (nutrient.nutrientId == (int)NMP.Commons.Enums.Nutrients.Potash)
                                                            {
                                                                @Resource.lblPotashK2O
                                                            }
                                                        </h4>

                                                        if (nutrient.nutrientId != (int)NMP.Commons.Enums.Nutrients.Sodium)
                                                        {
                                                            @foreach (var comment in commentsForNutrient)
                                                            {
                                                                <p class="govuk-body">
                                                                    @Html.Raw(comment.Comment)
                                                                </p>
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @* <div class="govuk-grid-row pagebreak"></div> *@
                                }
                            }
                        }
                    }

                    @if (totalCount != 0)
                    {
                        <div id="printbreak"></div>
                    }
                }
            }
        }
    }
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <hr class="seperator_five_report">
            <h4 class="govuk-heading-s">@Resource.lblAboutRecommendationGuidenceAdvice</h4>
            <p class="govuk-body">
                @Resource.lblAboutRecommendationGuidenceAdviceContent1
            </p>
            <p class="govuk-body">
                @Resource.lblAboutRecommendationGuidenceAdviceContent2
            </p>
            <p class="govuk-body">
                @Resource.lblAboutRecommendationGuidenceAdviceContent3
            </p>
        </div>
    </div>
}