@using NMP.Commons.Resources
@using NMP.Commons.ViewModels
@model ReportViewModel
@{
    string title = string.Format(Resource.lblRemovePropertyName, Model.LivestockGroupName);
    ViewData["Title"] = $"{title} {Resource.lblHyphen}  {Resource.lblUpdate} {Resource.lblLivestockNumbers}";
    var yesRemove = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var noRemove = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.ReportWizardSteps.DeleteNLLivestock;
}

@if (TempData["DeleteNLLivestockError"] != null)
{
    <govuk-error-summary>
        <govuk-error-summary-item href="#">@TempData["DeleteNLLivestockError"]</govuk-error-summary-item>
    </govuk-error-summary>
}
@if (Model != null)
{
    @section BeforeContent {
        <govuk-back-link asp-action="LivestockCheckAnswer" asp-controller="Report">@Resource.lblBack</govuk-back-link>
    }

    <form asp-action="DeleteNLLivestock" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
                <govuk-fieldset>
                    <govuk-fieldset-legend class="govuk-fieldset__legend--l">
                        @title
                </govuk-fieldset-legend>
                    <p class="govuk-body">@string.Format(Resource.lblRemoveNLLivetsockContent, Model.LivestockTypeName,Model.Year)</p>
                <govuk-radios class="govuk-radios--inline" asp-for="@Model.IsDeleteNLLivestock">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend>
                            @Resource.lblAreYouSureYouWantToContinue
                        </govuk-radios-fieldset-legend>
                        <govuk-radios-item value="@yesRemove">@Resource.lblYes</govuk-radios-item>
                        <govuk-radios-item value="@noRemove">@Resource.lblNo</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
            </govuk-fieldset>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
                <p class="govuk-body cancel-link"><a asp-action="LivestockCheckAnswer" asp-controller="Report">@Resource.lblCancel</a></p>

        </div>
    </div>
</form>

}

