@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    var title = string.Format(Resource.lblWhichFieldsWouldYouLikeToCreateA2025CropAndFieldManagementReportFor, Model.Year);
    @if (Model.FieldAndPlanReportOption != null && Model.FieldAndPlanReportOption == (int)NMP.Commons.Enums.FieldAndPlanReportOption.CropFieldManagementReport && (ViewBag.NoPlan != null || ViewBag.NoField != null))
    {
        @if (ViewBag.NoPlan != null)
        {
            title = ViewBag.NoPlan;
        }
        else if (ViewBag.NoField != null)
        {
            title = ViewBag.NoField;
        }

    }
    else 
    @if (Model.NVZReportOption != null && Model.NVZReportOption == (int)NMP.Commons.Enums.NvzReportOption.NmaxReport && (ViewBag.NoPlan != null || ViewBag.NoField != null))
    {
        title=string.Format(Resource.lblAnNMaxIsNotAvailableForYear, Model.Country == (int)NMP.Commons.Enums.FarmCountry.England ? Resource.lblNMax : Resource.lblMaximumNitrogenLimit, Model.Year);
    }
    else if (Model.FieldAndPlanReportOption != null && Model.FieldAndPlanReportOption == (int)NMP.Commons.Enums.FieldAndPlanReportOption.CropFieldManagementReport)
    {
        title = string.Format(Resource.lblWhichFieldsWouldYouLikeToCreateA2025CropAndFieldManagementReportFor, Model.Year);
    }
    else if (Model.NVZReportOption != null && Model.NVZReportOption == (int)NMP.Commons.Enums.NvzReportOption.NmaxReport)
    {
        title = string.Format(Resource.lblWhichCropsWouldYouLikeToCreateNMaxReportFor, Model.Year, Model.Country == (int)NMP.Commons.Enums.FarmCountry.England ? Resource.lblNMax : Resource.lblMaximumNitrogenLimit);
    }

    if (ViewBag.NMaxReportNotAvailable != null && ViewBag.NMaxReportNotAvailable)
    {
        title = string.Format(Resource.lblAnNmaxReportIsNotAvailable, Model.Country == (int)NMP.Commons.Enums.FarmCountry.England ? Resource.lblNMax : Resource.lblMaximumNitrogenLimit);
    }

    ViewData["Title"] = $" {title} {Resource.lblHyphen} {Resource.lblReport}";
    var backAction = ((Model.IsComingFromPlan.HasValue && !Model.IsComingFromPlan.Value)) ? "Year" :
        ((Model.ReportOption == (int)NMP.Commons.Enums.ReportOption.FieldRecordsAndPlan)
        ? "ReportOptions" : "NVZComplianceReports");
}

@section BeforeContent {
    <govuk-back-link asp-action="@backAction" asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnSelectField"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnSelectField"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (ViewBag.NMaxReportNotAvailable != null && ViewBag.NMaxReportNotAvailable)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">
                @(string.Format(Resource.lblAnNmaxReportIsNotAvailable, Model.Country == (int)NMP.Commons.Enums.FarmCountry.England ? Resource.lblNMax : Resource.lblMaximumNitrogenLimit))
            </h2>
            <p class="govuk-body">
                @if (ViewBag.FarmOrFieldNotInNVZ != null && ViewBag.FarmOrFieldNotInNVZ)
                {
                    @(string.Format(Resource.lblNMaxReportsAreOnlyAvailableForFarms, Model.Country == (int)NMP.Commons.Enums.FarmCountry.England ? Resource.lblNMax : Resource.lblMaximumNitrogenLimit))
                    
                }
                else
                {
                    @(string.Format(Resource.lblYouHaveNotPlannedAnyCropsForYear, Model.Year,Model.Country == (int)NMP.Commons.Enums.FarmCountry.England ? Resource.lblNMax : Resource.lblMaximumNitrogenLimit))
                }
            </p>
            <p class="govuk-body  margin-bottom-thirty">
                @Resource.lblYouCan
                <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">@Resource.lblCheckTheFarmSetUp</a>
                @Resource.lblAndChangeWhetherYourWholeFarm
            </p>
            @if (ViewBag.FarmOrFieldNotInNVZ == null)
            {
                <p class="govuk-body  margin-bottom-thirty">
                    @Resource.lblYouCanAlso
                    <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@($"{string.Format(Resource.lblCheckYourPlan.ToLower(), Model.Year)}{"."}")</a>
                </p>
            }
            <p class="govuk-body cancel-link">
                @if ((Model.IsComingFromPlan.HasValue && Model.IsComingFromPlan.Value))
                {
                    <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">
                        @Resource.lblCancel
                    </a>
                }
                else
                {
                    <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                        @Resource.lblCancel
                    </a>
                }
            </p>
        </div>
    </div>
}
else
@if (Model != null)
{
    <form asp-action="ExportFieldsOrCropType" class="form-with-overlay" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <div hidden="true">
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportOption" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZReportOption" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldAndPlanReportOption" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportType" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsGrasslandDerogation" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Country" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalFarmArea" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalAreaInNVZ" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockNumbers" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ImportsExportsOfLivestockManure" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckList" value="@Model.IsCheckList" />
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockQuantity" />
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockImportExportDate"></govuk-date-input>
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ManureTypeId" />
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ManureTypeName" />
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ImportExport" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.DryMatter" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.TotalN" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.NH4N" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.NO3N" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.Uric" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.P2O5" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.K2O" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.MgO" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.SO3" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DryMatterPercent" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.N" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NH4N" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NO3N" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UricAcid" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.P2O5" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.K2O" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MgO" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SO3" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReceiverName" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address1" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address2" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address3" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address4" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Postcode" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Comment" />
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupId" />
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupName" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupIdForFilter" />

            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManureTypeLiquid" />
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefaultFarmManureValueDate" value="@Model.DefaultFarmManureValueDate"></govuk-date-input>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsThisDefaultValueOfRB209" value="@Model.IsThisDefaultValueOfRB209" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyNeedToStoreNutrientValueForFuture" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefaultNutrientValue" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsDefaultValueChange" value="@Model.IsDefaultValueChange" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManageImportExport" value="@Model.IsManageImportExport" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromPlan" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromImportExportOverviewPage" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OtherMaterialName" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassPercentage" />

            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyLivestockNumber" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockGroupId" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockGroupName" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockTypeId" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockTypeName" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockNumberQuestion" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AverageNumber" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInJanuary" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInFebruary" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInMarch" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInApril" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInMay" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInJune" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInJuly" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInAugust" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInSeptember" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInOctober" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInNovember" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInDecember" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AverageNumberOfPlaces" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AverageOccupancy" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NitrogenStandard" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsLivestockCheckAnswer" value="@Model.IsLivestockCheckAnswer.ToString().ToLower()" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OccupancyAndNitrogenOptions" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PhosphateStandard" />

            @if (Model.ReportType != null && Model.ReportType == (int)NMP.Commons.Enums.ReportType.CropAndFieldManagementReport && Model.CropTypeList != null && Model.CropTypeList.Count > 0)
            {
                @for (int i = 0; i < Model.CropTypeList.Count; i++)
                {
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeList[i]" value="@Model.CropTypeList[i]" />
                }
            }
            else @if (Model.ReportType != null && Model.ReportType == (int)NMP.Commons.Enums.ReportType.NMaxReport)
            {
                @if (Model.FieldList != null && Model.FieldList.Count > 0)
                {
                    @for (int i = 0; i < Model.FieldList.Count; i++)
                    {
                        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]" />
                    }
                }
            }
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                @if (ViewBag.NoPlan != null || ViewBag.NoField != null)
                {
                    @if (Model.FieldAndPlanReportOption != null && Model.FieldAndPlanReportOption == (int)NMP.Commons.Enums.FieldAndPlanReportOption.CropFieldManagementReport)
                    {
                        @if (ViewBag.NoPlan != null)
                        {
                            <h2 class="govuk-heading-l">@ViewBag.NoPlan</h2>
                            <p class="govuk-body">
                                @Resource.MsgForIfFieldorPlanAreNotCreated
                            </p>
                        }
                        else
                        {
                            <h2 class="govuk-heading-l">
                                @ViewBag.NoField
                            </h2>
                            <p class="govuk-body">
                                @Resource.MsgForIfFieldorPlanAreNotCreated
                            </p>
                        }
                    }
                    else @if (Model.NVZReportOption != null && Model.NVZReportOption == (int)NMP.Commons.Enums.NvzReportOption.NmaxReport){
                    <h2 class="govuk-heading-l">
                        @(string.Format(Resource.lblAnNMaxIsNotAvailableForYear, Model.Country == (int)NMP.Commons.Enums.FarmCountry.England ? Resource.lblNMax : Resource.lblMaximumNitrogenLimit, Model.Year))                        
                        </h2>
                    <div class="margin-bottom-forty">
                        <p class="govuk-body">
                            @Resource.lblYouNeedToEnterDetailsFirstAbout
                            <ul class="govuk-list govuk-list--bullet">
                                @if (ViewBag.NoField != null)
                                {
                                    <li>@Resource.lblYourFields</li>
                                }
                                <li>@Resource.lblYourCrops</li>
                                <li>@Resource.lblAnyOrganicMaterialOrInorganicFertiliserUsed</li>
                            </ul>
                        </p>
                    </div>
                }

                <div class="margin-bottom-forty">
                    @if (ViewBag.NoField != null)
                    {
                        <a class="govuk-button add-button" asp-action="AddField" asp-controller="Field" asp-route-q="@Model.EncryptedFarmId">
                            @Resource.lblAddfields
                        </a>
                    }
                    else
                    @if (ViewBag.NoPlan != null)
                    {
                        <a class="govuk-button add-button" asp-action="CheckYourPlanData" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmId" asp-route-year="@ViewBag.EncryptedYear" asp-route-isPlanRecord="true">
                            @Resource.lblAddCrops
                        </a>
                    }
                </div>
            }
            else
            {
                @if (Model.FieldAndPlanReportOption != null && Model.FieldAndPlanReportOption == (int)NMP.Commons.Enums.FieldAndPlanReportOption.CropFieldManagementReport)
                {

                    <govuk-checkboxes asp-for="FieldList">
                        <govuk-checkboxes-fieldset>
                            <govuk-checkboxes-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                                @string.Format(Resource.lblWhichFieldsWouldYouLikeToCreateA2025CropAndFieldManagementReportFor, Model.Year)
                            </govuk-checkboxes-fieldset-legend>

                            <govuk-checkboxes-hint>
                                @Resource.lblSelectAllThatApply
                            </govuk-checkboxes-hint>
                            @if (ViewBag.fieldList != null)
                            {
                                @foreach (var item in ViewBag.fieldList)
                                {
                                    <govuk-checkboxes-item value="@item.Value">@item.Text</govuk-checkboxes-item>
                                }
                            }

                            <govuk-checkboxes-divider>or</govuk-checkboxes-divider>
                            <govuk-checkboxes-item value=@Resource.lblSelectAll id="select-all" name="select-all">@Resource.lblSelectAll</govuk-checkboxes-item>
                        </govuk-checkboxes-fieldset>
                    </govuk-checkboxes>
                    <govuk-button type="submit" class="margin-bottom-forty">
                        @Resource.lblContinue
                    </govuk-button>
                }
                else
                @if (Model.NVZReportOption != null && Model.NVZReportOption == (int)NMP.Commons.Enums.NvzReportOption.NmaxReport)
                {
                    <govuk-checkboxes asp-for="CropTypeList">
                        <govuk-checkboxes-fieldset>
                            <govuk-checkboxes-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                                @(string.Format(Resource.lblWhichCropsWouldYouLikeToCreateNMaxReportFor, Model.Year, Model.Country == (int)NMP.Commons.Enums.FarmCountry.England ? Resource.lblNMax : Resource.lblMaximumNitrogenLimit))
                            </govuk-checkboxes-fieldset-legend>

                            <govuk-checkboxes-hint>
                                @Resource.lblSelectAllThatApply
                            </govuk-checkboxes-hint>
                            @if (ViewBag.CropTypeList != null)
                            {
                                @foreach (var item in ViewBag.CropTypeList)
                                {

                                    <govuk-checkboxes-item value="@item.Value">
                                        @item.Text
                                        @if (item.Text == Resource.lblGroup1Vegetables)
                                        {
                                            <govuk-checkboxes-item-hint>@ViewBag.Group1VegetablesHint</govuk-checkboxes-item-hint>
                                        }
                                        @if (item.Text == Resource.lblGroup2Vegetables)
                                        {
                                            <govuk-checkboxes-item-hint>@ViewBag.Group2VegetablesHint</govuk-checkboxes-item-hint>
                                        }
                                        @if (item.Text == Resource.lblGroup3Vegetables)
                                        {
                                            <govuk-checkboxes-item-hint>@ViewBag.Group3VegetablesHint</govuk-checkboxes-item-hint>
                                        }
                                        @if (Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales && item.Text == Resource.lblLettuceFields)
                                        {
                                            <govuk-checkboxes-item-hint>@ViewBag.LettuceFieldsListHint</govuk-checkboxes-item-hint>
                                        }
                                    </govuk-checkboxes-item>

                                }
                            }

                            <govuk-checkboxes-divider>or</govuk-checkboxes-divider>
                            <govuk-checkboxes-item value=@Resource.lblSelectAll id="select-all" name="select-all">@Resource.lblSelectAll</govuk-checkboxes-item>
                        </govuk-checkboxes-fieldset>
                    </govuk-checkboxes>
                    <govuk-button type="submit" class="margin-bottom-forty">
                        @Resource.lblContinue
                    </govuk-button>
                }
            }
            <p class="govuk-body cancel-link">
                @if ((Model.IsComingFromPlan.HasValue && Model.IsComingFromPlan.Value))
                {
                    <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">
                        @Resource.lblCancel
                    </a>
                }
                else
                {
                    <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                        @Resource.lblCancel
                    </a>
                }
            </p>

        </div>

    </div>
</form>
}