@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    string heading = Resource.lblEnterFarmAverageYieldValues;
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {Resource.lblReport}";

}

@section BeforeContent {
    <govuk-back-link asp-action="FarmAverageYieldAdjustment" asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnFarmAverageYieldValue"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnFarmAverageYieldValue"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="FarmAverageYieldValue" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <div hidden="true">
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Country" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsFarmAverageYieldAdjustment" />

            @if (Model.CropTypeList != null && Model.CropTypeList.Count > 0)
            {
                @for (int i = 0; i < Model.CropTypeList.Count; i++)
                {
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeList[i]" value="@Model.CropTypeList[i]" />
                }
            }
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-fieldset>
                    <govuk-fieldset-legend class="govuk-fieldset__legend--l">
                        @Resource.lblEnterFarmAverageYieldValues
                    </govuk-fieldset-legend>
                    <div class="govuk-hint">
                        @Resource.lblFarmAverageYieldValuesContentOne
                    </div>

                    @if (Model.FarmAverageYields != null)
                    {
                        @for (int i = 0; i < Model.FarmAverageYields.Count; i++)
                        {
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmAverageYields[i].FarmID" value="@Model.FarmAverageYields[i].FarmID" />
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmAverageYields[i].HarvestYear" value="@Model.FarmAverageYields[i].HarvestYear" />
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmAverageYields[i].CropTypeID" value="@Model.FarmAverageYields[i].CropTypeID" />
                            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmAverageYields[i].CropTypeName" value="@Model.FarmAverageYields[i].CropTypeName" />
                            <govuk-input name="CropTypeID" asp-for=@Model.FarmAverageYields[i].CropTypeID type="number" inputmode="decimal"
                                         pattern="^\d+(\.\d{0,3})?$" step="any" input-class="govuk-input--width-5" spellcheck="false">
                                <govuk-input-label>
                                    @string.Format(Resource.lblFarmAverageYieldValuesContentTwo, Model.FarmAverageYields[i].CropTypeName)
                                    <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblHectares)</span>
                                    @Resource.lblOptional
                                </govuk-input-label>
                                <govuk-input-suffix>@Resource.lblTonnesAndHectare.ToLower()</govuk-input-suffix>
                            </govuk-input>
                        }
                    }
                </govuk-fieldset>
                @*   <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button> *@
                <p class="govuk-body cancel-link">
                    @if ((Model.IsComingFromPlan.HasValue && Model.IsComingFromPlan.Value))
                    {
                        <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">
                            @Resource.lblCancel
                        </a>
                    }
                    else
                    {
                        <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                            @Resource.lblCancel
                        </a>
                    }
                </p>

            </div>

        </div>
    </form>
}