@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    ViewData["Title"] = $"{Resource.lblFarmArea} {Resource.lblHyphen} {Resource.lblLivestockManureNitrogenFarmLimit}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.ReportWizardSteps.FarmAreaForLivestockManure;
}

@section BeforeContent {
    <govuk-back-link asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnFarmAreaForLivestockManure"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnFarmAreaForLivestockManure"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}
@if (TempData["FarmDetailsSaveError"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["FarmDetailsSaveError"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}


@if (Model != null)
{
    <form asp-action="FarmAreaForLivestockManure" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-fieldset>
                    <govuk-fieldset-legend class="govuk-fieldset__legend--l">
                        @Resource.lblFarmArea
                    </govuk-fieldset-legend>
                    <p class="govuk-hint">
                        @Resource.lblDoNotIncludeSurfaceWaterBuildingYards
                    </p>
                    <govuk-input asp-for=@Model.TotalFarmArea type="number" step="any" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label>
                            @Resource.lblWhatIsTheTotalFarmAreaSuffix<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblhectar)</span>@Resource.lblQuestionMark
                        </govuk-input-label>

                        <govuk-input-suffix>@Resource.lblhectar</govuk-input-suffix>

                    </govuk-input>
                    @if (Model.Country != (int)NMP.Commons.Enums.FarmCountry.Wales)
                    {
                        <govuk-input asp-for=@Model.TotalAreaInNVZ type="number" step="any" input-class="govuk-input--width-5" spellcheck="false">
                            <govuk-input-label>
                                @Resource.lblWhatIsTheTotalAreaInAnNVZSuffix<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblhectar)</span>@Resource.lblQuestionMark
                            </govuk-input-label>
                            <govuk-input-suffix>@Resource.lblhectar</govuk-input-suffix>
                        </govuk-input>
                    }
                    @if (Model.IsGrasslandDerogation == true)
                    {
                        <govuk-input asp-for=@Model.GrassPercentage type="number" step="any" input-class="govuk-input--width-5" spellcheck="false">
                            <govuk-input-label>
                                @Resource.lblWhatPercentageOfTheLandIsFarmedAsGrassSuffix<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblPercentage)</span>@Resource.lblQuestionMark
                            </govuk-input-label>
                            <govuk-input-suffix>@Resource.lblPercentage</govuk-input-suffix>
                        </govuk-input>
                    }
                </govuk-fieldset>
                <govuk-button type="submit" data-prevent-double-click="true" class="govuk-button margin-bottom-forty margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>


                <p class="govuk-body cancel-link">
                    <a asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report">
                        @Resource.lblCancel
                    </a>
                </p>

            </div>

        </div>
    </form>
}