@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    string heading = Resource.lblFarmAverageYieldAdjustment;
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {Resource.lblReport}";
    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);

}

@section BeforeContent {
    <govuk-back-link asp-action="ExportFieldsOrCropType" asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnFarmAverageYieldAdjustment"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnFarmAverageYieldAdjustment"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="FarmAverageYieldAdjustment" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <div hidden="true">
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Country" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Postcode" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.DryMatter" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.TotalN" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.NH4N" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.NO3N" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.Uric" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.P2O5" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.K2O" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.MgO" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.SO3" />
            @if (Model.CropTypeList != null && Model.CropTypeList.Count > 0)
            {
                @for (int i = 0; i < Model.CropTypeList.Count; i++)
                {
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeList[i]" value="@Model.CropTypeList[i]" />
                }
            }

            @if (Model.FarmAverageYields != null && Model.FarmAverageYields.Count > 0)
            {
                @for (int i = 0; i < Model.FarmAverageYields.Count; i++)
                {
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmAverageYields[i].FarmID" value="@Model.FarmAverageYields[i].FarmID" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmAverageYields[i].HarvestYear" value="@Model.FarmAverageYields[i].HarvestYear" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmAverageYields[i].CropTypeID" value="@Model.FarmAverageYields[i].CropTypeID" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmAverageYields[i].CropTypeName" value="@Model.FarmAverageYields[i].CropTypeName" />
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmAverageYields[i].AverageYield" value="@Model.FarmAverageYields[i].AverageYield" />
                }
            }

        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-radios asp-for="@Model.IsFarmAverageYieldAdjustment">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                            @heading
                        </govuk-radios-fieldset-legend>
                        <govuk-radios-hint>
                            <p class="govuk-body">@Resource.lblFarmAverageYieldAdjustmentContentOne</p>
                            @if (ViewBag.AverageYieldCropTypeList != null)
                            {
                                @foreach (var crop in ViewBag.AverageYieldCropTypeList)
                                {
                                    <ul class="govuk-list govuk-list--bullet">
                                        <li>
                                            @crop
                                        </li>
                                    </ul>
                                }
                            }
                            <p class="govuk-body">@Resource.lblFarmAverageYieldAdjustmentContentTwo</p>

                            <govuk-details>
                                <govuk-details-summary>
                                    <p class="govuk-body">@Resource.lblFarmAverageYieldAdjustmentContentThree</p>
                                </govuk-details-summary>
                                <govuk-details-text>
                                    <p class="govuk-body">@Resource.lblFarmAverageYieldAdjustmentContentFour</p>
                                    <ul class="govuk-list govuk-list--bullet">
                                        <li>
                                            <p class="govuk-body">@string.Format(Resource.lblFarmAverageYieldAdjustmentContentFive, Model.FarmName)</p>
                                        </li>
                                        <li><p class="govuk-body">@Resource.lblFarmAverageYieldAdjustmentContentSix</p></li>
                                    </ul>

                                    <p class="govuk-body">@Resource.lblFarmAverageYieldAdjustmentContentSeven</p>
                                    <p class="govuk-body">@Resource.lblFarmAverageYieldAdjustmentContentEight</p>
                                </govuk-details-text>
                            </govuk-details>
                            <p class="govuk-body">@Resource.lblFarmAverageYieldAdjustmentContentNine</p>
                        </govuk-radios-hint>
                        <govuk-radios-item value=@yes>@Resource.lblYes</govuk-radios-item>
                        <govuk-radios-item value=@no>@Resource.lblNo</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                    @if ((Model.IsComingFromPlan.HasValue && Model.IsComingFromPlan.Value))
                    {
                        <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">
                            @Resource.lblCancel
                        </a>
                    }
                    else
                    {
                        <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                            @Resource.lblCancel
                        </a>
                    }
                </p>

            </div>

        </div>
    </form>
}