@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    string title = Resource.lblWhichFarmInformationAndPlanningReportDoYouWantToCreate;
    ViewData["Title"] = $"{title} {Resource.lblHyphen} {Resource.lblReport}";

    var cropFieldManagementReport = (int)NMP.Commons.Enums.FieldAndPlanReportOption.CropFieldManagementReport;
    var livestockNumbersReport = (int)NMP.Commons.Enums.FieldAndPlanReportOption.LivestockNumbersReport;
    var importsAndExportsReport = (int)NMP.Commons.Enums.FieldAndPlanReportOption.ImportsAndExportsReport;
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.ReportWizardSteps.FieldAndPlanReports;
}

@section BeforeContent {
    <govuk-back-link asp-action="ReportOptions" asp-controller="Report" asp-route-f="@Model.EncryptedFarmId" asp-route-h="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnFieldAndPlanReports"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnFieldAndPlanReports"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="FieldAndPlanReports" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-radios asp-for="@Model.FieldAndPlanReportOption">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                            @title
                        </govuk-radios-fieldset-legend>
                        <govuk-radios-item value="@cropFieldManagementReport">
                            @Resource.lblFieldRecordsAndNutrientManagementPlanning
                            <govuk-radios-item-hint>
                                @Resource.lblCropFieldAndNutrientApplicationsForOneOrMoreFields
                            </govuk-radios-item-hint>
                        </govuk-radios-item>
                        <govuk-radios-item value="@livestockNumbersReport" disabled="true">
                            @Resource.lblLivestockNumbers
                            <govuk-radios-item-hint>
                                @Resource.lblIncludesAllLivestockNumbersForTheYear
                            </govuk-radios-item-hint>
                        </govuk-radios-item>
                        <govuk-radios-item value="@importsAndExportsReport" disabled="true">
                            @Resource.lblImportsExports
                            <govuk-radios-item-hint>
                                @Resource.lblIncludesAllLivestockNumbersForTheYear
                            </govuk-radios-item-hint>
                        </govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                    @if ((Model.IsComingFromPlan.HasValue && Model.IsComingFromPlan.Value))
                    {
                        <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">
                            @Resource.lblCancel
                        </a>
                    }
                    else
                    {
                        <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                            @Resource.lblCancel
                        </a>
                    }
                </p>

            </div>

        </div>
    </form>
}
