@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.ReportViewModel
@{
    ViewData["Title"] = Resource.lblField;

    var cropFieldManagementReport = (int)NMP.Portal.Enums.FieldAndPlanReportOption.CropFieldManagementReport;
    var livestockNumbersReport = (int)NMP.Portal.Enums.FieldAndPlanReportOption.LivestockNumbersReport;
    var importsAndExportsReport = (int)NMP.Portal.Enums.FieldAndPlanReportOption.ImportsAndExportsReport;
}

@section BeforeContent {
    <govuk-back-link asp-action="ReportOptions" asp-controller="Report" asp-route-f="@Model.EncryptedFarmId" asp-route-h="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnFieldAndPlanReports"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnFieldAndPlanReports"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="FieldAndPlanReports" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <div hidden="true">
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportOption"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsGrasslandDerogation"></govuk-input>

            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalFarmArea"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalAreaInNVZ"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockNumbers"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ImportsExportsOfLivestockManure"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckList" value="@Model.IsCheckList"></govuk-input>
            @if (Model.FieldList != null && Model.FieldList.Count > 0)
            {
                @for (int i = 0; i < Model.FieldList.Count; i++)
                {
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]"></govuk-input>
                }
            }
            @if (Model.CropTypeList != null && Model.CropTypeList.Count > 0)
            {
                @for (int i = 0; i < Model.CropTypeList.Count; i++)
                {
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeList[i]" value="@Model.CropTypeList[i]"></govuk-input>
                }
            }
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">
                    @Resource.lblWhichFarmInformationAndPlanningReportDoYouWantToCreate
                </h1>


                <govuk-radios asp-for="@Model.FieldAndPlanReportOption">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend is-page-heading="false">

                        </govuk-radios-fieldset-legend>
                        <govuk-radios-item value="@cropFieldManagementReport">
                            @Resource.lblFieldRecordsAndNutrientManagementPlanning
                            <govuk-radios-item-hint>
                                @Resource.lblIncludesDetailsAboutYourFieldsCropsAndRec
                            </govuk-radios-item-hint>
                        </govuk-radios-item>
                        <govuk-radios-item value="@livestockNumbersReport" disabled>
                            @Resource.lblLivestockNumbers
                            <govuk-radios-item-hint>
                                @Resource.lblIncludesAllLivestockNumbersForTheYear
                            </govuk-radios-item-hint>
                        </govuk-radios-item>
                        <govuk-radios-item value="@importsAndExportsReport" disabled>
                            @Resource.lblImportsExports
                            <govuk-radios-item-hint>
                                @Resource.lblIncludesAllLivestockNumbersForTheYear
                            </govuk-radios-item-hint>
                        </govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>

                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                    @if (!string.IsNullOrWhiteSpace(Model.EncryptedHarvestYear))
                    {
                        <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">
                            @Resource.lblCancel
                        </a>
                    }
                    else
                    {
                        <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                            @Resource.lblCancel
                        </a>
                    }
                </p>

            </div>

        </div>
    </form>
}