@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    string heading = string.Empty;
    string action = string.Empty;
    action = string.IsNullOrWhiteSpace(Model.EncryptedId) ? Char.ToUpper(Resource.lblAdd[0]) + Resource.lblAdd.Substring(1) : Resource.lblUpdate;
    @if (Model.IsManageImportExport || !string.IsNullOrWhiteSpace(Model.IsComingFromImportExportOverviewPage))
    {
        heading = Resource.lblWhatTypeOfLivestockManureAreYouImportingOrExportingOrganicMaterial;
    }
    else
    {
        heading = Resource.lblDoYouWantToAddAnImportOrAnExportOfLivestockManure;
    }
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {action} {Resource.lblImportsExportsOfLivestockManure}";
    var import = (int)NMP.Commons.Enums.ImportExport.Import;
    var export = (int)NMP.Commons.Enums.ImportExport.Export;
    var backAction = "";
    if (Model.IsCheckAnswer)
    {
        backAction = "LivestockImportExportCheckAnswer";
    }
    else if (Model.IsManageImportExport)
    {
        backAction = "ManageImportExport";
    }
    else if (!string.IsNullOrWhiteSpace(Model.IsComingFromImportExportOverviewPage))
    {
        backAction = "UpdateLivestockImportExport";
    }

    else if (Model.IsCheckList)
    {
        backAction = "IsAnyLivestockImportExport";
    }
    else
    {
        backAction = "Year";
    }
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.ReportWizardSteps.ImportExportOption;
}

@section BeforeContent {
    <govuk-back-link asp-action=@backAction asp-controller="Report" asp-route-q="@Model.EncryptedFarmId" asp-route-y="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnImportExportOption"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnImportExportOption"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}
@if (Model != null)
{
    <form asp-action="ImportExportOption" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                    <govuk-radios class="govuk-radios" asp-for="@Model.ImportExport">
                        <govuk-radios-fieldset>
                            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                                @heading
                            </govuk-radios-fieldset-legend>
                            <govuk-radios-hint>@Resource.lblSelectOneOption</govuk-radios-hint>
                            <govuk-radios-item value=@import>@Resource.lblImport</govuk-radios-item>
                            <govuk-radios-item value=@export>@Resource.lblExport</govuk-radios-item>
                        </govuk-radios-fieldset>
                    </govuk-radios>
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                    @if (Model.IsCheckAnswer)
                    {
                        <a asp-action="LivestockImportExportCheckAnswer" asp-controller="Report">
                            @Resource.lblCancel
                        </a>
                    }
                    else
                    {
                        if (Model.IsManageImportExport)
                        {
                            <a asp-action="ManageImportExport" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId" asp-route-y="@Model.EncryptedHarvestYear">
                                @Resource.lblCancel
                            </a>
                        }
                        else
                @if (string.IsNullOrWhiteSpace(Model.IsComingFromImportExportOverviewPage))
                        {
                            @if (!Model.IsCheckList)
                            {
                                <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                                    @Resource.lblCancel
                                </a>
                            }
                            else
                            {
                                <a asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report">
                                    @Resource.lblCancel
                                </a>
                            }
                        }
                        else
                        {
                            <a asp-action="UpdateLivestockImportExport" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId">
                                @Resource.lblCancel
                            </a>
                        }
                    }
                </p>

            </div>

        </div>
    </form>
}