@using NMP.Commons.Resources

@model NMP.Commons.ViewModels.ReportViewModel
@{
    string title = string.Format(Resource.lblDidYouHaveAnyImportsAndExports, Model.FarmName, Model.Year);
    ViewData["Title"] = $"{title} {Resource.lblHyphen} {Resource.lblAdd} {Resource.lblImportsExports}";
    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.ReportWizardSteps.IsAnyLivestockImportExport;
}

@section BeforeContent {
    <govuk-back-link asp-action=@(Model.IsCheckAnswer ?
                                      "LivestockImportExportCheckAnswer" : "LivestockManureNitrogenReportChecklist") asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnIsAnyLivestockImportExport"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnIsAnyLivestockImportExport"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}
@if (Model != null)
{
    <form asp-action="IsAnyLivestockImportExport" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">                
                    <govuk-radios class="govuk-radios--inline" asp-for="@Model.IsAnyLivestockImportExport">
                        <govuk-radios-fieldset>
                            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                            @title
                            </govuk-radios-fieldset-legend>
                            <govuk-radios-hint>@Resource.lblSelectOneOption</govuk-radios-hint>
                            <govuk-radios-item value=@yes>@Resource.lblYes</govuk-radios-item>
                            <govuk-radios-item value=@no>@Resource.lblNo</govuk-radios-item>
                        </govuk-radios-fieldset>
                    </govuk-radios>
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                    @if (Model.IsCheckAnswer)
                    {
                        <a asp-action="LivestockImportExportCheckAnswer" asp-controller="Report">
                            @Resource.lblCancel
                        </a>
                    }
                    else
                    {
                        if (Model.IsManageImportExport)
                        {
                            <a asp-action="ManageImportExport" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId" asp-route-y="@Model.EncryptedHarvestYear">
                                @Resource.lblCancel
                            </a>
                        }
                        else
 @if (string.IsNullOrWhiteSpace(Model.IsComingFromImportExportOverviewPage))
                        {
                            @if (!Model.IsCheckList)
                            {
                                <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                                    @Resource.lblCancel
                                </a>
                            }
                            else
                            {
                                <a asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report">
                                    @Resource.lblCancel
                                </a>
                            }
                        }
                        else
                        {
                            <a asp-action="UpdateLivestockImportExport" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId">
                                @Resource.lblCancel
                            </a>
                        }
                    }
                </p>

            </div>

        </div>
    </form>
}