@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    string title = string.Format(Resource.lblDoesFarmHaveAGrasslandDerogation, Model.FarmName, Model.Year);
    ViewData["Title"] = $"{title} {Resource.lblHyphen} {Resource.lblLivestockManureNitrogenFarmLimit}";
    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.ReportWizardSteps.IsGrasslandDerogation;
}

@section BeforeContent {
    <govuk-back-link asp-action=@((Model.IsCheckList ? "LivestockManureNitrogenReportChecklist" : (Model.IsComingFromPlan.HasValue && !Model.IsComingFromPlan.Value) ? "Year" : "NVZComplianceReports")) asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnIsGrasslandDerogation"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnIsGrasslandDerogation"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}
@if (TempData["FetchNutrientsLoadingFarmDetailsError"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["FetchNutrientsLoadingFarmDetailsError"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}
@if (TempData["DerogationSaveError"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["DerogationSaveError"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="IsGrasslandDerogation" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">
                    @title
                </h1>

                <govuk-details>
                    <govuk-details-summary>
                        @Resource.lblAboutDerogation
                    </govuk-details-summary>

                    <govuk-details-text class="explanations">

                        <p class="govuk-body">@Resource.lblYouCanApplyUpTo170kgPerHectareOfNitrogen</p>

                        <p class="govuk-body">@Resource.lblYouCanApplyForAGrasslandDerogationToUseAHigherLimit</p>


                        <p class="govuk-body">@Resource.lblYouCanApplyForADerogationIfAtLeast80Percent</p>
                        <p class="govuk-body">@Resource.lblYouMustComplyWithTheConditions</p>

                        <p class="govuk-body">@Resource.lblMoreInformation <a target="_blank" href="https://www.gov.uk/guidance/grassland-derogations-for-livestock-manure-in-nitrate-vulnerable-zones">@Resource.lblGrasslandDerogationsForLivestockManureInNitrateVulnerableZone</a> @Resource.lblOpenInANewWindow</p>

                    </govuk-details-text>
                </govuk-details>

                <govuk-radios class="govuk-radios--inline" asp-for="@Model.IsGrasslandDerogation">

                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--l">
                        </govuk-radios-fieldset-legend>

                        <govuk-radios-item value=@yes>@Resource.lblYes</govuk-radios-item>
                        <govuk-radios-item value=@no>@Resource.lblNo</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                    @if (!Model.IsCheckList)
                    {
                        @if ((Model.IsComingFromPlan.HasValue && Model.IsComingFromPlan.Value))
                        {
                            <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">
                                @Resource.lblCancel
                            </a>
                        }
                        else
                        {
                            <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                                @Resource.lblCancel
                            </a>
                        }
                        @* <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                            @Resource.lblCancel
                        </a> *@
                    }
                    else
                    {
                        <a asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report">
                            @Resource.lblCancel
                        </a>
                    }
                </p>

            </div>

        </div>
    </form>
}