@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    var suffixUnit = "";
    string heading = string.Empty;
    @if (Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials || Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials)
    {
        heading = string.Format(Resource.lblEnterTheValuesForYour, Model.OtherMaterialName);
    }
    else
    {
        heading = string.Format(Resource.lblEnterTheValuesForYour, Model.ManureTypeName);
    }
    string action = string.Empty;
    @if (!string.IsNullOrWhiteSpace(Model.EncryptedId))
    {
        action = Resource.lblUpdate;
    }
    else
    {
        action = Char.ToUpper(Resource.lblAdd[0]) + Resource.lblAdd.Substring(1);
    }
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {action} {Resource.lblImportsExportsOfLivestockManure}";
    if (Model.IsManureTypeLiquid != null)
    {
        suffixUnit = Model.IsManureTypeLiquid.Value ? Resource.lblKgPerMeterCube : Resource.lblKgPerTonne;
    }
    var backAction = "";
    @if (Model.IsCheckAnswer && (!Model.IsManureTypeChange))
    {
        backAction = "LivestockImportExportCheckAnswer";
    }
    else
    {
        if (Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials || Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials)
        {
            if (Model.ManureGroupIdForFilter == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials || Model.ManureGroupIdForFilter == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials)
            {
                backAction = "LivestockDefaultNutrientValue";
            }
            else
            {
                backAction = "LivestockQuantity";
            }
        }
        else
        {
            backAction = "LivestockDefaultNutrientValue";
        }
    }
}

@section BeforeContent {
    <govuk-back-link asp-action=@backAction asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnLivestockManualNutrientValue"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnLivestockManualNutrientValue"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}
@if (Model != null)
{
    <form asp-action="LivestockManualNutrientValue" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <div hidden="true">
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportOption"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportTypeName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZReportOption"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldAndPlanReportOption"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalFarmArea"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalAreaInNVZ"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockNumbers"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckList" value="@Model.IsCheckList"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsGrasslandDerogation" value="@Model.IsGrasslandDerogation"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyLivestockImportExport" value="@Model.IsAnyLivestockImportExport"/>
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ImportExport"/>
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockQuantity"/>
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockImportExportDate"></govuk-date-input>
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ManureTypeId"/>
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ManureTypeName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReceiverName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address1"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address2"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address3"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address4"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Postcode"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.DryMatter"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.TotalN"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.NH4N"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.NO3N"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.Uric"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.P2O5"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.K2O"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.MgO"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.SO3"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Comment"/>
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupId"/>
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupIdForFilter"/>

            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManureTypeLiquid"/>
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefaultFarmManureValueDate" value="@Model.DefaultFarmManureValueDate"></govuk-date-input>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsThisDefaultValueOfRB209" value="@Model.IsThisDefaultValueOfRB209"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyNeedToStoreNutrientValueForFuture"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefaultNutrientValue"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsDefaultValueChange" value="@Model.IsDefaultValueChange"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManageImportExport" value="@Model.IsManageImportExport"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsImport"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManureTypeChange"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromImportExportOverviewPage"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromPlan"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromSuccessMsg"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OtherMaterialName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassPercentage"/>

            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyLivestockNumber"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockGroupId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockGroupName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockTypeId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockTypeName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockNumberQuestion"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AverageNumber"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInJanuary"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInFebruary"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInMarch"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInApril"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInMay"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInJune"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInJuly"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInAugust"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInSeptember"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInOctober"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInNovember"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInDecember"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AverageNumberOfPlaces"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AverageOccupancy"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NitrogenStandard"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsLivestockCheckAnswer" value="@Model.IsLivestockCheckAnswer.ToString().ToLower()"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OccupancyAndNitrogenOptions"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PhosphateStandard"/>
            @if (Model.FieldList != null && Model.FieldList.Count > 0)
            {
                @for (int i = 0; i < Model.FieldList.Count; i++)
                {
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]"/>
                }
            }
            @if (Model.CropTypeList != null && Model.CropTypeList.Count > 0)
            {
                @for (int i = 0; i < Model.CropTypeList.Count; i++)
                {
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeList[i]" value="@Model.CropTypeList[i]"/>
                }
            }
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <govuk-fieldset>
                    <govuk-fieldset-legend class="govuk-fieldset__legend--l">
                        @heading
                    </govuk-fieldset-legend>

                    <govuk-input asp-for=@Model.DryMatterPercent inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label is-page-heading="true">
                            @Resource.lblDryMatter
                            <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblPercentage)</span>
                        </govuk-input-label>

                        <govuk-input-suffix>@Resource.lblPercentage</govuk-input-suffix>
                    </govuk-input>
                    <govuk-input asp-for=@Model.N inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label is-page-heading="true">
                            @Resource.lblTotalNitrogenN
                            <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, suffixUnit)</span>
                        </govuk-input-label>
                        <govuk-input-suffix>@suffixUnit</govuk-input-suffix>
                    </govuk-input>
                    <govuk-input asp-for=@Model.NH4N inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label is-page-heading="true">
                            @Resource.lblAmmoniumHypenN
                            <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, suffixUnit)</span>
                        </govuk-input-label>
                        <govuk-input-suffix>@suffixUnit</govuk-input-suffix>
                    </govuk-input>
                    <govuk-input asp-for=@Model.UricAcid inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label is-page-heading="true">@Resource.lblUricAcidN</govuk-input-label>
                        <govuk-input-suffix>@suffixUnit</govuk-input-suffix>
                    </govuk-input>
                    <govuk-input asp-for=@Model.NO3N inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label is-page-heading="true">
                            @Resource.lblNitrateHypenN
                            <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, suffixUnit)</span>
                        </govuk-input-label>
                        <govuk-input-suffix>@suffixUnit</govuk-input-suffix>
                    </govuk-input>
                    <govuk-input asp-for=@Model.P2O5 inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label is-page-heading="true">
                            @Resource.lblPhosphateP2O5
                            <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, suffixUnit)</span>
                        </govuk-input-label>
                        <govuk-input-suffix>@suffixUnit</govuk-input-suffix>
                    </govuk-input>
                    <govuk-input asp-for=@Model.K2O inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label is-page-heading="true">
                            @Resource.lblPotashK2O
                            <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, suffixUnit)</span>
                        </govuk-input-label>
                        <govuk-input-suffix>@suffixUnit</govuk-input-suffix>
                    </govuk-input>
                    <govuk-input asp-for=@Model.SO3 inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label is-page-heading="true">
                            @Resource.lblSulphurSO3
                            <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, suffixUnit)</span>
                        </govuk-input-label>
                        <govuk-input-suffix>@suffixUnit</govuk-input-suffix>
                    </govuk-input>
                    <govuk-input asp-for=@Model.MgO inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label is-page-heading="true">
                            @Resource.lblMagnesiumMgO
                            <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, suffixUnit)</span>
                        </govuk-input-label>
                        <govuk-input-suffix>@suffixUnit</govuk-input-suffix>
                    </govuk-input>
                </govuk-fieldset>
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                    @if (Model.IsCheckAnswer)
                    {
                        <a asp-action="LivestockImportExportCheckAnswer" asp-controller="Report">
                            @Resource.lblCancel
                        </a>
                    }
                    else
                    {
                        if (Model.IsManageImportExport)
                        {
                            <a asp-action="ManageImportExport" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId" asp-route-y="@Model.EncryptedHarvestYear">
                                @Resource.lblCancel
                            </a>
                        }
                        else
                @if (string.IsNullOrWhiteSpace(Model.IsComingFromImportExportOverviewPage))
                        {
                            @if (!Model.IsCheckList)
                            {
                                <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                                    @Resource.lblCancel
                                </a>
                            }
                            else
                            {
                                <a asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report">
                                    @Resource.lblCancel
                                </a>
                            }
                        }
                        else
                        {
                            <a asp-action="UpdateLivestockImportExport" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId">
                                @Resource.lblCancel
                            </a>
                        }
                    }
                </p>

            </div>

        </div>
    </form>
}