@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.ReportViewModel
@{
    ViewData["Title"] = $"{string.Format(Resource.lblAddLivestockDetailsFor, Model.Year)} {Resource.lblHyphen} {Resource.lblAddLivestockNumber}";
    var yes = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.False);

    var cattle = (int)NMP.Portal.Enums.LivestockGroup.Cattle;
    var pigs = (int)NMP.Portal.Enums.LivestockGroup.Pigs;
    var poultry = (int)NMP.Portal.Enums.LivestockGroup.Poultry;
    var sheep = (int)NMP.Portal.Enums.LivestockGroup.Sheep;
    var goatsDeerOrHorses = (int)NMP.Portal.Enums.LivestockGroup.GoatsDeerOrHorses;

    var occupancyNitrogenOption = "";
    if(Model.OccupancyAndNitrogenOptions==(int)NMP.Portal.Enums.OccupancyNitrogenOptions.UseDefault)
    {
        occupancyNitrogenOption = Resource.lblYesUseTheseValues;
    }
    else if (Model.OccupancyAndNitrogenOptions == (int)NMP.Portal.Enums.OccupancyNitrogenOptions.ChangeOccupancy)
    {
        occupancyNitrogenOption = Resource.lblNoChangeTheOccupancyValue;
    }
    else if (Model.OccupancyAndNitrogenOptions == (int)NMP.Portal.Enums.OccupancyNitrogenOptions.ChangeNitrogen)
    {
        occupancyNitrogenOption = Resource.lblNoChangeTheNitrogenNStandardValue;
    }
    else if (Model.OccupancyAndNitrogenOptions == (int)NMP.Portal.Enums.OccupancyNitrogenOptions.DerogatedFarmChangeBoth)
    {
        occupancyNitrogenOption = Resource.lblNoChangeTheseValues;
    }

}

@section BeforeContent {
    <govuk-back-link asp-action="BackLivestockCheckAnswer" asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnLivestockCheckAnswer"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnLivestockCheckAnswer"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form class="form-with-overlay" asp-action="LivestockCheckAnswer" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <div hidden="true">
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportOption"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportTypeName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZReportOption"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldAndPlanReportOption"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"></govuk-input>

            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalFarmArea"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalAreaInNVZ"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockNumbers"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ImportsExportsOfLivestockManure"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckList" value="@Model.IsCheckList"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyLivestockImportExport" value="@Model.IsAnyLivestockImportExport"></govuk-input>
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ManureTypeId"></govuk-input>
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ManureTypeName"></govuk-input>
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ImportExport"></govuk-input>
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockQuantity"></govuk-input>
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockImportExportDate"></govuk-date-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.DryMatter"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.TotalN"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.NH4N"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.NO3N"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.Uric"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.P2O5"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.K2O"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.MgO"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.SO3"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DryMatterPercent"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.N"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NH4N"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NO3N"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UricAcid"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.P2O5"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.K2O"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MgO"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SO3"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReceiverName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address1"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address2"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address3"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address4"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Postcode"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Comment"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromImportExportOverviewPage"></govuk-input>

            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManureTypeLiquid"></govuk-input>
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefaultFarmManureValueDate" value="@Model.DefaultFarmManureValueDate"></govuk-date-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsThisDefaultValueOfRB209" value="@Model.IsThisDefaultValueOfRB209"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyNeedToStoreNutrientValueForFuture"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefaultNutrientValue"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsDefaultValueChange" value="@Model.IsDefaultValueChange"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManageImportExport" value="@Model.IsManageImportExport"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromPlan"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromSuccessMsg"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsGrasslandDerogation"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassPercentage"></govuk-input>

            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyLivestockNumber"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockGroupId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockGroupName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockTypeId"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockTypeName"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockNumberQuestion"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AverageNumber"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInJanuary"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInFebruary"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInMarch"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInApril"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInMay"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInJune"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInJuly"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInAugust"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInSeptember"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInOctober"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInNovember"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInDecember"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AverageNumberOfPlaces"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AverageOccupancy"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NitrogenStandard"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsLivestockCheckAnswer" value="@Model.IsLivestockCheckAnswer.ToString().ToLower()"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OccupancyAndNitrogenOptions"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PhosphateStandard"></govuk-input>
            <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManageLivestock"></govuk-input>
            @if (Model.FieldList != null && Model.FieldList.Count > 0)
            {
                @for (int i = 0; i < Model.FieldList.Count; i++)
                {
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]"></govuk-input>
                }
            }
            @if (Model.CropTypeList != null && Model.CropTypeList.Count > 0)
            {
                @for (int i = 0; i < Model.CropTypeList.Count; i++)
                {
                    <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeList[i]" value="@Model.CropTypeList[i]"></govuk-input>
                }
            }
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">
                    @(string.Format(Resource.lblAddLivestockDetailsFor, Model.Year))
                </h1>
                <p class="govuk-heading-m">
                    @Resource.lblCheckYourAnswers
                </p>

                <div class="check-answers">
                    <govuk-summary-list>
                        @*  <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @(string.Format(Resource.lblDoesFarmHaveDerogationFor, Model.FarmName, Model.Year))
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @(Model.IsGrasslandDerogation==true ? Resource.lblYes : Resource.lblNo)
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="IsGrasslandDerogation" asp-controller="Report">@Resource.lblChange</govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row> *@
                        @if (ViewBag.LiveStockList != null && ViewBag.LiveStockList.Count == 0)
                        {
                            <govuk-summary-list-row class=@(!Model.IsAnyLivestockNumber.HasValue ? "govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblDidYouHaveAnyLivestockOn, Model.FarmName, Model.Year)
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @* @(Model.IsAnyLivestockNumber == true ? Resource.lblYes : Resource.lblNo) *@
                                    @((Model.IsAnyLivestockNumber.HasValue) ? (Model.IsAnyLivestockNumber == true ? Resource.lblYes : Resource.lblNo) : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="IsAnyLivestockNumber" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblDidYouHaveAnyLivestockOn, Model.FarmName, Model.Year)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                        }
                        <govuk-summary-list-row class=@(string.IsNullOrWhiteSpace(Model.LivestockGroupName) ? "govuk-error-message":"")>
                            <govuk-summary-list-row-key>
                                @string.Format(Resource.lblWhatTypeOfLivestockWouldYouLikeToAddFor, Model.Year)
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @(!string.IsNullOrWhiteSpace(Model.LivestockGroupName) ? Model.LivestockGroupName : Resource.lblNotSet)
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="LivestockGroup" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblWhatTypeOfLivestockWouldYouLikeToAddFor, Model.Year)</span></govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row class=@(string.IsNullOrWhiteSpace(Model.LivestockTypeName) ? "govuk-error-message":"")>
                            <govuk-summary-list-row-key>
                                @string.Format(Resource.lblWhatTypeOfLivestockGroupWouldYouLikeToAdd, Model.LivestockGroupName)
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @(!string.IsNullOrWhiteSpace(Model.LivestockTypeName) ? Model.LivestockTypeName : Resource.lblNotSet)
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-action="LivestockType" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblWhatTypeOfLivestockGroupWouldYouLikeToAdd, Model.LivestockGroupName)</span></govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                        @if (Model.LivestockGroupId == cattle || Model.LivestockGroupId == sheep || Model.LivestockGroupId == goatsDeerOrHorses)
                        {
                            <govuk-summary-list-row class=@(!Model.LivestockNumberQuestion.HasValue ? "govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblHowWouldYouLikeToEnterYourLivestockNumbers, ViewBag.LivestockCategory, Model.Year)
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(Model.LivestockNumberQuestion.HasValue ? (Model.LivestockNumberQuestion == (int)NMP.Portal.Enums.LivestockNumberQuestion.ANumberForEachMonth ? Resource.lblEnterANumberForEachMonth : Resource.lblEnterTheAverageNumberForTheYear):Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="LivestockNumberQuestion" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblHowWouldYouLikeToEnterYourLivestockNumbers, ViewBag.LivestockCategory, Model.Year)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            @if (Model.LivestockNumberQuestion == (int)NMP.Portal.Enums.LivestockNumberQuestion.ANumberForEachMonth)
                            {
                                <govuk-summary-list-row>
                                    <govuk-summary-list-row-key>
                                        @(string.Format(Resource.lblTotalNumberOfThisTypePerMonth, ViewBag.LivestockCategory))
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>

                                        <table class="nutrient_values">
                                            <tbody>
                                                <tr><td>@Resource.lblJanuary:</td>   <td>@(string.Format("{0:N0} {1}", (Model.NumbersInJanuary ?? 0),ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                <tr><td>@Resource.lblFebruary:</td>  <td>@(string.Format("{0:N0} {1}", (Model.NumbersInFebruary ?? 0), ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                <tr><td>@Resource.lblMarch:</td>     <td>@(string.Format("{0:N0} {1}", (Model.NumbersInMarch ?? 0),  ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                <tr><td>@Resource.lblApril:</td>     <td>@(string.Format("{0:N0} {1}", (Model.NumbersInApril ?? 0),ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                <tr><td>@Resource.lblMay:</td>       <td>@(string.Format("{0:N0} {1}", (Model.NumbersInMay ?? 0), ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                <tr><td>@Resource.lblJune:</td>      <td>@(string.Format("{0:N0} {1}", (Model.NumbersInJune ?? 0),  ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                <tr><td>@Resource.lblJuly:</td>      <td>@(string.Format("{0:N0} {1}", (Model.NumbersInJuly ?? 0),  ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                <tr><td>@Resource.lblAugust:</td>    <td>@(string.Format("{0:N0} {1}", (Model.NumbersInAugust ?? 0),  ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                <tr><td>@Resource.lblSeptember:</td> <td>@(string.Format("{0:N0} {1}", (Model.NumbersInSeptember ?? 0), ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                <tr><td>@Resource.lblOctober:</td>   <td>@(string.Format("{0:N0} {1}", (Model.NumbersInOctober ?? 0),ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                <tr><td>@Resource.lblNovember:</td>  <td>@(string.Format("{0:N0} {1}", (Model.NumbersInNovember ?? 0),ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                <tr><td>@Resource.lblDecember:</td>  <td>@(string.Format("{0:N0} {1}", (Model.NumbersInDecember ?? 0), ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                            </tbody>
                                        </table>
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                        <govuk-summary-list-row-action asp-action="LivestockNumbersMonthly" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@(string.Format(Resource.lblTotalNumberOfThisTypePerMonth, ViewBag.LivestockCategory))</span></govuk-summary-list-row-action>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>
                            }
                            else
                            {
                                <govuk-summary-list-row class=@(!Model.AverageNumber.HasValue ? "govuk-error-message":"")>
                                    <govuk-summary-list-row-key>
                                        @string.Format(Resource.lblAverageNumberOfThisLivestockGroup, ViewBag.LivestockCategory, Model.Year)
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        @(Model.AverageNumber.HasValue ? (string.Concat(string.Format("{0:N1}",Model.AverageNumber), " " + ViewBag.LivestockCategory?.ToLower())) : Resource.lblNotSet)
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                        <govuk-summary-list-row-action asp-action="AverageNumber" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblAverageNumberOfThisLivestockGroup, ViewBag.LivestockCategory, Model.Year)</span></govuk-summary-list-row-action>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>
                            }
                        }
                        else
                        {
                            <govuk-summary-list-row class=@(!Model.AverageNumberOfPlaces.HasValue ? "govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblWhatIsTheAverageTotalNumberOfThis, Model.LivestockGroupName, Model.Year)
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(Model.AverageNumberOfPlaces.HasValue ? (string.Concat(string.Format("{0:N1}", Model.AverageNumberOfPlaces), Model.LivestockGroupId == (int)NMP.Portal.Enums.LivestockGroup.Pigs ? (" " + Resource.lblPlaces) : (" " + Resource.lblThousandPlaces))) : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="NonGrazingLivestockAverageNumber" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblWhatIsTheAverageTotalNumberOfThis, Model.LivestockGroupName, Model.Year)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row class=@(!Model.OccupancyAndNitrogenOptions.HasValue ? "govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblDoYouWantToUseTheseValuesForThis, Model.LivestockGroupName)
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(Model.OccupancyAndNitrogenOptions.HasValue? occupancyNitrogenOption:Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="OccupancyAndStandard" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblDoYouWantToUseTheseValuesForThis, Model.LivestockGroupName)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>

                            <govuk-summary-list-row class=@(!Model.AverageOccupancy.HasValue ? "govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblWhatIsTheAverageOccupancy
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(Model.AverageOccupancy.HasValue ? (string.Concat(Model.AverageOccupancy, Resource.lblPercentage)) : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="Occupancy" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblWhatIsTheAverageOccupancy</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>

                            <govuk-summary-list-row class=@(!Model.NitrogenStandard.HasValue ? "govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @Resource.lblNitrogenStandardPerAnimalPerYear
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(Model.NitrogenStandard.HasValue ? (string.Format(Resource.lblKgPerYear, string.Format("{0:N0}", Math.Round(Model.NitrogenStandard.Value, 0)))) : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="NitrogenStandard" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@Resource.lblNitrogenStandardPerAnimalPerYear</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            
                        }
                        
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                @Resource.lblTotalNitrogenProduced
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                            @(string.Format(Resource.lblKgPerYear, string.Format("{0:N0}", ViewBag.TotalNProduced)))
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>

                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>

                        @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation == true)
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>
                                    @Resource.lblPhosphateStandardPerAnimalPerYear
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(string.Format(Resource.lblKgPerYear, string.Format("{0:N0}", Math.Round(Model.PhosphateStandard.Value, 0))))
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>
                                    @Resource.lblTotalPhosphateProduced
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(string.Format(Resource.lblKgPerYear, string.Format("{0:N0}", ViewBag.TotalPProduced)))
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                        }
                    </govuk-summary-list>
                </div>

                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>

                <p class="govuk-body cancel-link">
                    <a asp-action="Cancel" asp-controller="Report">
                        @Resource.lblCancel
                    </a>
                </p>

            </div>

        </div>
    </form>
}