@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{

    ViewData["Title"] = $"{string.Format(Resource.lblWhatTypeOfLivestockWouldYouLikeToAddFor, Model.Year)} {Resource.lblHyphen} {Resource.lblAddLivestockNumber}";
    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
    var action = "IsAnyLivestockNumber";
    if (Model.IsLivestockCheckAnswer)
    {
        action = "LivestockCheckAnswer";
    }
    else
    {
        if (ViewBag.LiveStockList != null && ViewBag.LiveStockList.Count > 0)
        {
            action = "ManageLivestock";
        }
    }
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.ReportWizardSteps.LivestockGroup;
}

@section BeforeContent {
    <govuk-back-link asp-action=@action asp-controller="Report" asp-route-q="@Model.EncryptedFarmId" asp-route-y="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnLivestockGroup"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnLivestockGroup"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="LivestockGroup" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <govuk-radios class="govuk-radios" asp-for="@Model.LivestockGroupId">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                            @string.Format(Resource.lblWhatTypeOfLivestockWouldYouLikeToAddFor, Model.Year)
                        </govuk-radios-fieldset-legend>
                        <govuk-radios-hint>@Resource.lblSelectOneOptionYouCanAddMoreLivestock</govuk-radios-hint>
                        @if (ViewBag.LivestockGroups != null && ViewBag.LivestockGroups.Count > 0)
                        {
                            foreach (var livestockGroup in ViewBag.LivestockGroups)
                            {
                                <govuk-radios-item value="@livestockGroup.Id">@livestockGroup.Name</govuk-radios-item>
                            }
                        }
                    </govuk-radios-fieldset>
                </govuk-radios>
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>

                <p class="govuk-body cancel-link">
                    @if (!Model.IsManageLivestock || (Model.IsManageLivestock && Model.IsLivestockCheckAnswer))
                    {
                        @if (!Model.IsLivestockCheckAnswer)
                        {
                            <a asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report">
                                @Resource.lblCancel
                            </a>
                        }
                        else
                        {
                            <a asp-action="LivestockCheckAnswer" asp-controller="Report">
                                @Resource.lblCancel
                            </a>
                        }
                    }
                    else
                    {
                        <a asp-action="ManageLivestock" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId" asp-route-y="@Model.EncryptedHarvestYear">
                            @Resource.lblCancel
                        </a>
                    }
                </p>

            </div>

        </div>
    </form>
}