@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    string heading = (string.Format(Resource.lblHowMuchDidYouImport, Model.ImportExport.Value == (int)NMP.Commons.Enums.ImportExport.Import ?
                                        Resource.lblImport.ToLower() : Resource.lblExport.ToLower()));
    string action = string.IsNullOrWhiteSpace(Model.EncryptedId) ? Char.ToUpper(Resource.lblAdd[0]) + Resource.lblAdd.Substring(1) : Resource.lblUpdate;
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {action} {Resource.lblImportsExportsOfLivestockManure}";
    string unit = "";
    @if (Model.IsManureTypeLiquid != null)
    {
        unit = Model.IsManureTypeLiquid.Value ? Resource.lblCubicMeters : Resource.lbltonnes;
    }
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.ReportWizardSteps.LivestockQuantity;
}

@section BeforeContent {
    <govuk-back-link asp-action=@(Model.IsCheckAnswer ?
                                      "LivestockImportExportCheckAnswer" : "LivestockImportExportDate") asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnLivestockQuantity"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnLivestockQuantity"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}
@if (Model != null)
{
    <form asp-action="LivestockQuantity" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
        
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-fieldset>
                <govuk-fieldset-legend class="govuk-fieldset__legend--l">
                    
                </govuk-fieldset-legend>
                <govuk-input asp-for=@Model.LivestockQuantity type="number" inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false" min="0" max="999999">
                    <govuk-input-label is-page-heading="true" class="govuk-label--l">
                        @(string.Format(Resource.lblHowMuchDidYouImport, Model.ImportExport.Value == (int)NMP.Commons.Enums.ImportExport.Import ?
                                                Resource.lblImport.ToLower() : Resource.lblExport.ToLower()))<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, unit)</span>@Resource.lblQuestionMark
                    </govuk-input-label>
                    <govuk-input-hint>
                        @Resource.lblQuantityMustBeBetweenOneTo9999999
                    </govuk-input-hint>
                    <govuk-input-suffix>@unit</govuk-input-suffix>
                </govuk-input>
            </govuk-fieldset>


                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                @if (Model.IsCheckAnswer)
                    {
                        <a asp-action="LivestockImportExportCheckAnswer" asp-controller="Report">
                            @Resource.lblCancel
                        </a>
                    }
                    else
                    {
                        if (Model.IsManageImportExport)
                        {
                            <a asp-action="ManageImportExport" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId" asp-route-y="@Model.EncryptedHarvestYear">
                                @Resource.lblCancel
                            </a>
                        }
                        else if (string.IsNullOrWhiteSpace(Model.IsComingFromImportExportOverviewPage))
                        {
                            @if (!Model.IsCheckList)
                            {
                                <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                                    @Resource.lblCancel
                                </a>
                            }
                            else
                            {
                                <a asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report">
                                    @Resource.lblCancel
                                </a>
                            }
                        }
                        else
                        {
                            <a asp-action="UpdateLivestockImportExport" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId">
                                @Resource.lblCancel
                            </a>
                        }
                    }
                </p>

            </div>

        </div>
    </form>
}