@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    ViewData["Title"] = $"{string.Format(Resource.lblAddLivestockDetailsFor, Model.Year)} {Resource.lblHyphen} {Resource.lblAddLivestockNumber}";
    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);

    var cattle = (int)NMP.Commons.Enums.LivestockGroup.Cattle;
    var pigs = (int)NMP.Commons.Enums.LivestockGroup.Pigs;
    var poultry = (int)NMP.Commons.Enums.LivestockGroup.Poultry;
    var sheep = (int)NMP.Commons.Enums.LivestockGroup.Sheep;
    var goatsDeerOrHorses = (int)NMP.Commons.Enums.LivestockGroup.GoatsDeerOrHorses;

    var occupancyNitrogenOption = "";
    if (Model.OccupancyAndNitrogenOptions == (int)NMP.Commons.Enums.OccupancyNitrogenOptions.UseDefault)
    {
        occupancyNitrogenOption = Resource.lblYesUseTheseValues;
    }
    else if (Model.OccupancyAndNitrogenOptions == (int)NMP.Commons.Enums.OccupancyNitrogenOptions.ChangeOccupancy)
    {
        occupancyNitrogenOption = Resource.lblNoChangeTheOccupancyValue;
    }
    else if (Model.OccupancyAndNitrogenOptions == (int)NMP.Commons.Enums.OccupancyNitrogenOptions.ChangeNitrogen)
    {
        occupancyNitrogenOption = Resource.lblNoChangeTheNitrogenNStandardValue;
    }
    else if (Model.OccupancyAndNitrogenOptions == (int)NMP.Commons.Enums.OccupancyNitrogenOptions.DerogatedFarmChangeBoth)
    {
        occupancyNitrogenOption = Resource.lblNoChangeTheseValues;
    }
    var allEmpty = false;
    if (Model.NumbersInJanuary == null && Model.NumbersInFebruary == null &&
        Model.NumbersInMarch == null && Model.NumbersInApril == null &&
        Model.NumbersInMay == null && Model.NumbersInJune == null &&
        Model.NumbersInJuly == null && Model.NumbersInAugust == null &&
        Model.NumbersInSeptember == null && Model.NumbersInOctober == null &&
        Model.NumbersInNovember == null && Model.NumbersInDecember == null)
    {
        allEmpty = true;
    }
}

@section BeforeContent {
    <govuk-back-link asp-action=@(ViewBag.IsDataChange == true ? "Cancel" : "BackLivestockCheckAnswer") asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnLivestockCheckAnswer"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnLivestockCheckAnswer"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form class="form-with-overlay" asp-action="LivestockCheckAnswer" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <div hidden="true">
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportOption" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportTypeName" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NVZReportOption" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldAndPlanReportOption" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Country" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalFarmArea" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalAreaInNVZ" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockNumbers" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ImportsExportsOfLivestockManure" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckList" value="@Model.IsCheckList" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyLivestockImportExport" value="@Model.IsAnyLivestockImportExport" />
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ManureTypeId" />
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ManureTypeName" />
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ImportExport" />
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockQuantity" />
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockImportExportDate"></govuk-date-input>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.DryMatter" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.TotalN" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.NH4N" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.NO3N" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.Uric" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.P2O5" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.K2O" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.MgO" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.SO3" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DryMatterPercent" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.N" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NH4N" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NO3N" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UricAcid" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.P2O5" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.K2O" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MgO" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SO3" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReceiverName" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address1" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address2" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address3" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address4" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Postcode" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Comment" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromImportExportOverviewPage" />

            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManureTypeLiquid" />
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefaultFarmManureValueDate" value="@Model.DefaultFarmManureValueDate"></govuk-date-input>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsThisDefaultValueOfRB209" value="@Model.IsThisDefaultValueOfRB209" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyNeedToStoreNutrientValueForFuture" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefaultNutrientValue" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsDefaultValueChange" value="@Model.IsDefaultValueChange" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManageImportExport" value="@Model.IsManageImportExport" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromPlan" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromSuccessMsg" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsGrasslandDerogation" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassPercentage" />

            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyLivestockNumber" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockGroupId" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockGroupName" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockTypeId" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockTypeName" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockNumberQuestion" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AverageNumber" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInJanuary" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInFebruary" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInMarch" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInApril" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInMay" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInJune" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInJuly" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInAugust" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInSeptember" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInOctober" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInNovember" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInDecember" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AverageNumberOfPlaces" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AverageOccupancy" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NitrogenStandard" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsLivestockCheckAnswer" value="@Model.IsLivestockCheckAnswer.ToString().ToLower()" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OccupancyAndNitrogenOptions" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PhosphateStandard" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManageLivestock" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedNLLivestockID" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsLivestockGroupChange" value="@Model.IsLivestockGroupChange.ToString().ToLower()" />
            @if (Model.FieldList != null && Model.FieldList.Count > 0)
            {
                @for (int i = 0; i < Model.FieldList.Count; i++)
                {
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]" />
                }
            }
            @if (Model.CropTypeList != null && Model.CropTypeList.Count > 0)
            {
                @for (int i = 0; i < Model.CropTypeList.Count; i++)
                {
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeList[i]" value="@Model.CropTypeList[i]" />
                }
            }
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <govuk-fieldset>
                    <govuk-fieldset-legend class="govuk-fieldset__legend--l">
                        @if (string.IsNullOrWhiteSpace(Model.EncryptedNLLivestockID))
                        {
                            @(string.Format(Resource.lblAddLivestockDetailsFor, Model.Year))
                        }
                        else
                        {
                            @Resource.lblUpdateALivestockType
                        }
                    </govuk-fieldset-legend>

                    @*  <h1 class="govuk-heading-l">
                        @(string.Format(Resource.lblAddLivestockDetailsFor, Model.Year))
                    </h1> *@
                    @if (string.IsNullOrWhiteSpace(Model.EncryptedNLLivestockID))
                    {
                        <p class="govuk-heading-m">
                            @Resource.lblCheckYourAnswers
                        </p>
                    }


                    <div class="check-answers">
                        <govuk-summary-list>
                            @if (ViewBag.LiveStockList != null && ViewBag.LiveStockList.Count == 0)
                            {
                                <govuk-summary-list-row class=@(!Model.IsAnyLivestockNumber.HasValue ? "govuk-error-message":"")>
                                    <govuk-summary-list-row-key>
                                        @string.Format(Resource.lblDidYouHaveAnyLivestockOn, Model.FarmName, Model.Year)
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        @((Model.IsAnyLivestockNumber.HasValue) ? (Model.IsAnyLivestockNumber == true ? Resource.lblYes : Resource.lblNo) : Resource.lblNotSet)
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                        <govuk-summary-list-row-action asp-action="IsAnyLivestockNumber" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblDidYouHaveAnyLivestockOn, Model.FarmName, Model.Year)</span></govuk-summary-list-row-action>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>
                            }
                            <govuk-summary-list-row class=@(string.IsNullOrWhiteSpace(Model.LivestockGroupName) ? "govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblWhatTypeOfLivestockWouldYouLikeToAddFor, Model.Year)
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(!string.IsNullOrWhiteSpace(Model.LivestockGroupName) ? Model.LivestockGroupName : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    <govuk-summary-list-row-action asp-action="LivestockGroup" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblWhatTypeOfLivestockWouldYouLikeToAddFor, Model.Year)</span></govuk-summary-list-row-action>
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row class=@(string.IsNullOrWhiteSpace(Model.LivestockTypeName) ? "govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblWhatTypeOfLivestockGroupWouldYouLikeToAdd, Model.LivestockGroupName.ToLower())
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(!string.IsNullOrWhiteSpace(Model.LivestockTypeName) ? Model.LivestockTypeName : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                 </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>
                            @if (Model.LivestockGroupId == cattle || Model.LivestockGroupId == sheep || Model.LivestockGroupId == goatsDeerOrHorses)
                            {
                                <govuk-summary-list-row class=@(!Model.LivestockNumberQuestion.HasValue ? "govuk-error-message":"")>
                                    <govuk-summary-list-row-key>
                                        @string.Format(Resource.lblHowWouldYouLikeToEnterYourLivestockNumbers, ViewBag.LivestockCategoryForLivestockNumber, Model.Year)
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        @(Model.LivestockNumberQuestion.HasValue ? (Model.LivestockNumberQuestion == (int)NMP.Commons.Enums.LivestockNumberQuestion.ANumberForEachMonth ? Resource.lblEnterANumberForEachMonth : Resource.lblEnterTheAverageNumberForTheYear) : Resource.lblNotSet)
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                        <govuk-summary-list-row-action asp-action="LivestockNumberQuestion" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblHowWouldYouLikeToEnterYourLivestockNumbers, ViewBag.LivestockCategoryForLivestockNumber, Model.Year)</span></govuk-summary-list-row-action>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>
                                @if (Model.LivestockNumberQuestion == (int)NMP.Commons.Enums.LivestockNumberQuestion.ANumberForEachMonth)
                                {
                                    <govuk-summary-list-row class=@(allEmpty ? "govuk-error-message":"")>
                                        <govuk-summary-list-row-key>
                                            @(string.Format(Resource.lblTotalNumberOfThisTypePerMonth, ViewBag.LivestockCategory?.ToLower()))
                                        </govuk-summary-list-row-key>

                                        @if (!allEmpty)
                                        {
                                            <govuk-summary-list-row-value>
                                                <table class="nutrient_values">
                                                    <tbody>
                                                        <tr><td>@Resource.lblJanuary:</td>   <td>@(string.Format("{0:N0} {1}", (Model.NumbersInJanuary ?? 0), ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                        <tr><td>@Resource.lblFebruary:</td>  <td>@(string.Format("{0:N0} {1}", (Model.NumbersInFebruary ?? 0), ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                        <tr><td>@Resource.lblMarch:</td>     <td>@(string.Format("{0:N0} {1}", (Model.NumbersInMarch ?? 0), ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                        <tr><td>@Resource.lblApril:</td>     <td>@(string.Format("{0:N0} {1}", (Model.NumbersInApril ?? 0), ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                        <tr><td>@Resource.lblMay:</td>       <td>@(string.Format("{0:N0} {1}", (Model.NumbersInMay ?? 0), ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                        <tr><td>@Resource.lblJune:</td>      <td>@(string.Format("{0:N0} {1}", (Model.NumbersInJune ?? 0), ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                        <tr><td>@Resource.lblJuly:</td>      <td>@(string.Format("{0:N0} {1}", (Model.NumbersInJuly ?? 0), ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                        <tr><td>@Resource.lblAugust:</td>    <td>@(string.Format("{0:N0} {1}", (Model.NumbersInAugust ?? 0), ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                        <tr><td>@Resource.lblSeptember:</td> <td>@(string.Format("{0:N0} {1}", (Model.NumbersInSeptember ?? 0), ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                        <tr><td>@Resource.lblOctober:</td>   <td>@(string.Format("{0:N0} {1}", (Model.NumbersInOctober ?? 0), ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                        <tr><td>@Resource.lblNovember:</td>  <td>@(string.Format("{0:N0} {1}", (Model.NumbersInNovember ?? 0), ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                        <tr><td>@Resource.lblDecember:</td>  <td>@(string.Format("{0:N0} {1}", (Model.NumbersInDecember ?? 0), ViewBag.LivestockCategory?.ToLower()))</td></tr>
                                                    </tbody>
                                                </table>
                                            </govuk-summary-list-row-value>
                                        }
                                        else
                                        {
                                            <govuk-summary-list-row-value>
                                                @Resource.lblNotSet
                                            </govuk-summary-list-row-value>
                                        }


                                        <govuk-summary-list-row-actions>
                                            <govuk-summary-list-row-action asp-action="LivestockNumbersMonthly" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@(string.Format(Resource.lblTotalNumberOfThisTypePerMonth, ViewBag.LivestockCategory))</span></govuk-summary-list-row-action>
                                        </govuk-summary-list-row-actions>
                                    </govuk-summary-list-row>
                                }
                                else
                                {
                                    <govuk-summary-list-row class=@(!Model.AverageNumber.HasValue ? "govuk-error-message":"")>
                                        <govuk-summary-list-row-key>
                                            @string.Format(Resource.lblAverageTotalForYear, Model.Year)
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @(Model.AverageNumber.HasValue ? (string.Concat(string.Format("{0:N1}", Model.AverageNumber), " " + ViewBag.LivestockCategory?.ToLower())) : Resource.lblNotSet)
                                        </govuk-summary-list-row-value>
                                        <govuk-summary-list-row-actions>
                                            <govuk-summary-list-row-action asp-action="AverageNumber" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblAverageTotalForYear, Model.Year)</span></govuk-summary-list-row-action>
                                        </govuk-summary-list-row-actions>
                                    </govuk-summary-list-row>
                                }
                            }
                            else
                            {
                                <govuk-summary-list-row class=@(!Model.AverageNumberOfPlaces.HasValue ? "govuk-error-message":"")>
                                    <govuk-summary-list-row-key>
                                        @string.Format(Resource.lblWhatIsTheAverageTotalNumberOfThis, Model.LivestockGroupName.ToLower(), Model.Year)
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        @(Model.AverageNumberOfPlaces.HasValue ? (string.Concat(string.Format("{0:N1}", Model.AverageNumberOfPlaces), (Model.LivestockGroupId == (int)NMP.Commons.Enums.LivestockGroup.Pigs || Model.LivestockTypeId == (int)NMP.Commons.Enums.Livestock.OneOstrich) ? (" " + Resource.lblPlaces) : (" " + Resource.lblThousandPlaces))) : Resource.lblNotSet)
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                        <govuk-summary-list-row-action asp-action="NonGrazingLivestockAverageNumber" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblWhatIsTheAverageTotalNumberOfThis, Model.LivestockGroupName.ToLower(), Model.Year)</span></govuk-summary-list-row-action>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>
                                <govuk-summary-list-row class=@(!Model.OccupancyAndNitrogenOptions.HasValue ? "govuk-error-message":"")>
                                    <govuk-summary-list-row-key>
                                        @string.Format(Resource.lblDoYouWantToUseTheseValuesForThis, Model.LivestockGroupName.ToLower())
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        @(Model.OccupancyAndNitrogenOptions.HasValue? occupancyNitrogenOption:Resource.lblNotSet)
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                        <govuk-summary-list-row-action asp-action="OccupancyAndStandard" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblDoYouWantToUseTheseValuesForThis, Model.LivestockGroupName.ToLower())</span></govuk-summary-list-row-action>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>

                                <govuk-summary-list-row class=@(!Model.AverageOccupancy.HasValue ? "govuk-error-message":"")>
                                    <govuk-summary-list-row-key>
                                        @string.Format(Resource.lblWhatIsTheOccupancyForThis, Model.LivestockGroupName.ToLower(), Model.Year)
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        @(Model.AverageOccupancy.HasValue ? (string.Concat(Model.AverageOccupancy, Resource.lblPercentage)) : Resource.lblNotSet)
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                        <govuk-summary-list-row-action asp-action="Occupancy" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblWhatIsTheOccupancyForThis, Model.LivestockGroupName.ToLower(), Model.Year)</span></govuk-summary-list-row-action>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>

                            }
                            <govuk-summary-list-row class=@(!Model.NitrogenStandard.HasValue ? "govuk-error-message":"")>
                                <govuk-summary-list-row-key>
                                    @string.Format(Resource.lblWhatIsTheNitrogenNStandardForThis, Model.LivestockGroupName.ToLower(), Model.Year)
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(Model.NitrogenStandard.HasValue ? string.Format(Resource.lblKgPerYear, string.Format("{0:N1}",Model.NitrogenStandard.Value)) : Resource.lblNotSet)
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>
                                    @if (Model.LivestockGroupId == pigs || Model.LivestockGroupId == poultry)
                                    {
                                        <govuk-summary-list-row-action asp-action="NitrogenStandard" asp-controller="Report">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblWhatIsTheNitrogenNStandardForThis, Model.LivestockGroupName.ToLower(), Model.Year)</span></govuk-summary-list-row-action>
                                    }
                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>

                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>
                                    @Resource.lblTotalNitrogenProduced
                                </govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @(string.Format(Resource.lblKgPerYear, string.Format("{0:N0}", ViewBag.TotalNProduced)))
                                </govuk-summary-list-row-value>
                                <govuk-summary-list-row-actions>

                                </govuk-summary-list-row-actions>
                            </govuk-summary-list-row>

                            @if (Model.IsGrasslandDerogation.HasValue && Model.IsGrasslandDerogation == true)
                            {
                                <govuk-summary-list-row>
                                    <govuk-summary-list-row-key>
                                        @Resource.lblPhosphateStandardPerAnimalPerYear
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        @(string.Format(Resource.lblKgPerYear, string.Format("{0:N0}", Math.Round(Model.PhosphateStandard.Value, 0))))
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>
                                <govuk-summary-list-row>
                                    <govuk-summary-list-row-key>
                                        @Resource.lblTotalPhosphateProduced
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        @(string.Format(Resource.lblKgPerYear, string.Format("{0:N0}", ViewBag.TotalPProduced)))
                                    </govuk-summary-list-row-value>
                                    <govuk-summary-list-row-actions>
                                    </govuk-summary-list-row-actions>
                                </govuk-summary-list-row>
                            }
                        </govuk-summary-list>
                    </div>
                </govuk-fieldset>

                @if (!string.IsNullOrWhiteSpace(Model.EncryptedNLLivestockID))
                {
                    <govuk-inset-text>
                        <p class="govuk-body">
                            @Resource.lblYouCanAlso
                            <a asp-action="DeleteNLLivestock" asp-controller="Report">
                                @Resource.lblRemoveThisLivestockType
                            </a>
                            @Resource.lblFromYourManureNitrogenFarmLimitReport
                        </p>
                    </govuk-inset-text>
                }
                <govuk-button type="submit" class="margin-bottom-forty">
                    @if (string.IsNullOrWhiteSpace(Model.EncryptedNLLivestockID))
                    {
                        @Resource.lblAddThisLivestock
                    }
                    else
                    {
                        @Resource.lblUpdateThisLivestockType
                    }

                </govuk-button>
                <p class="govuk-body cancel-link">
                    @if (string.IsNullOrWhiteSpace(Model.EncryptedNLLivestockID))
                    {
                        <a asp-action="Cancel" asp-controller="Report">@Resource.lblCancel</a>
                    }
                    else
                    {
                        @if (ViewBag.IsDataChange != null && ViewBag.IsDataChange == true)
                        {
                            <a asp-action="Cancel" asp-controller="Report">@Resource.lblCancel</a>
                        }
                        else
                        {
                            <a asp-action="BackLivestockCheckAnswer" asp-controller="Report">@Resource.lblCancel</a>
                        }
                    }

                </p>

            </div>

        </div>
    </form>
}