@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    ViewData["Title"] = $"{string.Format(Resource.lblCreateALivestockManureNitrogenFarmLimitReportYear, Model.Year)} {Resource.lblHyphen} {Resource.lblReport}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.ReportWizardSteps.LivestockManureNitrogenReportChecklist;
}

@section BeforeContent {
    <govuk-back-link asp-action="BackCheckList" asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnLivestockManureNitrogenReportChecklist"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnLivestockManureNitrogenReportChecklist"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        @if (TempData["succesMsgContent"] != null)
        {
            <govuk-notification-banner type="NotificationBannerType.Success">
                <p class="govuk-notification-banner__heading">
                    @TempData["succesMsgContent"]
                </p>
            </govuk-notification-banner>
        }
    </div>
</div>
@if (!ViewData.ModelState.IsValid)
{
    var errorAction = "";
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <govuk-error-summary>
                @foreach (var state in ViewData.ModelState)
                {
                    foreach (var error in state.Value.Errors)
                    {
                        if (error.ErrorMessage.Equals(string.Format(Resource.MsgDerogationForYearMustBeCompleted, Model.Year)))
                        {
                            errorAction = "IsGrasslandDerogation";
                        }
                        if (error.ErrorMessage.Equals(string.Format(Resource.MsgFarmAreaForYearMustBeCompleted, Model.Year)))
                        {
                            errorAction = "FarmAreaForLivestockManure";
                        }
                        if (error.ErrorMessage.Equals(string.Format(Resource.MsgLivestockNumbersForYearMustBeCompleted, Model.Year)))
                        {
                            errorAction = "#LivestockManureNitrogenReportChecklist";
                        }
                        if (error.ErrorMessage.Equals(string.Format(Resource.MsgImportsAndExportsOfManureForYearMustBeCompleted, Model.Year)))
                        {
                            errorAction = "#LivestockManureNitrogenReportChecklist";
                        }

                        <govuk-error-summary-item href="@errorAction">
                            @error.ErrorMessage
                        </govuk-error-summary-item>
                    }
                }
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <form asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report" method="post" autocomplete="off">
                @Html.AntiForgeryToken()
                @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)

                <h1 class="govuk-heading-l">
                    @(Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales ? string.Format(Resource.lblCreateHoldingNitrogenLimitForYear, Model.Year) : string.Format(Resource.lblCreateALivestockManureNitrogenFarmLimitReportYear, Model.Year))
                </h1>

                <p class="govuk-hint">
                    @Resource.lblCompleteEachSectionToCreateTheReport
                </p>

                <div class="check-answers margin-bottom-forty">                    
                    <ul class="govuk-task-list">
                        @if (Model.Country != (int)NMP.Commons.Enums.FarmCountry.Wales)
                        {
                            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                                <div class="govuk-task-list__name-and-hint">
                                    <a class="govuk-link govuk-task-list__link" asp-action="IsGrasslandDerogation" asp-controller="Report" aria-describedby="IsGrasslandDerogation">
                                        @Resource.lblDerogation
                                    </a>
                                </div>
                                <div class="govuk-task-list__status" id="IsGrasslandDerogation">
                                    @if (Model.IsGrasslandDerogation != null)
                                    {
                                        @Resource.lblCompleted
                                    }
                                    else
                                    {
                                        <strong class="govuk-tag govuk-tag--blue">
                                            @Resource.lblIncomplete
                                        </strong>
                                    }
                                </div>
                            </li>
                        }

                        <!-- AREA -->
                        <li class="govuk-task-list__item govuk-task-list__item--with-link">
                            <div class="govuk-task-list__name-and-hint">
                                <a class="govuk-link govuk-task-list__link" asp-action="FarmAreaForLivestockManure" asp-controller="Report" aria-describedby="TotalFarmArea">
                                    @Resource.lblFarmArea
                                </a>
                            </div>
                            <div class="govuk-task-list__status" id="TotalFarmArea">

                                @if ((Model.IsGrasslandDerogation == false && Model.TotalFarmArea != null && (Model.Country != (int)NMP.Commons.Enums.FarmCountry.Wales ? Model.TotalAreaInNVZ != null : true))
                                                            || (Model.IsGrasslandDerogation == true && Model.TotalFarmArea != null && (Model.Country != (int)NMP.Commons.Enums.FarmCountry.Wales ? Model.TotalAreaInNVZ != null : true) && Model.GrassPercentage != null))
                                {
                                    @Resource.lblCompleted
                                }
                                else
                                {
                                    <strong class="govuk-tag govuk-tag--blue">
                                        @Resource.lblIncomplete
                                    </strong>
                                }
                            </div>
                        </li>

                        <!-- LIVESTOCK -->
                        <li class="govuk-task-list__item govuk-task-list__item--with-link">
                            @if (ViewBag.IsAnyLivestockNumberFromFarmDetail != null || Model.IsAnyLivestockNumber.HasValue ||
                                                    (ViewBag.NutrientLivestockData != null && ViewBag.NutrientLivestockData.Count > 0))
                            {
                                <div class="govuk-task-list__name-and-hint">
                                    @if (ViewBag.NutrientLivestockData != null && ViewBag.NutrientLivestockData.Count > 0)
                                    {
                                        <a class="govuk-link govuk-task-list__link" asp-action="ManageLivestock" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId" asp-route-y="@Model.EncryptedHarvestYear" aria-describedby="LivestockNumbers">
                                            @Resource.lblLivestockNumbers
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="govuk-link govuk-task-list__link" asp-action="IsAnyLivestockNumber" asp-controller="Report" aria-describedby="LivestockNumbers">
                                            @Resource.lblLivestockNumbers
                                        </a>
                                    }
                                </div>
                                <div class="govuk-task-list__status" id="LivestockNumbers">
                                    @Resource.lblCompleted
                                </div>
                            }
                            else
                            {
                                <div class="govuk-task-list__name-and-hint">
                                    <a class="govuk-link govuk-task-list__link" asp-action="IsAnyLivestockNumber" asp-controller="Report" aria-describedby="LivestockNumbers">
                                        @Resource.lblLivestockNumbers
                                    </a>
                                </div>
                                <div class="govuk-task-list__status" id="LivestockNumbers">
                                    <strong class="govuk-tag govuk-tag--blue">
                                        @Resource.lblIncomplete
                                    </strong>
                                </div>
                            } 
                            

                        </li>

                        <!-- IMPORTS AND EXPORTS -->
                        <li class="govuk-task-list__item govuk-task-list__item--with-link">
                            <div class="govuk-task-list__name-and-hint">
                                <a class="govuk-link govuk-task-list__link" asp-action="ManageImportExport" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId" asp-route-y="@Model.EncryptedHarvestYear" aria-describedby="ImportsExportsOfLivestockManure">
                                    @Resource.lblImportsExportsOfLivestockManure
                                </a>

                            </div>
                            <div class="govuk-task-list__status" id="ImportsExportsOfLivestockManure">
                                @if (Model.IsAnyLivestockImportExport.HasValue || ViewBag.IsAnyLivestockImportExportFromFarmDetail != null ||
                                                            (ViewBag.NutrientsLoadingManuresData != null && ViewBag.NutrientsLoadingManuresData.Count > 0))
                                {
                                    @Resource.lblCompleted
                                }
                                else
                                {
                                    <strong class="govuk-tag govuk-tag--blue">
                                        @Resource.lblIncomplete
                                    </strong>
                                }
                            </div>

                        </li>

                    </ul>
                </div>


                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblCreateReport
                </govuk-button>
                <p class="govuk-body cancel-link">
                    @if ((Model.IsComingFromPlan.HasValue && Model.IsComingFromPlan.Value))
                    {
                        <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">
                            @Resource.lblCancel
                        </a>
                    }
                    else
                    {
                        <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                            @Resource.lblCancel
                        </a>
                    }
                </p>


            </form>
        </div>
    </div>
}