@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    string action = string.IsNullOrWhiteSpace(Model.EncryptedId) ? Char.ToUpper(Resource.lblAdd[0]) + Resource.lblAdd.Substring(1) : Resource.lblUpdate;
    string heading = string.Format(Resource.lblLivestockCommentContent1,
                        Model.ImportExport.Value == (int)NMP.Commons.Enums.ImportExport.Import ?
                        Resource.lblImport.ToLower() : Resource.lblExport.ToLower());
    ViewData["Title"] = $"{heading} {Resource.lblHyphen}  {action} {Resource.lblImportsExportsOfLivestockManure}";
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.ReportWizardSteps.LivestockComment;
}

@section BeforeContent {
    <govuk-back-link asp-action=@(Model.IsCheckAnswer ?
                                      "LivestockImportExportCheckAnswer" : "LivestockReceiver") asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnLivestockComment"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnLivestockComment"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}
@if (Model != null)
{
    <form asp-action="LivestockComment" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-textarea asp-for="@Model.Comment" rows="5">
                    <govuk-textarea-label is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblLivestockCommentContent1,
                        Model.ImportExport.Value == (int)NMP.Commons.Enums.ImportExport.Import ?
                        Resource.lblImport.ToLower() : Resource.lblExport.ToLower())
                    </govuk-textarea-label>
                    <govuk-textarea-hint>
                    @string.Format(Resource.lblLivestockCommentContent2, Model.ImportExport.Value == (int)NMP.Commons.Enums.ImportExport.Import ?
                                        Resource.lblImport.ToLower() : Resource.lblExport.ToLower())
                    </govuk-textarea-hint>
                </govuk-textarea>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
                 @* <p class="govuk-body cancel-link">
                     @if (!Model.IsCheckList)
                        {
                             <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                               @Resource.lblCancel
                             </a>
                         }
                         else
                         {
                             <a asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report">
                                 @Resource.lblCancel
                             </a>
                         }
                  </p> *@
            </div>
        </div>
    </form>
}