@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    string action = !string.IsNullOrWhiteSpace(Model.EncryptedId) ? Resource.lblUpdate : Char.ToUpper(Resource.lblAdd[0]) + Resource.lblAdd.Substring(1);


    string heading = (string.Format(Resource.lblWhenDidYouThisLivestockManure, Model.ImportExport.Value == (int)NMP.Commons.Enums.ImportExport.Import ?
                                                        Resource.lblImport.ToLower() : Resource.lblExport.ToLower()));
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {action} {Resource.lblImportsExportsOfLivestockManure}";
    var backAction = "";
    // if (Model.ManureGroupIdForFilter == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials || Model.ManureGroupIdForFilter == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials)
    // {
    //     backAction = "ManureGroup";
    // }
    // else if (Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials || Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials)
    // {
    //     backAction = "OtherMaterialName";
    // }
    // else if (Model.IsCheckAnswer && (!Model.IsManureTypeChange))
    // {
    //     backAction = "LivestockImportExportCheckAnswer";
    // }
    // else
    // {
    //     backAction = "ManureType";
    // }

    if (Model.IsCheckAnswer && (!Model.IsManureTypeChange))
    {
        backAction = "LivestockImportExportCheckAnswer";
    }
    else
    {
        backAction = "ManureType";
    }
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.ReportWizardSteps.LivestockImportExportDate;
}

@section BeforeContent {
    <govuk-back-link asp-action=@backAction asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnLivestockImportExportDate"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnLivestockImportExportDate"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}
@if (Model != null)
{
    <form asp-action="LivestockImportExportDate" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-date-input asp-for="@Model.LivestockImportExportDate">
                    <govuk-date-input-fieldset>
                        <govuk-date-input-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                            @heading
                        </govuk-date-input-fieldset-legend>
                        <govuk-date-input-hint>
                            <p>@string.Format(Resource.lblSampleDate, DateTime.Now.Year - 1)</p>
                        </govuk-date-input-hint>
                        <govuk-date-input-day maxlength="2" pattern="[0-9]*"></govuk-date-input-day>
                        <govuk-date-input-month maxlength="2" pattern="[0-9]*"></govuk-date-input-month>
                        <govuk-date-input-year maxlength="4" pattern="[0-9]*"></govuk-date-input-year>
                    </govuk-date-input-fieldset>
                </govuk-date-input>

                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                    @if (Model.IsCheckAnswer)
                    {
                        <a asp-action="LivestockImportExportCheckAnswer" asp-controller="Report">
                            @Resource.lblCancel
                        </a>
                    }
                    else
                    {
                        if (Model.IsManageImportExport)
                        {
                            <a asp-action="ManageImportExport" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId" asp-route-y="@Model.EncryptedHarvestYear">
                                @Resource.lblCancel
                            </a>
                        }
                        else
  @if (string.IsNullOrWhiteSpace(Model.IsComingFromImportExportOverviewPage))
                        {
                            @if (!Model.IsCheckList)
                            {
                                <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                                    @Resource.lblCancel
                                </a>
                            }
                            else
                            {
                                <a asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report">
                                    @Resource.lblCancel
                                </a>
                            }
                        }
                        else
                        {
                            <a asp-action="UpdateLivestockImportExport" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId">
                                @Resource.lblCancel
                            </a>
                        }
                    }
                </p>

            </div>

        </div>
    </form>
}