@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.ReportWizardSteps.LivestockManualNutrientValue;
    var suffixUnit = "";
    string heading = string.Empty;
    @if (Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials || Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials)
    {
        heading = string.Format(Resource.lblEnterTheValuesForYour, Model.OtherMaterialName);
    }
    else
    {
        heading = string.Format(Resource.lblEnterTheValuesForYour, Model.ManureTypeName);
    }
    string action = string.Empty;
    @if (!string.IsNullOrWhiteSpace(Model.EncryptedId))
    {
        action = Resource.lblUpdate;
    }
    else
    {
        action = Char.ToUpper(Resource.lblAdd[0]) + Resource.lblAdd.Substring(1);
    }
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {action} {Resource.lblImportsExportsOfLivestockManure}";
    if (Model.IsManureTypeLiquid != null)
    {
        suffixUnit = Model.IsManureTypeLiquid.Value ? Resource.lblKgPerMeterCube : Resource.lblKgPerTonne;
    }
    var backAction = "";
    @if (Model.IsCheckAnswer && (!Model.IsManureTypeChange))
    {
        backAction = "LivestockImportExportCheckAnswer";
    }
    else
    {
        if (Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials || Model.ManureTypeId == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials)
        {
            if (Model.ManureGroupIdForFilter == (int)NMP.Commons.Enums.ManureTypes.OtherLiquidMaterials || Model.ManureGroupIdForFilter == (int)NMP.Commons.Enums.ManureTypes.OtherSolidMaterials)
            {
                backAction = "LivestockDefaultNutrientValue";
            }
            else
            {
                backAction = "LivestockQuantity";
            }
        }
        else
        {
            backAction = "LivestockDefaultNutrientValue";
        }
    }
}

@section BeforeContent {
    <govuk-back-link asp-action=@backAction asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnLivestockManualNutrientValue"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnLivestockManualNutrientValue"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}
@if (Model != null)
{
    <form asp-action="LivestockManualNutrientValue" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <govuk-fieldset>
                    <govuk-fieldset-legend class="govuk-fieldset__legend--l">
                        @heading
                    </govuk-fieldset-legend>

                    <govuk-input asp-for=@Model.DryMatterPercent inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label is-page-heading="true">
                            @Resource.lblDryMatter
                            <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, Resource.lblPercentage)</span>
                        </govuk-input-label>

                        <govuk-input-suffix>@Resource.lblPercentage</govuk-input-suffix>
                    </govuk-input>
                    <govuk-input asp-for=@Model.N inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label is-page-heading="true">
                            @Resource.lblTotalNitrogenN
                            <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, suffixUnit)</span>
                        </govuk-input-label>
                        <govuk-input-suffix>@suffixUnit</govuk-input-suffix>
                    </govuk-input>
                    <govuk-input asp-for=@Model.NH4N inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label is-page-heading="true">
                            @Resource.lblAmmoniumHypenN
                            <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, suffixUnit)</span>
                        </govuk-input-label>
                        <govuk-input-suffix>@suffixUnit</govuk-input-suffix>
                    </govuk-input>
                    <govuk-input asp-for=@Model.UricAcid inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label is-page-heading="true">@Resource.lblUricAcidN</govuk-input-label>
                        <govuk-input-suffix>@suffixUnit</govuk-input-suffix>
                    </govuk-input>
                    <govuk-input asp-for=@Model.NO3N inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label is-page-heading="true">
                            @Resource.lblNitrateHypenN
                            <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, suffixUnit)</span>
                        </govuk-input-label>
                        <govuk-input-suffix>@suffixUnit</govuk-input-suffix>
                    </govuk-input>
                    <govuk-input asp-for=@Model.P2O5 inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label is-page-heading="true">
                            @Resource.lblPhosphateP2O5
                            <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, suffixUnit)</span>
                        </govuk-input-label>
                        <govuk-input-suffix>@suffixUnit</govuk-input-suffix>
                    </govuk-input>
                    <govuk-input asp-for=@Model.K2O inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label is-page-heading="true">
                            @Resource.lblPotashK2O
                            <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, suffixUnit)</span>
                        </govuk-input-label>
                        <govuk-input-suffix>@suffixUnit</govuk-input-suffix>
                    </govuk-input>
                    <govuk-input asp-for=@Model.SO3 inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label is-page-heading="true">
                            @Resource.lblSulphurSO3
                            <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, suffixUnit)</span>
                        </govuk-input-label>
                        <govuk-input-suffix>@suffixUnit</govuk-input-suffix>
                    </govuk-input>
                    <govuk-input asp-for=@Model.MgO inputmode="numeric" input-class="govuk-input--width-5" spellcheck="false">
                        <govuk-input-label is-page-heading="true">
                            @Resource.lblMagnesiumMgO
                            <span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, suffixUnit)</span>
                        </govuk-input-label>
                        <govuk-input-suffix>@suffixUnit</govuk-input-suffix>
                    </govuk-input>
                </govuk-fieldset>
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                    @if (Model.IsCheckAnswer)
                    {
                        <a asp-action="LivestockImportExportCheckAnswer" asp-controller="Report">
                            @Resource.lblCancel
                        </a>
                    }
                    else
                    {
                        if (Model.IsManageImportExport)
                        {
                            <a asp-action="ManageImportExport" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId" asp-route-y="@Model.EncryptedHarvestYear">
                                @Resource.lblCancel
                            </a>
                        }
                        else
                @if (string.IsNullOrWhiteSpace(Model.IsComingFromImportExportOverviewPage))
                        {
                            @if (!Model.IsCheckList)
                            {
                                <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                                    @Resource.lblCancel
                                </a>
                            }
                            else
                            {
                                <a asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report">
                                    @Resource.lblCancel
                                </a>
                            }
                        }
                        else
                        {
                            <a asp-action="UpdateLivestockImportExport" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId">
                                @Resource.lblCancel
                            </a>
                        }
                    }
                </p>

            </div>

        </div>
    </form>
}