@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    ViewData["Title"] = $"{string.Format(Resource.lblMonthlyTotalsForThis, ViewBag.LivestockCategory != null ? ViewBag.LivestockCategory.ToString().ToLower() : ViewBag.LivestockCategory, Model.Year)} {Resource.lblHyphen} {Resource.lblAddLivestockNumber}";
    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);

    var allEmpty = false;
    if (Model.NumbersInJanuary == null && Model.NumbersInFebruary == null &&
        Model.NumbersInMarch == null && Model.NumbersInApril == null &&
        Model.NumbersInMay == null && Model.NumbersInJune == null &&
        Model.NumbersInJuly == null && Model.NumbersInAugust == null &&
        Model.NumbersInSeptember == null && Model.NumbersInOctober == null &&
        Model.NumbersInNovember == null && Model.NumbersInDecember == null)
    {
        allEmpty = true;
    }
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.ReportWizardSteps.LivestockNumbersMonthly;
}

@section BeforeContent {
    <govuk-back-link asp-action="@((Model.IsLivestockCheckAnswer && !Model.IsLivestockGroupChange) ? "LivestockCheckAnswer" : "LivestockNumberQuestion")" asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnLivestockNumbersMonthly"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnLivestockNumbersMonthly"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="LivestockNumbersMonthly" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <govuk-fieldset>
                    <govuk-fieldset-legend class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblMonthlyTotalsForThis, ViewBag.LivestockCategory != null ? ViewBag.LivestockCategory.ToString().ToLower() : ViewBag.LivestockCategory, Model.Year)
                    </govuk-fieldset-legend>

                    <p class="govuk-body">@string.Format(Resource.lblSelectedLivestockType, Model.LivestockTypeName)</p>
                    <div class="margin-bottom-thirty">
                        <p class="govuk-body">@string.Format(Resource.lblNitrogenStandard, Model.NitrogenStandard)</p>
                        @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                        {
                            <p class="govuk-body">@string.Format(Resource.lblPhosphateStandard, Model.PhosphateStandard)</p>
                        }
                    </div>
                    <govuk-input asp-for=@Model.NumbersInJanuary type="number" step="any" spellcheck="false">
                        <govuk-input-label is-page-heading="false">
                            @string.Format(Resource.lblNumberInMonthSuffix, Resource.lblJanuary, Model.Year)<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, ViewBag.LivestockCategory)</span>@Resource.lblQuestionMark
                        </govuk-input-label>
                    <govuk-input-suffix>
                        @(ViewBag.LivestockCategory != null
                                                ? ViewBag.LivestockCategory.ToLower()
                                                : "")
                                                 </govuk-input-suffix>

                    </govuk-input>
                    <govuk-input asp-for=@Model.NumbersInFebruary type="number" step="any" spellcheck="false">
                        <govuk-input-label is-page-heading="false">
                            @string.Format(Resource.lblNumberInMonthSuffix, Resource.lblFebruary, Model.Year)<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, ViewBag.LivestockCategory)</span>@Resource.lblQuestionMark
                        </govuk-input-label>
                    <govuk-input-suffix>
                        @(ViewBag.LivestockCategory != null
                                                ? ViewBag.LivestockCategory.ToLower()
                                                : "")
                    </govuk-input-suffix>

                    </govuk-input>
                    <govuk-input asp-for=@Model.NumbersInMarch type="number" step="any" spellcheck="false">
                        <govuk-input-label is-page-heading="false">
                            @string.Format(Resource.lblNumberInMonthSuffix, Resource.lblMarch, Model.Year)<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, ViewBag.LivestockCategory)</span>@Resource.lblQuestionMark
                        </govuk-input-label>
                    <govuk-input-suffix>
                        @(ViewBag.LivestockCategory != null
                                                ? ViewBag.LivestockCategory.ToLower()
                                                : "")
                    </govuk-input-suffix>

                    </govuk-input>
                    <govuk-input asp-for=@Model.NumbersInApril type="number" step="any" spellcheck="false">
                        <govuk-input-label is-page-heading="false">
                            @string.Format(Resource.lblNumberInMonthSuffix, Resource.lblApril, Model.Year)<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, ViewBag.LivestockCategory)</span>@Resource.lblQuestionMark
                        </govuk-input-label>
                    <govuk-input-suffix>
                        @(ViewBag.LivestockCategory != null
                                                ? ViewBag.LivestockCategory.ToLower()
                                                : "")
                    </govuk-input-suffix>

                    </govuk-input>
                    <govuk-input asp-for=@Model.NumbersInMay type="number" step="any" spellcheck="false">
                        <govuk-input-label is-page-heading="false">
                            @string.Format(Resource.lblNumberInMonthSuffix, Resource.lblMay, Model.Year)<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, ViewBag.LivestockCategory)</span>@Resource.lblQuestionMark
                        </govuk-input-label>
                    <govuk-input-suffix>
                        @(ViewBag.LivestockCategory != null
                                                ? ViewBag.LivestockCategory.ToLower()
                                                : "")
                    </govuk-input-suffix>

                    </govuk-input>
                    <govuk-input asp-for=@Model.NumbersInJune type="number" step="any" spellcheck="false">
                        <govuk-input-label is-page-heading="false">
                            @string.Format(Resource.lblNumberInMonthSuffix, Resource.lblJune, Model.Year)<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, ViewBag.LivestockCategory)</span>@Resource.lblQuestionMark
                        </govuk-input-label>
                    <govuk-input-suffix>
                        @(ViewBag.LivestockCategory != null
                                                ? ViewBag.LivestockCategory.ToLower()
                                                : "")
                    </govuk-input-suffix>

                    </govuk-input>
                    <govuk-input asp-for=@Model.NumbersInJuly type="number" step="any" spellcheck="false">
                        <govuk-input-label is-page-heading="false">
                            @string.Format(Resource.lblNumberInMonthSuffix, Resource.lblJuly, Model.Year)<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, ViewBag.LivestockCategory)</span>@Resource.lblQuestionMark
                        </govuk-input-label>
                    <govuk-input-suffix>
                        @(ViewBag.LivestockCategory != null
                                                ? ViewBag.LivestockCategory.ToLower()
                                                : "")
                    </govuk-input-suffix>

                    </govuk-input>
                    <govuk-input asp-for=@Model.NumbersInAugust type="number" step="any" spellcheck="false">
                        <govuk-input-label is-page-heading="false">
                            @string.Format(Resource.lblNumberInMonthSuffix, Resource.lblAugust, Model.Year)<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, ViewBag.LivestockCategory)</span>@Resource.lblQuestionMark
                        </govuk-input-label>
                    <govuk-input-suffix>
                        @(ViewBag.LivestockCategory != null
                                                ? ViewBag.LivestockCategory.ToLower()
                                                : "")
                    </govuk-input-suffix>

                    </govuk-input>
                    <govuk-input asp-for=@Model.NumbersInSeptember type="number" step="any" spellcheck="false">
                        <govuk-input-label is-page-heading="false">
                            @string.Format(Resource.lblNumberInMonthSuffix, Resource.lblSeptember, Model.Year)<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, ViewBag.LivestockCategory)</span>@Resource.lblQuestionMark
                        </govuk-input-label>
                    <govuk-input-suffix>
                        @(ViewBag.LivestockCategory != null
                                                ? ViewBag.LivestockCategory.ToLower()
                                                : "")
                    </govuk-input-suffix>

                    </govuk-input>
                    <govuk-input asp-for=@Model.NumbersInOctober type="number" step="any" spellcheck="false">
                        <govuk-input-label is-page-heading="false">
                            @string.Format(Resource.lblNumberInMonthSuffix, Resource.lblOctober, Model.Year)<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, ViewBag.LivestockCategory)</span>@Resource.lblQuestionMark
                        </govuk-input-label>
                    <govuk-input-suffix>
                        @(ViewBag.LivestockCategory != null
                                                ? ViewBag.LivestockCategory.ToLower()
                                                : "")
                    </govuk-input-suffix>

                    </govuk-input>
                    <govuk-input asp-for=@Model.NumbersInNovember type="number" step="any" spellcheck="false">
                        <govuk-input-label is-page-heading="false">
                            @string.Format(Resource.lblNumberInMonthSuffix, Resource.lblNovember, Model.Year)<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, ViewBag.LivestockCategory)</span>@Resource.lblQuestionMark
                        </govuk-input-label>
                    <govuk-input-suffix>
                        @(ViewBag.LivestockCategory != null
                                                ? ViewBag.LivestockCategory.ToLower()
                                                : "")
                    </govuk-input-suffix>

                    </govuk-input>
                    <govuk-input asp-for=@Model.NumbersInDecember type="number" step="any" spellcheck="false">
                        <govuk-input-label is-page-heading="false">
                            @string.Format(Resource.lblNumberInMonthSuffix, Resource.lblDecember, Model.Year)<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, ViewBag.LivestockCategory)</span>@Resource.lblQuestionMark
                        </govuk-input-label>
                    <govuk-input-suffix>
                        @(ViewBag.LivestockCategory != null
                                                ? ViewBag.LivestockCategory.ToLower()
                                                : "")
                    </govuk-input-suffix>

                    </govuk-input>
                </govuk-fieldset>
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>



                <p class="govuk-body cancel-link">
                    @if (!Model.IsManageLivestock || (Model.IsManageLivestock && Model.IsLivestockCheckAnswer))
                    {
                        @if (!Model.IsLivestockCheckAnswer)
                        {
                            <a asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report">
                                @Resource.lblCancel
                            </a>
                        }
                        else
                        {
                            <a asp-action="LivestockCheckAnswer" asp-controller="Report">
                                @Resource.lblCancel
                            </a>
                        }
                    }
                    else
                    {
                        <a asp-action="ManageLivestock" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId" asp-route-y="@Model.EncryptedHarvestYear">
                            @Resource.lblCancel
                        </a>
                    }
                </p>

            </div>

        </div>
    </form>
}