@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    ViewData["Title"] = $"{string.Format(Resource.lblLivestockDetailsYear, Model.Year)} {Resource.lblHyphen} {Resource.lblLivestockNumbers} ";
    var dataLists = new List<(string Name, dynamic Data)>
    {
        ("Cattle", ViewBag.CattleList),
        ("Pigs", ViewBag.PigsList),
        ("Poultry", ViewBag.PoultryList),
        ("Sheep", ViewBag.SheepList),
        ("GoatsDeerAndHorses", ViewBag.GoatsDeerAndHorsesList)
    };

    var nonEmptyLists = dataLists.Where(x => x.Data != null && x.Data.Count > 0).ToList();

    decimal totalNitrogenCattle = 0;
    decimal totalNitrogenPigs = 0;
    decimal totalNitrogenPoultry = 0;
    decimal totalNitrogenSheep = 0;
    decimal totalNitrogenGoatsDeerAndHorses = 0;

    decimal totalPhosphateCattle = 0;
    decimal totalPhosphatePigs = 0;
    decimal totalPhosphatePoultry = 0;
    decimal totalPhosphateSheep = 0;
    decimal totalPhosphateGoatsDeerAndHorses = 0;
}

@section BeforeContent {   
    <govuk-back-link asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnManageLivestock"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnManageLivestock"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        @if (TempData["succesMsgContent1"] != null)
        {
            <govuk-notification-banner type="NotificationBannerType.Success">
                <p class="govuk-notification-banner__heading">
                    @TempData["succesMsgContent1"]
                </p>
                @if (TempData["succesMsgContent2"] != null || TempData["RemoveSuccessMsg"] != null)
                {
                    <p class="govuk-body">
                        <a asp-action="LivestockGroup" asp-controller="Report" class="govuk-notification-banner__link">
                            @(TempData["succesMsgContent2"] != null ? TempData["succesMsgContent2"] : TempData["RemoveSuccessMsg"])
                        </a>
                    </p>
                }
                @if (TempData["succesMsgContent3"] != null)
                {
                    <p class="govuk-body">
                        <a class="govuk-notification-banner__link" asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report" asp-route-q="@ViewBag.isComingFromSuccessMsg">
                            @TempData["succesMsgContent3"]
                        </a>
                    </p>
                }
            </govuk-notification-banner>
        }
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        @if (TempData["ManageLivestockError"] != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ManageLivestockError"]</govuk-error-summary-item>
            </govuk-error-summary>
        }
        <span class="name govuk-caption-l">@Model.FarmName</span>
        <h1 class="govuk-heading-l" id="header">@string.Format(Resource.lblLivestockDetailsYear, Model.Year)</h1>

        <p class="govuk-body">
            <a class="govuk-button" asp-action="LivestockGroup" asp-controller="Report">
                @Resource.lblAddALivestockType
            </a>
        </p>

        @if (nonEmptyLists.Count == 1)
        {
            @if (ViewBag.CattleList != null && ViewBag.CattleList.Count > 0)
            {
                <h2 class="govuk-heading-m">@Resource.lblCattle</h2>                
                <div class="table-container margin-bottom-ten">
                    <table class="govuk-table data-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header livestock-type">@Resource.lblCattleType</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblLivestockReportContentSeventeen</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblNitrogenNStandard</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblTotalNitrogenProduced</th>
                                @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                {
                                    <th scope="col" class="govuk-table__header">@Resource.lblPhosphateP2O5Standard</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblTotalPhosphate</th>
                                }
                                <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">@Resource.lblAction</span></th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var cattle in ViewBag.CattleList)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">@cattle.LivestockTypeName</td>
                                    <td class="govuk-table__cell">@string.Format("{0:N2}", cattle.Units)</td>
                                    <td class="govuk-table__cell">
                                        @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(cattle.NByUnit, 0)))
                                    </td>
                                    <td class="govuk-table__cell">
                                        @string.Format("{0:N0}{1}", cattle.TotalNProduced, Resource.lblkg)
                                    </td>
                                    @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                    {
                                        <td class="govuk-table__cell">
                                            @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(cattle.PByUnit, 0)))
                                        </td>
                                        <td class="govuk-table__cell">
                                            @string.Format("{0:N0}{1}", cattle.TotalPProduced, Resource.lblkg)
                                        </td>
                                    }
                                    <td class="govuk-table__cell">
                                        <a asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-LivestockId="@cattle.EncryptedID">
                                            @Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblLivestockDetailsYear, Model.Year)</span>
                                        </a>
                                    </td>
                                    @*<td class="govuk-table__cell"><a asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-i="@cattle.EncryptedID">@Resource.lblChange</a></td> *@
                                </tr>
                                totalNitrogenCattle = totalNitrogenCattle + cattle.TotalNProduced;
                                totalPhosphateCattle = totalPhosphateCattle + cattle.TotalPProduced;
                            }
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell strong">@Resource.lblTotals</td>
                                <td class="govuk-table__cell">-</td>
                                <td class="govuk-table__cell">-</td>
                                <td class="govuk-table__cell strong">
                                    @string.Format("{0:N0}{1}", totalNitrogenCattle, Resource.lblkg)
                                </td>
                                @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                {
                                    <td class="govuk-table__cell">-</td>
                                    <td class="govuk-table__cell strong">
                                        @string.Format("{0:N0}{1}", totalPhosphateCattle, Resource.lblkg)
                                    </td>
                                }
                                <td class="govuk-table__cell">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
            @if (ViewBag.PigsList != null && ViewBag.PigsList.Count > 0)
            {
                <h2 class="govuk-heading-m">@Resource.lblPigs</h2>
                <div class="table-container margin-bottom-ten">
                    <table class="govuk-table data-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">@Resource.lblPigType</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblLivestockReportContentSeventeen</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblOccupancy</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblNitrogenNStandard</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblTotalNitrogenProduced</th>
                                @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                {
                                    <th scope="col" class="govuk-table__header">@Resource.lblPhosphateP2O5Standard</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblTotalPhosphate</th>
                                }
                                <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">@Resource.lblAction</span></th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var pig in ViewBag.PigsList)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">@pig.LivestockTypeName</td>
                                    <td class="govuk-table__cell">@string.Format("{0:N2}", pig.Units)</td>
                                    <td class="govuk-table__cell">
                                        @string.Format("{0:N0}{1}", pig.Occupancy, Resource.lblPercentage)
                                    </td>
                                    <td class="govuk-table__cell">
                                        @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(pig.NByUnit, 0)))
                                    </td>
                                    @* <td class="govuk-table__cell"> @string.Format("{0}{1}", pig.NByUnit, Resource.lblkg)</td> *@
                                    <td class="govuk-table__cell">
                                        @string.Format("{0:N0}{1}", pig.TotalNProduced, Resource.lblkg)
                                    </td>
                                    @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                    {
                                        <td class="govuk-table__cell">
                                            @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(pig.PByUnit, 0)))
                                        </td>
                                        <td class="govuk-table__cell">
                                            @string.Format("{0:N0}{1}", pig.TotalPProduced, Resource.lblkg)
                                        </td>
                                    }
                                    <td class="govuk-table__cell"><a asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-livestockId="@pig.EncryptedID">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblLivestockDetailsYear, Model.Year)</span></a></td>
                                    @*<td class="govuk-table__cell"><a asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-i="@pig.EncryptedID">@Resource.lblChange</a></td>*@
                                </tr>
                                totalNitrogenPigs = totalNitrogenPigs + pig.TotalNProduced;
                                totalPhosphatePigs = totalPhosphatePigs + pig.TotalPProduced;
                            }
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell strong">@Resource.lblTotals</td>
                                <td class="govuk-table__cell">-</td>
                                <td class="govuk-table__cell">-</td>
                                <td class="govuk-table__cell">-</td>
                                <td class="govuk-table__cell strong">
                                    @string.Format("{0:N0}{1}", totalNitrogenPigs, Resource.lblkg)
                                </td>
                                @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                {
                                    <td class="govuk-table__cell">-</td>
                                    <td class="govuk-table__cell strong">@string.Format("{0:N0}{1}", totalPhosphatePigs, Resource.lblkg)</td>
                                }
                                <td class="govuk-table__cell">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
            @if (ViewBag.PoultryList != null && ViewBag.PoultryList.Count > 0)
            {
                <h2 class="govuk-heading-m">@Resource.lblPoultry</h2>
                <div class="table-container margin-bottom-ten">
                    <table class="govuk-table data-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">@Resource.lblPoultryType</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblLivestockReportContentSeventeen</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblOccupancy</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblNitrogenNStandard</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblTotalNitrogenProduced</th>
                                @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                {
                                    <th scope="col" class="govuk-table__header">@Resource.lblPhosphateP2O5Standard</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblTotalPhosphate</th>
                                }
                                <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">@Resource.lblAction</span></th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var poultry in ViewBag.PoultryList)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">@poultry.LivestockTypeName</td>
                                    <td class="govuk-table__cell">@poultry.Units</td>
                                    <td class="govuk-table__cell">@string.Format("{0:N0}{1}", poultry.Occupancy, Resource.lblPercentage)</td>
                                    <td class="govuk-table__cell">
                                        @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(poultry.NByUnit, 0)))
                                    </td>
                                    @* <td class="govuk-table__cell"> @string.Format("{0}{1}", poultry.NByUnit, Resource.lblkg)</td> *@
                                    <td class="govuk-table__cell">
                                        @string.Format("{0:N0}{1}", poultry.TotalNProduced, Resource.lblkg)
                                    </td>
                                    @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                    {
                                        <td class="govuk-table__cell">
                                            @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(poultry.PByUnit, 0)))
                                        </td>
                                        <td class="govuk-table__cell"> @string.Format("{0:N0}{1}", poultry.TotalPProduced, Resource.lblkg)</td>
                                    }
                                    <td class="govuk-table__cell"><a asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-livestockId="@poultry.EncryptedID">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblLivestockDetailsYear, Model.Year)</span></a></td>
                                    @*<td class="govuk-table__cell"><a asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-i="@poultry.EncryptedID">@Resource.lblChange</a></td>*@
                                </tr>
                                totalNitrogenPoultry = totalNitrogenPoultry + poultry.TotalNProduced;
                                totalPhosphatePoultry = totalPhosphatePoultry + poultry.TotalPProduced;
                            }
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell strong">@Resource.lblTotals</td>
                                <td class="govuk-table__cell">-</td>
                                <td class="govuk-table__cell">-</td>
                                <td class="govuk-table__cell">-</td>
                                <td class="govuk-table__cell strong">@string.Format("{0:N0}{1}", totalNitrogenPoultry, Resource.lblkg)</td>
                                @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                {
                                    <td class="govuk-table__cell">-</td>
                                    <td class="govuk-table__cell strong"> @string.Format("{0:N0}{1}", totalPhosphatePoultry, Resource.lblkg) </td>
                                }
                                <td class="govuk-table__cell">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
            @if (ViewBag.SheepList != null && ViewBag.SheepList.Count > 0)
            {
                <h2 class="govuk-heading-m">@Resource.lblSheep</h2>
                <div class="table-container margin-bottom-ten">
                    <table class="govuk-table data-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">@Resource.lblSheepType</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblLivestockReportContentSeventeen</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblNitrogenNStandard</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblTotalNitrogenProduced</th>
                                @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                {
                                    <th scope="col" class="govuk-table__header">@Resource.lblPhosphateP2O5Standard</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblTotalPhosphate</th>
                                }
                                <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">@Resource.lblAction</span></th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var sheep in ViewBag.SheepList)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">@sheep.LivestockTypeName</td>
                                    <td class="govuk-table__cell">@string.Format("{0:N2}", sheep.Units)</td>
                                    <td class="govuk-table__cell">
                                        @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(sheep.NByUnit, 0)))
                                    </td>
                                    @* <td class="govuk-table__cell">@string.Format("{0}{1}", sheep.NByUnit, Resource.lblkg)</td> *@
                                    <td class="govuk-table__cell">
                                        @string.Format("{0:N0}{1}", sheep.TotalNProduced, Resource.lblkg)
                                    </td>

                                    @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                    {
                                        <td class="govuk-table__cell">
                                            @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(sheep.PByUnit, 0)))
                                        </td>
                                        <td class="govuk-table__cell">
                                            @string.Format("{0:N0}{1}", sheep.TotalPProduced, Resource.lblkg)
                                        </td>
                                    }
                                    <td class="govuk-table__cell"><a asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-livestockId="@sheep.EncryptedID">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblLivestockDetailsYear, Model.Year)</span></a></td>
                                    @*<td class="govuk-table__cell"><a disabled asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-i="@sheep.EncryptedID">@Resource.lblChange</a></td>*@
                                </tr>
                                totalNitrogenSheep = totalNitrogenSheep + sheep.TotalNProduced;
                                totalPhosphateSheep = totalPhosphateSheep + sheep.TotalPProduced;
                            }
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell strong">@Resource.lblTotals</td>
                                <td class="govuk-table__cell">-</td>
                                <td class="govuk-table__cell">-</td>
                                <td class="govuk-table__cell strong">@string.Format("{0:N0}{1}", totalNitrogenSheep, Resource.lblkg)</td>
                                @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                {
                                    <td class="govuk-table__cell">-</td>
                                    <td class="govuk-table__cell strong"> @string.Format("{0:N0}{1}", totalPhosphateSheep, Resource.lblkg)</td>
                                }
                                <td class="govuk-table__cell">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
            @if (ViewBag.GoatsDeerAndHorsesList != null && ViewBag.GoatsDeerAndHorsesList.Count > 0)
            {
                <h2 class="govuk-heading-m">@Resource.lblGoatsDeerAndHorses</h2>
                <div class="table-container margin-bottom-ten">
                    <table class="govuk-table data-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">@Resource.lblOtherType</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblLivestockReportContentSeventeen</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblNitrogenNStandard</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblTotalNitrogenProduced</th>
                                @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                {
                                    <th scope="col" class="govuk-table__header">@Resource.lblPhosphateP2O5Standard</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblTotalPhosphate</th>
                                }
                                <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">@Resource.lblAction</span></th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var goatsDeerAndHorse in ViewBag.GoatsDeerAndHorsesList)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">@goatsDeerAndHorse.LivestockTypeName</td>
                                    <td class="govuk-table__cell">@string.Format("{0:N2}", goatsDeerAndHorse.Units)</td>
                                    <td class="govuk-table__cell">
                                        @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(goatsDeerAndHorse.NByUnit, 0)))
                                    </td>
                                    @* <td class="govuk-table__cell">@string.Format("{0}{1}", goatsDeerAndHorse.NByUnit, Resource.lblkg)</td> *@
                                    <td class="govuk-table__cell">
                                        @string.Format("{0:N0}{1}", goatsDeerAndHorse.TotalNProduced, Resource.lblkg)
                                    </td>
                                    @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                    {
                                        <td class="govuk-table__cell">
                                            @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(goatsDeerAndHorse.PByUnit, 0)))
                                        </td>
                                        <td class="govuk-table__cell">
                                            @string.Format("{0:N0}{1}", goatsDeerAndHorse.TotalPProduced, Resource.lblkg)
                                        </td>
                                    }
                                    <td class="govuk-table__cell"><a asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-livestockId="@goatsDeerAndHorse.EncryptedID">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblLivestockDetailsYear, Model.Year)</span></a></td>
                                    @*<td class="govuk-table__cell"><a disabled asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-i="@goatsDeerAndHorse.EncryptedID">@Resource.lblChange</a></td>*@
                                </tr>
                                totalNitrogenGoatsDeerAndHorses = totalNitrogenGoatsDeerAndHorses + goatsDeerAndHorse.TotalNProduced;
                                totalPhosphateGoatsDeerAndHorses = totalPhosphateGoatsDeerAndHorses + goatsDeerAndHorse.TotalPProduced;
                            }
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell strong">@Resource.lblTotals</td>
                                <td class="govuk-table__cell">-</td>
                                <td class="govuk-table__cell">-</td>
                                <td class="govuk-table__cell strong">@string.Format("{0:N0}{1}", totalNitrogenGoatsDeerAndHorses, Resource.lblkg)</td>
                                @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                {
                                    <td class="govuk-table__cell">-</td>
                                    <td class="govuk-table__cell strong">@string.Format("{0:N0}{1}", totalPhosphateGoatsDeerAndHorses, Resource.lblkg)</td>
                                }
                                <td class="govuk-table__cell">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        }
        else if (nonEmptyLists.Count > 1)
        {
            <p class="govuk-body"><a class="govuk-link" asp-action="ReportOptions" asp-controller="Report" asp-route-f="@Model.EncryptedFarmId" asp-route-r="@ViewBag.IsManageLivestock">@Resource.lblCreateAReportFromThisInformation</a></p>

            <govuk-tabs>
                @if (ViewBag.CattleList != null && ViewBag.CattleList.Count > 0)
                {
                    <govuk-tabs-item id="cattle" label=@Resource.lblCattle>
                        <h2 class="govuk-heading-m">@Resource.lblCattle</h2>
                        <div class="table-container margin-bottom-ten">
                            <table class="govuk-table data-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header livestock-type">@Resource.lblCattleType</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblLivestockReportContentSeventeen</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblNitrogenNStandard</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblTotalNitrogenProduced</th>
                                        @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                        {
                                            <th scope="col" class="govuk-table__header">@Resource.lblPhosphateP2O5Standard</th>
                                            <th scope="col" class="govuk-table__header">@Resource.lblTotalPhosphate</th>
                                        }
                                        <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">@Resource.lblAction</span></th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @foreach (var cattle in ViewBag.CattleList)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">@cattle.LivestockTypeName</td>
                                            <td class="govuk-table__cell">@string.Format("{0:N2}", cattle.Units)</td>
                                            <td class="govuk-table__cell">
                                                @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(cattle.NByUnit, 0)))
                                            </td>
                                            @* <td class="govuk-table__cell">@string.Format("{0}{1}", cattle.NByUnit, Resource.lblkg)</td> *@
                                            <td class="govuk-table__cell">@string.Format("{0:N0}{1}", cattle.TotalNProduced, Resource.lblkg)</td>
                                            @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                            {
                                                <td class="govuk-table__cell">
                                                    @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(cattle.PByUnit, 0)))
                                                </td>
                                                <td class="govuk-table__cell">@string.Format("{0:N0}{1}", cattle.TotalPProduced, Resource.lblkg)</td>
                                            }
                                            <td class="govuk-table__cell"><a asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-livestockId="@cattle.EncryptedID">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblLivestockDetailsYear, Model.Year)</span></a></td>
                                            @*<td class="govuk-table__cell"><a asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-i="@cattle.EncryptedID">@Resource.lblChange</a></td> *@
                                        </tr>
                                        totalNitrogenCattle = totalNitrogenCattle + cattle.TotalNProduced;
                                        totalPhosphateCattle = totalPhosphateCattle + cattle.TotalPProduced;
                                    }
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell strong">@Resource.lblTotals</td>
                                        <td class="govuk-table__cell">-</td>
                                        <td class="govuk-table__cell">-</td>
                                        <td class="govuk-table__cell strong">@string.Format("{0:N0}{1}", totalNitrogenCattle, Resource.lblkg)</td>
                                        @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                        {
                                            <td class="govuk-table__cell">-</td>
                                            <td class="govuk-table__cell strong"> @string.Format("{0:N0}{1}", totalPhosphateCattle, Resource.lblkg)</td>
                                        }
                                        <td class="govuk-table__cell">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </govuk-tabs-item>
                }
                @if (ViewBag.PigsList != null && ViewBag.PigsList.Count > 0)
                {
                    <govuk-tabs-item id="pigs" label=@Resource.lblPigs>
                        <h2 class="govuk-heading-m">@Resource.lblPigs</h2>
                        <div class="table-container margin-bottom-ten">
                            <table class="govuk-table data-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">@Resource.lblPigType</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblLivestockReportContentSeventeen</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblOccupancy</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblNitrogenNStandard</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblTotalNitrogenProduced</th>
                                        @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                        {
                                            <th scope="col" class="govuk-table__header">@Resource.lblPhosphateP2O5Standard</th>
                                            <th scope="col" class="govuk-table__header">@Resource.lblTotalPhosphate</th>
                                        }
                                        <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">@Resource.lblAction</span></th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @foreach (var pig in ViewBag.PigsList)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">@pig.LivestockTypeName</td>
                                            <td class="govuk-table__cell">@string.Format("{0:N2}", pig.Units)</td>
                                            <td class="govuk-table__cell">
                                                @string.Format("{0:N0}{1}", pig.Occupancy, Resource.lblPercentage)
                                            </td>
                                            <td class="govuk-table__cell">
                                                @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(pig.NByUnit, 0)))
                                            </td>
                                            @* <td class="govuk-table__cell"> @string.Format("{0}{1}", pig.NByUnit, Resource.lblkg) </td> *@
                                            <td class="govuk-table__cell"> @string.Format("{0:N0}{1}", pig.TotalNProduced, Resource.lblkg) </td>
                                            @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                            {
                                                <td class="govuk-table__cell">
                                                    @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(pig.PByUnit, 0)))
                                                </td>
                                                <td class="govuk-table__cell"> @string.Format("{0:N0}{1}", pig.TotalPProduced, Resource.lblkg) </td>
                                            }
                                            <td class="govuk-table__cell"><a asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-livestockId="@pig.EncryptedID">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblLivestockDetailsYear, Model.Year)</span></a></td>
                                            @*<td class="govuk-table__cell"><a asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-i="@pig.EncryptedID">@Resource.lblChange</a></td>*@
                                        </tr>
                                        totalNitrogenPigs = totalNitrogenPigs + pig.TotalNProduced;
                                        totalPhosphatePigs = totalPhosphatePigs + pig.TotalPProduced;
                                    }
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell strong">@Resource.lblTotals</td>
                                        <td class="govuk-table__cell">-</td>
                                        <td class="govuk-table__cell">-</td>
                                        <td class="govuk-table__cell">-</td>
                                        <td class="govuk-table__cell strong">@string.Format("{0:N0}{1}", totalNitrogenPigs, Resource.lblkg)</td>
                                        @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                        {
                                            <td class="govuk-table__cell">-</td>
                                            <td class="govuk-table__cell strong">@string.Format("{0:N0}{1}", totalPhosphatePigs, Resource.lblkg) </td>
                                        }
                                        <td class="govuk-table__cell">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </govuk-tabs-item>
                }
                @if (ViewBag.PoultryList != null && ViewBag.PoultryList.Count > 0)
                {
                    <govuk-tabs-item id="poultry" label=@Resource.lblPoultry>
                        <h2 class="govuk-heading-m">@Resource.lblPoultry</h2>
                        <div class="table-container margin-bottom-ten">
                            <table class="govuk-table data-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">@Resource.lblPoultryType</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblLivestockReportContentSeventeen</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblOccupancy</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblNitrogenNStandard</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblTotalNitrogenProduced</th>
                                        @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                        {
                                            <th scope="col" class="govuk-table__header">@Resource.lblPhosphateP2O5Standard</th>
                                            <th scope="col" class="govuk-table__header">@Resource.lblTotalPhosphate</th>
                                        }
                                        <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">@Resource.lblAction</span></th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @foreach (var poultry in ViewBag.PoultryList)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">@poultry.LivestockTypeName</td>
                                            <td class="govuk-table__cell">@string.Format("{0:N2}", poultry.Units)</td>
                                            <td class="govuk-table__cell">@string.Format("{0:N0}{1}", poultry.Occupancy, Resource.lblPercentage)</td>
                                            <td class="govuk-table__cell">
                                                @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(poultry.NByUnit, 0)))
                                            </td>
                                            @* <td class="govuk-table__cell">@string.Format("{0}{1}", poultry.NByUnit, Resource.lblkg)</td> *@
                                            <td class="govuk-table__cell">@string.Format("{0:N0}{1}", poultry.TotalNProduced, Resource.lblkg)</td>
                                            @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                            {
                                                <td class="govuk-table__cell">
                                                    @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(poultry.PByUnit, 0)))
                                                </td>
                                                <td class="govuk-table__cell">@string.Format("{0:N0}{1}", poultry.TotalPProduced, Resource.lblkg)</td>
                                            }
                                            <td class="govuk-table__cell"><a asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-livestockId="@poultry.EncryptedID">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblLivestockDetailsYear, Model.Year)</span></a></td>
                                            @*<td class="govuk-table__cell"><a asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-i="@poultry.EncryptedID">@Resource.lblChange</a></td>*@
                                        </tr>
                                        totalNitrogenPoultry = totalNitrogenPoultry + poultry.TotalNProduced;
                                        totalPhosphatePoultry = totalPhosphatePoultry + poultry.TotalPProduced;
                                    }
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell strong">@Resource.lblTotals</td>
                                        <td class="govuk-table__cell">-</td>
                                        <td class="govuk-table__cell">-</td>
                                        <td class="govuk-table__cell">-</td>
                                        <td class="govuk-table__cell strong">@string.Format("{0:N0}{1}", totalNitrogenPoultry, Resource.lblkg)</td>
                                        @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                        {
                                            <td class="govuk-table__cell">-</td>
                                            <td class="govuk-table__cell strong">@string.Format("{0:N0}{1}", totalPhosphatePoultry, Resource.lblkg)</td>
                                        }
                                        <td class="govuk-table__cell">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </govuk-tabs-item>
                }
                @if (ViewBag.SheepList != null && ViewBag.SheepList.Count > 0)
                {
                    <govuk-tabs-item id="sheep" label=@Resource.lblSheep>
                        <h2 class="govuk-heading-m">@Resource.lblSheep</h2>
                        <div class="table-container margin-bottom-ten">
                            <table class="govuk-table data-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">@Resource.lblSheepType</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblLivestockReportContentSeventeen</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblNitrogenNStandard</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblTotalNitrogenProduced</th>
                                        @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                        {
                                            <th scope="col" class="govuk-table__header">@Resource.lblPhosphateP2O5Standard</th>
                                            <th scope="col" class="govuk-table__header">@Resource.lblTotalPhosphate</th>
                                        }
                                        <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">@Resource.lblAction</span></th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @foreach (var sheep in ViewBag.SheepList)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">@sheep.LivestockTypeName</td>
                                            <td class="govuk-table__cell">@string.Format("{0:N2}", sheep.Units)</td>
                                            <td class="govuk-table__cell">
                                                @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(sheep.NByUnit, 0)))
                                            </td>
                                            @* <td class="govuk-table__cell">@string.Format("{0}{1}", sheep.NByUnit, Resource.lblkg)</td> *@
                                            <td class="govuk-table__cell">@string.Format("{0:N0}{1}", sheep.TotalNProduced, Resource.lblkg)</td>
                                            @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                            {
                                                <td class="govuk-table__cell">
                                                    @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(sheep.PByUnit, 0)))
                                                </td>
                                                <td class="govuk-table__cell">@string.Format("{0:N0}{1}", sheep.TotalPProduced, Resource.lblkg)</td>
                                            }
                                            <td class="govuk-table__cell"><a asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-livestockId="@sheep.EncryptedID">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblLivestockDetailsYear, Model.Year)</span></a></td>
                                            @*<td class="govuk-table__cell"><a disabled asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-i="@sheep.EncryptedID">@Resource.lblChange</a></td>*@
                                        </tr>
                                        totalNitrogenSheep = totalNitrogenSheep + sheep.TotalNProduced;
                                        totalPhosphateSheep = totalPhosphateSheep + sheep.TotalPProduced;
                                    }
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell strong">@Resource.lblTotals</td>
                                        <td class="govuk-table__cell">-</td>
                                        <td class="govuk-table__cell">-</td>
                                        <td class="govuk-table__cell strong">@string.Format("{0:N0}{1}", totalNitrogenSheep, Resource.lblkg)</td>
                                        @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                        {
                                            <td class="govuk-table__cell">-</td>
                                            <td class="govuk-table__cell strong">@string.Format("{0:N0}{1}", totalPhosphateSheep, Resource.lblkg)</td>
                                        }
                                        <td class="govuk-table__cell">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </govuk-tabs-item>
                }
                @if (ViewBag.GoatsDeerAndHorsesList != null && ViewBag.GoatsDeerAndHorsesList.Count > 0)
                {
                    <govuk-tabs-item id="goatsDeerAndHorses" label=@Resource.lblGoatsDeerAndHorsesSmallCase>
                        <h2 class="govuk-heading-m">@Resource.lblGoatsDeerAndHorses</h2>
                        <div class="table-container margin-bottom-ten">
                            <table class="govuk-table data-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">@Resource.lblOtherType</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblLivestockReportContentSeventeen</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblNitrogenNStandard</th>
                                        <th scope="col" class="govuk-table__header">@Resource.lblTotalNitrogenProduced</th>
                                        @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                        {
                                            <th scope="col" class="govuk-table__header">@Resource.lblPhosphateP2O5Standard</th>
                                            <th scope="col" class="govuk-table__header">@Resource.lblTotalPhosphate</th>
                                        }
                                        <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">@Resource.lblAction</span></th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @foreach (var goatsDeerAndHorse in ViewBag.GoatsDeerAndHorsesList)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">@goatsDeerAndHorse.LivestockTypeName</td>
                                            <td class="govuk-table__cell">@string.Format("{0:N2}", goatsDeerAndHorse.Units)</td>
                                            <td class="govuk-table__cell">
                                                @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(goatsDeerAndHorse.NByUnit, 0)))
                                            </td>
                                            @* <td class="govuk-table__cell">@string.Format("{0}{1}", goatsDeerAndHorse.NByUnit, Resource.lblkg)</td> *@
                                            <td class="govuk-table__cell">@string.Format("{0:N0}{1}", goatsDeerAndHorse.TotalNProduced, Resource.lblkg)</td>
                                            @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                            {
                                                <td class="govuk-table__cell">
                                                    @string.Format(Resource.lblNutrientKgPerYear, string.Format("{0:N0}", Math.Round(goatsDeerAndHorse.PByUnit, 0)))
                                                </td>
                                                <td class="govuk-table__cell">@string.Format("{0:N0}{1}", goatsDeerAndHorse.TotalPProduced, Resource.lblkg)</td>
                                            }
                                            <td class="govuk-table__cell"><a asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-livestockId="@goatsDeerAndHorse.EncryptedID">@Resource.lblChange<span class="govuk-visually-hidden">@string.Format(Resource.lblLivestockDetailsYear, Model.Year)</span></a></td>
                                            @*<td class="govuk-table__cell"><a disabled asp-action="LivestockCheckAnswer" asp-controller="Report" asp-route-i="@goatsDeerAndHorse.EncryptedID">@Resource.lblChange</a></td>*@
                                        </tr>
                                        totalNitrogenGoatsDeerAndHorses = totalNitrogenGoatsDeerAndHorses + goatsDeerAndHorse.TotalNProduced;
                                        totalPhosphateGoatsDeerAndHorses = totalPhosphateGoatsDeerAndHorses + goatsDeerAndHorse.TotalPProduced;
                                    }
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell strong">@Resource.lblTotals</td>
                                        <td class="govuk-table__cell">-</td>
                                        <td class="govuk-table__cell">-</td>
                                        <td class="govuk-table__cell strong">@string.Format("{0:N0}{1}", totalNitrogenGoatsDeerAndHorses, Resource.lblkg)</td>
                                        @if (Model.IsGrasslandDerogation != null && Model.IsGrasslandDerogation.Value)
                                        {
                                            <td class="govuk-table__cell">-</td>
                                            <td class="govuk-table__cell strong">@string.Format("{0:N0}{1}", totalPhosphateGoatsDeerAndHorses, Resource.lblkg)</td>
                                        }
                                        <td class="govuk-table__cell">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </govuk-tabs-item>
                }
            </govuk-tabs>
        }



    </div>
</div>
