@using NMP.Portal.Resources
@using System.Globalization
@model NMP.Portal.ViewModels.ReportViewModel
@{
    ViewData["Title"] = Resource.lblImportsExports;
    var currentYear = DateTime.Now.Year;
    var previousYear = DateTime.Now.Year - 1;
}

@section BeforeContent {
    @if(!string.IsNullOrWhiteSpace(Model.IsComingFromImportExportOverviewPage))
    {
    <govuk-breadcrumbs class="govuk-breadcrumbs-link">
        <govuk-breadcrumbs-item asp-action="FarmList" asp-controller="Farm">
            @Resource.lblAllFarm
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
            @Model.FarmName
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item class="govuk-breadcrumbs__list-item" asp-action="UpdateLivestockImportExport" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId">
            @Resource.lblManureImportsAndExports
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item class="govuk-breadcrumbs__list-item">
            @string.Format(Resource.lblImportsExportsYear, Model.Year)
        </govuk-breadcrumbs-item>

        </govuk-breadcrumbs>
    }
    else
    {
        <govuk-back-link asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report">@Resource.lblBack</govuk-back-link>
    }
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (TempData["succesMsgContent1"] != null)
        {
            <govuk-notification-banner type="Success">
                <p class="govuk-notification-banner__heading">
                    @TempData["succesMsgContent1"]
                </p>
                @if (TempData["succesMsgContent2"] != null)
                {
                    <p class="govuk-body">
                        <a asp-action="ImportExportOption" asp-controller="Report">
                            @TempData["succesMsgContent2"]
                        </a>
                    </p>
                }
                @if (TempData["succesMsgContent3"] != null)
                {
                    <p class="govuk-body">
                        <a asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report" asp-route-q="@ViewBag.isComingFromSuccessMsg">
                            @TempData["succesMsgContent3"]
                        </a>
                    </p>
                }
            </govuk-notification-banner>
        }
    </div>
</div>
<div class="govuk-grid-row margin-bottom-thirty">
    <div class="govuk-grid-column-full">

        @if (TempData["ManageImportExportError"] != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ManageImportExportError"]</govuk-error-summary-item>
            </govuk-error-summary>
        }
        <span class="name govuk-caption-l">@Model.FarmName</span>
        <h1 class="govuk-heading-l" id="header">@string.Format(Resource.lblOrganicMaterialImportsAndExportsYear, Model.Year)</h1>

        <p class="govuk-body">
            <a class="govuk-button" asp-action="ImportExportOption" asp-controller="Report">
                @Resource.lblAddAnImportOrExport
            </a>
        </p>
        <p class="govuk-body"><a class="govuk-link" asp-action="ReportOptions" asp-controller="Report" asp-route-f="@Model.EncryptedFarmId" asp-route-r="@ViewBag.IsManageImportExport">@Resource.lblCreateAReportFromThisInformation</a></p>

        <govuk-tabs>
            <govuk-tabs-item id="imports" label=@Resource.lblImports>
                <h2 class="govuk-heading-m non-standard">@Resource.lblImports</h2>
                @if (ViewBag.ImportList != null && ViewBag.ImportList.Count > 0)
                {
                    <table class="govuk-table sortable-table recomendation-table data-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">

                                <th scope="col" class="govuk-table__header">@Resource.lblManureType</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblDate</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblQuantity</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblSupplier</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblAction</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var import in ViewBag.ImportList)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">@import.Manure.ManureType</td>
                                    <td class="govuk-table__cell">@import.Manure.ManureDate?.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB"))</td>
                                    <td class="govuk-table__cell">
                                        @string.Format("{0} {1}", import.Manure.Quantity, import.Unit)
                                    </td>
                                    <td class="govuk-table__cell">@import.Manure.FarmName</td>

                                    <td class="govuk-table__cell"><a asp-action="LivestockImportExportCheckAnswer" asp-controller="Report" asp-route-i="@import.Manure.EncryptedID">@Resource.lblViewOrChange</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                }
                else
                {
                    <p class="govuk-body">@Resource.lblYouHaveNotAddedAnyImports</p>
                    <p class="govuk-body">
                        <a class="" asp-action="ManureGroup" asp-controller="Report" asp-route-q="@ViewBag.IsImport">@Resource.lblAddAnImport</a>
                    </p>
                }
            </govuk-tabs-item>
            <govuk-tabs-item id="exports" label=@Resource.lblExports>
                <h2 class="govuk-heading-m non-standard">@Resource.lblExports</h2>

                @if (ViewBag.ExportList != null && ViewBag.ExportList.Count > 0)
                {
                    <table class="govuk-table sortable-table recomendation-table data-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">

                                <th scope="col" class="govuk-table__header">@Resource.lblManureType</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblDate</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblQuantity</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblSupplier</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblAction</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var export in ViewBag.ExportList)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">@export.Manure.ManureType</td>
                                    <td class="govuk-table__cell">@export.Manure.ManureDate?.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB"))</td>
                                    <td class="govuk-table__cell">
                                        @string.Format("{0} {1}", @export.Manure.Quantity, export.Unit)
                                    </td>
                                    <td class="govuk-table__cell">@export.Manure.FarmName</td>
                                    <td class="govuk-table__cell"><a asp-action="LivestockImportExportCheckAnswer" asp-controller="Report" asp-route-i="@export.Manure.EncryptedID">@Resource.lblViewOrChange</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="govuk-body">@Resource.lblYouHaveNotAddedAnyExports</p>
                    <p class="govuk-body">
                        <a class="" asp-action="ManureGroup" asp-controller="Report" asp-route-q="@ViewBag.IsExport">@Resource.lblAddAnExport</a>
                    </p>
                }

            </govuk-tabs-item>
            <govuk-tabs-item id="totals" label=@Resource.lblTotals>
                <h2 class="govuk-heading-m non-standard">@string.Format(Resource.lblTotalImportsAndExportsForYear, Model.Year)</h2>
                @if (ViewBag.ImportList != null || ViewBag.ExportList != null)
                {
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <table class="govuk-table margin-bottom-forty">
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">@Resource.lblTotalImportedOrganicMaterial</th>
                                        <td scope="col" class="govuk-table__cell">@string.Format("{0}{1}", ViewBag.TotalImportsInKg, Resource.lblkg)</td>
                                    </tr>

                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">@Resource.lblTotalExportedOrganicMaterial</th>
                                        <td scope="col" class="govuk-table__cell">@string.Format("{0}{1}", ViewBag.TotalExportsInKg, Resource.lblkg)</td>
                                    </tr>

                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">@Resource.lblNetTotal</th>
                                        <th scope="col" class="govuk-table__cell">@string.Format("{0}{1}", ViewBag.NetTotal, Resource.lblkg)</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else
                {

                }
            </govuk-tabs-item>
        </govuk-tabs>


    </div>
</div>
<div class="govuk-grid-row">
    <div id="all-plans-table" class="govuk-grid-column-two-thirds">
    </div>
</div>