@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    string action = !string.IsNullOrWhiteSpace(Model.EncryptedId) ? Resource.lblUpdate : Char.ToUpper(Resource.lblAdd[0]) + Resource.lblAdd.Substring(1);

    string heading = string.Format(Resource.lblWhatTypeOfLivestockManureAreYouImportingOrExporting,
                             Model.ImportExport == (int)NMP.Commons.Enums.ImportExport.Import ? Resource.lblImporting :
                             Resource.lblExporting);
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {action} {Resource.lblImportsExportsOfLivestockManure}";
    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);

    // var backAction = "";
    // @if (Model.ManureGroupIdForFilter == null)
    // {
    //     if (Model.IsImport != null)
    //     {
    //         backAction = "ManageImportExport";
    //     }
    //     else if (Model.IsCheckAnswer)
    //     {
    //         backAction = "LivestockImportExportCheckAnswer";
    //     }
    //     else
    //     {
    //         backAction = "ImportExportOption";
    //     }
    // }
    // else
    // {
    //     backAction = "ManureGroup";

    // }
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.ReportWizardSteps.ManureType;
}

@section BeforeContent {
    <govuk-back-link asp-action="BackActionForManureType" asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnManureType"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnManureType"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}
@if (Model != null)
{
    <form asp-action="ManureType" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <govuk-radios asp-for="@Model.ManureTypeId">
                        <govuk-radios-fieldset>
                            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                                @heading
                            </govuk-radios-fieldset-legend>
                            <govuk-radios-hint>
                                @Resource.lblSelectOneOption
                            </govuk-radios-hint>
                            @if (ViewBag.ManureTypeList != null)
                            {
                                @foreach (var item in ViewBag.ManureTypeList)
                                {
                                    <govuk-radios-item value="@item.Value">@item.Text</govuk-radios-item>
                                }
                            }
                        </govuk-radios-fieldset>
                    </govuk-radios>
                
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                    @if (Model.IsCheckAnswer)
                    {
                        <a asp-action="LivestockImportExportCheckAnswer" asp-controller="Report">
                            @Resource.lblCancel
                        </a>
                    }
                    else
                    {
                        if (Model.IsManageImportExport)
                        {
                            <a asp-action="ManageImportExport" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId" asp-route-y="@Model.EncryptedHarvestYear">
                                @Resource.lblCancel
                            </a>
                        }
                        else
                @if (string.IsNullOrWhiteSpace(Model.IsComingFromImportExportOverviewPage))
                        {
                            @if (!Model.IsCheckList)
                            {
                                <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                                    @Resource.lblCancel
                                </a>
                            }
                            else
                            {
                                <a asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report">
                                    @Resource.lblCancel
                                </a>
                            }
                        }
                        else
                        {
                            <a asp-action="UpdateLivestockImportExport" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId">
                                @Resource.lblCancel
                            </a>
                        }
                    }
                </p>

            </div>

        </div>
    </form>
}