@using NMP.Commons.Resources
@using System.Globalization
@model NMP.Commons.ViewModels.ReportViewModel
@{
    ViewData["Title"] = $"{string.Format(Resource.ReportTitle, Model.Country == (int)NMP.Commons.Enums.FarmCountry.England ? Resource.lblNMaxReport : Resource.lblMaximumNitrogenLimit, Model.FarmName, Model.Year)} {Resource.lblHyphen} {Resource.lblReport}";
    int nMaxLimitCounter = 1;
    int totalCount = Model.NMaxLimitReport.Count;
    string reportName = (Model.Country == (int)NMP.Commons.Enums.FarmCountry.England) ? Resource.lblNMax : Resource.lblMaximumNitrogen;
}

@section BeforeContent {
    <div class="noprint">
        <govuk-back-link asp-action="ExportFieldsOrCropType" asp-controller="Report">@Resource.lblBack</govuk-back-link>
    </div>
}

@if (TempData["NMaxReport"] != null)
{
    <govuk-error-summary>
        <govuk-error-summary-item href="#">@TempData["NMaxReport"]</govuk-error-summary-item>
    </govuk-error-summary>
}

@await Html.PartialAsync("_ReportPrintHeader")

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">@Model.FarmName</span>
        <h1 class="govuk-heading-xl margin-bottom-thirty">
            @(string.Format(((Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales) ? Resource.lblMaximumNitrogenLimitsYear : Resource.lblNMaxLimitsForYear), Model.Year))
        </h1>
        <p class="govuk-body  margin-bottom-thirty">@string.Format(Resource.lblCreatedOnDate, DateTime.Now.Date.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB")))</p>
    </div>
</div>
<div class="govuk-grid-row margin-bottom-ten">
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
            @Model.Farm.Name, <br>
            @if (!string.IsNullOrWhiteSpace(Model.Farm.Address1))
            {
                @Model.Farm.Address1
                <br />
            }
            @if (!string.IsNullOrWhiteSpace(Model.Farm.Address2))
            {
                @Model.Farm.Address2
                <br />
            }
            @if (!string.IsNullOrWhiteSpace(Model.Farm.Address3))
            {
                @Model.Farm.Address3
                <br />
            }
            @if (!string.IsNullOrWhiteSpace(Model.Farm.Address4))
            {
                @Model.Farm.Address4
                <br />
            }
            @Model.Farm.Postcode
        </p>
    </div>
    <div class="govuk-grid-column-two-third">
        @*  <p class="govuk-body">
            @(string.Format("{0} : {1}", Resource.lblCPHNumber, string.IsNullOrWhiteSpace(Model.Farm.CPH) ?
                Resource.lblNotEntered : Model.Farm.CPH))
            <br />

            @(string.Format("{0} : {1}", Resource.lblSingleBusinessIdentifier, string.IsNullOrWhiteSpace(Model.Farm.SBI) ?
                Resource.lblNotEntered : Model.Farm.SBI))

            <br />
        </p> *@
    </div>
</div>
@if (Model.NMaxLimitReport != null && Model.NMaxLimitReport.Count > 0)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <hr class="margin-bottom-thirty" />
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h2 class="govuk-heading-l">@Resource.lblSummary</h2>
            <table class="govuk-table data-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">@Resource.lblCrop</th>
                        <th scope="col" class="govuk-table__header">
                            @((Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales ?
                                                    Resource.lblComplianceIndicated : Resource.lblNmaxCompliant))
                        </th>
                    </tr>
                </thead>
                @foreach (var nMaxLimit in Model.NMaxLimitReport)
                {
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="col_1 govuk-table__cell">
                                @nMaxLimit.GroupName
                            </td>
                            <td class="col_2 govuk-table__cell">@(nMaxLimit.IsComply? Resource.lblYes: Resource.lblNo)</td>
                        </tr>
                    </tbody>
                }
            
            </table>
        </div>
    </div>
    <div class="govuk-grid-row pagebreak">
        <div class="govuk-grid-column-full">
            <p class="govuk-body margin-bottom-thirty">
                @string.Format(Resource.lblNMaxReportSummaryContent, (Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales ? $"{Resource.lblMaximum} {Resource.lblNitrogenWithoutN}" : Resource.lblNMax),
                (Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales ? $"{Resource.lblMaximum} {Resource.lblNitrogenWithoutN}" : Resource.lblNMax))
            </p>
            <hr class="margin-bottom-thirty" />
        </div>
    </div>
    <div class="govuk-grid-row pagebreak">
        <div class="govuk-grid-column-full">
            @foreach (var nMaxLimit in Model.NMaxLimitReport)
            {
                totalCount--;
                nMaxLimitCounter = 1;
                <h2 class="govuk-heading-l">
                    @string.Format(Resource.LblCropTypeFields, nMaxLimit.GroupName)
                </h2>
                <h3 class="govuk-heading-m">
                    @string.Format(Resource.lblNMaxLimitForWinterWheatFields, reportName, nMaxLimit.GroupName)
                </h3>
                <p class="govuk-body">
                    @Resource.lblNitrogenApplicationsToCropTypeContent1
                    <span class="strong">
                        @if (nMaxLimit.IsComply)
                        {
                            @Resource.lblCompliance.ToLower()
                        }
                        else
                        {
                            @Resource.lblNonCompliance.ToLower()
                        }
                    </span>
                    @string.Format(Resource.lblNitrogenApplicationsToCropTypeContent2, (Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales ? $"{Resource.lblMaximum} {Resource.lblNitrogenWithoutN}" : Resource.lblNMax))
                </p>
                <p class="govuk-body">
                    @string.Format(Resource.lblNMaxLimitForCropTypeFieldsBeforeAdjustmentsPerHectare, reportName, nMaxLimit.GroupName, nMaxLimit.NmaxLimit)
                </p>
                <div class="table-container margin-bottom-forty">
                    <table class="govuk-table data-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">@Resource.lblField</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblCropArea</th>
                                @if (nMaxLimit.GroupName.Equals(Resource.lblGroup1Vegetables) || nMaxLimit.GroupName.Equals(Resource.lblGroup2Vegetables) || nMaxLimit.GroupName.Equals(Resource.lblGroup3Vegetables))
                                {
                                    <th scope="col" class="govuk-table__header">@Resource.lblCropType</th>
                                }
                                <th scope="col" class="govuk-table__header">
                                    @(nMaxLimit.CropTypeName == Resource.lblGrass ? Resource.lblGrassCutOnlyAdjustment : Resource.lblCropYield)
                                    <br><span class="nonbold">@Resource.lblPerHa</span>
                                </th>

                                @if (nMaxLimit.GroupName != Resource.lblGrass && !(nMaxLimit.GroupName.Equals(Resource.lblGroup1Vegetables)
                                                        || nMaxLimit.GroupName.Equals(Resource.lblGroup2Vegetables) || nMaxLimit.GroupName.Equals(Resource.lblGroup3Vegetables)))
                                {
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblSoilTypeAdjustment
                                        <br><span class="nonbold">@string.Format("{0} {1}", Resource.lblN, Resource.lblPerHa)</span>
                                    </th>
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblYieldAdjustment
                                        <br><span class="nonbold">@string.Format("{0} {1}", Resource.lblN, Resource.lblPerHa)</span>
                                    </th>
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblMillingWheat
                                        <br><span class="nonbold">@string.Format("{0} {1}", Resource.lblN, Resource.lblPerHa)</span>
                                    </th>
                                }
                                <th scope="col" class="govuk-table__header">
                                    @Resource.lblPaperCrumbleOrStrawMulch
                                    <br><span class="nonbold">@string.Format("{0} {1}", Resource.lblN, Resource.lblPerHa)</span>
                                </th>
                                <th scope="col" class="govuk-table__header">
                                    @string.Format(Resource.lblAdjustedNMaxLimit, (Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales ? Resource.lblN : Resource.lblNMax))
                                    <br><span class="nonbold">@string.Format("{0} {1}", Resource.lblN, Resource.lblPerHa)</span>
                                </th>
                                <th scope="col" class="govuk-table__header">@Resource.lblMaximumLimitForNApplied</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var nMaxLimitReportResponse in nMaxLimit.NMaxLimitReportResponse)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">@nMaxLimitReportResponse.FieldName</td>
                                    <td class="govuk-table__cell">
                                        @string.Format("{0:N1}{1}", nMaxLimitReportResponse.CropArea, Resource.lblHectareForReport)
                                    </td>
                                    @if (nMaxLimit.GroupName.Equals(Resource.lblGroup1Vegetables)
                                                            || nMaxLimit.GroupName.Equals(Resource.lblGroup2Vegetables) || nMaxLimit.GroupName.Equals(Resource.lblGroup3Vegetables))
                                    {
                                        <td class="govuk-table__cell">@nMaxLimitReportResponse.CropTypeName</td>
                                        <td class="govuk-table__cell">
                                            @(nMaxLimitReportResponse.CropYield != null ? string.Format("{0:N1}{1}", nMaxLimitReportResponse.CropYield, Resource.lblTonnesForReport) : Resource.lblHyphen)
                                        </td>
                                    }
                                    else if (nMaxLimit.CropTypeName != Resource.lblGrass)
                                    {
                                        <td class="govuk-table__cell">
                                            @(nMaxLimitReportResponse.CropYield != null ? string.Format("{0:N1}{1}", nMaxLimitReportResponse.CropYield, Resource.lblTonnesForReport) : Resource.lblHyphen)
                                        </td>
                                        <td class="govuk-table__cell">@((nMaxLimitReportResponse.SoilTypeAdjustment != null && nMaxLimitReportResponse.SoilTypeAdjustment > 0) ? string.Format("{0}{1}", nMaxLimitReportResponse.SoilTypeAdjustment, Resource.lblkg) : Resource.lblHyphen)</td>
                                        <td class="govuk-table__cell">@((nMaxLimitReportResponse.YieldAdjustment != null && nMaxLimitReportResponse.YieldAdjustment > 0) ? string.Format("{0:N0}{1}", nMaxLimitReportResponse.YieldAdjustment, Resource.lblkg) : Resource.lblHyphen)</td>
                                        <td class="govuk-table__cell">@((nMaxLimitReportResponse.MillingWheat != null && nMaxLimitReportResponse.MillingWheat > 0) ? string.Format("{0}{1}", nMaxLimitReportResponse.MillingWheat, Resource.lblkg) : Resource.lblHyphen)</td>
                                    }
                                    else
                                    {
                                        <td class="govuk-table__cell">@((nMaxLimitReportResponse.AdjustmentForThreeOrMoreCuts != null && nMaxLimitReportResponse.AdjustmentForThreeOrMoreCuts > 0) ? string.Format("{0}{1}", nMaxLimitReportResponse.AdjustmentForThreeOrMoreCuts, Resource.lblkg) : Resource.lblHyphen)</td>
                                    }
                                    <td class="govuk-table__cell">@((nMaxLimitReportResponse.PaperCrumbleOrStrawMulch != null && nMaxLimitReportResponse.PaperCrumbleOrStrawMulch > 0) ? string.Format("{0}{1}", nMaxLimitReportResponse.PaperCrumbleOrStrawMulch, Resource.lblkg) : Resource.lblHyphen)</td>
                                    <td class="govuk-table__cell">
                                        @((nMaxLimitReportResponse.AdjustedNMaxLimit != null && nMaxLimitReportResponse.AdjustedNMaxLimit > 0) ? string.Format("{0:N0}{1}", nMaxLimitReportResponse.AdjustedNMaxLimit, Resource.lblkg) : Resource.lblHyphen)
                                    </td>
                                    <td class="govuk-table__cell">@((nMaxLimitReportResponse.MaximumLimitForNApplied == null) ? Resource.lblHyphen : (nMaxLimitReportResponse.MaximumLimitForNApplied > 0 ? string.Format("{0:N0}{1}", nMaxLimitReportResponse.MaximumLimitForNApplied, Resource.lblkg) : nMaxLimitReportResponse.MaximumLimitForNApplied))</td>
                                </tr>
                            }

                            @{
                                var totalMaxLimitForNApplied = nMaxLimit.NMaxLimitReportResponse.Sum(x => x.MaximumLimitForNApplied);
                            }

                            <tr class="govuk-table__row total_row">
                                <th scope="col" class="govuk-table__header">@Resource.lblTotal</th>
                                <th scope="col" class="govuk-table__header">
                                    @(nMaxLimit.NMaxLimitReportResponse.Sum(x => x.CropArea) > 0 ? string.Format("{0:N1}{1}", nMaxLimit.NMaxLimitReportResponse.Sum(x => x.CropArea), Resource.lblHectareForReport) : Resource.lblHyphen)
                                </th>
                                @if (nMaxLimit.GroupName.Equals(Resource.lblGroup1Vegetables)
                                                        || nMaxLimit.GroupName.Equals(Resource.lblGroup2Vegetables) || nMaxLimit.GroupName.Equals(Resource.lblGroup3Vegetables))
                                {
                                    <th scope="col" class="nonbold govuk-table__header">@Resource.lblHyphen</th>
                                }
                                else if (nMaxLimit.NMaxLimitReportResponse.Any(r => r.CropTypeName != Resource.lblGrass))
                                {
                                    <th scope="col" class="nonbold govuk-table__header">@Resource.lblHyphen</th>
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblHyphen
                                    </th>
                                    <th scope="col" class="nonbold govuk-table__header">@Resource.lblHyphen</th>
                                }
                                <th scope="col" class="govuk-table__header">@Resource.lblHyphen</th>
                                <th scope="col" class="nonbold govuk-table__header">@Resource.lblHyphen</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblHyphen</th>
                                <th scope="col" class="govuk-table__header">@((totalMaxLimitForNApplied > 0) ? string.Format("{0:N0}{1}", totalMaxLimitForNApplied, Resource.lblkg) : (totalMaxLimitForNApplied == null ? Resource.lblHyphen : totalMaxLimitForNApplied))</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @if (nMaxLimit.NitrogenApplicationsForNMaxReportResponse != null && nMaxLimit.NitrogenApplicationsForNMaxReportResponse.Count > 0)
                {
                    nMaxLimitCounter = 1;
                    <h3 class="govuk-heading-m">
                        @string.Format(Resource.lblNitrogenApplicationsForCropTypeFields, nMaxLimit.GroupName)
                    </h3>
                    <div class="table-container">
                        <table class="govuk-table data-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">@Resource.lblField</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblCropArea</th>
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblInorganicNRate
                                        <br><span class="nonbold">@Resource.lblPerHa</span>
                                    </th>
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblInorganicNTotal
                                    </th>
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblOrganicCropAvailableNRate
                                        <br><span class="nonbold">@Resource.lblPerHa</span>
                                    </th>
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblOrganicCropAvailableNTotal

                                    </th>
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblNRate
                                        <br><span class="nonbold">@Resource.lblPerHa</span>
                                    </th>
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblNTotal
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var nitrogenApplications in nMaxLimit.NitrogenApplicationsForNMaxReportResponse)
                                {
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">@nitrogenApplications.FieldName</td>
                                        <td class="govuk-table__cell">
                                            @string.Format("{0:N1}{1}", nitrogenApplications.CropArea, Resource.lblHectareForReport)
                                        </td>

                                        <td class="govuk-table__cell">@((nitrogenApplications.InorganicNRate != null && nitrogenApplications.InorganicNRate > 0) ? string.Format("{0:N0}{1}", nitrogenApplications.InorganicNRate, Resource.lblkg) : Resource.lblHyphen)</td>
                                        <td class="govuk-table__cell">@((nitrogenApplications.InorganicNTotal != null && nitrogenApplications.InorganicNTotal > 0) ? string.Format("{0:N0}{1}", nitrogenApplications.InorganicNTotal, Resource.lblkg) : Resource.lblHyphen)</td>
                                        <td class="govuk-table__cell">@((nitrogenApplications.OrganicCropAvailableNRate != null) ? (nitrogenApplications.OrganicCropAvailableNRate != 0 ? string.Format("{0:N0}{1}", nitrogenApplications.OrganicCropAvailableNRate, Resource.lblkg) : nitrogenApplications.OrganicCropAvailableNRate) : Resource.lblHyphen)</td>
                                        <td class="govuk-table__cell">
                                            @((nitrogenApplications.OrganicCropAvailableNTotal != null) ? (nitrogenApplications.OrganicCropAvailableNTotal != 0 ? string.Format("{0:N0}{1}", nitrogenApplications.OrganicCropAvailableNTotal, Resource.lblkg) : nitrogenApplications.OrganicCropAvailableNTotal) : Resource.lblHyphen)
                                        </td>
                                        <td class="govuk-table__cell">
                                            @((nitrogenApplications.NRate != null) ? (nitrogenApplications.NRate != 0 ? string.Format("{0:N0}{1}", nitrogenApplications.NRate, Resource.lblkg) : nitrogenApplications.NRate) : Resource.lblHyphen)
                                        </td>
                                        <td class="govuk-table__cell">@((nitrogenApplications.NTotal != null) ? (nitrogenApplications.NTotal != 0 ? string.Format("{0:N0}{1}", nitrogenApplications.NTotal, Resource.lblkg) : nitrogenApplications.NTotal) : Resource.lblHyphen)</td>
                                    </tr>
                                }

                                @{
                                    var allNitrogenApps = nMaxLimit.NitrogenApplicationsForNMaxReportResponse.ToList();
                                }

                                <tr class="govuk-table__row total_row">
                                    <th scope="col" class="govuk-table__header">@Resource.lblTotal</th>

                                    <th scope="col" class="govuk-table__header">
                                        @(allNitrogenApps.Sum(x => x.CropArea) > 0 ? string.Format("{0:N1}{1}", allNitrogenApps.Sum(x => x.CropArea), Resource.lblHectareForReport) : Resource.lblHyphen)
                                    </th>
                                    <th scope="col" class="nonbold govuk-table__header">@Resource.lblHyphen</th>
                                    <th scope="col" class="govuk-table__header">
                                        @(allNitrogenApps.All(x => x.InorganicNTotal == null) ? Resource.lblHyphen : (allNitrogenApps.Sum(x => x.InorganicNTotal) != 0 ? string.Format("{0:N0}{1}", allNitrogenApps.Sum(x => x.InorganicNTotal), Resource.lblkg) : allNitrogenApps.Sum(x => x.InorganicNTotal)))
                                    </th>
                                    <th scope="col" class="nonbold govuk-table__header">@Resource.lblHyphen</th>
                                    <th scope="col" class="govuk-table__header">
                                        @(allNitrogenApps.All(x => x.OrganicCropAvailableNTotal == null) ? Resource.lblHyphen : (allNitrogenApps.Sum(x => x.OrganicCropAvailableNTotal) != 0 ? string.Format("{0:N0}{1}", allNitrogenApps.Sum(x => x.OrganicCropAvailableNTotal), Resource.lblkg) : allNitrogenApps.Sum(x => x.OrganicCropAvailableNTotal)))
                                    </th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblHyphen</th>
                                    <th scope="col" class="govuk-table__header">
                                        @(allNitrogenApps.All(x => x.NTotal == null) ? Resource.lblHyphen : (allNitrogenApps.Sum(x => x.NTotal) != 0 ? string.Format("{0:N0}{1}", allNitrogenApps.Sum(x => x.NTotal), Resource.lblkg) : allNitrogenApps.Sum(x => x.NTotal)))
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
                @if (totalCount != 0)
                {
                    <div id="printbreak"></div>
                    <div class="pagebreak">&nbsp;</div>
                }
            }

        </div>
    </div>
}

@await Html.PartialAsync("_ReposrtDisclamer")
