@using NMP.Commons.Resources
@using System.Globalization
@model NMP.Commons.ViewModels.ReportViewModel
@{
    ViewData["Title"] = $"{string.Format(Resource.ReportTitle, (Model.Country == (int)NMP.Commons.Enums.FarmCountry.England || Model.Country == (int)NMP.Commons.Enums.FarmCountry.Scotland) ? Resource.lblNMaxReport : Resource.lblMaximumNitrogenLimit, Model.FarmName, Model.Year)} {Resource.lblHyphen} {Resource.lblReport}";

    int totalCount = Model.NMaxLimitReport.Count;
    string reportName = (Model.Country == (int)NMP.Commons.Enums.FarmCountry.England || Model.Country == (int)NMP.Commons.Enums.FarmCountry.Scotland) ? Resource.lblNMax : Resource.lblMaximumNitrogen;
    var backAction = (Model.FarmAverageYields != null && Model.FarmAverageYields.Count > 0) ? "FarmAverageYieldValues" : "ExportFieldsOrCropType";
}

@section BeforeContent {
    <div class="noprint">
        <govuk-back-link asp-action=@backAction asp-controller="Report">@Resource.lblBack</govuk-back-link>
    </div>
}

@if (TempData["NMaxReport"] != null)
{
    <govuk-error-summary>
        <govuk-error-summary-item href="#">@TempData["NMaxReport"]</govuk-error-summary-item>
    </govuk-error-summary>
}

@await Html.PartialAsync("_ReportPrintHeader")

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">@Model.FarmName</span>
        <h1 class="govuk-heading-xl margin-bottom-thirty">
            @(string.Format(((Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales) ? Resource.lblMaximumNitrogenLimitsYear : Resource.lblNMaxLimitsForYear), Model.Year))
        </h1>
        <p class="govuk-body  margin-bottom-thirty">@string.Format(Resource.lblCreatedOnDate, DateTime.Now.Date.ToLocalTime().Date.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("en-GB")))</p>
    </div>
</div>
<div class="govuk-grid-row margin-bottom-ten">
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
            @Model.Farm?.Name, <br>
            @if (!string.IsNullOrWhiteSpace(Model.Farm?.Address1))
            {
                @Model.Farm?.Address1
                <br />
            }
            @if (!string.IsNullOrWhiteSpace(Model.Farm?.Address2))
            {
                @Model.Farm?.Address2
                <br />
            }
            @if (!string.IsNullOrWhiteSpace(Model.Farm?.Address3))
            {
                @Model.Farm?.Address3
                <br />
            }
            @if (!string.IsNullOrWhiteSpace(Model.Farm?.Address4))
            {
                @Model.Farm?.Address4
                <br />
            }
            @Model.Farm?.Postcode
        </p>
    </div>
    <div class="govuk-grid-column-two-third">
        @*  <p class="govuk-body">
            @(string.Format("{0} : {1}", Resource.lblCPHNumber, string.IsNullOrWhiteSpace(Model.Farm.CPH) ?
                Resource.lblNotEntered : Model.Farm.CPH))
            <br />

            @(string.Format("{0} : {1}", Resource.lblSingleBusinessIdentifier, string.IsNullOrWhiteSpace(Model.Farm.SBI) ?
                Resource.lblNotEntered : Model.Farm.SBI))

            <br />
        </p> *@
    </div>
</div>
@if (Model.NMaxLimitReport != null && Model.NMaxLimitReport.Count > 0)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <hr class="margin-bottom-thirty" />
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h2 class="govuk-heading-l">@Resource.lblSummary</h2>
            <table class="govuk-table data-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">@Resource.lblCrop</th>
                        <th scope="col" class="govuk-table__header">
                            @((Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales ?
                                                    Resource.lblComplianceIndicated : Resource.lblNmaxCompliant))
                    </th>
                </tr>
            </thead>
            @foreach (var nmaxLimit in Model.NMaxLimitReport)
                {
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="col_1 govuk-table__cell">
                                @nmaxLimit.GroupName
                            </td>
                            <td class="col_2 govuk-table__cell">@(nmaxLimit.IsComply? Resource.lblYes: Resource.lblNo)</td>
                        </tr>
                    </tbody>
                }

                    </table>
                </div>
            </div>
            <div class="govuk-grid-row pagebreak">
                <div class="govuk-grid-column-full">
                    <p class="govuk-body margin-bottom-thirty">
                        @string.Format(Resource.lblNMaxReportSummaryContent, (Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales ? $"{Resource.lblMaximum} {Resource.lblNitrogenWithoutN}" : Resource.lblNMax),
                        (Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales ? $"{Resource.lblMaximum} {Resource.lblNitrogenWithoutN}" : Resource.lblNMax))
        </p>
        <hr class="margin-bottom-thirty" />
    </div>
</div>
<div class="govuk-grid-row pagebreak">
    <div class="govuk-grid-column-full">
        @foreach (var nmaxLimit in Model.NMaxLimitReport)
            {

                var averageYield = Model.FarmAverageYields?
                .FirstOrDefault(x => x.CropGroupName == nmaxLimit.GroupName)?
                .AverageYield;

                totalCount--;
                <h2 class="govuk-heading-l">
                    @string.Format(Resource.LblCropTypeFields, nmaxLimit.GroupName)
                </h2>
                @if (Model.Country != (int)NMP.Commons.Enums.FarmCountry.Scotland)
                {
                    <h3 class="govuk-heading-m">
                        @string.Format(Resource.lblNMaxLimitForWinterWheat, reportName, nmaxLimit.GroupName)
                    </h3>
                }
                <p class="govuk-body">
                    @Resource.lblNitrogenApplicationsToCropTypeContent1
                    <span class="strong">
                        @if (nmaxLimit.IsComply)
                        {
                            @Resource.lblCompliance.ToLower()
                        }
                        else
                        {
                            @Resource.lblNonCompliance.ToLower()
                        }
                    </span>
                    @string.Format(Resource.lblNitrogenApplicationsToCropTypeContent2, (Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales ? $"{Resource.lblMaximum} {Resource.lblNitrogenWithoutN}" : Resource.lblNMax))
                </p>
                <p class="govuk-body">
                    @if (Model.Country != (int)NMP.Commons.Enums.FarmCountry.Scotland)
                    {
                        @string.Format(Resource.lblNMaxLimitForCropTypeFieldsBeforeAdjustmentsPerHectare, reportName, nmaxLimit.GroupName, nmaxLimit.NmaxLimit)
                    }
                </p>
                @if (Model.Country == (int)NMP.Commons.Enums.FarmCountry.Scotland && nmaxLimit.FieldDetail != null)
                {
                    @if (averageYield != null)
                    {
                        <p class="govuk-body">
                            @string.Format(Resource.lblThisCalculationIsBasedOnAFarmAverageYield, averageYield)
                        @* need to change *@

                    </p>
                    }
                    <h3 class="govuk-heading-m">
                        @string.Format(Resource.lblGroupFieldDetail, nmaxLimit.GroupName)
                    </h3>

                    <table class="govuk-table data-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">@Resource.lblField</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblCropedArea</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblPreviousCrop</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblSoilType</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblNitrogenResidueGroup</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var fieldDetail in nmaxLimit.FieldDetail)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">@fieldDetail.FieldName</td>
                                    <td class="govuk-table__cell">@string.Format("{0:N0}{1}", fieldDetail.CroppedArea, Resource.lblHectareForReport)</td>
                                    <td class="govuk-table__cell">@fieldDetail.PreviousCrop</td>
                                    <td class="govuk-table__cell">@fieldDetail.SoilType</td>
                                    <td class="govuk-table__cell">@fieldDetail.NitrogenResidueGroup</td>
                                </tr>
                            }
                            @{
                                var allCroppedArea = nmaxLimit.FieldDetail.Sum(x => x.CroppedArea);
                            }
                            <tr class="govuk-table__row total_row">
                                <th scope="col" class="govuk-table__header">@Resource.lblTotal</th>
                                <th scope="col" class="govuk-table__header">@((allCroppedArea > 0) ? string.Format("{0:N0}{1}", allCroppedArea, Resource.lblHectareForReport) : (allCroppedArea == null ? Resource.lblHyphen : allCroppedArea))</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblHyphen</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblHyphen</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblHyphen</th>
                            </tr>
                        </tbody>
                    </table>
                }
                <div class="table-container margin-bottom-forty">
                    @if (Model.Country == (int)NMP.Commons.Enums.FarmCountry.Scotland)
                    {
                        <h3 class="govuk-heading-m">
                            @string.Format(Resource.lblNMaxLimitForWinterWheatFields, reportName, nmaxLimit.GroupName)
                        </h3>
                    }
                    <table class="govuk-table data-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">@Resource.lblField</th>
                                @if (Model.Country != (int)NMP.Commons.Enums.FarmCountry.Scotland)
                                {
                                    <th scope="col" class="govuk-table__header">@Resource.lblCropArea</th>
                                    @if (nmaxLimit.GroupName.Equals(Resource.lblGroup1Vegetables) || nmaxLimit.GroupName.Equals(Resource.lblGroup2Vegetables) || nmaxLimit.GroupName.Equals(Resource.lblGroup3Vegetables))
                                    {
                                        <th scope="col" class="govuk-table__header">@Resource.lblCropType</th>
                                    }
                                    <th scope="col" class="govuk-table__header">
                                        @(nmaxLimit.CropTypeName == Resource.lblGrass ? Resource.lblThreeOrMoreCuts : Resource.lblCropYield)
                                        <br><span class="nonbold">@Resource.lblPerHa</span>
                                    </th>

                                    @if (nmaxLimit.GroupName != Resource.lblGrass && !(nmaxLimit.GroupName.Equals(Resource.lblGroup1Vegetables)
                                                            || nmaxLimit.GroupName.Equals(Resource.lblGroup2Vegetables) || nmaxLimit.GroupName.Equals(Resource.lblGroup3Vegetables)))
                                    {
                                        <th scope="col" class="govuk-table__header">
                                            @Resource.lblSoilTypeAdjustment
                                            <br><span class="nonbold">@string.Format("{0} {1}", Resource.lblN, Resource.lblPerHa)</span>
                                        </th>
                                        <th scope="col" class="govuk-table__header">
                                            @Resource.lblYieldAdjustment
                                            <br><span class="nonbold">@string.Format("{0} {1}", Resource.lblN, Resource.lblPerHa)</span>
                                        </th>
                                        <th scope="col" class="govuk-table__header">
                                            @Resource.lblMillingWheat
                                            <br><span class="nonbold">@string.Format("{0} {1}", Resource.lblN, Resource.lblPerHa)</span>
                                        </th>
                                    }
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblPaperCrumbleOrStrawMulch
                                        <br><span class="nonbold">@string.Format("{0} {1}", Resource.lblN, Resource.lblPerHa)</span>
                                    </th>
                                }
                                else
                                {
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblStandardRate
                                        <br><span class="nonbold">@string.Format("{0} {1}", Resource.lblN, Resource.lblPerHa)</span>
                                    </th>
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblYieldAdjustment
                                        <br><span class="nonbold">@string.Format("{0} {1}", Resource.lblN, Resource.lblPerHa)</span>
                                    </th>
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblMarketAdjustment
                                        <br><span class="nonbold">@string.Format("{0} {1}", Resource.lblN, Resource.lblPerHa)</span>
                                    </th>
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblWinterRainfallAdjustment
                                        <br><span class="nonbold">@string.Format("{0} {1}", Resource.lblN, Resource.lblPerHa)</span>
                                    </th>
                                }
                                <th scope="col" class="govuk-table__header">
                                    @string.Format(Resource.lblAdjustedNMaxLimit, (Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales ? Resource.lblN : Resource.lblNMax))
                                    <br><span class="nonbold">@string.Format("{0} {1}", Resource.lblN, Resource.lblPerHa)</span>
                                </th>
                                <th scope="col" class="govuk-table__header">@Resource.lblMaximumLimitForNApplied</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var nmaxLimitReportResponse in nmaxLimit.NMaxLimitReportResponse)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">@nmaxLimitReportResponse.FieldName</td>
                                    @if (Model.Country != (int)NMP.Commons.Enums.FarmCountry.Scotland)
                                    {
                                        <td class="govuk-table__cell">
                                            @string.Format("{0:N1}{1}", nmaxLimitReportResponse.CropArea, Resource.lblHectareForReport)
                                        </td>
                                        @if (nmaxLimit.GroupName.Equals(Resource.lblGroup1Vegetables)
                                                                || nmaxLimit.GroupName.Equals(Resource.lblGroup2Vegetables) || nmaxLimit.GroupName.Equals(Resource.lblGroup3Vegetables))
                                        {
                                            <td class="govuk-table__cell">@nmaxLimitReportResponse.CropTypeName</td>
                                            <td class="govuk-table__cell">
                                                @(nmaxLimitReportResponse.CropYield != null ? string.Format("{0:N1}{1}", nmaxLimitReportResponse.CropYield, Resource.lblTonnesForReport) : Resource.lblHyphen)
                                            </td>
                                        }
                                        else if (nmaxLimit.CropTypeName != Resource.lblGrass)
                                        {
                                            <td class="govuk-table__cell">
                                                @(nmaxLimitReportResponse.CropYield != null ? string.Format("{0:N1}{1}", nmaxLimitReportResponse.CropYield, Resource.lblTonnesForReport) : Resource.lblHyphen)
                                            </td>
                                            <td class="govuk-table__cell">@((nmaxLimitReportResponse.SoilTypeAdjustment != null && nmaxLimitReportResponse.SoilTypeAdjustment > 0) ? string.Format("{0}{1}", nmaxLimitReportResponse.SoilTypeAdjustment, Resource.lblkg) : Resource.lblHyphen)</td>
                                            <td class="govuk-table__cell">@((nmaxLimitReportResponse.YieldAdjustment != null && nmaxLimitReportResponse.YieldAdjustment > 0) ? string.Format("{0:N0}{1}", nmaxLimitReportResponse.YieldAdjustment, Resource.lblkg) : Resource.lblHyphen)</td>
                                            <td class="govuk-table__cell">@((nmaxLimitReportResponse.MillingWheat != null && nmaxLimitReportResponse.MillingWheat > 0) ? string.Format("{0}{1}", nmaxLimitReportResponse.MillingWheat, Resource.lblkg) : Resource.lblHyphen)</td>
                                        }
                                        else
                                        {
                                            <td class="govuk-table__cell">@((nmaxLimitReportResponse.AdjustmentForThreeOrMoreCuts > 0 && nmaxLimitReportResponse.AdjustmentForThreeOrMoreCuts > 0) ? string.Format("{0}{1}", nmaxLimitReportResponse.AdjustmentForThreeOrMoreCuts, Resource.lblkg) : Resource.lblHyphen)</td>
                                        }
                                        <td class="govuk-table__cell">@((nmaxLimitReportResponse.PaperCrumbleOrStrawMulch != null && nmaxLimitReportResponse.PaperCrumbleOrStrawMulch > 0) ? string.Format("{0}{1}", nmaxLimitReportResponse.PaperCrumbleOrStrawMulch, Resource.lblkg) : Resource.lblHyphen)</td>
                                    }
                                    else
                                    {
                                        <td class="govuk-table__cell">
                                            @((nmaxLimitReportResponse.StandardRate != null && nmaxLimitReportResponse.StandardRate > 0) ? string.Format("{0:N0}{1}", nmaxLimitReportResponse.StandardRate, Resource.lblkg) : Resource.lblHyphen)
                                        </td>
                                        <td class="govuk-table__cell">
                                            @((nmaxLimitReportResponse.YieldAdjustment != null && nmaxLimitReportResponse.YieldAdjustment > 0) ? string.Format("{0:N0}{1}", nmaxLimitReportResponse.YieldAdjustment, Resource.lblkg) : Resource.lblHyphen)
                                        </td>
                                        <td class="govuk-table__cell">
                                            @((nmaxLimitReportResponse.MarketAdjustment != null && nmaxLimitReportResponse.MarketAdjustment > 0) ? string.Format("{0:N0}{1}", nmaxLimitReportResponse.MarketAdjustment, Resource.lblkg) : Resource.lblHyphen)
                                        </td>
                                        <td class="govuk-table__cell">
                                            @((nmaxLimitReportResponse.WinterRainfallAdjustment != null && nmaxLimitReportResponse.WinterRainfallAdjustment > 0) ? string.Format("{0:N0}{1}", nmaxLimitReportResponse.WinterRainfallAdjustment, Resource.lblkg) : Resource.lblHyphen)
                                        </td>
                                    }
                                    <td class="govuk-table__cell">
                                        @((nmaxLimitReportResponse.AdjustedNMaxLimit != null && nmaxLimitReportResponse.AdjustedNMaxLimit > 0) ? string.Format("{0:N0}{1}", nmaxLimitReportResponse.AdjustedNMaxLimit, Resource.lblkg) : Resource.lblHyphen)
                                    </td>
                                    <td class="govuk-table__cell">@((nmaxLimitReportResponse.MaximumLimitForNApplied == null) ? Resource.lblHyphen : (nmaxLimitReportResponse.MaximumLimitForNApplied > 0 ? string.Format("{0:N0}{1}", nmaxLimitReportResponse.MaximumLimitForNApplied, Resource.lblkg) : nmaxLimitReportResponse.MaximumLimitForNApplied))</td>
                                </tr>
                            }

                            @{
                                var totalMaxLimitForNApplied = nmaxLimit.NMaxLimitReportResponse.Sum(x => x.MaximumLimitForNApplied);
                            }

                            <tr class="govuk-table__row total_row">
                                <th scope="col" class="govuk-table__header">@Resource.lblTotal</th>
                                @if (Model.Country != (int)NMP.Commons.Enums.FarmCountry.Scotland)
                                {
                                    <th scope="col" class="govuk-table__header">
                                        @(nmaxLimit.NMaxLimitReportResponse.Sum(x => x.CropArea) > 0 ? string.Format("{0:N1}{1}", nmaxLimit.NMaxLimitReportResponse.Sum(x => x.CropArea), Resource.lblHectareForReport) : Resource.lblHyphen)
                                    </th>
                                    @if (nmaxLimit.GroupName.Equals(Resource.lblGroup1Vegetables)
                                                            || nmaxLimit.GroupName.Equals(Resource.lblGroup2Vegetables) || nmaxLimit.GroupName.Equals(Resource.lblGroup3Vegetables))
                                    {
                                        <th scope="col" class="nonbold govuk-table__header">@Resource.lblHyphen</th>
                                    }
                                    else if (nmaxLimit.NMaxLimitReportResponse.Any(r => r.CropTypeName != Resource.lblGrass))
                                    {
                                        <th scope="col" class="nonbold govuk-table__header">@Resource.lblHyphen</th>
                                        <th scope="col" class="govuk-table__header">
                                            @Resource.lblHyphen
                                        </th>
                                        <th scope="col" class="nonbold govuk-table__header">@Resource.lblHyphen</th>
                                    }
                                }
                                else
                                {
                                    <th scope="col" class="nonbold govuk-table__header">@Resource.lblHyphen</th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblHyphen</th>
                                }
                                <th scope="col" class="govuk-table__header">@Resource.lblHyphen</th>
                                <th scope="col" class="nonbold govuk-table__header">@Resource.lblHyphen</th>
                                <th scope="col" class="govuk-table__header">@Resource.lblHyphen</th>
                                <th scope="col" class="govuk-table__header">@((totalMaxLimitForNApplied > 0) ? string.Format("{0:N0}{1}", totalMaxLimitForNApplied, Resource.lblkg) : (totalMaxLimitForNApplied == null ? Resource.lblHyphen : totalMaxLimitForNApplied))</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @if (nmaxLimit.NitrogenApplicationsForNMaxReportResponse != null && nmaxLimit.NitrogenApplicationsForNMaxReportResponse.Count > 0)
                {
                    <h3 class="govuk-heading-m">
                        @string.Format((Model.Country == (int)NMP.Commons.Enums.FarmCountry.Scotland) ? Resource.lblNitrogenApplicationsForCropTypeField : Resource.lblNitrogenApplicationsForCropType, nmaxLimit.GroupName)
                    </h3>
                    <div class="table-container">
                        <table class="govuk-table data-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">@Resource.lblField</th>
                                    @if (Model.Country != (int)NMP.Commons.Enums.FarmCountry.Scotland)
                                    {
                                        <th scope="col" class="govuk-table__header">@Resource.lblCropArea</th>
                                    }
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblInorganicNRate
                                        <br><span class="nonbold">@Resource.lblPerHa</span>
                                    </th>
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblInorganicNTotal
                                    </th>
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblOrganicCropAvailableNRate
                                        <br><span class="nonbold">@Resource.lblPerHa</span>
                                    </th>
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblOrganicCropAvailableNTotal

                                    </th>
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblNRate
                                        <br><span class="nonbold">@Resource.lblPerHa</span>
                                    </th>
                                    <th scope="col" class="govuk-table__header">
                                        @Resource.lblNTotal
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var nitrogenApplications in nmaxLimit.NitrogenApplicationsForNMaxReportResponse)
                                {
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">@nitrogenApplications.FieldName</td>
                                        @if (Model.Country != (int)NMP.Commons.Enums.FarmCountry.Scotland)
                                        {
                                            <td class="govuk-table__cell">
                                                @string.Format("{0:N1}{1}", nitrogenApplications.CropArea, Resource.lblHectareForReport)
                                            </td>
                                        }
                                        <td class="govuk-table__cell">@((nitrogenApplications.InorganicNRate != null && nitrogenApplications.InorganicNRate > 0) ? string.Format("{0:N0}{1}", nitrogenApplications.InorganicNRate, Resource.lblkg) : Resource.lblHyphen)</td>
                                        <td class="govuk-table__cell">@((nitrogenApplications.InorganicNTotal != null && nitrogenApplications.InorganicNTotal > 0) ? string.Format("{0:N0}{1}", nitrogenApplications.InorganicNTotal, Resource.lblkg) : Resource.lblHyphen)</td>
                                        <td class="govuk-table__cell">@((nitrogenApplications.OrganicCropAvailableNRate != null) ? (nitrogenApplications.OrganicCropAvailableNRate != 0 ? string.Format("{0:N0}{1}", nitrogenApplications.OrganicCropAvailableNRate, Resource.lblkg) : nitrogenApplications.OrganicCropAvailableNRate) : Resource.lblHyphen)</td>
                                        <td class="govuk-table__cell">
                                            @((nitrogenApplications.OrganicCropAvailableNTotal != null) ? (nitrogenApplications.OrganicCropAvailableNTotal != 0 ? string.Format("{0:N0}{1}", nitrogenApplications.OrganicCropAvailableNTotal, Resource.lblkg) : nitrogenApplications.OrganicCropAvailableNTotal) : Resource.lblHyphen)
                                        </td>
                                        <td class="govuk-table__cell">
                                            @((nitrogenApplications.NRate != null) ? (nitrogenApplications.NRate != 0 ? string.Format("{0:N0}{1}", nitrogenApplications.NRate, Resource.lblkg) : nitrogenApplications.NRate) : Resource.lblHyphen)
                                        </td>
                                        <td class="govuk-table__cell">@((nitrogenApplications.NTotal != null) ? (nitrogenApplications.NTotal != 0 ? string.Format("{0:N0}{1}", nitrogenApplications.NTotal, Resource.lblkg) : nitrogenApplications.NTotal) : Resource.lblHyphen)</td>
                                    </tr>
                                }

                                @{
                                    var allNitrogenApps = nmaxLimit.NitrogenApplicationsForNMaxReportResponse.ToList();
                                }

                                <tr class="govuk-table__row total_row">
                                    <th scope="col" class="govuk-table__header">@Resource.lblTotal</th>
                                    @if (Model.Country != (int)NMP.Commons.Enums.FarmCountry.Scotland)
                                    {
                                        <th scope="col" class="govuk-table__header">
                                            @(allNitrogenApps.Sum(x => x.CropArea) > 0 ? string.Format("{0:N1}{1}", allNitrogenApps.Sum(x => x.CropArea), Resource.lblHectareForReport) : Resource.lblHyphen)
                                        </th>
                                    }
                                    <th scope="col" class="nonbold govuk-table__header">@Resource.lblHyphen</th>
                                    <th scope="col" class="govuk-table__header">
                                        @(allNitrogenApps.All(x => x.InorganicNTotal == null) ? Resource.lblHyphen : (allNitrogenApps.Sum(x => x.InorganicNTotal) != 0 ? string.Format("{0:N0}{1}", allNitrogenApps.Sum(x => x.InorganicNTotal), Resource.lblkg) : allNitrogenApps.Sum(x => x.InorganicNTotal)))
                                    </th>
                                    <th scope="col" class="nonbold govuk-table__header">@Resource.lblHyphen</th>
                                    <th scope="col" class="govuk-table__header">
                                        @(allNitrogenApps.All(x => x.OrganicCropAvailableNTotal == null) ? Resource.lblHyphen : (allNitrogenApps.Sum(x => x.OrganicCropAvailableNTotal) != 0 ? string.Format("{0:N0}{1}", allNitrogenApps.Sum(x => x.OrganicCropAvailableNTotal), Resource.lblkg) : allNitrogenApps.Sum(x => x.OrganicCropAvailableNTotal)))
                                    </th>
                                    <th scope="col" class="govuk-table__header">@Resource.lblHyphen</th>
                                    <th scope="col" class="govuk-table__header">
                                        @(allNitrogenApps.All(x => x.NTotal == null) ? Resource.lblHyphen : (allNitrogenApps.Sum(x => x.NTotal) != 0 ? string.Format("{0:N0}{1}", allNitrogenApps.Sum(x => x.NTotal), Resource.lblkg) : allNitrogenApps.Sum(x => x.NTotal)))
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
                @if (totalCount != 0)
                {
                    <div id="printbreak"></div>
                    <div class="pagebreak">&nbsp;</div>
                }
            }

        </div>
    </div>
}

@await Html.PartialAsync("_ReposrtDisclamer", Model)
