@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    ViewData["Title"] = $"{string.Format(Resource.lblWhatIsTheAverageTotalNumberOfThis, Model.LivestockGroupName.ToLower(), Model.Year)} {Resource.lblHyphen} {Resource.lblAddLivestockNumber}";
    var livestockGroupName = Model.LivestockGroupName.ToLower();
    if (livestockGroupName.Equals("pigs"))
    {
        livestockGroupName = "pig";
    }
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.ReportWizardSteps.NonGrazingLivestockAverageNumber;
}

@section BeforeContent {
    <govuk-back-link asp-action="@((Model.IsLivestockCheckAnswer && !Model.IsLivestockGroupChange) ? "LivestockCheckAnswer" : "LivestockType")" asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnNonGrazingLivestockAverageNumber"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnNonGrazingLivestockAverageNumber"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="NonGrazingLivestockAverageNumber" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-fieldset>
                    <govuk-fieldset-legend class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblWhatIsTheAverageTotalNumberOfThisSuffix, livestockGroupName, Model.Year)<span class="govuk-visually-hidden"> @string.Format(Resource.lblInUnit, ((Model.LivestockGroupId == (int)NMP.Commons.Enums.LivestockGroup.Pigs || Model.LivestockTypeId == (int)NMP.Commons.Enums.Livestock.OneOstrich) ? Resource.lblPlaces : Resource.lblThousandPlaces))</span>@Resource.lblQuestionMark
                    </govuk-fieldset-legend>
                    <p class="govuk-body">@string.Format(Resource.lblSelectedLivestockType, Model.LivestockTypeName)</p>

                    <govuk-input asp-for=@Model.AverageNumberOfPlaces type="number" step="any" spellcheck="false">
                        <govuk-input-label is-page-heading="false"></govuk-input-label>

                        @if (Model.LivestockGroupId == (int)NMP.Commons.Enums.LivestockGroup.Poultry &&
                                            Model.LivestockTypeId != (int)NMP.Commons.Enums.Livestock.OneOstrich)
                        {
                            <govuk-input-hint>@Resource.lblForExampleFor10000PlacesEnter10</govuk-input-hint>
                        }

                        <govuk-input-suffix>@((Model.LivestockGroupId == (int)NMP.Commons.Enums.LivestockGroup.Pigs || Model.LivestockTypeId == (int)NMP.Commons.Enums.Livestock.OneOstrich) ? Resource.lblPlaces : Resource.lblThousandPlaces)</govuk-input-suffix>
                    </govuk-input>
                </govuk-fieldset>

                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>

                <p class="govuk-body cancel-link">
                    @if (!Model.IsManageLivestock || (Model.IsManageLivestock && Model.IsLivestockCheckAnswer))
                    {
                        @if (!Model.IsLivestockCheckAnswer)
                        {
                            <a asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report">
                                @Resource.lblCancel
                            </a>
                        }
                        else
                        {
                            <a asp-action="LivestockCheckAnswer" asp-controller="Report">
                                @Resource.lblCancel
                            </a>
                        }
                    }
                    else
                    {
                        <a asp-action="ManageLivestock" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId" asp-route-y="@Model.EncryptedHarvestYear">
                            @Resource.lblCancel
                        </a>
                    }
                </p>

            </div>

        </div>
    </form>
}