@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{

    ViewData["Title"] = $"{string.Format(Resource.lblWhichNVZComplianceReport, (Model.Country != null && Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales) ? Resource.lblWaterResourcesRegulations : Resource.lblNVZShortForm)} {Resource.lblHyphen} {Resource.lblReport}";

    var nmaxReport = (int)NMP.Commons.Enums.NVZReportOption.NmaxReport;
    var livestockManureNFarmLimitReport = (int)NMP.Commons.Enums.NVZReportOption.LivestockManureNFarmLimitReport;
    var existingManureStorageCapacityReport = (int)NMP.Commons.Enums.NVZReportOption.ExistingManureStorageCapacityReport;
    var organicMaterialInventoryAndStorageRequirementReport = (int)NMP.Commons.Enums.NVZReportOption.OrganicMaterialInventoryAndStorageRequirementReport;
}

@section BeforeContent {
    <govuk-back-link asp-action="ReportOptions" asp-controller="Report" asp-route-f="@Model.EncryptedFarmId" asp-route-h="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnNVZComplianceReports"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <govuk-error-summary>
                <govuk-error-summary-item href="#NVZReportOption">@TempData["ErrorOnNVZComplianceReports"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (TempData["succesMsgContent1"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <div class="margin-bottom-thirty">

                <govuk-notification-banner type="NotificationBannerType.Success">
                    <p class="govuk-notification-banner__heading">
                        @TempData["succesMsgContent1"]
                    </p>
                </govuk-notification-banner>
            </div>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="NVZComplianceReports" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <div hidden="true">
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReportOption"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsGrasslandDerogation"/>

            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalFarmArea"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.TotalAreaInNVZ"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockNumbers"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ImportsExportsOfLivestockManure"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckList" value="@Model.IsCheckList"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyLivestockImportExport" value="@Model.IsAnyLivestockImportExport"/>
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ManureTypeId"/>
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ManureTypeName"/>
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ImportExport"/>
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockQuantity"/>
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockImportExportDate"></govuk-date-input>

            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Country" />
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.DryMatter"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.TotalN"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.NH4N"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.NO3N"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.Uric"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.P2O5"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.K2O"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.MgO"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureType.SO3"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DryMatterPercent"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.N"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NH4N"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NO3N"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.UricAcid"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.P2O5"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.K2O"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.MgO"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SO3"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ReceiverName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address1"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address2"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address3"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Address4"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Postcode"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Comment"/>
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupId"/>
            <govuk-input class=" govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ManureGroupIdForFilter"/>

            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManureTypeLiquid"/>
            <govuk-date-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefaultFarmManureValueDate" value="@Model.DefaultFarmManureValueDate"></govuk-date-input>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsThisDefaultValueOfRB209" value="@Model.IsThisDefaultValueOfRB209"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyNeedToStoreNutrientValueForFuture"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.DefaultNutrientValue"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsDefaultValueChange" value="@Model.IsDefaultValueChange"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsManageImportExport" value="@Model.IsManageImportExport"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" value="@Model.IsCheckAnswer.ToString().ToLower()"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromPlan"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsComingFromImportExportOverviewPage"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OtherMaterialName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassPercentage"/>

            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsAnyLivestockNumber"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockGroupId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockGroupName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockTypeId"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockTypeName"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LivestockNumberQuestion"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AverageNumber"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInJanuary"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInFebruary"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInMarch"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInApril"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInMay"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInJune"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInJuly"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInAugust"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInSeptember"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInOctober"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInNovember"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NumbersInDecember"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AverageNumberOfPlaces"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.AverageOccupancy"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.NitrogenStandard"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsLivestockCheckAnswer" value="@Model.IsLivestockCheckAnswer.ToString().ToLower()"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.OccupancyAndNitrogenOptions"/>
            <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PhosphateStandard"/>
            @if (Model.FieldList != null && Model.FieldList.Count > 0)
            {
                @for (int i = 0; i < Model.FieldList.Count; i++)
                {
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldList[i]" value="@Model.FieldList[i]"/>
                }
            }
            @if (Model.CropTypeList != null && Model.CropTypeList.Count > 0)
            {
                @for (int i = 0; i < Model.CropTypeList.Count; i++)
                {
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeList[i]" value="@Model.CropTypeList[i]"/>
                }
            }

        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-radios asp-for="@Model.NVZReportOption">                    
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend class="govuk-fieldset__legend--l" is-page-heading="true">
                            @(string.Format(Resource.lblWhichNVZComplianceReport, (Model.Country != null && Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales) ? Resource.lblWaterResourcesRegulations : Resource.lblNVZShortForm))
                        </govuk-radios-fieldset-legend>
                        <govuk-radios-item value="@nmaxReport">
                            @(Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales ? Resource.lblMaximumNitrogenLimit : Resource.lblNMaxReport)                            
                        </govuk-radios-item>
                        <govuk-radios-item value="@livestockManureNFarmLimitReport">
                            @Resource.lblLivestockManureNitrogenFarmLimit
                        </govuk-radios-item>
                        @* <govuk-radios-item value="@existingManureStorageCapacityReport">
                            @Resource.lblExistingManureStorageCapacityReport
                            <govuk-radios-item-hint>
                                @Resource.ExistingManureStorageCapacityReportHintReword
                            </govuk-radios-item-hint>
                        </govuk-radios-item>
                        <govuk-radios-item value="@organicMaterialInventoryAndStorageRequirementReport" disabled="true">
                            @Resource.OrganicMaterialInventoryStorageRequirementReport
                            <govuk-radios-item-hint>
                                @Resource.OrganicMaterialInventoryStorageRequirementReportHint
                            </govuk-radios-item-hint>
                        </govuk-radios-item> *@
                    </govuk-radios-fieldset>
                </govuk-radios>

                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                    @if ((Model.IsComingFromPlan.HasValue && Model.IsComingFromPlan.Value))
                    {
                        <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">
                            @Resource.lblCancel
                        </a>
                    }
                    else
                    {
                        <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                            @Resource.lblCancel
                        </a>
                    }
                </p>

            </div>

        </div>
    </form>
}