@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{

    string heading = string.Format(Resource.lblWhichNVZComplianceReport, (Model.Country != null && Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales) ? Resource.lblWaterResourcesRegulations : Resource.lblNVZShortForm);
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {Resource.lblReport}";

    var nmaxReport = (int)NMP.Commons.Enums.NvzReportOption.NmaxReport;
    var livestockManureNFarmLimitReport = (int)NMP.Commons.Enums.NvzReportOption.LivestockManureNFarmLimitReport;
    var existingManureStorageCapacityReport = (int)NMP.Commons.Enums.NvzReportOption.ExistingManureStorageCapacityReport;
    var organicMaterialInventoryAndStorageRequirementReport = (int)NMP.Commons.Enums.NvzReportOption.OrganicMaterialInventoryAndStorageRequirementReport;
}

@section BeforeContent {
    <govuk-back-link asp-action="ReportOptions" asp-controller="Report" asp-route-f="@Model.EncryptedFarmId" asp-route-h="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnNVZComplianceReports"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <govuk-error-summary>
                <govuk-error-summary-item href="#NVZReportOption">@TempData["ErrorOnNVZComplianceReports"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (TempData["succesMsgContent1"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <div class="margin-bottom-thirty">

                <govuk-notification-banner type="NotificationBannerType.Success">
                    <p class="govuk-notification-banner__heading">
                        @TempData["succesMsgContent1"]
                    </p>
                </govuk-notification-banner>
            </div>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="NVZComplianceReports" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-radios asp-for="@Model.NVZReportOption">                    
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend class="govuk-fieldset__legend--l" is-page-heading="true">
                            @heading
                        </govuk-radios-fieldset-legend>
                        <govuk-radios-item value="@nmaxReport">
                            @(Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales ? Resource.lblMaximumNitrogenLimit : Resource.lblNMaxReport)                            
                        </govuk-radios-item>
                        <govuk-radios-item value="@livestockManureNFarmLimitReport">
                        @(Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales ? Resource.lblHoldingNitrogenLimitThe170Limit : Resource.lblLivestockManureNitrogenFarmLimit)
                        </govuk-radios-item>
                         <govuk-radios-item value="@existingManureStorageCapacityReport">
                            @(Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales ? Resource.lblExistingManureStorageCapacityForHint : Resource.lblExistingManureStorageCapacityReport)                            
                        </govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>

                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                    @if ((Model.IsComingFromPlan.HasValue && Model.IsComingFromPlan.Value))
                    {
                        <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">
                            @Resource.lblCancel
                        </a>
                    }
                    else
                    {
                        <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                            @Resource.lblCancel
                        </a>
                    }
                </p>

            </div>

        </div>
    </form>
}
