@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    string heading = Resource.lblOccupancyAndNitrogenStandard;
    ViewData["Title"] = $"{heading}  {Resource.lblHyphen} {Resource.lblAddLivestockNumber}";

    ViewBag.CurrentStep = (int)NMP.Commons.Enums.ReportWizardSteps.OccupancyAndStandard;
}

@section BeforeContent {
    <govuk-back-link asp-action="@((Model.IsLivestockCheckAnswer && !Model.IsLivestockGroupChange) ? "LivestockCheckAnswer" : "NonGrazingLivestockAverageNumber")" asp-controller="Report">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnOccupancyAndStandard"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnOccupancyAndStandard"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="OccupancyAndStandard" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l"> @heading</h1>
                <p class="govuk-body">@string.Format(Resource.lblSelectedLivestockType, Model.LivestockTypeName)</p>
                <govuk-details>
                    <govuk-details-summary>
                        @Resource.lblHelpWithOccupancyAndNitrogenNStandard
                    </govuk-details-summary>
                    <govuk-details-text class="explanations">
                        <strong>
                            @Resource.lblOccupancy
                        </strong>
                        <p class="govuk-body">
                            @Resource.lblTheseAnimalsAreCountedByTheNumberOfPlacesForThem
                        </p>
                        <p class="govuk-body">
                            @Resource.lblIfTheOccupancyOnYourFarmIsDifferentToTheValueShownHere
                        </p>
                        <strong>
                            @Resource.lblNitrogenNStandard
                        </strong>
                        <p class="govuk-body">
                            @Resource.lblTheNitrogenStandardFigureIsTheAverageNitrogenProduced
                        </p>
                        <p class="govuk-body margin-bottom-forty">
                            @Resource.lblThisFigureAccountsForOccupancyAlready
                        </p>
                    </govuk-details-text>
                </govuk-details>
                <h2 class="govuk-heading-s">@Resource.lblTypicalValuesForThisLivestockType</h2>
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">@Resource.lblOccupancy</th>
                            <td class="govuk-table__cell">@string.Format(Resource.lblPercentOfTheYear, ViewBag.AverageOccupancy)</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">@Resource.lblNitrogenNStandard</th>
                            <td class="govuk-table__cell">
                                @if (Model.LivestockGroupId == (int)NMP.Commons.Enums.LivestockGroup.Pigs || Model.LivestockTypeId == (int)NMP.Commons.Enums.Livestock.OneOstrich)
                                {
                                    @string.Format(Resource.lblKgPerPlacesPerYear, ViewBag.NitrogenStandard)
                                }
                                else
                                {
                                    @string.Format(Resource.lblKgPer1000PlacesPerYear, ViewBag.NitrogenStandard)
                                }
                            </td>
                        </tr>
                        @if (Model.IsGrasslandDerogation == true)
                        {
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">@Resource.lblPhosphateP2O5Standard</th>
                                <td class="govuk-table__cell">
                                    @if (Model.LivestockGroupId == (int)NMP.Commons.Enums.LivestockGroup.Pigs)
                                    {
                                        @string.Format(Resource.lblKgPerPlacesPerYear, ViewBag.PhosphateStandard)
                                    }
                                    else
                                    {
                                        @string.Format(Resource.lblKgPer1000PlacesPerYear, ViewBag.PhosphateStandard)
                                    }

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <govuk-radios asp-for="@Model.OccupancyAndNitrogenOptions">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend is-page-heading="false">
                            @string.Format(Resource.lblDoYouWantToUseTheseValuesForThis, Model.LivestockGroupName.ToLower())
                        </govuk-radios-fieldset-legend>
                        <govuk-radios-hint>
                            @if (Model.IsGrasslandDerogation == true)
                            {
                                @Resource.lblThePhosphateP205StandardCanNotBeChanged
                            }
                        </govuk-radios-hint>
                        <govuk-radios-item value="@((int)NMP.Commons.Enums.OccupancyNitrogenOptions.UseDefault)">@Resource.lblYesUseTheseValues</govuk-radios-item>
                        <govuk-radios-item value="@((int)NMP.Commons.Enums.OccupancyNitrogenOptions.ChangeOccupancy)">@Resource.lblNoChangeTheOccupancyValue</govuk-radios-item>
                        <govuk-radios-item value="@((int)NMP.Commons.Enums.OccupancyNitrogenOptions.ChangeNitrogen)">@Resource.lblNoChangeTheNitrogenNStandardValue</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>

                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>

                <p class="govuk-body cancel-link">
                    @if (!Model.IsManageLivestock || (Model.IsManageLivestock && Model.IsLivestockCheckAnswer))
                    {
                        @if (!Model.IsLivestockCheckAnswer)
                        {
                            <a asp-action="LivestockManureNitrogenReportChecklist" asp-controller="Report">
                                @Resource.lblCancel
                            </a>
                        }
                        else
                        {
                            <a asp-action="LivestockCheckAnswer" asp-controller="Report">
                                @Resource.lblCancel
                            </a>
                        }
                    }
                    else
                    {
                        <a asp-action="ManageLivestock" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId" asp-route-y="@Model.EncryptedHarvestYear">
                            @Resource.lblCancel
                        </a>
                    }
                </p>

            </div>

        </div>
    </form>
}