@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    var heading = (Model.Year == null ? Resource.lblWhatTypeOfReportDoYouWantToCreate : string.Format(Resource.lblWhatTypeOfReportDoYouWantToCreateFromYourYearData, Model.Year));

    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {Resource.lblReport}";
    var fieldRecordsAndPlan = (int)NMP.Commons.Enums.ReportOption.FieldRecordsAndPlan;
    var farmAndFieldDetailsForNVZRecord = (int)NMP.Commons.Enums.ReportOption.FarmAndFieldDetailsForNVZRecord;
    ViewBag.CurrentStep = (int)NMP.Commons.Enums.ReportWizardSteps.ReportOption;
}

@section BeforeContent {
    @if ((Model.IsComingFromPlan.HasValue && !Model.IsComingFromPlan.Value) && !Model.IsManageImportExport)
    {
        <govuk-back-link asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">@Resource.lblBack</govuk-back-link>
    }
    else if ((Model.IsComingFromPlan.HasValue && Model.IsComingFromPlan.Value) && !Model.IsManageImportExport)
    {
        <govuk-back-link asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-Id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
    }
    else if (Model.IsManageImportExport)
    {
        <govuk-back-link asp-action="ManageImportExport" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId" asp-route-y="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
    }


}
@if (TempData["ReportOptions"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ReportOptions"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="ReportOptions" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-radios asp-for="@Model.ReportOption">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @heading
                    </govuk-radios-fieldset-legend>

                    <govuk-radios-item value="@farmAndFieldDetailsForNVZRecord">
                        @(Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales ?
                                                Resource.lblAWaterResourceRegulationsReport : Resource.lblAnNVZReport)

                        <govuk-radios-item-hint>
                            @(Model.Country == (int)NMP.Commons.Enums.FarmCountry.Wales ?
                                                        Resource.lblIncludesMaximumNitrogenHoldingNitrogenForWales : Resource.lblIncludesNmaxLivestockManureNitrogen)
                        </govuk-radios-item-hint>
                    </govuk-radios-item>
                    <govuk-radios-item value="@fieldRecordsAndPlan">
                        @Resource.lblACropAndNutrientManagementReport
                        <govuk-radios-item-hint>
                            @Resource.lblDetailsAboutYourFieldsCropsAndRecommendations
                        </govuk-radios-item-hint>
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if ((Model.IsComingFromPlan.HasValue && Model.IsComingFromPlan.Value))
                    {
                        <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">
                            @Resource.lblCancel
                        </a>
                    }
                    else
                    {
                        <a asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
                            @Resource.lblCancel
                        </a>
                    }
                </p>

            </div>

        </div>
    </form>
}