@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    string heading = string.Format(Resource.lblWhatKindOfReportDoYouWantToSaveOrPrintFromYourData, Model.Year);
    ViewData["Title"] = $"{heading} {Resource.lblHyphen} {Resource.lblReport}";

    var cropAndFieldManagementReport = (int)NMP.Commons.Enums.ReportType.CropAndFieldManagementReport;
    var nMaxReport = (int)NMP.Commons.Enums.ReportType.NMaxReport;
    
}

@section BeforeContent {
    <govuk-back-link asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnReportSelection"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnReportSelection"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="ReportType" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                    <govuk-radios asp-for="@Model.ReportType">
                        <govuk-radios-fieldset>
                            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                            @heading
                            </govuk-radios-fieldset-legend>
                            <govuk-radios-hint>
                                @Resource.lblSelectOneOptionAvailableReportsAreBasedOnDataEntereForTheYear
                            </govuk-radios-hint>
                            <govuk-radios-item value="@cropAndFieldManagementReport">
                                @Resource.lblCropAndFieldManagementForReport
                                <govuk-radios-item-hint>
                                    @Resource.lblCropFieldAndNutrientApplicationsForOneOrMoreFields
                                </govuk-radios-item-hint>
                            </govuk-radios-item>
                            <govuk-radios-item value="@nMaxReport">
                                @Resource.lblNMaxReport
                            </govuk-radios-item>
                        </govuk-radios-fieldset>
                    </govuk-radios>                
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                    <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">
                        @Resource.lblCancel
                    </a>
                </p>

            </div>

        </div>
    </form>
}