@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.ReportViewModel
@{
    ViewData["Title"] = Resource.lblField;

    var cropAndFieldManagementReport = (int)NMP.Portal.Enums.ReportType.CropAndFieldManagementReport;
    var nMaxReport = (int)NMP.Portal.Enums.ReportType.NMaxReport;
}

@section BeforeContent {
    <govuk-back-link asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">@Resource.lblBack</govuk-back-link>
}
@if (TempData["ErrorOnReportSelection"] != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["ErrorOnReportSelection"]</govuk-error-summary-item>
            </govuk-error-summary>
        </div>
    </div>
}

@if (Model != null)
{
    <form asp-action="ReportType" asp-controller="Report" method="post" autocomplete="off">
        @Html.AntiForgeryToken()

        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmName"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmId"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedHarvestYear"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FarmId"></govuk-input>
        <govuk-input class="govuk-visually-hidden" type="hidden" asp-for="@Model.Year"></govuk-input>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-l">
                        @string.Format(Resource.lblWhatKindOfReportDoYouWantToSaveOrPrintFromYourData,Model.Year)
                    </h1>

                    <p class="govuk-hint">
                        @Resource.lblSelectOneOptionAvailableReportsAreBasedOnDataEntereForTheYear
                    </p>
                    <govuk-radios asp-for="@Model.ReportType">
                        <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend is-page-heading="false">
                            
                        </govuk-radios-fieldset-legend>
                            <govuk-radios-item value="@cropAndFieldManagementReport">
                                @Resource.lblCropAndFieldManagementForReport
                                <govuk-radios-item-hint>
                                    @Resource.lblCropFieldAndNutrientApplicationsForOneOrMoreFields
                                </govuk-radios-item-hint>
                            </govuk-radios-item>
                            <govuk-radios-item value="@nMaxReport">
                                @Resource.lblNMaxReport
                                <govuk-radios-item-hint>
                                    @Resource.lblDemonstrateComplianceWithTheNMaxLimitForEachCrop
                                </govuk-radios-item-hint>
                            </govuk-radios-item>
                        </govuk-radios-fieldset>
                    </govuk-radios>
              
                <govuk-button type="submit" class="margin-bottom-forty">
                    @Resource.lblContinue
                </govuk-button>
                <p class="govuk-body cancel-link">
                    <a asp-action="HarvestYearOverview" asp-controller="Crop" asp-route-id="@Model.EncryptedFarmId" asp-route-year="@Model.EncryptedHarvestYear">
                        @Resource.lblCancel
                    </a>
                </p>

            </div>

        </div>
    </form>
}