@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.ReportViewModel
@{
    ViewData["Title"] = Resource.lblImportsExports;
    var currentYear = DateTime.Now.Year;
    var previousYear = DateTime.Now.Year - 1;
}

@section BeforeContent {
    <govuk-breadcrumbs class="govuk-breadcrumbs-link">
        <govuk-breadcrumbs-item asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
            @Model.FarmName
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item class="govuk-breadcrumbs__list-item">
            @Resource.lblManureImportsAndExports
        </govuk-breadcrumbs-item>

    </govuk-breadcrumbs>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @if (TempData["OrganicMaterialImportsAndExportsError"] != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["OrganicMaterialImportsAndExportsError"]</govuk-error-summary-item>
            </govuk-error-summary>
        }
        <span class="name govuk-caption-l">@Model.FarmName</span>
        <h1 class="govuk-heading-l" id="header">@Resource.lblOrganicMaterialImportsAndExports</h1>
        <p><a href="#">@Resource.lblAddAnotherYear</a></p>


    </div>
</div>
<div class="govuk-grid-row">
    <div id="all-plans-table" class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">@Resource.lblCalendarYear</th>
                    <th scope="col" class="govuk-table__header">@Resource.lblLastModified</th>
                    <th scope="col" class="govuk-table__header"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var harvestYearData in Model.HarvestYear)
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            @harvestYearData.Year
                        </th>
                        <td class="govuk-table__cell">@harvestYearData.LastModifiedOn</td>
                        <td class="govuk-table__cell"><a href="#">@string.Format(Resource.lblUpdateYearImportsOrExports, currentYear)</a></td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>