@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
@{
    ViewData["Title"] = $"{Resource.lblOrganicMaterialImportsAndExports} {Resource.lblHyphen} {Resource.lblImportsExportsOfLivestockManure}";
    var currentYear = DateTime.Now.Year;
    var previousYear = DateTime.Now.Year - 1;
}

@section BeforeContent {
    <govuk-breadcrumbs class="govuk-breadcrumbs-link">
        <govuk-breadcrumbs-item asp-action="FarmSummary" asp-controller="Farm" asp-route-Id="@Model.EncryptedFarmId">
            @Model.FarmName
        </govuk-breadcrumbs-item>
        <govuk-breadcrumbs-item class="govuk-breadcrumbs__list-item">
            @Resource.lblManureImportsAndExports
        </govuk-breadcrumbs-item>

    </govuk-breadcrumbs>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        @if (TempData["succesMsgContent"] != null)
        {
            <govuk-notification-banner type="NotificationBannerType.Success">
                <p class="govuk-notification-banner__heading">
                    @TempData["succesMsgContent"]
                </p>
            </govuk-notification-banner>
        }
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @if (TempData["OrganicMaterialImportsAndExportsError"] != null)
        {
            <govuk-error-summary>
                <govuk-error-summary-item href="#">@TempData["OrganicMaterialImportsAndExportsError"]</govuk-error-summary-item>
            </govuk-error-summary>
        }
        <span class="name govuk-caption-l">@Model.FarmName</span>
        <h1 class="govuk-heading-l" id="header">@Resource.lblOrganicMaterialImportsAndExports</h1>
        <p class="govuk-body"><a href="#">@Resource.lblAddAnotherYear</a></p>
    </div>
</div>
<div class="govuk-grid-row">
    <div id="all-plans-table" class="govuk-grid-column-two-thirds-from-desktop">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">@Resource.lblCalendarYear</th>
                    <th scope="col" class="govuk-table__header">@Resource.lblLastModified</th>
                    <th scope="col" class="govuk-table__header"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @if (Model.HarvestYear != null && Model.HarvestYear.Count > 0)
                {
                    @foreach (var harvestYearData in Model.HarvestYear)
                    {
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                @harvestYearData.Year
                            </th>
                            <td class="govuk-table__cell">@(harvestYearData.LastModifiedOn == null ? Resource.lblHyphen : harvestYearData.LastModifiedOn?.ToString("dd MMM yyyy"))</td>
                            <td class="govuk-table__cell">
                                @if (harvestYearData.LastModifiedOn != null)
                                {

                                    <a asp-action="ManageImportExport" asp-controller="Report" asp-route-q="@Model.EncryptedFarmId" asp-route-y="@harvestYearData.EncryptedYear">
                                        @string.Format(Resource.lblUpdateYearImportsOrExports, harvestYearData.Year)
                                    </a>
                                }
                                else
                                {
                                    <a asp-action="ImportExportOption" asp-controller="Report" asp-route-r=@harvestYearData.EncryptedYear>
                                        @string.Format(Resource.lblAddYearImportsOrExports, harvestYearData.Year)
                                    </a>
                                }

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>


    </div>
</div>