@using NMP.Commons.Resources
@using NMP.Commons.Enums
@model NMP.Commons.ViewModels.PreviousCroppingViewModel
@{
    //ViewData["Title"] = Resource.lblCropType;
    ViewData["Title"] = $"{string.Format(Resource.lblWhatWasThePreviousCropType, Model.HarvestYear)} {Resource.lblHyphen} {Resource.lblAddPreviousCrop}";
    ViewBag.CurrentStep = (int)PreviousCroppingWizardSteps.CropType;
}

@section BeforeContent {
    <govuk-back-link asp-action="@((Model.IsCheckAnswer) ? "CheckAnswer" :"CropGroups")" asp-controller="PreviousCropping">@Resource.lblBack</govuk-back-link>
}
<form asp-action="CropTypes" asp-controller="PreviousCropping" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/PreviousCropping/_PreviousCroppingHiddenField.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (TempData["Error"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["Error"]</govuk-error-summary-item>
                </govuk-error-summary>
            }

            <govuk-radios asp-for="@Model.CropTypeID">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @* @(Model.WantToApplySns == true ? Resource.lblWhatWasThePreviousCropType : Resource.lblWhatIsTheCurrentCropType) *@
                        @string.Format(Resource.lblWhatWasTheCropType, Model.HarvestYear)
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-hint>@string.Format(Resource.lblTheseOptionsComeFromRB209, Resource.lblCroupTypes)</govuk-radios-hint>
                    @if (ViewBag.CropTypeList != null)
                    {
                        @foreach (var item in ViewBag.CropTypeList)
                        {
                            <govuk-radios-item value="@item.CropTypeId">@item.CropType</govuk-radios-item>
                        }
                    }

                </govuk-radios-fieldset>
            </govuk-radios>
             <govuk-button type="submit" class="margin-bottom-forty">
            @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="Recommendations" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmID" asp-route-r="@Model.EncryptedFieldID" asp-route-s="@Model.EncryptedYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="PreviousCropping">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>