@using NMP.Portal.Resources
@model NMP.Portal.ViewModels.PreviousCroppingViewModel
@{
    //ViewData["Title"] = Resource.lblHasGrassInLastThreeYear;
    ViewData["Title"] = $"{string.Format(Resource.lblInWhichYearsWasUsedForGrass, Model.FieldName)} {Resource.lblHyphen} {Resource.lblAddPreviousCrop}";
    var yes = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Portal.Enums.TrueFalse.False);
    var backAction = "";
    if (Model.IsCheckAnswer)
    {
        backAction = "CheckAnswer";
    }
    else
    {
        backAction = "IsPreviousYearGrass";
    }
}

@section BeforeContent {
    <govuk-back-link asp-action=@backAction asp-controller="PreviousCropping">@Resource.lblBack</govuk-back-link>
}
<form asp-action="GrassLastThreeHarvestYear" asp-controller="PreviousCropping" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <div hidden="true">
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroupID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeName" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedYear"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HasGrassInLastThreeYear"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassManagementOptionID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HasGreaterThan30PercentClover"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilNitrogenSupplyItemID"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LayDuration"/>
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsPreviousYearGrass" value="@Model.IsPreviousYearGrass.ToString().ToLower()"/>
        
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          
                <govuk-checkboxes name="PreviousGrassYears" asp-for="@Model.PreviousGrassYears">
                    <govuk-checkboxes-fieldset>
                        <govuk-checkboxes-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                            @string.Format(Resource.lblInWhichYearsWasUsedForGrass, Model.FieldName)
                        </govuk-checkboxes-fieldset-legend>

                        <govuk-checkboxes-hint>
                            @Resource.lblSelectAllThatApply
                        </govuk-checkboxes-hint>
                    @if (ViewBag.PreviousGrassesYear != null)
                        {
                        @foreach (var item in ViewBag.PreviousGrassesYear)
                            {
                            <govuk-checkboxes-item value="@item">@item</govuk-checkboxes-item>
                            }
                        }

                        <govuk-checkboxes-divider>or</govuk-checkboxes-divider>
                    <govuk-checkboxes-item value="0" id="select-all" name="select-all">@Resource.lblSelectAll</govuk-checkboxes-item>
                    </govuk-checkboxes-fieldset>
                </govuk-checkboxes>
            
           <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>

            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="Recommendations" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmID" asp-route-r="@Model.EncryptedFieldID" asp-route-s="@Model.EncryptedYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="PreviousCropping">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>