@using NMP.Commons.Resources
@using NMP.Commons.Enums
@model NMP.Commons.ViewModels.PreviousCroppingViewModel
@{
    //ViewData["Title"] = Resource.lblNVZField;

    ViewData["Title"] = $"{string.Format(Resource.lblWasFutureFieldUsedForGrassInYear, Model.FieldName, Model.HarvestYear, Model.HarvestYear - 1, Model.HarvestYear - 2)} {Resource.lblHyphen} {Resource.lblPreviousCrop}";
    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
    
    ViewBag.CurrentStep = (int)PreviousCroppingWizardSteps.HasGrassInLastThreeYear;
}

@section BeforeContent {
    <govuk-back-link asp-action="Recommendations" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmID" asp-route-r="@Model.EncryptedFieldID" asp-route-s="@Model.EncryptedYear">@Resource.lblBack</govuk-back-link>
}
<form asp-action="HasGrassInLastThreeYear" asp-controller="PreviousCropping" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @if (TempData["HasGrassInLastThreeYearError"] != null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["HasGrassInLastThreeYearError"]</govuk-error-summary-item>
                </govuk-error-summary>
            </div>
        </div>
    }
    @await Html.PartialAsync("~/Views/PreviousCropping/_PreviousCroppingHiddenField.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-radios class="govuk-radios--inline" asp-for="@Model.HasGrassInLastThreeYear">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">                        
                            @string.Format(Resource.lblWasFutureFieldUsedForGrassInYear, Model.FieldName,Model.HarvestYear, Model.HarvestYear - 1, Model.HarvestYear - 2)
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value=@yes>@Resource.lblYes</govuk-radios-item>
                    <govuk-radios-item value=@no>@Resource.lblNo</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="Recommendations" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmID" asp-route-r="@Model.EncryptedFieldID" asp-route-s="@Model.EncryptedYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="PreviousCropping">@Resource.lblCancel</a>
                }

            </p>

        </div>

    </div>
</form>