@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.PreviousCroppingViewModel
@{
    //ViewData["Title"] = string.Format(Resource.lblDoesFieldTypicallyHaveMoreThan30PercentClover, Model.Name);
    ViewData["Title"] = $"{string.Format(Resource.lblDoesFieldTypicallyHaveMoreThan30PercentClover, Model.FieldName)} {Resource.lblHyphen} {Resource.lblAddPreviousCrop}";
    var yes = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.True);
    var no = Convert.ToBoolean((int)NMP.Commons.Enums.TrueFalse.False);
    var backAction = "";
    if (Model.IsCheckAnswer)
    {
        backAction = "CheckAnswer";
    }
    else
    {
        backAction = "GrassManagementOptions";
    }
    
}

@section BeforeContent {
    <govuk-back-link asp-action=@backAction asp-controller="PreviousCropping">@Resource.lblBack</govuk-back-link>
}
<form asp-action="HasGreaterThan30PercentClover" asp-controller="PreviousCropping" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <div hidden="true">
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropGroupID" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeID" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.CropTypeName" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFarmID" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedFieldID" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.EncryptedYear" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.ID" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HasGrassInLastThreeYear" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.HarvestYear" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.GrassManagementOptionID" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.SoilNitrogenSupplyItemID" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.LayDuration" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsPreviousYearGrass" value="@Model.IsPreviousYearGrass.ToString().ToLower()" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldID" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsHasGrassInLastThreeYearChange" value="@Model.IsHasGrassInLastThreeYearChange.ToString().ToLower()" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.IsCheckAnswer" />
        <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.FieldName" />
        @if (Model != null)
        {
            @if (Model.PreviousGrassYears != null && Model.PreviousGrassYears.Count > 0)
            {
                @for (int i = 0; i < Model.PreviousGrassYears.Count; i++)
                {
                    <input class="govuk-visually-hidden" type="hidden" asp-for="@Model.PreviousGrassYears[i]" value="@Model.PreviousGrassYears[i]" />
                }
            }
        }
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (TempData["Error"] != null)
            {
                <govuk-error-summary>
                    <govuk-error-summary-item href="#">@TempData["Error"]</govuk-error-summary-item>
                </govuk-error-summary>
            }
            <govuk-radios class="govuk-radios--inline" asp-for="@Model.HasGreaterThan30PercentClover">

                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblDoesFieldTypicallyHaveMoreThan30PercentClover, Model.FieldName)
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value=@yes>@Resource.lblYes</govuk-radios-item>
                    <govuk-radios-item value=@no>@Resource.lblNo</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="Recommendations" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmID" asp-route-r="@Model.EncryptedFieldID" asp-route-s="@Model.EncryptedYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="PreviousCropping">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>