@using NMP.Commons.Resources
@using NMP.Commons.Enums
@model NMP.Commons.ViewModels.PreviousCroppingViewModel
@{
    //ViewData["Title"] = Resource.lblLayDuration;
    ViewData["Title"] = $"{string.Format(Resource.lblWhatWasTheLengthOfTheLayInYear, Model.PreviousGrassYears?[0])} {Resource.lblHyphen} {Resource.lblAddPreviousCrop}";
    var oneToTwoYears = (int)NMP.Commons.Enums.LayDuration.OneToTwoYears;
    var threeYearsOrMore = (int)NMP.Commons.Enums.LayDuration.ThreeYearsOrMore;
    var backAction = "";
    if (Model.IsCheckAnswer)
    {
        backAction = "CheckAnswer";
    }
    else
    {
        backAction = "GrassLastThreeHarvestYear";
    }
    ViewBag.CurrentStep = (int)PreviousCroppingWizardSteps.LayDuration;
}

@section BeforeContent {
    <govuk-back-link asp-action=@backAction asp-controller="PreviousCropping">@Resource.lblBack</govuk-back-link>
}
<form asp-action="LayDuration" asp-controller="PreviousCropping" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/PreviousCropping/_PreviousCroppingHiddenField.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-radios class="govuk-radios" asp-for="@Model.LayDuration">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblWhatWasTheLengthOfTheLayInYear, Model.PreviousGrassYears?[0])
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@oneToTwoYears">@Resource.lbl1To2Years</govuk-radios-item>
                    <govuk-radios-item value="@threeYearsOrMore">@Resource.lbl3YearsOrMore</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="Recommendations" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmID" asp-route-r="@Model.EncryptedFieldID" asp-route-s="@Model.EncryptedYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="PreviousCropping">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>