@using NMP.Commons.Resources
@using NMP.Commons.Enums
@model NMP.Commons.ViewModels.PreviousCroppingViewModel
@{

    ViewData["Title"] = $"{string.Format(Resource.lblHowMuchNitrogenHasBeenAppliedToFieldEachYear, Model.FieldName)} {Resource.lblHyphen} {Resource.lblAddPreviousCrop}";
    var backAction = "";
    if (Model.IsCheckAnswer && (!Model.IsHasGreaterThan30PercentCloverChange))
    {
        backAction = "CheckAnswer";
    }
    else
    {
        backAction = "HasGreaterThan30PercentClover";
    }
    ViewBag.CurrentStep = (int)PreviousCroppingWizardSteps.SoilNitrogenSupplyItem;
}

@section BeforeContent {
    <govuk-back-link asp-action=@backAction asp-controller="PreviousCropping">@Resource.lblBack</govuk-back-link>
}
<form asp-action="SoilNitrogenSupplyItems" asp-controller="PreviousCropping" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/PreviousCropping/_PreviousCroppingHiddenField.cshtml", Model)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-radios class="govuk-radios" asp-for="@Model.SoilNitrogenSupplyItemID">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @string.Format(Resource.lblHowMuchNitrogenHasBeenAppliedToFieldEachYear, Model.FieldName)
                    </govuk-radios-fieldset-legend>
                    @if (ViewBag.SoilNitrogenSupplyItems != null)
                    {
                        @foreach (var item in ViewBag.SoilNitrogenSupplyItems)
                        {
                            <govuk-radios-item value="@item.Id">@item.Name</govuk-radios-item>
                        }
                    }
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit" class="margin-bottom-forty">
                @Resource.lblContinue
            </govuk-button>
            <p class="govuk-body cancel-link">
                @if (!Model.IsCheckAnswer)
                {
                    <a asp-action="Recommendations" asp-controller="Crop" asp-route-q="@Model.EncryptedFarmID" asp-route-r="@Model.EncryptedFieldID" asp-route-s="@Model.EncryptedYear">@Resource.lblCancel</a>
                }
                else
                {
                    <a asp-action="CheckAnswer" asp-controller="PreviousCropping">@Resource.lblCancel</a>
                }
            </p>

        </div>

    </div>
</form>